<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.org.mapper.OrgnazationDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 获取目录下的一级集团和公司 -->
	<select id="queryOrgRootList" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationNodeDto" parameterType="java.lang.String">
		select id,name,sort,parent_id as 'parentId',type,root_id AS rootId,`status` AS status ,prefix_id AS prefixId ,prefix_name AS prefixName  from pt_sys_org_orgnazation 
		where root_id = #{_parameter,jdbcType=VARCHAR} 
		and (parent_id = '' or parent_id is null) 
		and (type = 'zb' or type = 'company') ORDER BY sort;
	</select>
	<!-- 获取目录下的一级集团和公司，返回类型为Orgnazation -->
	<select id="queryOrgListRootReturnOrg" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation" parameterType="java.lang.String">
		SELECT
			id AS id,
			concurrency_version AS concurrencyVersion,
			NAME AS NAME,
			full_name AS fullName,
			leader_id AS leaderId,
			up_leader_id AS upLeaderId,
			parent_id AS parentId,
			prefix_id AS prefixId,
			prefix_name AS prefixName,
			tend_id AS tendId,
			type AS type,
			root_id AS rootId,
			sort AS sort,
			icon AS icon,
			STATUS AS STATUS,
			remark AS remark,
			create_date AS createDate,
			update_date AS updateDate,
			create_person_id AS createPersonId,
			create_person_name AS createPersonName,
			update_person_id AS updatePersonId,
			update_person_name AS updatePersonName,
			create_org_id AS createOrgId,
			create_org_name AS createOrgName,
			create_company_id AS createCompanyId,
			create_company_name AS createCompanyName,
			delflag AS delflag,
			code AS code
		FROM
			PT_SYS_ORG_ORGNAZATION 
		where root_id = #{_parameter,jdbcType=VARCHAR} 
		and (parent_id = '' or parent_id is null) 
		and (type = 'zb' or type = 'company') 
		ORDER BY sort;
	</select>
	
	<!-- 获取目录下的一级集团和公司,从排序号以后进行查询，返回类型为Orgnazation -->
	<select id="queryOrgListRootReturnOrgAfterSort" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation" parameterType="java.util.HashMap">
		SELECT
			id AS id,
			concurrency_version AS concurrencyVersion,
			NAME AS NAME,
			full_name AS fullName,
			leader_id AS leaderId,
			up_leader_id AS upLeaderId,
			parent_id AS parentId,
			prefix_id AS prefixId,
			prefix_name AS prefixName,
			tend_id AS tendId,
			type AS type,
			root_id AS rootId,
			sort AS sort,
			icon AS icon,
			STATUS AS STATUS,
			remark AS remark,
			create_date AS createDate,
			update_date AS updateDate,
			create_person_id AS createPersonId,
			create_person_name AS createPersonName,
			update_person_id AS updatePersonId,
			update_person_name AS updatePersonName,
			create_org_id AS createOrgId,
			create_org_name AS createOrgName,
			create_company_id AS createCompanyId,
			create_company_name AS createCompanyName,
			delflag AS delflag,
			code AS code
		FROM
			PT_SYS_ORG_ORGNAZATION 
		where root_id = #{rootId,jdbcType=VARCHAR} 
		and (parent_id = '' or parent_id is null) 
		and (type = 'zb' or type = 'company') 
		and sort > #{sort} 
		ORDER BY sort;
	</select>
	
	<!-- 查询组织结构子节点-->
	<select id="queryOrgList" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationNodeDto" parameterType="java.lang.String">
		select id,name,sort,parent_id as 'parentId',type,root_id AS rootId,`status` AS status ,prefix_id AS prefixId ,prefix_name AS prefixName  from pt_sys_org_orgnazation 
		<choose>
                <when test="_parameter != null">
                        where parent_id = #{_parameter,jdbcType=VARCHAR} ORDER BY sort;
                </when>
                <otherwise>
                        where parent_id is null ORDER BY sort;
                 </otherwise>
         </choose>
	</select>
	
	<!-- 查询所有组织机构-->
	<select id="queryAllOrgList" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationNodeDto" parameterType="map">
		select id,name,sort,parent_id as 'parentId',type,root_id AS rootId,`status` AS status ,prefix_id AS prefixId ,prefix_name AS prefixName  
		 from pt_sys_org_orgnazation
		where 1=1
			<if test="orgStatus !=null">
				and `status` =#{orgStatus}
			</if>
			<if test="orgDelFlag !=null">
				and delflag=#{orgDelFlag}
			</if> 
		order by  case when sort is null then 1 else 0 end, sort , LENGTH(prefixId);
	</select>
	
	<!-- 查询所有组织机构-->
	<select id="queryAllOrgListReturnOrg" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation">
		SELECT
			id,
			NAME,
			sort,
			parent_id AS 'parentId',
			type,
			root_id AS rootId,
			`status` AS STATUS,
			prefix_id AS prefixId,
			prefix_name AS prefixName,
			concurrency_version AS concurrencyVersion,
			full_name AS fullName,
			leader_id AS leaderId,
			up_leader_id AS upLeaderId,
			tend_id AS tendId,
			sort AS sort,
			icon AS icon,
			remark AS remark,
			create_date AS createDate,
			update_date AS updateDate,
			create_person_id AS createPersonId,
			create_person_name AS createPersonName,
			update_person_id AS updatePersonId,
			update_person_name AS updatePersonName,
			create_org_id AS createOrgId,
			create_org_name AS createOrgName,
			create_company_id AS createCompanyId,
			create_company_name AS createCompanyName,
			delflag AS delflag,
			CODE AS CODE
		FROM
			PT_SYS_ORG_ORGNAZATION 
		 ORDER BY case when sort is null then 1 else 0 end, sort;
	</select>
	
	<!-- 查询组织结构子节点，返回类型为Orgnazation-->
	<select id="queryOrgListReturnOrg" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation" parameterType="java.lang.String">
		SELECT
			id AS id,
			concurrency_version AS concurrencyVersion,
			NAME AS NAME,
			full_name AS fullName,
			leader_id AS leaderId,
			up_leader_id AS upLeaderId,
			parent_id AS parentId,
			prefix_id AS prefixId,
			prefix_name AS prefixName,
			tend_id AS tendId,
			type AS type,
			root_id AS rootId,
			sort AS sort,
			icon AS icon,
			STATUS AS STATUS,
			remark AS remark,
			create_date AS createDate,
			update_date AS updateDate,
			create_person_id AS createPersonId,
			create_person_name AS createPersonName,
			update_person_id AS updatePersonId,
			update_person_name AS updatePersonName,
			create_org_id AS createOrgId,
			create_org_name AS createOrgName,
			create_company_id AS createCompanyId,
			create_company_name AS createCompanyName,
			delflag AS delflag,
			code AS code
		FROM
			PT_SYS_ORG_ORGNAZATION 
		where parent_id = #{_parameter,jdbcType=VARCHAR} ORDER BY sort;
	</select>
	
	<!-- 查询组织结构子节点,从排序号以后进行查询，返回类型为Orgnazation-->
	<select id="queryOrgListReturnOrgAfterSort" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation" parameterType="java.util.HashMap">
		SELECT
			id AS id,
			concurrency_version AS concurrencyVersion,
			NAME AS NAME,
			full_name AS fullName,
			leader_id AS leaderId,
			up_leader_id AS upLeaderId,
			parent_id AS parentId,
			prefix_id AS prefixId,
			prefix_name AS prefixName,
			tend_id AS tendId,
			type AS type,
			root_id AS rootId,
			sort AS sort,
			icon AS icon,
			STATUS AS STATUS,
			remark AS remark,
			create_date AS createDate,
			update_date AS updateDate,
			create_person_id AS createPersonId,
			create_person_name AS createPersonName,
			update_person_id AS updatePersonId,
			update_person_name AS updatePersonName,
			create_org_id AS createOrgId,
			create_org_name AS createOrgName,
			create_company_id AS createCompanyId,
			create_company_name AS createCompanyName,
			delflag AS delflag,
			code AS code
		FROM
			PT_SYS_ORG_ORGNAZATION 
		where parent_id = #{parentId,jdbcType=VARCHAR} 
		and sort > #{sort} 
		ORDER BY sort;
	</select>
	<select id="queryListCompany" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select id as value ,name as label,status from PT_SYS_ORG_ORGNAZATION where delflag=0 and type= #{type}  order by sort
	</select>
	<select id="queryListCompanyAndZB" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation" >
		SELECT o.id AS id,
		o.concurrency_version AS concurrencyVersion,
		o.`NAME` AS NAME,
		o.full_name AS fullName,
		o.leader_id AS leaderId,
		o.up_leader_id AS upLeaderId,
		o.parent_id AS parentId,
		o.prefix_id AS prefixId,
		o.prefix_name AS prefixName,
		o.tend_id AS tendId,
		o.type AS type,
		o.root_id AS rootId,
		o.sort AS sort,
		o.icon AS icon,
		o.`STATUS` AS STATUS,
		o.remark AS remark,
		o.create_date AS createDate,
		o.update_date AS updateDate,
		o.create_person_id AS createPersonId,
		o.create_person_name AS createPersonName,
		o.update_person_id AS updatePersonId,
		o.update_person_name AS updatePersonName,
		o.create_org_id AS createOrgId,
		o.create_org_name AS createOrgName,
		o.create_company_id AS createCompanyId,
		o.create_company_name AS createCompanyName,
		o.delflag AS delflag,
		o.`code` AS code
		from PT_SYS_ORG_ORGNAZATION o
		where o.delflag=0
		and o.type = 'zb' or o.type = 'company'
		order by o.sort
	</select>
	
	<!-- 根据IDs查询结果集-->
	<select id="queryOrgsByIds" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT
			o.id AS id,
			o.name as name,
			'org' as type,o.prefix_name prefixName
		FROM
			pt_sys_org_orgnazation o
		WHERE 1=1
		    <if test="ids != null ">
				and o.id in 
				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
		            #{item} 
		        </foreach>
			</if>
	</select>
	<update id="updatePrefix" parameterType="java.util.HashMap">
		UPDATE 
			pt_sys_org_orgnazation
		SET 
			prefix_id = replace(prefix_id,#{prefixIdold},#{prefixId}),
		    prefix_name = replace(prefix_name,#{prefixNameold},#{prefixName})
		WHERE
			prefix_id LIKE CONCAT(#{prefixIdold},'%') 
		<!-- AND  prefix_name LIKE CONCAT(#{prefixNameold},'%')  -->
	</update>
	
	<!-- 禁用组织并禁用其下级组织 -->
	<update id="lockOrg" parameterType="map">
		UPDATE pt_sys_org_orgnazation SET `status`=0 WHERE prefix_id like CONCAT(#{orgId},'/%') or prefix_id=#{orgId}
	</update>
	<!-- 禁用组织查询其下级组织 -->
	<select id="querylockOrg" resultType="String" parameterType="map">
		select id from pt_sys_org_orgnazation WHERE prefix_id like CONCAT(#{orgId},'/%') or prefix_id=#{orgId}
	</select>
	<!-- 启用组织并启用其上级组织 -->
	<update id="unLockOrg" parameterType="map">
		UPDATE pt_sys_org_orgnazation SET `status`=1 WHERE id in 
		<foreach collection="orgIds" item="orgId" open="(" close=")" separator=",">
			#{orgId}
		</foreach>
	</update>
	<!-- 根据用户Id查询标准角色and虚拟角色（认证信息）-->
	<select id="queryAuthOrgListByOrgId" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationDto" parameterType="map">
		SELECT
			top.id AS id,
			top.concurrency_version AS concurrencyVersion,
			top.NAME AS NAME,
			top.full_name AS fullName,
			top.leader_id AS leaderId,
			top.up_leader_id AS upLeaderId,
			top.parent_id AS parentId,
			top.tend_id AS tendId,
			top.type AS type,
			top.root_id AS rootId,
			top.sort AS sort,
			top.icon AS icon,
			top.STATUS AS STATUS,
			top.remark AS remark,
			top.create_date AS createDate,
			top.update_date AS updateDate,
			top.create_person_id AS createPersonId,
			top.create_person_name AS createPersonName,
			top.update_person_id AS updatePersonId,
			top.update_person_name AS updatePersonName,
			top.create_org_id AS createOrgId,
			top.create_org_name AS createOrgName,
			top.create_company_id AS createCompanyId,
			top.create_company_name AS createCompanyName,
			top.delflag AS delflag,
			top.code AS code,
			top.prefix_id as prefixId,
			top.prefix_name as prefixName
		from pt_sys_org_orgnazation t,pt_sys_org_orgnazation top 
		where  t.id = #{orgId} 
		<if test="topType !=null ">
			and top.type ${topType}
		</if>
		and t.prefix_id like concat(top.prefix_id,'%') 
		ORDER BY LENGTH(top.prefix_id);
	</select>
	<!-- 查询组织下级结构-->
	<select id="selectSunOrgByOrgId" resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation" parameterType="map">
		SELECT t.id,
			t.`code`,
			t.`name`,
			t.prefix_id prefixId,
			t.prefix_name prefixName,
			t.parent_id parentId,
			t.delflag,
			t.full_name fullName,
			t.leader_id leaderId,
			t.up_leader_id upLeaderId,
			t.tend_id tendId,
			t.type,
			t.root_id rootId,
			t.sort,
			t.icon,
			t.`status`,
			t.remark
		 from  pt_sys_org_orgnazation t,pt_sys_org_orgnazation top 
		where  top.id = #{orgId}
		and t.delflag=0
		and  (t.prefix_id like concat(top.prefix_id,'/%')  or t.id = top.id)
		ORDER BY LENGTH(t.prefix_id)
	</select>
	
	<!-- 查询组织详情 -->
	<select id="getOrgById" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationDto" parameterType="map">
		SELECT o.id AS id,
			o.concurrency_version AS concurrencyVersion,
			o.`NAME` AS NAME,
			o.full_name AS fullName,
			o.leader_id AS leaderId,
			o.up_leader_id AS upLeaderId,
			o.parent_id AS parentId,
			o.tend_id AS tendId,
			o.type AS type,
			o.root_id AS rootId,
			o.sort AS sort,
			o.icon AS icon,
			o.`STATUS` AS STATUS,
			o.remark AS remark,
			o.create_date AS createDate,
			o.update_date AS updateDate,
			o.create_person_id AS createPersonId,
			o.create_person_name AS createPersonName,
			o.update_person_id AS updatePersonId,
			o.update_person_name AS updatePersonName,
			o.create_org_id AS createOrgId,
			o.create_org_name AS createOrgName,
			o.create_company_id AS createCompanyId,
			o.create_company_name AS createCompanyName,
			o.delflag AS delflag,
			o.`code` AS code,
			u.real_name upLeaderIdName,
			r.`name` leaderIdName,
			o1.`name` parentIdName,
			o1.prefix_id parentprefixId,
			o1.prefix_name parentprefixName
		 from PT_SYS_ORG_ORGNAZATION o
			LEFT JOIN pt_sys_org_user u on o.up_leader_id=u.id and u.delflag = 0 and u.`status` = 1
			LEFT JOIN pt_sys_org_post p on o.leader_id =p.id and p.delflag = 0 and p.`status` = 1
			LEFT JOIN pt_sys_org_standard_role r on r.id=p.role_id and r.delflag = 0 and r.status = 1
			LEFT JOIN pt_sys_org_orgnazation o1 on o.parent_id =o1.id
			where o.id=#{id}
	</select>
	<!-- 查询用户组织并集 -->
	<select id="selectUserAllOrgs" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationDto" parameterType="map">
	SELECT
		o.id,
		o.`code`,
		o.`name`,
		o.prefix_id prefixId,
		o.prefix_name prefixName,
		o.parent_id,
		o.type,
		o.sort,2
	FROM
		pt_sys_org_orgnazation o
	LEFT JOIN pt_sys_org_user u ON u.belong_org_id = o.id
	WHERE
		u.id = #{userId}
		AND o.delflag = 0
	UNION
		SELECT
			o.id,
			o.`code`,
			o.`name`,
			o.prefix_id prefixId,
			o.prefix_name prefixName,
			o.parent_id,
			o.type,
			o.sort, if(IFNULL(pu.is_default,'')='',0,pu.is_default)
		FROM
			pt_sys_org_orgnazation o
		LEFT JOIN pt_sys_org_post p ON p.ref_id = o.id
		LEFT JOIN pt_sys_org_post_user pu ON pu.post_id = p.id
		WHERE
			pu.user_id = #{userId}
		AND pu.delflag = 0
		AND p.delflag = 0
		ORDER BY 9 desc
	</select>
	
	<!--  查询部门或项目分期 -->
	<select id="getDeptOrBranch" parameterType="map" resultType="map">
	SELECT
		o.id,
		o.`name`,
		o.parent_id parentId,
		o.parent_id pId,
		o.sort,
		o.prefix_id,
		o.prefix_name,
		o.type
	FROM
		pt_sys_org_orgnazation o
	WHERE
		o.delflag = 0 and  o.status =1 
		<if test='qType !=null and qType == "dept"'>
			AND o.type not in ('branch','group')
		</if>
		<if test='qType !=null and qType == "branch"'>
			AND o.type != 'dept'
		</if>
		and not EXISTS (SELECT 1 from pt_sys_org_orgnazation p WHERE (p.delflag=1 or p.`status`=0) and o.prefix_id LIKE CONCAT(p.prefix_id,'/%'))
	ORDER BY case when o.sort is null then 1 else 0 end, o.sort , LENGTH(o.prefix_id);
	</select>
	<!-- out service -->
	<!--  查询所有组织 -->
	<select id="selectAllOrgListDto" parameterType="map" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationDto">
		SELECT * from view_org_dto t where 1=1 and t.`status`=1
		<if test='isLeaf !=null and !isLeaf' >
			AND IFNULL(t.parentId ,'')=''
		</if>
		<if test='typeS !=null '>
			and t.type in (${typeS})
		</if>
		<if test='type !=null'>
			and t.type = #{type}
		</if>
		order by case when sort is null then 1 else 0 end, sort ,LENGTH(t.prefixId)
	</select>
	<!-- 获取指定公司的下级公司 -->
	<select id="selectChildOrgList" parameterType="map" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationDto">
		SELECT * from view_org_dto o WHERE 1=1
		<if test="parentId != null">
			and o.parentId=#{parentId}
		</if>
		<if test="ids !=null">
			and o.id in
			<foreach collection="ids" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
		<if test='typeS !=null '>
			and o.type in (${typeS})
		</if>
		<if test='type !=null'>
			and o.type = #{type}
		</if>
	</select>
	<!-- 查询所有子节点id -->
	<select id="selectChildIds" parameterType="map" resultType="String">
		SELECT getChildList(#{parentId})
	</select>
	
	<!-- 查询指定公司下的分期 -->
	<select id="selectChildBranchList" parameterType="map" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationDto">
	SELECT t.* from view_org_dto t
		LEFT JOIN view_org_dto t1 on t.parentId=t1.id
		WHERE t1.parentId=#{parentId} and t.type='branch'
	</select>
	<!-- 查询用户岗位对应公司id -->
	<select id="selectUserPostOrgIds" parameterType="map" resultType="String">
	SELECT DISTINCT p.ref_id from pt_sys_org_post p 
		LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
		WHERE p.delflag=0 and pu.user_id=#{userId}
	</select>
	
	<!-- 获取用户直属组织(集团/公司/部门/项目/分期) -->
	<select id="selectUserOrgnazationList" parameterType="map" resultType="map">
	SELECT o.*,u.id uId from view_org_dto o
		LEFT JOIN pt_sys_org_user u on u.belong_org_id=o.id
		where u.id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</select>
	<!-- 根据组织id查询组织dto -->
	<select id="selectOrgDtoByOrgIds" parameterType="map" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationDto">
		SELECT * from view_org_dto o WHERE 1=1
		<if test="ids !=null">
			and o.id in
			<foreach collection="ids" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
		<if test="orgType !=null">
			and o.type ${orgType}
		</if>
		<if test="keyWord !=null and keyWord != '' ">
			and o.`name` LIKE CONCAT('%',#{keyWord},'%')
		</if>
	</select>
	<!-- 查询上级组织 -->
	<select id="selectParentOrgByOrgId" parameterType="map" resultType="map">
		SELECT o.*,t.id `key` from view_org_dto o 
		LEFT JOIN pt_sys_org_orgnazation t on o.id=t.parent_id
		WHERE t.id in
			<foreach collection="ids" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
	</select>
	<select id="queryListCompanyAndZb"  resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation">
		SELECT o.id AS id,
			o.concurrency_version AS concurrencyVersion,
			o.`NAME` AS NAME,
			o.full_name AS fullName,
			o.leader_id AS leaderId,
			o.up_leader_id AS upLeaderId,
			o.parent_id AS parentId,
			o.prefix_id AS prefixId,
			o.prefix_name AS prefixName,
			o.tend_id AS tendId,
			o.type AS type,
			o.root_id AS rootId,
			o.sort AS sort,
			o.icon AS icon,
			o.`STATUS` AS STATUS,
			o.remark AS remark,
			o.create_date AS createDate,
			o.update_date AS updateDate,
			o.create_person_id AS createPersonId,
			o.create_person_name AS createPersonName,
			o.update_person_id AS updatePersonId,
			o.update_person_name AS updatePersonName,
			o.create_org_id AS createOrgId,
			o.create_org_name AS createOrgName,
			o.create_company_id AS createCompanyId,
			o.create_company_name AS createCompanyName,
			o.delflag AS delflag,
			o.`code` AS code
		 from PT_SYS_ORG_ORGNAZATION o 
		 where o.delflag=0 
		 and o.type = 'zb' or o.type = 'company'  
		 order by o.sort
	</select>
	
	<!-- 获取所有下级id -->
	<select id="getAuthOrgIds" parameterType="map" resultType="String">
	SELECT o.id from pt_sys_org_orgnazation o
		LEFT JOIN pt_sys_org_orgnazation t on o.prefix_id LIKE CONCAT('',t.prefix_id,'/%') or t.id=o.id
		 where o.delflag=0 and o.`status`=1 and t.id in
		 <foreach collection="orgArr" item="id" open="(" close=")" separator=",">
			 #{id}
		 </foreach>
		 and o.type ${orgType}
	</select>
	
	<!-- 获取公司下级组织 -->
	<select id="getSubOrgByComId" parameterType="map" resultType="map">
	SELECT s.id,s.`code`,s.`name`,s.parent_id parentId from pt_sys_org_orgnazation s
	<if test="companyId != null and companyId != ''">
		LEFT JOIN pt_sys_org_orgnazation f on s.prefix_id like CONCAT(f.prefix_id,'/%') or f.id=s.id
	</if>
	WHERE s.delflag =0 and s.`status`=1
		<if test="companyId !=null and companyId != ''">
			and f.id=#{companyId}
		</if>
		<if test="companyId ==null or companyId==''">
			and IFNULL(s.parent_id,'')=''
		</if>
		<if test="type !=null">
			 and s.type = #{type}
		</if>
		<if test="typeS !=null">
			 and s.type in ('${typeS}')
		</if>
	</select>
	<!-- 获取公司下分期 -->
	<select id="getSubBranchByComId" parameterType="map" resultType="map">
	SELECT s.id,s.`code`,CONCAT(p.`name`,'/',s.`name`) `name`,s.parent_id parentId from pt_sys_org_orgnazation s
	LEFT JOIN pt_sys_org_orgnazation p on s.parent_id=p.id
	<if test="companyId != null and companyId != ''">
		LEFT JOIN pt_sys_org_orgnazation f on s.prefix_id like CONCAT(f.prefix_id,'/%') or f.id=s.id
	</if>
	WHERE s.delflag =0 and s.`status`=1
		<if test="companyId !=null and companyId != ''">
			and f.id=#{companyId}
		</if>
		<if test="type !=null">
			 and s.type = #{type}
		</if>
		<if test="typeS !=null">
			 and s.type in ('${typeS}')
		</if>
	</select>
	<!-- 获取公司下级用户 -->
	<select id="getSubUserByComId" parameterType="map" resultType="map">
	SELECT u.id,u.real_name name,u.login_name code from pt_sys_org_user u
	LEFT JOIN pt_sys_org_orgnazation s on u.belong_org_id=s.id
	LEFT JOIN pt_sys_org_orgnazation f on s.prefix_id like CONCAT(f.prefix_id,'/%') or f.id=s.id
	WHERE f.id=#{companyId}
	</select>
	
	<!-- 查询组织顶级部门和顶级公司 -->
	<select id="selectTopDeptAnaTopCom" parameterType="map" resultType="map">
		SELECT t.* FROM
			(SELECT f.id,f.`name`,f.type,f.prefix_id,f.prefix_name,o.id Sid  FROM pt_sys_org_orgnazation o 
			LEFT JOIN pt_sys_org_orgnazation f on o.prefix_id like CONCAT(f.prefix_id,"%")
			WHERE o.type ='dept' and o.id in 
			<foreach collection="orgIds" item="orgId" open="(" close=")" separator=",">
				#{orgId}
			</foreach>
			ORDER BY LENGTH(f.prefix_id)
			<if test="orderBy!=nulll">${orderBy}</if>
			) t 
		GROUP BY t.type,t.Sid
		ORDER BY t.sid,t.type
	</select>
	<!-- 查询组织部门和公司 -->
	<select id="selectDirectDeptAnaTopCom" parameterType="map" resultType="map">
		SELECT f.id,f.`name`,f.type,f.prefix_id,f.prefix_name,o.id Sid  FROM pt_sys_org_orgnazation o 
			LEFT JOIN pt_sys_org_orgnazation f on o.prefix_id like CONCAT(f.prefix_id,"%")
			WHERE o.type ='dept' and o.id in 
			<foreach collection="orgIds" item="orgId" open="(" close=")" separator=",">
				#{orgId}
			</foreach>
			ORDER BY o.id,LENGTH(f.prefix_id) DESC
	</select>
	<!-- 根据ID获取组织机构（可以多个） -->
	<select id="getOrgsByIds" parameterType="map"  resultType="com.jzy.hio.sys.sys.org.entity.Orgnazation">
		SELECT o.id AS id,
			o.concurrency_version AS concurrencyVersion,
			o.`NAME` AS NAME,
			o.full_name AS fullName,
			o.leader_id AS leaderId,
			o.up_leader_id AS upLeaderId,
			o.parent_id AS parentId,
			o.prefix_id AS prefixId,
			o.prefix_name AS prefixName,
			o.tend_id AS tendId,
			o.type AS type,
			o.root_id AS rootId,
			o.sort AS sort,
			o.icon AS icon,
			o.`STATUS` AS STATUS,
			o.remark AS remark,
			o.create_date AS createDate,
			o.update_date AS updateDate,
			o.create_person_id AS createPersonId,
			o.create_person_name AS createPersonName,
			o.update_person_id AS updatePersonId,
			o.update_person_name AS updatePersonName,
			o.create_org_id AS createOrgId,
			o.create_org_name AS createOrgName,
			o.create_company_id AS createCompanyId,
			o.create_company_name AS createCompanyName,
			o.delflag AS delflag,
			o.`code` AS code
		 from PT_SYS_ORG_ORGNAZATION o 
		 where o.id in 
		 <foreach collection="orgIds" item="orgId" open="(" close=")" separator=",">
				#{orgId}
			</foreach>
	</select>
	<!-- 根据用户id查询组织dto -->
	<select id="getUserOrgnazationByUserId" parameterType="java.lang.String" resultType="com.jzy.hio.sys.sys.org.dto.OrgnazationDto">
		SELECT o.* from view_org_dto o
		LEFT JOIN pt_sys_org_user u on u.belong_org_id=o.id
		where u.id = #{_parameter,jdbcType=VARCHAR}
	</select>
	
</mapper>