<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.org.mapper.PostUserDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.sys.org.entity.PostUser">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.sys.org.entity.PostUser">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.sys.org.entity.PostUser">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 批量保存post_user和role_user -->
	<insert id="savePostUserAndRoleUser" parameterType="java.util.HashMap">
		<foreach collection="list" item="map" separator=";">
			<if test="map.roleTypeId == '标准角色'">
				INSERT into pt_sys_org_post_user(id,user_id,post_id,is_default,delflag)
					values(#{map.id},#{map.userId},#{map.tragtId},#{map.isDefault},0)
			</if>
			<if test="map.roleTypeId == '虚拟角色'">
				INSERT into pt_sys_org_role_user(id,user_id,role_id,delflag)
					values(#{map.id},#{map.userId},#{map.tragtId},0)
			</if>
		</foreach>
	</insert>
	
	
	<!-- 删除 post_user和role_user-->
	<delete id="delPostUserAndRoleUser" parameterType="java.util.HashMap">
		DELETE from pt_sys_org_post_user where user_id=#{userId};
	</delete>
	
	<!-- 设置主岗并把其他岗位设置为不是主岗 -->
	<update id="setDefaultPost" parameterType="java.util.HashMap">
		UPDATE pt_sys_org_post_user SET is_default=1 where id=#{id};
		UPDATE pt_sys_org_post_user SET is_default=0 where id!=#{id} and user_id=#{userId} and is_default=1;
	</update>
	
	<select id="selectDefault" parameterType="map" resultType="int">
		SELECT COUNT(*) from pt_sys_org_post_user pu WHERE pu.user_id=#{userId} and pu.is_default =1
	</select>
	 
	<select id="getFlowPostUserOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_post p left join pt_sys_org_orgnazation o
		on o.id=p.ref_id
		left join pt_sys_org_post_user pu on pu.post_id=p.id
		left join
		pt_sys_org_user u on (pu.user_id=u.id and pu.delflag = 0  and u.status=1  and u.delflag = 0) left join
		pt_sys_org_standard_role role on
		p.role_id=role.id where
		p.id=#{post_id,jdbcType=VARCHAR}
		) result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>
	
	<select id="getFlowStartUserOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName
		FROM
			(
				SELECT DISTINCT
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName
				FROM
					pt_sys_org_orgnazation o,
					pt_sys_org_post_user pu,
					pt_sys_org_post p,
					pt_sys_org_user u,
					pt_sys_org_standard_role role,
					pt_sys_org_post pp,
					pt_sys_org_post_user user_p
				WHERE
					o.id = p.ref_id
				AND pu.post_id = p.id
				AND pu.user_id = u.id
				AND pu.delflag = 0
				AND u. STATUS = 1
				AND u.delflag = 0
				AND p.role_id = role.id
				AND p.delflag = 0
				AND pp.id = #{startPost}
				and pp.leader_id = p.id
			) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName
		ORDER BY
			result.orgPrefix;
	</select>
	<select id="getleaderPost" resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
	SELECT DISTINCT
			o.id AS orgId,
			o.type AS orgType,
			o.prefix_id orgPrefix,
			p.id AS postId,
			role. NAME AS postName,
			concat(
				o.prefix_name,
				'/',
				role. NAME
			) AS postPrefixName

		FROM
			pt_sys_org_orgnazation o,
			pt_sys_org_post p,
			pt_sys_org_standard_role role,
			pt_sys_org_post pp
		WHERE
			o.id = p.ref_id
		AND p.role_id = role.id
		AND pp.id = #{startPost}
		and pp.leader_id = p.id
	</select>
	
	<select id="getLeaderPostOnOrgWhenLeaderOnPostIsNull"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName
		FROM
			(
				SELECT DISTINCT
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,
					o.leader_id AS postId,
					role2. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role2. NAME
					) AS postPrefixName,
					u2.id AS userId,
					u2.real_name AS userName,
					u2.login_name AS loginName
				FROM
					pt_sys_org_orgnazation o,
					pt_sys_org_post p,
					pt_sys_org_standard_role role,
					pt_sys_org_post pp,
					pt_sys_org_post ppp,
					pt_sys_org_standard_role role2,
					pt_sys_org_post_user pu2,
					pt_sys_org_user u2
				WHERE
					o.id = pp.ref_id
				AND u2. STATUS = 1
				AND u2.delflag = 0
				AND p.role_id = role.id
				AND p.delflag = 0
				AND pp.id =#{startPost}
				AND o.leader_id = ppp.id
				AND ppp.role_id = role2.id
				AND p.role_id = pp.role_id
				AND o.leader_id = pu2.post_id
				AND pu2.user_id = u2.id
			) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName
		ORDER BY
			result.orgPrefix;	
	</select>

	<select id="getFlowStartUserDeptOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName
		FROM
			(
				SELECT DISTINCT
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName 
				FROM
					pt_sys_org_post p 
				LEFT JOIN pt_sys_org_orgnazation o ON o.id = p.ref_id
				LEFT JOIN pt_sys_org_post_user pu ON pu.post_id = p.id AND pu.delflag = 0
				LEFT JOIN pt_sys_org_user u ON pu.user_id = u.id 	AND u. STATUS = 1 AND u.delflag = 0
				LEFT JOIN pt_sys_org_standard_role role ON p.role_id = role.id
				WHERE p.delflag = 0 AND
					p.id = (
							SELECT topo.leader_id from pt_sys_org_orgnazation topo
							LEFT JOIN pt_sys_org_orgnazation o on o.prefix_id like CONCAT(topo.prefix_id, '%')
							WHERE o.id= #{dept_id} and topo.type='dept'
							ORDER BY LENGTH(topo.prefix_id)
							limit 1
							)
			) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName 
	</select>

	<select id="getFlowStartUserDeptOrgnazationLeaderId" resultType="java.lang.String"
		parameterType="java.util.HashMap">
		select top.leader_id from pt_sys_org_orgnazation
		top,pt_sys_org_orgnazation dept, pt_sys_org_post pp ,
		pt_sys_org_post_user user_p where pp.id=user_p.post_id and
		user_p.user_id=#{start_id,jdbcType=VARCHAR} and user_p.is_default=1
		and pp.ref_id=dept.id and dept.type='dept' and top.type='dept' and
		dept.prefix_id like concat(top.prefix_id,'%') limit 1
	</select>

	<select id="getFlowUserDefualtOrgnazationUserVos" resultType="java.lang.String"
		parameterType="java.util.HashMap">
		select top.leader_id from pt_sys_org_orgnazation
		top,pt_sys_org_orgnazation dept, pt_sys_org_post pp ,
		pt_sys_org_post_user user_p where pp.id=user_p.post_id and
		user_p.user_id=#{start_id,jdbcType=VARCHAR} and user_p.is_default=1
		and pp.ref_id=dept.id and dept.type='dept' and top.type='dept' and
		dept.prefix_id like concat(top.prefix_id,'%') limit 1
	</select>

	<select id="getFlowCommonRolePostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.CommonRolePostUserVo"
		parameterType="java.util.HashMap">

		select DISTINCT u.id, u.post_id as postId,u.user_id as userId from
		pt_sys_org_role_user u left join pt_sys_org_standard_role r on
		(r.id=u.role_id and r.type=0) left join
		pt_sys_org_role_user_post_scope ps on ps.role_user_id=u.id
		left join
		pt_sys_org_orgnazation o on ps.ref_id=o.id where ps.type=1 and u.delflag =0 and
		exists
		(select 1 from pt_sys_org_orgnazation op where
		locate(o.prefix_id,op.prefix_id)>0
		<if test="commonRoleScopeIds != null ">
			and
			op.id in
			<foreach item="item" index="index" collection="commonRoleScopeIds"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		)
		and r.id=#{commonRoleId,jdbcType=VARCHAR}
		union
		select DISTINCT u.id,
		u.post_id as postId,u.user_id as userId from
		pt_sys_org_role_user u
		left join pt_sys_org_standard_role r on
		(r.id=u.role_id and r.type=0)
		left join
		pt_sys_org_role_user_post_scope ps on ps.role_user_id=u.id
		left join pt_sys_org_user o on ps.ref_id=o.id where (ps.type=2 or
		ps.type
		is null) and u.delflag =0 and o.status=1 and  o.delflag = 0
		and (ps.ref_id is null  or ps.ref_id=#{start_user_id,jdbcType=VARCHAR})  and
		r.id=#{commonRoleId,jdbcType=VARCHAR}
		
		UNION
		SELECT
			t.id,
			t.post_id postId,
			t.user_id userId
		FROM
			pt_sys_org_role_user t
		LEFT JOIN pt_sys_org_post p ON t.post_id = p.id
		LEFT JOIN pt_sys_org_standard_role r ON p.role_id = r.id
		LEFT JOIN pt_sys_org_role_user_post_scope ps ON ps.role_user_id = t.id
		WHERE
			t.target_type = '1'
		AND p.delflag = 0
		AND p.`status` = 1
		AND r.delflag = 0
		AND r.`status` = 1
		AND t.delflag = 0
		AND ps.ref_id IS NULL
		AND t.role_id = #{commonRoleId,jdbcType=VARCHAR}
		UNION
			SELECT
				t.id,				
				t.post_id postId,''
			FROM
				pt_sys_org_role_user t
			LEFT JOIN pt_sys_org_post p ON t.post_id = p.id
			LEFT JOIN pt_sys_org_standard_role r ON p.role_id = r.id
			LEFT JOIN pt_sys_org_role_user_post_scope ps ON ps.role_user_id = t.id
			WHERE
				t.target_type = '2'
			AND p.delflag = 0
			AND p.`status` = 1
			AND r.delflag = 0
			AND r.`status` = 1
			AND t.delflag = 0
			AND ps.ref_id IS NULL
			AND t.role_id = #{commonRoleId,jdbcType=VARCHAR}
		UNION 
		SELECT
			t.id,
			'' postId,
			t.user_id userId
		FROM
			pt_sys_org_role_user t
		LEFT JOIN pt_sys_org_role_user_post_scope ps ON ps.role_user_id = t.id
		WHERE
			t.target_type = '1'  and (t.post_id is null or t.post_id = '')
		AND t.delflag = 0
		AND ps.ref_id IS NULL
		AND t.role_id = #{commonRoleId,jdbcType=VARCHAR}
	</select>

	<select id="getFlowCommonRolePostUser_PostVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_post p left join pt_sys_org_orgnazation o
		on o.id=p.ref_id
		left join pt_sys_org_post_user pu on pu.post_id=p.id
		left join
		pt_sys_org_user u on (pu.user_id=u.id and pu.delflag=0 and u.status=1  and u.delflag = 0) left join
		pt_sys_org_standard_role role on
		p.role_id=role.id where
		<if test="postIds != null ">
			p.id
			in
			<foreach item="item" index="index" collection="postIds" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		)
		result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>
	
	<select id="getProjectIdByProjectBranchId"
		resultType="java.lang.String"
		parameterType="java.lang.String">
	select o.parent_id from pt_sys_org_orgnazation o where o.id=#{id,jdbcType=VARCHAR} and o.type='group'
	</select>
	
	
	

	<select id="getFlowCommonRolePostUser_UserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select DISTINCT o.id as orgId,o.type as orgType, p.id as
		postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName,pu.is_default as isDefault
		from pt_sys_org_orgnazation o
		,pt_sys_org_post_user pu ,pt_sys_org_post p
		, pt_sys_org_user u
		,pt_sys_org_standard_role role where o.id=p.ref_id
		and u.status=1  and u.delflag = 0
		and pu.post_id=p.id and pu.delflag = 0
		and pu.user_id=u.id and p.delflag = 0
		and p.role_id=role.id
		<if test="userIds != null ">
			and u.id in
			<foreach item="item" index="index" collection="userIds" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userRelationPostIds != null ">
			and pu.post_id in
			<foreach item="item" index="index" collection="userRelationPostIds" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>

	</select>

	<!-- 经办部门及其下级的用户岗的领导岗和经办部门及其下级的领导岗 -->
	<select id="getDeptDownUserPostLeaderAndDeptDownLeader"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		SELECT
			length(result.myOrgPrefixId)-length(replace(result.myOrgPrefixId,'/','')) myOrglength,
			result.myOrgPrefixId,
			result.isDefault,
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName
		FROM
			(
				SELECT  DISTINCT  
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,o.prefix_name,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName,xo.prefix_id myOrgPrefixId,
 					if(ifnull(opu.is_default ,'')='',0,opu.is_default) isDefault
				 from pt_sys_org_orgnazation xo
						LEFT JOIN pt_sys_org_orgnazation so on xo.prefix_id like CONCAT(so.prefix_id,'%')
						LEFT JOIN pt_sys_org_post op on op.ref_id=xo.id
						LEFT JOIN pt_sys_org_post_user opu on opu.post_id=op.id
						LEFT JOIN pt_sys_org_post p on p.id=op.leader_id
						LEFT JOIN pt_sys_org_orgnazation o on o.id=p.ref_id
						LEFT JOIN pt_sys_org_standard_role role on p.role_id=role.id
						LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
						LEFT JOIN pt_sys_org_user u on pu.user_id=u.id and u.delflag=0 and u.`status`=1
				WHERE so.id=#{dept_id}
				and opu.user_id=#{start_id}
				and p.id is not null
				ORDER BY xo.prefix_id,opu.is_default desc
			) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,result.myOrgPrefixId,result.isDefault
		UNION ALL
		SELECT
			length(result.myOrgPrefixId)-length(replace(result.myOrgPrefixId,'/','')) myOrglength,
			result.myOrgPrefixId,
			result.isDefault,
				result.orgId,
				result.orgType,
				result.postId,
				result.postName,
				result.postPrefixName,
				GROUP_CONCAT(result.userId) AS userId,
				GROUP_CONCAT(result.userName) AS userName,
				GROUP_CONCAT(result.loginName) AS loginName
			FROM
				(
					SELECT  DISTINCT  
						o.id AS orgId,
						o.type AS orgType,
						o.prefix_id orgPrefix,
						p.id AS postId, 
						role. NAME AS postName,
						concat(
							o.prefix_name,
							'/',
							role. NAME
						) AS postPrefixName,
						u.id AS userId,
						u.real_name AS userName,
						u.login_name AS loginName,xo.prefix_id myOrgPrefixId,-1 isDefault
					 from pt_sys_org_orgnazation xo
							LEFT JOIN pt_sys_org_orgnazation so on xo.prefix_id like CONCAT(so.prefix_id,'%')
							LEFT JOIN pt_sys_org_post p on p.id=xo.leader_id
							LEFT JOIN pt_sys_org_orgnazation o on o.id=p.ref_id
							LEFT JOIN pt_sys_org_standard_role role on p.role_id=role.id
							LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
							LEFT JOIN pt_sys_org_user u on pu.user_id=u.id and u.delflag=0 and u.`status`=1
					WHERE so.id=#{dept_id} and p.id is not null
					ORDER BY xo.prefix_id			
				) result
			GROUP BY
				result.orgId,
				result.orgType,
				result.postId,
				result.postName,
				result.postPrefixName,result.myOrgPrefixId
			ORDER BY 1 ,3 desc
		limit 1
	</select>
	
	<!-- 发起人默认岗位领导岗>发起人默认岗位所在组织领导岗位>发起人所在组织领导岗位 -->
	<select id="getDeftPostLeaderOrDeftPostOrgLeaderOrUserOrgLeader"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
	SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName,1 myOrglength
		FROM
			(
				SELECT  DISTINCT  
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName
		 		from pt_sys_org_orgnazation o
					LEFT JOIN pt_sys_org_post p on p.ref_id=o.id
					LEFT JOIN pt_sys_org_post op on op.leader_id=p.id
					LEFT JOIN pt_sys_org_post_user opu on opu.post_id=op.id
					LEFT JOIN pt_sys_org_standard_role role on p.role_id=role.id
					LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
					LEFT JOIN pt_sys_org_user u on pu.user_id=u.id and u.delflag=0 and u.`status`=1
					WHERE opu.user_id=#{start_id} AND opu.is_default=1
			) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName
	UNION ALL
	SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName,2 myOrglength
		FROM
			(
				SELECT  DISTINCT  
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,o.prefix_name,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName
				 from pt_sys_org_orgnazation o
					LEFT JOIN pt_sys_org_post p on p.ref_id=o.id
					LEFT JOIN pt_sys_org_orgnazation lo on lo.leader_id=p.id
					LEFT JOIN pt_sys_org_post op on op.ref_id=lo.id
					LEFT JOIN pt_sys_org_post_user opu on opu.post_id=op.id
					LEFT JOIN pt_sys_org_standard_role role on p.role_id=role.id
					LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
					LEFT JOIN pt_sys_org_user u on pu.user_id=u.id and u.delflag=0 and u.`status`=1
			WHERE opu.user_id=#{start_id} AND opu.is_default=1
			) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName
	UNION ALL
	SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName,3 myOrglength
		FROM
			(
				SELECT  DISTINCT  
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,o.prefix_name,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName
				 from pt_sys_org_orgnazation o
					LEFT JOIN pt_sys_org_post p on p.ref_id=o.id
					LEFT JOIN pt_sys_org_orgnazation lo on lo.leader_id=p.id
					LEFT JOIN pt_sys_org_user su on su.belong_org_id=lo.id
					LEFT JOIN pt_sys_org_standard_role role on p.role_id=role.id
					LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
					LEFT JOIN pt_sys_org_user u on pu.user_id=u.id and u.delflag=0 and u.`status`=1
					WHERE su.id=#{start_id}
			) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName
	ORDER BY 9
	LIMIT 1
	</select>
	
	<!-- 指定人员改为从组织人员树选择，不含岗位，目前将用户组织id当作post返回 -->
	<select id="selectOrgUserById" resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		SELECT 
			o.id AS orgId,
			o.type AS orgType,
			o.prefix_id orgPrefix,
			o.id AS postId,
			o.name AS postName,
			CONCAT(o.prefix_name,'/') postPrefixName,
			u.id AS userId,
			u.real_name AS userName,
			u.login_name AS loginName
		from pt_sys_org_user u
		LEFT JOIN pt_sys_org_orgnazation o on u.belong_org_id=o.id
		WHERE u.delflag=0 and u.`status`=1 and u.id in 
		<foreach collection="uIds" open="(" close=")" separator="," item="id">
			 #{id} 
		</foreach>
	</select>
	
	<select id="getFlowCompanyOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName
		FROM
			(
				SELECT DISTINCT
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName
				FROM
					pt_sys_org_post p
				LEFT JOIN pt_sys_org_orgnazation o ON o.id = p.ref_id
				LEFT JOIN pt_sys_org_orgnazation f ON o.prefix_id LIKE concat(f.prefix_id, '%')
				LEFT JOIN pt_sys_org_standard_role role ON p.role_id = role.id
				LEFT JOIN pt_sys_org_orgnazation base ON f.parent_id=base.id
				LEFT JOIN pt_sys_org_post_user pu ON pu.post_id = p.id
				LEFT JOIN pt_sys_org_user u ON pu.user_id = u.id
				AND u.`status` = 1
				AND u.delflag = 0
				WHERE
					role.delflag = 0 and pu.delflag = 0
				AND p.delflag = 0
				AND f.type in ('dept','group') 
				and base.id=#{company_id,jdbcType=VARCHAR} 
				and role.id=#{role_id,jdbcType=VARCHAR}	
				UNION ALL
				SELECT DISTINCT
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName
				FROM
					pt_sys_org_post p
				LEFT JOIN pt_sys_org_orgnazation o ON o.id = p.ref_id
				LEFT JOIN pt_sys_org_standard_role role ON p.role_id = role.id
				LEFT JOIN pt_sys_org_post_user pu ON pu.post_id = p.id
				LEFT JOIN pt_sys_org_user u ON pu.user_id = u.id
				AND u.`status` = 1
				AND u.delflag = 0
				WHERE
					role.delflag = 0 and pu.delflag = 0
				AND p.delflag = 0
				and o.id=#{company_id,jdbcType=VARCHAR} 
				and role.id=#{role_id,jdbcType=VARCHAR}
		) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName
		ORDER BY
			result.orgPrefix
	</select>
	<select id="getFlowCompanyOrgnazationPostUserVos_2"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName
		FROM
			(
				SELECT DISTINCT
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName
				FROM
					pt_sys_org_post p
				LEFT JOIN pt_sys_org_orgnazation o ON o.id = p.ref_id
				LEFT JOIN pt_sys_org_standard_role role ON p.role_id = role.id
				LEFT JOIN pt_sys_org_orgnazation base ON o.prefix_id LIKE concat(base.prefix_id, '%')
				LEFT JOIN pt_sys_org_post_user pu ON pu.post_id = p.id
				LEFT JOIN pt_sys_org_user u ON pu.user_id = u.id
				AND u.`status` = 1
				AND u.delflag = 0
				WHERE
					role.delflag = 0  and pu.delflag = 0
				AND p.delflag = 0
				and base.id=#{company_id,jdbcType=VARCHAR} 
				and role.id=#{role_id,jdbcType=VARCHAR}	
		) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName
		ORDER BY
			result.orgPrefix
	</select>
	<!-- 查询上级公司id -->
	<select id="getUpCompanyIds" parameterType="map" resultType="String">
	SELECT f.id from pt_sys_org_orgnazation o
		LEFT JOIN pt_sys_org_orgnazation f on o.prefix_id LIKE CONCAT(f.prefix_id,'/%')
		WHERE o.id=#{company_id,jdbcType=VARCHAR}  and f.type in ('company','zb')
		ORDER BY f.prefix_id desc
	</select>

	<select id="getFlowCompanyUpOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
			select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select  DISTINCT rr.id as orgId,rr.type as orgType,rr.prefix_id orgPrefix, p.id
				as postId,role.name as postName,concat(rr.prefix_name,'/',role.name) as
				postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
				as loginName from pt_sys_org_orgnazation o,pt_sys_org_orgnazation pp ,pt_sys_org_orgnazation rr 
		    ,pt_sys_org_post_user pu
				,pt_sys_org_post p
				, pt_sys_org_user u ,pt_sys_org_standard_role role
		 where
		    rr.id=p.ref_id and pu.post_id=p.id
		and pu.user_id=u.id and pu.delflag = 0
		and u.status=1  and u.delflag = 0
		and p.role_id=role.id  and p.delflag = 0
		and role.id=#{role_id,jdbcType=VARCHAR}
		and o.id=#{company_id,jdbcType=VARCHAR} and locate(pp.prefix_id,o.prefix_id)>0 and locate(pp.prefix_id,rr.prefix_id)>0
		and rr.id not in(
		select rr.id from pt_sys_org_orgnazation o,pt_sys_org_orgnazation p,pt_sys_org_orgnazation dd ,pt_sys_org_orgnazation rr where o.id=#{company_id,jdbcType=VARCHAR} and locate(p.prefix_id,o.prefix_id)>0  and 
		locate(p.prefix_id,dd.prefix_id)>0  and dd.type='company'  
		and dd.id not in (select p.id from pt_sys_org_orgnazation o,pt_sys_org_orgnazation p where o.id=#{company_id,jdbcType=VARCHAR}  and locate(p.prefix_id,o.prefix_id)>0)
		and locate(dd.prefix_id,rr.prefix_id)>0)
		) result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>
	

	

	<select id="getFlowJTOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_orgnazation o ,pt_sys_org_post_user pu
		,pt_sys_org_post p
		, pt_sys_org_user u ,pt_sys_org_standard_role role
		where o.id=p.ref_id and p.delflag =0
		and pu.post_id=p.id and pu.user_id=u.id and pu.delflag =0
		and u.status=1  and u.delflag = 0
		and
		p.role_id=role.id and role.id=#{role_id,jdbcType=VARCHAR}) result
		group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>
	
	
	<select id="getFlowJTOrgnazationPostVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , '' as userId ,'' as userName,'' as loginName
		from pt_sys_org_orgnazation o 
		,pt_sys_org_post p ,pt_sys_org_standard_role role ,pt_sys_org_orgnazation oo
		where o.id=p.ref_id and
		p.role_id=role.id and role.id=#{role_id,jdbcType=VARCHAR} 
	    and locate(oo.prefix_id,o.prefix_id)>0
	    AND p.delflag = 0
		 <if test="orgId != null and orgId!='' ">
			 and oo.id=#{orgId,jdbcType=VARCHAR}
		  </if> 
			 
		  <if test="orgType != null and orgType!='' ">
	        and oo.type=#{orgType,jdbcType=VARCHAR} 
	      </if>  
		
       ) result
		group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>
	

	<select id="getFlowPjectOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_orgnazation o ,pt_sys_org_post_user pu
		,pt_sys_org_post p
		, pt_sys_org_user u ,pt_sys_org_standard_role role
		,pt_sys_org_orgnazation base where o.id=p.ref_id and pu.post_id=p.id
		and pu.user_id=u.id and pu.delflag = 0 and p.delflag = 0
		and u.status=1  and u.delflag = 0
		and p.role_id=role.id and o.prefix_id like
		concat(base.prefix_id,'%') and
		base.id=#{project_id,jdbcType=VARCHAR}
		and
		role.id=#{role_id,jdbcType=VARCHAR}) result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>
	
	
	<select id="getFlowUserDefualtOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select DISTINCT o.id as orgId,o.type as orgType, p.id as
		postId,role.name as
		postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id
		as userId ,u.real_name as userName,u.login_name
		as
		loginName,pu.is_default as isDefault
		from pt_sys_org_orgnazation o
		,pt_sys_org_post_user pu ,pt_sys_org_post p
		, pt_sys_org_user u
		,pt_sys_org_standard_role role where o.id=p.ref_id 
		and u.status=1  and u.delflag = 0
		and pu.post_id=p.id and pu.delflag = 0
		and pu.user_id=u.id and p.delflag = 0
		
	  <if test="post_id != null and post_id!='' ">
		 and pu.post_id=#{post_id,jdbcType=VARCHAR}
	  </if> 
		 
	  <if test="post_id == null or post_id=='' ">
        and pu.is_default=1 
      </if>  
          
		and p.role_id=role.id and u.id=#{person_id,jdbcType=VARCHAR}
	</select>

	<select id="getFlowUserOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select DISTINCT o.id as orgId,o.type as orgType, p.id as
		postId,role.name as
		postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id
		as userId ,u.real_name as userName,u.login_name
		as
		loginName,pu.is_default as isDefault
		from pt_sys_org_orgnazation o
		,pt_sys_org_post_user pu ,pt_sys_org_post p
		, pt_sys_org_user u
		,pt_sys_org_standard_role role where o.id=p.ref_id
	 	and u.status=1  and u.delflag = 0
		and pu.post_id=p.id and pu.delflag = 0
		and pu.user_id=u.id and p.delflag = 0
		and p.role_id=role.id and
		u.id=#{person_id,jdbcType=VARCHAR}
	</select>
	
	
	<select id="getFlowDeptOrgnazationPostUserVos"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName
		FROM
			(
				SELECT DISTINCT
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName
				FROM pt_sys_org_post p
					LEFT JOIN  pt_sys_org_orgnazation o on o.id = p.ref_id 
					LEFT JOIN pt_sys_org_standard_role role on p.role_id = role.id 
					LEFT JOIN pt_sys_org_orgnazation base on o.prefix_id LIKE concat(base.prefix_id, '%')
					LEFT JOIN pt_sys_org_post_user pu  on pu.post_id=p.id
					LEFT JOIN pt_sys_org_user u on pu.user_id=u.id and u.`status`=1 and u.delflag=0
				WHERE role.delflag=0 and p.delflag=0 and o.type = 'dept'
						and base.id=#{dept_id,jdbcType=VARCHAR} 
						and role.id=#{role_id,jdbcType=VARCHAR}
			) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName
		ORDER BY
			result.orgPrefix  
	</select>
	
	<select id="getFlowOrgnazationPostUserVos_up"
		resultType="com.jzy.hio.sys.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		SELECT
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName,
			GROUP_CONCAT(result.userId) AS userId,
			GROUP_CONCAT(result.userName) AS userName,
			GROUP_CONCAT(result.loginName) AS loginName
		FROM
			(
				SELECT DISTINCT
					o.id AS orgId,
					o.type AS orgType,
					o.prefix_id orgPrefix,
					p.id AS postId,
					role. NAME AS postName,
					concat(
						o.prefix_name,
						'/',
						role. NAME
					) AS postPrefixName,
					u.id AS userId,
					u.real_name AS userName,
					u.login_name AS loginName
				FROM pt_sys_org_post p
					LEFT JOIN  pt_sys_org_orgnazation o on o.id = p.ref_id 
					LEFT JOIN pt_sys_org_standard_role role on p.role_id = role.id 
					LEFT JOIN pt_sys_org_orgnazation base on base.prefix_id LIKE concat(o.prefix_id, '%')
					LEFT JOIN pt_sys_org_post_user pu  on pu.post_id=p.id
					LEFT JOIN pt_sys_org_user u on pu.user_id=u.id and u.`status`=1 and u.delflag=0
				WHERE role.delflag=0 and p.delflag=0 
					<if test="orgType != null and orgType !='' ">
						and o.type = #{orgType}
					</if>
					and base.id=#{dept_id,jdbcType=VARCHAR} 
					and role.id=#{role_id,jdbcType=VARCHAR}
			) result
		GROUP BY
			result.orgId,
			result.orgType,
			result.postId,
			result.postName,
			result.postPrefixName
		ORDER BY
			result.orgPrefix desc
		limit 1
	</select>
	
</mapper>