<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.org.mapper.TendManagerTendProductDao">
    <!-- 新增 -->
    <insert id="save">
		${value}
	</insert>
    <!-- 修改根据Id -->
    <update id="update">
		${value}
	</update>
    <!-- 删除根据Id -->
    <delete id="deleteById">
		${value}
	</delete>
    <!-- 批量删除根据Id -->
    <delete id="deleteBatchByIds">
		${value}
	</delete>
    <!-- 获取单个对象，根据Id-->
    <select id="get" resultType="com.jzy.hio.sys.sys.org.entity.TendManagerTendProduct">
		${value}
	</select>
    <!-- 获取列表根据Map查询 -->
    <select id="queryList" resultType="com.jzy.hio.sys.sys.org.entity.TendManagerTendProduct">
		${value}
	</select>
    <!-- 获取分页根据Map查询 -->
    <select id="queryPageList" resultType="com.jzy.hio.sys.sys.org.entity.TendManagerTendProduct">
		${value}
	</select>
    <!-- 获取总记录数 -->
    <select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>

    <!-- 查找用户的产品-->
    <select id="getProductByTendCode" resultType="com.jzy.hio.sys.sys.org.entity.TendProductDto">
		SELECT
		m.newnum as pronumber,
		p.name as name,
		p.`code` as code ,
		p.app_code as appCode
		FROM
		sys_tend_manager_tend_product m

		LEFT JOIN sys_tend_product p ON m.product_id = p.id
		LEFT JOIN sys_tend_user u on m.tend_user_id = u.id
		LEFT JOIN sys_tend_database d on u.database_id = d.id
		WHERE
		d.`code` = #{tendCode} and p.status=1 and  m.newadjusttime > NOW()
		ORDER BY  m.updatetime DESC;
	</select>

</mapper>