<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.meeting.entity.Meeting">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.meeting.entity.Meeting">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.meeting.entity.Meeting">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.meeting.entity.Meeting">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="getWaitSendPage" resultType="com.xinleju.cloud.oa.meeting.entity.Meeting">
		select id,title,begin_date beginDate,end_date endDate,emcee_id emceeId,recorder_id recorderId,address,remind_flag remindFlag,mt_appliance mtAppliance,meeting_type meetingType,mt_plan mtPlan from oa_meeting where status=1
	</select>
	<!-- 获取总记录数 -->
	<select id="getWaitBeginPage" resultType="com.xinleju.cloud.oa.meeting.entity.Meeting">
		select id,title,begin_date beginDate,end_date endDate,emcee_id emceeId,recorder_id recorderId,address,remind_flag remindFlag,mt_appliance mtAppliance,meeting_type meetingType,mt_plan mtPlan  from oa_meeting where status=2
	</select>
	<!-- 获取总记录数 -->
	<select id="getOpenPage" resultType="com.xinleju.cloud.oa.meeting.entity.Meeting">
		select id,title,begin_date beginDate,end_date endDate,emcee_id emceeId,recorder_id recorderId,address,remind_flag remindFlag,mt_appliance mtAppliance,meeting_type meetingType,mt_plan mtPlan  from oa_meeting where status=3
	</select>
	<!-- 获取总记录数 -->
	<select id="getAllMeetingPage" resultType="com.xinleju.cloud.oa.meeting.entity.Meeting">
		select id,title,begin_date beginDate,end_date endDate,emcee_id emceeId,recorder_id recorderId,address,remind_flag remindFlag,mt_appliance mtAppliance,meeting_type meetingType,mt_plan mtPlan  from oa_meeting
	</select>


	<!-- 过滤分页查询 -->
	<select id="getMeetingPage" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			t.id,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.create_date as createDate,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.update_date as updateDate,
			t.delflag as delflag,
			t.concurrency_version as concurrencyVersion,
			t.account_id as accountId,
			t.mt_title as mtTitle,
			t.title as title,
			t.meeting_type_id as meetingTypeId,
			t.meeting_type as meetingType,
			t.emcee_id as emceeId,
			t.recorder_id as recorderId,
			t.begin_date as beginDate,
			t.end_date as endDate,
			t.meeting_duration as meetingDuration,
			t.remind_flag as remindFlag,
			t.address as address,
			t.leader as leader,
			t.mt_plan as mtPlan,
			t.mt_appliance as mtAppliance,
			t.tel as tel,
			t.pigeonhole_user_id as pigeonholeUserId,
			t.pigeonhole_date as pigeonholeDate,
			t.pigeonhole_path as pigeonholePath,
			t.status as status,
			t.mt_format as mtFormat,
			t.tend_id as tendId
		FROM
			oa_meeting t where 1=1   
		 <if test="status=='1'.toString()">
    		<![CDATA[   and DATE_FORMAT(t.begin_date, '%Y-%m-%d %H:%i:%S') >  DATE_FORMAT(#{currentTime}, '%Y-%m-%d %H:%i:%S') ]]>
		 </if>

		 <if test="status=='2'.toString()">
    		<![CDATA[   and DATE_FORMAT(t.begin_date, '%Y-%m-%d %H:%i:%S') <  DATE_FORMAT(#{currentTime}, '%Y-%m-%d %H:%i:%S') ]]>
    		<![CDATA[   and DATE_FORMAT(t.end_date, '%Y-%m-%d %H:%i:%S') >  DATE_FORMAT(#{currentTime}, '%Y-%m-%d %H:%i:%S') ]]>

		 </if>

		 <if test="status=='3'.toString()">
    		<![CDATA[   and DATE_FORMAT(t.end_date, '%Y-%m-%d %H:%i:%S') <  DATE_FORMAT(#{currentTime}, '%Y-%m-%d %H:%i:%S') ]]>
		 </if>
		 
		 <if test="status=='4'.toString()">
    		AND status = #{status,jdbcType=VARCHAR}
		 </if>

		<choose>
		<when test="title != null and title !=''">
          	and  (t.title like CONCAT(CONCAT('%',#{title}),'%')
          		or  t.mt_title like CONCAT(CONCAT('%',#{mtTitle}),'%')
          	)
        </when>
        </choose>

		order by t.begin_date desc

        <choose>
		<when test="start!=null and start!='' and limit!=null and limit!=''">
         limit #{start},#{limit}
        </when>
        </choose>

	</select>

	<!-- 过滤查询条数 -->
	<select id="getMeetingCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			count(t.id)
		FROM
			oa_meeting t where 1=1
		 <if test="status != null and status !=''">
    		AND status = #{status,jdbcType=VARCHAR}
		 </if>
		<choose>
		<when test="title != null and title !=''">
          	and  (t.title like CONCAT(CONCAT('%',#{title}),'%')
          		or  t.mt_title like CONCAT(CONCAT('%',#{mtTitle}),'%')
          	)
        </when>
        </choose>
	</select>
	
	<!-- 根据各种状态查询会议信息 -->
	<select id="getAllMeetingByParameter" resultType="com.xinleju.cloud.oa.meeting.entity.Meeting" parameterType="java.util.Map">
		SELECT
			t.id,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.create_date as createDate,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.update_date as updateDate,
			t.delflag as delflag,
			t.concurrency_version as concurrencyVersion,
			t.account_id as accountId,
			t.mt_title as mtTitle,
			t.title as title,
			t.meeting_type_id as meetingTypeId,
			t.meeting_type as meetingType,
			t.emcee_id as emceeId,
			t.recorder_id as recorderId,
			t.begin_date as beginDate,
			t.end_date as endDate,
			t.meeting_duration as meetingDuration,
			t.remind_flag as remindFlag,
			t.address as address,
			t.leader as leader,
			t.mt_plan as mtPlan,
			t.mt_appliance as mtAppliance,
			t.tel as tel,
			t.pigeonhole_user_id as pigeonholeUserId,
			t.pigeonhole_date as pigeonholeDate,
			t.pigeonhole_path as pigeonholePath,
			t.status as status,
			t.mt_format as mtFormat,
			t.tend_id as tendId
		
        FROM
			oa_meeting t
		LEFT JOIN oa_meeting_reply r ON t.id = r.meeting_id
		WHERE 1=1
		
		 <choose>
			<when test="userId != null and userId !=''">
				and r.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		ORDER BY t.create_date desc
		<if test="start!=null and start!='' and limit!=null and limit!=''">
	      limit #{start},#{limit}
	 	</if>
	</select>
	
	
	

</mapper>