.forum-title{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    background-color: #F3F3F3;
}
.forum-title .forum-icon{
    height: 19px;
    width: 13px;
    display: inline-block;
    margin:0 10px;
    background: url("../images/titlearrow_b.png") no-repeat;
    vertical-align: middle;
}
.item-box{
    overflow: hidden;
    height: auto;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    margin-top: 10px;
}
.item-box:nth-child(1)
{
    margin-top: 0;
}
.item-box .right-tit{
    height: 40px;
    line-height: 40px;
    background: #F3F3F3;
    color: #fff;
    font-size: 14px;
}
.item-box .right-tit .text{
    background:#6fbaff;
    width: auto;
    display: inline-block;
    float: left;

}
.item-box .right-tit .text i{
    background: url("../images/titlearrow_w.png") no-repeat;
    width: 13px;
    height: 19px;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}
.item-box .right-tit .bg{
    background: url("../images/arrowx3.png") no-repeat;
    width: 62px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    float: left;
}
.item-box .con{
    padding: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}
.con>div{
    float: left;
}
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.right-content .con-box{
    height: auto;
    border-bottom: 1px solid #ebebeb;
    margin-right: 12px;
}
.con .left-con p{
    padding-left: 30px;
}
.con .left-con p.p-bg{
    background: url("../images/titlepop.png") no-repeat;
    line-height: 14px;
    padding-top: 6px;
}
.con p span,.con p label{
    font-size: 12px;
    color: #999999;
}
.con .left-con p span.p-tit{
    font-size: 14px;
    color: #333333;
    margin:0 5px;
}
.con p .p-des,.con p .label-des{
    color: #666666;
    cursor: pointer;
}
.con p .p-des{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 80%;
}

.con .left-con p a{
    cursor: pointer;
    font-size: 14px;
    color: #2CAFFF;
    margin-left: 10px;
}
