*{margin:0;padding: 0;}
html{
    font-size:15px;
    font-family: "Microsoft YaHei,微软雅黑";
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}
.hide{
    display: none;
}

.pull-left{
    float: left;!important;
}
.pull-right{
    float: right;!important;
}
.search-box{
    padding: 0 12px;
    overflow: hidden;
    margin-top:12px;

}
.search-box .input-box{
    background: #F3F3F3;
    border: 0 solid #EBEBEB;
    border-radius: 100px;
    line-height: 30px;
    height: 30px;
    padding-left: 30%;
}
.search-box .input-box i{
    width: 14px;
    height: 14px;
    background: url("../image/search_search@2x.png") no-repeat;
    background-size: 14px 14px;
    vertical-align: middle;
    display: inline-block;
}
.search-box .input-box input{
    outline: none;
    border: none;
    background:none;
}
.btn-box{
    padding: 0 24%;
    margin-top: 12px;

}
.btn-box .btn-con.current p{
    border-bottom: 2px solid #FF5251;
}
.btn-box .btn-con p{
    font-size: 14px;
    color: #191919;
    line-height: 30px;
    text-align: center;
}
.btn-box .daiban .img{
    background: url("../image/daiban@2x.png");
}
.btn-box .yiban .img{
    background: url("../image/yiban@2x.png");
}
.btn-box .btn-con .img{
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    background-size: 48px 48px;
}
.split{
    height:10px;
    background:#F3F3F3;
}
.con-list{
    overflow: hidden;
}
.con-list .item{
    margin-left: 12px;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    padding: 10px 12px 10px 0;
}
.con-list .item p{
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 22px;
}
.con-list .item .stopTime i.my-stop-icon{
    font-size: 14px;
    margin-right: 5px;
}
.con-list .item .stopTime.blue{
    color: #2CAFFF;
}
.con-list .item .stopTime.yellow{
    color: #F29649;
}
.con-list .item .stopTime.red{
    color: #FF5151;
}
