<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.fileserver.dao.PrintTaskDao">

	<resultMap id="BaseResultMap" type="com.jzy.fileserver.domain.PrintTaskVo">
		<result column="id" property="id" />
		<result column="task_status" property="taskStatus" />
		<result column="task_prior" property="taskPrior" />
		<result column="input_type" property="inputType" />
		<result column="output_type" property="outputType" />
		<result column="file_id" property="fileId" />
		<result column="file_src_path" property="fileSrcPath" />
		<result column="file_dest_path" property="fileDestPath" />
		<result column="gen_thumb" property="genThumb" />
		<result column="send_page_notify" property="sendPageNotify" />
		<result column="printer_host" property="printerHost" />
	</resultMap>

	<insert id="save" parameterType="com.jzy.fileserver.domain.PrintTaskVo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO print_task (
			task_prior,
			task_status,
			file_id,
			file_src_path,
			file_dest_path,
			input_type,
			output_type,
			send_page_notify,
			gen_thumb,
			create_time
		)
		VALUES
			(#{taskPrior}, #{taskStatus}, #{fileId}, #{fileSrcPath}, #{fileDestPath}
			, #{inputType}, #{outputType}, #{sendPageNotify}, #{genThumb}, #{createTime})
	</insert>
	
	<update id="updateTaskStatusAndHost">
		UPDATE
			print_task 
		SET
			task_status = #{taskStatus}, 
			printer_host = #{printerHost} 
		WHERE
			id = #{taskId}	
	</update>
	
	<update id="updateTaskStatusAndPageCount">
		UPDATE
			print_task 
		SET
			task_status = #{taskStatus}, 
			page_count = #{pageCount} 
		WHERE
			id = #{taskId}	
	</update>	
	
	<update id="updateTaskStatus">
		UPDATE
			print_task 
		SET
			task_status = #{taskStatus}
		WHERE
			id = #{taskId}	
	</update>	
	
	<update id="updateTaskPrior">
		UPDATE
			print_task 
		SET
			task_prior = #{taskPrior}
		WHERE
			id = #{taskId}	
	</update>	
	
	<select id="findFailTasks" resultMap="BaseResultMap">
		SELECT
			id,
			task_status,
			task_prior,
			input_type,
			output_type,
			file_id,
			file_src_path,
			file_dest_path,
			gen_thumb,
			send_page_notify,
			printer_host
		FROM
			print_task
		WHERE
			task_status = 'task_sended'
	</select>
	
	<select id="findById" resultMap="BaseResultMap">
		SELECT
			id,
			task_status,
			task_prior,
			input_type,
			output_type,
			file_id,
			file_src_path,
			file_dest_path,
			gen_thumb,
			send_page_notify,
			printer_host
		FROM
			print_task
		WHERE
			id = #{taskId}
	</select>
	
	<select id="findByFileId" resultMap="BaseResultMap">
		SELECT
			id,
			task_status,
			task_prior,
			input_type,
			output_type,
			file_id,
			file_src_path,
			file_dest_path,
			gen_thumb,
			send_page_notify,
			printer_host
		FROM
			print_task
		WHERE
			file_id = #{fileId}
	</select>		

</mapper>
