<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.fileserver.dao.TaskDetailDao">

	<resultMap id="BaseResultMap" type="com.jzy.fileserver.domain.TaskDetail">
		<result column="file_name" property="fileName" />
		<result column="page_index" property="pageId" />
		<result column="image_type" property="imageType" />
		<result column="path" property="path" />
	</resultMap>

	<insert id="save" parameterType="com.jzy.fileserver.domain.TaskDetail">
		INSERT INTO task_details (
			task_id,
			file_id,
			page_index,
			image_type,
			path,
			create_time
		)
		VALUES
			(#{taskId}, #{fileId}, #{pageId}, #{imageType}, #{path}, #{createTime})
	</insert>
	
	<select id="findByFileId" parameterType="java.lang.Long" resultMap="BaseResultMap" >
		SELECT
			b.file_name,
			a.page_index,
			a.image_type,
			a.path
		FROM
			task_details a,
			user_file b
		WHERE
			a.file_id = #{fileId}
		AND a.file_id = b.file_id	
	</select>

</mapper>
