<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.organization.mapper.OrganizationMapper">

    <select id="queryUserConut" resultType="int">
        SELECT
        COUNT(DISTINCT up.`user_id`)
        FROM
        oa_sys_organization o
        LEFT JOIN oa_sys_user_position up ON o.id = up.organization_id
        LEFT JOIN oa_sys_user u ON up.user_id = u.id
        WHERE u.delflag = 0
        AND up.delflag = 0
        AND o.delflag = 0
        <if test="prefixId != null">
            and o.prefix_id LIKE CONCAT( #{prefixId}, '%' )
        </if>
        <if test="orgId != null">
            and o.`id` = #{orgId}
        </if>
    </select>
    <!--查询当前组织下的用户数量-->
    <select id="getUserCountByOrgPrefixId" resultType="int">
		SELECT
			count( up.id )
		FROM
			oa_sys_organization o
			LEFT JOIN oa_sys_user_position up ON o.id = up.organization_id
			LEFT JOIN oa_sys_user u ON up.user_id = u.id
		WHERE
			o.prefix_id LIKE CONCAT( #{prefixId}, '%' )
			AND u.delflag = 0
			AND up.delflag = 0
			AND o.delflag = 0
	</select>
    <resultMap id="userCntMap" type="com.jzy.hio.sys.organization.dto.OrgUserCountDto">
        <result column="workStatus" property="workStatus"/>
        <result column="cnt" property="cnt"/>
    </resultMap>
    <!--查询当前组织下的用户数量 通过状态过滤-->
    <select id="getUserCountGroupWorkStatusByOrgPrefixId" resultMap="userCntMap">
		SELECT
			u.work_status workStatus,count( up.id ) cnt
		FROM
			oa_sys_organization o
			LEFT JOIN oa_sys_user_position up ON o.id = up.organization_id
			LEFT JOIN oa_sys_user u ON up.user_id = u.id
		WHERE
			o.prefix_id LIKE CONCAT( #{prefixId}, '%' )
			AND u.delflag = 0
			AND up.delflag = 0
			AND o.delflag = 0
			GROUP BY u.work_status
	</select>
    <!--查询当前组织下的所有子部门、isIncludeSelf区分是否包含当前组织-->
    <select id="queryAllOrgByOrgId" resultType="com.jzy.hio.sys.organization.dto.OrganizationDto">
        SELECT
        o.id id,
        o.`name` name,
        o.parent_id parentId,
        o.sort sort,
        o.prefix_id prefixId
        FROM
        oa_sys_organization o
        WHERE
        o.prefix_id LIKE CONCAT( #{prefixId}, '%' )
        AND o.delflag = 0
        <if test="isIncludeSelf==false">
            AND o.id != #{prefixId}
        </if>;
    </select>
    <!--查询当前组织下的所有子部门、isIncludeSelf区分是否包含当前组织  的id集合-->
    <select id="queryAllOrgIdsByOrgId" resultType="string">
        SELECT
        o.id
        FROM
        oa_sys_organization o
        WHERE
        o.prefix_id LIKE CONCAT( #{prefixId}, '%' )
        AND o.delflag = 0
        <if test="isIncludeSelf==false">
            AND o.id != #{prefixId}
        </if>;
    </select>
    <!--查询当前组织下的次级组织同名的部门数量-->
    <select id="checkHasSameNameForCurrentLevel" resultType="int">
        SELECT
        count(o.id)
        FROM
        oa_sys_organization o
        WHERE
        o.parent_id = #{parentId}
        <if test="orgId!=null">
            AND o.id != #{orgId}
        </if>
        AND o.name = #{name}
        AND o.delflag = 0;
    </select>
    <!--查询所有组织排序最大的值-->
    <select id="queryOrgChildMaxSort" resultType="int">
        SELECT
            IFNULL(MAX(o.sort),0)
        FROM
            oa_sys_organization o
        WHERE
             o.parent_id = #{parentId}
    </select>
    <!--查询用户所在的主部门-->
    <select id="queryUserMainOrgByUserId" resultType="com.jzy.hio.sys.organization.dto.OrganizationDto">
        SELECT
        o.id id,o.name name,o.prefix_id prefixId
        FROM
        oa_sys_user_position up
        LEFT JOIN oa_sys_organization o ON up.organization_id = o.id
        WHERE
        up.delflag = 0
        AND o.delflag = 0
        AND up.is_default = 1
        AND up.user_id = #{userId}
    </select>
    <!--查询名称通过组织ID或者角色ID或者人的ID-->
    <select id="queryNameByOrgAndRoleAndUser" resultType="com.jzy.hio.sys.organization.dto.SkyDriveDto">
        <if test="skyDrive.organizationIds!=null and skyDrive.organizationIds.size()>0">
            SELECT o.id id,o.name name,'organization' type,o.prefix_name prefixName,'' mobile,o.delflag delflag,'-1' workStatus,'' imUserId FROM oa_sys_organization o
            WHERE o.delflag = 0 AND o.id IN
            <foreach item="item" collection="skyDrive.organizationIds" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="skyDrive.organizationIds!=null and skyDrive.organizationIds.size()>0 and ((skyDrive.roleIds!=null and skyDrive.roleIds.size()>0) or (skyDrive.userIds!=null and skyDrive.userIds.size()>0))">
            UNION ALL
        </if>
        <if test="skyDrive.roleIds!=null and skyDrive.roleIds.size()>0">
            SELECT r.id id,r.name name,'role' type,'' prefixName,'' mobile,r.delflag delflag,'-1' workStatus,'' imUserId FROM oa_sys_role r WHERE r.delflag = 0 AND
            r.id IN
            <foreach item="item" collection="skyDrive.roleIds" index="index" open="(" separator="," close=")">#{item}
            </foreach>
        </if>
        <if test="skyDrive.userIds!=null and skyDrive.userIds.size()>0">
            <if test="skyDrive.roleIds!=null and skyDrive.roleIds.size()>0">
                UNION ALL
            </if>
            SELECT u.id id,u.real_name name,'user' type,'' prefixName,u.mobile mobile,u.delflag delflag,u.work_status workStatus,u.im_user_id imUserId FROM oa_sys_user u WHERE
            <choose>
                <when test="skyDrive.status != null and skyDrive.status == 0">
                    u.delflag = 0 AND u.work_status = 1
                </when>
                <when test="skyDrive.status != null and skyDrive.status == 1">
                    u.delflag = 0 AND u.work_status IN (1,2)
                </when>
                <when test="skyDrive.status != null and skyDrive.status == 2">
                    u.work_status = 1
                </when>
                <when test="skyDrive.status != null and skyDrive.status == 3">
                    u.work_status IN (1,2)
                </when>
                <otherwise>
                    u.delflag = 0 AND u.work_status = 1
                </otherwise>
            </choose>
            AND u.id IN
            <foreach item="item" collection="skyDrive.userIds" index="index" open="(" separator="," close=")">#{item}
            </foreach>
        </if>
    </select>
    
     <!--通过用户ID查询组织机构-->
    <select id="queryOrganizationsByUserId" resultType="com.jzy.hio.sys.organization.dto.OrganizationDto">
        SELECT
        o.id id,
        o.`name` NAME,
        o.parent_id parentId,
        o.sort sort,
        o.prefix_id prefixId,
        o.prefix_name prefixName,
        o.prefix_sort prefixSort,
        o.code code,
        up.is_default isDefault,
        up.id positionId,
        up.position positionName
        FROM
        oa_sys_user u
        LEFT JOIN oa_sys_user_position up ON up.user_id = u.id
        LEFT JOIN oa_sys_organization o ON up.organization_id = o.id
        WHERE
        u.delflag = 0
        AND up.delflag = 0
        AND o.delflag = 0
        <if test="userId !=null and userId !=''">
            AND u.id = #{userId}
        </if>
    </select>

    <select id="queryOrganizationByOrgIds" resultType="com.jzy.hio.sys.organization.dto.OrganizationDto">
        SELECT
        o.id id,
        o.`name` NAME,
        o.parent_id parentId,
        o.sort sort,
        o.prefix_id prefixId,
        o.prefix_name prefixName,
        o.prefix_sort prefixSort,
        o.code code
        FROM
        oa_sys_organization o
        WHERE
        o.delflag = 0
        AND o.id in
        <foreach collection="orgIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    
    <!--通过用户ID查询组织机构-->
    <select id="queryOrganizationsByUserIdIM" resultType="com.jzy.hio.sys.organization.dto.OrganizationDto">
        SELECT
        o.id id,
        o.`name` NAME,
        o.parent_id parentId,
        o.sort sort,
        o.prefix_id prefixId,
        o.prefix_name prefixName,
        o.prefix_sort prefixSort,
        o.code code,
        o.type type,
        up.is_default isDefault,
        up.id positionId,
        up.position positionName
        FROM
        oa_sys_user u
        LEFT JOIN oa_sys_user_position up ON up.user_id = u.id
        LEFT JOIN oa_sys_organization o ON up.organization_id = o.id
        WHERE
        u.delflag = 0
        AND up.delflag = 0
        AND o.delflag = 0
        AND u.work_status = 1
        <if test="userIdIM !=null and userIdIM !=''">
            AND u.im_user_id = #{userIdIM}
        </if>
    </select>

    <select id="queryOrganizationTreeByUserIds" resultType="com.jzy.hio.sys.organization.dto.OrganizationDto">
        SELECT
        o.id id,
        o.`name` NAME,
        o.parent_id parentId,
        o.sort sort,
        o.prefix_id prefixId,
        o.prefix_name prefixName,
        o.prefix_sort prefixSort,
        o.code code,
        up.is_default isDefault
        FROM
        oa_sys_user u
        LEFT JOIN oa_sys_user_position up ON up.user_id = u.id
        LEFT JOIN oa_sys_organization o ON up.organization_id = o.id
        WHERE u.delflag = 0
        AND up.delflag = 0
        AND o.delflag = 0
        -- AND u.work_status = 1 --离职的也查
        AND u.id in
        <foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--批量更新时间-->
    <update id="updateBatchUpdateTime">
        UPDATE oa_sys_organization o SET o.update_date = #{now}
        <if test="orgIds!=null and orgIds.size()>0" >
            WHERE o.id IN
            <foreach collection="orgIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <!--通过人员id查询职务-->
    <select id="queryOrgAndPositionByUserId" resultType="com.jzy.hio.sys.organization.dto.SysCurrencyDto">
        SELECT
            o.id organizationId,
            o.name organizationName,
            u.id userId,
            u.real_name userName,
            up.id positionId,
            up.position positionName
        FROM
            oa_sys_user u
            LEFT JOIN oa_sys_user_position up ON u.id = up.user_id
            LEFT JOIN oa_sys_organization o ON up.organization_id = o.id
        WHERE
            u.id = #{userId}
            AND up.delflag = 0
            AND o.delflag =0
            <if test="containsPart !=true">
                AND up.is_default = 1
            </if>
    </select>
  
    <select id="queryUserCountByOrgnizationId" resultType="com.jzy.hio.sys.organization.dto.OrganizationUserCountDto">
    	SELECT up.organization_id organizationId, count(u.id) userCount from oa_sys_user u
		left JOIN oa_sys_user_position up ON u.id = up.user_id
		where u.delflag = 0 and up.delflag = 0 and u.work_status = 1 
		GROUP by up.organization_id
    </select>
</mapper>