
.mytable .ui-widget-content{
    border:0;
}
.mytable .ui-jqgrid-bdiv{
    height: auto!important;
}
.mytable .ui-jqgrid-hdiv{
    background: #acd7ff;
}
.ui-jqgrid tr.ui-row-ltr td{
    border-color: #eaeaea;
}
.user-list{
    background: none;
}
 .removetr{
	  }