body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "宋体";
}

#wrapper {
	text-align: left;
	font-size: medium;
	line-height: 1.4;
	color: #333;
}

.yj950-1 #wrapper {
	width: 950px;
	margin:0 auto;
	padding:0 15px;	
}

.yj-guid {
	display:block;
	height:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
}

HR.separation {
	display: none;
}

div {
	margin: 0;
	padding: 0;

}

.yj950-1 #contents {
	text-align: left;
	position: relative;
}

#contents {
	font-size: small;
}

table {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
	border: 0px;
}

#new-title {
	padding: 4px;
	background-color: #309b31;
}

p {
	padding: 0px;
	margin: 0px;
}

#new-title p {
	margin: 5px;
	color: #fff;
	line-height: 1;
}

#my-list {
	margin-bottom: 6px;
	padding: 4px 0 4px 10px;
	border-bottom: #dee8a5;
	background-color: #eaf4b3;
	height: 1%; /* Hides from IE5-mac */
}

#my-list:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

dl,dt,dd,ul,li,h2,h3,h4,h5,p {
	margin: 0;
	padding: 0;
}

#my-list dl {
	float: right;
}

#my-list dt {
	display: inline;
	font-weight: bold;
}

#my-list dd {
	display: inline;
}

#my-list ul {
	display: inline;
}

ul li {
	list-style-type: none;
	list-style-image: none;
}

#my-list li {
	padding-left: 14px;
	display: inline;
	margin-right: 10px;
	background: url(../images/listbg.gif) no-repeat left center;
}

#cat-pass {
	padding-left: 7px;
	margin-bottom: 10px;
}

strong {
	font-style: normal;
	font-weight: normal;
}

#contents-body {
	position: relative;
	zoom: 1; /* for Win IE5.5-7 */
}

#contents-body:after {
	display: block;
	height: 0px;
	visibility: hidden;
	clear: both;
	content: ".";
}

.yj950-1 #contents-body SPAN.yj-guid {
	margin: 0px;
	float: left;
	left: auto;
	position: absolute;
	width: 0px;
	height: 0px;
}

#sho-header {
	margin-bottom: 16px;
}

#sh-title {
	margin-bottom: 12px;
	padding: 0 0 8px 8px;
	background: url(../images/titlebg6.gif) bottom repeat-x;
	display: inline-block;
}

#sh-title:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#sh-title h2 {
	float: left;
	font-size: 180%;
	font-weight: bold;
	line-height: 1;
}

#sh-title h2 span.title {
	display: block;
	float: left;
	margin-top: 13px;
	padding-left: 18px;
	background: url(../images/titlebg.gif) left repeat-y;
}

#sh-update {
	float: right;
	width: 185px;
	margin-left: 14px;
}

#sh-update p {
	text-align: right;
	margin-bottom: 5px;
}

#sh-update p span.date {
	font-weight: bold;
}

#sh-update ul {
	position: relative;
	width: 173px;
	height: 19px;
	margin-left: 12px;
	background: url(../images/icn_update_bg.gif) left top no-repeat;
}

#sh-update ul li {
	position: absolute;
	top: 0px;
}

#sh-update ul li.no {
	display: none;
}

#sh-title UL.act {
	margin-top: 1em;
	float: right;
}

a img {
	border: 0px;
}

#sh-summary {
	padding-left: 10px;
	display: inline-block;
}

#sh-summary:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#shs-left {
	width: 731px;
	float: left;
}

caption {
	text-align: left;
}

#shs-left caption {
	display: none;
}

th {
	font-style: normal;
}

#shs-left th {
	width: 100px;
	font-size: 120%;
	font-weight: bold;
	text-align: left;/* for safari */
	vertical-align: top;
	white-space: nowrap;
}

#shs-left tr.place th {
	padding-left: 18px;
	background: url(../images/titlebg2.gif) left 0.3em no-repeat;
}

#shs-left tr.place td,#shs-left TR.kotsu TD,#shs-left TR.price TD,#shs-left TR.bld-total TD {
	width: 630px;
	padding-left: 9px;
	background: url(../images/titlebg7.gif) left 0.5em no-repeat;
}

#shs-left tr span.help {
	margin-left: 8px;
}

#shs-left tr span.help img {
	vertical-align: middle;
	margin-right: 3px;
}

#shs-left tr.kotsu th {
	padding-left: 18px;
	background: url(../images/titlebg3.gif) left 0.3em no-repeat;
}

#shs-left tr.price th {
	padding-left: 18px;
	background: url(../images/titlebg4.gif) left 0.3em no-repeat;

}

#shs-left tr.bld-total th {
	padding-left: 18px;
	background: url(../images/titlebg5.gif) left 0.3em no-repeat;
}

#shs-left tr.cd dl {
	padding-top: 6px;
}

#shs-left tr.cd dt {
	display: none;
}

#shs-left tr.cd dd {
	position: relative;
	width: 731px;
	height: 30px;
}

#shs-left tr.cd li {
	position: absolute;
	top: 0px;
}

#shs-left tr.cd li.cd-1 { left: 0; }
#shs-left tr.cd li.cd-2 { left: 61px; }
#shs-left tr.cd li.cd-3 { left: 122px; }
#shs-left tr.cd li.cd-4 { left: 183px; }
#shs-left tr.cd li.cd-5 { left: 244px; }
#shs-left tr.cd li.cd-6 { left: 305px; }
#shs-left tr.cd li.cd-7 { left: 366px; }
#shs-left tr.cd li.cd-8 { left: 427px; }
#shs-left tr.cd li.cd-9 { left: 488px; }
#shs-left tr.cd li.cd-10{ left: 549px; }
#shs-left tr.cd li.cd-11{ left: 610px; }
#shs-left tr.cd li.cd-12{ left: 671px; }

#shs-left tr.cd li img {
	height: 30px;
	width: 60px;
	display: block;
}

#shs-right {
	width: 193px;
	float: right;

}

#shs-right p {
	text-align: right;
}

#shs-right img {
	margin-bottom: 4px;
	vertical-align: bottom;
}

#sho-nav {
	margin-bottom: 15px;
	padding-bottom: 5px;
	background: url(../images/navbg_dtl.gif) bottom 50% no-repeat;
	height: 1%;
}

#sho-nav:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#sho-nav {
	display: inline-block;
}

#sho-nav {
	display: block;
}

#sho-nav li {
	float: left;
}

#sho-nav li img {
	display: block;
}

#sho-content {
	padding: 0 10px;
}

h3 {
	font-size: 100%;
	font-weight: normal;
}

#sho-content h3 {
	display: none;
}

#sho-content p.lead {
	margin-bottom: 16px;
	color: #b65700;
	font-size: 110%;
}

strong {
	font-style: normal;
}

#sho-content p.lead strong {
	font-weight: bold;
}

#summary {
	margin-bottom: 30px;
	display: inline-block;
}

#summary:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#s-left {
	width: 352px;
	float: left;
}

#image-big {
	border:1px solid #ccc;
	line-height: 350px;
	width: 350px;
	height: 350px;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
}


/*
#image-big .image-big-p {
	width: 350px;
	height: 350px;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
}
*/

/*
#image-big .image-big-p TABLE {
	width: 350px;
	height: 350px;
	text-align: center;
	vertical-align: middle;
}
*/

#image-caption {
	text-align: right;
	margin-bottom: 4px;
}

#s-right {
	width: 560px;
	float: right;
}

#s-right table {
	width: 505px;
	height: 300px;
	background-color: #deeefb;
}

#s-right table tr {
	height: 27px;
}

#s-right table td {
	background-color: #FFFFFF;
}

#s-right table td.louxiang {
	text-align: center;
}

#s-sch {
	margin-bottom: 18px;
}

h4 {
	font-size: 100%;
	font-weight: normal;
}

#s-sch h4 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	line-height: 1;
}

#s-sch h4 img {
	vertical-align: bottom;
}

#s-sch h5 {
	margin-bottom: 5px;
	padding: 0 0 5px 5px;
	border-bottom: 1px dashed #bdbdbd;
	font-size: 110%;
	font-weight: bold;
	line-height: 1;
}

#s-sch p {
	padding-left: 5px;
	margin-bottom: 8px;
}

#s-toi {
	margin-bottom: 18px;
}

#s-toi h4 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	line-height: 1;
}

#s-toi h4 img {
	vertical-align: bottom;
}

#st-left {
	width: 365px;
	float: left;
}

#st-left p, #st-left ul {
	padding-left: 5px;
}

#st-left p.tel, #sht-left p.tel {
	color: #ff9000;
	font-size: 120%;
	font-weight: bold;
	line-height: 1.8;
}

#st-left li, #sht-left li {
	padding-left: 12px;
	background: url(../images/listbg4.gif) left 0.4em no-repeat;
	color: #b95700;
	font-weight: bold;
}

#st-right {
	width: 193px;
	float: right;
}

#st-right li img {
	margin-bottom: 4px;
	vertical-align: bottom;
}

ul.nav-page {
	margin-bottom: 8px;
}

ul.nav-page li {
	text-align: right;
	line-height: 1.6;
}

ul.nav-page li img {
	vertical-align: middle;
	margin-right: 3px;
}

#summary3 {
	margin-bottom: 30px;
}


#summary3 h4 {
	margin-bottom: 10px;
}

#summary3 h4 img {
	vertical-align: bottom;
}

.parts1 {
	margin-bottom: 35px;
	padding: 0 10px;
}

#summary3 h5 {
	margin-bottom: 9px;
	padding: 6px 6px 6px 16px;
	border-bottom: 1px dashed #dcdcdc;
	background: url(../images/titlebg8.gif) 2px 0.6em no-repeat;
	color: #5c6a00;
	font-size: 110%;
	font-weight: bold;
	line-height: 1;
}

.parts1 p.img {
	border: 1px solid #ccc;
	text-align: center;
}

.parts1 p.caption {
	text-align: right;
	margin-top: 4px;
}

ul.nav-page {
	margin-bottom: 8px;
}

#sho-toi {
	margin-bottom: 10px;
	padding: 0 10px;
}

#sht-content {
	padding: 10px 10px 0 10px;
	border: 5px solid #ddd9b7;
	border-top: 3px solid #ddd9b7;
}

#sht-content:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#sht-left {
	float: left;
	width: 690px;
	margin-bottom: 8px;
}

#st-right, #sht-right {
	width: 193px;
	float: right;
}

#sht-content {
	display: inline-block;
}

#sht-right ul {
	margin-bottom: 8px;
}

#sht-right li {
	text-align: right;
	margin-bottom: 4px;
}

#sht-right li img {
	vertical-align: bottom;
}

#footer {
	text-align: center;
}

address {
	font-style: normal;
	font-weight: normal;
}

#footer address {
	padding: 10px 0 20px;
	border-top: 1px solid #ccc;
	font-size:small;
	line-height:1.4em;
}

/* add   */
#shs-caption {
	display:none;
}

#shs-left span.title {
	width: 100px;
	font-size: 120%;
	font-weight: bold;
	text-align: left;/* for safari */
	vertical-align: top;
	white-space: nowrap;
}

#cd dl {
	padding-top: 6px;
}

#cd dt {
	display: none;
}

#cd dd {
	position: relative;
	width: 731px;
	height: 30px;
}

#cd li {
	position: absolute;
	top: 0px;
}

#cd li img {
	display: block;
}

#cd li.cd-1 { left: 0; }
#cd li.cd-2 { left: 61px; }
#cd li.cd-3 { left: 122px; }
#cd li.cd-4 { left: 183px; }
#cd li.cd-5 { left: 244px; }
#cd li.cd-6 { left: 305px; }
#cd li.cd-7 { left: 366px; }
#cd li.cd-8 { left: 427px; }
#cd li.cd-9 { left: 488px; }
#cd li.cd-10{ left: 549px; }
#cd li.cd-11{ left: 610px; }
#cd li.cd-12{ left: 671px; }

#place span.title {
	padding-left: 18px;
	background: url(../images/titlebg2.gif) left 0.3em no-repeat;
}

#kotsu span.title {
	padding-left: 18px;
	background: url(../images/titlebg3.gif) left 0.3em no-repeat;
}

#price span.title {
	padding-left: 18px;
	background: url(../images/titlebg4.gif) left 0.3em no-repeat;
}

#bld-total span.title {
	padding-left: 18px;
	background: url(../images/titlebg5.gif) left 0.3em no-repeat;
}

#shs-left span.content {
	width: 630px;
	padding-left: 9px;
	background: url(../images/titlebg7.gif) left 0.5em no-repeat;
}





























