
/*-------------------------------------master-soohai------------------------------------*/

@media tty{
i{content:"\";/*""*/}}@import 'down/tmplWinie50_pe.css';/*";}
}/**/

/* --------------------------------------------
For winie5.5
-------------------------------------------- */
@media tty {
i{content:"\";/*" "*/}}@m; @import 'down/tmplWinie55_pe.css'; /*";}
}/* */


/*----------------------------------------------yjz2------------------------------------*/

/* LineHeight Adjust */
.s115 {line-height:115%;}
.s130 {line-height:130%;}
.s150 {line-height:150%;}

/* Masthead 2006.09.14 */
<!--
.yjmth{
	*height:1%;}
.yjmth img{
	vertical-align:middle;
	border:0px;}
.yjmth a{
	border:0px;}
div.yjmthproplogoarea{
	float:left;}
div.yjmthloginarea{
	float:left;
	margin:0px 0px 0px 3px;
	font-size:smaller;
	text-align:left;
	line-height:110%}
div.yjmthcplogoarea{
	float:right;}
div.yjmthcmnlnkarea{
	/* Without MacIE \*/
	float:right;
	/* */
	margin:10px 3px 0px 0px;
	font-size:smaller;
	text-align:right;
	line-height:110%;}
br.yjmthclear{
	clear:both;}
div.yjgrplink{
	text-align:right;
	font-size:smaller;
	line-height:115%;}
div#music div.yjmthloginarea{
	margin-top:16px;
	margin-left:7px;}
div#music div.yjmthcmnlnkarea{
	margin-top:26px;}
div#music div.yjmthcplogoarea{
	margin-top:14px;}
-->

/* FontSize 2006.12.12 */
<!--
.yjXXL{
	font-size:x-large;       /* WinIE5.x */
	voice-family:"\"}\"";
	voice-family:inherit;
	font-size:xx-large;      /* WinIE6.x(Standard) */
	font-size /**/:x-large;} /* WinIE6.x(Quirks), WinIE7(Quirks) */
html>body .yjXXL{
	font-size:180%;          /* MacIE5.x */
	font-size/**/:xx-large;} /* WinFF, MacFF, Safari, WinIE7(Standard) */
.yjXL{
	font-size:large;
	voice-family:"\"}\"";
	voice-family:inherit;
	font-size:x-large;
	font-size /**/:large;}
html>body .yjXL{
	font-size:150%;
	font-size/**/:x-large;}
.yjL{
	font-size:medium;
	voice-family:"\"}\"";
	voice-family:inherit;
	font-size:large;
	font-size /**/:medium;}
html>body .yjL{
	font-size:120%;
	font-size/**/:large;}
.yjM{
	font-size:small;
	voice-family:"\"}\"";
	voice-family:inherit;
	font-size:medium;
	font-size /**/:small;}
html>body .yjM{
	font-size:100%;
	font-size/**/:medium;}
.yjMt{
	font-size:small;
	line-height:1.4em;
	voice-family:"\"}\"";
	voice-family:inherit;
	font-size:medium;
	font-size /**/:small;}
html>body .yjMt{
	font-size:100%;
	font-size/**/:medium;}
.yjS{
	font-size:x-small;
	voice-family:"\"}\"";
	voice-family:inherit;
	font-size:small;
	font-size /**/:x-small;}
html>body .yjS{
	font-size:84%;
	font-size/**/:small;}
.yjSt{
	font-size:x-small;
	line-height:1.3em;
	voice-family:"\"}\"";
	voice-family:inherit;
	font-size:small;
	font-size /**/:x-small;}
html>body .yjSt{
	font-size:84%;
	font-size/**/:small;}
.yjXS{
	font-size:xx-small;
	voice-family:"\"}\"";
	voice-family:inherit;
	font-size:x-small;
	font-size /**/:xx-small;}
html>body .yjXS{
	font-size:70%;
	font-size/**/:x-small;}
-->

/*irc-pe*/

#pos-lrec{
	margin-bottom: 10px;
	text-align: center;
	}
#pos-lrec dl{
	 background-color:#ddd; color:#555;
	}
#pos-lrec dt{	
	display: inline-block;
	padding:4px 0 4px;
	font-size:12px;
	font-weight:normal;
	line-height:12px;
	vertical-align: middle;
	}
/* safari only \*/
html:\66irst-child #pos-lrec dt {
	padding:3px 0 2px;
}
/* /safari only */
#pos-lrec dd{	
	height:250px;
	}

/* ---------- pos ---------- */

/*-------------------------------------templocal-patch------------------------------------*/

/*
========== TABLE of CONTENTS ==========

1:uhd-patch
2:emg-patch
3:pos-patch
4:masthead-patch

clearfix rules

========== TABLE of CONTENTS ==========
*/


/* ---------- 1:uhd-patch ---------- */

#uhd div table{
	text-align: left;
	}
#uhd img{
	display: block;
	}
#uhd br{
	display: none;
	}
/* ---------- /1:uhd-patch ---------- */

/* ---------- 2:emg-patch ---------- */

#emg,#emg2,#emg3{
	margin-bottom: 10px;
	text-align: center;
	}
#emg table,#emg2 table,#emg3 table{
	margin: 0 auto;
	text-align: left;
	}

/* ie/mac \*//*/
#emg, #emg2, #emg3{
	margin-left: 235px;
	}
/**/

/* ---------- /2:emg-patch ---------- */

/* ---------- 3:pos-patch ---------- */

#pos-n{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	}
#pos-n table{
	margin: 0 auto;
	text-align: left;
	}
#pos-n br{
	display: none;
	}

#pos-s{
	padding: 10px 0;
	border-top: 1px solid #ccc;
	text-align: center;
	}
#pos-s table{
	width: 500px;
	margin: 0 auto;
	text-align: left;
	line-height:1em;
	}	
/* for ie5/mac \*//*/
#pos-s table {
	margin-left: 235px;
	}
/**/

/* ---------- /3:pos-patch ---------- */

/* ---------- 4:masthead-patch ---------- */
#masthead{
	width:100%;
	height: 55px; /* needed when using the safari hack */
	margin: 4px auto 10px auto;
	text-align: left;
	}
#masthead strong{
	font-weight:bold;
	}
/* === standard clear-after rules === */
#masthead:after{
	content: "."; 
	display: block; 
	position:relative; /*works better in IE5.5 or float in float situations */
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
	
/* hide from ie/mac  needed for IE \*/
* html #masthead{
	height: 1%;
	}
* html #masthead .yjmth{
	margin: 0;
	padding: 0;
}
/**/
/* ie/mac \*//*/
#masthead{
	display: inline-table;
	}

/**/
/* === /standard clear-after rules === */

/* ---------- /4:masthead-patch ---------- */


/*-------------------------------------tmplCommon-pe------------------------------------*/
@charset "euc-jp";
/* common.css */ 
/*
========== TABLE of CONTENTS ==========

1:reset
2:layout
 2-1:layout common
 2-2.layout column
 2-3.clearfix

========== TABLE of CONTENTS ==========
*/

/* ---------- 1:reset  ---------- */

body{
	margin: 0;
	padding: 0;
	text-align: center;
	}
	
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,p,blockquote,fieldset,div{
	margin: 0;
 	padding: 0;
	}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal;
	}	
ul li, ol li{
	list-style: none;
	}

table{
	margin:0;
	padding:0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
	}
caption{
	text-align: left;
	}
	
table,pre,code,select,input,textarea,kbd,var,ins,del,samp{
	font-size: 100%;
	}
	
address,cite,dfn,em,strong,var,th,ins,del,samp{
	font-weight: normal;
	font-style: normal;
	}

a img{
	border: 0;
	}
		
hr.separation{
	display: none;
	}

fieldset{
	border: none;
	}

/* ---------- /1:reset  ---------- */

/* ---------- 2:layout ---------- */

/* 3-1:layout common */
#wrapper{
	text-align:left;
	font-size:medium;
	line-height:1.56em;
	}

#cat-pass{
	margin-bottom: 10px;
	padding-left: 7px;
	}
#contents-body{
/* use clearfix hack */
	position: relative;
	}
.yj-guid{
	display:block;
	height:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	}
.yj-skip{
	display:block;
	height:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	}

#footer{
	text-align: center;
	}
#footer address{
	padding: 10px 0 20px;
	border-top: 1px solid #ccc;
	font-size:small;
	line-height:1.4em;
	}

/* /3-1:layout common */

/* /3-2.layout column */

/* === yj950 common  === */

.yj950-1 #wrapper,.yj950-1-3 #wrapper,.yj950-2 #wrapper,.yj950-3 #wrapper { 
	width: 950px;
	margin:0 auto;
	padding:0 15px;
 }
.yj950-1 #contents,.yj950-1-3 #contents,.yj950-2 #contents,.yj950-3 #contents {
	text-align: left;
	}
/* === /yj950 common  === */

/* === yj950-1 === */
.yj950-1 #contents{
	position: relative;
	}
.yj950-1 #contents-body span.yj-guid{
	position: relative;
	left: auto;
	float: right;
	width: 310px; 
	height: 280px;
	margin: 0;
	}
.yj950-1 #contents-body #sub #pos-lrec{
	position: absolute;
	top: 0;
	right:0;
	width: 300px;
	}


/*-- yj950-1-3 = --*/
.yj950-1-3 #contents-body #sub #pos-lrec{
	position: absolute;
	top: 0;
	right:0;
	width: 300px;
	}
.yj950-1-3 #main .wrapper {
	float:left;
	width:634px;
	}
.yj950-1-3 #main #main-block {
	float:right;
	width:432px;
	}
.yj950-1-3 #main #sub-block1 {
	float: left;
	width: 192px;
	}
.yj950-1-3 #main #sub-block2 {
	float: right;
	width: 300px;
	margin-top:280px;
	}

/*-- /yj950-1-3 = --*/
/* === /yj950-1 === */

/* === yj950-2 === */
.yj950-2 #contents-body #main{
	float: left;
	width: 634px;
	}
.yj950-2 #contents-body #sub{
	float: right;
	width: 300px;
	}
/* === /yj950-2 === */

/* === yj950-3 === */
.yj950-3 #contents-body #main{/* use clearfix hack */
	float: left;
	width: 634px;
	}
.yj950-3 #contents-body #main-main{
	float: right;
	width: 432px;
	}
.yj950-3 #contents-body #main-sub{
	float: left;
	width: 192px;
	}
.yj950-3 #contents-body #sub{
	float: right;
	width: 300px;
	}
/* === /yj950-3 === */


/* === yj100per common  === */
.yj100per-1,.yj100per-1-3,.yj100per-2,.yj100per-3 {
width:100%;
}
.yj100per-1 #wrapper,.yj100per-1-3 #wrapper,.yj100per-2 #wrapper,.yj100per-3 #wrapper {
min-width:950px;
padding:0 15px;
}
* html .yj100per-1 #wrapper,* html .yj100per-1-3 #wrapper,* html .yj100per-2 #wrapper,* html .yj100per-3 #wrapper {
/* Win IE6 min-width */
width:expression(document.body.clientWidth < 1001 ? "950px" : "auto");
}
/* === /yj100per common  === */

/* === yj100per-1 === */
.yj100per-1 #contents {
position:relative;
}
.yj100per-1 #contents-body span.yj-guid {
	position: relative;
	left: auto;
	float: right;	
	width: 310px; 
	height: 280px;
	margin: 0;
}
.yj100per-1 #contents-body #sub #pos-lrec {
	position: absolute;
	top: 0;
	right:0;
	width: 300px;
}

/*-- yj100per-1-3 = --*/
.yj100per-1-3 #contents-body #sub #pos-lrec{
	position: absolute;
	top: 0;
	right:0;
	width: 300px;
	}
.yj100per-1-3 #main #main-main-wrapper {
	float: left;
	width:100%;
	margin-left:-316px;
	}
.yj100per-1-3 #main #main-main {
	margin-left:316px;
	}
.yj100per-1-3 #main #main-block-wrapper {
	float: right; 
	width:100%;
	margin-right:-202px;
	}
.yj100per-1-3 #main #main-block {
	margin-right:202px;
	}
.yj100per-1-3 #main #sub-block1 {
	float:left;
	width: 192px;
	}
.yj100per-1-3 #main #sub-block2 {
	float: right;
	width: 300px;
	margin-top:280px;
	}

/*-- /yj100per-1-3 = --*/
/* === /yj100per-1 === */

/* === yj100per-2 === */
.yj100per-2 #contents-body #main-wrapper {
	float: left;
	width:100%;
	margin-left:-316px;
	}
.yj100per-2 #contents-body #main {
	margin-left:316px;
	}
.yj100per-2 #contents-body #sub {
	float: right;
	width: 300px;
	}
/* === /yj100pre-2 === */

/* === yj100per-3 === */
.yj100per-3 #contents-body #main-wrapper {
	float: left;
	width:100%;
	margin-left:-316px;
	}
.yj100per-3 #contents-body #main {
margin-left:316px;
}
.yj100per-3 #contents-body #main-main-wrapper {
	float: right;
	width:100%;
	margin-right:-202px;
	}
.yj100per-3 #contents-body #main-main {
	margin-right:202px;
	}
.yj100per-3 #contents-body #main-sub {
	float:left;
	width: 192px;
	}
.yj100per-3 #contents-body #sub {
	float: right;
	width: 300px;
	}
/* === /yj100per-3 === */
/* /2-2.layout column */

/* 2-3.clearfix */
/* for FF,Safari,Opera */
#contents-body:after,
.yj950-3 #contents-body #main:after{
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	}
/* for Win IE5.5-7 */
#contents-body,
.yj950-3 #contents-body #main{
	zoom:1;
	}
/* /2-3.clearfix */
/* ---------- /2:layout ---------- */

/**--------------------------------printexec-------------------------/
/* CSS for printing */

/* fonts */
.f11{font-size:11px;line-height:110%;}
.f13{font-size:13px;line-height:110%;}
.f15{font-size:15px;line-height:110%;}
.f17{font-size:17px;line-height:115%;}
.f11b{font-size:11px;line-height:110%;font-weight:bold;}
.f13b{font-size:13px;line-height:110%;font-weight:bold;}
.f15b{font-size:15px;line-height:120%;font-weight:bold;}
.f17b{font-size:17px;line-height:125%;font-weight:bold;}

/* line-height */
.s115 {line-height:115%;}
.s130 {line-height:130%;}
.s150 {line-height:150%;}

/* masthead */
div.yjmthloginarea{display:none;}


/*----------------master area-----------------*/


@media tty{
i{content:"\";/*""*/}}@import '../winie5.css';/*";}
}/**/


/*-----------------------common.css----------------------------*/
body {
font-family:"ËÎÌו";
}
html > body sup {
vertical-align:20%;
}
:first-child + html sup {
vertical-align:top;
}
#wrapper {
color:#333333;
line-height:1.4;
}
#header {
margin-bottom:1.3em;
position:relative;
}
#header .service-summary {
bottom:-1.2em;
font-size:x-small;
line-height:1;
position:absolute;
right:0;
}
html > body #header .service-summary {
bottom:-1.4em;
}
#contents {
font-size:small;
}
div.yjmthloginarea, div.yjmthcmnlnkarea, div.yjgrplink {
font-size:small;
}
#contents-header p.service-summary {
font-size:x-small;
line-height:1;
margin-bottom:4px;
margin-top:-1.3em;
text-align:right;
}
.grey {
color:#666666;
}
#pos-spr {
margin-bottom:10px;
margin-top:10px;
text-align:center;
width:100%;
}
#pos-spr table {
margin:0 auto;
text-align:left;
}
#pos-spr br {
display:none;
}
#pos-tnp {
margin-bottom:-0.7em;
}
html:first-child #pos-tnp {
margin-bottom:-1em;
}
body:first-of-type #pos-tnp {
margin-bottom:-1em;
}
#pos-tnp td {
height:1em;
}
#pos-tn {
margin-bottom:8px;
}
#pos-ts {
margin-bottom:8px;
}
#pos-eu {
background-color:#FFFFCC;
margin-bottom:8px;
}
#pos-sqb {
margin-bottom:15px;
width:100%;
}
html > body #pos-sqb {
margin-top:-5px;
}
#pos-sqb small {
font-size:100%;
}
#pos-sqb b a {
font-size:122%;
}
#pos-sqb b small {
font-size:100%;
}
#pos-sqb small b a {
font-size:100%;
}
#pos-eup {
margin-bottom:10px;
text-align:center;
}
#pos-lrec dl, #pos-eup dl {
background-color:#FFFFFF;
}
#pos-lrec dd, #pos-eup dd {
height:auto;
text-align:left;
}
#pos-emt {
border:1px solid #CCCCCC;
margin-bottom:10px;
text-align:center;
}
#pos-emt dt {
background-color:#EEEEEE;
font-weight:bold;
}
#pos-emt dd {
padding:3px 0 1px;
}
#pos-emt a img {
vertical-align:middle;
}
#pos-sqm {
border:1px solid #CCCCCC;
margin-bottom:15px;
}
#pos-sqm dt {
background-color:#EEEEEE;
font-weight:bold;
padding:2px 3px;
text-align:center;
}
#pos-sqm dd {
padding:4px;
}
#pos-sqm dd table {
width:288px;
}
#pos-sqm dd tr.space td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/sqm_bg.gif) repeat-x scroll left center;
height:13px;
}
#centerbox {
margin-bottom:10px;
}
#centerbox table {
margin:0 auto;
}
.error-text {
background-color:#FFFFAA;
border:1px solid #FFCCCC;
color:#FF0000;
font-size:140%;
font-weight:bold;
margin-bottom:15px;
padding:7px 8px 3px;
}
.error-text p {
margin-bottom:3px;
}
.error-text ul {
margin-left:30px;
}
.error-text li {
list-style-type:disc;
margin-bottom:3px;
}
.alert {
color:#FF0000;
font-size:140%;
font-weight:bold;
margin-bottom:16px;
}
.bold-text {
font-weight:bold;
}
div.yjstdPlug {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
border:3px double #DDDDDD;
margin-bottom:10px;
min-height:16px;
padding:0.5em;
}
div.yjstdPlug p {
margin:0;
padding:0;
}
div.yjstdPlug img {
border:0 none;
height:31px;
width:88px;
}
div.yjstdPlug img.ydc {
border:0 none;
height:33px;
width:230px;
}
div.yjstdPlug img.ydc1 {
border:0 none;
height:33px;
width:150px;
}
div.yjstdPlug div.yjstdIcnH {
float:right;
}
div.yjstdPlug div.yjstdIcnH img {
margin-left:0.5em;
}
div.yjstdPlug .yjstdIcnV {
text-align:center;
}
div.yjstdPlug .yjstdIcnV img {
margin:0 0.25em 0.25em;
}
.yjstdPlug:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
.yjstdPlug {
display:inline-block;
}
.yjstdPlug {
display:block;
}


/*----------------------------------area.css-------------------------------*/
ul.nav-page {
background-color:#EAF4B3;
border:1px solid #CCCCCC;
margin-bottom:20px;
padding:8px 10px;
}
ul.nav-page li {
display:inline;
margin-right:20px;
}
ul.nav-page li img {
margin-right:3px;
vertical-align:middle;
}
#main legend {
display:none;
}
:first-child + html #main input, first-child + html #sub input {
margin-left:-3px;
}
html > body #main input, html > body #sub input {
margin-right:3px;
}
#main label, #sub label {
cursor:pointer;
}
html:first-child #main label, html:first-child #sub label {
cursor:default;
}
h1 {
font-size:x-small;
line-height:1;
margin-bottom:4px;
margin-top:-1.3em;
text-align:right;
}
#new-title {
background-color:#309B31;
padding:4px;
}
#new-title p {
color:#FFFFFF;
float:left;
line-height:1;
margin:5px;
}
#new-title ul {
float:right;
}
#new-title li {
display:inline;
}
#new-title li img {
line-height:1;
margin-left:5px;
vertical-align:bottom;
}
#my-list {
background-color:#EAF4B3;
border-bottom:medium none #DEE8A5;
margin-bottom:6px;
padding:4px 0 4px 10px;
}
#my-list dl {
float:right;
}
#my-list dt {
display:inline;
font-weight:bold;
}
#my-list dd {
display:inline;
}
#my-list ul {
display:inline;
}
#my-list li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg.gif) no-repeat scroll left center;
display:inline;
margin-right:10px;
padding-left:14px;
}
#lead {
margin-bottom:16px;
}
#lead h2 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#676767 url(../images/titlebg11.gif) no-repeat scroll 0 0;
border-bottom:5px solid #C8DE35;
margin-bottom:4px;
padding:7px 10px;
}
#lead h2 img {
vertical-align:bottom;
}
#lead p {
padding-left:10px;
}
#choose {
margin-bottom:20px;
}
#choose h3 {
margin-bottom:10px;
}
#choose h3 img {
vertical-align:bottom;
}
.ch-content {
margin:0 0 16px 10px;
}
.ch-content h4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E8F4B4 url(../images/titlebg14.gif) no-repeat scroll 10px center;
border:1px solid #CCCCCC;
font-size:120%;
font-weight:bold;
line-height:1;
margin-bottom:8px;
padding:6px 10px 6px 23px;
}
.ch-content dl {
border-bottom:1px dashed #CCCCCC;
margin-bottom:8px;
padding-bottom:8px;
}
.ch-content dl.end {
border-bottom:medium none;
}
.ch-content dt {
font-size:110%;
font-weight:bold;
margin-bottom:4px;
padding-left:10px;
}
.ch-content ul {
line-height:1.8;
padding-left:20px;
}
.ch-content li {
float:left;
margin-right:4px;
width:142px;
}
.ch-content li a {
font-size:105%;
}
#choose ul.search {
margin:0 0 20px 10px;
text-align:center;
}
#choose ul.search li img {
vertical-align:bottom;
}
#choose dl.nav {
border-top:1px dashed #CCCCCC;
margin-left:10px;
padding-top:8px;
}
#choose dl.nav dt {
float:left;
font-weight:bold;
width:9.5em;
}
#choose dl.nav dd {
margin-left:9.5em;
}
#choose2 {
margin-bottom:20px;
}
#choose2 h3 {
margin-bottom:10px;
}
#choose2 h3 img {
vertical-align:bottom;
}
#ch2-basic {
margin:0 0 16px 10px;
}
#ch2-basic h4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(../images/titlebg14.gif) no-repeat scroll left center;
font-size:120%;
font-weight:bold;
margin-bottom:6px;
padding-left:13px;
}
#ch2-basic table {
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
border-top:1px solid #CCCCCC;
width:623px;
}
#ch2-basic caption {
display:none;
}
#ch2-basic th {
background-color:#E8F0B4;
border-bottom:1px solid #C9D76B;
border-right:1px solid #CCCCCC;
font-size:110%;
font-weight:bold;
padding:6px;
text-align:left;
vertical-align:top;
width:33%;
}
#ch2-basic td {
border-bottom:1px solid #CCCCCC;
padding:6px 10px;
text-align:left;
vertical-align:top;
width:67%;
}
#ch2-basic td p {
float:left;
margin-right:12px;
}
#ch2-basic td ul {
float:left;
}
#ch2-basic td li {
float:left;
margin-right:8px;
white-space:nowrap;
}
html:first-child #ch2-basic td p, html:first-child #ch2-basic td ul, html:first-child #ch2-basic td li {
display:inline;
float:none;
}
body:first-of-type #ch2-basic td p, body:first-of-type #ch2-basic td ul, body:first-of-type #ch2-basic td li {
display:inline;
float:none;
}
#ch2-cd {
margin:0 0 16px 10px;
}
#ch2-cd-title {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(../images/titlebg14.gif) no-repeat scroll left center;
margin-bottom:6px;
padding-left:13px;
}
#ch2-cd-title h4 {
float:left;
font-size:120%;
font-weight:bold;
}
#ch2-cd-title ul {
float:right;
}
#ch2-cd-title ul li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg3.gif) no-repeat scroll left center;
padding-left:10px;
}
#ch2-cd table {
border-left:1px solid #CCCCCC;
border-top:1px solid #CCCCCC;
margin-bottom:8px;
width:623px;
}
#ch2-cd caption {
display:none;
}
#ch2-cd th {
background-color:#E8F0B4;
border-bottom:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
font-size:110%;
font-weight:bold;
padding:6px;
text-align:center;
vertical-align:top;
width:25%;
}
#ch2-cd td {
border-bottom:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
padding:6px;
text-align:left;
vertical-align:top;
}
#ch2-cd td ul {
line-height:1.8;
}
#ch2-cd td li {
padding-left:18px;
position:relative;
}
#ch2-cd td li input {
left:0;
margin-top:0.4em;
position:absolute;
top:0;
}
:first-child + html #ch2-cd td li input {
margin-top:-0.3em;
}
#cd-switch, #cd-switch-off {
margin:0 0 8px 10px;
}
#cd-switch img, #cd-switch-off img {
margin-right:3px;
vertical-align:middle;
}
#cd-more {
border:1px solid #CCCCCC;
}
#cd-more dt {
display:none;
}
#cd-more dd {
border-top:5px solid #E8F0B4;
padding:8px 3px;
}
#cd-more dd ul {
}
#cd-more dd li {
float:left;
line-height:1.8;
margin-left:3px;
width:200px;
}
#ch2-key {
margin:0 0 16px 10px;
}
#ch2-key h4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(../images/titlebg14.gif) no-repeat scroll left center;
font-size:120%;
font-weight:bold;
margin-bottom:6px;
padding-left:13px;
}
#ch2-key dl {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/contentbg16.gif) repeat-y scroll left center;
border:1px solid #CCCCCC;
padding-left:8px;
}
#ch2-key dt {
float:left;
font-size:110%;
font-weight:bold;
padding:8px 0;
width:82px;
}
#ch2-key dd {
margin-left:96px;
padding:6px;
}
#ch2-key dd .ex {
color:#999999;
padding-left:24px;
}
#ch2-key dd .text {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/contentbg15.gif) no-repeat scroll left center;
padding-left:24px;
}
#ch2-key dd .text input {
width:430px;
}
#choose2 ul.search {
margin:0 0 20px 10px;
text-align:center;
}
#choose2 ul.search li img {
vertical-align:bottom;
}
#new-nav {
margin-bottom:20px;
}
#new-nav a {
white-space:nowrap;
}
#new-nav span.current {
font-weight:bold;
white-space:nowrap;
}
#new-nav dl {
}
#new-nav dt {
float:left;
font-weight:bold;
}
#new-nav dl.area {
border-bottom:1px dashed #CCCCCC;
margin-bottom:8px;
padding:0 11px 8px;
}
#new-nav dl.area dt {
width:8.2em;
}
#new-nav dl.area dd {
margin-left:8.2em;
}
#new-nav dl.other {
padding:0 11px 8px;
}
#new-nav dl.other dt {
width:5.2em;
}
#new-nav dl.other dd {
margin-left:5.2em;
}
#new-nav p {
background-color:#EAF4B3;
border:1px solid #CCCCCC;
margin-bottom:8px;
padding:8px 10px;
}
#my {
background-color:#F2F2F2;
border:1px solid #CCCCCC;
margin-bottom:15px;
}
#my h3 {
background-color:#795856;
color:#FFFFFF;
font-weight:bold;
padding:4px 6px;
text-align:center;
}
#my-logout {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(../images/contentbg21.gif) repeat-x scroll 0 0;
padding:10px 7px 10px 6px;
}
#my-logout h4 {
margin-bottom:4px;
}
#my-logout h4 img {
vertical-align:bottom;
}
#my-logout p {
color:#77382D;
font-size:110%;
font-weight:bold;
margin:0 3px 6px 4px;
}
#my-logout ul.list {
margin:0 3px 8px 8px;
}
#my-logout ul.list li img {
margin-right:5px;
vertical-align:middle;
}
#my-logout dl {
background-color:#FCF2EA;
border:1px solid #CAAD8D;
margin:0 3px 8px 4px;
padding:8px;
}
#my-logout dt {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg9.gif) no-repeat scroll left 0.3em;
color:#77382D;
font-weight:bold;
margin-bottom:4px;
padding-left:12px;
}
#my-logout dd li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg8.gif) no-repeat scroll left center;
padding-left:15px;
}
#my-login {
margin:10px;
}
#my dl.update {
background-color:#FEFEFE;
border:1px solid #CAAD8D;
margin-bottom:10px;
padding:6px;
}
#my dl.update dt {
color:#F36D00;
font-weight:bold;
margin-bottom:4px;
}
#my dl.update li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg7.gif) no-repeat scroll left 0.5em;
padding-left:9px;
}
#my dl.hist {
margin-bottom:10px;
padding:0 10px;
}
#my dl.hist dt {
font-weight:bold;
margin-bottom:4px;
}
#my dl.hist li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg7.gif) no-repeat scroll left 0.5em;
padding-left:9px;
}
#my dl.view {
margin-bottom:10px;
padding:0 10px;
}
#my dl.view dt {
font-weight:bold;
margin-bottom:4px;
}
s #my dl.view ul {
}
#my dl.view li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg7.gif) no-repeat scroll left 0.5em;
float:left;
padding-left:9px;
}
#my dl.view li.list-1 {
width:95px;
}
#my dl.view li.list-2 {
width:75px;
}
#my dl.view li.list-3 {
width:55px;
}
#my ul li.view {
margin-bottom:6px;
text-align:center;
}
#my ul li.view img {
vertical-align:bottom;
}
#my ul li.help {
text-align:right;
}
#my ul li.help img {
margin-left:3px;
vertical-align:middle;
}
#ranking {
background-color:#F2F2F2;
border:1px solid #CCCCCC;
margin-bottom:15px;
}
#ranking h3 {
background-color:#898989;
color:#FFFFFF;
font-weight:bold;
margin-bottom:10px;
padding:4px 0;
text-align:center;
}
#ranking h3 img {
margin-left:3px;
vertical-align:middle;
}
#ranking h4 {
margin:0 12px 6px 11px;
}
#ranking ul {
margin:0 16px 0 13px;
}
#ranking ul li {
border-bottom:1px dashed #CCCCCC;
margin-bottom:6px;
padding-bottom:6px;
}
#ranking ul li img {
margin-right:8px;
vertical-align:middle;
}
#ranking ul li.bold a {
font-weight:bold;
}
#ranking ul li.end {
border-bottom:medium none;
margin-bottom:16px;
padding-bottom:0;
}
#ranking dl {
border-bottom:1px dashed #CCCCCC;
margin:0 16px 6px 13px;
padding-bottom:6px;
}
#ranking dl.end {
border-bottom:medium none;
margin-bottom:0;
}
#ranking dt {
float:left;
margin-bottom:4px;
width:41px;
}
#ranking dt img {
margin-right:0;
vertical-align:bottom;
}
#ranking dd.summary {
float:right;
width:220px;
}
#ranking dd.summary a {
margin-bottom:4px;
}
#ranking dd.summary.bold a {
font-weight:bold;
}
#ranking dd.img {
float:left;
text-align:center;
width:40px;
}
#ranking p.cap-tex {
margin:0 0 6px;
padding:0 12px;
text-align:left;
}
#data {
background-color:#F2F2F2;
border:1px solid #CCCCCC;
margin-bottom:15px;
}
#data h3 {
background-color:#898989;
color:#FFFFFF;
font-weight:bold;
margin-bottom:10px;
padding:4px 6px;
text-align:center;
}
#d-switch {
margin:0 10px 10px;
}
#d-switch p {
margin-bottom:4px;
}
#d-switch li {
display:inline;
margin-right:4px;
}
#d-graph {
margin:0 10px 10px 9px;
}
#d-graph p.right {
text-align:right;
}
#data ul.more {
margin:0 10px;
padding-bottom:10px;
}
#data ul.more li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg3.gif) no-repeat scroll left center;
float:right;
padding-left:10px;
}
#guide {
border:1px solid #CCCCCC;
margin-bottom:15px;
}
#guide h3 {
background-color:#D5D5D5;
font-weight:bold;
margin-bottom:10px;
padding:4px 6px;
text-align:center;
}
#guide ul {
margin:0 10px;
}
#guide li {
margin-bottom:10px;
}
#guide li img {
vertical-align:bottom;
}
#my-list:after, #new-title:after, .ch-content ul:after, #cd-more dd ul:after, #ranking dl:after, #data ul.more:after, #my dl.view ul:after, #new-nav dl:after, #ch2-cd-title:after, #my-logout ul.list:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
#my-list, #new-title, .ch-content ul, #cd-more dd ul, #ranking dl, #data ul.more, #my dl.view ul, #new-nav dl, #ch2-cd-title, #my-logout ul.list {
display:inline-block;
}

/*---------------------------------------------------------*/