.form-inline .table-bordered>tbody>tr>td.form-label {
    width: 10%;
}
.form-inline .table-bordered>tbody>tr>td {
    width: 23.3333%;
}
/*表体科目*/
.table-bordered.subject>thead{
    background: #acd7ff;
    text-align: center;
    color: #333;
}
.mrb-none{
    margin-bottom: 0;
}
.table-bordered.subject{
    border-top: none;
}
.table-bordered.subject>tbody>tr:nth-child(1)>td{
    border-top: none;
}

.subject_box{
    overflow: auto;
}
.table-bordered.subject>thead>tr>td{
    border:none;
    height: 45px;
    line-height: 45px;
    padding: 0;

}
.table-bordered.subject>tbody>tr>td{
    width: auto;
    height: 36px;
    text-align: center;
}

/*流程检索*/
.pr{
    position: relative;
}
.flow-header{
    height: 134px;
    background: #F0F8FF;
    box-shadow: 0 1px 0 0 #DCF0FF;
    margin-top: 60px;
}
.flow-header .input-group{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}
.flow-header .senior-box .input-group{
    width: auto;
}
.flow-header .flow-tab{
    height: 52px;
    line-height: 52px;
}
.flow-header .flow-tab a{
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}
.flow-header .flow-tab .senior-a{
    color: #46A7FF;
    cursor: pointer;
}
.flow-header .flow-tab a.active{
    border-bottom: 2px solid #46A7FF;
    color: #46A7FF;
    text-decoration: none;
}
.flow-header .flow-tab a:hover{
    color: #46A7FF;
}
.flow-header input{
    background: #FFFFFF;
    border: 1px solid #DBEFFF;
    border-radius: 4px;
    height: 40px;
    text-indent: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
}
.flow-header .flow-search{
    position: absolute;
    right: 20px;
    top: 14px;
    color: #46A7FF;
    font-size: 16px;
    z-index: 88;
    cursor: pointer;
}
.senior-box{
    width: 278px;
    height: 295px;
    position: absolute;
    background: #F0F8FF;
    border: 1px solid #E5F3FF;
    box-shadow: 0 2px 6px 0 #E8F4FF;
    border-radius: 0 0 4px 4px;
    padding: 20px 15px;
    border-top:none;
    display: none;
    right: 14px;
    z-index: 88;
}
.senior-box .form-group{
    margin-bottom: 20px;
    line-height: 28px;
    padding-bottom: 0;
}
.senior-box label{
    width: 50px;
    text-align: right;
    color: #666;
    margin-right: 8px;
    display: inline-block;
    height: 28px;
}
.senior-box input, .senior-box .input{
    background: #FFFFFF;
    border: 1px solid #DCEFFF;
    border-radius: 4px;
    height: 28px;
    width: 178px;
    line-height: 28px;
    text-indent: 5px;
    font-size: 12px;
}
.senior-box .my-calender{
    color: #A9D6FF;
   /* position: absolute;
    right: 10px;
    top: 9px;
    z-index: 88;*/
}
.senior-box .my-remove{
    color: #A9D6FF;
    font-size: 14px;
   /* position: absolute;
    right: 28px;
    top: 8px;*/
    cursor: pointer;
}
.senior-box .mydate{
    width: auto;
    display: inline-block;
}
.senior-box .datetimepicker-inline{
    position: absolute;
    z-index: 90;
    background: #fff;
}
.flow-header .senior-s i{
    color: #46A7FF;
    font-size: 16px;
    z-index: 88;
    cursor: pointer;
}
.senior-box .senior-s{
    text-align: right;
    height: 18px;
    line-height: 18px;
}
.list-box{
    padding: 30px 0;
}
.list-box .tit-num{
    color: #999;
}
.list-box .tit-num .order{
    cursor: pointer;
}
.list-box .tit-num .order:hover,.list-box .tit-num .order.active{
    color: #46A7FF;
}
.list-box .tit-num ul{
    background: #fff;
    width: 92px;
    height: auto;
    border: 1px solid #F0F0F0;
    box-shadow: 0 1px 6px 0 #F1F1F1;
    border-radius: 4px;
    min-width: 92px;
    padding: 3px 0;
    right: 0px;
    top: 20px;
    border-top: none;
    left: initial;
}
.dropdown-menu {

}
.list-box .tit-num ul li.active,.list-box .tit-num ul li:hover{
    background: #F0F8FF;
}
.list-box .tit-num ul li{
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;

}
.dropdown-menu>li>a{
    padding: 0;
    line-height: 28px;
    color: #666;
}
.dropdown-menu>li>a:hover{
    background: #F0F8FF;
}
.cont-box{
    overflow: hidden;
}
.cont-box .item{
    padding-top:25px;
}
.cont-box .item .tit a{
    font-size: 14px;
    color: #46A7FF;
    text-decoration:underline;
    line-height: 20px;
}
.cont-box .item .file{
    margin-bottom: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
}
.cont-box .item .file .tit{
    color: #46A7FF;
    margin: 0;
    margin-right: 10px;
}
.cont-box .item .file span{
    margin-right: 10px;
    text-decoration: underline;
    color: #999;
    cursor: pointer;
}
.cont-box .item .file span.hit{
    margin:0px;
    color: red;
}
.cont-box .item .tit a:hover{
    font-weight: bold;
}
.cont-box .item .con{
    font-size: 12px;
    color: #2A2A2A;
    line-height: 16px;
    margin:8px 0;
}
.cont-box .item .hit{
    color: red;
}
.cont-box .item .foot,.cont-box .item .foot label{
    color: #999999;
}
.cont-box .item .foot label{
    margin:0;
}
.cont-box .item .foot span{
    margin-right: 20px;
}
.cont-box .item .foot a.active,.cont-box .item .foot a:hover
{
    color:#46A7FF;
    text-decoration: underline;
}
.cont-box .item .foot a{
    cursor: pointer;
    color: #999;
}

.page{
    text-align: center;
    margin:40px 0;
}
.page a{
    display: inline-block;
    margin:0 5px;
    padding: 0 5px;
}
.page a.active{
    text-decoration: underline;
    color: #46A7FF;
}
.page .pageevery{
    position: absolute;
    right: 0;
    top: -7px;
    color: #999;
}
.page .pageevery select.form-control{
    display: inline-block;
    width: 60px;
    color: #46A7FF;
}
.caret{
    margin-left:5px;
}