@CHARSET "UTF-8";
/*= Reset =*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
blockquote,
th,
td,
figure {
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

fieldset,
img {
	border: 0;
}

ul li {
	list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	font: normal 14px/24px "Helvetica Neue", Helvetica, STheiti, "Microsoft Yahei", 宋体, Arial, Tahoma, sans-serif, serif;
	word-wrap: break-word;
}

input,
button,
textarea,
select,
option,
optiongroup {
	font-family: inherit;
	font-size: inherit;
}

code,
pre {
	font-family: "Microsoft YaHei", Consolas, "Courier New", monospace;
}

.bw0 {
	border: none !important;
}

*:focus {
	outline: 0;
}

legend {
	color: #000;
}

input,
select {
	vertical-align: middle;
}

button {
	overflow: visible;
}

input.button,
button {
	cursor: pointer;
}

button,
input,
select,
textarea {
	margin: 0;
}

textarea {
	overflow: auto;
	resize: none;
}

label[for],
input[type="button"],
input[type="submit"],
input[type="reset"] {
	cursor: pointer;
}

input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #1C3D72
}

img {
	-ms-interpolation-mode: bicubic;
}


/* new clearfix */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.hidden {
	display: none;
}

.last {
	border-bottom: none !important;
}

.pass {

}

.current {
}

.waiting {
}

.jiao_pass {

}

.jiao_current {

}

.jiao_waiting {

}
/*= Reset =*/
.dian_pass {
	background: url('../myimg/sp_ok.png') 0px 10px no-repeat;
}
.dian_current {
	background: url('../myimg/ex_ing_small.png') 0px 10px no-repeat;
}

.dian_waiting {
	background: url('../myimg/todo.png') 0px 10px no-repeat;
}


.event_list {
	width: 100%;
	float: right;
	background: url('../myimg/dian3.png') 8px 10px repeat-y;
	margin: 0.666rem 0 1.333rem 0;
}

@media screen and (width: 768px){
	.dian_pass {
		background: url('../myimg/sp_ok@2x.png') 0px 32px no-repeat;
	}
	.dian_current {
		background: url('../myimg/sp_now@2x.png') 0px 32px no-repeat;
	}

	.dian_waiting {
		background: url('../myimg/sp_next@2x.png') 0px 32px no-repeat;
	}
	.event_list {
		background: url('../myimg/dian3.png') 16px 10px repeat-y;
	}
}
@media screen and (width: 1024px){
	.dian_pass {
		background: url('../myimg/sp_ok@3x.png') 0px 42px no-repeat;
	}
	.dian_current {
		background: url('../myimg/sp_now@3x.png') 0px 42px no-repeat;
	}

	.dian_waiting {
		background: url('../myimg/sp_next@3x.png') 0px 42px no-repeat;
	}
	.event_list {
		background: url('../myimg/dian3.png') 26px 10px repeat-y;
	}
}




.spcontent {
	width: 100%;
}

.event_list li span {
	text-align: right;
	display: block;
	float: left;
	margin-top: 10px;
}

.event_list li p {
	width: 17rem;
	margin-left: 2.6rem;
	display: inline-block;
	/* padding-left: 0.666rem; */
	line-height: 1.666rem;
	border-bottom: 1px solid #ebebeb;
	padding: 0.666rem 0;
}

.event_list li p span {
	text-align: left;
	font-size: 1rem;
	color: #313131;
	margin: 0;
	margin-top: -2px;
	/* width: 35%;  */
}
.event_list li p span.info{
	font-size: 0.9333rem;
	color: #999999;
	letter-spacing: 0;
	line-height: 1.333rem;
	float: right;
	margin: 0;
	width: 65%;
}
.event_list li p span label{
	color: #17C295;
}
.event_list li p span.waiting label{
	color: #bbb;
}
.event_list li.dian_current p span label{
	color: #F6A623;
}
.event_list li.dian_dahui p span label{
	color: #F24848;
}
.event_list li:nth-child(1) p{

}