<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.base.entity.BaseDataDictionaryItem">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.base.entity.BaseDataDictionaryItem">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.base.entity.BaseDataDictionaryItem">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.base.entity.BaseDataDictionaryItem">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="getBaseDataDictionaryItemList" resultType="com.xinleju.platform.sys.base.dto.BaseDataDictionaryItemDto" parameterType="java.lang.String">
	 select 
	  id as id ,
           create_date as  createDate,
           update_date as updateDate,
           create_person_id as createPersonId,
           create_person_name as createPersonName,
           update_person_id as updatePersonId,
           update_person_name as updatePersonName,
            create_org_id as createOrgId,
            create_org_name as createOrgName,
            create_company_id as createCompanyId,
            create_company_name as createCompanyName,
            concurrency_version as concurrencyVersion,
           delflag as delflag,
           name as name,
           parent_id as parentId,
           val as val 
          from pt_sys_base_data_dictionary_item where parent_id=#{parameter} and delflag=false
	</select>
</mapper>