<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.base.entity.BaseCorporation">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.base.entity.BaseCorporation">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.base.entity.BaseCorporation">
		${value}
	</select>
	<select id="queryPageList" resultType="com.xinleju.platform.sys.base.entity.BaseCorporation" >
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="getBaseCorporationList" resultType="java.util.Map" parameterType="java.util.HashMap">
		SELECT 
		t.id   as id,
    t.name  as name,
    t.code  as code,
    t.province_id as provinceId,
		t.city_id  as cityId,
    t.representative as representative,
    t.remark as remark,
    t.disabled_id as disabledId,
    t.disabled_date as disabledDate,
    t.status as status,
		t.company_id as companyId,
		t.remark as remark,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag as delflag,
	    c.name as companyName,
	    r.name as provinceName,
	    rt.name as cityName
		 from  pt_sys_base_corporation t LEFT JOIN  pt_sys_org_orgnazation  c ON  t.company_id=c.id
	     LEFT JOIN pt_sys_base_region r ON r.id=t.province_id
	    LEFT JOIN pt_sys_base_region rt ON rt.id=t.city_id where t.delflag=0
        <if test="name!=null and name!='' ">     
          and  t.name like  CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="companyname!=null and companyname!='' ">     
          and  t.company_id =#{companyname}
        </if>
        <if test="provicename!=null and provicename!='' ">     
          and  t.province_id =#{provicename}
        </if>
           order by t.create_date desc
           limit #{start},#{limit}
	</select>
	
		<!-- 获取分页根据Map查询 -->
	<select id="getBaseCorporationCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		SELECT count(t.id)
		 from  pt_sys_base_corporation t LEFT JOIN  pt_sys_org_orgnazation  c ON  t.company_id=c.id
	     LEFT JOIN pt_sys_base_region r ON r.id=t.province_id
	    LEFT JOIN pt_sys_base_region rt ON rt.id=t.city_id where t.delflag=0
        <if test="name!=null and name!='' ">     
          and  t.name like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="companyname!=null and companyname!='' ">     
          and  t.company_id =#{companyname}
        </if>
        <if test="provicename!=null and provicename!='' ">     
          and  t.province_id =#{provicename}
        </if>
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	   <update id="deletePseudoAllObjectByIds">
		${value}
	</update>
</mapper>