<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.content.entity.ContentRowAttribute">
    <!-- 新增 -->
    <insert id="save">
		${value}
	</insert>
    <!-- 修改根据Id -->
    <update id="update">
		${value}
	</update>
    <!-- 伪删除根据Id -->
    <update id="deletePseudoObjectById">
        ${value}
    </update>
    <!-- 批量伪删除根据Id -->
    <update id="deletePseudoAllObjectByIds">
        ${value}
    </update>
    <!-- 删除根据Id -->
    <delete id="deleteById">
		${value}
	</delete>
    <!-- 批量删除根据Id -->
    <delete id="deleteBatchByIds">
		${value}
	</delete>
    <!-- 获取单个对象，根据Id-->
    <select id="get" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute">
		${value}
	</select>
    <!-- 获取列表根据Map查询 -->
    <select id="queryList" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute">
		${value}

		ORDER BY sort_num ASC
	</select>
    <!-- 获取分页根据Map查询  -->
    <select id="queryPageList" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute">
		${value}
	</select>
    <!-- 获取总记录数 -->
    <select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>

    <!--条件查询获取分页数据-->
    <select id="queryObjectsByPage" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute">
		${value}
	</select>

    <!--条件查询获取分页数据总记录数-->
    <select id="queryObjectsCountByPage" resultType="java.lang.Integer">
		${value}
	</select>


    <!-- 过滤分页查询 -->
    <select id="getContentRowAttributePage" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute"
            parameterType="java.util.Map">
        SELECT
        t.id,
        t.create_person_id as createPersonId,
        t.create_person_name as createPersonName,
        t.create_org_id as createOrgId,
        t.create_org_name as createOrgName,
        t.create_company_id as createCompanyId,
        t.create_company_name as createCompanyName,
        t.create_date as createDate,
        t.update_person_id as updatePersonId,
        t.update_person_name as updatePersonName,
        t.update_date as updateDate,
        t.delflag as delflag,
        t.concurrency_version as concurrencyVersion,
        t.field_name as fieldName,
        t.field_code as fieldCode,
        t.view_name as viewName,
        t.content_type_id as contentTypeId,
        t.form_type as formType,
        t.sort_num as sortNum,
        t.column_width as columnWidth,
        t.process_variable as processVariable,
        t.is_required as isRequired,
        t.is_list_view as isListView,
        t.is_form_view as isFormView,
        t.is_entire_row as isEntireRow,
        t.is_extended_field as isExtendedField,
        t.is_readonly as isReadonly,
        t.search_type as searchType,
        t.is_using as isUsing
        FROM
        oa_content_row_attribute t where t.delflag=0
        <if test="contentTypeId != null and contentTypeId !=''">
            AND t.content_type_id = #{contentTypeId,jdbcType=VARCHAR}
        </if>
        <choose>
            <when test="code != null and code !=''">
                and (t.field_code like CONCAT(CONCAT('%',#{code}),'%')
                or t.field_name like CONCAT(CONCAT('%',#{filedName}),'%')
                )
            </when>
        </choose>
        ORDER BY t.sort_num ASC
        <choose>
            <when test="start!=null and start!='' and limit!=null and limit!=''">
                limit #{start},#{limit}
            </when>
        </choose>
    </select>

    <!-- 过滤查询条数 -->
    <select id="getContentRowAttributeCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(t.id)
        FROM
        oa_content_row_attribute t where t.delflag=0
        <if test="contentTypeId != null and contentTypeId !=''">
            AND t.content_type_id = #{contentTypeId,jdbcType=VARCHAR}
        </if>
        <choose>
            <when test="code != null and code !=''">
                and (t.field_code like CONCAT(CONCAT('%',#{code}),'%')
                or t.field_name like CONCAT(CONCAT('%',#{filedName}),'%')
                )
            </when>
        </choose>
    </select>

    <select id="querySearchAttrList" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute"
            parameterType="java.util.Map">
        SELECT
        t.id,
        t.create_person_id as createPersonId,
        t.create_person_name as createPersonName,
        t.create_org_id as createOrgId,
        t.create_org_name as createOrgName,
        t.create_company_id as createCompanyId,
        t.create_company_name as createCompanyName,
        t.create_date as createDate,
        t.update_person_id as updatePersonId,
        t.update_person_name as updatePersonName,
        t.update_date as updateDate,
        t.delflag as delflag,
        t.concurrency_version as concurrencyVersion,
        t.field_name as fieldName,
        t.field_code as fieldCode,
        t.view_name as viewName,
        t.content_type_id as contentTypeId,
        t.form_type as formType,
        t.sort_num as sortNum,
        t.column_width as columnWidth,
        t.process_variable as processVariable,
        t.is_required as isRequired,
        t.is_list_view as isListView,
        t.is_form_view as isFormView,
        t.is_entire_row as isEntireRow,
        t.is_extended_field as isExtendedField,
        t.is_readonly as isReadonly,
        t.search_type as searchType,
        t.is_using as isUsing
        from oa_content_row_attribute t
        where
        t.delflag = 0
        and t.is_using = 1
        and t.content_type_id= #{contentTypeId}
        <if test="searchType!=null and searchType !=''">
            and t.searchType = #{searchType}
        </if>
        <if test="isFormView!=null">
            AND t.is_form_view = #{isFormView}
        </if>
        ORDER BY t.sort_num
    </select>


</mapper>