.span_t{
    float:left;
    display:block;
    margin-right: 8px;
}
.radio_group{
    float:left;
}
.time_1{
    float:left;
    /*margin-top: 10px;*/
    margin-left: 3px;
}
.glyphicon.addLeft{
    left:-14px;
}
.btn-query{
    margin-bottom:4px;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    height:40px;
    padding-top:10px;
}
.user-list{
    background-color: #F5F5F5;
} 
.right-content .con-tit{
    background-color: #fff;
}
.btn-dim{
    text-align: center;
}
.btn-dim i{
    margin-left: 0;
    color: #fff;
}
.right-content .con-tit button.btn-dim:hover{
    background: #46A7FF;
}
.right-content .con-tit button.btn-dim{
    padding: 0;
    margin-top: -3px;
}

 .ui-state-default, .ui-widget-content .ui-state-default{
    height: 40px;
    color: #333;
    padding-top: 8px;
}
.w100{
	width:100%;
}
 .flow .oporate-con div.float-none{
 float:none;}
 .time_1{
 margin-right:8px;}
 @media screen and (min-width: 1700px){
     .w12{
         width: 12%;
     }
 }
 @media screen and (max-width: 1700px) and (min-width: 1400px) {
     .w12{
         width: 15%;
     }
 }
 @media screen and (max-width: 1400px) and (min-width: 1250px) {
     .w12{
         width: 17%;
     }
 }
 @media screen and (max-width: 1250px) and (min-width: 1170px) {
     .w12{
         width: 18%;
     }
 }
 @media screen and (max-width: 1170px) {
     .w12{
         width: 19%;
     }
 }
.condition-con .table-bordered>tbody>tr>td {
    border: 1px dotted #E1E1E1;
    color: #333;
    font-size: 12px;
    width: 24%;
}
.condition-con .table-bordered>tbody>tr>td.form-label label{
    white-space: nowrap;
}
.right-content .con-tit{
    text-indent: 0;
}
.dao {
    float: left;
    margin: 0 5px;
    margin-top: 5px;
}
.right-content .con-tit button.btn-search{
    color: #fff;
    padding: 0;
}
.btn-search:hover,.btn-adv:hover{
    background-color: #228EF0!important;
    color: #fff!important;
}
.right-content .con-tit button.resetForm:hover {
    background-image: url(../../common/img/erp_clear_hov.png);
    background-size: 28px 28px;
}