@charset "utf-8";
/* CSS Document */
@import url(common.css);
/*bmain*/
#main{ width:1003px; margin:0px auto; background:#FFF;}
.bmain{width:963px; padding: 20px; margin:0 auto; height:auto; background:#ffffff;}
	/*place*/
	.place{ height:30px; clear:both;}
	.place dd{ width:auto; float:left; font-size:15px; color:#368E9D; font-weight:bold; padding-top:5px;}
	.place dt{ width:auto; float:right; color:#FF6600; font-size:12px;}
	.place dt a{ padding:0px 5px; font-size:12px;}
	/*content*/
	#content{ /*background: url(../images/contentbg.jpg) repeat-y center center;*/border:1px solid #cccccc; border-top:2px #194A59 solid; }
	#content .btop{ /*background:url(../images/contentt.gif) no-repeat center top; height:auto!important;*/  min-height:420px;height:420px; height:auto !important; padding-bottom:10px;}
	#content .bbottom{ height:100%; /*background:url(../images/contentb.jpg) no-repeat center bottom;*/}
	#content .bbottom2{ height:100%; /*background:url(../images/contentb2.jpg) no-repeat center bottom;*/} 
	
	#content .contnet{ width:903px; margin:0px auto; padding:15px 0px 10px 0px;}
	#content .contnet td{ border-bottom:1px dashed #90B9BB; padding:8px 10px; text-align:left; font-size:14px;line-height: 30px}
	#content .contnet td span{  display:-moz-inline-box; display:inline-block; width:210px; text-align: right; }
	#content .contnet input[type=text]{ width:200px;  }
	#content .contnet select{ width:205px;}
	#content .contnet .selectw1{ width:80px;}
	#content .contnet .selectw2{ width:205px;}
	.contnet .selectw1{ width:80px;}
	.contnet .selectw2{ width:205px;}
	.contnet span{color:#368E9D; }
	.contnet .model span{ width:70px; float:left;}
	.contnet .model dl{ width:590px; float:left;}
	.contnet .model dd{ float:left; color:#368E9D; height:22px;}
	.contnet .model .wtd1{ width:23%;}
	.contnet .model .wtd2{ width:30%;}
	.contnet .model .wtd3{ width:47%;}
	.contnet .enl{ width:125px; margin-right:10px;}
	#content .prompt{ text-align:left; color:#368E9D;  padding:10px 0px 0px 130px; line-height:25px; width:670px; float:left;} 
	#content .prompt dt{ height:25px; font-weight:bold;}
	/*bbtn*/
	.bbtn{ clear:both; text-align:center; height:55px; padding-top:25px;}
	.bbtn a{ padding:0px 6px; cursor:pointer;}
/*bexplain*/
.bexplain{ width:251px; padding-left:8px; position:relative;float: right;}
	.bexplain .bptop{ height:3px; background:url(../images/explaint.gif) no-repeat center bottom; clear:both; line-height:0px; font-size:0px;}
	.bexplain .bpg{ background:url(../images/explaintbg.gif) repeat-y center center; padding:0px 5px; clear:both; height:auto!important; height:20px; min-height:20px; font-size:12px; text-align:left; line-height:15px;}
	.bexplain .bpbottom{ height:3px; background:url(../images/explaintb.gif) no-repeat center bottom; line-height:0px; font-size:0px;}
	.bexplain .bpen{ position:absolute; height:8px; width:9px; left:0px; top:7px; background:url(../images/explaintline.gif) no-repeat center center;}
/*result*/
.result{ padding:0px 35px;}
	.result h1{ font-size:22px; clear:both; height:52px; padding-top:35px;}
	.result .state{ height:30px; clear:both; padding:0px 10px; font-weight:bold; color:#2E8393;}
	.result .state dd{ width:auto; float:left;}
	.result .state dt{ width:auto; float:right;}
	
	.result table{ border:1px solid #50AAB5; border-collapse:collapse; background:#FFF;}
	.result td{ border:1px solid #50AAB5; padding:12px 0px 12px 30px; text-align:left}
	.result td .blue{color:#368E9D; }
	.result .wtd1{ width:30%;}
	.result .wtd2{ width:34%;}
	.result .wtd2{ width:13%;}
	
	.result dd{ clear:both; line-height:28px;}
	.result .bold{ color:#368E9D; }
	.result h4{ font-size:14px; font-weight:bold; height:30px; padding:15px 0px 0px 30px; text-align:left;color:#368E9D;}
	.result .sbtn{ height:25px; padding-top:20px; text-align:right; clear:both;}
	.result .sbtn a{ padding:0px 5px;}
/*print*/
#print{ background:#FFF;}
.print{ padding:0px 35px;}
	.print h1{ font-size:30px; line-height:30px; clear:both; height:70px; padding-top:35px;}
	.print .state{ height:50px; clear:both; padding:0px 10px; font-weight:bold; color:#2E8393; font-size:25px;}
	.print .state dd{ width:auto; float:left; font-size:22px;}
	.print .state dt{ width:auto; float:right; font-size:22px;}
	.print .state .red{ font-size:22px;}
	.print table{ border:1px solid #50AAB5; border-collapse:collapse; background:#FFF;}
	.print td{ border:1px solid #50AAB5; padding:12px 0px 12px 10px; text-align:left; font-size:20px;}
	.print td .blue{color:#034F5D; font-size:20px; line-height:35px;}
	.print td .red{ font-size:22px;}
	.print .wtd1{ width:38%;}
	.print .wtd2{ width:34%;}
	.print .wtd3{ width:15%;}
	.print .wtd4{ width:35%;}
	.print .wtd5{ width:47%;}
	.print dd{ clear:both; line-height:28px; font-size:20px;}
	.print .bold{ color:#034F5D;  font-size:20px;}
	.print h4{ font-size:22px; font-weight:bold; height:30px; padding:10px 0px 0px 30px; text-align:left;color:#368E9D;}
	.print .sbtn{ height:25px; padding-top:20px; text-align:right; clear:both;}
	.print .sbtn a{ padding:0px 5px;}
/*explain*/
.explain{ padding:25px 50px; text-align:left;}
	.explain h1{ font-weight:normal; color:#368E9D; height:25px;}
	.explain .con{ height:380px; overflow-y:scroll; overflow-x:hidden; border:1px solid #CCC; line-height:21px; background:#FFF; padding:20px;}
	.explain .con p{ text-indent:25px; line-height:30px;}
	.explain .sec{ clear:both; color:#368E9D; font-weight:bold;}
	.explain .sec dd{ height:30px; text-indent:17px;}
	.explain .sec dt{ height:30px; text-indent:42px;}
	.explain .sec dt select{ width:245px;}
	.explain .con h2{ font-size:20px; clear:both; padding:10px 0px; text-align:center;}
	.explain .con h3{ font-size:14px; clear:both; padding:10px 0px; text-align:center;}
	.explain .con dl{ padding:0px 100px; margin:20px 0px;}
	.explain .con dd{ width:50%; float:left; padding:0px; line-height:25px;}
	.explain .date{ text-align:right; padding:20px 0px;}

/*query*/
.query{ padding:20px 120px;}
.term table{ border-bottom:1px dashed #90B9BB; padding:12px 10px; text-align:left; font-size:14px;}
	.term td{ border-bottom:1px dashed #90B9BB; padding:12px 10px; text-align:left;}
	.term span{color:#368E9D; }
	
	.case{ color:#368E9D; clear:both; line-height:30px;}
	.case dd{ width:80px; float:left; text-align:right; font-weight:bold;}
	.case dt{ width:500px; float:left; text-align:left;}
	.case table{ border:1px solid #50AAB5; border-collapse:collapse; background:#FFF;width: 600px}
	.case td{ border:1px solid #50AAB5; padding:0px 0px 0px 10px; text-align:left; line-height:23px; font-size:12px;}
	.case .wtd1{ width:16%;}
	.case .wtd2{ width:34%;}
	
	.case2{ color:#034F5D; clear:both;}
	.case2 dd{ width:105px; float:left; text-align:left; font-weight:bold;font-size: 20px;}
	.case2 dt{ width:730px!important; width:732px; float:right; text-align:left;}
	.case2 table{ border:1px solid #50AAB5; border-collapse:collapse; background:#FFF;}
	.case2 td{ border:1px solid #50AAB5; padding:0px 0px 0px 10px; text-align:left; line-height:30px; font-size:20px;}
	.case2 .wtd1{ width:16%;}
	.case2 .wtd2{ width:34%;}
/*blist*/
.blist{ padding:15px 40px;}
.blist dd{ height:24px; border-bottom:1px dashed #50AAB5; clear:both; padding: 8px 5px 0px 8px;}
.blist dd a{ font-size:12px;}
.blist dd .text{ width:630px; text-overflow:ellipsis; overflow:hidden;white-space: nowrap; text-align:left; float:left; background:url(../images/li1.gif) no-repeat left 8px!important; background:url(../images/li1.gif) no-repeat left 5px;}
.blist dd span{ display:block; float:right; color:#666;}
/*page*/
.page{ height:35px; padding-top:16px; clear:both; text-align:right; color:#333; width:320px; float:right; font-size:12px;}
.page .updown{ background: url(../images/btn/page.gif) no-repeat center bottom; width:50px; height:15px; padding:3px 0px 0px 0px;}
.page a{ font-size:12px; display:block; text-align:center; float:left; padding:2px 5px 1px 5px; border:1px solid #CECECE; margin:0px 2px; background:#fff;}
.page a:link,.page a:visited,.page a:active{ color:#333; text-decoration:none;}
.page a:hover{ color:#368E9D; text-decoration: underline;}
.page div{ font-size:12px; padding:2px 10px 0px 10px; float:left; width:auto;}

/*details*/
.details{ padding:30px;}
.details h1{ font-size:18px; height:40px; clear:both; border-bottom:1px dashed #90B9BB; font-weight:normal;}
.details p{ line-height:25px; text-indent:25px; padding-bottom:15px; text-align:left; font-size:12px;}
/*printfooter*/
#printfooter{ width:903px; margin:0px auto; height:45px; font-size:20px; background:#FFF; color:#000; padding-top:15px; line-height:30px;}

.bungray{ color:#000; font-size:22px;}
a.bungray:link,a.bungray:visited,a.bungray:active{ color:#000; text-decoration: underline; font-size:22px;}
a.bungray:hover{ color:#368E9D; text-decoration: underline;}