<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.sys.entity.SysLinkCenter">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.sys.entity.SysLinkCenter">
		${value}
	</select>
	<select id="getQRcode" resultType="com.xinleju.cloud.oa.sys.entity.SysLinkCenter">
		SELECT
	t.id as id,
	t.code as code,
	t.icon as icon,
	t.state as state,
	t.parent_id as parentId,
	t.parent_name as parentName,
	t.name as name,
	t.sort as sort,
	t.url as url,
	t.type as type,
	t.remark as remark,
	t.concurrency_version,
	t.create_date AS createDate,
	t.update_date AS updateDate,
	t.create_person_id AS createPersonId,
	t.create_person_name AS createPersonName,
	t.update_person_id AS updatePersonId,
	t.update_person_name AS updatePersonName,
	t.create_org_id AS createOrgId,
	t.create_org_name AS createOrgName,
	t.create_company_id AS createCompanyId,
	t.create_company_name AS createCompanyName,
	t.concurrency_version AS concurrencyVersion,
	t.delflag AS delflag
FROM
	oa_sys_link_center t   where t.delflag=0 and t.type=1 and t.state=1
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.sys.entity.SysLinkCenter">
					SELECT
	t.id as id,
	t.code as code,
	t.icon as icon,
	t.state as state,
	t.parent_id as parentId,
	t.parent_name as parentName,
	t.name as name,
	t.sort as sort,
	t.url as url,
	t.type as type,
	t.remark as remark,
	t.concurrency_version,
	t.create_date AS createDate,
	t.update_date AS updateDate,
	t.create_person_id AS createPersonId,
	t.create_person_name AS createPersonName,
	t.update_person_id AS updatePersonId,
	t.update_person_name AS updatePersonName,
	t.create_org_id AS createOrgId,
	t.create_org_name AS createOrgName,
	t.create_company_id AS createCompanyId,
	t.create_company_name AS createCompanyName,
	t.concurrency_version AS concurrencyVersion,
	t.delflag AS delflag
FROM
	oa_sys_link_center t   where t.delflag=0
ORDER BY
	t.sort
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="java.util.Map">
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="getCountByTypeStatus" resultType="java.lang.Integer">
	select count(t.id) from oa_sys_link_center t where  t.delflag=0  and t.state=1 and  t.type=1
	</select>
		<!-- 获取总记录数 -->
	<select id="getmaxSort" resultType="java.lang.String">
		select sort from oa_sys_link_center t where  1=1  and t.parent_id=#{_parameter} 
		 order by t.sort  desc limit 1 
	</select>
	
	<select id="queryListGroup" resultType="java.util.Map">
	SELECT
	c.parent_id as parentId,
	GROUP_CONCAT(c.name) as cName,
	GROUP_CONCAT(c.url) as cUrl,
	 GROUP_CONCAT(c.id) as cId
FROM
	oa_sys_link_center c
GROUP BY
	c.parent_id
ORDER BY
	c.sort

	</select>
	<select id="getLinkCenterList" resultType="com.xinleju.cloud.oa.sys.entity.SysLinkCenter">
			SELECT
	t.id as id,
	t.code as code,
	t.prefix_id as prefixId,
	t.icon as icon,
	t.parent_id as parentId,
	t.state as state,
	t.type as type,
	t.remark as remark,
	t.name as name,
	t.sort as sort,
	t.parent_name as parentName,
	t.url as url,
	t.concurrency_version,
	t.create_date AS createDate,
	t.update_date AS updateDate,
	t.create_person_id AS createPersonId,
	t.create_person_name AS createPersonName,
	t.update_person_id AS updatePersonId,
	t.update_person_name AS updatePersonName,
	t.create_org_id AS createOrgId,
	t.create_org_name AS createOrgName,
	t.create_company_id AS createCompanyId,
	t.create_company_name AS createCompanyName,
	t.concurrency_version AS concurrencyVersion,
	t.delflag AS delflag
FROM
	oa_sys_link_center t   where t.delflag=0  and t.state=1 and t.parent_id= #{_parameter}  
   ORDER BY t.sort
	</select>
	
	<select id="getLinkCenterListCount" resultType="java.lang.Integer">
	 select count(t.id) from oa_sys_link_center t  where t.delflag =0    
	 <if test="code!=null and code!=''">
        and t.code=#{code}
      </if>
	</select>
		<select id="getLinkCenter" resultType="com.xinleju.cloud.oa.sys.entity.SysLinkCenter">
			SELECT
	t.id as id,
	t.code as code,
	t.parent_id as parentId,
	t.parent_name as parentName,
	t.icon as icon,
	t.state as state,
	t.name as name,
	t.sort as sort,
	t.url as url,
    t.type as type,
	t.remark as remark,
	t.prefix_id as prefixId,
	t.concurrency_version,
	t.create_date AS createDate,
	t.update_date AS updateDate,
	t.create_person_id AS createPersonId,
	t.create_person_name AS createPersonName,
	t.update_person_id AS updatePersonId,
	t.update_person_name AS updatePersonName,
	t.create_org_id AS createOrgId,
	t.create_org_name AS createOrgName,
	t.create_company_id AS createCompanyId,
	t.create_company_name AS createCompanyName,
	t.concurrency_version AS concurrencyVersion,
	t.delflag AS delflag
FROM
	oa_sys_link_center t  where t.delflag=0   
 	  and t.parent_id= #{_parameter}  
 
   ORDER BY t.sort
	</select>
	
	<select id="getLinkCenterListAll" resultType="com.xinleju.cloud.oa.sys.entity.SysLinkCenter">	
			SELECT
	t.id as id,
	t.code as code,
	t.icon as icon,
	t.parent_id as parentId,
	t.state as state,
	t.name as name,
	t.sort as sort,
	t.type as type,
	t.remark as remark,
	t.parent_name as parentName,
	t.url as url,
	t.concurrency_version as concurrencyVersion,
	t.create_date AS createDate,
	t.update_date AS updateDate,
	t.create_person_id AS createPersonId,
	t.create_person_name AS createPersonName,
	t.update_person_id AS updatePersonId,
	t.update_person_name AS updatePersonName,
	t.create_org_id AS createOrgId,
	t.prefix_id as prefixId,
	t.create_org_name AS createOrgName,
	t.create_company_id AS createCompanyId,
	t.create_company_name AS createCompanyName,
	t.concurrency_version AS concurrencyVersion,
	t.delflag AS delflag
FROM
	oa_sys_link_center t  LEFT JOIN  oa_sys_link_center s
   on t.parent_id=s.id where t.delflag=0  
  
     <if test="name!=null and name!='' ">     
          and  t.name  like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        ORDER BY t.sort
        limit #{start},#{limit}
	</select>
<select id="updateAllNodes" resultType="java.lang.Integer"  parameterType="java.util.HashMap">
       UPDATE oa_sys_link_center t
		SET t.sort = REPLACE (
			t.sort,
			#{oldSort},
			#{newSort}
		)
WHERE
	t.prefix_id LIKE  CONCAT(CONCAT('%',#{prefixId}),'%')
	</select>
</mapper>