
.xj-form-header {
    height: 40px;
    line-height: 40px;
    background-color: #46a7ff;
    position: fixed;
    width: 100%;
    min-width: 698px;
    z-index: 1000;
}

.xj-form-title {
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.xj-index-logo img {
    height: 24px;
    width: 85px;
}
.mt40{
    margin-top:40px;
}
.dropdown-menu{
    top: 30px;
}
.open>.dropdown-menu {
    display: block;
    left: auto;
    right: 0;
}
.xj-flow-btn .btn,.xj-flow-btn .btn-group  {
    background-color: #238EF0;
    color: #fff;
    margin-left: 5px;
    border: 1px solid #46A7FF;
    border-radius: 4px;
}
.flow-content-title{
    font-size: 14px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.flow-tab{
    padding-bottom:10px;
}

.flow-tab .btn{
    color: #46A7FF;
    border: 1px solid #46A7FF;
    border-radius: 4px;
    padding: 0;
    width: 100px;
    height: 30px;
    border: 1px solid #D6D6D6;
    background-color: transparent;
    font-size: 14px;
    margin-right:10px;
}
.flow-tab .btn.active{
    background-color: #46A7FF;
    color: #fff;
    border: none;
}
.flow-tab-content{
    border:1px solid #ddd;
    overflow: auto;
}
.flow-tab-content div{
    overflow: hidden;
}

.xj-form-tab {
    height: 40px;
    line-height: 40px;
}

.fl-ap-icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
.flow-yewuxinxi {
    background: url(../../../images/yewuxinxi.png) 0 -2px no-repeat;
}
.flow-guanlian {
    background: url(../../../images/xiangguanliucheng.png) no-repeat;
}
.flow-shenpijilu {
    background: url(../../../images/shenpixinxi.png) no-repeat;
}
.xj-form-tab .btns-group .btn{
    margin-top: 5px;
}

.xj-form-content{
    min-height:20px;
}

.approval-list{
    padding : 10px 5px 10px 5px;
}
.approval-list table{
    margin-bottom : 0px;
    table-layout: fixed;
}
.approval-list table td {
    word-break: break-all;
}
.approval-list table tr.form-header{
    /*border-right: 1px solid #ccc;*/
    height: 40px;
    line-height: 40px;
    background: #F5F5F5;
}

.table-bordered>tbody>tr>td {
    border: 1px solid #ccc;
    color: #333;
    font-size: 12px;
}
.current-node{
    background-color: #AFEEEE;
}

#relateFlow {
    padding: 10px;
    border: 1px solid #ebebeb;
}

#relateFlow a {
    color: #46A7FF;
    line-height: 26px;
}
.check-list {
    width: 100%;
    border: 0px;
}
.not-approve-node{
    background-color: #EBEBEB;
}
.embed-responsive{
    height:auto;
}

button.submit-flow {
    width: 50%;
    text-align: center;
    height: 40px;
    margin-left: 24%;
    background: #ac2925;
    color: #fff;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

.select-box {
    width: 100%;
    padding: 10px 0px 0px 0px;
}
.select-box .input-group-addon {
    width: 50px;
    font-size: 12px;
}
#approveRepeatDiv {
    margin: 10px 0 0 2px;
    color: #666;
}
#zbSelector, #xbSelector {
    width: 100%;
    padding: 10px 0 0 0;
}
.operation-label{
    cursor: pointer;
}
#approveArea{
    border:none;
}

iframe.embed-responsive-item{
    padding: 10px 5px 10px 5px;
}

.modal-body .ui-jqgrid-hbox{
    padding-top:0;
}
.ui-jqgrid-hbox{
    padding-top:4px;
}

.approval-area{
    padding-left:0;
}

#approveArea .table-bordered>tbody>tr>td {
    padding: 15px 8px;
}
.att-table tr td:first-child, .att-table tr th:first-child {
    width: 5%;
    text-align: center;
}

.upload {
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
.up_files {
    padding: 0 10px 0 10px;
}
.up_files ul li {
    list-style: none;
    float: left;
    width: 100%;
    min-width: 0px;
    height: 55px;
    background-color: #e2e2e3;
    margin: 0 0px 10px 0;
    padding: 5px;
}
.up_files ul li div.attachment-operation-group{
    clear: both;
    position: relative;
    top: -45px;
}
 /*群聊图标*/
.groupChatIcon{
    background: url("../../../images/qunliao_nor.png") no-repeat;
    width: 78px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    background-size: 78px 24px;
    margin-left: 5px;
    cursor: pointer;
}
.groupChatIcon:hover{
    background: url("../../../images/qunliao_hov.png") no-repeat;
    background-size: 78px 24px;
}
.startChartIcon{
    background: url("../../../images/danliao_nor.png") no-repeat;
    width:20px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    background-size: 20px 24px;
    margin-left: 5px;
    cursor: pointer;
}
.startChartIcon:hover{
    background: url("../../../images/danliao_hov.png") no-repeat;
    background-size: 20px 24px;
}