<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.schedule.entity.TaskPackageDispatch">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.schedule.entity.TaskPackageDispatch">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.schedule.entity.TaskPackageDispatch">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.schedule.entity.TaskPackageDispatch">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="getListById" resultType="com.xinleju.cloud.oa.schedule.entity.TaskPackageDispatch">
		SELECT
	t.actual_complete_date as actualCompleteDate,
	t.concurrency_version as concurrencyVersion,
	t.content,
	t.create_company_id as createCompanyId,
	t.create_company_name as createCompanyName,
	t.create_date as createDate,
	t.create_org_id as createOrgId,
	t.create_org_name as createOrgName,
	t.create_person_id as createPersonId,
	t.create_person_name as createPersonName,
	t.delflag,
	t.duty_dept as dutyDept,
	t.duty_dept_id as dutyDeptId,
	t.duty_user as dutyUser,
	t.duty_user_id as dutyUserId,
	t.expect_complete_date as expectCompleteDate,
	t.id,
	t.remark,
	t.report,
	t.report_status as reportStatus,
	t.task_package_id as taskPackageId,
	t.tend_id as tendId,
	t.update_date as updateDate,
	t.update_person_id as updatePersonId,
	t.update_person_name as updatePersonName,
	t.work_schedule_id as workScheduleId
FROM
	oa_schedule_task_package_dispatch t where t.delflag=0 
	and t.task_package_id=#{taskPackageId}
	</select>
</mapper>