<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.button.mapper.ButtonMapper">
	
	<select id="queryButton" resultType="com.jzy.hio.entity.OaSysButton">
		SELECT * from oa_sys_button b 
		where b.menu_id = #{menuId} and b.permission_type &amp; #{type} > 0
	</select>
	
	<select id="queryButtonByRole" resultType="com.jzy.hio.entity.OaSysButton">
		SELECT b.* FROM oa_sys_button b 
		LEFT JOIN oa_sys_role_permission rp
		ON b.`menu_id` = rp.`menu_id`
		WHERE rp.`role_id` = #{roleId}
	</select> 
	
	<select id="queryButtonByMenu" resultType="com.jzy.hio.sys.role.dto.RoleButtonDto">
		<choose>
			<!-- 管理员 -->
			<when test="userId == null">
				SELECT DISTINCT 
				b.`code`, b.`permission_type` permissionType, b.name, b.url 
				from oa_sys_menu m
				LEFT JOIN oa_sys_button b  ON b.`menu_id` = m.`id`
				WHERE b.code is not null 
			</when>
			<!-- 普通用户 -->
			<otherwise>
				SELECT DISTINCT 
				b.`code`, b.`permission_type` permissionType, b.name, b.url 
				FROM oa_sys_role_permission rp 
				LEFT JOIN oa_sys_menu m ON rp.menu_id = m.id
				LEFT JOIN oa_sys_button b  ON b.`menu_id` = m.`id` and rp.permission_value &amp; b.permission_type > 0
				WHERE b.code is not null 
				<choose>
					<!-- 外部联系人 -->
					<when test="userId == '-1'">
						AND rp.role_id IN ('2001') 
					</when>
					<!-- 普通员工 -->	
					<otherwise>
						AND rp.role_id IN (SELECT ru.role_id FROM oa_sys_role_user ru WHERE ru.user_id = #{userId}) 
					</otherwise>
				</choose>
			</otherwise>
		</choose>
		<if test="menuCode != null and menuCode != ''">
			<choose>
				<when test="menuCode.indexOf('%') != -1">
					AND	m.`code` like #{menuCode};
				</when>
				<otherwise>
					AND	m.`code` = #{menuCode};
				</otherwise>
			</choose>
		</if>
	</select>
	
	<select id="queryButtonDisableByAppId" resultType="com.jzy.hio.entity.OaSysButton">
		select b.id, b.url from oa_sys_button b
		left join oa_sys_app a on b.`app_id` = a.`id`
		where a.status = 0 and b.app_id = #{appId}
	</select>
</mapper>