<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.base.entity.BaseSupplier">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>

	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.base.entity.BaseSupplier">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.base.entity.BaseSupplier">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.base.entity.BaseSupplier">
	${value}
	</select>
	<select id="getsingleObject" resultType="com.xinleju.platform.sys.base.dto.BaseSupplierDto">
	 SELECT 
		t.id   as id,
    t.name  as name,
    t.code  as code,
    t.province_id as provinceId,
		t.city_id  as cityId,
 		t.address as address,
		t.relation_person as  relationPerson,
    t.phone  as phone, 
    t.finance_code as financeCode,
    t.message_info as messageInfo,
    t.message_type as messageType,
    t.license as license,
    t.representative as representative,
    t.registration_date  as  registrationDate,
		t.company_address as companyAddress,
    t.remark as remark,
    t.disabled_id as disabledId,
    t.disabled_date as disabledDate,
		t.work_phone as workPhone,
    t.supplier_resoure as supplierResoure,
    t.supplier_app as supplierApp,
    t.status as status,
	<!-- 	t.company_id as companyId, -->
		t.remark as remark,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,      
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag as delflag
<!-- 	    (select  GROUP_CONCAT(c.name) from  pt_sys_org_orgnazation c where FIND_IN_SET(c.id,t.company_id)) as companyName -->
		 from  pt_sys_base_supplier t  where id=#{id}
	</select>
	
	
	<!-- 过滤分页查询 -->
	<select id="getSupplierData" resultType="java.util.Map">
			SELECT 
		t.id   as id,
    t.name  as name,
    t.code  as code,
    t.province_id as provinceId,
		t.city_id  as cityId,
 		t.address as address,
		t.relation_person as  relationPerson,
    t.phone  as phone, 
    t.license as license,
    t.representative as representative,
    t.registration_date  as  registrationDate,
		t.company_address as companyAddress,
    t.remark as remark,
    t.finance_code as financeCode,
    t.message_info as messageInfo,
    t.message_type as messageType,
    t.disabled_id as disabledId,
    t.disabled_date as disabledDate,
		t.work_phone as workPhone,
    t.supplier_resoure as supplierResoure,
    t.supplier_app as supplierApp,
    t.status as status,
    un.companyName,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,      
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag as delflag,
     un.companyId,
	    r.name as provinceName,
	    rt.name as cityName
		 from  pt_sys_base_supplier t   
      LEFT JOIN pt_sys_base_region r ON r.id=t.province_id
	    LEFT JOIN pt_sys_base_region rt ON rt.id=t.city_id 
	    LEFT JOIN (select r.id,group_concat(o.name) companyName,group_concat(o.id) companyId from pt_sys_org_orgnazation o ,pt_sys_base_supplier_company c, pt_sys_base_supplier r 
      where o.id=c.company_id and c.supper_id=r.id and o.type='company' group by r.id)  un on un.id=t.id
	    where t.delflag=0 
		  <if test="name!=null and name!='' ">     
          and  t.name like   CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="companyname!=null and companyname!='' ">     
          and  un.company_id  like CONCAT(CONCAT('%',#{companyname}),'%')
        </if>
        <if test="provicename!=null and provicename!='' ">     
          and  t.province_id =#{provicename}
        </if>
        order by t.create_date desc
        <if test="start!=null and start!='' and limit!=null and limit!=''">
        limit #{start},#{limit}
        </if>
	</select>
<!-- 	 过滤查询条数 -->
	<select id="getSupplierDataCount" resultType="java.lang.Integer">
					SELECT  count(t.id) from  pt_sys_base_supplier t   
      LEFT JOIN pt_sys_base_region r ON r.id=t.province_id
	    LEFT JOIN pt_sys_base_region rt ON rt.id=t.city_id 
	    LEFT JOIN (select r.id,group_concat(o.name) companyName,group_concat(o.id) companyId from pt_sys_org_orgnazation o ,pt_sys_base_supplier_company c, pt_sys_base_supplier r 
      where o.id=c.company_id and c.supper_id=r.id and o.type='company' group by r.id)  un on un.id=t.id
	    where t.delflag=0 
		  <if test="name!=null and name!='' ">     
          and  t.name like  CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="companyname!=null and companyname!='' ">     
          and  co.company_id  like CONCAT(CONCAT('%',#{companyname}),'%')
        </if>
        <if test="provicename!=null and provicename!='' ">     
          and  t.province_id =#{provicename}
        </if>
	</select>
	
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	    <update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 获取公司下级用户 -->
	<select id="getSupplierByCompanyId" parameterType="map" resultType="map">
		 select DISTINCT t.id,t.name,t.code from pt_sys_base_supplier t ,pt_sys_base_supplier_company tt 
					 where tt.supper_id = t.id and tt.company_id = #{companyId}
	</select>
</mapper>