<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.base.entity.CustomForm">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.base.entity.CustomForm">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.base.entity.CustomForm">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.base.entity.CustomForm">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 快速入口查询接口 -->
	<select id="queryListForQuickEntry" resultType="com.xinleju.platform.sys.base.entity.CustomForm" parameterType="java.util.HashMap">
		select 
			s.id as id,
			s.code,
			s.name,
			s.parent_id as parentId,
			s.is_inner as isInner,
			s.resource_id as resourceId,
			s.sort,
			s.url 
			from pt_sys_base_custom_form  s  where s.delflag='0' and s.status='1'
			<if test="name!=null and name!='' ">     
	         and  s.name LIKE CONCAT('%',#{name},'%' ) 
	        </if>
	        <if test="parentId!=null and parentId!='' ">     
	         and  s.parent_id = #{parentId}
	        </if>
			order by s.sort
	</select>
	
	<!-- 获取分页根据Map查询 -->
	<select id="getPageSort" resultType="com.xinleju.platform.sys.base.entity.CustomForm" parameterType="java.util.HashMap">
		select 
			s.id as id,
			s.create_person_id as createPersonId,
			s.create_person_name as createPersonName,
			s.create_org_id as createOrgId,
			s.create_org_name as createOrgName,
			s.create_company_id as createCompanyId,
			s.create_company_name as createCompanyName,
			s.create_date as createDate,
			s.update_person_id as createPersonId,
			s.update_person_name as updatePersonName,
			s.update_date as  updateDate,
			s.delflag as delflag,
			s.concurrency_version as concurrencyVersion,
			s.code,
			s.name,
			s.parent_id as parentId,
			t.name as parentName,
			s.biz_flow_code as bizFlowCode,
			s.biz_flow_name as bizFlowName,
			s.flow_path_id as flowPathId,
			s.flow_path_name as flowPathName,
			s.flow_path_show_name as flowPathShowName,
			s.default_flow_id as defaultFlowId,
			s.default_flow_name as defaultFlowName,
			s.sort,
			s.form_format_json as formFormatJson,
			s.form_format_html as formFormatHtml,
			s.flow_template_id as flowTemplateId,
			s.flow_template_name as flowTemplateName,
			s.tend_id as tendId,
			s.form_show_column as formShowColumn,
			s.form_search_key as formSearchKey,
			s.is_inner as isInner,
			s.resource_id as resourceId,
			s.resource_name as resourceName,
			s.url,
			s.status 
			from pt_sys_base_custom_form  s left join pt_sys_base_custom_form_group t on s.parent_id = t.id where s.delflag='0' and t.delflag='0'
			<if test="parentId!=null and parentId!='' ">     
	          and  s.parent_id =#{parentId}
	        </if>
			order by s.sort 
			limit #{start},#{limit}
	</select>
	
	<!-- 获取总记录数 -->
	<select id="getPageSortCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select 
			count(1) 
			from pt_sys_base_custom_form  s left join pt_sys_base_custom_form_group t on s.parent_id = t.id where s.delflag='0' and t.delflag='0'
			<if test="parentId!=null and parentId!='' ">     
	          and  s.parent_id =#{parentId}
	        </if>
			order by s.sort 
	</select>
	
	<!-- 获取业务对象树 -->
	<select id="getTree" resultType="com.xinleju.platform.sys.base.dto.CustomFormDto" parameterType="java.util.HashMap">
		select 'e5635fc8b38146ebb5c9be3b05fcbc2a' as id,'自定义表单' as name,'0' as pId from dual
			UNION
		select * from(
		select id,name,'e5635fc8b38146ebb5c9be3b05fcbc2a' as pId from pt_sys_base_custom_form_group ORDER BY sort ) as t1
			UNION (
		select b.id,b.name,a.id as pId from pt_sys_base_custom_form_group a,pt_sys_base_custom_form b where a.id=b.parent_id ORDER BY b.sort)
	</select>
	
	<!-- 查询最大序号 -->
	<select id="getMaxSort" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT max(s.sort) FROM pt_sys_base_custom_form s where s.parent_id=#{parentId} 
	</select>
	
	<!-- 查询自定义表单（排序） -->
	<select id="queryCustomSort" resultType="com.xinleju.platform.sys.base.dto.CustomFormNodeDto">
		select s.id,s.NAME,s.parent_id as parentId from pt_sys_base_custom_form s ORDER BY s.sort
	</select>
	
	<!-- 校验编码是否重复 -->
	<select id="validateIsExistCode" resultType="java.lang.Integer" parameterType="java.lang.String">
		<!-- SELECT count(1) FROM pt_sys_base_custom_form s where s.code=#{val}  -->
		SELECT count(1) FROM pt_sys_base_custom_form s
		where s.delflag='0' 
        <if test="code != null and code!=''">  
            and  s.code = #{code,jdbcType=VARCHAR}  
        </if>  
        <if test="id != null and id!=''">  
            and  s.id != #{id,jdbcType=VARCHAR}  
        </if>
	</select>
	
	<!-- 校验名称是否重复 -->
	<select id="validateIsExistName" resultType="java.lang.Integer" parameterType="com.xinleju.platform.sys.base.entity.CustomForm">
		<!-- SELECT count(1) FROM pt_sys_base_custom_form s where s.name=#{val}  -->
		SELECT count(1) FROM pt_sys_base_custom_form s 
		where s.delflag='0'  
        <if test="name != null and name!=''">  
            and  s.name = #{name,jdbcType=VARCHAR}  
        </if>  
        <if test="id != null and id!=''">  
            and  s.id != #{id,jdbcType=VARCHAR}  
        </if>
        <if test="parentId != null and parentId!=''">  
            and  s.parent_id = #{parentId,jdbcType=VARCHAR}  
        </if>
	</select>
	
	<!-- 查询指定模板下是否有实例生成-->
	<select id="isHasInstance" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT count(1) FROM pt_sys_base_custom_form_instance s 
		where s.delflag='0'  and  s.custom_form_id = #{id}
	</select>
	
	<!-- 更新表单状态 -->
	<update id="updateSort" parameterType="com.xinleju.platform.sys.base.entity.CustomForm">
		update PT_SYS_BASE_CUSTOM_FORM set sort = #{sort} where id = #{id}
	</update>
</mapper>