<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.content.entity.ContentChild">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.content.entity.ContentChild">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.content.entity.ContentChild">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.content.entity.ContentChild">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>

	<!-- 查询目录分类 Tree,resultType返回值类型，parameterType参数类型-->
  <!--  <select id="queryContentTypeChildList" resultType="com.xinleju.cloud.oa.content.dto.ContentChildTreeData" parameterType="java.lang.String">
		 	select id,parent_id as parentId,parent_name as parentName,contents_name  as contentsName from oa_content_child
		 	<choose>
		 		<when  test="_parameter != null and _parameter !=''>
		 		    where parent_id = #{_parameter,jdbcType=VARCHAR}
		 		</when>
		 		<otherwise>
		 		    where 1=1
		 		</otherwise>
		 	</choose>
	 </select>-->
	<!-- 查询目录分类 Tree-->
	 <select id="queryContentTypeChildList" resultType="com.xinleju.cloud.oa.content.dto.ContentChildTreeData" parameterType="java.lang.String">
		 	  select id,parent_id as parentId,parent_name as parentName,name,id as contentChildId,name as contentChildName,type_id as contentTypeId,type_name as contentTypeName,code as contentChildCode from oa_content_child
                   where parent_id = #{_parameter,jdbcType=VARCHAR}
	 </select>
	 
	 <!-- 查询目录分类 Tree-->
	 <select id="queryContentTypeChildByIdList" resultType="com.xinleju.cloud.oa.content.dto.ContentChildTreeData" parameterType="java.lang.String">
		 	  select id,parent_id as parentId,parent_name as parentName,name from oa_content_child
		 	<choose>
                <when test="_parameter != 'null'">
                   where parent_id = #{_parameter,jdbcType=VARCHAR}
                </when>
         </choose>
         		group by parent_id;
		 	 
	 </select>
	 
</mapper>