<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.content.entity.ContentRowType">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.content.entity.ContentRowType">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.content.entity.ContentRowType">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.content.entity.ContentRowType">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>

	<!-- 获取新闻、文档总记录数 -->
	<select id="queryTypeCount" resultType="java.lang.Integer" parameterType="java.lang.String">
		 select count(id) from oa_content_row_type  where content_type = #{_parameter,jdbcType=VARCHAR}
	</select>


	<!-- 过滤分页查询 -->
	<select id="getContentRowTypePage" resultType="com.xinleju.cloud.oa.content.entity.ContentRowType" parameterType="java.util.Map">
		SELECT
			t.id,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.create_date as createDate,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.update_date as updateDate,
			t.delflag as delflag,
			t.concurrency_version as concurrencyVersion,
			t.userloginname as userloginname,
			t.username as username,
			t.deptcode as deptcode,
			t.deptname as deptname,
			t.corpcode as corpcode,
			t.corpname as corpname,
			t.keywords as keywords,
			t.createtime as createtime,
			t.edittime as edittime,
			t.submittime as submittime,
			t.completetime as completetime,
			t.disabledtime as disabledtime,
			t.urgent as urgent,
			t.content2 as content2,
			t.is_plan as is_plan,
			t.content_child_id as contentChildId,
			t.content_type_id as contentTypeId,
			t.typecode as typecode,
			t.typename as typename,
			t.classcode as classcode,
			t.classname as classname,
			t.documenttype as documenttype,
			t.code as code,
			t.title as title,
			t.is_top as is_top,
			t.img as img,
			t.files as files,
			t.content as content,
			t.description as description,
			t.publish_state as publishState,
			t.publish_range as publish_range,
			t.extended_field as extended_field,
			t.availab_field as availabField,
			t.content_type as contentType,
			t.tend_id as tendId
		FROM
			oa_content_row_type t
		LEFT JOIN
		oa_content_child cc
		ON t.content_child_id = cc.id

		where t.delflag=0
			<if test="contentTypeId != null and contentTypeId !=''">  
				AND t.content_type_id = #{contentTypeId,jdbcType=VARCHAR}
			</if>
			<if test="contentChildId != null and contentChildId !=''">
				AND (t.content_child_id = #{contentChildId,jdbcType=VARCHAR}
				or cc.parent_id = #{contentChildId,jdbcType=VARCHAR})
			</if>

        	ORDER BY t.submittime DESC
       
	        <choose>
			<when test="start!=null and start!='' and limit!=null and limit!=''">
	         limit #{start},#{limit}
	        </when>
	        </choose>
	</select>
	
	<!-- 过滤查询条数 -->
	<select id="getContentRowTypeCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			count(t.id)
		FROM
			oa_content_row_type t
		LEFT JOIN
		oa_content_child cc
		ON t.content_child_id = cc.id
		where t.delflag=0
		<if test="contentTypeId != null and contentTypeId !=''">
			AND t.content_type_id = #{contentTypeId,jdbcType=VARCHAR}
		</if>
		<if test="contentChildId != null and contentChildId !=''">
			AND (t.content_child_id = #{contentChildId,jdbcType=VARCHAR}
			or cc.parent_id = #{contentChildId,jdbcType=VARCHAR})
		</if>
		ORDER BY t.createtime DESC
	</select>
	
</mapper>