<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.content.entity.ContentRowAttribute">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute">
		${value}
	</select>
	<!-- 获取分页根据Map查询  -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	
	<!-- 过滤分页查询 -->
	<select id="getContentRowAttributePage" resultType="com.xinleju.cloud.oa.content.entity.ContentRowAttribute" parameterType="java.util.Map">
		SELECT
			t.id,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.is_extend as  isExtend,
			t.create_date as createDate,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.update_date as updateDate,
			t.delflag as delflag,
			t.concurrency_version as concurrencyVersion,
			t.code as code,
			t.filed_name as filedName,
			t.content_type_id as contentTypeId,
			t.type as type,
			t.sort_desc as sortDesc,
			t.view_name as viewName,
			t.is_view as isView,
			t.column_with as columnWith,
			t.is_required as isRequired,
			t.sort as sort,
			t.tend_id as tendId,
			t.is_line as isLine
		FROM
			oa_content_row_attribute t where t.delflag=0  
			<if test="contentTypeId != null and contentTypeId !=''">  
    			AND content_type_id = #{contentTypeId,jdbcType=VARCHAR}
		 	</if>
		<choose>
		<when test="code != null and code !=''">     
          	and  (t.code like CONCAT(CONCAT('%',#{code}),'%')
          		or  t.filed_name like CONCAT(CONCAT('%',#{filedName}),'%')
          	)
        </when>
        </choose>
       
        <choose>
		<when test="start!=null and start!='' and limit!=null and limit!=''">
         limit #{start},#{limit}
        </when>
        </choose>
	</select>
	
	<!-- 过滤查询条数 -->
	<select id="getContentRowAttributeCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			count(t.id)
		FROM
			oa_content_row_attribute t where t.delflag=0 
			<if test="contentTypeId != null and contentTypeId !=''">  
    			AND content_type_id = #{contentTypeId,jdbcType=VARCHAR}
		 	</if> 
		<choose>
		<when test="code != null and code !=''">     
          	and  (t.code like CONCAT(CONCAT('%',#{code}),'%')
          		or  t.filed_name like CONCAT(CONCAT('%',#{filedName}),'%')
          	)
        </when>
        </choose>
	</select>
	
</mapper>