<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.content.entity.ContentType">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.content.entity.ContentType">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.content.entity.ContentType">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.content.entity.ContentType">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!-- 查询知识管理大类总数,包含所有文件夹个数 -->
	<select id="countFolders"  resultType="java.lang.Integer">
		 select count(id) from oa_content_type
	</select>
	<!-- 查询目录分类 Tree-->
	 <select id="queryContentTypeList" resultType="com.xinleju.cloud.oa.content.dto.ContentTypeTreeData">
		 	select id,id as pId,name from oa_content_type
	 </select>
	 
	 <!-- 查询知识管理大类下面的附件总大小,指定类型下面的附件总大小 -->
	<select id="queryTotalFileSize"  resultType="java.lang.Integer" parameterType="com.xinleju.cloud.oa.content.entity.ContentType">
		 select sum(file_size) as totalFileSize,count_capacity as countCapacity from oa_content_type where 1=1
		 <if test="contentType != null and contentType !=''">  
    		AND content_type = #{contentType,jdbcType=VARCHAR}
		 </if> 
		 group by content_type
	</select>
	
	
	<!-- 过滤分页查询 -->
	<select id="getContentTypePage" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			t.id,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.create_date as createDate,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.update_date as updateDate,
			t.delflag as delflag,
			t.concurrency_version as concurrencyVersion,
			t.name as name,
			t.publish_state as publishState,
			t.code as code,
			t.view_sort as viewSort,
			t.content_type as contentType,
			t.count_capacity as countCapacity,
			t.file_size as fileSize,
			t.business_object as businessObject,
			t.description as description,
			t.tend_id as tendId
		FROM
			oa_content_type t where 1=1 
		<choose>
		<when test="code != null and code !=''">     
          	and  (t.code like CONCAT(CONCAT('%',#{code}),'%')
          		or  t.name like CONCAT(CONCAT('%',#{name}),'%')
          	)
        </when>
        </choose>
       
        <choose>
		<when test="start!=null and start!='' and limit!=null and limit!=''">
         limit #{start},#{limit}
        </when>
        </choose>
	</select>
	
	<!-- 过滤查询条数 -->
	<select id="getContentTypeCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			count(t.id)
		FROM
			oa_content_type t where 1=1 
		<choose>
		<when test="code != null and code !=''">     
          	and  (t.code like CONCAT(CONCAT('%',#{code}),'%')
          		or  t.name like CONCAT(CONCAT('%',#{name}),'%')
          	)
        </when>
        </choose>
	</select>
	
	
	
	
</mapper>