.m_umb10{ margin-bottom: 10px;}
.mUserSelect{
    top:0;
    left:0;
    bottom:0;
    right: 0;
    position: fixed;
    width:100%;
    height:100%;
    overflow: hidden;
    flex-direction:column; 
    display: flex;
    box-orient:vertical; 
    -webkit-box-orient:vertical;
    background:#F8F8F8;
    z-index:10000;
    .m_utab{
        height:44px;
        background:#fff;
        margin-bottom: 10px;
        
        .active{
            color:#009EFF !important;
            border-bottom: 3px solid #009EFF !important;
            border-color: #009EFF !important;
        }
        .m_utabTitle li{
            float:left;
            height:44px;
            line-height: 44px;
            text-align: center;
            span{
                display: inline-block;
                line-height: 44px;
            }
        }
        .m_utabTitle li.selected{
            span{
                border-bottom: 1px solid #009EFF !important;
            }
        }
    }
   .m_ucontent{
       flex:1;
       overflow: hidden;
       overflow-y: scroll;
       .m_ubd{
           overflow:hidden;
       }
       
   }
}
.m_ubd{
    
    .m_ulist{
        background:#fff;
        
        li{
            display: flex;
            position: relative;
            padding:10px 0;
            .m_uarrow,.m_uclose{
                position: absolute;
                right:10px;
                top:50%;
                margin-top:-10px;
            }
            .m_uclose{
                .m_ucloseicon{
                    fill: #D5D7DA  
                }
            }
            .pic{
                -webkit-box-align: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                padding:0 10px;
                display: flex;
                .icon_bg{ margin-right:10px;
                    .m_uicon{
                        fill: #EDEDED;
                    }
                    .m_uiconNo{
                        fill: #E5E6E7;
                    }
                    .m_uiconYes{
                        fill: #009EFF 
                    }
                }
                img{width:41px;height:41px;}
            }
            .ct{
                flex:1;
                -webkit-box-align: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                display:flex;
                padding-right:40px;
            }
            .ct:after{
                content: "";
                height:1px;
                transform: scale(1,0.5);
                border-bottom: 1px solid  #EBEBEB;
                display:inline-block;
                position: absolute;
                width:100%;
                bottom:0;
            }
        }
    }
}
.m_uNav{
    width:100%;
    overflow: hidden;
    background:#fff;
    padding:0 10px;
    overflow-x: scroll;
    
    // .m_uactivescroll{
    //     color:#666;
    //     border-color: none !important;
    // }
    ul{
        width:300%;
        // overflow-x: scroll;
        // overflow-y: scroll;
        .m_uNavTitle{
            float:left;
            max-width: 120px;
            font-size: 1rem;
            color:#009EFF;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            line-height: 44px;
            .m_uroot{
                color:#009EFF;
            }
        }
        .m_uNavTitle.on{
            color:#666;
            .m_uroot{
                color:#666;
            }
        }
    }
    
}
.m_ubottom{
    height:49px;
    display:flex;
    background:#fff;
    .m_uleftbd{
        flex:1;
        padding:0 20px;
        line-height: 49px;
        .m_uicon_yj{
            background: url(view@2x.png) no-repeat center center;
            background-size:21px 21px;
            width:21px;
            height:21px;
            display: inline-block;
            vertical-align: middle;
            margin-right:5px;
        }
    }
    .m_urightbd{
        width:120px;
        text-align: center;
        background: #009EFF;
        color:#fff;
        font-size:1.1rem;
        line-height: 49px;
    }
    .m_uclose{
        width:80px;
        text-align: center;
        background: #dedede;
        color:#fff;
        font-size:1.1rem;
        line-height: 49px;
    }
    .m_urightbd_w{
        width:50%;
    }
}
.m_uresultwrap{
    position:fixed;
    z-index: 10001;
    background:#fff;
    width:100%;
    height:100%;
    left:0;
    bottom:0;
    top:0;
    right:0;
    overflow: hidden;
    flex-direction:column; 
    display: flex;
    box-orient:vertical; 
    -webkit-box-orient:vertical;
    .m_uBd{
        flex:1;
        overflow: hidden;
        overflow-y: scroll;
    }
    .m_select_topTitle{
        height:50px;
        text-align: center;
        font-size: 1rem;
        color:#333;
        line-height: 50px;
        border-bottom: 1px solid #EBEBEB;
    }
}
