//全局样式
/* css初始化 */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
fieldset, input, textarea, p, blockquote, th, td, span {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;

}


html,body{
  height:100%;
  -webkit-overflow-scrolling : touch; //当手指从触摸屏上移开，会保持一段时间的滚动
//-webkit-overflow-scrolling: auto; 当手指从触摸屏上移开，滚动会立即停止
}


table {
  border-collapse: collapse; /*让表格边框细线*/
  border-spacing: 0; /*清除边框间距*/
}

fieldset, img {
  border: 0 none; /*有些浏览器默认这些标签有边框，所以要清除默认边框*/
  display: block;
}

address, caption, cite, code, dfn, em, i, u, b, strong, th, var {
  font-style: normal;
  font-weight: normal;
  /*清除标签默认文本样式和加粗*/
}

input, textarea {
  outline: 0 none; /*去掉文本框的默认轮廓线*/
}

ol, ul {
  list-style: none; /*清除列表默认样式*/
}

caption, th {
  text-align: left; /*清除标签默认文本居中对齐*/
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  // font-weight: normal; /*清除标题标签的默认样式*/
}

a {
  text-decoration: none; /*大部分页面中的链接没有下划线*/
}

a{
  text-decoration:none;
}
html,body{
  height:100%;
  min-height:100%;
  overflow: auto!important;
}
.clearfix{

}
.text_l_r{
  display: inline-block;
  float: right;
  text-align: left;
  word-break: break-all;//折行显示
}
//附件全局样式
.base.penal-box{
  .attach-item {
    padding:20px 10px;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
    position: relative;
    .attach-del {
      cursor: pointer;
      position: absolute;
      left: 0px;
      top: 50%;
      display: inline-block;
      width: 13px;
      height: 13px;
      background: url(/mobilestatic/images/search_deletehistory@2x.png) no-repeat;
      background-size: 13px 13px;
      margin-top: -5px;
    }
    .title.hasDel {
      box-sizing: border-box;
      padding-left: 18px;
      float: left;
      width: 100%;
      span{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 92%;
        display: inline-block;
      }
    }
  }
}

//表单中cell行的高度
.app_wrap .weui-cell {
    padding: 14px 15px;
    background-color: #ffffff;

}

//底部弹出窗Actionsheet组件
.vux-actionsheet .weui-actionsheet{
  z-index:6000
}
.app_wrap{
  .vux-cell-value{
    color: #666666;
  }
  .weui-input{
    color: #666666;
    font-size: 16px;
  }
  .vux-x-input.disabled .weui-input{
    text-fill-color: #666666;
    -webkit-text-fill-color: #666666;
  }
//输入框
  input::-webkit-input-placeholder{color: #666666;}
  input::-moz-placeholder{color: #666666;}
  input:-moz-placeholder{ color: #666666;}
  input:-ms-input-placeholder{ color: #666666;}
  .vux-cell-placeholder{
    color: #666666;
  }
//  文本域
  .weui-textarea{
    color: #666666;
    font-size: 16px;
    font-family:"Microsoft YaHei";
  }
  .weui-textarea-counter{
    color: #666666;
    font-size: 16px;
  }
//右箭头
  .weui-cell_access .weui-cell__ft:after{
    color: #d8d8d8;
  }



}
//弹出框
.vux-alert{
  .weui-dialog{
    width: 270px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    color: #000000;
  }
  .weui-dialog__hd{
    padding: 0;
  }
  .weui-dialog__bd{
    color: #000;
    font-size: 14px;
    padding: 22px;
    min-height: 20px;
  }
  .weui-dialog__btn_primary{
    color: #007aff;
    font-size: 17px;
  }
}

.weui-cells_radio .weui-cell__ft{
  position: absolute;
  right:0.5rem;
}


