.uedit-content-contract{
  .edui-default .edui-editor-toolbarboxinner{
    display: none;
  }
  word-break:break-all;
  position: relative;
  img{
    max-width: 100% !important;
  }
  ol{
    margin:0;padding:0;
    li{
      clear:both;
      /*list-style: auto;*/
    }
  }
  ul{
    margin:0;padding:0;
    li{
      clear:both;
      /*list-style: auto;*/
    }
  }
  em{
    font-style: italic;
  }


  .list-paddingleft-1{padding-left:0}
  .list-paddingleft-2{padding-left:20px}
  .list-paddingleft-3{padding-left:40px}
  a{
    color: $theme-blue;
  }
  a:hover{
    color: $theme-blue-active;
  }
  table{
    margin-bottom: 10px;
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: grey;
  }
  td, th {
    padding: 5px 10px;
    border: 1px solid #DDD;
  }
}