<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.message.mapper.ImNoticeMsgMapper">

    <!--- 待办通知查看列表和消息提醒查看列表  -->
    <select id="getImNoticeMsg" parameterType="com.jzy.hio.platform.message.param.ImNoticeMsgSearchParam" resultType="com.jzy.hio.platform.message.dto.ImNoticeMsgSearchDto">
          SELECT
            id,
            msg,
            tend_id  tendId,
            tend_name  tendName,
            send_date sendDate,
            to_user_id toUserId,
            to_user_phone toUserPhone,
            from_user_id fromUserId,
            from_user_name fromUserName,
            module_type moduleType,
            module_name moduleName,
            is_open isOpen,
            to_user_name toUserName,
            msg_type msgType,
            op_type opType,
            business_id businessId,
            pc_url pcUrl,
            mobible_param mobibleParam,
            mobible_url mobibleUrl,
            deal_date dealDate,
            send_date sendDate
        FROM
            im_notice_msg
        WHERE  to_user_id = #{toUserId}
             and status = 2
        <if test="tendId!=null and tendId!=''">
           and   tend_id=#{tendId}
        </if>
        <if test="msgType!=null and msgType!=''">
            and msg_type = #{msgType}
        </if>
        <if test="opType!=null and opType!=''">
            and op_type = #{opType}
        </if>
        and ifnull(delflag,0) = 0
        ORDER BY send_date desc
    </select>
    <!--修改状态-->
    <update id="updateStatusOfNoticeMsg" parameterType="com.jzy.hio.platform.message.param.NoticeMsgUpdateParam" >
        UPDATE im_notice_msg
        SET  deal_date = now()
        <if test="newStatus != null">
            ,op_type =#{newStatus}
        </if>
        WHERE  ifnull(delflag,0) = 0
        AND id = #{id}
        <if test="oldStatus !=null and oldStatus !=''">
            and op_type = #{oldStatus}
        </if>

    </update>

    <!--设置消息已打开-->
    <update id="setMessageOpened" parameterType="java.lang.String">
        UPDATE im_notice_msg
        SET is_open = 1
        WHERE  ifnull(delflag,0) = 0 and id = #{id}
    </update>

</mapper>