<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.bbs.mapper.BbsReplyDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.oa.bbs.entity.BbsReply">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.oa.bbs.entity.BbsReply">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.oa.bbs.entity.BbsReply">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!--条件查询获取分页数据-->
	<select id="queryObjectsByPage" resultType="com.jzy.hio.oa.bbs.entity.BbsReply">
		${value}
	</select>

	<!--条件查询获取分页数据总记录数-->
	<select id="queryObjectsCountByPage" resultType="java.lang.Integer">
		${value}
	</select>
   <!-- 根据topicId删除回复-->
	<delete id="deleteObjectByTopicId" parameterType="java.lang.String">
           DELETE FROM oa_bbs_reply where topic_id = #{id}
	</delete>
	<!-- 根据topicId伪删除回复-->
	<update id="deletePseudoObjectByTopicId" parameterType="java.lang.String">
          UPDATE oa_bbs_reply set delflag = 1 where topic_id = #{id}
	</update>
</mapper>