<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.res.entity.DataPermission">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.res.entity.DataPermission">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.res.entity.DataPermission">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.res.entity.DataPermission">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 批量保存数据授权 -->
	<insert id="insertDataPmsBatch" parameterType="map">
		INSERT INTO pt_sys_res_data_permission(id,role_id,data_point_id) VALUES
			<foreach collection="dataPmsList" item="dataPms" separator=",">
				(#{dataPms.dataPmsId},#{roleId},#{dataPms.pointId})
			</foreach>
	</insert>
	<!-- 批量删除数据授权 -->
	<insert id="delDataPmsBatch" parameterType="map">
		<foreach collection="dataPmsList" item="dataPms" separator=";">
			DELETE FROM pt_sys_res_data_permission WHERE role_id=#{roleId} AND data_point_id=#{dataPms.pointId}
		</foreach>
	</insert>
	
	<!-- 批量保存数据授权(角色到数据) -->
	<insert id="saveDataAuthRoleToData" parameterType="map">
		INSERT INTO pt_sys_res_data_permission(id,role_id,data_point_id) VALUES
			<foreach collection="dataPermissionList" item="dataPms" separator=",">
				(#{dataPms.id},#{dataPms.roleId},#{dataPms.pointId})
			</foreach>
	</insert>
	
	<!-- 批量删除数据授权 (角色到数据)-->
	<insert id="delDataAuthRoleToData" parameterType="map">
		<foreach collection="deldataPermissionList" item="dataPms" separator=";">
			DELETE FROM pt_sys_res_data_permission WHERE role_id=#{dataPms.roleId} AND data_point_id=#{dataPms.pointId}
		</foreach>
	</insert>
	
	<!-- 根据控制项Id和角色Ids查询已授权数据(控制点)-->
	<select id="queryDataPermission" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select t.id,t.role_id,t.data_point_id,tt.type 
		from pt_sys_res_data_permission t ,pt_sys_res_data_point tt 
		where 1=1
		<if test="roleIds != null ">
			and t.role_id IN
			<foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		and tt.item_id = #{itemId} 
		and t.data_point_id =  tt.id 
	</select>
	
	<!-- 根据控制项Id和角色Ids查询已授权数据(指定数据)-->
	<select id="queryDataPointPermission" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select ttt.id,ttt.data_permission_id,ttt.val,t.role_id 
		from  pt_sys_res_data_permission t ,pt_sys_res_data_point tt ,pt_sys_res_data_point_permission_val ttt
		where 1=1
		<if test="roleIds != null ">
			and t.role_id IN
			<foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		and tt.item_id = #{itemId} 
		and t.data_point_id =  tt.id 
		and ttt.data_permission_id = t.id 
	</select>
	
	<!-- 根据控制项Id和控制点Ids查询已授权数据(控制点)-->
	<select id="queryDataPermissionByPointId" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select t.id,t.role_id,t.data_point_id,tt.type 
		from pt_sys_res_data_permission t ,pt_sys_res_data_point tt 
		where 1=1
		<if test="ids != null ">
			and t.data_point_id  = #{ids} 
		</if>
		and tt.item_id = #{itemId} 
		and t.data_point_id =  tt.id 
	</select>
	
	<!-- 根据控制项Id和valIds查询已授权数据(指定数据)-->
	<select id="queryDataPointPermissionByvalId" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select ttt.id,ttt.data_permission_id,ttt.val,t.role_id 
		from  pt_sys_res_data_permission t ,pt_sys_res_data_point tt ,pt_sys_res_data_point_permission_val ttt
		where 1=1
		and tt.item_id = #{itemId} 
		and t.data_point_id =  tt.id 
		and ttt.data_permission_id = t.id 
		<if test="ids != null ">
			and ttt.val = #{ids} 
		</if>
	</select>
	<!-- 获取有权限的数据授权（根据用户账号和系统code和授权业务对象） -->
	<select id="getDataPointAuthByUserLoginNameAndAppCodeAndItemCode" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select t.id id ,t.type type,t.`code` code ,t.`name` name ,tt.item_code itemCode ,tt.item_name itemName,app.`code` appCode,app.`name` appName,ttt.id dataPermissionId
		from pt_sys_res_data_point t 
		LEFT JOIN pt_sys_res_data_item tt on t.item_id = tt.id
		LEFT JOIN pt_sys_res_data_permission ttt on t.id = ttt.data_point_id
		LEFT JOIN pt_sys_res_app app ON tt.app_id = app.id 
		where 1=1
		<if test="appCode !=null">
			and app.code = #{appCode}
		</if>
		<if test="itemCode !=null">
			and tt.item_code = #{itemCode}
		</if>
		<if test="ids != null ">
			and ttt.role_id IN
			<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
	
	<!-- 根据数据授权ID查询值  -->
	<select id="getDataPointValAuthByDataPermissionId" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select val 
		from pt_sys_res_data_point_permission_val t 
		where 
		t.data_permission_id  = #{dataPermissionId} 

	</select>
	
	
	<!-- 根据对象Id获取已授权控制点的主键ID（为了删除） -->
	<select id="queryAuthDataIdByobjectIds" parameterType="map" resultType="String">
		select id from pt_sys_res_data_permission where 
		<if test="imObjectId !=null">
			role_id =#{imObjectId} 
		</if>
	</select>
	<!-- 根据对象Id获取已授权控制点val的主键ID（为了删除） -->
	<select id="queryAuthDataValIdByobjectIds" parameterType="map" resultType="String">
		select v.id from pt_sys_res_data_point_permission_val v,pt_sys_res_data_permission t 
		where 
		v.data_permission_id = t.id 
		<if test="imObjectId !=null">
			and t.role_id = #{imObjectId} 
		</if>
	</select>
	
	<!-- 根据对象Id获取已授权数据  -->
	<select id="queryAuthDataByobjectIds" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select id,role_id,data_point_id from pt_sys_res_data_permission t 
		where 
		<if test="imObjectId !=null">
			t.role_id =#{imObjectId} 
		</if>

	</select>
	<!-- 根据已授权的主键ID获取已授权val数据  -->
	<select id="queryAuthValDataBydataPermissionId" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select id,data_permission_id,val from pt_sys_res_data_point_permission_val t 
		where 
		<if test="imdataPermissionId !=null">
			t.data_permission_id = #{imdataPermissionId} 
		</if>
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>