<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.meeting.mapper.MeetingReplyDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.oa.meeting.entity.MeetingReply">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.oa.meeting.entity.MeetingReply">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.oa.meeting.entity.MeetingReply">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 根据各种状态查询会议信息 -->
	<select id="queryMeetingReployByNew" resultType="com.jzy.hio.oa.meeting.entity.MeetingReply" parameterType="java.util.Map">
		SELECT
			t.id,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.create_date as createDate,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.update_date as updateDate,
			t.delflag as delflag,
			t.concurrency_version as concurrencyVersion,
			t.meeting_id as meetingId,
			t.user_id as userId,
			t.user_name as userName,
			t.join_flag as joinFlag,
			t.reply_suggestion as replySuggestion,
			t.reply_date as replyDate,
			t.tend_id as tendId
		
        FROM
			oa_meeting_reploy t
		WHERE 1=1
		
		 <choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and t.meeting_id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		ORDER BY t.reply_date desc
		 limit 0,1
	</select>
	
	<!-- 根据各种状态查询会议信息 -->
	<select id="queryUseerIdByMeetingId" resultType="java.lang.String" parameterType="java.util.Map">
		SELECT
			t.user_id as userId
        FROM
			oa_meeting_reploy t
		WHERE 1=1
		 <choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and t.meeting_id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		group by t.user_id
	</select>
	
	
	<!-- 获取参会用户信息-->
	<select id="getUserInfoByMeetingId" resultType="java.lang.String" parameterType="java.util.Map">
		SELECT
			t.user_name as userName
        FROM
			oa_meeting_reploy t
		WHERE 1=1
		 <choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and t.meeting_id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		group by t.user_name
	</select>
	
	<!-- 获取参会用户信息-->
	<select id="queryReployUserInfoByMeetingId" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			t.user_name as userName,
			t.user_id as userId
        FROM
			oa_meeting_reploy t
		WHERE 1=1
		 <choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and t.meeting_id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		group by t.user_name
	</select>
	
	
	<select id="queryListMeetingReploy" resultType="com.jzy.hio.oa.meeting.entity.MeetingReply" parameterType="java.util.Map">
		SELECT
			t.id,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.create_date as createDate,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.update_date as updateDate,
			t.delflag as delflag,
			t.concurrency_version as concurrencyVersion,
			t.meeting_id as meetingId,
			t.user_id as userId,
			t.user_name as userName,
			t.join_flag as joinFlag,
			t.reply_suggestion as replySuggestion,
			t.reply_date as replyDate,
			t.tend_id as tendId
		
        FROM
			oa_meeting_reploy t
		WHERE 1=1
		
		 <choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and t.meeting_id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		ORDER BY t.reply_date desc
	</select>
</mapper>