:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color: #a94442;  
	}
	
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color: #a94442;
	}
	
	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
	    color: #a94442;
	}
	
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
	    color: #a94442;
	}
	.mt50{margin-top:0;}
	.mt50 .btn-dim{
		    background: #46A7FF!important;
		    color:#fff;
	}
	.mt50 .btn-em {
	    display: block;
	    float: left;
	    border: 1px solid #D6D6D6;
	    background-color: transparent;
	    color: #46A7FF;
	    margin-right: 0px;
	}