<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.role.mapper.RoleMapper">
	
	<select id="queryRoles" resultType="com.jzy.hio.sys.role.dto.RoleDto">
		SELECT COUNT(ru.`role_id`) as roleUserCount, 
			r.id as roleId,
			r.name as roleName,
			r.create_date as createTime, 
			r.remark roleRemark
		FROM oa_sys_role r 
		LEFT JOIN oa_sys_role_user ru ON r.`id` = ru.`role_id` and ru.delflag = 0
		where r.delflag = 0 and type = 0
		<if test="name != null and name != ''">
			and r.name like '%${name}%' 
		</if>
		GROUP BY r.id
		<choose>
			<when test="orderBy != null">
				order by r.${orderBy}
			</when>
			<otherwise>
				order by r.sort
			</otherwise>
		</choose>
	</select>
	
	<select id="queryRoleById" resultType="com.jzy.hio.sys.role.dto.RoleDto">
		select r.id roleId, 
			r.name roleName, 
			r.remark roleRemark 
		from oa_sys_role r where r.id = #{roleId}
	</select>
	
	<select id="queryRoleByUserId" resultType="com.jzy.hio.entity.OaSysRole">
		SELECT * FROM oa_sys_role r 
		LEFT JOIN oa_sys_role_user ru ON r.`id` = ru.`role_id`
		WHERE ru.`user_id` = #{userId}
	</select>
	
	<select id="queryRoleIsExist" resultType="int">
		select count(1) from oa_sys_role u 
		where u.delflag = 0 and u.name = #{roleName} 
		<if test="roleId != null">
			and u.id != #{roleId}
		</if>
	</select>
	
	<select id="queryRoleUserCount" resultType="int">
		select count(1) from oa_sys_role_user ru 
		left join oa_sys_role r on ru.role_id = r.id
		where ru.delflag = 0 and r.id = #{roleId}
	</select>
	
	<select id="queryManagerUserIdIM" resultType="string">
		select distinct u.`im_user_id`  from oa_sys_role_user ru 
		join oa_sys_user u on ru.`user_id` = u.`id`
		where ru.`role_id` = 1001 and u.im_user_id is not null and u.work_status=1 and u.delflag = 0;
	</select>
</mapper>