<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.role.mapper.RoleUserMapper">
	
	<delete id="deleteByRoleId">
		delete from oa_sys_role_user  
		where role_id = #{roleId}
	</delete>
	
	<delete id="deleteByUserId">
		delete from oa_sys_role_user  
		where user_id = #{userId}
	</delete>
	
	<select id="queryRoleUsers" resultType="com.jzy.hio.sys.role.dto.RoleUserDto">
		select u.`id` as userId,
		u.`real_name` as userName,
		CASE u.`is_male` WHEN 1 THEN '男' WHEN 2 THEN '女' ELSE '' END as userSex,
		u.`mobile` as userPhone,
		u.`email` as userEmail,
		u.pinyin_full as pinyinFull,
		u.pinyin_first_letter as pinyinFirst
		from oa_sys_role_user ru
		left join oa_sys_user u on ru.`user_id` = u.`id`
		where ru.delflag = 0 and
		ru.`role_id` = #{roleId};
		<if test="userName != null">
			and (u.real_name like '%${userName}%' or u.pinyin_first_letter like '%${userName}%' or u.pinyin_full like '%${userName}%')
		</if>
		<if test="userPhone != null">
			and u.mobile like '%${userPhone}%'
		</if>
	</select>

	<select id="querySuperIsCanDelete" resultType="int">
		SELECT count(*) from oa_sys_role_user  ru
		LEFT JOIN oa_sys_user u on ru.user_id = u.id
		WHERE role_id = '1001'
		and ru.user_id != #{userId}
		AND u.work_status = 1;
	</select>

	<select id="queryIsxist" resultType="int">
		select count(1) from
		oa_sys_role_user ru
		where ru.delflag = 0 and ru.role_id = #{roleId}
		and ru.user_id = #{userId}
	</select>
	
	
	<select id="queryRoleUserByMenuCode" resultType="com.jzy.hio.sys.role.dto.RoleUserDto">
		select distinct 
		u.`id` as userId,
		u.`real_name` as userName,
		CASE u.`is_male` WHEN 1 THEN '男' WHEN 2 THEN '女' ELSE '' END as userSex,
		u.`mobile` as userPhone,
		u.`email` as userEmail,
		u.pinyin_full as pinyinFull,
		u.pinyin_first_letter as pinyinFirst
		--
		from oa_sys_role_permission rp
		LEFT JOIN oa_sys_menu m on rp.menu_id = m.id
		LEFT JOIN oa_sys_role_user ru ON rp.role_id = ru.role_id
		LEFT JOIN oa_sys_user u on ru.user_id = u.id
		WHERE 
		u.work_status = 1 and u.delflag = 0 and
		u.id is not null and m.`code` like '${menuCode}%'
	</select>
</mapper>