<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.role.mapper.RolePermissionMapper">
	
	<delete id="deleteByRoleId">
		delete from oa_sys_role_permission 
		where role_id = #{roleId}
	</delete>

	<sql id="rolePermissionTreeDto">
		a.Id as appId,
		a.name as appName,
		m.`id` AS id,
		m.`name` AS name, 
		m.`remark` AS remark,
		m.parent_id AS parentId, 
		rp.`id` as permissionId,
		m.permission_type AS permissionType,
		rp.`permission_value` AS permissionValue
	</sql>
	
	<!-- 查询菜单以及 指定用户具备的权限 is_permission已授权的应用 -->
	<select id="queryMenuAndRolePermission" resultType="com.jzy.hio.sys.role.dto.RolePermissionTreeDto">
		SELECT  
		<include refid="rolePermissionTreeDto"></include>
		FROM oa_sys_menu m
		left join oa_sys_app a on m.`app_id` = a.`id`
		LEFT JOIN oa_sys_role_permission rp ON m.`id` = rp.`menu_id` 
			AND rp.`role_id` = #{roleId} and rp.delflag = 0 and rp.`permission_value` > 0
		where a.status = 1 and a.is_permission = 1
		order by m.`prefix_sort`
	</select>
	
	<!-- 查询用户具备的权限 -->
	<select id="queryRolePermission" resultType="com.jzy.hio.sys.role.dto.RolePermissionDto">
		SELECT 
		<include refid="rolePermissionDto"></include>
		FROM oa_sys_menu m
		left join oa_sys_app a on m.`app_id` = a.`id`
		LEFT JOIN oa_sys_role_permission rp ON m.`id` = rp.`menu_id` 
			AND rp.`role_id` = #{roleId}
		-- 以上与queryMenuAndRolePermission一致
		where rp.id is not null and rp.`permission_value` > 0
	</select>
	
	<sql id="rolePermissionDto">
		m.`app_id` as appId,
		a.`name` as appName,
		m.`id` AS menuId,
		m.`name` AS menuName, 
		m.`remark` AS menuRemark, 
		rp.`id` as permissionId,
		m.`permission_type` AS premissionType
	</sql>
	
	<select id="queryHrRolePermission" resultType="com.jzy.hio.sys.role.dto.RolePermissionDto">
		SELECT  
		<include refid="rolePermissionDto"></include>
		FROM oa_sys_menu m
		left join oa_sys_app a on m.`app_id` = a.`id`
		LEFT JOIN oa_sys_role_permission rp ON m.`id` = rp.`menu_id` 
		<if test="userId != null">
			AND rp.`role_id` in (select distinct role_id from oa_sys_role_user ru where ru.user_id = #{userId})
			where rp.id is not null and rp.`permission_value` > 0 and m.`code` like 'hr%'
		</if>
	</select>
	
	<select id="queryIsExist" resultType="String">
		select rp.id from oa_sys_role_permission rp 
		where rp.delflag = 0 and rp.role_id = #{roleId}
		and rp.app_id = #{appId} and rp.menu_id = #{menuId}
	</select>
</mapper>