<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.office.mapper.OfficeInfoDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.oa.office.entity.OfficeInfo">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.oa.office.entity.OfficeInfo">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.oa.office.entity.OfficeInfo">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	
	<!-- 根据办公用品信息id查询下面的二级用品信息 Tree-->
	 <select id="getOfficeInfoListByHouseId" resultType="com.jzy.hio.oa.office.dto.OfficeInfoDto" parameterType="java.lang.String">
		 	  select id,stock_house_id as stockHouseId,stock_num as stockNum,stock_name as stockName,stock_category as stockCategory from oa_office_info
		 	<choose>
                <when test="_parameter != 'null'">
                   where stock_house_id = #{_parameter,jdbcType=VARCHAR}
                </when>
         </choose>
		 	 
	 </select>
	 
	 <!-- 查询办公用品一级类 Tree-->
	 <select id="getOfficeInfoTreeById" resultType="com.jzy.hio.oa.office.dto.OfficeInfoDto" parameterType="java.lang.String">
		 	  select id,stock_house_id as stockHouseId, stock_num as stockNum,stock_name as stockName,stock_category as stockCategory from oa_office_info
		 	<choose>
                <when test="_parameter != 'null'">
                   where stock_house_id = #{_parameter,jdbcType=VARCHAR}
                </when>
         </choose>
         		group by stock_house_id;
		 	 
	 </select>
	 <select id="getOfficeInfopage" resultType="java.util.Map">
	    SELECT
	a.id as id,
	a.accout_id as accoutId,
	a.stock_house_id as stockHouseId,
	a.stock_num as stockNum,
	a.stock_name as stockName,
	a.stock_specifications as stockSpecifications,
	a.metering_unit as meteringUnit,
	a.stock_brand as stockBrand,
	a.tend_id as tendId,
	a.stock_count as stockCount,
	a.out_stock_count as outStockCount,
    a.buy_date  as buyDate,
    a.min_count as minCount,
    a.warn_flag as warnFlag,
    a.house_id  as houseId,
    a.price  as price,
	a.create_date AS createDate,
	a.update_date AS updateDate,
	a.create_person_id AS createPersonId,
	a.create_person_name AS createPersonName,
	a.update_person_id AS updatePersonId,
	a.update_person_name AS updatePersonName,
	a.create_org_id AS createOrgId,
	a.create_org_name AS createOrgName,
	a.create_company_id AS createCompanyId,
	a.create_company_name AS createCompanyName,
	a.concurrency_version AS concurrencyVersion,
	a.delflag AS delflag,
  h.type_name as typeName
FROM 
	oa_office_info a 
  LEFT JOIN oa_office_house  h on a.stock_house_id=h.id where a.delflag=0 and h.delflag=0  
	 <if test="stockHouseId!=null and stockHouseId!=''">
	     and a.stock_house_id=#{stockHouseId}
	 </if>
	 <if test="accoutId !=null and accoutId !=''">
	     and a.accout_id=#{accoutId}
	 </if>
	 	 <if test="officeName !=null and officeName !=''">
	     and a.stock_name  like   CONCAT(CONCAT('%',#{officeName}),'%')
	 </if>
	 	 <if test="officeType !=null and officeType !=''">
	     and h.type_name  like  CONCAT(CONCAT('%',#{officeType}),'%')
	 </if>
	 	 <if test="officeNum !=null and officeNum !=''">
	     and a.stock_num like  CONCAT(CONCAT('%',#{officeNum}),'%')
	 </if>
	 order by a.create_date desc
	      limit #{start},#{limit}
	 </select>
	 <select id="getOfficeInfopageCount" resultType="java.lang.Integer">
	     select count(a.id) from oa_office_info a   LEFT JOIN oa_office_house  h on a.stock_house_id=h.id where a.delflag=0 and h.delflag=0	   
	       <if test="stockHouseId!=null and stockHouseId!=''">
	     	and a.stock_house_id=#{stockHouseId}
	 	 </if>
	 	 <if test="accoutId !=null and accoutId !=''">
	     	 and a.accout_id=#{accoutId}
	 	</if>
	 	<if test="officeName !=null and officeName !=''">
	     and a.stock_name  like   CONCAT(CONCAT('%',#{officeName}),'%')
	 </if>
	 	 <if test="officeType !=null and officeType !=''">
	     and h.type_name  like  CONCAT(CONCAT('%',#{officeType}),'%')
	 </if>
	 	 <if test="officeNum !=null and officeNum !=''">
	     and a.stock_num like  CONCAT(CONCAT('%',#{officeNum}),'%')
	 </if>
	 </select>
	 
	 <!--  -->
	 <select id="getOfficeInfoByIds" parameterType="map" resultType="com.jzy.hio.oa.office.entity.OfficeInfo">
		SELECT 
	a.id as id,
	a.accout_id as accoutId,
	a.stock_house_id as stockHouseId,
	a.stock_num as stockNum,
	a.stock_name as stockName,
	a.stock_specifications as stockSpecifications,
	a.metering_unit as meteringUnit,
	a.stock_brand as stockBrand,
	a.tend_id as tendId,
	a.stock_count as stockCount,
	a.out_stock_count as outStockCount,
    a.buy_date  as buyDate,
    a.min_count as minCount,
    a.warn_flag as warnFlag,
    a.house_id  as houseId,
    a.price  as price,
	a.create_date AS createDate,
	a.update_date AS updateDate,
	a.create_person_id AS createPersonId,
	a.create_person_name AS createPersonName,
	a.update_person_id AS updatePersonId,
	a.update_person_name AS updatePersonName,
	a.create_org_id AS createOrgId,
	a.create_org_name AS createOrgName,
	a.create_company_id AS createCompanyId,
	a.create_company_name AS createCompanyName,
	a.concurrency_version AS concurrencyVersion,
	a.delflag AS delflag
 from oa_office_info a 
			where id in
			<if test="params !=null">
	        	<foreach collection="params" item="param" open="(" close=")" separator=",">
					#{param.id}
				</foreach>
	        </if>
	 </select>
	 
	 <!-- 查询办公用品一级类 Tree-->
	 <select id="getOfficeInfoCount" resultType="java.util.Map" parameterType="java.lang.String">
		select h.id id,h.type_name typeName,count(i.id) num from oa_office_info i left join OA_OFFICE_HOUSE h on i.stock_house_id = h.id 
		<choose>
		      <when test="stockHouseId !=null and stockHouseId !=''">
		         where i.stock_house_id = #{stockHouseId,jdbcType=VARCHAR}
		      </when>
		</choose>
  		group by h.type_name,h.id;
		 	 
	 </select>
	 <select id="getObjectByStockNum" resultType="java.lang.Integer">
	 select count(t.id) from oa_office_info t where t.delflag=0	 and t.stock_num=#{stockNum}
	 </select>
	 <update id="updateOfficeInfoCount">
	 update oa_office_info t set 
	 <if test="stockCount!=null and stockCount!=''">
	    t.stock_count=#{stockCount}
	 </if>
	 <if test="outStockCount!=null and outStockCount!=''">
	     t.out_stock_count=#{outStockCount}
	 </if>
	 <if test="backOutStockCount!=null and backOutStockCount!=''">
	     t.out_stock_count=#{backOutStockCount}
	 </if>
	   where  t.id=#{officeinfoId} 
	 </update>
</mapper>