<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmCustomerChangeMapper">

    <select id="getAll" resultType="com.jzy.hio.crm.dto.CrmCustomerChangeDto">
        SELECT
            c.id AS sid,
            c.customer_id AS customerId,
            c.change_content AS changeContent,
            c.opportunity_id AS opportunityId,
            c.create_date AS createDate,
            c.create_person_name AS createPersonName
        FROM
            crm_customer_change c
        INNER JOIN crm_customer cu ON c.customer_id = cu.id
        WHERE
            c.delflag = 0
        <if test="uid != null and uid != ''">
            AND cu.owner_person_id = #{uid}
        </if>
        <if test="customerId != null and customerId != '' ">
            AND c.customer_id=#{customerId}
        </if>
        <if test="opportunityId != null and opportunityId != '' ">
            AND c.opportunity_id=#{opportunityId}
        </if>
        ORDER BY
            c.id DESC
        LIMIT #{startLimit},#{pageCount}
    </select>

    <select id="getCount" resultType="int">
        SELECT
          COUNT(1)
        FROM
            crm_customer_change c
        INNER JOIN crm_customer cu ON c.customer_id = cu.id
        WHERE
            c.delflag = 0
        <if test="uid != null and uid != ''">
            AND cu.owner_person_id = #{uid}
        </if>
        <if test="customerId != null and customerId != '' ">
            AND c.customer_id=#{customerId}
        </if>
        <if test="opportunityId != null and opportunityId != '' ">
            AND c.opportunity_id=#{opportunityId}
        </if>
    </select>
	 
</mapper>