<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmCustomerSalesmanMapper">
	 
	 <!-- 根据客户id和类型删除销售，状态为空时，删除负责人和共享人（type 1 负责人 0共享人 ） -->
	 <update id="deleteByCustIdAndType" parameterType="com.jzy.hio.entity.CrmCustomerSalesman">
	 	UPDATE crm_customer_salesman
	 	<set>
	 		delflag = 1,
	 		<if test="updateDate != null">
	 			update_date = #{updateDate},
	 		</if>
	 		<if test="updatePersonId != null">
	 			update_person_id = #{updatePersonId}
	 		</if>
	 	</set>
		WHERE
			customer_id = #{customerId}
		<if test="type != null">
			AND type = #{type}
		</if>
		AND delflag = 0
	 </update>

	<select id="queryType" resultType="com.jzy.hio.crm.param.CustomerSalesmansParam">
		SELECT
			s.salesman_id AS salesmanId
		FROM
			crm_customer_salesman s
		WHERE
			type = 0
		AND s.customer_id = #{customerId}
		AND delflag = 0
	</select>
	 
</mapper>