<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmContactMapper">

	<update id="updateById">
		UPDATE crm_contact
		<set>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="updatePersonId != null">
				update_person_id = #{updatePersonId},
			</if>
			<if test="customerId != null">
				customer_id = #{customerId},
			</if>
			<if test="opportunityId != null">
				opportunity_id = #{opportunityId},
			</if>
			<if test="name != null">
				`name` = #{name},
			</if>
			<if test="phoneNumber != null">
				phone_number = #{phoneNumber},
			</if>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="gendar != null">
				gendar = #{gendar},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="comment != null">
				`comment` = #{comment},
			</if>
			<if test="decisionRole != null">
				decision_role = #{decisionRole},
			</if>
			last_contact_time = #{lastContactTime}
		</set>
		WHERE
			id = #{id}
	</update>

	<!-- 联系人分页 -->
	 <select id="getPageContact" parameterType="com.jzy.hio.crm.param.CrmContactSearchParam" resultType="com.jzy.hio.crm.dto.CrmContactPageDto">
		SELECT
			cont.id AS contcatId,
			cont.customer_id AS customerId,
			cont.`name` AS contcatName,
			cust.`name` AS customerName,
			cont.gendar,
			cont.title,
			cont.decision_role AS decisionRole,
			cont.phone_number AS phoneNumber,
			cont.email,
			cont.last_contact_time AS lastFollowTime
		<include refid="contactFromWhere"></include>
		ORDER BY ${lastContactTimeSort}cont.id DESC
		LIMIT #{startLimit},#{pageCount}
	 </select>
	 <select id="getPageContactCount" parameterType="com.jzy.hio.crm.param.CrmContactSearchParam" resultType="int">
	 	SELECT
			count(1)
		<include refid="contactFromWhere"></include>
	 </select>
	 <sql id="contactFromWhere">
	 	FROM
			crm_contact cont
		LEFT JOIN crm_customer cust ON cont.customer_id = cust.id
		WHERE
			cont.delflag = 0
		<if test="uid != null and uid != ''">
			AND cust.owner_person_id = #{uid}
		</if>
		<if test="customerId != null and customerId != ''">
			AND cont.customer_id = #{customerId}
		</if>
		<if test="customerName != null and customerName != ''">
			AND instr(cust.`name`, #{customerName}) > 0
		</if>
		<if test="contcatName != null and contcatName != ''">
			AND instr(cont.`name`, #{contcatName}) > 0
		</if>
		<if test="phoneNumber != null and phoneNumber != ''">
			AND instr(cont.phone_number, #{phoneNumber}) > 0
		</if>
	 </sql>
	 
	  <!-- 联系人移动端分页 -->
	<select id="getPageContactForMobile" resultType="com.jzy.hio.crm.dto.CrmContactPageDto">
		SELECT * from (
		SELECT
		cont.id AS contcatId,
		cont.customer_id AS customerId,
		cont.`name` AS contcatName,
		cust.`name` AS customerName,
		cont.gendar,
		cont.title,
		cont.decision_role AS decisionRole,
		cont.phone_number AS phoneNumber,
		cont.email,
		cont.last_contact_time AS lastFollowTime
		FROM
		crm_contact cont
        INNER JOIN crm_customer cust ON cont.customer_id = cust.id
		WHERE
		cont.delflag = 0
		<if test="uid != null and uid != ''">
			AND cust.owner_person_id = #{uid}
		</if>
		<if test="name != null and name != ''">
			AND instr(cont.`name`, #{name}) > 0
		</if>
		ORDER BY cont.id desc
		LIMIT 0,999999999
		) a
		UNION
		SELECT * from (
		SELECT
		cont.id AS contcatId,
		cont.customer_id AS customerId,
		cont.`name` AS contcatName,
		cust.`name` AS customerName,
		cont.gendar,
		cont.title,
		cont.decision_role AS decisionRole,
		cont.phone_number AS phoneNumber,
		cont.email,
		cont.last_contact_time AS lastFollowTime
		FROM
		crm_contact cont
        INNER JOIN crm_customer cust ON cont.customer_id = cust.id
		WHERE
		cont.delflag = 0
		<if test="uid != null and uid != ''">
			AND cust.owner_person_id = #{uid}
		</if>
		<if test="name != null and name != ''">
			AND instr(cust.`name`, #{name}) > 0
		</if>
		ORDER BY cont.id desc
		LIMIT 0,999999999
		) b
		LIMIT #{startLimit},#{pageCountMobile}
	 </select>

    <select id="getPageCustomerContactForMobile" resultType="com.jzy.hio.crm.dto.CrmContactPageDto">
        SELECT
        cont.id AS contcatId,
        cont.customer_id AS customerId,
        cont.`name` AS contcatName,
        cust.`name` AS customerName,
        cont.gendar,
        cont.title,
        cont.decision_role AS decisionRole,
        cont.phone_number AS phoneNumber,
        cont.email,
        cont.last_contact_time AS lastFollowTime
        FROM
        crm_contact cont
        INNER JOIN crm_customer cust ON cont.customer_id = cust.id
        WHERE
        cont.delflag = 0
        <if test="customerId != null and customerId != ''">
            AND cust.id = #{customerId}
        </if>
        <if test="uid != null and uid != ''">
            AND cust.owner_person_id = #{uid}
        </if>
        <if test="name != null and name != ''">
            AND instr(cont.`name`, #{name}) > 0
        </if>
        ORDER BY cont.id desc
        LIMIT #{startLimit},#{pageCountMobile}
    </select>

	<select id="queryAllByCustomerId" resultType="com.jzy.hio.crm.param.CustomerContactsParam">
		SELECT
			c.id AS sid,
			c.customer_id AS customerId
		FROM
			crm_contact c
		WHERE
			c.customer_id = #{customerId}
		AND delflag = 0
	</select>
	
	<select id="selectContactList" resultType="com.jzy.hio.entity.CrmContact">
		SELECT
			tact.id,
			tact.customer_id customerId,
			tact.`name`,
			tact.master_contact masterContact,
			tact.phone_number phoneNumber,
			tact.title,
			tact.gendar,
			tact.email,
			tact.`comment`,
			tact.decision_role decisionRole,
			tact.last_contact_time as lastContactTime,
			tact.create_date as createDate,
			cust.create_person_id AS createPersonId
		FROM
			crm_contact tact
		INNER JOIN crm_customer cust ON cust.id = tact.customer_id
		AND cust.delflag = 0
		WHERE
			tact.delflag = 0
		<if test="custId != null and custId != ''">
			AND tact.customer_id = #{custId}
		</if>
		<if test="uid != null and uid != ''">
			AND cust.owner_person_id = #{uid}
		</if>
	</select>
	
</mapper>