<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmCustomerOpportunitiesMapper">
    <select id="queryOpportunities" resultType="com.jzy.hio.crm.dto.CrmCustomerOpportunitiesDto">
         SELECT
            o.id as sid,
            o.name,
            o.customer_id AS customerId,
            cu.`name` AS customerName,
            o.contact_id AS contactId,
            c.`name` AS contactName,
            o.estimate_amount AS estimateAmount,
            o.last_contact_time AS lastContactTime,
            o.stage
        FROM
            crm_customer_opportunities o
        INNER JOIN crm_customer cu ON cu.id = o.customer_id
        LEFT JOIN crm_contact c ON c.id = o.contact_id
        WHERE
            cu.owner_person_id = #{userId}
        AND o.delflag = 0
        AND o.last_contact_time IS NOT NULL
        ORDER BY o.last_contact_time DESC
        LIMIT 0,5
    </select>

	<!-- 商机列表分页-->
	<select id="getPageOpportunities" parameterType="com.jzy.hio.crm.param.CrmOpportunitySearchParam" resultType="com.jzy.hio.crm.dto.CrmOpportunityPageDto">
		SELECT
			oppo.id AS opportunityId,
			oppo.`name` AS opportunitName,
			oppo.person_in_charge personInCharge,
			oppo.customer_id AS customerId,
			cust.`name` AS customerName,
			oppo.contact_id AS contcatId,
			cont.`name` AS contcatName,
			cont.decision_role AS decisionRole,
			cont.phone_number AS phoneNumber,
			oppo.estimate_amount AS estimateAmount,
			oppo.last_contact_time AS lastFollowTime,
			oppo.stage
			<include refid="opportunityFromWhere"></include>
		ORDER BY ${lastContactTimeSort}${estimateAmountSort}oppo.id DESC
		LIMIT #{startLimit},#{pageCount}
	</select>
	<select id="getPageOpportunitiesCount" parameterType="com.jzy.hio.crm.param.CrmOpportunitySearchParam" resultType="int">
		SELECT
			count(1)
		<include refid="opportunityFromWhere"></include>
	</select>
	<sql id="opportunityFromWhere">
		FROM
			crm_customer_opportunities oppo
		INNER JOIN crm_customer cust ON oppo.customer_id = cust.id
		LEFT JOIN crm_contact cont ON oppo.contact_id = cont.id
		<where>
			oppo.delflag = 0
			<if test="uid != null and uid != ''">
				AND cust.owner_person_id = #{uid}
			</if>
			<if test="customerId != null and customerId != ''">
				AND oppo.customer_id = #{customerId}
			</if>
			<if test="stage != null">
				AND oppo.stage = #{stage}
			</if>
			<if test="opportunityName != null and opportunityName != ''">
				AND instr(oppo.`name`,#{opportunityName}) &gt; 0
			</if>
			<if test="estimateAmountStart != null">
				AND oppo.estimate_amount &gt;= #{estimateAmountStart}
			</if>
			<if test="estimateAmountEnd != null">
				AND oppo.estimate_amount &lt;= #{estimateAmountEnd}
			</if>
		</where>
	</sql>

	<!-- 查询商机各个阶段数量 -->
	<select id="selectCountGoupByStage" resultType="com.jzy.hio.crm.dto.CrmStatusCountDto">
		SELECT
			stage as 'status',
			count(stage) count
		FROM
			crm_customer_opportunities
		WHERE delflag = 0
		<if test="uid != null and uid != ''">
			AND create_person_id = #{uid}
		</if>
		<if test="customerId != null and customerId != ''">
			AND customer_id = #{customerId}
		</if>
		GROUP BY
			stage
	</select>

	 
    <select id="queryAll" resultType="com.jzy.hio.crm.dto.CrmCustomerOpportunitiesDto">
        SELECT
            o.id AS sid,
            o. name,
            o.customer_id AS customerId,
            o.person_in_charge AS personInCharge,
            cu. NAME AS customerName,
            o.contact_id AS contactId,
            c. NAME AS contactName,
            c.phone_number AS phoneNumber,
            o.estimate_amount AS estimateAmount,
            o.last_contact_time AS lastContactTime,
            o.stage,
            o.delflag
        FROM
            crm_customer_opportunities o
        LEFT JOIN crm_contact c ON c.id = o.contact_id
        LEFT JOIN crm_customer cu ON cu.id = o.customer_id
        WHERE
			cu.owner_person_id = #{userId}
        AND o.delflag = 0
        <if test="name != null and name != '' ">
			AND instr(o.`name`,#{name}) &gt; 0
        </if>
        <if test="startAmount != null and startAmount != '' ">
            AND o.estimate_amount &gt;= #{startAmount}
        </if>
        <if test="endAmount != null and endAmount != '' ">
            AND o.estimate_amount &lt;= #{endAmount}
        </if>
        ORDER BY
            o.last_contact_time DESC
        LIMIT #{startLimit},#{pageCount}
    </select>

    <select id="getCount" resultType="int">
        SELECT
        COUNT(1)
        FROM
            crm_customer_opportunities o
        LEFT JOIN crm_contact c ON c.id = o.contact_id
        LEFT JOIN crm_customer cu ON cu.id = o.customer_id
        WHERE
			cu.owner_person_id = #{userId}
        <if test="name != null and name != '' ">
			AND instr(o.`name`,#{name}) &gt; 0
        </if>
        <if test="startAmount != null and startAmount != '' ">
			AND o.estimate_amount &gt;= #{startAmount}
        </if>
        <if test="endAmount != null and endAmount != '' ">
			AND o.estimate_amount &lt;= #{endAmount}
        </if>
        AND o.delflag = 0
    </select>
    
    <select id="selectCustEstimateAmount" parameterType="string" resultType="java.math.BigDecimal">
    	SELECT
			IFNULL(SUM(estimate_amount), 0)
		FROM
			crm_customer_opportunities
		WHERE
			customer_id = #{customerId}
		AND delflag = 0
    </select>
    
    <select id="selectOpportunityNameCount" resultType="int">
		SELECT
			count(id)
		FROM
			crm_customer_opportunities
		WHERE
			`name` = #{name}
		AND delflag = 0
		AND customer_id = #{customerId}
		<if test="id != null and id != ''">
			AND id != #{id}
		</if>
	</select>
	
	
</mapper>