<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmCustomerMapper">
	 
	<!-- 查询客户名称是否有重复 -->
	<select id="selectCustNameCount" resultType="int">
	 	SELECT
			count(id)
		FROM
			crm_customer
		WHERE
			`name` = #{name}
		AND delflag = 0
		<if test="id != null and id != ''">
			AND id != #{id}
		</if>
	</select>
	 
	 <select id="selectCustNames" parameterType="map" resultType="com.jzy.hio.crm.dto.CustomerNamesDto">
	 	SELECT
			id customerId,
			`name` customerName
		FROM
			crm_customer
		WHERE delflag = 0
		<if test="uid != null and uid != ''">
			AND owner_person_id = #{uid}
		</if>
		<if test="name != null and name != ''">
			AND instr(`name`, #{name}) > 0
		</if>
		ORDER BY id desc
	 </select>
	 
	 <select id="selectCustCountGoupByStatus" resultType="com.jzy.hio.crm.dto.CrmStatusCountDto">
		SELECT
			count(`status`) count,
			`status`
		FROM
			crm_customer
		WHERE
			delflag = 0
		<if test="uid != null and uid != ''">
			AND owner_person_id = #{uid}
		</if>
		GROUP BY
			`status`
	 </select>
	 
	<!-- 客户列表分页-->
	<select id="getPageCustomers" parameterType="com.jzy.hio.crm.param.CrmCustomerSearchParam" resultType="com.jzy.hio.crm.dto.CrmCustomerPageDto">
		SELECT
			cust.id as customerId,
			cust.`name` as customerName,
			cust.source,
			cust.address,
			cust.type,
			sale.salesman_id as salesmanId,
			sale.type as salesType,
			cust.create_date as createDate,
			cust.last_contact_time as lastFollowTime
			<include refid="customerFromWhere"></include>
		ORDER BY ${lastContactTimeSort}${createDateSort}cust.id DESC
		LIMIT #{startLimit},#{pageCount}
	</select>
	<select id="getPageCustomersCount" parameterType="com.jzy.hio.crm.param.CrmCustomerSearchParam" resultType="int">
		SELECT
			count(1)
		<include refid="customerFromWhere"></include>
	</select>
	<sql id="customerFromWhere">
		FROM
			crm_customer cust
		LEFT JOIN crm_customer_salesman sale ON cust.id = sale.customer_id
		AND sale.type = 1
		AND sale.delflag = 0
		<where>
			cust.delflag = 0
			<if test="uid != null and uid != ''">
				AND sale.salesman_id = #{uid}
			</if>
			<if test="status != null">
				AND cust.status = #{status}
			</if>
			<if test="type != null">
				AND cust.type = #{type}
			</if>
			<if test="source != null">
				AND cust.source = #{source}
			</if>
			<if test="dealStatus != null">
				AND cust.deal_status = #{dealStatus}
			</if>
			<if test="allocationStatus != null">
				<if test="allocationStatus == 1">
					AND cust.owner_person_id != ''
				</if>
				<if test="allocationStatus == 0">
					AND cust.owner_person_id = ''
				</if>
			</if>
			<if test="followTimeEnd != null">
				AND (cust.last_contact_time &lt; #{followTimeEnd} OR cust.last_contact_time IS NULL)
			</if>
			<if test="customerName != null and customerName != ''">
				AND instr(cust.`name`,#{customerName}) &gt; 0
			</if>
		</where>
	</sql>

	<select id="selectCustNameByIds" parameterType="map" resultType="com.jzy.hio.crm.dto.CustomerNamesDto">
		SELECT
			id customerId,
			`name` customerName
		FROM
		crm_customer
		WHERE delflag = 0
		<if test="uid != null and uid != ''">
			AND owner_person_id = #{uid}
		</if>
		and id in
		<foreach item="item" collection="custIds" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>