<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmCustomerFollowPlanMapper">

	 <select id="queryFollowPlan" resultType="com.jzy.hio.crm.dto.CrmCustomerFollowPlanDto">
       SELECT
            p.id AS sid,
            p.contact_id AS contactId,
            p.customer_id AS customerId,
            p.opportunity_id AS opportunityId,
	        p.contact_time AS contactTime,
            p.contact_way AS contactWay,
            p.delflag,
            cu.`name` AS customerName,
            c.decision_role AS decisionRole,
            c.phone_number AS phoneNumber,
            c.`name` AS contactName,
            o.`name` AS opportunityName
        FROM
            crm_customer_follow_plan p
        INNER JOIN crm_customer cu ON p.customer_id = cu.id
        LEFT JOIN crm_contact c ON p.contact_id = c.id
        LEFT JOIN crm_customer_opportunities o ON o.id = p.opportunity_id
        WHERE
            cu.owner_person_id = #{userId}
        AND p.delflag = 0
        AND DATE(p.contact_time) = #{formatDate}
        ORDER BY
            p.contact_time asc
        LIMIT 0,5
     </select> 

    <select id="getPage" resultType="com.jzy.hio.crm.dto.CrmCustomerFollowPlanDto">
        SELECT
            p.id AS sid,
            p.contact_id AS contactId,
            p.customer_id AS customerId,
            p.opportunity_id AS opportunityId,
            p.last_contact_time AS lastContactTime,
            p.target,
            p.contact_way contactWay,
            p.update_date AS updateDate,
            p.create_person_id AS createPersonId,
            p.create_person_name AS createPersonName,
            p.contact_time AS contactTime,
            cu.`name` AS customerName,
            c.`name` AS contactName,
            c.decision_role AS decisionRole,
            c.phone_number AS phoneNumber,
            o.`name` AS opportunityName
        FROM
            crm_customer_follow_plan p
        INNER JOIN crm_customer cu ON p.customer_id = cu.id
        LEFT JOIN crm_contact c ON p.contact_id = c.id
        LEFT JOIN crm_customer_opportunities o ON o.id = p.opportunity_id
        WHERE
           cu.owner_person_id = #{userId}
           AND p.delflag = 0
           AND DATE(p.contact_time)=#{today}
        <if test="customerName != null and customerName != '' ">
            AND cu.`name` LIKE CONCAT('%', #{customerName}, '%')  
        </if>
        <if test="contactName != null and contactName != '' ">
            AND c.`name` LIKE CONCAT('%', #{contactName}, '%')  
        </if>
        <if test="startTime != null">
            AND p.contact_time &gt;= #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            AND p.contact_time &lt;= #{endTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY
        ${contactTimeSort}${updateDateSort}p.id DESC
        LIMIT #{startLimit},#{pageCount}
    </select>

    <select id="getPageCount" resultType="int">
        SELECT
        	COUNT(1)
        FROM
            crm_customer_follow_plan p
        INNER JOIN crm_customer cu ON p.customer_id = cu.id
        LEFT JOIN crm_contact c ON p.contact_id = c.id
        LEFT JOIN crm_customer_opportunities o ON o.id = p.opportunity_id
        WHERE
           cu.owner_person_id = #{userId}
           AND p.delflag = 0
           AND DATE(p.contact_time)=#{today}
        <if test="customerName != null and customerName != '' ">
            AND cu.`name` LIKE CONCAT('%', #{customerName}, '%')  
        </if>
        <if test="contactName != null and contactName != '' ">
            AND c.`name` LIKE CONCAT('%', #{contactName}, '%')  
        </if>
        <if test="startTime != null">
            AND p.contact_time &gt;= #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            AND p.contact_time &lt;= #{endTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <select id="queryPlanList" resultType="com.jzy.hio.crm.dto.CrmCustomerFollowPlanDto">
        SELECT
            p.id AS sid,
            p.contact_id AS contactId,
            p.customer_id AS customerId,
            p.opportunity_id AS opportunityId,
            p.last_contact_time AS lastContactTime,
            p.target,
            p.contact_way contactWay,
            p.update_date AS updateDate,
            p.create_person_id AS createPersonId,
            p.create_person_name AS createPersonName,
            p.contact_time AS contactTime,
            cu.`name` AS customerName,
            c.`name` AS contactName,
            c.decision_role AS decisionRole,
            c.phone_number AS phoneNumber,
            o.`name` AS opportunityName
        FROM
            crm_customer_follow_plan p
        INNER JOIN crm_customer cu ON p.customer_id = cu.id
        LEFT JOIN crm_contact c ON p.contact_id = c.id
        LEFT JOIN crm_customer_opportunities o ON o.id = p.opportunity_id
        WHERE
        	p.delflag = 0
        <if test="userId != null and userId != ''">
            AND cu.owner_person_id = #{userId}
        </if>
        <if test="customerId != null and customerId != '' ">
            AND p.customer_id = #{customerId} 
        </if>
        <if test="contactId != null and contactId != '' ">
            AND p.contact_id = #{contactId}
        </if>
        <if test="opportunityId != null and opportunityId != '' ">
            AND p.opportunity_id = #{opportunityId}
        </if>
        <if test="customerName != null and customerName != '' ">
            AND cu.`name` LIKE CONCAT('%', #{customerName}, '%')  
        </if>
        <if test="contactName != null and contactName != '' ">
            AND c.`name` LIKE CONCAT('%', #{contactName}, '%')  
        </if>
        <if test="startTime != null">
            AND p.contact_time &gt;= #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            AND p.contact_time &lt;= #{endTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY
            ${contactTimeSort}${updateDateSort}p.id DESC
        LIMIT #{startLimit},#{pageCount}
    </select>

    <select id="PageCount" resultType="int">
        SELECT
        	COUNT(1)
        FROM
            crm_customer_follow_plan p
       	INNER JOIN crm_customer cu ON p.customer_id = cu.id
        LEFT JOIN crm_contact c ON p.contact_id = c.id
        LEFT JOIN crm_customer_opportunities o ON o.id = p.opportunity_id
        WHERE
        	p.delflag = 0
        <if test="userId != null and userId != ''">
            AND cu.owner_person_id = #{userId}
        </if>
        <if test="customerId != null and customerId != '' ">
            AND p.customer_id = #{customerId}
        </if>
        <if test="contactId != null and contactId != '' ">
            AND p.contact_id = #{contactId}
        </if>
        <if test="opportunityId != null and opportunityId != '' ">
            AND p.opportunity_id = #{opportunityId}
        </if>
        <if test="customerName != null and customerName != '' ">
            AND cu.`name` LIKE CONCAT('%', #{customerName}, '%')  
        </if>
        <if test="contactName != null and contactName != '' ">
            AND c.`name` LIKE CONCAT('%', #{contactName}, '%')  
        </if>
        <if test="startTime != null">
            AND p.contact_time &gt;= #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            AND p.contact_time &lt;= #{endTime,jdbcType=TIMESTAMP}
        </if>
    </select>

</mapper>