<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmCustomerFollowHisMapper">
	 
	 <select id="queryHisList" resultType="com.jzy.hio.crm.dto.CrmCustomerFollowHisDto">
        SELECT
            h.id AS sid,
            h.customer_id AS customerId,
            h.opportunity_id AS opportunityId,
            h.plan_id AS planId,
            h.contact_id AS contactId,
            h.contact_name AS contactName,
            h.contact_way AS contactWay,
            h.contact_content AS contactContent,
            h.opportunity_name AS opportunityName,
            h.create_person_name AS createPersonName,
            h.decision_role AS decisionRole,
            h.create_date AS createTime,
            h.delflag
        FROM
            crm_customer_follow_his h
         INNER JOIN crm_customer cu ON h.customer_id = cu.id
         <where>
             <if test="uid != null and uid != ''">
                 AND cu.owner_person_id = #{uid}
             </if>
	         <if test="customerId != null and customerId != '' ">
	            AND h.customer_id = #{customerId}
	         </if>
	         <if test="opportunityId != null and opportunityId != '' ">
	             AND h.opportunity_id = #{opportunityId}
	         </if>
	         <if test="planId != null and planId != '' ">
	             AND h.plan_id = #{planId}
	         </if>
	         <if test="contactId != null and contactId != '' ">
	             AND h.contact_id = #{contactId}
	         </if>
         </where>
         ORDER BY
             h.id DESC
         LIMIT #{startLimit},#{pageCount}
     </select>

    <select id="count" resultType="int">
        SELECT
        COUNT(1)
        FROM
        crm_customer_follow_his h
        INNER JOIN crm_customer cu ON h.customer_id = cu.id
        <where>
            <if test="uid != null and uid != ''">
                AND cu.owner_person_id = #{uid}
            </if>
	        <if test="customerId != null and customerId != '' ">
	            AND h.customer_id = #{customerId}
	        </if>
	        <if test="opportunityId != null and opportunityId != '' ">
	            AND h.opportunity_id = #{opportunityId}
	        </if>
	        <if test="planId != null and planId != '' ">
	            AND h.plan_id = #{planId}
	        </if>
	        <if test="contactId != null and contactId != '' ">
	            AND h.contact_id = #{contactId}
	        </if>
        </where>
    </select>
</mapper>