<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmOrderMapper">
	 
	<!-- 订单列表分页-->
	<select id="getPageOrders" parameterType="com.jzy.hio.crm.param.CrmOrderSearchParam" resultType="com.jzy.hio.crm.dto.CrmOrderPageDto">
		SELECT
			crmorder.id AS orderId,
			crmorder.`name` AS orderName,
			crmorder.`code` AS orderCode,
			crmorder.customer_id AS customerId,
			CASE crmorder.order_status WHEN 0 THEN cust.`name` ELSE crmorder.customer_name END as customerName,
			crmorder.person_charge_other AS personChargeOther,
			CASE crmorder.order_status WHEN 0 THEN cont.`name` ELSE crmorder.person_other_name END as personOtherName,
			crmorder.person_charge_our AS personChargeOur,
			crmorder.person_our_name AS personOurName,
			crmorder.sign_amount AS signAmount,
			crmorder.order_status AS orderStatus
			<include refid="orderFromWhere"></include>
		ORDER BY ${signAmountSort}crmorder.id DESC
		LIMIT #{startLimit},#{pageCount}
	</select>
	<select id="getPageOrdersCount" parameterType="com.jzy.hio.crm.param.CrmOrderSearchParam" resultType="int">
	 	SELECT
			count(1)
		<include refid="orderFromWhere"></include>
	</select>
	<sql id="orderFromWhere">
		FROM
			crm_order crmorder
		LEFT JOIN crm_customer cust ON crmorder.customer_id = cust.id
		LEFT JOIN crm_contact cont ON crmorder.person_charge_other = cont.id
		<where>
			crmorder.delflag = 0
			<if test="uid != null and uid != ''">
				AND cust.owner_person_id = #{uid}
			</if>
			<if test="customerId != null and customerId != ''">
				AND crmorder.customer_id = #{customerId}
			</if>
			<if test="opportunityId != null and opportunityId != ''">
				AND crmorder.opportunity_id = #{opportunityId}
			</if>
			<if test="orderStatus != null">
				AND crmorder.order_status = #{orderStatus}
			</if>
			<if test="orderName != null and orderName != ''">
				AND instr(crmorder.`name`, #{orderName}) &gt; 0
			</if>
			<if test="customerName != null and customerName != ''">
				AND instr(crmorder.customer_name,#{customerName}) &gt; 0
			</if>
		</where>
	</sql>

	
	<select id="selectCustSignAmount" parameterType="string" resultType="java.math.BigDecimal">
		SELECT
			IFNULL(SUM(sign_amount), 0) sign_amount_sum
		FROM
			crm_order
		WHERE
			customer_id = #{customerId}
		AND delflag = 0
	</select>

	<update id="updateById" parameterType="com.jzy.hio.entity.CrmOrder">
		UPDATE crm_order
		SET
		customer_id = #{customerId},
		customer_name = #{customerName},
		opportunity_id = #{opportunityId},
		opportunity_name = #{opportunityName},
		code = #{code},
		name = #{name},
		discount = #{discount},
		sign_amount = #{signAmount},
		contract_amount = #{contractAmount},
		deal_date = #{dealDate},
		contract_start_date = #{contractStartDate},
		contract_end_date = #{contractEndDate},
		person_charge_other = #{personChargeOther},
		person_other_name = #{personOtherName},
		person_charge_our = #{personChargeOur},
		person_our_name = #{personOurName},
		contract_type = #{contractType},
		payment_channel = #{paymentChannel},
		comment = #{comment},
		order_status = #{orderStatus},
		update_date = #{updateDate},
		update_person_id = #{updatePersonId},
		update_person_name = #{updatePersonName}
		WHERE id = #{id}
	</update>
	
</mapper>