<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmOrderProductMapper">
	 
	<!-- 删除订单下的商品 -->
	<update id="deleteByOrderId" parameterType="com.jzy.hio.entity.CrmOrderProduct">
		UPDATE crm_order_product
		<set>
			delflag = 1,
			<if test="updatePersonId != null and updatePersonId != ''">
				update_person_id = #{updatePersonId},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate}
			</if>
		</set>
		WHERE
			order_id = #{orderId}
		AND delflag = 0
	</update>
	 
</mapper>