<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmProductCategoryMapper">
	 
	 <!-- 查询同级下名称的是否有重复 -->
	 <select id="selectCateNameCanUse" parameterType="map" resultType="int">
	 	SELECT
			count(id)
		FROM
			crm_product_category
		WHERE
			parent_id = #{pid}
		AND `name` = #{name}
		AND delflag = 0
		<if test="id != null and id != ''">
			AND id != #{id}
		</if>
	 </select>
	 
	 <select id="selectCateByLevelAndStatus" resultType="com.jzy.hio.crm.dto.CrmProductCategoryDto">
	 	SELECT
			id AS sid,
			`code` AS 'code',
			`name` AS 'name',
			parent_id AS parentId,
			category_status AS categoryStatus
		FROM
			crm_product_category
		<where>
			delflag = 0
			<if test="level != null">
				AND level = #{level}
			</if>
			<if test="categoryStatus != null">
				AND category_status = #{categoryStatus}
			</if>
		</where>
		ORDER BY category_status DESC, id ASC
	 </select>
	 
	 <update id="closeCategoryByParent" parameterType="string">
		UPDATE crm_product_category
		SET category_status = 0
		WHERE
			parent_id = #{parentId}
		AND delflag = 0
	 </update>
	 
	 
</mapper>