<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.crm.mapper.CrmSalesRankingsMapper">
	 
	 <!-- 查询月份排行榜 -->
	 <select id="selectRankingsByMonth" parameterType="int" resultType="com.jzy.hio.crm.dto.CrmSalesRankingsDto">
	 	SELECT
			id,
			`month`,
			salesman_id AS salesmanId,
			new_order_count AS newOrderCount,
			new_customer_count AS newCustomerCount
		FROM
			crm_sales_rankings
		WHERE
			`month` = #{month}
		ORDER BY
			new_order_count DESC,new_customer_count DESC
	 </select>
	 
	 <update id="addOrderCount" parameterType="com.jzy.hio.entity.CrmSalesRankings">
	 	UPDATE crm_sales_rankings
		<set>
			new_order_count = new_order_count + 1,
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="updatePersonId != null">
				update_person_id = #{updatePersonId}
			</if>
		</set>
		WHERE
			salesman_id = #{salesmanId}
		AND `month` = #{month}
	 </update>
	 
	 <update id="addCustomerCount" parameterType="com.jzy.hio.entity.CrmSalesRankings">
	 	UPDATE crm_sales_rankings
		<set>
			new_customer_count = new_customer_count + 1,
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="updatePersonId != null">
				update_person_id = #{updatePersonId}
			</if>
		</set>
		WHERE
			salesman_id = #{salesmanId}
		AND `month` = #{month}
	 </update>
	 
</mapper>