<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.sys.mapper.SysFloatWindowDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.oa.sys.entity.SysFloatWindow">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.oa.sys.entity.SysFloatWindow">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.oa.sys.entity.SysFloatWindow">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="queryByfuzzy" resultType="com.jzy.hio.oa.sys.entity.SysFloatWindow" parameterType="java.util.Map">
		select
		   m.id as id,
	       m.serial_no as serialNo,
	       m.name as name,
	       m.state as state,
		   m.top as top,
		   m._left as _left,
		   m.width as width,
           m.height as height,
           m.type as type,
           m.delay_interval as delayInterval,
		   m.show_interval as showInterval,
           m.file as file,
           m.url as url,
   		   m.automatic_time as automaticTime,
           m.expired_time as expiredTime,
  		   m.creater as creater,
           m.create_time as createTime,
  		   m.modifier as modifier,
	  	   m.modify_time as modifyTime,
		   m.create_date as createDate,
           m.update_date as updateDate,
           m.create_person_id as createPersonId,
           m.create_person_name as createPersonName,
           m.update_person_id as updatePersonId,
           m.update_person_name as updatePersonName,
           m.create_org_id as createOrgId,
           m.create_org_name as createOrgName,
           m.create_company_id as createCompanyId,
           m.create_company_name as createCompanyName,
           m.concurrency_version as concurrencyVersion,
           m.tend_id as tendId
           from oa_sys_float_window m
           <where>
            	m.delflag = 0
			 <if test="param!=null">
			    and (m.name like '%${param}%' or m.serial_no like '%${param}%')
			 </if>
			   order by m.create_time desc
           </where>

		
	</select>
	
	<select id="getFloatWindowBySerialNo" resultType="com.jzy.hio.oa.sys.entity.SysFloatWindow" parameterType="com.jzy.hio.oa.sys.entity.SysFloatWindow">
		select
		   m.id as id,
	       m.serial_no as serialNo,
	       m.name as name,
	       m.state as state,
		   m.top as top,
		   m._left as _left,
		   m.width as width,
           m.height as height,
           m.type as type,
           m.delay_interval as delayInterval,
		   m.show_interval as showInterval,
           m.file as file,
           m.url as url,
   		   m.automatic_time as automaticTime,
           m.expired_time as expiredTime,
  		   m.creater as creater,
           m.create_time as createTime,
  		   m.modifier as modifier,
	  	   m.modify_time as modifyTime,
		   m.create_date as createDate,
           m.update_date as updateDate,
           m.create_person_id as createPersonId,
           m.create_person_name as createPersonName,
           m.update_person_id as updatePersonId,
           m.update_person_name as updatePersonName,
           m.create_org_id as createOrgId,
           m.create_org_name as createOrgName,
           m.create_company_id as createCompanyId,
           m.create_company_name as createCompanyName,
           m.concurrency_version as concurrencyVersion,
           m.tend_id as tendId
           from oa_sys_float_window m
           <where>
			     m.serial_no = #{serialNo}
			     <if test="id!=null and id!=''">
			     and id != #{id}
			     </if>
           </where>
		
	</select>
	
</mapper>