<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.sys.mapper.SysNaviMenuDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="queryRootMenu" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu" parameterType="java.util.Map">
		SELECT 
		   m.id,
		   m.name,
		   m.code,
		   m.type,
		   m.parent_id as parentId,
		   m1.name as parentName,
		   m.image,
		   m.menu_name as menuName,
		   m.resource_id as resourceId,
		   m.resource_name as resourceName,
		   m.url,
		   m.state,
		   m.portal_id as portalId,
		   m.portal_name as portalName,
		   m.sort,
		   m.delflag,
		   m.link_type as linkType,
		   m.create_date as createDate,
           m.update_date as updateDate,
           m.create_person_id as createPersonId,
           m.create_person_name as createPersonName,
           m.update_person_id as updatePersonId,
           m.update_person_name as updatePersonName,
           m.create_org_id as createOrgId,
           m.create_org_name as createOrgName,
           m.create_company_id as createCompanyId,
           m.create_company_name as createCompanyName,
           m.concurrency_version as concurrencyVersion
		 from oa_sys_navi_menu m 
		 left join oa_sys_navi_menu m1
		 on m.parent_id = m1.id
		<where>
		   <choose >
		       <when test="parentId!=null and parentId!=''">
		       m.parent_id = #{parentId,jdbcType=VARCHAR} 
		       </when>
		   		<otherwise>
               (m.parent_id is null or length(m.parent_id)=0)
           		</otherwise>
		   </choose>
		   <if test="state!=null and state !='null'">
		     and m.state = #{state}
		   </if>
		      order by m.sort
		</where>
	</select>
	<select id="queryNaviMenu" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu">
		SELECT * from oa_sys_navi_menu m  ORDER BY m.sort
	</select>
	<select id="selectMinSidSysNaviMenu" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu" parameterType="java.util.Map">
		Select * from  oa_sys_navi_menu 
		where sort = (SELECT min(sort) from oa_sys_navi_menu 
		where 1=1
		 <if test="sort!=null">
		      and sort &gt; #{sort}
		 </if>
			<choose >
			       <when test="parentId!=null and parentId!=''">
			       and parent_id = #{parentId,jdbcType=VARCHAR} 
			       </when>
			   		<otherwise>
	               and (parent_id is null or length(parent_id)=0)
	           		</otherwise>
			   </choose>
		<if test="state!=null">
		    and state =#{state}
		    </if>
		)
		 <choose >
			       <when test="parentId!=null and parentId!=''">
			       and parent_id = #{parentId,jdbcType=VARCHAR} 
			       </when>
			   		<otherwise>
	               and (parent_id is null or length(parent_id)=0)
	           		</otherwise>
			   </choose>
	</select>
	<select id="selectMaxSidSysNaviMenu" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu" parameterType="java.util.Map">
		Select * from  oa_sys_navi_menu 
		where sort = (
		SELECT max(sort) from oa_sys_navi_menu
		where 1=1
		<if test="sort!=null">
			and sort &lt; #{sort}
		</if>
		<choose >
			       <when test="parentId!=null and parentId!=''">
			       and parent_id = #{parentId,jdbcType=VARCHAR} 
			       </when>
			   		<otherwise>
	               and (parent_id is null or length(parent_id)=0)
	           		</otherwise>
			   </choose>
		  <if test="state!=null">
		    and state =#{state}
		    </if>
		)
		<choose >
			       <when test="parentId!=null and parentId!=''">
			       and parent_id = #{parentId,jdbcType=VARCHAR} 
			       </when>
			   		<otherwise>
	               and (parent_id is null or length(parent_id)=0)
	           		</otherwise>
			   </choose>
	</select>
	<update id="switchOrder" parameterType="java.util.Map" >
		UPDATE oa_sys_navi_menu
		 set sort = #{sort}
 		WHERE id=#{id}
	</update>
	<update id="updateChildrenState" parameterType="com.jzy.hio.oa.sys.entity.SysNaviMenu" >
	    update oa_sys_navi_menu set state = #{state} where parent_id = #{id} 
	</update>
	<select id="queryByfuzzy" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu" parameterType="java.util.Map">
		SELECT 
		   m.id,
		   m.name,
		   m.code,
		   m.type,
		   m.parent_id as parentId,
		   m1.name as parentName,
		   m.image,
		   m.menu_name as menuName,
		   m.resource_id as resourceId,
		   m.resource_name as resourceName,
		   m.url,
		   m.state,
		   m.sort,
		   m.delflag,
		m.link_type as linkType,
		   m.create_date as createDate,
           m.update_date as updateDate,
           m.create_person_id as createPersonId,
           m.create_person_name as createPersonName,
           m.update_person_id as updatePersonId,
           m.update_person_name as updatePersonName,
           m.create_org_id as createOrgId,
           m.create_org_name as createOrgName,
           m.create_company_id as createCompanyId,
           m.create_company_name as createCompanyName,
           m.concurrency_version as concurrencyVersion,
           m.tend_id as tendId
		 from oa_sys_navi_menu m 
		 left join oa_sys_navi_menu m1
		 on m.parent_id = m1.id
		<where>
			1=1
			
		   <if test="param!=null">
		     and ( m.name like '%${param}%' or m.menu_name like '%${param}%')
		   </if>
		      order by m.sort
		</where>
	</select>
	<select id="getNaviMenuBySerialNo" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu" parameterType="com.jzy.hio.oa.sys.entity.SysNaviMenu">
		SELECT 
		   m.id,
		   m.name,
		   m.code,
		   m.type,
		   m.parent_id as parentId,
		   m.image,
		   m.menu_name as menuName,
		   m.resource_id as resourceId,
		   m.resource_name as resourceName,
		   m.url,
		   m.state,
		   m.sort,
		   m.delflag,
		m.link_type as linkType,
		   m.create_date as createDate,
           m.update_date as updateDate,
           m.create_person_id as createPersonId,
           m.create_person_name as createPersonName,
           m.update_person_id as updatePersonId,
           m.update_person_name as updatePersonName,
           m.create_org_id as createOrgId,
           m.create_org_name as createOrgName,
           m.create_company_id as createCompanyId,
           m.create_company_name as createCompanyName,
           m.concurrency_version as concurrencyVersion,
           m.tend_id as tendId
		 from oa_sys_navi_menu m 
		<where>
		   m.code = #{code}
		   <if test="id!=null">
		    and id != #{id}
		   </if>
		</where>
	</select>
	<update id="updateFatherState" parameterType="com.jzy.hio.oa.sys.entity.SysNaviMenu" >
	    update oa_sys_navi_menu set state = #{state} where id = #{parentId} 
	</update>

	<select id="queryListByPortalId" resultType="com.jzy.hio.oa.sys.entity.SysNaviMenu" parameterType="java.util.Map">
		SELECT
		m.id,
		m.name,
		m.code,
		m.type,
		m.parent_id as parentId,
		m.image,
		m.menu_name as menuName,
		m.resource_id as resourceId,
		m.resource_name as resourceName,
		m.url,
		m.state,
		m.portal_id as portalId,
		m.portal_name as portalName,
		m.sort,
		m.delflag,
		m.link_type as linkType,
		m.create_date as createDate,
		m.update_date as updateDate,
		m.create_person_id as createPersonId,
		m.create_person_name as createPersonName,
		m.update_person_id as updatePersonId,
		m.update_person_name as updatePersonName,
		m.create_org_id as createOrgId,
		m.create_org_name as createOrgName,
		m.create_company_id as createCompanyId,
		m.create_company_name as createCompanyName,
		m.concurrency_version as concurrencyVersion
		from oa_sys_navi_menu m
		<where>
			delflag = '0' AND state = 1
			<if test="portalId!=null and portalId!=''">
				AND find_in_set(#{portalId},m.portal_id)
			</if>
			order by m.sort asc
		</where>
	</select>
</mapper>