<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.flow.entity.Ac">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.flow.entity.Ac">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.flow.entity.Ac">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.flow.entity.Ac">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>

	<!--分页查询节点列表-->
	<select id="queryModifyAcListByPage" parameterType="map" resultType="java.util.Map">
		SELECT
			busiObj.app_id AS appId,
			sysApp.`name`AS appName,
			fl.id AS flId,
			fl.`name` AS flName,
			busiObj.`name` AS businessObjectName,
			busiObj.id AS businessObjectId,
			fa.id AS id,
			fa.id AS acId,
			fa.ac_type AS acType,
			fa.name AS acName,
			fa.approve_type_id AS approveTypeId,
			fa.is_add_label AS isAddLabel,
			fa.is_start AS isStart,
			fa.post_is_null AS postIsNull,
			fa.approval_person_is_null AS approvalPersonIsNull,
			fa.post_multi_person AS postMultiPerson,
			fa.approve_strategy AS approveStrategy,
			GROUP_CONCAT(fp.participant_id,'') AS participantId,
			GROUP_CONCAT(fp.participant_name,'') AS participantName
		FROM pt_flow_ac fa
		LEFT JOIN pt_flow_fl fl ON fa.fl_id=fl.id
		LEFT JOIN pt_flow_business_object busiObj ON fl.business_object_id=busiObj.id
		LEFT JOIN pt_sys_res_app sysApp ON busiObj.app_id=sysApp.id
		RIGHT JOIN pt_flow_participant fp ON fp.ac_id=fa.id
		WHERE fl.delflag=0
		AND fl.`status`=1
		AND fa.ac_type=2
		AND fp.type=1
		<if test="appId!=null and appId!=''">
			AND sysApp.id=#{appId}
		</if>
		<if test="busiObjectIdArr!=null and busiObjectIdArr.size()>0">
			AND busiObj.id IN
			<foreach collection="busiObjectIdArr" open="(" close=")" separator="," item="busiObjectId">
				#{busiObjectId}
			</foreach>
		</if>
		<if test="flId!=null and flId!=''">
			AND fl.id=#{flId}
		</if>
		<if test="approveTypeId!=null and approveTypeId!=''">
			AND fa.approve_type_id=#{approveTypeId}
		</if>
		<if test="participantCate!=null and participantCate!=''">
			AND fp.participant_type=#{participantCate}
		</if>
		<if test="participantIdArr!=null and participantIdArr.size()>0">
			AND fp.participant_id IN
			<foreach collection="participantIdArr" open="(" close=")" separator="," item="participantId">
				#{participantId}
			</foreach>
		</if>
		<if test="postIsNull!=null and postIsNull!=''">
			AND fa.post_is_null=#{postIsNull}
		</if>
		<if test="approvalPersonIsNull!=null and approvalPersonIsNull!=''">
			AND fa.approval_person_is_null=#{approvalPersonIsNull}
		</if>
		<if test="approveStrategy!=null and approveStrategy!=''">
			AND fa.approve_strategy=#{approveStrategy}
		</if>
		<if test="isAddLabel!=null and isAddLabel!=''">
			AND fa.is_add_label=#{isAddLabel}
		</if>
		<if test="isStart!=null and isStart!=''">
			AND fa.is_start=#{isStart}
		</if>
		<if test="postMultiPerson!=null and postMultiPerson!=''">
			AND fa.post_multi_person=#{postMultiPerson}
		</if>
		<if test="modifyPersonId!=null and modifyPersonId!=''">
			AND fl.update_person_id = #{modifyPersonId}
		</if>
		<if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
			AND (fl.update_date BETWEEN concat(#{beginTime},' 00:00:00') AND concat(#{endTime},' 23:59:59'))
		</if>
		<if test="beginTime!=null and beginTime!='' and (endTime==null or endTime=='')">
			AND (fl.update_date &gt;= concat(#{beginTime},' 00:00:00'))
		</if>
		GROUP BY fa.id
		ORDER BY fl.update_date DESC,fl.id ASC
		LIMIT #{start},#{limit}
	</select>

	<!--获取节点列表总数量-->
	<select id="queryModifyAcListByPageCount" parameterType="map" resultType="java.lang.Integer">
		SELECT COUNT(DISTINCT fa.id)
		FROM pt_flow_ac fa
		LEFT JOIN pt_flow_fl fl ON fa.fl_id=fl.id
		LEFT JOIN pt_flow_business_object busiObj ON fl.business_object_id=busiObj.id
		LEFT JOIN pt_sys_res_app sysApp ON busiObj.app_id=sysApp.id
		RIGHT JOIN pt_flow_participant fp ON fp.ac_id=fa.id
		WHERE fl.delflag=0
		AND fl.`status`=1
		AND fa.ac_type=2
		AND fp.type=1
		<if test="appId!=null and appId!=''">
			AND sysApp.id=#{appId}
		</if>
		<if test="busiObjectIdArr!=null and busiObjectIdArr.size()>0">
			AND busiObj.id IN
			<foreach collection="busiObjectIdArr" open="(" close=")" separator="," item="busiObjectId">
				#{busiObjectId}
			</foreach>
		</if>
		<if test="flId!=null and flId!=''">
			AND fl.id=#{flId}
		</if>
		<if test="approveTypeId!=null and approveTypeId!=''">
			AND fa.approve_type_id=#{approveTypeId}
		</if>
		<if test="participantCate!=null and participantCate!=''">
			AND fp.participant_type=#{participantCate}
		</if>
		<if test="participantIdArr!=null and participantIdArr.size()>0">
			AND fp.participant_id IN
			<foreach collection="participantIdArr" open="(" close=")" separator="," item="participantId">
				#{participantId}
			</foreach>
		</if>
		<if test="postIsNull!=null and postIsNull!=''">
			AND fa.post_is_null=#{postIsNull}
		</if>
		<if test="approvalPersonIsNull!=null and approvalPersonIsNull!=''">
			AND fa.approval_person_is_null=#{approvalPersonIsNull}
		</if>
		<if test="approveStrategy!=null and approveStrategy!=''">
			AND fa.approve_strategy=#{approveStrategy}
		</if>
		<if test="isAddLabel!=null and isAddLabel!=''">
			AND fa.is_add_label=#{isAddLabel}
		</if>
		<if test="isStart!=null and isStart!=''">
			AND fa.is_start=#{isStart}
		</if>
		<if test="postMultiPerson!=null and postMultiPerson!=''">
			AND fa.post_multi_person=#{postMultiPerson}
		</if>
		<if test="modifyPersonId!=null and modifyPersonId!=''">
			AND fl.update_person_id = #{modifyPersonId}
		</if>
		<if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
			AND (fl.update_date BETWEEN concat(#{beginTime},' 00:00:00') AND concat(#{endTime},' 23:59:59'))
		</if>
		<if test="beginTime!=null and beginTime!='' and (endTime==null or endTime=='')">
			AND (fl.update_date &gt;= concat(#{beginTime},' 00:00:00'))
		</if>
	</select>

	<!--批量更新节点属性-->
	<update id="batchUpdateAcAttr" parameterType="map" >
		update PT_FLOW_AC
		SET update_date=SYSDATE()
		<if test="postIsNull!=null and postIsNull!=''">
			,  post_is_null=#{postIsNull}
		</if>
		<if test="approvalPersonIsNull!=null and approvalPersonIsNull!=''">
			,  approval_person_is_null=#{approvalPersonIsNull}
		</if>
		<if test="approveStrategy!=null and approveStrategy!=''">
			,  approve_strategy=#{approveStrategy}
		</if>
		<if test="postMultiPerson!=null and postMultiPerson!=''">
			,  post_multi_person=#{postMultiPerson}
		</if>
		<if test="isAddLabel!=null and isAddLabel!=''">
			,  is_add_label=#{isAddLabel}
		</if>
		<if test="isStart!=null and isStart!=''">
			,  is_start=#{isStart}
		</if>
		<if test="updatePersonId!=null and updatePersonId!=''">
			,  update_person_id=#{updatePersonId}
		</if>
		<if test="updatePersonName!=null and updatePersonName!=''">
			,  update_person_name=#{updatePersonName}
		</if>
		where
		<if test="acIdList!=null and acIdList.size()>0">
			id in
			<foreach collection="acIdList" item="acId" open="(" close=")" separator=",">
				#{acId}
			</foreach>
		</if>

	</update>

	<!--更新流程操作人-->
	<update id="batchUpdateFlOperationPerson" parameterType="map" >
		update PT_FLOW_FL
		SET update_date=SYSDATE()
		<if test="updatePersonId!=null and updatePersonId!=''">
			,  update_person_id=#{updatePersonId}
		</if>
		<if test="updatePersonName!=null and updatePersonName!=''">
			,  update_person_name=#{updatePersonName}
		</if>
		where
		<if test="flIdList!=null and flIdList.size()>0">
			id in
			<foreach collection="flIdList" item="flId" open="(" close=")" separator=",">
				#{flId}
			</foreach>
		</if>

	</update>
</mapper>