.xj-form-btn .btn {
	border-color: transparent;
}
#OfficeHouseList .ui-corner-top {
	background-color: #acd7ff;
}
.form-inline .input-group.officeType {
	padding-bottom: 5px;
}
.grid-header-justify .ui-jqgrid-hdiv {
	padding-top: 7px;
	height: 36px;
	background: #ACD7FF;
}

.position-modify {
	position: relative !important;
	top: -2px !important;	
	width: 40px;
	padding-left:0;
	padding-right: 0;
	text-align: center;
}

.office-item {
	/* visibility: hidden; */
	display: none;
}
.office-item.active {
	/* visibility: visible; */
	display: block;
}

.upload-img-view img{
	width: 100px;
	height: 100px;
	margin-top: 5px;
	border: 1px solid #f5f5f5;
}
.t_body{
	border-right:1px solid #F1F1F1;
}

#btn-ctrl .btn{
	display: none;
}

#btn-ctrl.kccx #officeRecordTPLDownload{/*库存查询*/
	display: block;
}

#btn-ctrl.kslr #officeRecordFileImport,
#btn-ctrl.kslr #officeRecordSubmit{/*快速录入*/
	display: block;
}

#officeOutList td{
    width: auto;
}
.table-bordered>thead{
    background: #acd7ff;
}
.table-bordered>thead>tr>td{
    border:1px solid #fff;
}
.mt0{
    margin-bottom: 0;
}
.textCenter{
    text-align: center;
}

/*----------------------办公用品分类--start---------------------------------------- */
.chosen-container-single .chosen-single  {
    min-height: 30px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: 28px;
    font-size: 12px;
    color: #666;
    padding: 0 10px 0 4px;
    border: 1px solid #D6D6D6;
}
.chosen-single > span{
	padding-top: 5px;
}
/*::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(238, 238, 238);
}*/
/*----------------------办公用品分类--end---------------------------------------- */
.mt50 .btn-sm.fl{
	float:right;
}
