<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.office.entity.OfficeOut">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.office.entity.OfficeOut">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.office.entity.OfficeOut">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.office.entity.OfficeOut">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="getOfficeOutpageCount" resultType="java.lang.Integer">
		select count(t.id) from oa_office_out t left  join pt_sys_org_user  g on t.create_person_id=g.id where t.delflag=0
 	</select>
	<select id="getOfficeOutpage" resultType="java.util.Map">
		SELECT
	t.id,
	t.status,
	t.theme,
	g.real_name as realName,
	o.name as OrgName,
	t.create_date AS createDate,
	t.update_date AS updateDate,
	t.create_person_id AS createPersonId,
	t.create_person_name AS createPersonName,
	t.update_person_id AS updatePersonId,
	t.update_person_name AS updatePersonName,
	t.create_org_id AS createOrgId,
	t.create_org_name AS createOrgName,
	t.create_company_id AS createCompanyId,
	t.create_company_name AS createCompanyName,
	t.concurrency_version AS concurrencyVersion,
	t.delflag AS delflag
FROM
	oa_office_out t
LEFT JOIN pt_sys_org_user g ON t.create_person_id = g.id
LEFT JOIN pt_sys_org_orgnazation o ON g.belong_org_id = o.id
WHERE
	t.delflag = 0

 	</select>
</mapper>