<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.comment.mapper.CommentMapper">

	<update id="delete">
		UPDATE `comment` a SET a.`delflag` = 1
		WHERE
		a.`business_id` = #{businessId} AND a.`id` = #{id}
	</update>

	<select id="queryCommentList" resultType="com.jzy.hio.entity.Comment">

		SELECT
		`business_type` AS businessType,
		`business_id` AS businessId,
		`user_id` AS userId,
		`comment_user_id` AS commentUserId,
		`comment_content` AS commentContent,
		`comment_date` AS commentDate,
		`id`,
		`create_person_id` AS createPersonId,
		`create_person_name` AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`concurrency_version` AS concurrencyVersion,
		`reserve1`,
		`reserve2`,
		`reserve3`,
		`reserve4`,
		`reserve5`
		FROM
		`comment` WHERE delflag = '0'
		
		<if test="businessId !=null and businessId !=null">
			AND business_id = #{businessId}
		</if>
		
		<if test="businessType !=null and businessType !=''">
			AND business_type = #{businessType}
		</if>
		
		ORDER BY create_date desc
		
		<if test="pageNum !=null and pageCount !=''">
			limit #{pageNum},#{pageCount}
		</if>

	</select>
	
	<select id="queryCountCommentList" resultType="Integer">

		SELECT
		COUNT(business_id)
		FROM
		`comment` WHERE delflag = '0'
		
		<if test="businessId !=null and businessId !=''">
			AND business_id = #{businessId}
		</if>
		
		<if test="businessType !=null and businessType !=''">
			AND business_type = #{businessType}
		</if>
		
		ORDER BY create_date desc
		
	</select>
	
	<select id="queryCommentUser" resultType="com.jzy.hio.oa.comment.dto.QueryCommentUserDto" parameterType="java.lang.String">

		SELECT DISTINCT
		u.real_name AS commentUserName,u.im_user_id AS imUserId
		FROM
		oa_sys_user u WHERE u.id = #{id}
		
	</select>

</mapper>