.autoComplete{background:#fff;border:1px solid #dfdfdf}
.autoComplete ul{
    padding:0;
    margin:0;
}
.autoComplete ul li{ padding:5px 10px; cursor: pointer}
.autoComplete ul li:nth-child(odd) {
    background:#fff;  }
.autoComplete ul li:nth-child(even) {
    background:#efefef;  }
.autoComplete ul li:hover{
    background:#e3f2ff;
}