#xj-form-content .table-bordered>tbody>tr>td{
    color: #666;
}
#xj-form-content .table-bordered>tbody>tr>td.form-label1{
    width: 4%;
    color: #333;
    white-space:nowrap;
}
.w100{
    width: 100%;
}
textarea.form-control.des{
    height: 74px;
    padding: 5px;
    resize: none;
}
.form-tr p a{
    margin: 0 6px;
    color: #46A7FF;
    line-height: 14px;
    text-decoration: underline;
}
.p_more{
    color: #333;
    font-size: 12px;
    line-height: 12px;
    margin:20px 0;
}
input[type=checkbox], input[type=radio]{
    vertical-align: text-bottom;
}
.mytimeselect{
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    min-width: 63px;
    height: 28px;
    line-height: 28px;
}
.tip{
    margin-left: 20px;
    color: red;
}
.time-ti span{
    margin:0 5px;
}
.attatent a{
    margin:0 10px;
    font-size: 12px;
    color: #2CAFFF;
    letter-spacing: 0;
    line-height: 17px;
    text-decoration: underline;
}
.mb60{
    margin-bottom: 60px;
}
.tit-btns{
    padding: 20px 0;
    border-bottom: 1px dashed #ebebeb;
    border-top: 1px dashed #ebebeb;
    margin-bottom: 20px;
}
.tit-btns span{
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    margin-right: 10px;
}
.tit-btns button{
    background: #FFFFFF;
    border: 1px solid #46A7FF;
    border-radius: 2px;
    font-size: 12px;
    color: #46A7FF;
    height: 28px;
    line-height: 28px;
    text-align: center;
    padding:0 10px;
    margin-right: 6px;

}
.tit-btns button.active{
    background: #46A7FF;
    color: #fff;
}
.tit-btns .pull-right a.add-page{
    background: url("../image/add_pagebar.png") no-repeat;
    height: 19px;
    width: 19px;
    vertical-align: middle;
    display: inline-block;
}
.user-list{
    background: #f5f5f5;
}
.thead-box{
    background: #acd7ff;
    height: 50px;
    line-height: 50px;
    padding-top: 14px;
}
.thead-box table>thead>tr>td input{
    margin-right: 20px;
    vertical-align: middle;
}
.thead-box table>thead>tr>td{
    text-align: left;
    padding-left: 20px;
    font-size: 12px;
    color: #333333;
    line-height: 20px;
    border-right: 1px solid  #78BFFF;
}
.w20{
    width: 10%;
}
.w60{
    width: 60%;
}
.xj-main-grid{
    border:none;
}
.border-r-none{
    border-right: none;
}
.tbody-box{
    overflow: hidden;
    padding-right: 6px;
    border:1px solid #ebebeb;
}
.tbody-box table{
    width: 100%;
    /*border:1px solid #e2e2e2;*/

}
.tbody-box table>tbody>tr>td input{
    margin-right: 20px;
}
.tbody-box table>tbody>tr>td{
    height: 36px;
    padding-left: 20px;
    text-align: left;
    font-size: 12px;
    color: #666666;
    border: 1px dashed #E1E1E1;
}
.option-tbody-box table>tbody>tr>td{
    font-size: 12px;
    color: #666666;
    border: 1px dashed #E1E1E1;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
}

.input-box{
    margin-bottom: 20px;

}
.input-box label,.other-option label{
    font-size: 12px;
    color: #666666;
    line-height: 12px;
}
.input-box label{
    width: 48px;
    text-align: right;
    margin-right: 10px;
}

.input-box input,.other-option .short,.option-tbody-box table>tbody>tr>td input{
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    text-indent: 5px;
    height: 28px;
    line-height: 28px;
    width: 462px;
}
.option-tbody-box table>tbody>tr>td input.option-input{
    width: 28px;
    text-align: center;
    text-indent: 0;
}
.option-tbody-box table>tbody>tr>td input.con-input{
    width: 365px;
}

.option-tbody-box table>tbody>tr>td input.con-input1{
    width: 446px;
}
.option-tbody-box table>tbody>tr>td input.value-input{
    width: 64px;
}
.option-tbody-box table>tbody>tr>td .del{
    display: inline-block;
    background: url("../image/wj_delete.png") no-repeat;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}
.option-tbody-box table>tbody>tr>td .del:hover{
    background: url("../image/wj_delete_hov.png") 1px 0 no-repeat;
}
#myModal .thead-box{
    height: 40px;
    line-height: 40px;
    padding-top: 10px;
}
.thead-box table>thead>tr>td .add{
    display: inline-block;
    background: url("../image/wj_add_hov.png") no-repeat;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}
.other-option{
    margin-bottom: 20px;
}
.other-option .short{
    width: 82px;
}
.other-option .check-c{
    margin-left: 80px;
    margin-top: -2px;
    vertical-align: middle;
}
.thead-box table>thead>tr>td.optiontd
{
    width: 45px;
    padding-left: 0;
    text-align: center;
}
.contd{
    width: 320px;
}
.contd.w346{
    width: 346px;
}
.valuetd{
    width: 70px;
}
.thead-box table>thead>tr>td.deltd
{
    width: 40px;
    border-right: none;
    text-align: center;
    padding-left: 0;
}
.option-tbody-box table>tbody>tr>td.deltd
{
    width: 50px;
}
.modal-header{
    text-align: center;
}
.modal-footer{
    text-align: center;
    background: #f0f0f0;
    height: 50px;
    padding: 10px;
}
.modal-footer button{
    height: 30px;
    width: 72px;
    border-radius: 2px;
    font-size: 13px;
    color: #46A7FF;
    background: #F0F0F0;
    border: 1px solid #2CAFFF;
}
.modal-footer button.sure{
    background: #46A7FF;
    color: #fff;
    margin-right: 15px;
}
.modal-title{
    font-size: 12px;
}
.modal-title .yulan{
    background: url("../image/check_hov.png") no-repeat;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.modal-title .tip{
    position: absolute;
    top: -22px;
    left: 306px;
    z-index: 99;
    display: none;
}
.modal-title .tip img{
    width: 148px;
    height: 98px;
}
.modal-title .yulan.dan:hover{

}
.wenda .mytext{
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    width: 462px;
    height: 84px;
    resize: none;
    float: left;
}
.wenda .input-box label{
    float: left;
}

.boderShow{border: 0px}

.buttonRight{float: right;padding-right: 10px}