<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.fileserver.dao.FileDao">
	<resultMap id="BaseResultMap" type="com.jzy.fileserver.domain.FileVo">
		<result column="id" property="id" />
		<result column="md5" property="md5" />
		<result column="file_name" property="fileName" />
		<result column="file_type" property="fileType" />
		<result column="file_location" property="fileLocation" />
		<result column="upload_time" property="uploadTime" />
	</resultMap>
	
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
			id,
			file_name,
			md5,
			file_type,
			file_location,
			upload_time
		FROM
			files
		WHERE
			id = #{fileId}
	</select>	

	<select id="findByMd5" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
			id,
			file_name,
			md5,
			file_type,
			file_location,
			upload_time
		FROM
			files
		WHERE
			md5 = #{md5}
	</select>
	
	<insert id="save" parameterType="com.jzy.fileserver.domain.FileVo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO files (
			md5,
			file_name,
			file_type,
			upload_time,
			file_location
		)
		VALUES
			(#{md5}, #{fileName}, #{fileType}, #{uploadTime}, #{fileLocation})
	</insert>
	

</mapper>
