<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.res.entity.AppSystem">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.res.entity.AppSystem">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.res.entity.AppSystem">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.res.entity.AppSystem">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
		<!-- 获取总记录数 -->
	<select id="querySystemList" resultType="java.util.Map" parameterType="java.lang.String">
		select id,name from pt_sys_res_app
		<choose>
		<when test="_parameter==2">
		  where  is_permission='0'
		</when>
		</choose>
	</select>
	
	<!-- 获取列表根据条件查询 -->
	<select id="queryListByCondition" resultType="com.xinleju.platform.sys.res.entity.AppSystem" parameterType="java.util.HashMap">
		SELECT
			id AS id,
			concurrency_version AS concurrencyVersion,
			CODE AS CODE,
			NAME AS NAME,
			tend_id AS tendId,
			icon AS icon,
			STATUS AS STATUS,
			sort AS sort,
			is_permission AS isPermission,
			full_name AS fullName,
			url AS url,
			isextsys AS isextsys,
			openmode AS openmode,
			remark AS remark,
			create_date AS createDate,
			update_date AS updateDate,
			create_person_id AS createPersonId,
			create_person_name AS createPersonName,
			update_person_id AS updatePersonId,
			update_person_name AS updatePersonName,
			create_org_id AS createOrgId,
			create_org_name AS createOrgName,
			create_company_id AS createCompanyId,
			create_company_name AS createCompanyName,
			delflag AS delflag
		FROM
			PT_SYS_RES_APP
		WHERE 1=1 
			<!-- and delflag = false -->
			<if test="appStatus !=null and appStatus != ''">
				and status=#{appStatus}
			</if>
			<if test="code !=null and code != ''">
				and code =#{code}
			</if>
			<if test="appDelFlag != null and appDelFlag != ''">
				and delflag = #{appDelFlag}
			</if>
			<if test="appId != null and appId != ''">
				and id = #{appId}
			</if>
		ORDER BY sort 
	</select>
	
	<select id="queryListForSelect" resultType="com.xinleju.platform.sys.res.entity.AppSystem">
		SELECT
			id AS id,
			CODE AS CODE,
			NAME AS NAME
		FROM
			PT_SYS_RES_APP
		WHERE
			1 = 1
		AND STATUS =1 and delflag=0
		ORDER BY sort 
	</select>
	<!-- 校验编码重复 -->
	<select id="getCodeCount" parameterType="map" resultType="int">
		SELECT count(*) from pt_sys_res_app t where t.`code` =#{code} and t.delflag=0
			<if test="id !=null">
				and t.id !=#{id}
			</if>
	</select>
	
	<!-- 获取最大排序号 -->
	<select id="getMaxSort" parameterType="map" resultType="int">
		SELECT IFNULL(t.sort,0) maxSort from ${tableName} t
		 order by t.sort  desc limit 1
	</select>
	
	<!-- 维护相关表全路径 -->
	<update id="updateAllPreFix" parameterType="map">
		<if test="menuFlag != null">
			UPDATE 
				pt_sys_res_resource
			SET id=id
			<if test="prefixIdOld !=null and prefixIdNew !=null">
			    ,prefix_id = replace(prefix_id,#{prefixIdOld},#{prefixIdNew})
			</if>
			<if test="prefixNameOld !=null and prefixNameNew !=null">
			    ,prefix_name = replace(prefix_name,#{prefixNameOld},#{prefixNameNew})
			</if>
			<if test="prefixSortOld !=null and prefixSortNew !=null">
			    ,prefix_sort = replace(prefix_sort,#{prefixSortOld},#{prefixSortNew})
			</if>
		</if>
		WHERE prefix_id LIKE CONCAT(#{prefixIdOld},'%') ;		
		UPDATE  pt_sys_res_operation
		SET id=id
		    <if test="prefixIdOld !=null and prefixIdNew !=null">
			    ,prefix_id = replace(prefix_id,#{prefixIdOld},#{prefixIdNew})
			</if>
			<if test="prefixNameOld !=null and prefixNameNew !=null">
			    ,prefix_name = replace(prefix_name,#{prefixNameOld},#{prefixNameNew})
			</if>
			<if test="prefixSortOld !=null and prefixSortNew !=null">
			    ,prefix_sort = replace(prefix_sort,#{prefixSortOld},#{prefixSortNew})
			</if>
		WHERE prefix_id LIKE CONCAT(#{prefixIdOld},'%') ;
	</update>
	
		<select id="queryListToSupplier" resultType="java.util.Map" >
		SELECT
		    a.id,
			a.name
		FROM
			PT_SYS_RES_APP a
		WHERE 
		( a.name LIKE  CONCAT(CONCAT('%','成本'),'%') or a.name LIKE  CONCAT(CONCAT('%','费用'),'%'))and    a.delflag=0 
		
	</select>
	
	<select id="selectAppIdByCode" parameterType="map" resultType="String">
		SELECT a.id from pt_sys_res_app a WHERE a.`code`=#{appCode} and a.delflag=0
	</select>
</mapper>