<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.external.mapper.ExternalContactMapper">

    <!--批量更新时间-->
    <update id="updateBatchUpdateTime">
        UPDATE  oa_sys_external_contact o SET o.update_date = #{now} WHERE o.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--查询用户列表通过主键ids-->
    <select id="queryExternalUsersByIds" resultType="com.jzy.hio.sys.external.dto.ExternalContactDto">
        SELECT c.name name, c.id, c.im_user_id imUserId
        FROM oa_sys_external_contact c
        WHERE
        <choose>
            <when test="status != null and status == 0">
                c.delflag = 0 AND c.status = 1
            </when>
            <otherwise>
                c.status = 1
            </otherwise>
        </choose>
        AND c.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    
    <select id="queryExternalUsersByIdsWithRole" resultType="com.jzy.hio.sys.external.dto.ExternalContactDto">
        SELECT c.name name, c.id, c.im_user_id imUserId
        FROM oa_sys_external_contact c 
        <if test="userId != null">
        	left join oa_sys_external_share es on c.id = es.contact_id
        	WHERE es.share_id = #{userId}
        </if>
        <if test="userId == null">
        	WHERE 1=1
        </if>
         and c.delflag = 0 AND c.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryOaUserListByType" resultType="com.jzy.hio.sys.user.dto.IMUserDetailInfoDto$UserManagerDto">
        SELECT u.id id,u.real_name name,u.im_user_id imUserId,s.id esId
        FROM oa_sys_external_share s LEFT JOIN oa_sys_user u ON s.share_id = u.id
        WHERE u.delflag = 0  AND s.delflag = 0 AND u.work_status = 1
        AND s.contact_id = #{contactId}
        <if test="type != null">
            AND s.type = #{type}
        </if>
    </select>
    <select id="queryExternalContactList" resultType="com.jzy.hio.sys.external.dto.ExternalContactDto">
        SELECT
            u.id id,
            u. NAME name,
            u.mobile mobile,
            u.email email,
            u.im_user_id imUserId,
            u.pinyin_first_letter pinyinFirst,
            u.pinyin_full pinyinFull
        FROM
            oa_sys_external_contact u
        WHERE u.delflag = 0 and u.status = 1
            ORDER BY u.create_date DESC
    </select>
    
    <select id="queryListByShareId" resultType="com.jzy.hio.sys.external.dto.ExternalContactDto">
    	SELECT
            u.id id,
            u. NAME name,
            u.mobile mobile,
            u.email email,
            u.im_user_id imUserId,
            u.pinyin_first_letter pinyinFirst,
            u.pinyin_full pinyinFull
        FROM
            oa_sys_external_contact u
            left join oa_sys_external_share es
            on u.`id` = es.`contact_id`
        WHERE u.delflag = 0 and u.status = 1
	    and  es.`share_id` =  #{shareId}
            ORDER BY u.create_date DESC
    </select>

    <select id="checkExternalUserIsExitsByMobile" resultType="int">
        SELECT COUNT(1)
        FROM
          oa_sys_external_contact u
        WHERE
          u.delflag = 0
          AND u.mobile = #{mobile}
    </select>

    <select id="queryExternalShareOaUserListByIMUserId" resultType="com.jzy.hio.sys.user.dto.ImUserDto">
        SELECT u.id id,u.im_user_id imUserId,u.real_name name,u.mobile mobile,u.work_status workStatus,u.is_male sex,'user' type,#{tendId} tendId,
        u.pinyin_full pinyinFull,u.pinyin_first_letter pinyinFirst,IFNULL(u.sort,0) sort,UNIX_TIMESTAMP(u.create_date) createTime,UNIX_TIMESTAMP(u.update_date) updateTime,
        CASE u.delflag WHEN 0 THEN '1' WHEN 1 THEN '2' ELSE '' END AS status,
        CASE s.`type` WHEN 1 THEN 'external_manager' WHEN 2 THEN 'external_share' ELSE 'external_none' END AS externalType
        FROM oa_sys_external_contact c LEFT JOIN oa_sys_external_share s ON s.contact_id = c.id
        LEFT JOIN oa_sys_user u ON s.share_id = u.id
        WHERE c.im_user_id = #{imUserId}
        AND c.delflag = 0 AND s.delflag = 0 AND u.delflag = 0  AND u.work_status = 1 GROUP by u.id ORDER BY s.`type` ASC
    </select>

    <select id="queryExternalUsersByImUserIds" resultType="com.jzy.hio.sys.user.dto.FlowUserAndExternalDto">
        SELECT c.name name, c.id, c.im_user_id imUserId,c.position positionName
        FROM oa_sys_external_contact c
        WHERE
        c.delflag = 0 AND c.im_user_id IN
        <foreach collection="imUserIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryExternalManager" resultType="com.jzy.hio.sys.external.dto.ExternalManagerDto">
        SELECT u.real_name name,u.id id
        FROM oa_sys_external_share s
        LEFT JOIN oa_sys_user u ON s.share_id = u.id
        WHERE u.delflag = 0 AND s.delflag = 0 AND s.type = 1
        AND s.contact_id = #{contactId}
    </select>

    <select id="queryUserStatusByIds" resultType="Map">
        SELECT c.im_user_id id
        FROM oa_sys_external_contact c
        WHERE c.delflag = 0 AND c.status = 1 AND c.im_user_id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryExternalShareCnt" resultType="int">
        SELECT COUNT(s.id) FROM oa_sys_external_contact c
        LEFT JOIN oa_sys_external_share s ON c.id = s.contact_id
        WHERE c.im_user_id = #{imUserId} AND s.share_id = #{userId}
        AND s.delflag = 0 AND c.delflag = 0 AND c.status = 1
    </select>

    <select id="queryUserIsNormal" resultType="String">
        SELECT GROUP_CONCAT(c.name)
        FROM oa_sys_external_contact c
        WHERE (c.delflag != 0 OR c.status != 1)  AND c.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryExternalUserList" resultType="com.jzy.hio.sys.user.dto.UserDto">
        SELECT c.uid uid,c.id, c.`name` realName,c.id nodeId,
        CASE c.`is_male` WHEN 1 THEN '男' WHEN 0 THEN '女' ELSE '' END AS sex,
        c.mobile, c.`email`,
        CASE c.`status` WHEN 1 THEN 'job' WHEN 2 THEN 'leave' WHEN  0 THEN 'no_confirmed' ELSE 'no_invited' END AS workStatus,
        o.name organizationName ,
        o.id organizationId,
        c.position,
        c.im_user_Id as imUserId,
        c.pinyin_first_letter pinyinFirst, c.pinyin_full pinyinFull,
        IFNULL(c.label,"")  externalLabel,
        IFNULL(c.company,"") externalCompany,
        'external' userType
        FROM oa_sys_external_contact c
        <if test="!isSuper">
            LEFT JOIN oa_sys_external_share es
            ON c.`id` = es.`contact_id`
        </if>
        LEFT JOIN oa_sys_organization o ON o.`type`='company'
        WHERE
        c.delflag = 0 and c.status =1
        <if test="!isSuper">
            AND es.share_id = #{userId}
        </if>
        ORDER BY c.pinyin_first_letter ASC,c.id ASC
    </select>

</mapper>
