<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.user.mapper.UserPositionMapper">

    <resultMap type="com.jzy.hio.sys.organization.dto.FlowUserDto" id="userResult">
        <id column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="imUserId" property="imUserId"/>
        <result column="userType" property="userType"/>
        <result column="workStatus" property="workStatus"/>
        <result column="delflag" property="delflag"/>

        <collection property="positions" ofType="com.jzy.hio.sys.organization.dto.FlowPositionDto">
            <result column="positionName" property="positionName"/>
            <result column="positionId" property="positionId"/>
            <result column="organizationId" property="organizationId"/>
            <result column="organizationName" property="organizationName"/>
            <result column="prefixName" property="prefixName"/>
            <result column="isDefault" property="isDefault"/>
        </collection>
    </resultMap>
    <!--通过useIds查询PositionNames-->
      <select id="queryPositionNameByUserIds" resultMap="userResult">
        SELECT
        u.id userId,
        u.user_type userType,
        u.real_name userName,
        u.im_user_id imUserId,
        u.work_status workStatus,
        u.delflag delflag,
        up.id positionId,
        IFNULL(up.position,'') positionName ,
        o.id organizationId,
        o.prefix_name prefixName,
        o.name as organizationName,
        up.is_default isDefault
        FROM
        oa_sys_user u
        LEFT JOIN oa_sys_user_position up ON u.id = up.user_id
        LEFT JOIN oa_sys_organization o ON up.organization_id = o.id
        WHERE u.user_type = 1 and
        up.delflag = 0 AND o.delflag = 0
          <choose>
              <when test="status != null and status == 0">
                  AND u.work_status = 1 AND u.delflag = 0
              </when>
              <when test="status != null and status == 1">
                  AND u.work_status IN (1,2) AND u.delflag = 0
              </when>
              <when test="status != null and status == 2">
                  AND u.work_status = 1
              </when>
              <when test="status != null and status == 3">
                  AND u.work_status IN (1,2)
              </when>
              <otherwise>
                  AND u.work_status = 1 AND u.delflag = 0
              </otherwise>
          </choose>
        AND
        u.id IN
        <foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
      UNION
          SELECT
          u.id userId,
          u.user_type userType,
          u.real_name userName,
          u.im_user_id imUserId,
          u.work_status workStatus,
          u.delflag delflag,
          '-1' positionId,
          c.position positionName ,
          '-1' organizationId,
          '' prefixName,
          '' as organizationName,
          true isDefault
          FROM
          oa_sys_user u
          LEFT JOIN oa_sys_external_contact c ON u.id = c.id
          WHERE u.user_type = 2
          <choose>
              <when test="status != null and status == 0">
                  AND u.work_status = 1 AND u.delflag = 0
              </when>
              <when test="status != null and status == 1">
                  AND u.work_status IN (1,2) AND u.delflag = 0
              </when>
              <when test="status != null and status == 2">
                  AND u.work_status = 1
              </when>
              <when test="status != null and status == 3">
                  AND u.work_status IN (1,2)
              </when>
              <otherwise>
                  AND u.work_status = 1 AND u.delflag = 0
              </otherwise>
          </choose>
          AND
          u.id IN
          <foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">
              #{item}
          </foreach>
    </select> 

    <!-- 查询人员列表 -->
    <select id="queryPosition" resultType="Integer">
	 	SELECT count(1) FROM oa_sys_user_position up 
	 	WHERE is_default = 1 and up.`user_id` = #{userId} and up.delflag = 0;
	 </select>

    <!--获取用户列表-->
    <select id="getUserListByOrg" resultType="com.jzy.hio.sys.user.dto.UserDto">
        SELECT
        u.id id,u.mobile mobile,u.real_name realName,
        CASE u.`is_male` WHEN 1 THEN '男' WHEN 0 THEN '女' ELSE '' END AS sex,
        u.`email`,
        CASE u.`work_status` WHEN 1 THEN 'job' WHEN 2 THEN 'leave' WHEN 0 THEN 'no_confirmed' ELSE 'no_invited' END AS workStatus,
        CASE u.`work_status` WHEN 1 THEN '1' WHEN 0 THEN '2' WHEN 3 THEN '3' WHEN 2 THEN '4' ELSE '100' END AS orderNum,
        up.position,o.`name` organizationName,
        o.leader_id = up.user_id AND o.id = #{userParam.organizationId} isLeader,
        up.is_default isDefault,
        o.id = #{userParam.organizationId} AND o.leader_id = up.user_id isCurOrgLeader
        FROM
        oa_sys_user_position up
        LEFT JOIN oa_sys_user u ON u.id = up.user_id
        LEFT JOIN oa_sys_organization o ON up.organization_id = o.`id`
        WHERE u.user_type = 1 and 
        up.delflag = 0
        AND u.delflag = 0
        <if test="userParam.prefixId != null">
            AND o.prefix_id LIKE CONCAT(#{userParam.prefixId},'%')
        </if>
        <choose>
            <when test="userParam.status != null and userParam.status == 1">
                AND u.work_status IN (0,1) AND up.is_default = 1
            </when>
            <when test="userParam.status != null and userParam.status == 2">
                AND u.work_status IN (0,1,2) AND up.is_default = 1
            </when>
            <when test="userParam.status != null and userParam.status == 3">
                AND u.work_status IN (0,1)
            </when>
            <when test="userParam.status != null and userParam.status == 4">
                AND u.work_status IN (0,1,2)
            </when>
            <when test="userParam.status != null and userParam.status == 5">
                AND u.work_status IN (1)
            </when>
        </choose>
        <if test="userParam.queryCondition != null and userParam.queryCondition != ''">
            AND ( (u.real_name LIKE CONCAT( '%',#{userParam.queryCondition}, '%' ))
            OR (u.pinyin_first_letter LIKE CONCAT( '%',#{userParam.queryCondition}, '%' ))
            OR (u.pinyin_full LIKE CONCAT( '%',#{userParam.queryCondition}, '%' ))
            OR (u.mobile LIKE CONCAT( '%',#{userParam.queryCondition}, '%' )))
        </if>
        ORDER BY isCurOrgLeader DESC ,orderNum ASC,u.sort DESC
    </select>

    <!--根据组织ID和角色查询用户 交集-->
    <select id="getUserListByOrgAndRole" resultType="com.jzy.hio.sys.user.dto.UserDto">
        SELECT
        distinct(u.id) id,
        u.im_user_id imUserId,
        u.real_name realName,
        up.position position
        FROM
        oa_sys_organization o
        LEFT JOIN oa_sys_user_position up ON o.id = up.organization_id
        LEFT JOIN oa_sys_user u ON u.id = up.user_id
        LEFT JOIN oa_sys_role_user ru ON u.id = ru.user_id
        LEFT JOIN oa_sys_role r ON r.id = ru.role_id
       	WHERE u.user_type = 1  
        and u.delflag = 0
        AND u.work_status = 1
        AND up.delflag = 0
        AND o.delflag = 0
        AND  ru.delflag = 0
        AND r.delflag = 0
        AND u.delflag = 0
        AND r.id = #{roleId}
        AND o.prefix_id LIKE CONCAT( #{prefixId}, '%' )

    </select>

    <!--根据用户ID查询直属上级-->
    <select id="getOrgLeaderByUserId" resultType="com.jzy.hio.sys.user.dto.UserDto">
        SELECT
            u.id id,u.real_name realName,u.mobile mobile,u.im_user_id imUserId
        FROM
            oa_sys_user_position up
        LEFT JOIN oa_sys_organization o ON up.organization_id = o.id
        LEFT JOIN oa_sys_user u ON o.leader_id= u.id
        WHERE u.user_type = 1  
        and up.delflag = 0
        AND o.delflag = 0
        AND up.is_default = 1
        AND up.user_id = #{userId}

    </select>
    <!--根据部门ID查询组织人员-未确认和在职-->
    <select id="getUserListByOrgId" resultType="com.jzy.hio.sys.user.dto.UserListDto">
        SELECT
        u.id id,
        u.real_name name,
        u.mobile mobile
        FROM
        oa_sys_user_position up
        LEFT JOIN oa_sys_user u ON u.id = up.user_id
        WHERE u.user_type = 1  
        and u.delflag = 0
        AND u.work_status IN (0,1)
        AND up.delflag = 0
        <if test="organizationId!=null">
            AND up.organization_id = #{organizationId}
        </if>
    </select>
    <!--查询名称通过组织ID或者角色ID或者人的ID-->
    <select id="queryUserByOrgAndRoleAndUser" resultType="com.jzy.hio.sys.user.dto.OAUserDto">
        <if test="apiParam.organizationIds!=null and apiParam.organizationIds.size()>0">
            SELECT
            u.id id,
            u.real_name NAME,
            u.im_user_id imUserId,
            u.user_type userType
            FROM
            oa_sys_organization o
            <if test="apiParam.containsChildOrgUser">
                LEFT JOIN oa_sys_organization oo ON oo.prefix_id LIKE CONCAT(o.prefix_id,'%')
                LEFT JOIN oa_sys_user_position up ON oo.id = up.organization_id
            </if>
            <if test="!apiParam.containsChildOrgUser">
                LEFT JOIN oa_sys_user_position up ON o.id = up.organization_id
            </if>
            LEFT JOIN oa_sys_user u ON u.id = up.user_id
            WHERE u.user_type = 1 and
            <choose>
                <when test="apiParam.status != null and apiParam.status == 0">
                    u.delflag = 0 AND u.work_status = 1
                </when>
                <when test="apiParam.status != null and apiParam.status == 1">
                    u.delflag = 0 AND u.work_status IN (1,2)
                </when>
                <when test="apiParam.status != null and apiParam.status == 2">
                    u.work_status = 1
                </when>
                <when test="apiParam.status != null and apiParam.status == 3">
                    u.work_status IN (1,2)
                </when>
                <otherwise>
                    u.delflag = 0 AND u.work_status = 1
                </otherwise>
            </choose>
            AND up.delflag = 0
            AND o.delflag = 0
            AND o.id IN
            <foreach item="item" collection="apiParam.organizationIds" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="apiParam.organizationIds!=null and apiParam.organizationIds.size()>0 and ((apiParam.roleIds!=null and apiParam.roleIds.size()>0) or (apiParam.userIds!=null and apiParam.userIds.size()>0))">
            UNION
        </if>
        <if test="apiParam.roleIds!=null and apiParam.roleIds.size()>0">
            SELECT
            DISTINCT(u.id) id,
            u.real_name NAME,
            u.im_user_id imUserId,
            u.user_type userType
            FROM
            oa_sys_role r
            LEFT JOIN oa_sys_role_user ru ON ru.role_id = r.id
            LEFT JOIN oa_sys_user u ON ru.user_id= u.id
            WHERE u.user_type = 1 and 
            <choose>
                <when test="apiParam.status != null and apiParam.status == 0">
                    u.delflag = 0 AND u.work_status = 1
                </when>
                <when test="apiParam.status != null and apiParam.status == 1">
                    u.delflag = 0 AND u.work_status IN (1,2)
                </when>
                <when test="apiParam.status != null and apiParam.status == 2">
                    u.work_status = 1
                </when>
                <when test="apiParam.status != null and apiParam.status == 3">
                    u.work_status IN (1,2)
                </when>
                <otherwise>
                    u.delflag = 0 AND u.work_status = 1
                </otherwise>
            </choose>
            AND ru.delflag = 0
            AND r.delflag = 0
            AND r.id IN
            <foreach item="item" collection="apiParam.roleIds" index="index" open="(" separator="," close=")">#{item}
            </foreach>
        </if>
        <if test="apiParam.userIds!=null and apiParam.userIds.size()>0">
            <if test="apiParam.roleIds!=null and apiParam.roleIds.size()>0">
                UNION
            </if>
            SELECT
            DISTINCT(u.id) id,
            u.real_name name,
            u.im_user_id imUserId,
            u.user_type userType
            FROM
            oa_sys_user u
            WHERE
            <choose>
                <when test="apiParam.status != null and apiParam.status == 0">
                    u.delflag = 0 AND u.work_status = 1
                </when>
                <when test="apiParam.status != null and apiParam.status == 1">
                    u.delflag = 0 AND u.work_status IN (1,2)
                </when>
                <when test="apiParam.status != null and apiParam.status == 2">
                    u.work_status = 1
                </when>
                <when test="apiParam.status != null and apiParam.status == 3">
                    u.work_status IN (1,2)
                </when>
                <otherwise>
                    u.delflag = 0 AND u.work_status = 1
                </otherwise>
            </choose>
            AND u.id IN
            <foreach item="item" collection="apiParam.userIds" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <!--查询名称通过组织ID或者角色ID或者人的ID 取交集-->
    <select id="queryUserUnionByOrganizationIdsAndRoleIds" resultType="java.util.HashMap">

            SELECT
            distinct(u.id) sid,
            u.real_name name
            FROM
            oa_sys_organization o
            LEFT JOIN oa_sys_organization oo ON oo.prefix_id LIKE CONCAT(o.prefix_id,"%")
            LEFT JOIN oa_sys_user_position up ON oo.id = up.organization_id
            LEFT JOIN oa_sys_user u ON u.id = up.user_id
            LEFT JOIN oa_sys_role_user ru ON u.id = ru.user_id
            LEFT JOIN oa_sys_role r ON r.id = ru.role_id
            WHERE u.user_type = 1  
            and u.delflag = 0
            AND u.work_status = 1
            AND up.delflag = 0
            AND o.delflag = 0
            AND  ru.delflag = 0
            AND r.delflag = 0
            AND u.delflag = 0
            AND r.id = #{roleId}
            AND o.id = #{organizationId}

    </select>

    <!--通过用户ID集合查询角色ID-List，部门ID-List，用户ID-List(办公)-->
    <select id="queryOrgAndRoleByUserIds" resultType="com.jzy.hio.sys.organization.dto.GeneralDto">
        SELECT
        o.id sid,
        o.name NAME,
        u.id userId,
        'organization' type,
        o.prefix_id prefixId,
        o.prefix_name prefixName
        FROM
        oa_sys_organization o
        LEFT JOIN oa_sys_user_position up ON o.id = up.organization_id
        LEFT JOIN oa_sys_user u ON u.id = up.user_id
        WHERE u.user_type = 1  
        AND u.delflag = 0
        AND up.delflag = 0
        AND o.delflag = 0
        AND u.id IN
        <foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">#{item}
        </foreach>

        UNION ALL

        SELECT
        r.id sid,
        r.name NAME,
        u.id userId,
        'role' type,
        '' prefixId,
        '' prefixName
        FROM
        oa_sys_role r
        LEFT JOIN oa_sys_role_user ru ON ru.role_id = r.id
        LEFT JOIN oa_sys_user u ON ru.user_id= u.id
        WHERE
        ru.delflag = 0
        AND r.delflag = 0
        AND u.delflag = 0
        AND u.id IN
        <foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">#{item}
        </foreach>
    </select>

    <select id="queryUserByIds" resultType="com.jzy.hio.sys.user.dto.UserDto">
        select
        u.id,
        u.`real_name` AS realName,
        up.`organization_id` AS organizationId,
        up.is_default isDefault
        from oa_sys_user u
        left join oa_sys_user_position up on u.id = up.user_id
        WHERE u.user_type = 1
        AND up.delflag = 0
        AND u.id in
        <foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--批量更新时间-->
    <update id="updateBatchUpdateTime">
        UPDATE oa_sys_user_position p SET p.update_date = #{now}
        <if test="userPositionsIds!=null and userPositionsIds.size()>0">
            WHERE p.id IN
            <foreach collection="userPositionsIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <!--通过组织id查询人员列表-->
    <select id="queryOaUserByOrganizationId" resultType="com.jzy.hio.sys.user.dto.IMOrgUserDto">
        SELECT
        u.id sid,
        u.im_user_id imUserId,
        u.real_name name,
        o.id organizationId,
        o.name organizationName,
        o.prefix_name organizationPrefixName,
        up.id positionId,
        up.position positionName,
        up.is_default isDefault,
        #{tendId} tendId
        FROM
        oa_sys_organization oo LEFT JOIN
        oa_sys_organization o ON
        <if test="includeChild">
            o.prefix_id LIKE CONCAT(oo.prefix_id,'%')
        </if>
        <if test="includeChild != true">
            o.id = oo.id
        </if>
        INNER JOIN oa_sys_user_position up ON o.id = up.organization_id
        LEFT JOIN oa_sys_user u ON up.user_id = u.id
        WHERE
        oo.id = #{organizationId}
        AND
        oo.delflag = 0
        AND
        u.delflag = 0
        AND
        up.delflag = 0
        AND o.delfalg = 0
    </select>
    <!--通过职务id查询职务详情-->
    <select id="queryPositionByPositionId" resultType="com.jzy.hio.sys.organization.dto.FlowPositionDto">
        SELECT
        up.id positionId,
        up.user_id userId,
        up.position positionName,
        o.id organizationId,
        o.prefix_name prefixName,
        o.name as organizationName,
        up.is_default isDefault
        FROM
            oa_sys_user_position up
        LEFT JOIN oa_sys_organization o ON up.organization_id = o.id
        WHERE
            up.id = #{positionId}
    </select>
</mapper>