@font-face{font-family:"iconfont";src:url('../fonts/iconfont.ttf') format('truetype')}
.iconfont{font-family:"iconfont"!important;font-size:1rem;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-right:5px}
.icon-shijian:before{content:"\e64d"}
body {
font-family: 'Helvetica Neue',Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: .333rem;
	margin-bottom: .333rem;
}
.mui-segmented-control .mui-control-item{
	line-height: 56px;
}
.mui-fullscreen .mui-segmented-control~.mui-slider-group{
	top: 56px;
}
.mui-segmented-control .mui-control-item{
	background:#fff;
	position:relative;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	background:#fff;
	position:relative;
}
.mui-control-item i{
	width: 1.2666rem;
	height: 1.2666rem;
	border-radius: 50%;
	background-color: #f24848;
	position: absolute;
	color: #fff;
	font-size: .7666rem;
	text-align: center;
	display: inline-block;
	line-height: 1.2666rem;
	font-style: normal;
	top: 6px;
	right: 0;
}
.mui-h4, h4 {
	font-size: .9333rem;
	line-height: 1.4666rem;
	color: #999;
}
.mui-h5, h5 {
	font-size: .9333rem;
	color: #2cafff;
	font-weight: normal;
}
.mui-ellipsis-2{
	display: -webkit-box;
	overflow: hidden;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	word-wrap: break-word;
	font-weight: normal;
}
.iconfont {
	font-family: "iconfont"!important;
	font-size: 1rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
}
.icon-shijian:before {
	content: "\e64d";
}
.mui-table-view-cell:after{
	left: 0;
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #ccc;
	font-size: 1rem;
	line-height: 2.666rem;
	color: #777;
}
.mui-pull-top-tips {
	position: absolute;
	top: -1.333rem;
	left: 50%;
	margin-left: -1.666rem;
	width: 2.666rem;
	height: 2.666rem;
	border-radius: 100%;
	z-index: 10;
}

.mui-bar~.mui-pull-top-tips{top:1.6rem}
.mui-pull-top-tips.mui-transitioning{-webkit-transition-duration:200ms;transition-duration:200ms}
.mui-pull-top-tips .mui-pull-loading{margin:0}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 2.666rem;
	box-shadow: 0 4px 10px #bbb;
	width: 2.666rem;
	height: 2.666rem;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 2.666rem;
}