<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.bbs.entity.BbsTopic">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.bbs.entity.BbsTopic">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.bbs.entity.BbsTopic">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.bbs.entity.BbsTopic">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!-- 获取分页列表-->
	<select id="queryBeanList" resultType="com.xinleju.cloud.oa.bbs.entity.BbsTopic" parameterType="java.util.Map">
			SELECT
			t.id as id,
			t.forum_id  as forumId,
		    f.name as forum,
			t.title as title,
			t.content as content,
			t.click_num as clickNum,
			t.essence as essence,
			t.resource_id as resourceId,
			t.anonymity as anonymity,
			t.receive_reply  as receiveReply,
			t.stick as stick,
			t.stick_sequence as stickSequence,
			t.reply_num as replyNum,
			t.last_reply_user as lastReplyUser,
			t.last_reply_user_id as lastReplyUserId,
			t.create_date AS createDate,
			t.update_date AS updateDate,
			t.create_person_id AS createPersonId,
			t.create_person_name AS createPersonName,
			t.update_person_id AS updatePersonId,
			t.update_person_name AS updatePersonName,
			t.create_org_id AS createOrgId,
			t.create_org_name AS createOrgName,
			t.create_company_id AS createCompanyId,
			t.create_company_name AS createCompanyName,
			t.concurrency_version AS concurrencyVersion,
			t.delflag AS delflag,
			t.tend_id as tendId
			FROM
              oa_bbs_topic t
		    LEFT  JOIN
		      oa_bbs_forum f
		    ON t.forum_id  = f.id
            <where>
				t.delflag = 0
               	<if test="forumId!=null and forumId !=''">
				   	and  t.forum_id = #{forumId}
			   	</if>
               	<if test="title!=null and title!=''">
                  	and t.title like '%${title}%'
			   	</if>
				<if test="essence!=null and essence !=''">
				  	and t.essence = #{essence}
				</if>
				<if test="content!=null and content !=''">
				  	and t.content LIKE CONCAT('%',#{content},'%' ) 
				</if>
				<if test="createPersonName!=null and createPersonName !=''">
				  	and t.create_person_name LIKE CONCAT('%',#{createPersonName},'%' ) 
				</if>
				<if test="startDate1!=null and startDate1 !=''">
				  	and t.create_date &gt;= #{startDate1}
				</if>
				<if test="startDate2!=null and startDate2 !=''">
				  	and t.create_date &lt;= #{startDate2}
				</if>
				<if test="updateDate1!=null and updateDate1 !=''">
				  	and t.update_date &gt;= #{updateDate1}
				</if>
				<if test="updateDate2!=null and updateDate2 !=''">
				  	and t.update_date &lt;= #{updateDate2}
				</if>
				<if test="status!=null and status !=''">
					and t.status = #{status}
				</if>
				order by t.stick desc ,t.stick_sequence asc ,t.create_date  desc
				limit #{start},#{limit}

			</where>

	</select>
	<!-- 获取分页数量-->
    <select id="queryBeanCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
		   count(t.id) as num
		FROM
		oa_bbs_topic t
		<where>
			t.delflag = 0
			<if test="forumId!=null and forumId !=''">
				and  t.forum_id = #{forumId}
			</if>
			<if test="title!=null and title!=''">
				and t.title like '%${title}%'
			</if>
			<if test="essence!=null and essence !=''">
				and t.essence = #{essence}
			</if>
			<if test="content!=null and content !=''">
			  	and t.content LIKE CONCAT('%',#{content},'%' ) 
			</if>
			<if test="createPersonName!=null and createPersonName !=''">
			  	and t.create_person_name LIKE CONCAT('%',#{createPersonName},'%' ) 
			</if>
			<if test="startDate1!=null and startDate1 !=''">
			  	and t.create_date &gt;= #{startDate1}
			</if>
			<if test="startDate2!=null and startDate2 !=''">
			  	and t.create_date &lt;= #{startDate2}
			</if>
			<if test="updateDate1!=null and updateDate1 !=''">
			  	and t.update_date &gt;= #{updateDate1}
			</if>
			<if test="updateDate2!=null and updateDate2 !=''">
			  	and t.update_date &lt;= #{updateDate2}
			</if>
			<if test="status!=null and status !=''">
				and t.status = #{status}
			</if>
		</where>
	</select>
	<!--条件查询获取分页数据-->
	<select id="queryObjectsByPage" resultType="com.xinleju.cloud.oa.bbs.entity.BbsTopic">
		${value}
	</select>

	<!--条件查询获取分页数据总记录数-->
	<select id="queryObjectsCountByPage" resultType="java.lang.Integer">
		${value}
	</select>
	<!--获取最大序号数据 -->
	<select id="selectMaxSortBbsTopic" resultType="com.xinleju.cloud.oa.bbs.entity.BbsTopic" parameterType="java.util.Map">
		Select
		t.id as id,
		t.forum_id  as forumId,
		t.title as title,
		t.content as content,
		t.click_num as clickNum,
		t.essence as essence,
		t.resource_id as resourceId,
		t.anonymity as anonymity,
		t.receive_reply  as receiveReply,
		t.stick as stick,
		t.stick_sequence as stickSequence,
		t.reply_num as replyNum,
		t.last_reply_user as lastReplyUser,
		t.last_reply_user_id as lastReplyUserId,
		t.status as status,
		t.publish_time as publishTime,
		t.stick_cycle as stickCycle,
		t.stick_invalid_time as stickInvalidTime,
		t.sort_num  as sortNum,
		t.create_date AS createDate,
		t.update_date AS updateDate,
		t.create_person_id AS createPersonId,
		t.create_person_name AS createPersonName,
		t.update_person_id AS updatePersonId,
		t.update_person_name AS updatePersonName,
		t.create_org_id AS createOrgId,
		t.create_org_name AS createOrgName,
		t.create_company_id AS createCompanyId,
		t.create_company_name AS createCompanyName,
		t.concurrency_version AS concurrencyVersion,
		t.delflag AS delflag,
		t.tend_id as tendId
		from oa_bbs_topic t
		where t.delflag = 0 and t.sort_num = (
		SELECT max(sort_num) from oa_bbs_topic
		where delflag = 0
		<if test="forumId!=null and forumId!=''">
			and forum_id = #{forumId,jdbcType=VARCHAR}
		</if>
		)
		<if test="forumId!=null and forumId!=''">
			and t.forum_id = #{forumId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="queryBeanByIds" resultType="com.xinleju.cloud.oa.bbs.entity.BbsTopic" parameterType="java.util.HashMap">
		select
				t.id as id,
				t.forum_id  as forumId,
				t.title as title,
				t.content as content,
				t.click_num as clickNum,
				t.essence as essence,
				t.resource_id as resourceId,
				t.anonymity as anonymity,
				t.receive_reply  as receiveReply,
				t.stick as stick,
				t.stick_sequence as stickSequence,
				t.reply_num as replyNum,
				t.last_reply_user as lastReplyUser,
				t.last_reply_user_id as lastReplyUserId,
				t.status as status,
				t.publish_time as publishTime,
				t.stick_cycle as stickCycle,
				t.stick_invalid_time as stickInvalidTime,
				t.sort_num  as sortNum,
				t.closed as closed,
				t.create_date AS createDate,
				t.update_date AS updateDate,
				t.create_person_id AS createPersonId,
				t.create_person_name AS createPersonName,
				t.update_person_id AS updatePersonId,
				t.update_person_name AS updatePersonName,
				t.create_org_id AS createOrgId,
				t.create_org_name AS createOrgName,
				t.create_company_id AS createCompanyId,
				t.create_company_name AS createCompanyName,
				t.concurrency_version AS concurrencyVersion,
				t.delflag AS delflag,
				t.tend_id as tendId
				from oa_bbs_topic t
				where
				t.delflag = 0
				<if test="ids != null">
						AND t.id IN
						<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
							#{item}
						</foreach>
				</if>
	</select>
    <!-- 获取参与的讨论的帖子 -->
	<select id="queryReplyTopicPage" resultType="com.xinleju.cloud.oa.bbs.entity.BbsTopic" parameterType="java.util.Map">
		SELECT
		t.id as id,
		t.forum_id  as forumId,
		f.name as forum,
		t.title as title,
		t.content as content,
		t.click_num as clickNum,
		t.essence as essence,
		t.resource_id as resourceId,
		t.anonymity as anonymity,
		t.receive_reply  as receiveReply,
		t.stick as stick,
		t.closed as closed,
		t.stick_sequence as stickSequence,
		t.reply_num as replyNum,
		t.last_reply_user as lastReplyUser,
		t.last_reply_user_id as lastReplyUserId,
		t.create_date AS createDate,
		t.update_date AS updateDate,
		t.create_person_id AS createPersonId,
		t.create_person_name AS createPersonName,
		t.update_person_id AS updatePersonId,
		t.update_person_name AS updatePersonName,
		t.create_org_id AS createOrgId,
		t.create_org_name AS createOrgName,
		t.create_company_id AS createCompanyId,
		t.create_company_name AS createCompanyName,
		t.concurrency_version AS concurrencyVersion,
		t.delflag AS delflag,
		t.tend_id as tendId
		FROM
		oa_bbs_topic t
		LEFT  JOIN
		oa_bbs_forum f
		ON t.forum_id  = f.id
		<where>
			EXISTS (
			SELECT  DISTINCT
			(b.topic_id)
			FROM
			oa_bbs_reply b
			WHERE
			b.topic_id = t.id
			<if test="createPersonId!=null and createPersonId !=''">
				and b.create_person_id  = #{createPersonId}
			</if>
			)
			and t.delflag = 0
			<if test="title!=null and title!=''">
				and t.title like '%${title}%'
			</if>
			ORDER BY t.stick desc ,t.sort_num asc ,t.create_date desc
			limit #{start},#{limit}
		</where>

	</select>

	<!-- 获取参与的讨论的帖子 -->
	<select id="queryReplyTopicCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
		count(t.id)
		FROM
		oa_bbs_topic t
		LEFT  JOIN
		oa_bbs_forum f
		ON t.forum_id  = f.id
		<where>
			EXISTS (
			SELECT  DISTINCT
			(b.topic_id)
			FROM
			oa_bbs_reply b
			WHERE
			b.topic_id = t.id
			<if test="createPersonId!=null and createPersonId !=''">
				and b.create_person_id  = #{createPersonId}
			</if>
			)
			and t.delflag = 0
			<if test="title!=null and title!=''">
				and t.title like '%${title}%'
			</if>
			ORDER BY t.stick desc ,t.sort_num asc ,t.create_date desc
		</where>

	</select>
	
	<!-- 点击量更新 -->
	<update id="updateNoChangeDate" parameterType="com.xinleju.cloud.oa.bbs.entity.BbsTopic">
		update oa_bbs_topic set click_num = #{clickNum} where id = #{id}
	</update>
</mapper>