<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.portal.mapper.PortalComponentPositionDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.oa.portal.entity.PortalComponentPosition">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.oa.portal.entity.PortalComponentPosition">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.oa.portal.entity.PortalComponentPosition">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<select id="findComponentsByPortalId" resultType="java.util.HashMap">
		select  t.id,
		        t.portal_page_id as portalPageId,
				t.component_id as componentId,
			    t.start_row_num as startRowNum,
				t.start_col_num as startColNum,
				t.component_width as componentWidth,
			    t.component_height as componentHeight,
				t.refresh_interval as refreshInterval,
			    t.display_title as displayTitle,
				t.icon as icon,
				t.title as title,
				t.is_del as isDel,
				t.display_move_menu as displayMoveMenu,
				t.display_more_menu as displayMoreMenu,
				t.padding_top as paddingTop,
				t.padding_bottom as paddingBottom,
			    t.padding_left as paddingLeft,
				t.padding_right as paddingRight,
		       	t.delflag,
		 		t.tend_id as tendId,
			    t.create_date as createDate,
	            t.update_date as updateDate,
	            t.create_person_id as createPersonId,
	            t.create_person_name as createPersonName,
	            t.update_person_id as updatePersonId,
	            t.update_person_name as updatePersonName,
	            t.create_org_id as createOrgId,
	            t.create_org_name as createOrgName,
	            t.create_company_id as createCompanyId,
	            t.create_company_name as createCompanyName,
	            t.concurrency_version as concurrencyVersio,
		   		t1.more_url as moreUrl,
	            t1.content_url as contentUrl
		from OA_PORTAL_COMPONENT_POSITION t
		LEFT  JOIN PT_PORTAL_COMPONENT t1 ON t1.id=t.component_id
		  where portal_page_id=#{portalPageId,jdbcType=VARCHAR}
	</select>

    <!--根据站点ID获取组件列表-->
	<select id="queryComponentsByPortalId" resultType="java.util.HashMap" parameterType="java.lang.String">
		select  t.id,
		        t.portal_page_id as portalPageId,
				t.component_id as componentId,
			    t.start_row_num as startRowNum,
				t.start_col_num as startColNum,
				t.component_width as componentWidth,
			    t.component_height as componentHeight,
				t.refresh_interval as refreshInterval,
			    t.display_title as displayTitle,
				t.icon as icon,
				t.title as title,
				t.is_del as isDel,
				t.display_move_menu as displayMoveMenu,
				t.display_more_menu as displayMoreMenu,
				t.padding_top as paddingTop,
				t.padding_bottom as paddingBottom,
			    t.padding_left as paddingLeft,
				t.padding_right as paddingRight,
		       	t.delflag,
		 		t.tend_id as tendId,
			    t.create_date as createDate,
	            t.update_date as updateDate,
	            t.create_person_id as createPersonId,
	            t.create_person_name as createPersonName,
	            t.update_person_id as updatePersonId,
	            t.update_person_name as updatePersonName,
	            t.create_org_id as createOrgId,
	            t.create_org_name as createOrgName,
	            t.create_company_id as createCompanyId,
	            t.create_company_name as createCompanyName,
	            t.concurrency_version as concurrencyVersio,
	            t1.more_url as moreUrl,
	            t1.content_url as contentUrl,
	            t2.origin_portal_page_id as originPortalPageId

		from OA_PORTAL_COMPONENT_POSITION t
		LEFT  JOIN PT_PORTAL_COMPONENT t1 ON t1.id=t.component_id
		LEFT JOIN OA_PORTAL_PAGE t2 ON t2.id = t.portal_page_id
		where 1=1
		AND
		t.portal_page_id=#{portalPageId,jdbcType=VARCHAR}

		ORDER BY t.start_row_num ASC ,t.start_col_num ASC
	</select>
	
	 <!--根据站点ID获取组件列表2-->
	<select id="queryComponentPositionList" resultType="com.jzy.hio.oa.portal.entity.PortalComponentPosition" parameterType="java.util.Map">
		select  id,
		        portal_page_id as portalPageId,
				component_id as componentId,
			    start_row_num as startRowNum,
				start_col_num as startColNum,
				component_width as componentWidth,
			    component_height as componentHeight,
				refresh_interval as refreshInterval,
			    display_title as displayTitle,
				icon as icon,
				title as title,
				is_del as isDel,
				display_move_menu as displayMoveMenu,
				display_more_menu as displayMoreMenu,
				padding_top as paddingTop,
				padding_bottom as paddingBottom,
			    padding_left as paddingLeft,
				padding_right as paddingRight,
		       	delflag,
		 		tend_id as tendId,
			    create_date as createDate,
	            update_date as updateDate,
	            create_person_id as createPersonId,
	            create_person_name as createPersonName,
	            update_person_id as updatePersonId,
	            update_person_name as updatePersonName,
	            create_org_id as createOrgId,
	            create_org_name as createOrgName,
	            create_company_id as createCompanyId,
	            create_company_name as createCompanyName,
	            concurrency_version as concurrencyVersion
		 from OA_PORTAL_COMPONENT_POSITION 
		  where portal_page_id=#{portalPageId,jdbcType=VARCHAR}
	</select>
</mapper>