<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.portal.mapper.PortalPageDao">
    <!-- 新增 -->
    <insert id="save">
		${value}
	</insert>
    <!-- 修改根据Id -->
    <update id="update">
		${value}
	</update>
    <!-- 删除根据Id -->
    <delete id="deleteById">
		${value}
	</delete>
    <!-- 批量删除根据Id -->
    <delete id="deleteBatchByIds">
		${value}
	</delete>
    <!-- 获取单个对象，根据Id-->
    <select id="get" resultType="com.jzy.hio.oa.portal.entity.PortalPage">
		${value}
	</select>
    <!-- 获取列表根据Map查询 -->
    <select id="queryList" resultType="com.jzy.hio.oa.portal.entity.PortalPage">
		${value}
	</select>
    <!-- 获取分页根据Map查询 -->
    <select id="queryPageList" resultType="com.jzy.hio.oa.portal.entity.PortalPage">
		${value}
	</select>
    <!-- 获取总记录数 -->
    <select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>

    <!--条件查询获取分页数据-->
    <select id="queryObjectsByPage" resultType="com.jzy.hio.oa.portal.entity.PortalPage">
        ${value}
    </select>

    <!--条件查询获取分页数据总记录数-->
    <select id="queryObjectsCountByPage" resultType="java.lang.Integer">
        ${value}
    </select>

    <!-- 获取分页根据Map模糊查询 -->
    <select id="queryFuzzyList" resultType="com.jzy.hio.oa.portal.entity.PortalPage"
            parameterType="java.util.Map">
        select id,
        portal_page_code as portalPageCode,
        priority,
        status,
        portal_page_name as portalPageName,
        portal_page_desc as portalPageDesc,
        origin_portal_page_id as originPortalPageId,
        portal_page_owner as portalPageOwner,
        portal_page_logo as portalPageLogo,
        delflag,
        tend_id as tendId,
        create_date as createDate,
        update_date as updateDate,
        create_person_id as createPersonId,
        create_person_name as createPersonName,
        update_person_id as updatePersonId,
        update_person_name as updatePersonName,
        create_org_id as createOrgId,
        create_org_name as createOrgName,
        create_company_id as createCompanyId,
        create_company_name as createCompanyName,
        concurrency_version as concurrencyVersion
        from OA_PORTAL_PAGE
        <where>
            1=1
            AND portal_page_owner='_NA_'
            <if test="param!=null">
                and (portal_page_name like '%${param}%' or portal_page_code like '%${param}%')
            </if>
            <if test="(sidx!=null and sidx!='') and sord!=null">
                order by ${sidx} ${sord}
            </if>
            limit #{start},#{limit}
        </where>
    </select>
    <!-- 获取模糊查询总记录数 -->
    <select id="queryFuzzyCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from OA_PORTAL_PAGE
        <where>
            1=1
            <if test="param!=null">
                and (portal_page_name like '%${param}%' or portal_page_code like '%${param}%')
            </if>
            <if test="(sidx!=null and sidx!='') and sord!=null">
                order by ${sidx} ${sord}
            </if>
        </where>
    </select>

    <!--根据权限获取portalpage-->
    <select id="queryPortalByPermission" resultType="com.jzy.hio.oa.portal.entity.PortalPage"
            parameterType="java.util.HashMap">
        SELECT DISTINCT
        t1.id,
        t1.portal_page_code AS portalPageCode,
        t1.priority AS priority,
        t1.portal_page_name AS portalPageName,
        t1.portal_page_desc AS portalPageDesc,
        t1.origin_portal_page_id AS originPortalPageId,
        t1.portal_page_owner AS portalPageOwner,
        t1.portal_page_logo AS portalPageLogo
        from oa_portal_permision t LEFT JOIN
        OA_PORTAL_PAGE t1 ON t.portal_page_id=t1.id
        <where>
            1=1
            AND t1.delflag=0
            AND t1.portal_page_owner='_NA_'
            <if test="roleIds!=null and roleIds.size > 0 ">
                AND t.role_id in
                <foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="status!=null">
                AND t1.status=#{status}
            </if>

            ORDER BY t1.priority DESC
        </where>
    </select>
	    <update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<update id="deletePseudoObjectById">
		${value}
	</update>

    <select id="queryListByIdsForUpdataStatus" resultType="com.jzy.hio.oa.portal.entity.PortalPage" parameterType="java.util.Map">
        select id,
        portal_page_code as portalPageCode,
        priority,
        status,
        portal_page_name as portalPageName,
        portal_page_desc as portalPageDesc,
        origin_portal_page_id as originPortalPageId,
        portal_page_owner as portalPageOwner,
        portal_page_logo as portalPageLogo,
        delflag,
        tend_id as tendId,
        create_date as createDate,
        update_date as updateDate,
        create_person_id as createPersonId,
        create_person_name as createPersonName,
        update_person_id as updatePersonId,
        update_person_name as updatePersonName,
        create_org_id as createOrgId,
        create_org_name as createOrgName,
        create_company_id as createCompanyId,
        create_company_name as createCompanyName,
        concurrency_version as concurrencyVersion
        from OA_PORTAL_PAGE
        <where>
            1=1
            <if test="portalPageIdList!=null and portalPageIdList.size>0">
                and (id in
                <foreach collection="portalPageIdList" item="portalPageId" separator="," open="(" close=")">
                    #{portalPageId}
                </foreach>
                or origin_portal_page_id in
                <foreach collection="portalPageIdList" item="portalPageId" separator="," open="(" close=")">
                    #{portalPageId}
                </foreach>
                )
            </if>
        </where>
    </select>
</mapper>