/*
审批项目的公共css变量
*/
/***引入全局变量***/
@import "../../../../static/styles/const.scss";

$color:$theme-black;
$borderColor:$theme-grey-table-border;
$backgroundColor:$theme-grey-header-background;


$backgroundColor1:#F6F7F8;
$labelColor:#606266;
$blueColor:#45A7FE;

$deleteHoverColor:#F35959;

