.error-tip{
	color:red;
	line-height:32px;
	display:inline-block;
	margin-left:10px;
}
.input-group.w100{
	width:100%;
}
.input-group.w100 input{
	width:60%;
}
.not-null-tip{
	color:red;
}

.header-title-left{
	padding-left: 150px;
}

.ui-state-default, .ui-widget-content .ui-state-default{
			height: 40px;
			color: #333;
			padding-top: 10px;
		}	
		
#countForm td{
	      width: auto;
	  }