/*
会议室预约一览画面
hy_reserve_list.jsp
*/
/* 表格样式： */
.table {
table-layout: fixed;
word-wrap:break-word;
}
div {
word-wrap:break-word;
}

.table_bk table {
	border: 1px;
	border-collapse: collapse;
}

.tb_font {
	font-family: SimSun,"宋体";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	word-wrap: normal;
}
.box{border:1px solid 
#C0C0C0;width:145px;height:19px;clip:rect(0px,181px,18px,0px);overflow:hidden;}

/* 连接样式：预约  必须放在table定义后。 */
A:link {text-decoration:none;color:black}
A:visited {text-decoration:none;color:#80006f}
A:hover {text-decoration:underline;color:red}

A.a01:link {text-decoration:none;color:#ffffff}
A.a01:visited {text-decoration:none;color:#ffffff}
A.a01:hover {text-decoration:underline;color:#ffffff}
