<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="pjinfoDAO" class="pojo.dao.PjinfoDAO">
  		<property name="sessionFactory">
  			<ref local="sessionFactory"/>
  		</property>
 	</bean>
 		<bean id="emailaddressDAO" class="pojo.dao.EmailaddressDAO">
  		<property name="sessionFactory">
  			<ref local="sessionFactory"/>
  		</property>
 	</bean>
 	<bean id="pjpginfoDAO" class="pojo.dao.PjpginfoDAO">
  		<property name="sessionFactory">
  			<ref local="sessionFactory"/>
  		</property>
 	</bean>
 	<bean id="usermstDAO" class="pojo.dao.UsermstDAO">
  		<property name="sessionFactory">
  			<ref local="sessionFactory"/>
  		</property>
 	</bean>
 	<bean id="userkindmstDAO" class="pojo.dao.UserkindmstDAO">
  		<property name="sessionFactory">
  			<ref local="sessionFactory"/>
  		</property>
 	</bean>
 	<bean id="busyomstDAO" class="pojo.dao.BusyomstDAO">
  		<property name="sessionFactory">
  			<ref local="sessionFactory"/>
  		</property>
 	</bean>
 	<bean id="uploadDAO" class="pojo.dao.UploadDAO">
  		<property name="sessionFactory">
  			<ref local="sessionFactory"/>
  		</property>
 	</bean>	
 	<bean id="checklogininterceptor" class="pageAction.checklogininterceptor">

	</bean>
	<bean id="EmailAction" class="pageAction.EmailAction">
	<property name="os" ref="ManageUser03Service"/>
	</bean>
	
 
	

  	<bean id="ManageUser01Service" class="services.ManageUser01Service">
  		<property name="pjinfoDAO">
  			<ref bean="pjinfoDAO"/>
  		</property>
  		<property name="usermstDAO">
  			<ref bean="usermstDAO"/>
  		</property>	
  		<property name="pjpginfoDAO">
  			<ref bean="pjpginfoDAO"/>
  		</property>	
	</bean>
		
	
	<bean id="ManageUser01Action" class="pageAction.ManageUser01Action" scope="singleton">
		<property name="ms" ref="ManageUser01Service"/>
	</bean>

  	<bean id="ManageUser02Service" class="services.ManageUser02Service">
  		<property name="pjinfoDAO">
  			<ref bean="pjinfoDAO"/>
  		</property>
  		<property name="usermstDAO">
  			<ref bean="usermstDAO"/>
  		</property>	
  		<property name="busyomstDAO">
  			<ref bean="busyomstDAO"/>
  		</property>	
	</bean>
	<bean id="ManageUser02Action" class="pageAction.ManageUser02Action" scope="singleton">
	<property name="ns" ref="ManageUser02Service"/>
	</bean>
	 	<bean id="ManageUser03Service" class="services.ManageUser03Service">
  		<property name="pjinfoDAO">
  			<ref bean="pjinfoDAO"/>
  		</property>
  		<property name="usermstDAO">
  			<ref bean="usermstDAO"/>
  		</property>	
  		<property name="userkindmstDAO">
  			<ref bean="userkindmstDAO"/>
  		</property>	
  		<property name="busyomstDAO">
  			<ref bean="busyomstDAO"/>
  		</property>	
  		<property name="emailaddressDAO">
  			<ref bean="emailaddressDAO"/>
  		</property>	
	</bean>
	
	<bean id="ManageUser03Action" class="pageAction.ManageUser03Action" scope="singleton">
	<property name="os" ref="ManageUser03Service"/>
	</bean>
	
		
	 	<bean id="ManageUser04Service" class="services.ManageUser04Service">
  		<property name="pjinfoDAO">
  			<ref bean="pjinfoDAO"/>
  		</property>
  		<property name="usermstDAO">
  			<ref bean="usermstDAO"/>
  		</property>	
  		<property name="busyomstDAO">
  			<ref bean="busyomstDAO"/>
  		</property>	
	</bean>
	<bean id="ManageUser04Action" class="pageAction.ManageUser04Action" scope="singleton">
		<property name="ps" ref="ManageUser04Service"/>
	</bean>
	<bean id="ManageUser04saveAction" class="pageAction.ManageUser04saveAction" scope="prototype">
		<property name="ps" ref="ManageUser04Service"/>
	</bean>
	 <bean id="loginService" class="services.LoginService">
    	<property name="usermstDAO">
     	<ref bean="usermstDAO" /> 
   </property>
   <property name="userkindmstDAO">
    <ref bean="userkindmstDAO" /> 
   </property>
   <property name="busyomstDAO">
     <ref bean="busyomstDAO" /> 
   </property>
   </bean>
  <bean id="loginAction" class="pageAction.LoginAction" scope="prototype">
   <property name="ms" ref="loginService" /> 
  </bean>
  <bean id="simpleUser01Service" class="services.SimpleUser01Service">
   <property name="pjinfoDAO">
   <ref bean="pjinfoDAO" /> 
   </property>
  <property name="pjpginfoDAO">
   <ref bean="pjpginfoDAO" /> 
  </property>
  <property name="usermstDAO">
   <ref bean="usermstDAO" /> 
  </property>
  </bean>
  <bean id="simpleUser01Action" class="pageAction.SimpleUser01Action" scope="singleton">
   <property name="msu" ref="simpleUser01Service" /> 
  </bean>
  <bean id="simpleUser02Action" class="pageAction.SimpleUser02Action" scope="singleton">
   <property name="msu2" ref="simpleUser02Service" /> 
  </bean>
   <bean id="simpleUser02Service" class="services.SimpleUser02Service">
   <property name="pjinfoDAO">
    <ref bean="pjinfoDAO" /> 
   </property>
  <property name="usermstDAO">
   <ref bean="usermstDAO" /> 
  </property>
  <property name="busyomstDAO">
   <ref bean="busyomstDAO" /> 
   </property>
  </bean>
	<bean id="uploadService" class="services.UploadService">
  		<property name="uploadDAO">
  			<ref bean="uploadDAO"/>
  		</property>				
	</bean>
	<bean id="uploadAction" class="pageAction.UploadAction" scope="prototype">
		<property name="msup" ref="uploadService"/>
	</bean>
	
	
	<bean id="pjAction" class="pageAction.SuperUser01Action" scope="singleton">
  <property name="pjService">
  <ref bean="pjService" /> 
  </property>
  </bean>
  <bean id="adminselectAction" class="pageAction.SelectAction" scope="prototype">
  <property name="pjService">
  <ref bean="pjService" /> 
  </property>
  </bean>
  <bean id="super04Action" class="pageAction.SuperUser04Action" scope="prototype">
 <property name="pjService">
  <ref bean="pjService" /> 
  </property>
  </bean>
  <bean id="saveAction" class="pageAction.SuperUser05Action" scope="singleton">
  <property name="pjService">
  <ref bean="pjService" /> 
  </property>
  </bean>
  <bean id="superuser05initAction" class="pageAction.SuperUser05InitAction" scope="prototype">
  <property name="pjService">
  <ref bean="pjService" /> 
  </property>
  </bean> 
   <bean id="SuperUser05Action" class="pageAction.SuperUser05Action" scope="prototype">
  <property name="pjService">
  <ref bean="pjService" /> 
  </property>
  </bean>
  <bean id="delectAction" class="pageAction.SuperUser03Action" scope="singleton">
  <property name="pjService">
  <ref bean="pjService" /> 
 </property>
  </bean>
 <bean id="researchAction" class="pageAction.SuperUser02Action" scope="singleton">
 <property name="pjService">
  <ref bean="pjService" /> 
  </property>
  </bean>
    <bean id="PageAction" class="pageAction.PageAction" scope="singleton">
 <property name="pjService">
  <ref bean="pjService" /> 
  </property>
   <property name="pager">
  <ref bean="pager" /> 
  </property>
  </bean>
   <bean id="pager" class="pager.Pager">
   </bean>
 <bean id="pjService" class="services.PjService">
 <property name="pjinfoDAO">
 <ref bean="pjinfoDAO" /> 
  </property>
  </bean>

 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
  		<property name="driverClassName">
   			<value>com.mysql.jdbc.Driver</value>
  		</property>
  		<property name="url">
   			<value>jdbc:mysql://localhost:3306/test?characterEncoding=utf-8</value>
  		</property>
  		<property name="username">
   			<value>root</value>
  		</property>
  		<property name="password">
   			<value>sstily</value>
  		</property>
 	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
  		<property name="dataSource">
   			<ref local="dataSource" />
  		</property>
  		<property name="mappingResources">
   			<list>
    			
    			<value>../Usermst.hbm.xml</value>
    			<value>../Userkindmst.hbm.xml</value>
    			<value>../Pjinfo.hbm.xml</value>
    			<value>../Busyomst.hbm.xml</value>
    			<value>../Pjpginfo.hbm.xml</value>
    		    <value>../Emailaddress.hbm.xml</value>
    		    <value>../Upload.hbm.xml</value>
   			</list>
  		</property>
  		<property name="hibernateProperties">
   			<props>
    			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
    			<prop key="hibernate.show_sql">true</prop>
   			</props>
  		</property>
 	</bean>
 	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  		<property name="sessionFactory">
   			<ref local="sessionFactory" />
  		</property>
 	</bean>
 	

	
</beans>
