<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.tenduser.mapper.TendUserInfoMapper">

    <delete id="deleteByUserIdAndTendId" parameterType="com.jzy.hio.platform.dto.tenantcompanyinfo.TendUserInfoDto">
        delete from im_tend_user
        where 1=1
        <if test="uid != null and uid != '' ">
            and uid = #{uid}
        </if>
        <if test="tendId != null and tendId != '' ">
            and tend_id = #{tendId}
        </if>
    </delete>

    <update id="updateByTendIdAndUid" parameterType="com.jzy.hio.entity.TendUserInfo">
        UPDATE im_tend_user
        SET delflag = 1
        WHERE
        uid = #{uid}
        AND tend_id = #{tendId}
    </update>

    <select id="getCompanyTendId" resultType="java.lang.String">
            SELECT
                D.`code`
            FROM
                SYS_TEND_DATABASE D
            WHERE
                D. STATUS = 0
            AND D.NUM > 0
            AND D.is_create = '1'
            AND D.db_type = 1
            ORDER BY
                D.NUM ASC
            LIMIT 0,
             1
    </select>

    <update id="updateUnusedDataBaseStatus" parameterType="java.lang.String">
       UPDATE SYS_TEND_DATABASE  SET  status = '1' WHERE code = #{tendId}
     </update>

    <!--查询可用库个数-->
    <select id="getCompanyCount" resultType="java.lang.Integer">
       SELECT
           count(*)
        FROM
            SYS_TEND_DATABASE D
        WHERE
            D. STATUS = 0
        AND D.NUM > 0
        AND D.is_create = '1'
        AND D.db_type = 1
    </select>
</mapper>