<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.fileserver.dao.PrinterDao">

	<resultMap id="BaseResultMap" type="com.jzy.fileserver.domain.Printer">
		<result column="id" property="id" />
		<result column="host" property="host" />
		<result column="service_port" property="servicePort" />
		<result column="event_port" property="eventPort" />
		<result column="task_num" property="taskNum" />
	</resultMap>

	<insert id="save" parameterType="com.jzy.fileserver.domain.Printer">
		INSERT INTO printer_info (
			id,
			host,
			service_port,
			event_port,
			task_num,
			create_time
		)
		VALUES
			(#{id}, #{host}, #{servicePort}, #{eventPort}, #{taskNum}, now())
	</insert>
	
	<update id="updateTaskNumById">
		UPDATE
			printer_info
		SET
			task_num = #{taskNum},
			beat_time = now()
		WHERE
			id = #{id}
	</update>
	
	<select id="getActivePrinters" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
			id,
			host,
			service_port,
			event_port,
			task_num
		FROM
			printer_info
		WHERE
			time_to_sec(timediff(now(), beat_time)) &lt; #{timeout}
	</select>

</mapper>
