<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.fileserver.dao.UserFileDao">
	<resultMap id="BaseResultMap" type="com.jzy.fileserver.domain.UserFile">
		<result column="file_id" property="id" />
		<result column="md5" property="md5" />
		<result column="file_name" property="fileName" />
		<result column="file_type" property="fileType" />
		<result column="file_location" property="fileLocation" />
		<result column="upload_time" property="uploadTime" />
	</resultMap>

	<insert id="save" parameterType="com.jzy.fileserver.domain.UserFile">
		INSERT INTO user_file (
			id,
			application_code,
			file_id,
			file_name,
			upload_time,
			deleted
		)
		VALUES
			(#{id}, #{applicationCode}, #{fileId}, #{fileName}, #{uploadTime}, #{deleted})
	</insert>

</mapper>
