body{
    padding:0;
    margin:0;
    font-family: '微软雅黑';
    font-size:12px;
}

.upload {
    width: 95%;
    padding: 10px 20px;
    /* border: 1px solid #DDDDDD; */
    margin: 0 auto;
}

.up_title {
    height: 30px;
    line-height: 30px;
}

.fileinput-button {
	vertical-align: bottom;
}
.up_info {
    color: #b1b1b1;
}

.up_total {
    width: 300px;
    height: 10px;
    display: inline-block;
    margin-bottom: 0px;
}

.hidden {
	visibility: hidden;
}
.up_files {
    margin-top: 10px;
}

.up_files ul {
    margin: 0;
    padding: 0;
}

.up_files ul li {
    list-style: none;
    float: left;
    width: 24%;
    min-width: 300px;
    height: 50px;
    background-color: #e2e2e3;
    margin: 0 10px 10px 0;
}
.up_files ul li .file-check {
	float: left;
    position: relative;
    top: 10px;
}
.up_files ul li img {
    float: left;
    margin: 5px 0 0 5px;
}

.up_files ul li .fileName {
    max-width: 240px;
    float: left;
    margin: 9px 0 0 5px;
    overflow: hidden;
}

.up_files ul li .fileName p {
    line-height: 12px;
    margin: 0 0 3px 0;
}


.up_files ul li .fileName p {
    line-height: 12px;
    margin: 0 0 3px 0;
}

.up_files ul li .fileName p:last-child {
    color: #b1b1b1;
}

.up_delete{
    float: right;
    margin-right: 10px;
}

.up_status{
    float: left;
    color:#b1b1b1;
    line-height:12px;
    margin-right: 4px;
}
.up_status i{
    font-style:normal;
}
.up_ok{
    color:#2db005;
}
.up_progress{
    height: 7px;
    width: 40px;
    float: left;
    margin-top: 2px;
}
.up_size{
    float:left;
    color:#b1b1b1;
    line-height:12px;
}
.up_total{
    width: 300px;
    height: 10px;
    display: inline-block;
    margin-bottom: 0px;
}
