.form-inline .form-control.textAreaInput{width:87%;float:left}
.selectButtonStyle{width:11%;float:left; margin:0px 0 0 10px}
.form-inline .form-control.formLableWidth{width:70%}

.table-bordered>tbody>tr>td.form-label.word-edit-page-td{width:5%;text-align:left;border-right-color:#fff}
.table-bordered>tbody>tr>td{width:auto}
.input-group-addon.addborder{border-left:1px solid #ccc; line-height:30px;border-right:1px solid #ccc;display:block; margin-top:0px;border-top-right-radius: 0;
border-bottom-right-radius: 0;border-top:0;}
.input-group-addon.transblock {display:block;line-height:30px;border-right:1px solid #ccc;border-top-left-radius: 0;
border-bottom-left-radius: 0}
#loadFile .upload{padding:0;margin:0;}
