body{padding:0; margin:0;font-family: "微软雅黑"; font-size:12px}
/*form.html*/
.mt50{margin-top:50px}
.mt20{margin-top:20px}
.xj-index-header{height:60px; line-height:60px; background-color: #46a7ff;}
.menu_container{font-size:14px; color:#fff}
.xj-index-menu{padding:0}
.xj-index-menu .navbar{margin-bottom: 0}
.xj-index-logo img{margin-left:10px}
.xj-form-title{color:#fff;text-align:center}
.xj-form-btn .btn{float:right;background-color:#238EF0;color:#fff;margin: 16px 0 0 10px;}
.xj-form-btn .btn:hover{background-color: #1782E4}
.xj-form-tab{height:50px; line-height:27px; background-color: #F5F5F5; padding:10px 15px;border:1px solid #F0F0F0}
.xj-form-tab .btn-sm{display: block;float: left;border:1px solid #D6D6D6; background-color: transparent; color:#46A7FF; margin-right:15px;}
.xj-form-tab .btn-sm:hover{background-color:#fff;}
.xj-form-tab .btn-sm.active{background-color: #46A7FF; color:#fff; border:none}
.xj-form-content label{font-size:12px;color:#333;padding:0; line-height:30px;text-align: right}
.xj-form-content label span{color:red}
.table-bordered>tbody>tr>td.form-label{width:16%;text-align:right;}
.table-bordered>tbody>tr>td.form-label .fa{color:#46A7FF;margin-left:5px}
.table-bordered>tbody>tr>td{border:1px dotted #E1E1E1; color:#333; font-size:12px}
.form-control.addInputWidth{width:100%}
.form-date{width:100%}
.form-title{font-weight:bold;color:#333}
.btns-group{overflow:hidden}
.btns-group .btn{float:right; border:1px solid #DCDCDC;color:#46A7FF; margin:0 0 0 10px; background-color: transparent}
.btns-group .btn:hover{background-color: #fff}