body{padding:0; margin:0;font-family: "微软雅黑";min-width: 1100px;overflow: auto;}
a {    
text-decoration: none;   
} 
 a:focus{
text-decoration:none;
border:0;
outline: 0;
}
a:visited{
text-decoration:none;
border:0;
outline: 0;

}

.btn-sm.blue{background-color: #46A7FF;color:#fff; height:28px; text-align:center; padding: 3px 10px;}
.btn-sm.opacity{border:1px solid #46A7FF; background-color: transparent; color:#46A7FF;height:28px;padding: 3px 10px;}
.btn-sm.opacity:hover{color:#46A7FF}
.ml4{margin-left:4px}
.ml190{margin-left:190px}
.mt8{margin-top:8px}
.mr10{margin-right:10px}
.ml243{margin-left:243px}
.addBorder.nobordertop{border-top:none}
.hiddenY{overflow-y:hidden}
.overhidden{overflow: hidden;}
.pl15{padding-left:15px}
.pb20{padding-bottom:20px}
ul{list-style:none}
input[type=radio]{border:none}
/*header*/
.xj-font{font-size:12px;color:#999}
.xj-main-breadcrumbs{margin-top: 6px;}
.xj-main-breadcrumbs .fa-map-marker{font-size:15px; color:#46A7FF;}
.xj-index-header{height:60px; line-height:60px; background-color: #46a7ff;}
.xj-index-menu{padding:0}
.xj-index-menu .navbar{margin-bottom: 0}
.menu_container{float:left;font-size:14px; color:#fff}
.menu_container .glyphicon-menu-left,.menu_container .glyphicon-menu-right{display:none;float:left;color:#fff;line-height:60px;}
.menu_container .glyphicon-menu-left:hover,.menu_container .glyphicon-menu-right:hover{text-decoration: none}
.menu_container .glyphicon-menu-left:link,.menu_container .glyphicon-menu-right:link{text-decoration: none}
.main_menu{float: left;line-height: 60px;color: #fff;margin-right:27px}
.main_menu:link,.main_menu:visited,.main_menu:hover,.main_menu:active{text-decoration: none; color:#fff}
.scroll_container{float:left;overflow:hidden;position:relative;}
.scroll_box{position:absolute;}
.scroll_box .nav > li{overflow:hidden;min-width:120px;text-align:center}
.navbar-nav>li>a{padding:10px; display:inline-block;}
.navbar-nav>li>a:hover{font-weight:bold}
.navbar-nav>li>a span{display:inline-block}
.notifications-menu{position:relative;}
.notifications-menu span{position:absolute;color: red;font-size: 35px;top: -29px;left: 17px;}
.project-item{list-style: none;margin:0;padding:0;}
.project-item li{float:left;width: 125px;height: 102px;border: 1px solid #eee;  text-align: center;  background-color: #f6f6f6;  margin: 10px 20px 20px 27px;  }
.project-item li a i{  font-size: 40px;  margin-top: 22px;  color:#46a7ff;  }
.project-item li a p{  margin-top: 5px;  font-size: 14px;  color: #3d3d3d;}
.inMiddle{float:none; margin:0 auto}
.menu_search{background: url("../../../common/img/nav_search_nor.png") 0 0 no-repeat;}
.menu_search:hover{background: url("../../../common/img/nav_search_hov.png") 0 0 no-repeat}
.menu_store{background: url("../../../common/img/nav_star_nor.png") 0 0 no-repeat}
.menu_store:hover{background: url("../../../common/img/nav_star_hov.png") 0 0 no-repeat}
.menu_message{background: url("../../../common/img/nav_message_nor.png") 0 0 no-repeat; position:relative}
.menu_message span{position:absolute;color:red;font-size:41px;left: 12px;top:-21px;}
.menu_message:hover{background: url("../../../common/img/nav_message_hov.png") 0 0 no-repeat}
.menu_account{background: url("../../../common/img/nav_user_nor.png") 0 0 no-repeat}
.menu_account:hover{background: url("../../../common/img/nav_user_hov.png") 0 0 no-repeat}
.navbar-default .navbar-nav>li>a.addMargin{margin:21px 16px 0 0}
.navbar-nav>li>.dropdown-menu.account_drop{margin-top:18px}
.textalignr{text-align: right;}
.surebtn{ position:absolute; top:10px; right:43px; background-color: #46A7FF; border:none;}

/*list.html*/
.xj-font{font-size:12px;color:#999}
.container-fluid.xj-main-advanced{padding:0 16px}
.rm-pad{padding:0}
.btn-search{width:28px;background-color: #46A7FF;text-align: center; color:#fff; border-radius: 4px;float: right}
.btn-search:hover{background-color:#228EF0; color:#fff}
.btn-adv{background-color: #fff; border:1px solid #46A7FF; color:#46A7FF; margin-left:5px; border-radius: 4px;float: right;}
.btn-adv:hover{background-color: #238EF0;color:#fff}
.btn-adv i{margin-left:7px}
.btn-dim{background-color: #238EF0;width:28px;color:#fff;border-radius: 4px;padding-right: 5px;}
.btn-dim:hover{color:#fff}
.expand-search{height:36px; overflow:hidden}
.xj-main-dimsearch{height:50px;line-height:50px; background-color: #F5F5F5;}
.btn-dim i{margin-left:7px}
.searchBox .btn-dim i,.tableSearchBox .btn-dim i{margin-left:0;}
.btns-group{overflow:hidden}
.btns-group .btn{float:right; border:1px solid #DCDCDC;color:#46A7FF; margin:10px 0 0 10px; background-color: transparent}
.btns-group .btn:hover{background-color: #fff}
.btns-group-edit .btn{float:left; margin:10px 0 0 7px;}
.xj-main-grid{border-right:1px solid #eee}
.btn-dim.focus, .btn-dim:focus, .btn-dim:hover{color:#fff}
.btn-search.focus, .btn-search:focus, .btn-search:hover{color:#fff}
/*form.html*/
.bigBtn{width:120px; height:40px; font-size:14px;}
.mt50{margin-top:80px}
.mt80{margin-top: 80px;}
.mt20{margin-top:20px}
.mtop70{margin-top: 70px;}
.mt60{margin-top: 60px;}
.mb20{margin-bottom:20px}
.addBlue{color:#46A7FF}
.xj-form-header{height:60px; line-height:60px; background-color: #46a7ff;position:fixed; width:100%;min-width: 698px; z-index:1000}
.menu_container{font-size:14px; color:#fff}
.xj-index-menu{padding:0}
.xj-index-menu .navbar{margin-bottom: 0}
.xj-index-logo img{margin:0 0 3px 10px;width:119px;height: 36px;}
.xj-form-title{color:#fff;text-align:center; font-size:14px}
.xj-form-btn .btn{float:right;background-color:#238EF0;color:#fff;margin: 16px 0 0 10px;}
.xj-form-btn .btn:hover{background-color: #1782E4}
.xj-form-tab{height:50px; line-height:50px; background-color: #F5F5F5; border:1px solid #F0F0F0}
.xj-form-tab.addPad{padding: 10px 0 0 15px;}
.mt50 .btn-sm{display: block;float: left;border:1px solid #D6D6D6; background-color: transparent; color:#46A7FF; margin-right:15px;}
.mt50 .btn-sm:hover{background-color:#fff;}
.mt50 .btn-sm.cleatfloat{display: block;float: right;border:1px solid #D6D6D6; background-color: transparent; color:#46A7FF; margin-right:15px;}
.mt50 .btn-sm.active{background-color: #46A7FF; color:#fff; border:none}

.mb20 .btn-sm.active{background-color: #46A7FF; color:#fff; border:none}
.mb20 .btn-sm{display: block;float: left;border:1px solid #D6D6D6; background-color: transparent; color:#46A7FF; margin-right:15px;}

.xj-form-content label{font-size:12px;color:#333;padding:0; line-height:30px;text-align: right}
.xj-form-content label span{color:red}
.xj-form-content label.checkbox-inline, .xj-form-content label.radio-inline{line-height: 10px;vertical-align: middle;padding-left: 15px;}
.table-bordered>tbody>tr>td.form-label{width:16%;text-align:right;border-right-color:#fff}
.table-bordered>tbody>tr>td.form-label1{width:11%;text-align:right;border-right-color:#fff}
.table-bordered>tbody>tr>td.form-edit{width:4%;text-align:right;border-right-color:#fff;vertical-align: top}
.table-bordered>tbody>tr>td.form-label .fa{color:#46A7FF;margin-left:5px}
.table-bordered>tbody>tr>td.form-label1 .fa{color:#46A7FF;margin-left:5px}
.table-bordered>tbody>tr>td{border:1px dotted #E1E1E1; color:#333; font-size:12px;width:34%}
.form-control{color:#666}
.form-control.addInputWidth{width:100%}
.form-date{width:100%}
.form-title{font-weight:bold;color:#333}
.addBtn{position:relative}
.form-inline .input-group .input-group-addon.w28{width:28px}
.table-bordered>tbody>tr.td-average>td{width:25%}
input[type=radio]{margin-top: 0px; box-shadow: none}
.add-div{border:1px solid #ddd;padding:10px; margin-bottom:20px;border-top:none}
.form-inline .input-group .input-group-addon.nodisplay{display:none}
/*form2.html*/
.edit-equation{height:46px; line-height:46px; border-bottom:1px dotted #E1E1E1}
.btn-opacity{border:1px solid #46A7FF; background-color: transparent; color:#46A7FF; margin-left:10px}
.btn-opacity:hover{color:#46A7FF}
.form-inline .form-control.edit-select{width:22%}
.label-margin{margin:0 28px}
.btn-icon{width:28px;height:20px; line-height:16px;padding:0; background-color: transparent; color:#46A7FF; border:1px solid #D6D6D6;margin-top:10px}
.btn-icon:hover{color:#46A7FF}
.form-inline .form-control.addWidth{width:22%}
.v-equation{margin-top:10px}
.equation-info{font-weight:bold; margin-left:20px}
.equation-info.success{color:#3FC095}
.equation-info.error{color:#F6623F;}
.equation-info.error i{margin-left:5px;font-weight:normal; font-style:normal}
/*弹出树 modal*/
.modal-dialog.modal-tree{width:400px}
.modal-dialog.modal-grid{width:950px}
.modal-header{background-color:#F0F0F0; border-top-left-radius: 4px; border-top-right-radius: 4px}
.modal-title{color:#333;display:inline-block}
.modal-title .fa{color:#46A7FF; margin-right:5px}
.modalInput{width:32%; display:inline; margin-left:10px}
.btnMsearch{width:28px;background-color: #46A7FF;text-align: center; color:#fff; border-radius: 4px; margin-bottom:4px}
.btnMsearch:hover{background-color:#228EF0; color:#fff}
.mr20{margin-right:20px}
.treeContainer{border:1px solid #E2E2E2;}
.addBorder{border:1px solid #E2E2E2;}
.col-md-9.changeWidth{width:74%}
.modal_title{height:40px; background-color: #F5F5F5; line-height:40px; border-bottom:1px solid #E2E2E2;padding: 0 10px;}
.modal-jz{margin:5px 0 0 400px}
.modal_title > .fa{color:#46A7FF}
.modal_title span{color:#333}
.modal_title input{width:44%; display:inline;margin-left:16px}
.modal_title button{color:#fff}
.treeConent{padding:10px}
/*selectors.html*/
.fullHeight{height:100%}
.fullWidth{width:100%;position:relative}
.fullWidth.addBorder{border:1px solid #ECECEC}
/*baoxiao*/
.jz{float:none; margin:0 auto}
.b_left{border:1px solid #E1E1E1;padding:0; width:74%}
.b_right{float:right;padding:0;}
.table-bordered>tbody>tr>td.b_label{width:10%}
.form-control.sel{width:78%; display:inline}
.form-control.area{margin-top:10px}
/*platform_index.html*/
.p_l{float:left; width:11%; border:1px solid #E7E7E7; padding-bottom:20px}
.p_l_title{width:74%;margin: 0 auto;padding:16px 0;font-size:16px; font-weight:bold; color:#46A7FF;border-bottom:1px solid #ECECEC;}
.p_r_top{margin-bottom:9px}
.p_l_ul{list-style:none;padding:0;margin:0;color:#666}
.p_l_ul li{width: 74%;margin:0 auto; margin-top:15px}
.p_l_ul li a{color:#666}
.p_l_ul li a:hover{color:#46A7FF}
.wuye{border-top:1px solid #ECECEC; margin-top:22px; }
.p_r{float:right; width:88.3%;}
.h300{height:300px;overflow:hidden}
.h310{height:310px;overflow:hidden}
.h360{height:360px;overflow:hidden}
.mt9{margin-top:9px}
.wheel_container{float:left;width:400px;background-color: #eee}
.groupnews_container{float:left;width: 38.9%;border:1px solid #ECECEC;}
.quickenter_container{float:right; width:26%;border:1px solid #ECECEC;}
.mdjz{float:none;margin:0 auto;}
.news_title{height:40px; line-height:40px;background-color: #F9F9F9;padding:0 12px; border-bottom:1px solid #F0F0F0}
.news_title > span{float:left;color:#666; font-size:14px;}
.news_title > span img{margin-right:5px}
.news_title > .news_more{float:right;color:#999;margin-left:10px}
.news_title > .news_more:hover{color:#46A7FF}
.news_list{padding:0; margin-top:8px;}
.news_list li{padding:0 12px 0 25px; height:30px; line-height:30px}
.news_list li.list_li{padding-left:15px}
.news_list li .city{float:left;color:#46A7FF}
.news_list li .time{float:left; margin-right:10px;color:#46A7FF}
.news_list li.new{background: url("../../../common/img/new.png") 10px 48% no-repeat}
.news_list li a{color:#666;display: inline-block;width: 50%;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news_list li a:hover{color:#46A7FF}
.news_list li span{float:right}
.quickicons{padding:0;}
.quickicons li{float:left;width:60px; height:60px;margin:19px 0 0 32px;overflow:hidden}
.quickicons li a.zjtj span:first-child{display:block;width:24px; height:28px;background: url("../../../common/img/quickIcons.png") -25px 0 no-repeat; margin:0 auto; margin-top:9px;}
.quickicons li a.zjtj span:last-child{display:block; width:100%;text-align:center; margin-top:8px}
.quickicons li a.zjtj:hover span:first-child{background: url("../../../common/img/quickIcons.png") 0 0 no-repeat;}
.quickicons li a.xsrb span:first-child{display:block;width:24px; height:28px;background: url("../../../common/img/quickIcons.png") -25px -33px no-repeat; margin:0 auto; margin-top:9px;}
.quickicons li a.xsrb span:last-child{display:block; width:100%;text-align:center; margin-top:8px}
.quickicons li a.xsrb:hover span:first-child{background: url("../../../common/img/quickIcons.png") 0 -33px no-repeat;}
.quickicons li a.ywlc span:first-child{display:block;width:24px; height:28px;background: url("../../../common/img/quickIcons.png") -25px -65px no-repeat; margin:0 auto; margin-top:9px;}
.quickicons li a.ywlc span:last-child{display:block; width:100%;text-align:center; margin-top:8px}
.quickicons li a.ywlc:hover span:first-child{background: url("../../../common/img/quickIcons.png") 0 -65px no-repeat;}
.quickicons li a.qsbg span:first-child{display:block;width:24px; height:28px;background: url("../../../common/img/quickIcons.png") -25px -98px no-repeat; margin:0 auto; margin-top:9px;}
.quickicons li a.qsbg span:last-child{display:block; width:100%;text-align:center; margin-top:8px}
.quickicons li a.qsbg:hover span:first-child{background: url("../../../common/img/quickIcons.png") 0 -98px no-repeat;}
.quickicons li a.ztbsp span:first-child{display:block;width:28px; height:29px;background: url("../../../common/img/quickIcons.png") -30px -131px no-repeat; margin:0 auto; margin-top:9px;}
.quickicons li a.ztbsp span:last-child{display:block; width:100%;text-align:center; margin-top:8px}
.quickicons li a.ztbsp:hover span:first-child{background: url("../../../common/img/quickIcons.png") 0 -131px no-repeat;}
.quickicons li a.jhzx span:first-child{display:block;width:25px; height:28px;background: url("../../../common/img/quickIcons.png") -29px -165px no-repeat; margin:0 auto; margin-top:9px;}
.quickicons li a.jhzx span:last-child{display:block; width:100%;text-align:center; margin-top:8px}
.quickicons li a.jhzx:hover span:first-child{background: url("../../../common/img/quickIcons.png") 0 -165px no-repeat;}
.quickicons li a.fyht span:first-child{display:block;width:26px; height:28px;background: url("../../../common/img/quickIcons.png") -28px -199px no-repeat; margin:0 auto; margin-top:9px;}
.quickicons li a.fyht span:last-child{display:block; width:100%;text-align:center; margin-top:8px}
.quickicons li a.fyht:hover span:first-child{background: url("../../../common/img/quickIcons.png") 0 -199px no-repeat;}
.quickicons li a.rcbx span:first-child{display:block;width:24px; height:28px;background: url("../../../common/img/quickIcons.png") -26px -233px no-repeat; margin:0 auto; margin-top:9px;}
.quickicons li a.rcbx span:last-child{display:block; width:100%;text-align:center; margin-top:8px}
.quickicons li a.rcbx:hover span:first-child{background: url("../../../common/img/quickIcons.png") 0 -233px no-repeat;}
.quickicons li a.qjcc span:first-child{display:block;width:24px; height:28px;background: url("../../../common/img/quickIcons.png") -26px -271px no-repeat; margin:0 auto; margin-top:9px;}
.quickicons li a.qjcc span:last-child{display:block; width:100%;text-align:center; margin-top:8px}
.quickicons li a.qjcc:hover span:first-child{background: url("../../../common/img/quickIcons.png") 0 -271px no-repeat;}
.toolicons{padding:0;}
.toolicons li{float:left;margin: 36px 0 0 29px;width:58px;height:57px;}
.toolicons li a{width:57px; height:57px;display: inline-block; }
.toolicons li a.qq{background: url("../../../common/img/toolBg.png") 33% 24.5% no-repeat}
.toolicons li a.qq:hover{background: url("../../../common/img/toolBg.png") 0% 24.5% no-repeat}
.toolicons li a.kk{background: url("../../../common/img/toolBg.png") 99% 24.5% no-repeat}
.toolicons li a.kk:hover{background: url("../../../common/img/toolBg.png") 66% 24.5% no-repeat}
.toolicons li a.note{background: url("../../../common/img/toolBg.png") 33% 0.5% no-repeat}
.toolicons li a.note:hover{background: url("../../../common/img/toolBg.png") 0 0 no-repeat}
.toolicons li a.ie{background: url("../../../common/img/toolBg.png") 99.5% 49.2% no-repeat}
.toolicons li a.ie:hover{background: url("../../../common/img/toolBg.png") 66.5% 50.2% no-repeat}
.toolicons li a.firefox{background: url("../../../common/img/toolBg.png") 99.5% 72.8% no-repeat}
.toolicons li a.firefox:hover{background: url("../../../common/img/toolBg.png") 66.1% 72.8% no-repeat}
.toolicons li a.pdf{background: url("../../../common/img/toolBg.png") 33.5% 95.3% no-repeat}
.toolicons li a.pdf:hover{background: url("../../../common/img/toolBg.png") 0% 95.3% no-repeat}
.toolicons li a.office{background: url("../../../common/img/toolBg.png") 99.1% 0.8% no-repeat}
.toolicons li a.office:hover{background: url("../../../common/img/toolBg.png") 0% 95.3% no-repeat}
.toolicons li a.app{background: url("../../../common/img/toolBg.png") 33.1% 72.8% no-repeat}
.toolicons li a.app:hover{background: url("../../../common/img/toolBg.png") 0.1% 72.8% no-repeat}
.toolicons li a.wei{background: url("../../../common/img/toolBg.png") 33% 49.8% no-repeat}
.toolicons li a.wei:hover{background: url("../../../common/img/toolBg.png") 0% 49.1% no-repeat}
.p_r_mid{margin-bottom:9px}
.mid_l_container{float:left; width:49.5%; border:1px solid #ECECEC}
.mid_l2_container{float:left; width:24.5%; border:1px solid #ECECEC;margin-left:10px}
.mid_l3_container{float:left; width: 74.7%; border:1px solid #ECECEC}
.mid_r_container{float:right; width:49.6%; border:1px solid #ECECEC}
.mid_r2_container{float:right; width:24.5%; border:1px solid #ECECEC}
.mid_r_container.noborder{border:none}
.tab_list{padding:0; margin:15px 0 0 13px}
.tab_list li{height:30px; line-height:30px;}
.tab_list li .t_delay{float:left;width:20%;display:inline-block;color:#999;overflow:hidden;}
.tab_list li .t_content{float:left;width:79%;display:inline-block;color:#666;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.tab_list li .t_content:hover{color:#46A7FF}
.platform_today{float:left;font-size:36px; color:#46A7FF;font-weight:bold;margin:8px 0 0 22px}
.detail{float:left;margin: 16px 0 0 8px;}
.detail p{margin-bottom:0}
.detail p:last-child{color:#5A5A5A}
.calendar{width:100%;}
.task{height: 105px;margin-top: 10px;overflow-y:auto;background-color: #FAFAFA;}
.task ul{padding:7px 0 0 0;}
.task ul li{height:30px; line-height:30px;padding-left:25px;}
.task ul li span{margin-right:10px}
.task ul li i{display:inline-block; width:11px; height:11px; border:2px solid;border-radius: 50%; margin-right:10px}
.task ul li i.blue{border-color:#3FC095;}
.task ul li i.orange{border-color:#FFA300}
.task ul li i.red{border-color:#E9444D}
.task ul li a{color:#666}
.footer{height:170px; background-color: #333;}
.footer_list_container{width:1096px;margin:0 auto}
.footer_list{height:136px; float:left;margin: 26px 0 0 102px;width: 150px;}
.footer_list p{color:#C9C9C9;font-size:14px; text-align: left}
.footer_list a{display:block; margin-top:10px}
.copyright{background-color:#282828; color:#C9C9C9;height:32px; line-height:32px;text-align: center}
.carousel-indicators{left:91%; top:92%}
.carousel-caption{left: -62%;top: 84%;}
.board_container{padding:0 16px}
.work_board{width:100%}
.work_board thead tr td{font-size:14px;border-bottom:1px solid #ECECEC;padding:16px 0}
.work_board tbody tr td{padding-top:14px}
.work_board tbody tr:hover{color:#46A7FF}
.progress{margin-bottom:0; height:5px}
.progress-bar{background-color: #46A7FF}
.weather{position:absolute;width:100%;height:57px;}
.ca_today{float:left;font-size: 36px;font-weight: bold;color: #46A7FF;margin: 6px 18px 0 10px;}
.ca_weather{float:left;margin: 10px 0 0 8px;}
.ca_weather p:first-child{margin-bottom:0}
.ca_weather p:last-child{color:#5A5A5A; margin-top:4px}
/*manager_index.html*/
.chart_container,.chart_containertwo{padding:0;}
.chart_container li{float:left; width:31%; height:280px; border:1px solid #ECECEC;margin: 18px 0 0 21px;}
.addBorder1{border:1px solid #EBEBEB}
.chartItem{width:90%; height:90%; background-color: #eee; margin:23px auto; }
.charts{padding-bottom:20px}
.chart_containertwo li {
   float: left;
    width: 60%;
    height: 280px;
    border: 1px solid #ECECEC;
    margin: 18px 0 0 21px;
        }
/*login.html*/
.fullPic{
    /*background: url("../images/bg01.png") 0 0 no-repeat;*/
    /*background-size:cover;*/
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}
.fullPic > img{
    height:100%;
    width:100%;
    border:0;
}
.setBg{
    height:35px;
    line-height:35px;
    padding-right:20px;
}
.setBg a{
    color:#fff;
    float:right;
    margin-left:10px;
}
.setBg a:hover{
    text-decoration: none;
    color:#46A7FF;
}
.login_form{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-164px;
    margin-top:-164px;
    width:328px;
    min-height:328px;
    background: rgba(0,0,0,0.5);
    border-radius:4px;
}
.form-horizontal .checkbox {
    padding-top:0;
}
.passwordtip{
	position: absolute;
	top: 10px;
	left: 37px;
	color: #666666;
	z-index:3;
	display: none
}
.input-group.cw{
    width:280px;
    margin: 30px 0 0 22px;
}
.input-group.mm{
    width:280px;
    margin: 0 0 0 22px;
}
.setposition{
	position: relative;
}
.ch{
    height:34px;
}
.login_title{
    color: #fff;
    font-size: 16px;
    padding: 22px 0 0 21px;
}
.form-horizontal .form-group{
    margin-left:0;
    margin-right:0;
}
.rem_la{
    color: #fff;
    margin:0 0 0 22px;
}
.btn_login{
    margin: 0 0 0 22px;
    width: 280px;
    background-color: #46A7FF;
    border:none;
}
.btn_login:hover{
    background-color:#46A7FF;
}
.forget-box{
    text-align: center;
    padding: 20px 0;
}
.forget{
    display: inline-block;
    width: 100px;
    color: #fff;
}
.forget:hover{
    color:#46A7FF;
}
/*organization.html*/
body{
    padding:0;
    margin:0;
    font-family: '微软雅黑';
    font-size:12px;
}
.ztree li span.button.diy01_ico_open,.ztree li span.button.diy01_ico_close{
    margin-right:2px; background: url(../../zTreeStyle/img/diy/main.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle
}
.ztree li span.button.diy02_ico_docu{
    margin-right:2px; background: url(../../zTreeStyle/img/diy/12.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle
}
.ztree-box #treeDemo{
    height: auto;
    width: auto;

}
#treeDemo span{
    font-size:12px;
    font-family: '微软雅黑';
    /* color: #666; */
}
/*Media queries*/
@media screen and (max-width: 960px){
    /*.embed-responsive-4by3{
        padding-bottom: 73%;
    }*/
    .skin-blue .main-sidebar{
        width: 29.666667%;
    }
    .up_files ul li{
        width:47%;
    }
}
@media screen and (max-width: 768px) {
    .col-sm-3 {
        width: 29%;
    }
    .col-sm-9 {
        width: 70%;
    }
}
@media screen and (max-width: 1050px) and (min-width: 990px) {
    .col-sm-3 {
        width: 27%;
    }
    .col-sm-9 {
        width: 70%;
    }
}

/*组织架构*/
.org-nav{
    height: 50px;
    line-height: 50px;
    color: #999;
}
.org-nav .fa-map-marker{
    color: #46A7FF;
    margin-right: 5px;
}
.org-nav .bread{
    list-style: none;
    display: inline-block;
    padding-left: 0px;
}
.org-nav .bread li{
    display: inline-block;
}
.org-nav .bread > li + li:before {
    color: #999;
    padding: 0 5px;
}
.slide-left{
    height: auto;
    border:1px solid #e7e7e7;
    padding: 0;
}
.slide-left .tit-box{
    background: #f5f5f5;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}
.slide-left .tit-box .tit{
    margin-left: 10px;
    display: inline-block;
    line-height: 50px;
}
.slide-left .tit-box button{
    color:#46A7FF;
    margin: 12px 0;
    border: 1px solid #DDDDDD;
    margin-right: 5px;
}
.slide-left .tit-box .more{
    margin-right: 5px;
}
.mr0{
    margin-right: 0;
}
.pdlf10{
    padding-left: 10px;
}
.pdrh0{
    padding-right: 0;
}
.pdr20{
	padding-right: 20px;
}
.slide-left .tit-box button:hover,.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background: #fff;
    border: 1px solid #DDDDDD;
    color: #46A7FF;
}

.org-title{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e7e7e7;
    padding:0 10px;
}
.org-title .fa-sitemap{
    color: #46A7FF;
    margin-right: 5px;
}

.org-title .tit{
    font-weight: bold;
}
.ztree-box{
    padding: 10px 5px;
    overflow: hidden;
}
.ztree li{
    line-height: 28px;
}
.ztree li a.curSelectedNode{
    height: 28px;
    background: #e3f2ff;
    border-radius: 4px;
    border:none;
    color: #666;
}

.right-content .con-tit{
    height: 50px;
    line-height: 45px;
    text-indent: 10px;
    background: #F5F5F5;
    border: 1px solid #F1F1F1;
    border-bottom: none;
}
.right-content .con-tit .btn-dim,.right-content .con-tit .btn-sm{
    text-indent: 0;
}
.right-content .con-tit button{
    color: #46A7FF;
    padding: 5px 15px;
}
.right-content .con-tit button.byuser{
    margin-right: 5px;
}
.right-content .con-tit button.active{
    background: #46A7FF;
    color: #fff;
    border: 1px solid #46A7FF;
}
.right-content .con-tit button:not(.active):hover{
    background: #fff;
    border: 1px solid #ddd;
}

.user-list{
    height: 50px;
    line-height: 48px;
    padding:0 10px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-bottom: none;
}
.org-icons{
    background: url("../../zTreeStyle/img/icons.png");
}
.user-list .list-icon{
    margin-right: 5px;
    background-position: -119px -10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}
.user-list .tit{
    font-weight: bold;
}
.user-list .my-btn-group{
    float: right;
}
.user-list .my-btn-group>.btn,.user-list .my-btn-group .more>.btn,.tit-box .more>.btn{
    margin-right: 5px;
    color: #46A7FF;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    padding: 0 7px;
    height: 28px;
    line-height: 27px;
    font-size: 12px;
    box-shadow: none;
}
.tit-box .more .dropdown-menu{
    top:38px;
}
.more .dropdown-menu{
    font-size: 12px;
    border:1px solid #DDDDDD;
    box-shadow: none;
    min-width:66px;
}
.more .dropdown-menu>li>a{
    color: #46A7FF;
}

.my-btn-group>.btn:hover{
    background: #DAEEFF;
    border: 1px solid #DDDDDD;
}
.con-table{
    height: auto;
}
.mytable#userTable,.mytable#postTable{
    margin-bottom: 10px;
}
.mytable,.myUsertable{
    border: 1px solid #F1F1F1;
    overflow: auto;
}
.btn-dim{background: #46A7FF;
    border-radius: 4px;color:#fff;}
.btn-dim:hover{color:#fff}
.searchBox,.tableSearchBox{
    padding:11px 10px;
    background: #FFFFFF;
    border-bottom: 1px solid #F1F1F1;
}
.tableSearchBox{
    display: inline-block;
    padding: 0;
    border: none;
    margin-left: 20px;
}
.searchBox input{
    height: 28px;
    line-height: 28px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    width: 78%;
    margin-right: 10px;
    font-size: 12px;
    text-indent: 5px;
    display: inline-block;
}
.tableSearchBox input{
    height: 28px;
    line-height: 28px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 12px;
    text-indent: 5px;
    width: 120px;
    display: inline-block;
}
.searchBox button,.tableSearchBox button.btn-dim{
    width: 28px;
    height: 28px;
    margin-top: -3px;
    display: inline-block;
    padding: 0;
}
.my-checkbox{
    background: url("../../zTreeStyle/img/icons.png") -53px -34px no-repeat;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.my-checkbox.checkd{
    background: url("../../zTreeStyle/img/icons.png") -76px -34px no-repeat;
}
/*ztree样式覆盖*/
.ztree li span.button{
    background: url("../../zTreeStyle/img/icons.png");
    display: inline-block;
    width: 12px;
    height: 12px;
}
.ztree li .button.diy-group_ico_open, .ztree li .button.diy-group_ico_close,.ztree li .button.diy-group_ico_docu{
    background-position: -30px -10px;
    margin-right: 4px;
}
.ztree li .button.diy-board_ico_open, .ztree li .button.diy-board_ico_close,.ztree li .button.diy-board_ico_docu{
    background-position: -95px -11px;
    height: 14px;
    margin-right: 4px;
}
.ztree li .button.diy-company_ico_open, .ztree li .button.diy-company_ico_close,.ztree li .button.diy-company_ico_docu{
    background-position: -77px -10px;
    height: 13px;
    margin-right: 4px;
}
.ztree li .button.diy-program_ico_open, .ztree li .button.diy-program_ico_close,.ztree li .button.diy-program_ico_docu{
    background-position: -9px -10px;
    height: 13px;
    margin-right: 4px;
}
.ztree li .button.diy-department_ico_open, .ztree li .button.diy-department_ico_close,.ztree li .button.diy-department_ico_docu{
    background-position: -53px -10px;
    height: 13px;
    margin-right: 4px;
}
/*人员*/
.ztree li .button.diy-member_ico_open, .ztree li .button.diy-member_ico_close,.ztree li .button.diy-member_ico_docu{
    background-position: -31px -51px;
    height: 13px;
    margin-right: 4px;
}
/*岗位*/
.ztree li .button.diy-post_ico_open, .ztree li .button.diy-post_ico_close,.ztree li .button.diy-post_ico_docu{
    background-position: -9px -51px;
    height: 13px;
    margin-right: 4px;
}
/*系统*/
.ztree li .button.diy-system_ico_open, .ztree li .button.diy-system_ico_close,.ztree li .button.diy-system_ico_docu{
    background-position: -8px -67px;
    height: 13px;
    margin-right: 4px;
}
/*菜单*/
.ztree li .button.diy-menu_ico_open, .ztree li .button.diy-menu_ico_close,.ztree li .button.diy-menu_ico_docu{
    background-position:-31px -68px;
    height: 13px;
    margin-right: 4px;
}
/*功能按钮*/
.ztree li .button.diy-function_ico_open, .ztree li .button.diy-function_ico_close,.ztree li .button.diy-function_ico_docu{
    background-position:-53px -67px;
    height: 13px;
    margin-right: 4px;
}
/*角色分类*/
.ztree li .button.diy-roleType_ico_open, .ztree li .button.diy-roleType_ico_close,.ztree li .button.diy-roleType_ico_docu{
    background-position:-70px -67px;
    height: 13px;
    margin-right: 4px;
}
/*角色*/
.ztree li .button.diy-role_ico_open, .ztree li .button.diy-role_ico_close,.ztree li .button.diy-role_ico_docu{
    background-position:-53px -51px;
    height: 13px;
    margin-right: 4px;
}
/*虚拟角色*/
.ztree li .button.diy-fictitious_ico_open, .ztree li .button.diy-fictitious_ico_close,.ztree li .button.diy-fictitious_ico_docu{
    background-position:-70px -51px;
    height: 13px;
    margin-right: 4px;
}
/*业务对象*/
.ztree li .button.diy-business_ico_open, .ztree li .button.diy-business_ico_close,.ztree li .button.diy-business_ico_docu{
    background-position:-8px -84px;
    height: 13px;
    margin-right: 4px;
}
/*******自定义滚动条样式覆盖插件******/
.mCSB_inside > .mCSB_container{margin-right:0px;}
.mCSB_container{
    overflow: visible;!important;
}
.mCSB_scrollTools .mCSB_dragger{
    width:6px;
    max-height: 60px !important;
    opacity: 0.1;
    background: #000000;
    border-radius: 10px;
    left: 7px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    opacity: 0.1;
    background: #000000;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width:0;
    opacity: 0.1;
    background: #000000;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{
    height: 6px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger{
    left: 5px;
    bottom: 5px;
}
.mCSB_scrollTools.mCSB_scrollTools_vertical .mCSB_dragger{
    top:5px;
}
.mCSB_container_wrapper{
    margin-right: 10px;
}
/*pad中改变样式*/
@media screen and (max-width: 960px){
    .main_menu{margin-right:10px}
}

/*弹出框样式*/
.dialog-box{
    padding: 65px 50px;
    overflow: hidden;
    width: 400px;
    height: 300px;
    background: #fff;
    opacity: 0.94;
    box-shadow: 0 4px 8px 0 rgba(110,110,110,0.50);
    border-radius: 8px;
    box-sizing: border-box;
}
.dialog-box .con .tipImg{
    float: left;
    vertical-align: top;
    background: url("../../easyDialog/dialogIcons.png");
    height: 62px;
    width: 43px;
}
.dialog-box .con.blue .tipImg{
    background-position: -97px -22px;
}
.dialog-box .con.red .tipImg{
    background-position: -18px -14px;
}
.dialog-box .con.green .tipImg{
    background-position: -174px -22px;
}

.dialog-box .con .tipBody{
    width: 220px;
    font-size: 16px;
    float: right;
}
.dialog-box .con .tipBody p{
    color: #666666;
    letter-spacing: 0;
    height: 135px;
}
.dialog-box .con .btn-footer{
    text-align: right;
}
.dialog-box .con .btn-footer button{
    border-radius: 3px;
    width: 94px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    outline: none;
}
.dialog-box .con .btn-footer .sure{
    color: #fff;
    margin-right: 24px;
    border:none;
}
.dialog-box .con.blue .btn-footer .sure{
    background: #46A7FF;
}
.dialog-box .con.red .btn-footer .sure{
    background: #F6623F;
}
.dialog-box .con.green .btn-footer .sure{
    background: #3FC095;
}
.dialog-box .con .btn-footer .cancel{
    background: #fff;
}
.dialog-box .con.blue .btn-footer .cancel{
    color: #46A7FF;
    border: 1px solid #46A7FF;
}
.dialog-box .con.red .btn-footer .cancel{
    border: 1px solid #F6623F;
    color: #F6623F;
}
.dialog-box .con.green .btn-footer .cancel{
    border: 1px solid #3FC095;
    color: #3FC095;
}
/*小提示框样式*/
.dialog-tip{
    opacity: 0.96;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 #ACD7FF;
    border-radius: 4px;
    height: auto;
    width: 300px;
    padding: 15px;
}

.dialog-tip .tipImg{
    float: left;
    width: 20px;
    height:30px;
    vertical-align: top;
    background: url("../../easyDialog/dialogIcons.png");
    margin-top: 4px;
}
.dialog-tip p{
    float: left;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    line-height: 18px;
    margin-left:10px;
    width: 230px;
    margin-top: 10px;
}
.dialog-tip.blue .tipImg{
    background-position: -97px -125px;
}
.dialog-tip.red .tipImg{
    background-position: -18px -125px;
}
.dialog-tip.green .tipImg{
    background-position: -174px -125px;
}
.dialog-tip.blue a{
    color: #46A7FF;
}
.dialog-tip.green a{
    color: #3FC095;
}
.dialog-tip.red a{
    color: #F6623F;
}
.tip-box-alert{
    position: fixed;
    display: none;
    top: 45%;
    left: 45%;
    z-index: 1055;
}
.tip-box-alert .close{
    float: none;
    position: absolute;
    left: 276px;
    top: 3px;
    z-index: 88;
}
@media (min-width: 768px){
    .modal-dialog.dialog-box-modal {
        width: 403px;
    }
}

/*gird表格滚动部分样式*/
/*.ui-state-default, .ui-widget-content .ui-state-default{
    height: 40px;
    color: #333;
    padding-top: 10px;
}
.tableStyle .ui-widget-content{
    border:0;
}
.tableStyle .ui-jqgrid-bdiv{
    height: auto!important;
}
.tableStyle .ui-jqgrid-hdiv{
    background: #acd7ff;
}
.ui-jqgrid tr.ui-row-ltr td{
    border-color: #eaeaea;
}*/
/*.ui-jqgrid-bdiv{
    border-right: none!important;
}*/
.ui-widget-content{
    /*overflow: hidden;*/
}
.ui-jqgrid-bdiv {
    border-right-width: 0;
}
.ui-jqgrid .ui-jqgrid-btable{
}
.xj-border-right{border-right:1px solid #eee}
.pt20{
    padding-top: 20px;
}

/*审批流程 样式*/
.flow .con-tit{
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}
.mt20{
    margin-top:20px
}
.flow .con-tit button{
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    color: #46A7FF;
    min-width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
    /*font-weight: bold;*/
}
.flow .con-tit button.active{
    background: #46A7FF ;
    color: #fff;
}
.my-time{
    position: absolute;
    right: 10px;
    top:8px;
    color: #46A7FF;
}
.oporate-con .flow-search-icon{
    background: #46A7FF ;
}
.oporate-con .flow-search-icon:hover{
    background: #46A7FF ;
}
.oporate-con .flow-search-icon i{
    color: #fff;
    margin-left: 0;
}
.approve-list-tit{
    background: #F5F5F5;
    border: 1px solid #F0F0F0;
}
.user-list.approve-list-tit .my-btn-group>.btn{
    background: #F5F5F5;
}
.user-list.approve-list-tit .tit{
    font-weight: normal;
}
.tableList{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-top: none;
}
.col-mar-auto{
    margin:0 auto;
    float: none;
}
.content-list{
    height: auto;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    padding: 20px 0;
}
.content-list .head-tit{
    background: #BFE0FF;
    border-radius: 4px 4px 0 0;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
}
.content-list .col-sm-4{
    padding-left: 20px;
    padding-right: 20px;
}
.content-list .head-tit .tit{
    font-weight: bold;
}
.content-list .head-tit .num,.content-list .head-tit i{
    color: #46A7FF;
    letter-spacing: 0;
}
.content-list .head-tit i{
    margin-right: 10px;
    top: 2px;
    cursor: pointer;
}
.content-list .list-box{
    border: 1px solid #D6D6D6;
    border-top: none;
    border-bottom: none;
}
.content-list .list-box ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.content-list .list-box li{
    padding: 0 10px;
    border-bottom: 1px solid #D6D6D6;
    height: 40px;
    line-height: 40px;
}
.content-list .list-box li i{
    background: url("../images/icon.png");
    display: inline-block;
}
.content-list .list-box li i.user-icon{
    margin-right: 5px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-position: -25px -88px;
    margin-top: -2px;
}
.content-list .list-box li i.delete{
    margin-right: 5px;
    width: 12px;
    height:12px;
    vertical-align: middle;
    background-position: -68px -93px;
    margin-top: 14px;
    float: right;
}
.content-list .list-box li:hover{
    background: #F6F6F6;
    cursor: pointer;
}
.content-list .list-box li:hover span{
    color: #46A7FF;
    letter-spacing: 0;
}
.content-list .list-box li:hover .delete{
    background-position: -25px -26px;
}

/*上移下移图标*/
.sort-box{
	width:100%;
	text-align:center;
}
.order-icon{
    background: url("../images/icon.png");
    width: 12px;
    height: 12px;
    vertical-align: middle;
    display: inline-block;
    line-height: 36px;
}
.up-icon{
    background-position: -57px -56px;
}
.up-icon:hover{
    background-position: -56px -26px;
}
.down-icon{
    background-position: -89px -56px;
    margin-left:20px;
}
.down-icon:hover{
    background-position: -89px -26px;
}
.add-icon{
    background-position: -119px -56px;
    margin-left:20px;
}
.add-icon:hover{
    background-position: -119px -26px;
}
.delete-icon{
    background-position: -25px -56px;
    margin-left:20px;
}
.delete-icon:hover{
    background-position: -25px -26px;
}

/*发起审批*/
.td-submit .btn:hover{
    background: #238EF0;
}
.td-submit .btn{
    background: #238EF0;
    color: #fff;
}
.check-list {
 width: 100%; 
 border: 1px solid #e1e1e1; 
}
.check-list  ul{
    width: 100%;
    margin: 0;
    padding:0;
    padding-left: 10px;
    padding-right: 5px;
}
.check-list  ul li {
    list-style: none;
    border-bottom: 1px dotted #e1e1e1;
    width:100%;
    height: 36px;
    line-height: 36px;
}
.check-list  ul li:last-child{
    border: 0;
}
.check-list span{
    margin-left: 5px;
}
.nexttask{
    width: 100%;
    box-sizing: border-box;
}
.nexttask.form-control[readonly] {
    background-color: #eee;
}
.opinion {
    width: 100%;
}
.opinion .define {
    padding:0 1px;
    background: #fff;
    color: #46A7FF;
    border: 1px solid #46A7FF;

}
.tabtrans .play{
    width: 100px;
    height: 36px;
    background: #fff;
    color: #46A7FF;
    border: 1px solid #46A7FF;
    float: right;
    margin: 10px;
}
.operation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.operation ul li{
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 36px;
    line-height: 36px;
    border-bottom: 1px dotted #e1e1e1;
 }
.operation input[type=radio]{
  margin: 16px 0 0 2px;
}
.operation .xieli{
    display:inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    /*float: left;*/
 }
.form-control.select { 
    width: 50%;
    display:inline;
    margin-left: 10px;
}
.operation .repeat{
    display: inline;
    margin-right: 10px;
}

.selectxieban {
 position: relative; 
}
.selectxieban input[type=radio]{
   /* float: left;*/
}
.sel-xieban {
    width:100%;
    margin-top: 12px;
    margin-left: 5px;    
    position: relative;
}
.sel-xieban .xieban{  
   width: 63%;
   margin: 4px 0 0 15px;
}
.selectxieban .setxieban {
    position: absolute;
    top: -45%;
    right: -10%;
}
.selectxieban .setxieban .input-group-addon {
    position: absolute;
    right: 25px;
    top: 4px;
    width: 28px;
    height: 28px;
}
/*.sel-xieban .input-group-addon {
position: absolute;
    right: -40px;
    top: 4px;
    width: 28px;
    height: 28px;
}*/
.fa-font {
    line-height: 28px;
}
.setheight {
    height: 310px;
}
.edit {
    width: 20%;
    position: absolute;
    top:10px;
    left: 38px;
    display: none;
}
.setposition  {
    position: relative;

}
.editbutton {
    position: absolute;
    top:10px;
    left: 205px;
    visibility: visible;
}
#submit{
    position: relative;
    height: 40px;
}
.submitbutton {
    width: 100px;
    position: absolute;
    left: 32%;
    top: 16%;
}
.jz  .settitle {
    text-align: center;
    color: #333;
    font-size: 14px;
    margin:20px 0;
    padding-left:55px;
    position: relative;
}
.jz  .settitle .editimg{
    cursor: pointer;
    margin-left: 10px;
}
.jz .settitle-one{
   
}
.jz  .settitle .edittitle{
  /* display: none; */
   margin:0 auto;
    width: 50%;
    height: 28px;
    /* position: absolute; */
    left: 50%;
    top: 0%;
    margin-left: -10%;
    font-size: 12px;
    color: #666;
    padding: 0 10px 0 4px;
    border: 1px solid #D6D6D6;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.visible{
    visibility: hidden;
}
.operationshenpi .operation-radio {
    line-height: 20px;
    padding:  0 5px;
}
.operationshenpi .operationlist {
    margin: 0;
/*    padding: 20px;*/
/*    border-bottom: 1px dotted #e1e1e1;*/
}
.operationshenpi #operation_list {
    padding: 0;
    margin: 0;
}
.operationshenpi #operation_list .selectxieban {
    margin: 0;
    padding: 14px;
    width: 100%;
    height: 60px;
    border: 1px dashed #e1e1e1;
}
.operationshenpi #operation_list .operation_first{
    margin: 0;
    padding: 14px;
    width: 100%;
    height: 80px;
    border: 1px dashed #e1e1e1;
}
#operation_list .selectjiedian{
    margin-bottom: 10px;
}

/*.operation .radio{margin-top: 2px;}*/
/*滚动条样式
/*谷歌内核
发起审批 {
     width: 6px;
     height: 6px;
     background-color: #fff;
 }

::-webkit-scrollbar-track
{
    border-radius: 3px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    background-color: #eee;
}*/
/*火狐浏览器 滚动条*/
/*流程 模态框*/
.flow-modal{
    width: 400px;
}
.flow-modal .modal-header{
    padding: 11px 20px;
}
.flow-modal .modal-header i{
    margin-right: 5px;
    color: #46A7FF;
}
.flow-modal .btn-sm.blue{
    float: right;
    margin-right: 20px;
    padding:3px 17px;
}
.flow-modal .btn-sm.blue.download{
    width: 72px;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    padding: 0;
}
.flow-modal .btn-sm.blue.download.all{
    background: #F0F0F0;
    border: 1px solid #238EF0;
    border-radius: 4px;
    color: #46A7FF;
}
.flow-modal .modal-header .title span{
    color: #333;
}
.flow-modal .modal-header .title{
    line-height: 28px;
}
.flow-modal .modal-body{
    padding: 20px;
}
.radio-con{
   margin-bottom: 20px;
}
.radio-con label{
    margin-right: 40px;
    cursor: pointer;
}
.radio-con label input{
    margin-right: 5px;
    vertical-align:middle;
    margin-top: -2px;
}
.list-con .tit{
    background: #CCE7FF;
    border: 1px solid #CCE7FF;
    text-indent: 20px;
    height: 36px;
    line-height: 36px;
}
.list-con .p-list{
    height: 136px;
    border:1px solid #e2e2e2;
    padding: 12px 0;
    overflow: hidden;
}
.radio-con .fa-circle-o{
    color: #999;
}
.radio-con .fa-dot-circle-o{
    color: #46A7FF;
}
.list-con .select-icon{
    margin-left: 8px;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon.png") no-repeat -117px -92px;
    margin-top:-3px;
    cursor: pointer;
}
.list-con .p-list a{
    display: inline-block;
    margin: 0 20px;
    line-height: 28px;
}
.file-list-con{
    height: 210px;
    border: 1px solid #E2E2E2;
    overflow: hidden;
}
.file-list-con input[type="checkbox"]{
    margin-right: 20px;
}
.file-list-con ul{
    list-style: none;
    padding-left:0;
}
.file-list-con ul li{
    height: 35px;
    line-height: 35px;
    border-bottom:1px dashed #ccc;
    padding-left: 18px;
}
.file-list-con ul li span{
    color: #666;
    font-size: 14px;
}
.finance-page .tit-box{
    text-align: center;
    height: auto;
}
.finance-page .tit-box h2{
    font-size: 28px;
    color: #333333;
    letter-spacing: 0;
}
.finance-page .tit-box h6{
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 40px;
}
.finance-page .tit-box h6 span{
    margin-right: 20px;
}
.finance-page .tit-box .line{
    width: 50px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #46A7FF;
}
.finance-page .con{
    font-size:14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 20px;

}
.finance-page .footer-f{
    line-height: 40px;
    border-top:1px dashed #E7E7E7;
    border-bottom:1px dashed #E7E7E7;
    font-size: 12px;
    color: #999999;
}
.finance-page .footer-f .split{
    margin:0 20px;
}
.finance-page .file{
    border-bottom:1px dashed #E7E7E7;
    padding: 20px 0;
}
.finance-page .file .tit{
    color: #999;
    margin-bottom: 10px;
}
.finance-page .file .item{
    line-height: 22px;
    color: #666;
}
.finance-page .file .item a{
    margin-left: 20px;
    color: #46A7FF;
    cursor: pointer;
}
.finance-page  .commont-box .tit{
    height: 40px;
    line-height: 40px;
    color: #999999;
}
.finance-page .commont-box .img{
    width: 22px;
    height:22px;
    display: inline-block;
    background: url("../images/icon.png") -25px -88px;
    margin-right: 10px;
    float: left;
}
.finance-page  .commont-box textarea{
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 2px;
    height: 56px;
    float: left;
    width: 90%;
    resize: none;
}
.finance-page  .commont-box .btn-commont{
    background: #46A7FF;
    border-radius: 4px;
    width: 56px;
    height: 56px;
    margin-left: 10px;
    color: #fff;
    font-size: 12px;
    white-space:normal;

}
.finance-page  .commont-box .item{
    margin-top:20px;
}
.finance-page  .commont-box .item .content{
    float: left;
    width: 90%;
}
.finance-page  .commont-box .item .content .tit{
    line-height: 20px;
    height: 30px;
}
.finance-page  .commont-box .item .name{
    font-size: 12px;
    color: #46A7FF;
    margin-right: 10px;
}
.finance-page  .commont-box .item .time{
    font-size: 10px;
    color: #999999;
}
.finance-page  .commont-box .item .content p{
    font-size: 12px;
    color: #666666;
    line-height: 20px;
}
@media screen and (max-width: 800px){
    .finance-page  .commont-box textarea,.finance-page  .commont-box .item .content{
        width: 60%;
    }
}
@media screen and (max-width: 1100px) and (min-width: 800px) {
    .finance-page  .commont-box textarea,.finance-page  .commont-box .item .content{
        width: 85%;
    }
}
/*调整流程实例*/
#erp-table .setborder{
    border: 1px solid #e1e1e1;
  
    
}
#erp-table .table>thead>tr>th {
    border-bottom: 0;
    background: #acd7ff;
}
#erp-table .zerenpepole{
    position: relative;
}
#erp-table .selectedit,.selectedit{
    position: absolute;
    width: 16px;
    top: 10px;
    left: 56px;
    border-radius: 18%;
    background: #fff;
    border: 1px solid #46A7FF;
    cursor: pointer;
    text-align: center;
}
#erp-table .selectedit:hover,.selectedit:hover{

    background: #46A7FF;
    
}
.facolor{
    color: #46A7FF
}
.facolor:hover{
    color: #fff
}
#erp-table  .operation{
    position: relative;
}
#erp-table  .operation .selectediting{
    position: absolute;
    width: 46px;
    height: 22px;
    top: 8px;
    left: 135px;
    border-radius: 13%;
    background: #fff;
    border: 1px solid #46A7FF;
    text-align: center;
    line-height: 22px;
    box-sizing: border-box;
    padding-left: 8px;
    color:#46A7FF;
    cursor: pointer;
}
#erp-table  .operation .circle{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border:1px solid #46A7FF;
    top: 9px;
    left: 5px;
}

#erp-table  .operation .selectediting:hover {
     background: #46A7FF;
     color: #fff;

}
.xj-form-btn .btn.fl{
    float: left;
}
#erp-table .inputwidth{
    width: 64%;
}
/*替换审批人*/
.flow .oporate-con{
    margin-bottom: 20px;
}
.flow .oporate-con div,.flow .oporate-con button,.flow .oporate-con select,.flow .oporate-con i{
    float: left;
}

.flow .oporate-con .input-group{
    margin-right: 8px;
}
.flow .oporate-con select{
    width: 10%;
    margin-right: 8px;
}
.flow .oporate-con .pr{
    width: 8%;
    position: relative;
    margin-right: 8px;
}
.flow .oporate-con .btn-sm{
    border: 1px solid #46A7FF;
}
.flow .oporate-con .btn-sm.blue{
   background: #46A7FF;
    color: #fff;
}
.flow .oporate-con .selectedit{
    left: 80%;
    z-index: 88;
    top: 8px;
    text-align: center;
    width: 14px;
    height: 14px;
    line-height: 12px;
}
.flow .oporate-con .tit{
    display: inline-block;
    line-height: 28px;
    float: left;
    margin-right: 8px;
}
.flow .arrow{
    width: 35px;
    height: 8px;
    background: url("../../img/long_arrow.png") no-repeat 0 0;
    vertical-align: middle;
    margin:10px 20px;
    display: inline-block;
}
/*流程查询*/
.user-list .querybtn {
    float: right;
    margin-top: 10px;
    background: #46A7FF;
    color: #fff;
    border: 0;
}
.user-list .editquerybtn {
    background: #F5F5F5;
    border: 1px solid #DCDCDC;
    color: #46A7FF;
}
#xj-form-content .table-bordered>tbody>tr>td.form-label {
    width: 9%;
    text-align: right;
    border-right-color: #fff;
}
#xj-form-content .table-bordered>tbody>tr>td {
    border: 1px dotted #E1E1E1;
    color: #333;
    font-size: 12px;
    width: 24%;
}
/*Media queries*/
@media screen and (max-width: 1140px){
    .flow .oporate-con .selectedit{
        left: 75%;
    }
}
/*没有权限*/
.no-power-box{
    width: 150px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -75px;
    margin-top:-100px;
    overflow: hidden;
    text-align: center;
}
.no-power-box .img{
    width: 110px;
    height: 110px;
    background: url("../images/qxbz.png") no-repeat;
    vertical-align: middle;
    margin:0 auto;
    margin-bottom: 20px;
}
.no-power-box p{
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 20px;
}
.loading{
    display: none;
    background: #ccc;
    opacity: 0.7;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.loading .load-box{
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -50px;
    margin-top:-50px;
    vertical-align: middle;
}
.anzhuangimg {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    /*background: #46A7FF;*/
    text-align: center;
    position: relative;
}


.loader-inner {
    position: absolute;
    top: 36px;
    left: 36px;
}

@-webkit-keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4); }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4); }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }


/*.ball-spin-fade-loader {
  position: relative; }*/
.ball-spin-fade-loader > div:nth-child(1) {
    top: 25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
    animation: ball-spin-fade-loader 1s 0s infinite linear; }
.ball-spin-fade-loader > div:nth-child(2) {
    top: 17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
    animation: ball-spin-fade-loader 1s 0.12s infinite linear; }
.ball-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 25px;
    -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
    animation: ball-spin-fade-loader 1s 0.24s infinite linear; }
.ball-spin-fade-loader > div:nth-child(4) {
    top: -17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
    animation: ball-spin-fade-loader 1s 0.36s infinite linear; }
.ball-spin-fade-loader > div:nth-child(5) {
    top: -25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
    animation: ball-spin-fade-loader 1s 0.48s infinite linear; }
.ball-spin-fade-loader > div:nth-child(6) {
    top: -17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
    animation: ball-spin-fade-loader 1s 0.6s infinite linear; }
.ball-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -25px;
    -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
    animation: ball-spin-fade-loader 1s 0.72s infinite linear; }
.ball-spin-fade-loader > div:nth-child(8) {
    top: 17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
    animation: ball-spin-fade-loader 1s 0.84s infinite linear; }
.ball-spin-fade-loader > div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute; }

  .ui-jqgrid .ui-pg-input {
    height: 17px;
    font-size: .8em;
    margin: 0;
    text-align: center;
}

.opertionradio{
	border: 1px solid #ddd;
	height:50px;
	line-height:50px;
	padding-left:50px;
}
.opertionlistbtn {
	padding-left:30px;
}
.operationadd {
	display:inline-block;
	height:30px;
	line-height:30px;
	margin: 0 0 0 0;
}
.totalScale {
    width: 32%;
}
.table-bordered>tbody>tr>td.examAnswer {
    text-align: center;
}