.nav-tabs{border-bottom:1px solid #ECECEC}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{color:#46A7FF;background-color:transparent;border:none;border-bottom:2px solid #46A7FF; font-weight:bold}
.nav>li>a:hover{background-color: transparent; border:none;}
.nav-tabs>li>a{border-radius: 0; font-size:14px; color:#878787;}