<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.base.entity.CustomFormInstance">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.base.entity.CustomFormInstance">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.base.entity.CustomFormInstance">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.base.entity.CustomFormInstance">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 获取分页根据Map查询 -->
	<select id="getPageSort" resultType="com.xinleju.platform.sys.base.entity.CustomFormInstance" parameterType="java.util.HashMap">
		select 
			s.id as id,
			<!-- s.create_person_id as createPersonId,
			s.create_person_name as createPersonName,
			s.create_org_id as createOrgId,
			s.create_org_name as createOrgName,
			s.create_company_id as createCompanyId,
			s.create_company_name as createCompanyName,
			s.create_date as createDate,
			s.update_person_id as createPersonId,
			s.update_person_name as updatePersonName,
			s.update_date as  updateDate,
			s.delflag as delflag,
			s.concurrency_version as concurrencyVersion,
			s.tend_id as tendId,
			s.form_format_json as formFormatJson, -->
			s.form_value_json as formValueJson,
			s.custom_form_id as customFormId,
			s.form_search_key as formSearchKey,
			s.status,
		<!-- 	s.form_flow_variable_value as formFlowVariableValue,
			s.operator_id as operatorId,
			s.operator_name as operatorName,
			s.operate_department_id as operateDepartmentId,
			s.operate_department_name as operateDepartmentName,
			s.operate_company_id as operateCompanyId,
			s.operate_company_name as operateCompanyName,
			s.operate_project_id as operateProjectId,
			s.operate_project_name as operateProjectName,
			s.operate_qi_id as operateQiId,
			s.operate_qi_name as operateQiName, -->
			s.instance_id as instanceId,
			s.form_search_senior_value as formSearchSeniorValue  
			from pt_sys_base_custom_form_instance s where s.custom_form_id =#{customFormId} and s.delflag='0'
			<!-- <if test="customFormId!=null and customFormId!='' ">     
	          and  s.custom_form_id =#{customFormId}
	        </if> -->
	        <if test="dataAuthority!=null and dataAuthority!='' ">    
	          ${dataAuthority} 
	        </if>
	        <if test="formSearchKey!=null and formSearchKey!='' ">    
	          ${formSearchKey} 
	        </if>
	        <if test="formSearchSeniorValue!=null and formSearchSeniorValue!='' ">    
	          ${formSearchSeniorValue} 
	        </if>
			order by s.create_date desc  
			limit #{start},#{limit}
	</select>
	
	<!-- 根据参数查询 -->
	<select id="queryListByParam" resultType="com.xinleju.platform.sys.base.dto.CustomFormInstanceDto" parameterType="java.util.HashMap">
		select 
			s.id as id,
			s.form_value_json as formValueJson,
			s.custom_form_id as customFormId,
			s.form_search_key as formSearchKey,
			s.status,
			s.instance_id as instanceId,
			s.form_search_senior_value as formSearchSeniorValue  
			from pt_sys_base_custom_form_instance s where s.delflag='0'
			<if test="idLists != null and idLists.size() > 0">
				AND s.id IN
				<foreach item="item" index="index" collection="idLists" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="payregist != null and payregist.size() > 0">
				AND s.form_number IN
				<foreach item="item" index="index" collection="payregist" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
	</select>
	
	<!-- 获取总记录数 -->
	<select id="getPageSortCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select 
			count(1) 
			from pt_sys_base_custom_form_instance s where s.custom_form_id =#{customFormId} and s.delflag='0'
			<!-- <if test="customFormId!=null and customFormId!='' ">     
	          and  s.custom_form_id =#{customFormId}
	        </if> -->
	        <if test="dataAuthority!=null and dataAuthority!='' ">    
	          ${dataAuthority} 
	        </if>
	        <if test="formSearchKey!=null and formSearchKey!='' ">    
	          ${formSearchKey} 
	        </if>
	        <if test="formSearchSeniorValue!=null and formSearchSeniorValue!='' ">    
	          ${formSearchSeniorValue} 
	        </if>
	</select>
	
	<!-- 更新表单状态 -->
	<update id="updateStatus" parameterType="com.xinleju.platform.sys.base.entity.CustomFormInstance">
		update pt_sys_base_custom_form_instance set status = #{status}
		<if test="instanceId!=null and instanceId!='' ">     
	         , instance_id = #{instanceId}
	    </if>
	    <if test="formValueJson!=null and formValueJson!='' ">     
	         , form_value_json = #{formValueJson}
	    </if>
	    <if test="formMobileValueJson!=null and formMobileValueJson!='' ">     
	         , form_mobile_value_json = #{formMobileValueJson}
	    </if>
		 where id = #{id}
	</update>
	
	<!-- 将实例指向历史模板 -->
	<update id="updateInstanceToHisTemplate" parameterType="java.util.HashMap">
		UPDATE pt_sys_base_custom_form_instance s
		SET s.custom_form_his_id = #{templateHisId}
		WHERE
		s.custom_form_id = #{templateId} AND 
		(
				s.custom_form_his_id IS NULL
				OR s.custom_form_his_id = ''
			)
	</update>
	
	<!-- 查询当天最大编号数 -->
	<select id="getMaxNumberToday" resultType="java.lang.Integer">
		select IFNULL(MAX(s.day_number),0) from pt_sys_base_custom_form_instance s
		where date(create_date) = curdate()
	</select>
	
	<!-- 获取分页根据Map查询 -->
	<select id="getFundPageSort" resultType="com.xinleju.platform.sys.base.dto.CustomFormInstanceDto" parameterType="java.util.HashMap">
		SELECT
		s.id AS id,
		s.form_value_json AS formValueJson,
		s.custom_form_id AS customFormId,
		s.form_search_key AS formSearchKey,
		s. STATUS,
		s.instance_id AS instanceId,
		s.form_search_senior_value AS formSearchSeniorValue,
		t.form_search_senior_key as formSearchSeniorKey,
		t.business_type as vbusinesstype
		FROM
			pt_sys_base_custom_form_instance s
		LEFT JOIN pt_sys_base_custom_form t ON s.custom_form_id = t.id
		WHERE
			s.delflag = '0'
		AND s.status = '2'
		AND t.delflag = '0'
		AND t.is_ex = 1
		AND t.is_inner = 2
	        <if test="finalAuthIds != null and finalAuthIds.size() > 0">
				AND s.id IN
				<foreach item="item" index="index" collection="finalAuthIds" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="formSearchSeniorValue!=null and formSearchSeniorValue!='' ">    
	          ${formSearchSeniorValue} 
	        </if>
			order by s.create_date desc  
			limit #{start},#{limit}
	</select>
	
	<!-- 获取相应模板下有权限的表单实例id -->
	<select id="getAuthsInstanceIds" resultType="java.lang.String" parameterType="java.util.HashMap">
		SELECT
		s.id 
		FROM
			pt_sys_base_custom_form_instance s
		WHERE s.delflag = '0' and s.custom_form_id=#{customFormId}
        <if test="dataAuthority!=null and dataAuthority!='' ">    
          ${dataAuthority} 
        </if>
	</select>
	
	<!-- 获取总记录数 -->
	<select id="getFundPageSortCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select 
			count(1) 
			FROM
				pt_sys_base_custom_form_instance s
			LEFT JOIN pt_sys_base_custom_form t on s.custom_form_id=t.id
			WHERE
				s.delflag = '0'
			AND s.status = '2'
			AND t.delflag = '0'
			AND t.is_ex = 1
			AND t.is_inner = 2
	        <if test="finalAuthIds != null and finalAuthIds.size() > 0">
				AND s.id IN
				<foreach item="item" index="index" collection="finalAuthIds" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="formSearchSeniorValue!=null and formSearchSeniorValue!='' ">    
	          ${formSearchSeniorValue} 
	        </if>
	</select>
</mapper>