
/*input,textarea,select{-webkit-user-select:text;-ms-user-select:text;user-select:text;-webkit-appearance:none;}*/
/*login.html*/
*:focus {outline: none;} 
.fullPic{
    /*background: url("../images/bg01.png") 0 0 no-repeat;*/
    /*background-size:cover;*/
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}
.fullPic > img{
    height:100%;
    width:100%;
    border:0;
}
.setBg{
    height:35px;
    line-height:35px;
    padding-right:20px;
}
.setBg a{
    color:#fff;
    float:right;
    margin-left:10px;
}
.setBg a:hover{
    text-decoration: none;
    color:#46A7FF;
}
.login_form{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-174px;
    margin-top:-164px;
    width:370px;
    min-height:396px;
    background: rgba(249,249,249,0.9);
    border-radius:4px;
}
.form-horizontal .checkbox {
    padding-top:0;
}
.input-group.cw{
    width:100%;
    margin:0;

   
}
.input-group .w50{
    width: 50%;
}
#login_form .input-group.mm{
    width:280px;
    margin: 0 0 0 22px;
}
.ch{
    width: 100%;
    height:36px;
    line-height: 36px;
    background: #fff;
    border:1px solid #e2e2e2;
    /*padding: 0 90px 0 90px;*/
    border-radius: 4px;
    color:#333; 
    text-align: center;
    position: relative;
}
 
.login_title{
    color: #fff;
    font-size: 16px;
    padding: 22px 0 0 21px;
}
.form-horizontal .form-group{
    margin-left:0;
    margin-right:0;
}
#login_form .rem_la{
    color: #fff;
    margin:0 0 0 22px;
}
 .btn_login{
    width: 100%;
    background-color: #46A7FF;
    border:none;
    height: 36px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
    font-size: 14px;
    margin:0;
}
.btn_login:hover{
    background-color:#46A7FF;
}

#login_form .logo {
    padding: 60px 0 0 105px;
}
#login_form .loginbox {
    padding: 0 52px 0 52px;
    margin-top: 50px;
}
input::-webkit-input-placeholder { /* 0, 0, 0, 2 */
  color:#46A7FF;
  font-size:14px;
}
 input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/ 
　　color:#46A7FF;
    font-size:14px;
　}
input::-moz-placeholder {  /* Mozilla Firefox 19+*/ 
　　color:#46A7FF;
    font-size:14px;
}
 input:-ms-input-placeholder { /* Internet Explorer 10+*/ 
　　color:#46A7FF;
    font-size:14px;
 }
#login_form .forget{
    color: #46A7FF;
}
#login_form .tip{
    padding: 24px 0 0 77px;
}
#login_form .line{
    color: #d6d6d6;
}
.colorred {
    padding: 20px 0 0 0;
    color: #FF4818;
    text-align: center;
}

/*找回密码*/
.find-pwd-box{
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -152px;
    margin-top:-190px;
    width: 304px;
    min-height: 290px;
}
.find-pwd-box .order-num{
    height:58px;
    text-align: center;
    margin-bottom: 50px;
}
.find-pwd-box .order-num div{
    float: left;
}
.find-pwd-box .order-num div:not(.line){
    display: inline-block;
    width: 48px;
    color: #999999;

}
.find-pwd-box .order-num div.complete{
    color: #46A7FF;
}
.find-pwd-box .order-num div.line{
    display: inline-block;
    width: 26px;
    height:2px;
    border: 1px dashed #C8C8C8;
    margin: 0 5px;
    margin-top: 48px;
}
.find-pwd-box .order-num div.line.complete{
    border-color:#46A7FF;
}
.find-pwd-box .order-num div span{
    font-size: 12px;
}

.find-pwd-box .order-num div p{
    font-size: 20px;
    height: 30px;
    line-height: 40px;
}
.find-pwd-box .order-num div.active{
    font-weight: bold;
    color: #46A7FF;
}
.find-pwd-box .order-num div.active p{
    line-height: 30px;
    font-size: 32px;
}
.verification-box{
    width: 262px;
    height: 36px;
    background: #E4E4E4;
    border-radius: 2px;
    margin-right: 15px;
    display: inline-block;
}
.refresh-ver{
    background: url("big-icons.png") -137px -250px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    display: inline-block;
    margin-top: 8px;
    cursor: pointer;
}

.find-pwd-box .nouse,.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
    background: #7ec2ff;
    border:none;
}

.find-pwd-type{
    width: 324px;
    height: 150px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -162px;
    margin-top:-75px;
}
.find-pwd-type p{
    font-size: 12px;
    color: #46A7FF;
    line-height: 50px;
}
.find-pwd-type .byphone{
    margin-right: 60px;
}
.find-pwd-type .byphone,.find-pwd-type .byemail {
    display: inline-block;
    width: 130px;
    text-align: center;
}
.find-pwd-type .img{
    background: url("big-icons.png");
    width: 90px;
    height: 90px;
    margin: 0 auto;
    cursor: pointer;
}
.find-pwd-type .byphone .img{
    background-position: -11px -214px;
}
.find-pwd-type .byphone .img:hover{
    background-position: -214px -116px;
}
.find-pwd-type .byemail .img{
    background-position: -214px -15px;
}
.find-pwd-type .byemail .img:hover{
    background-position: -11px -115px;
}
.msg-tip{
    padding: 0 20px;

}
.msg-tip p
{
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}
.mrg-b20{
    margin-bottom: 20px;
}
.seconds{
    font-size: 12px;
}
/*重置密码成功*/
.pwd-reset-suc{
    width: 190px;
}
.pwd-reset-suc .reset-pwd{
    text-align: center;
}
.pwd-reset-suc .reset-pwd .img{
    background: url("big-icons.png") -111px -115px;
    width: 90px;
    height: 90px;
    margin:0 auto;
}
.pwd-reset-suc .reset-pwd span{
    font-size: 18px;
    color: #46A7FF;
    letter-spacing: 0;
    line-height: 70px;

}
.pwd-reset-suc .reset-pwd p{
    padding: 0 5px;
    font-size: 12px;
    color: #666666;
    line-height: 18px;
}
.pwd-reset-suc .reset-pwd p a{
    color: #46A7FF;
    cursor: pointer;
}
#login_form .inputusername {
    position: absolute;
    top: 25%;
    left: 36%;
    color: #46A7FF;
    font-size: 14px;
}
/*register.html 注册页*/
#register,#sendmessage,#registerok {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-132px;
    margin-top:-200px;
    width:264px;
    min-height:396px;

}
#register .setform,#sendmessage .setform,#registerok .setform{
    width: 100%;
    text-align: center;
}
#register  .setwidth,#sendmessage .setwidth,#registerok .setwidth {
    width: 100%;
    margin-bottom: 16px;

}
#register .input-group-addon.remark{
    width: 62px;
    height: 36px;
    background: #fff;
    color: #46A7FF ;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px;
}
.setheight{
    height: 36px;
}
#register .form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
} 
#register .nextbtn{
   margin-top: 10px;
    width: 100%;
    padding: 8px 12px;
    background-color: #7ec2ff;
    border: none;
    color: #fff;
}
#register .nextbtn:hover{
     background-color: #46A7FF;
}

#register .tiperror{
    margin-top: 10px;
    text-align: center;
    color: #FF4818; 
 }
 #saveTendTrialBtn {
    width: 100%;
     padding: 8px 12px;
    margin-top: 10px;
    background-color: #7ec2ff;
    border: none;
    color: #fff;
 }
 #saveTendTrialBtn:hover {
    background-color: #46A7FF;
}
 /*发送验证码 sendmessage.html*/
#sendmessage .tipmessage{
    color: #666;
    font-size: 14px;
    margin-top: 40px;
    text-align: center;

}
#sendmessage .testnumer{
    width: 132px;
    height: 36px;
    line-height: 36px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    color: #333;
    text-align: center;
    position: relative;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
}
#sendmessage .sendinfor {
    width: 100%;
    height: 36px;
    background: #7ec2ff;
    color: #fff;
    border-radius: 0 4px 4px 0;
    border: 0;
}
#sendmessage .tiperror{
    margin-top: 10px;
    text-align: center;
    color: #FF4818; 
 }
 /*注册成功 registersuccess.html*/
 #registerok .tipmessage {
    color: #46A7FF;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
 }
   #registerok .information {
    width: 166px;
    margin: 20px auto;

 }
  #registerok p{
    width: 100%;
    margin: 5px auto;
    text-align: left;
  }
 #registerok .setcolor{
    color: #4DABFF;
 }
  #registerok .registerinfor{
    display: inline-block;
    text-align: left;
    /* width: 50px;*/
  }
    #registerok .gologin{
    padding: 5px 35px;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #46A7FF;
    color: #46A7FF;
    border-radius: 4px;
    }
.errmsgtip {
   width: 153px;
    position: absolute;
    top: 8px;
    right: -155px;
    color: red;
}

.ml20{
	margin-left:20px;
}