.ui-state-default, .ui-widget-content .ui-state-default{
    height: 40px;
    color: #333;
    padding-top: 8px;
}
.tool-box .img a{
    display: inline-block;
    vertical-align: middle;
    height: 58px;
    width: 58px;
    background: url("../../common/img/toolBg.png");
    cursor: pointer;
}
/*qq*/
.tool-box .img .qq-box{
    background-position: -56px -70px;
}
.tool-box .img .qq-box:hover{
    background-position: 1px -70px;
}
/*ie*/
.tool-box .img .ie-box{
    background-position: -171px -140px;
}
.tool-box .img .ie-box:hover{
    background-position: -114px -143px;
}
/*office-box*/
.tool-box .img .office-box{
    background-position: -170px -2px;
}
.tool-box .img .office-box:hover{
    background-position: -113px -1px;
}
/*kk-box*/
.tool-box .img .kk-box{
    background-position: -170px -69px;
}
.tool-box .img .kk-box:hover{
    background-position: -113px -69px;
}
/*fox-box*/
.tool-box .img .fox-box{
    background-position: -171px -206px;
}
.tool-box .img .fox-box:hover{
    background-position: -113px -206px;
}
/*app-box*/
.tool-box .img .app-box{
    background-position: -56px -206px;
}
.tool-box .img .app-box:hover{
    background-position: 1px -206px;
}
/*book-box*/
.tool-box .img .book-box{
    background-position: -56px 0px;
}
.tool-box .img .book-box:hover{
    background-position: 1px 1px;
}
/*pdf-box*/
.tool-box .img .pdf-box{
    background-position: -56px -269px;
}
.tool-box .img .pdf-box:hover{
    background-position: 2px -269px;
}
/*chat-box*/
.tool-box .img .chat-box{
    background-position: -57px -141px;
}
.tool-box .img .chat-box:hover{
    background-position: 1px -140px;
}

.tool-box{padding: 20px 0;}
.tool-box .img{
    padding: 20px 0;
    text-align: center;
}
