<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.finance.entity.VoucherBillEntry">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.finance.entity.VoucherBillEntry">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.finance.entity.VoucherBillEntry">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.finance.entity.VoucherBillEntry">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<select id="getpageList" resultType="com.xinleju.platform.finance.entity.VoucherBillEntry">
		 SELECT
			r.concurrency_version as concurrencyVersion,
			r.create_company_id as createCompanyId,
			r.create_company_name as createCompanyName,
			r.create_date  as createDate,
			r.create_org_id as createOrgId,
			r.create_org_name as createOrgName,
			r.create_person_id as createPersonId,
			r.create_person_name as createPersonName,
			r.delflag,
			r.voucher_bill_id as voucherBillId ,
			r.summary,
			r.id,
			r.caption_code as captionCode,
			r.caption_id as captionId,
			r.caption_name as captionName,
			r.update_person_id as updatePersonId,
			r.update_person_name as updatePersonName,
			r.ass_code as assCode,
			r.ass_name as assName,
			r.ass_compent as assCompent,
			r.cash_flow_code as cashFlowCode,
			r.cash_flow_name as cashFlowName,
			r.crmny,
			r.drmny,
			r.remark
			FROM
		PT_FI_VOUCHER_BILL_ENTRY r 
		where r.delflag=0 
	<if test="voucherBillId!=null and voucherBillId!=''">
		and r.voucher_bill_id=#{voucherBillId}
	</if>
	</select>
	
	<select id="getpageListCount" resultType="java.lang.Integer">
		select count(r.id) FROM PT_FI_VOUCHER_BILL_ENTRY r 
		where r.delflag=0 
		<if test="voucherBillId!=null and voucherBillId!=''">
			and r.voucher_bill_id=#{voucherBillId}
		</if>
	</select>
</mapper>