<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"> 

<appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
<param name="File" value="d:/logs/info.log"/>
<param name="Append" value="true"/> 
<param name="DatePattern" value="yyyy-MM-dd"/>
<layout class="org.apache.log4j.PatternLayout"> 
<param name="ConversionPattern" value="%d  %m%n"/>
</layout>
<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
<param name="LevelMax" value="WARN" /> 
<param name="LevelMin" value="INFO" /> 
</filter> 
</appender> 

<root> 
<appender-ref ref="DEBUG"/> 
</root> 
</log4j:configuration> 
