/*
*王亮 系统首页index.js的CSS样式表
*/
* {
	font-size: 12px;
}

BODY {
	SCROLLBAR-HIGHLIGHT-COLOR: #f5f9ff;
	SCROLLBAR-SHADOW-COLOR: #828282;
	SCROLLBAR-3DLIGHT-COLOR: #828282;
	SCROLLBAR-ARROW-COLOR: #797979;
	SCROLLBAR-TRACK-COLOR: #ececec;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	FONT-FAMILY: "宋体";
	font-size: 12px;
	margin: 0px;
}

#banner {
	height: 110px;
	text-align: left;
	background: url(../image/china_banck1.jpg);
}

#banner_title {
	position: absolute;
	top: 20px;
	left: 510px;
	font-size: 35px;
	FONT-FAMILY: "宋体";
	font-weight: bold;
}

#top_menu {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 150px;
}

#south {
	font-family: "宋体";
	font-size: 12px;
	background-color: #DFE8F6;
	color: #005EBB;
}

#user {
	position: absolute;
	top: 78px;
	color: #005EBB;
	left: 310px;
}

#homedatetime {
	position: absolute;
	top: 78px;
	color: #005EBB;
	left: 520px;
}

/*
 * 系统菜单遮罩效果
 */
.ext-el-mask {
	z-index: 20000;
	position: absolute;
	top: 0;
	left: 0;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity =                                   50);
	background-color: #AAC1E4;
	width: 100%;
	height: 100%;
	zoom: 1;
}

/*
 * 登陆系统时遮罩效果
 */
#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: white;
	/*
	*此处设置遮照颜色
	*/
}

#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
}

#loading img {
	margin-bottom: 5px;
}

#loading .loading-indicator {
	background: white;
	color: #555;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	text-align: center;
	height: auto;
}