TD {
	FONT-SIZE: 9pt
}
.hg {
	LINE-HEIGHT: 21px
}
.a {
	
	background-color: #CCCCCC;
	font-color:#000000;
	font-size:23px;
}
.hg2 {
	LINE-HEIGHT: 24px
}
.bianju {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
.bianju2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000
}
A.tabstext:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.tabstext:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bianju3 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px
}
.biankuang1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.3bian {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #cccccc 1px solid
}
.newsbiankuang {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.greenbk {
	BORDER-RIGHT: #cddbd6 1px solid; BORDER-TOP: #cddbd6 1px solid; BORDER-LEFT: #cddbd6 1px solid; BORDER-BOTTOM: #cddbd6 1px solid
}
.green {
	BORDER-RIGHT: #cfe5d0 1px solid; BORDER-TOP: #cfe5d0 1px solid; BORDER-LEFT: #cfe5d0 1px solid; BORDER-BOTTOM: #cfe5d0 1px solid
}
.content {font-size: 14px}
.titleb2 { font-size: 13.4px; font-weight: normal; line-height: 22px ; filter: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=1) }
