input,textarea,select {
	font: normal 12px;
	color: #333333;
	border: 1px solid #999999;
	background: #ffffff;
	border: 1px solid #999999;
}

input {
	background-color: expression(this .               readOnly ==                 true ? 
		          
		  "#EEEEEE" :    
		    
		     "#FFFFFF");
}

textarea {
	background-color: expression(this .               disabled ==                 true ? 
		          
		  "#EEEEEE" :    
		    
		     "#FFFFFF");
}

select {
	background-color: expression(this .               disabled ==                 true ? 
		          
		  "#EEEEEE" :    
		    
		     "#FFFFFF");
}

.log {
	height: 18px;
	width: 120px;
	border: 2px solid #000000;
	font-size: 14px;
	font-weight: bold;
}

body,td,th {
	font-size: 12px
}

.STYLE1 {
	color: #FF0000
}

.over {
	background-color: #C6D7E7
}

.out {
	background-color: #FFF7E7
}

body {
	padding: 0;
	margin: 0;
	overflow-y: auto;
	/*
	overflow-x: hidden;
	*/
}

a:link .a01 {
	color: blue;
	text-decoration: none;
}

a:visited .a01 {
	text-decoration: none;
	color: blue;
}

a:hover .a01 {
	text-decoration: none;
	color: blue;
}

a:active .a01 {
	text-decoration: none;
	color: blue;
}

a:link .a02 {
	color: #104EA7;
	font-weight: bold;
	text-decoration: none;
}

a:visited .a02 {
	text-decoration: none;;
	font-weight: bold;
	color: #104EA7;
}

a:hover .a02 {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

a:active .a02 {
	text-decoration: none;;
	font-weight: bold;
	color: #104EA7;
}

.button {
	font-size: 12px;
	border: 1px solid #00BFFF;
	height: 24px;
	width: 80px;
	background-image: url(../image/button_bg.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
}

.dotline {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #00BFFF;
	border-right-color: #00BFFF;
	border-bottom-color: #00BFFF;
	border-left-color: #00BFFF;
}

.tbcolor {
	height: 20px;
	background: #FFFFFF;
	border: 1px solid #99bbe8;
	border-collapse: collapse;
}

.tbcolor th {
	height: 20px;
	background: #9BD0F0;
	border-right: 1px solid #99bbe8;
	border-bottom: 1px solid #99bbe8
}

.tbcolor td {
	height: 20px;
	border-right: 1px solid #99bbe8;
	border-bottom: 1px solid #99bbe8
}

.text_bold {
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-align: center;
}

.textbox {
	font-size: 12px;
	color: #000000;
	border: 1px solid #00BFFF;
	height: 18px;
}

.text_blue {
	font-size: 12px;
	color: #2A5BB8;
}

.text_blue2 {
	color: #2A5BB8;
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
}

.text_tablehead {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	white-space: normal;
	text-indent: 4pt;
}

.text_listhead {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	white-space: normal;
	text-align: center;
}

.text_list {
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	white-space: normal;
	text-align: center;
}

.text_list_L {
	font-size: 12px;
	font-weight: normal;
	color: #000000;	
	white-space: normal;
	text-align:left;
}

.button_s {
	font-size: 12px;
	border: 1px solid #00BFFF;
	height: 20px;
	width: 40px;
	background-image: url(../image/button_bg.jpg);
	background-repeat: repeat-x;
	background-position: center;
	color: #FFFFFF;
}

.normalline {
	border: 1px solid #09BCFF;
}

.fieldset {
	border: 1px solid #09BCFF;
	padding: 6px;
	align: center;
}

.text_tablehead_b {
	font-size: 12px;
	font-weight: bold;
	color: #2A5BB8;
	white-space: normal;
	text-align: right;
	padding-right: 10px;
}

.text_tablehead_c {
	font-size: 12px;
	font-weight: bold;
	color: #2A5BB8;
	white-space: normal;
	text-align: left;
}

.text_tablehead_m {
	font-size: 12px;
	font-weight: bold;
	color: #2A5BB8;
	white-space: normal;
	text-align: center;
}

.text_tablehead_b_d {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	white-space: normal;
	text-align: right;
	padding-right: 10px;
}

.button_go {
	font-size: 12px;
	border: 1px solid #00BFFF;
	height: 20px;
	width: 24px;
	background-image: url(../image/button_bg.jpg);
	background-repeat: repeat-x;
	font-weight: bold;
	color: #FFFFFF;
}

.commtd { 
	/* Firefox 3.6 */
	background-image:-moz-linear-gradient(top,#FFFFFF,#B9E3F5);
	/* Safari & Chrome */
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#FFFFFF),color-stop (1,#B9E3F5));
	/* IE6 & IE7 */
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF,endColorstr=#B9E3F5);
	/* IE8 */
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr =#FFFFFF,endColorstr=#B9E3F5);
}