fieldset {
	margin-top: 6px;
	border: 1px solid #CCCCCC;
	padding: 3px;
	align: center;
	background-color: #F2F2F2;
}

.text_blue2 {
	color: #FFFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
}

.text_tablehead {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	white-space: normal;
	text-indent: 4pt;
}

.text_tablehead_b {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	white-space: normal;
	text-align: right;
	padding-right: 10px;
}

.STYLE1 {
	color: #FF0000
}

input,textarea,select {
	font: normal 12px;
	color: #333333;
	border: 1px solid #999999;
	background: #ffffff;
	border: 1px solid #999999;
}

input {
	background-color: expression(this . readOnly == true ?   "#EEEEEE" :   "#FFFFFF")
		;
}

textarea {
	background-color: expression(this . disabled == true ?   "#EEEEEE" :   "#FFFFFF")
		;
}

select {
	background-color: expression(this . disabled == true ?   "#EEEEEE" :    "#FFFFFF")
		;
}

body,td,th {
	font-size: 12px
}

body {

	padding: 0;
	margin: 0;
	overflow-y: auto;
	/*
	overflow-x: hidden;
	*/
}

a:link .a01 {
	color: blue;
	text-decoration: none;
}

a:visited .a01 {
	text-decoration: none;
	color: blue;
}

a:hover .a01 {
	text-decoration: none;
	color: blue;
}

a:active .a01 {
	text-decoration: none;
	color: blue;
}

a:link .a02 {
	color: #104EA7;
	font-weight: bold;
	text-decoration: none;
}

a:visited .a02 {
	text-decoration: none;;
	font-weight: bold;
	color: #104EA7;
}

a:hover .a02 {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

a:active .a02 {
	text-decoration: none;;
	font-weight: bold;
	color: #104EA7;
}

.button {
	font-size: 12px;
	border: 1px solid #00BFFF;
	height: 24px;
	width: 80px;
	background-image: url(../image/button_bg.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
}