#tree {
	float: left;
	margin: 25px 5px 10px 70px;
	border: 0px solid #c3daf9;
	width: 270px;
}

#tree2 {
	float: right;
	margin: 25px 70px 10px 5px;
	border: 0px solid #c3daf9;
	width: 270px;
}


.folder .x-tree-node-icon {
	background: transparent
		url(<%=path%>/ext2.2.1/resources/images/default/tree/folder.gif);
}

.x-tree-node-expanded .x-tree-node-icon {
	background: transparent
		url(<%=path%>/ext2.2.1/resources/images/default/tree/folder-open.gif);
}