<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.servey.entity.Servey">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.servey.entity.Servey">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.servey.entity.Servey">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.servey.entity.Servey">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!--条件查询获取分页数据-->
    <select id="queryObjectsByPage" resultType="com.xinleju.cloud.oa.servey.entity.Servey">
		${value}
	</select>

    <!--条件查询获取分页数据总记录数-->
    <select id="queryObjectsCountByPage" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 过滤分页查询 -->
    <select id="getServeyPage" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        a.id as id,
        a.name as name,
        a.description as description,
        b.id as serveyCategoryId,
        b.name as serveyCategoryName,
        a.create_date as createDate,
        a.flow_status as flowStatus,
        a.instance_id as instanceId,
        <![CDATA[CASE WHEN (a.status=0 or a.status is null or a.status = 3) then '草稿' WHEN a.status=1 THEN '审批中' WHEN (a.status=2 and a.from_date > NOW()) THEN '未开始' WHEN (a.status=2 and a.thru_date < NOW()) THEN '已结束' ELSE '进行中' END as status ]]>
        FROM
        oa_servey a left join oa_servey_category b on a.servey_category_id = b.id where 1=1
        <if test="serveyType != null and serveyType !='' ">
            and a.servey_type = #{serveyType} 
        </if>
        <if test="name != null and name !='' ">
            and a.name like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="serveyCategoryId != null and serveyCategoryId !='' ">
            and a.servey_category_id = #{serveyCategoryId}
        </if>
        order by a.create_date desc
        <choose>
            <when test="start!=null and start!='' and limit!=null and limit!=''">
                limit #{start},#{limit}
            </when>
        </choose>
       
    </select>
    
    <!-- 查询过期问卷 -->
    <select id="getServeyNoticePage" resultType="java.util.Map" parameterType="java.util.Map">
       select
       s.id as id,
       s.name as name,
       p.type as type,
       p.party_id as partyId,
       p.party_name as partyName
       from oa_servey s 
       join oa_servey_party p 
       on p.servey_id=s.id and (p.type='NOTICE' or p.type='PARTY')
       and <![CDATA[s.thru_date < NOW()]]> and servey_close_type is null 
       <if test="serveyId != null and serveyId !='' ">
            and s.id = #{serveyId}
        </if>
    </select>
	
	<!-- 查询问卷的参与者 -->
    <select id="getServeyPartyNoticePage" resultType="java.util.Map" parameterType="java.util.Map">
       select
       s.id as id,
       s.name as name,
       p.type as type,
       p.party_id as partyId,
       p.party_name as partyName
       from oa_servey s 
       join oa_servey_party p 
       on p.servey_id=s.id and p.type='PARTY'
       <if test="serveyId != null and serveyId !='' ">
            and s.id = #{serveyId}
        </if>
    </select>
	
	 <!-- 过滤查询条数 -->
    <select id="getServeyPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(a.id)
        FROM
        oa_servey a left join oa_servey_category b on a.servey_category_id = b.id where 1=1
        
        <if test="serveyType != null and serveyType !='' ">
            and a.servey_type = #{serveyType} 
        </if>
        <if test="name != null and name !='' ">
            and a.name like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="serveyCategoryId != null and serveyCategoryId !='' ">
            and a.servey_category_id = #{serveyCategoryId}
        </if>
    </select>
</mapper>