<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.servey.entity.ServeyCategory">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.servey.entity.ServeyCategory">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.servey.entity.ServeyCategory">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.servey.entity.ServeyCategory">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!--条件查询获取分页数据-->
    <select id="queryObjectsByPage" resultType="com.xinleju.cloud.oa.servey.entity.ServeyCategory">
		${value}
	</select>

    <!--条件查询获取分页数据总记录数-->
    <select id="queryObjectsCountByPage" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 过滤分页查询 -->
    <select id="getServeyCategoryPage" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        a.id as id,
        a.name as name,
        a.description as description,
        b.id as parentId,
        b.name as parentName,
        a.create_date as createDate
        FROM
        oa_servey_category a left join oa_servey_category b on a.parent_id = b.id where 1=1
        <if test="name != null and name !='' ">
            and a.name like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="parentIdIsNull != null and parentIdIsNull !=''">
            and (a.parent_id is null or a.parent_id='')
        </if>
        <if test="parentIdIsNotNull != null and parentIdIsNotNull !=''">
            and a.parent_id is not null and a.parent_id <![CDATA[ <> ]]> ''
        </if>
        order by a.create_date DESC 
        <choose>
            <when test="start!=null and start!='' and limit!=null and limit!=''">
                limit #{start},#{limit}
            </when>
        </choose>
       
    </select>
	
	
	 <!-- 过滤查询条数 -->
    <select id="getServeyCategoryPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(a.id)
        FROM
        oa_servey_category a left join oa_servey_category b on a.parent_id = b.id where 1=1
        <if test="name != null and name !='' ">
            and a.name like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        order by a.create_date DESC 
    </select>
    
     <!-- 删除数据 -->
    <delete id="deleteServeyCategoryByParentId" parameterType="java.util.Map">
        DELETE
        FROM
        oa_servey_category where parent_id in
          <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		  #{item}
		</foreach>
    </delete>
    
    <select id="getServeyCategoryById" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        a.id as id,
        a.name as name,
        a.description as description,
        b.id as parentId,
        b.name as parentName,
        a.create_date as createDate,
        a.concurrency_version as concurrencyVersion
        FROM
        oa_servey_category a left join oa_servey_category b on a.parent_id = b.id where 1=1
        <if test="idVal != null and idVal !='' ">
            and a.id = #{idVal}
        </if>
    </select>
</mapper>