/* -------------------------------------------------------------- 
reset
* 重设浏览器的默认样式。
------------------------------------------------------------br{height:0px;line-height: 0px;}-- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,applet,big,cite,font,ins,kbd,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial,
		Helvetica, STHeiti;
}

body {
	font-size: 14px;
}

td {
	font-size: 14px;
}

button {
	width: auto;
	overflow: visible!ie;
}

ul {
	list-style: none;
}

em {
	font-style: normal;
}

input,textarea,select {
	font-family: 'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial,
		Helvetica, STHeiti;
		font-size: 14px;
}


select{
	
}
/* 去除图片链接的边框 */
a img {
	border: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

A {
	TEXT-DECORATION: none;
	outline-style: none;
}

A:link {
	COLOR: #00f;
	outline-style: none;
	TEXT-DECORATION: none;
}

A:visited {
	COLOR: #00f;
	outline-style: none;
	TEXT-DECORATION: none;
}

A:hover {
	COLOR: #00f;
	TEXT-DECORATION: underline;
	outline-style: none
}

A:active {
	COLOR: #00f;
	TEXT-DECORATION: none;
	outline-style: none;
}

.display_none {
	display: none;
}

.clear {
	clear: both;
}

.alertstar {
	color: #f00;
}

.alertmsg {
	color: red;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.dfbtn {
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
	color: black;
	cursor: hand;
	margin-right: 5px;
}

.dfbtn_2 {
	font-weight: bold;
	color: black;
	cursor: hand;
	width: 88px;
	text-align: center;
	margin-bottom: 10px;
}

.dfbtn_3 {
	padding-left: 12px;
	padding-right: 12px;
	color: black;
}

.dfbtn_chs {
	padding-left: 5px;
	padding-right: 5px;
	color: black;
	cursor: hand;
}
/*color*/
.cred,a.cred:link,a.cred:visited {
	color: #f00;
}

.credb,a.credb:link,a.credb:visited {
	color: #f00;
	font-weight: bold;
}

.credbig,a.credbig:link,a.credbig:visited {
	color: #f00;
	font-weight: bold;
	font-size: 18px;
}

.cblue,a.cblue:link,a.cblue:visited {
	color: blue;
}

a.cblue:hover {
	color: #039;
}

.cbluebig,a.cbluebig:link,a.cbluebig:visited {
	color: blue;
	font-weight: bold;
	font-size: 18px;
}

.cgreen,a.cgreen:link,a.cgreen:visited {
	color: #00B050;
}

.cgreenb,a.cgreenb:link,a.cgreenb:visited {
	color: #00B050;
	font-weight: bold;
}

.cblueb,a.cblueb:link,a.cblueb:visited {
	color: blue;
	font-weight: bold;
}

a.cblueb:hover {
	color: #039;
	font-weight: bold;
}

.cgray,a.cgray:link,a.cgray:visited {
	color: #999;
}

.cdgray,a.cdgray:link,a.cdgray:visited {
	color: #666;
}

.cwhite,a.cwhite:link,a.cwhite:visited {
	color: #fff;
}

.cblack,a.cblack:link,a.cblack:visited {
	color: #000;
}

.cblackbig,a.cblackbig:link,a.cblackbig:visited {
	color: #000;
	font-size: 18px;
	font-weight: bold;
}

.cyellow,a.cyellow:link,a.cyellow:hover,a.cyellow:visited {
	color: #fc0;
}

.cbluedown,a.cbluedown:link,a.cbluedown:visited {
	color: #4D7CD4;
	background: url(../images/icon_ddlown.gif) no-repeat;
	padding-left: 15px;
	margin-right: 5px;
	margin-left: 4px
}

a.cbluedown:hover {
	color: #900;
}

.c333,a.c333:link,a.c333:visited {
	color: #333;
}

a.c333:hover {
	color: #8d8d8d;
}

.fs16b {
	font-size: 16px;
	font-weight: bold;
}

.fs18b {
	font-size: 18px;
	font-weight: bold;
}

/*整体布局*/
#wrapper {
	min-width: 1000px;
}

#header {
	height: 88px;
	background: url(../images/headerbg.jpg) left top repeat-x;
	position: relative;
}

#userbox {
	position: absolute;
	top: 42px;
	right: 10px;
	color: white;
}

#userbox span {
	display: inline-block;
	height: 16px;
	color: white;
	line-height: 18px;
	padding-right: 10px;
	font-size: 12px;
}

#userbox a {
	color: white;
	padding-left: 10px;
}

#userbox .user_name {
	background: url(../images/user_name_icon.png) no-repeat;
	padding-left: 20px;
}

#nav {
	height: 25px;
	background: url(../images/navbg001.jpg) repeat-x;
	margin-top: 0px;
	padding-top: 0px;
}

.level1>li {
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 1px;
}

.level1>li.last,.level1>li.last>a {
	
}

.level1>li.first>a {
	
}

.level1>li>a {
	display: inline-block;
	height: 25px;
	background: url(../images/navbg002.jpg) repeat-x;
}

.level1>li>a span {
	display: inline-block;
	padding: 8px 14px 0px 14px;
	color: #000;
	font-size: 12px;
	line-height: 12px;
}

.level1>li:hover>a,.level1>li.current>a {
	background: url(../images/navbg003.jpg) repeat-x;
}

.level1>li:hover>a span,.level1>li.current>a span {
	padding: 8px 14px 0px 14px;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
}

.level2 {
	display: none;
	background: #CAF2FC;;
	position: absolute;
	top: 25px;
	left: 0px;
	min-width: 87px;
	z-index: 9999;
}

.level1>li:hover>.level2 {
	display: block;
}

.level2 li {
	
}

.level2 li:hover {
	background: #FFF;
}

.level2 li a {
	font-size: 12px;
	padding: 5px 16px 3px 15px;
	display: block;
	line-height: 150%;
	color: #000;
	white-space: nowrap;
}

.level2 li:hover a {
	background: #5FCDFE;
	color: white;
}

.navtool {
	text-align: right;
	margin-bottom: 3px;
}

a.nav_hpg {
	background: url(../images/icon_hpg.jpg) 0px 3px no-repeat;
	padding-left: 20px;
	text-decoration: underline;
	margin-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

a.nav_logout {
	background: url(../images/icon_logout.jpg) 0px 3px no-repeat;
	padding-left: 20px;
	text-decoration: underline;
	margin-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
/*9格框架*/
.box {
	min-width: 1000px;
}

.box_01 {
	background: url(../images/box_01.jpg) no-repeat;
	height: 12px;
	width: 12px;
	font-size: 0px;
	line-height: 0px;
}

.box_02 {
	background: url(../images/box_02.jpg) repeat-x;
	height: 12px;
	font-size: 0px;
	line-height: 0px;
}

.box_03 {
	background: url(../images/box_03.jpg) no-repeat;
	height: 12px;
	width: 12px;
	font-size: 0px;
	line-height: 0px;
}

.box_04 {
	background: url(../images/box_04.jpg) repeat-y;
	height: 12px;
	width: 12px;
	font-size: 0px;
	line-height: 0px;
}

.box_05 {
	background: white;
	padding: 0px 0px 0px 0px;
}

.box_06 {
	background: url(../images/box_06.jpg) repeat-y;
	height: 12px;
	font-size: 0px;
	line-height: 0px;
}

.box_07 {
	background: url(../images/box_07.jpg) no-repeat;
	height: 12px;
	width: 12px;
	font-size: 0px;
	line-height: 0px;
}

.box_08 {
	background: url(../images/box_08.jpg) repeat-x;
	height: 12px;
	font-size: 0px;
	line-height: 0px;
}

.box_09 {
	background: url(../images/box_09.jpg) no-repeat;
	height: 12px;
	width: 12px;
	font-size: 0px;
	line-height: 0px;
}

.path {
	border-bottom: 1px solid #BDD0EE;
	padding-bottom: 5px;
	margin-bottom: 8px;
	background: url(../images/icon_home.png) 0px 3px no-repeat;
	padding-left: 18px;
	line-height: 18px;
}
/* wanda list table*/
.wdtable_title {
	background: url(../images/bg001.jpg) left top no-repeat;
	height: 32px;
	margin-bottom: 1px;
	position: relative;
}

.wdtable_title td {
	color: white;
}

.wdtable_title td a {
	font-size: 14px;
	color: white;
	font-weight: bold;
}

.wdtable_title td a:hover {
	text-decoration: underline;
}

.wdtable_titleh {
	float: left;
	font-size: 14px;
	padding-left: 20px;
	font-weight: bold;
}

.wdtable_titletool {
	position: absolute;
	top: 5px;
	right: 10px;
}

.wdtable_titletool a,.wdtable_titletool a:link,.wdtable_titletool a:visited
	{
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: white
}

/*table 02*/
.table02 {
	border: 1px solid #999;
	padding: 10px;
}

* html .table02 td {
	padding: 10px;
}

* html  .table02 td  td {
	padding: 5px 4px 4px 4px;
}

* html .table02 td  th {
	padding: 5px 4px 4px 4px;
}

*:first-child+html  .table02 td {
	padding: 10px;
}

*:first-child+html  .table02 td  td {
	padding: 5px 4px 4px 4px;
}

*:first-child+html  .table02 td  th {
	padding: 5px 4px 4px 4px;
}
/*table 03*/
.table03 {
	background: #A5A5A5;
}

.table03_grey {
	background: #F2F2F2;
	padding: 3px 2px 4px 2px;
}

.table03_white {
	background: #fff;
	padding: 3px 2px 4px 2px;
}
/*table 04*/
.table04 {
	background: white;
}

.table04 th {
	text-align: right;
	padding: 3px 2px 4px 2px;
	vertical-align: top;
	font-weight: bold;
}

.table04 td {
	background: #fff;
	padding: 3px 2px 4px 2px;
}

.table04 td th {
	text-align: center;
	padding: 3px 2px 4px 2px;
}

/*table 12*/
.table12 {
	border: 1px solid #a5a5a5;
}

.table12 th {
	text-align: right;
	padding: 6px 2px 7px 2px;
	font-weight: normal;
}

.table12 td {
	padding: 6px 2px 6px 2px;
}
/*table 13*/
.table13 {
	background: black;
}

.table13 th {
	text-align: right;
	padding: 3px 2px 4px 2px;
	font-weight: bold;
	background: #fff;
}

.table13 td {
	background: #fff;
	padding: 3px 2px 4px 2px;
}

/*table 14*/
.table14 {
	
}

.table14 th {
	text-align: right;
	padding: 2px 2px 3px 2px;
	font-weight: bold;
	background: #fff;
	color: #333;
}

.table14 td {
	background: #fff;
	padding: 2px 2px 3px 2px;
}
/*伪标签页*/
.module01 {
	clear: both;
	margin-bottom: 10px;
}

.convention_tab {
	clear: both;
	width: 100%;
	float: left;
	margin: 0;
	background: url(../images/tablinebg.jpg) bottom repeat-x;
	overflow: hidden;
	padding-right: 0px;
	float: left;
	font-size: 13px;
	line-height: 130%;
}

.convention_tab li {
	float: left;
	margin: 0;
	margin-right: 5px;
	padding-top: 7px;
}

.convention_tab li input {
	margin-top: -5px;
}

.current_tab {
	background: url(../images/tabbg01.jpg) no-repeat left top;
	width: 140px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
	font-weight: bold;
	color: white;
}

.cardarea {
	border: 1px solid #387DC1;
	border-top: 3px solid #387DC1;
	clear: both;
	padding: 12px;
}
/*表单宽度*/
.input55 {
	width: 55px;
}

.input88 {
	width: 88px;
}

.input125 {
	width: 125px;
}

.input160 {
	width: 160px;
}

.input180 {
	width: 180px;
}

.input230 {
	width: 230px;
}

.input234 {
	width: 234px;
}

.input500 {
	width: 500px;
}

.input600 {
	width: 600px;
}

.input700 {
	width: 700px;
}

.input090 {
	width: 90%;
}
/*公告附件 list*/
.list_ggfj {
	
}

.list_ggfj li {
	color: #06c;
	text-decoration: underline;
	padding-bottom: 5px;
}

.heightspace15 {
	height: 10px;
}

.drcjsbdiv {
	overflow: auto;
	padding: 4px;
	border: 2px solid #ccc;
	margin-bottom: 10px;
	width: 970px;
}

.drcjsbdiv_2 {
	width: 864px;
	height: 250px;
	overflow: auto;
	padding: 4px;
	border: 2px solid #ccc;
	margin-bottom: 10px;
}

.ptarrow1 {
	padding-left: 10px;
	padding-right: 10px;
}

.divh1 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 180%;
	margin-bottom: 10px;
}

/*2012-8-7 修改title标签样式*/
.divh3 {
	height: 32px;
	position: relative;
	margin-top: 10px;
	background: url(../images/87divh3.jpg) repeat-x bottom;
	margin-bottom: 1px;
}

* html  .table02 td .divh3 td {
	padding: 0px;
}

*:first-child+html  .table02 td .divh3 td {
	padding: 0px;
}

.divh3  td {
	vertical-align: bottom;
}

.divh3_title {
	color: #fff;
	font-size: 14px;
	width: 160px;
	text-align: center;
	background: url(../images/bqys.jpg) no-repeat;
	padding-top: 5px;
	padding-bottom: 6px;
	font-weight: bold;
}

.dvt200 {
	width: 220px;
	background: url(../images/bqys220.jpg) no-repeat;
}

.divh3_title a {
	color: #fff;
}
/*2012-8-7 修改title标签样式 结束*/

/*2012-8-7 修改倒计时 开始*/
.djs {
	margin-top: 10px;
	margin-bottom: 20px;
}

.djsleft {
	text-align: right;
	color: black;
	font-size: 20px;
	padding-right: 10px;;
}

.djsred {
	background: url(../images/djsbg.png) no-repeat top center;
	height: 40px;
	color: white;
	font-size: 28px;
	text-align: center;;
}

/*2012-8-7 修改倒计时 结束*/
.divh3_time {
	position: absolute;
	top: 8px;
	right: 0px;
}

.divh3_time input {
	margin-top: -4px;
}

* html .divh3_time input {
	margin-top: -0px;
	height: 14px;
	line-height: 12px;
	padding-top: 3px;
}

.divh3 input {
	margin-left: 8px;
	padding-left: 20px;
	padding-right: 20px;
}

.divh4 {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 2px;
	color: #03c;
	margin-left: 10px;
}
/*待选设备list */
.div_dxsb01 {
	float: left;
	width: 500px;
}

.div_dxsb02 {
	float: left;
	width: 100px;
}

.div_dxsb03 {
	float: left;
	width: 200px;
}

.page {
	text-align: right;
	margin-top: 8px;
}

.page span {
	padding-left: 3px;
	padding-right: 3px;
}

.page a {
	margin-left: 6px;
}

.page select {
	width: 40px
}

.cbbhjhj {
	text-align: left;
	width: 100px;
	font-size: 20px;
	font-weight: bold;
}

.cbbhjnumb {
	text-align: right;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
}

.titleh1 {
	background: #5E96DC url(../images/titleh1.jpg) repeat-x;
	height: 38px;
	margin-bottom: 2px;
}

.titleh1_left {
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	color: white;
	line-height: 38px;
	float: left;
}

.titleh1_rgt {
	float: right;
	color: white;
	padding-right: 10px;
	line-height: 38px;
}
/*感谢信*/
.gxx_tilte {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.gxx_sub {
	margin: 0px 20px;
}

.gxx_content {
	margin: 0px 50px;
	font-size: 14px;
}

.gxx_content p {
	text-indent: 26px;
	line-height: 180%;
	margin-bottom: 4px;
	margin-top: 4px;
}

.gxx_bt1 {
	margin: 0px 80px;
	text-align: right;
	font-weight: bold;
}

.gxx_bt2 {
	margin: 0px 80px;
	text-align: right;
}

.icondel {
	margin-left: 15px;
	padding: 3px;
}

.pingfsm {
	margin: 20px;
	font-size: 14px;
	line-height: 200%;
}

.newslist {
	height: 160px;
	border: 1px solid #ccc;
	padding: 5px 15px;
	margin-bottom: 5px;
}

.newslist td {
	border-bottom: 1px dashed #666;
	line-height: 190%
}

.newslist a {
	color: black;
}

.idxnewsright_content {
	background: url(../images/icon_dot.gif ) 0px 11px no-repeat;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 11px;
}

/*2012-8-7  修改流程图状态*/
.lct {
	border: 1px solid #999;
	text-align: center;
}

.lct_time td {
	font-size: 10px;
	line-height: 16px;
	height: 20px;
}

.lct_st01 {
	background: url(../images/lct_green.png);
	line-height: 120%;
	text-align: center;
	width: 57px;
	height: 57px;
	font-weight: bold;
	color: #093800;
}

.lct_st01 a,.lct_st01 a:link,.lct_st01 a:visited {
	color: #093800;
	text-decoration: none;
	display: block;
	width: 56px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lct_st02 {
	background: url(../images/lct_yel.png);
	line-height: 120%;
	text-align: center;
	width: 57px;
	height: 57px;
	font-weight: bold;
	color: #4d1f00;
}

.lct_st02 a,.lct_st02 a:link,.lct_st02 a:visited {
	color: #4d1f00;
	text-decoration: none;
	display: block;
	width: 56px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lct_st02_2 {
	background: url(../images/lct_yel.png);
	line-height: 120%;
	text-align: center;
	width: 57px;
	height: 57px;
	font-weight: bold;
	color: blue;
}

.lct_st02_2 a,.lct_st02_2 a:link,.lct_st02_2 a:visited {
	color: #4d1f00;
	text-decoration: none;
	display: block;
	width: 56px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lct_st03 {
	background: url(../images/lct_gray.png);
	line-height: 120%;
	text-align: center;
	width: 57px;
	height: 57px;
	font-weight: bold;
	color: #8f8f8f;
}

.lct_st03 a,.lct_st03 a:link,.lct_st03 a:visited {
	color: #8f8f8f;
	text-decoration: none;
	display: block;
	width: 56px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lct_st04 {
	background: url(../images/lct_grdot.png);
	line-height: 120%;
	text-align: center;
	width: 57px;
	height: 57px;
	font-weight: bold;
	color: #999;
}

.lct_st04 a,.lct_st04 a:link,.lct_st04 a:visited {
	color: #999;
	text-decoration: none;
	display: block;
	width: 56px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lct_st05 {
	background: url(../images/lct_blue.png);
	line-height: 120%;
	text-align: center;
	width: 57px;
	height: 57px;
	font-weight: bold;
	color: white;
}

.lct_st05 a,.lct_st05 a:link,.lct_st05 a:visited {
	color: white;
	text-decoration: none;
	display: block;
	width: 56px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lct_tool {
	background: #f4f4f4;
	border: 1px solid #999;
	margin-top: 1px;
	margin-bottom: 1px;
	height: 40px;
}

.lct_tool td {
	padding-left: 10px;
}

.lct_tool input {
	font-size: 14px;
	background: url(../images/lct_toolinputbg.jpg) bottom repeat-x;
	border: 1px solid #AADAF9;
	color: black;
	font-weight: bold;
	padding: 3px 15px 2px 15px;
	cursor: hand;
	margin-right: 10px;
}

.lct_tool input.dfbtn_disable {
	font-size: 14px;
	background: url(../images/lct_toolinputbg_disable.jpg) bottom repeat-x;
	border: 1px solid #d3d4d4;
	color: #a4a4a4;
	font-weight: bold;
	padding: 3px 15px 2px 15px;
	cursor: hand;
}

/*2012-8-7 修改流程图结束*/

/*登录页面*/
.loginbg {
	background: #fff url(../images/login_00.jpg) repeat-x top;
	text-align: center;
}

.logindiv {
	margin-left: auto;
	margin-right: auto;
	width: 1012px;
	text-align: left;
}

.login_01 {
	background: #ECECEC url(../images/login_06.jpg) 325px 60px no-repeat;
	vertical-align: top;
	padding-bottom: 10px;
}

.login_03 {
	margin-top: 110px;
	margin-left: 300px
}

.login_03 input {
	width: 150px;
	background: white;
	border: 1px solid #B2B2B2;
}

.login_03 a {
	margin-right: 10px;
}

.login05 {
	background: url(../images/login_08_s1.jpg) repeat-x;
	height: 100px;
	text-align: center;
}

.login05 td {
	color: #757575;
	line-height: 240%;
}

.login05 a {
	color: #757575;
	margin-left: 10px;
	margin-right: 5px;
	text-decoration: none;
	font-weight: bold;
}

/*管控要点*/
.gkol {
	margin-left: 50px;
	margin-right: 10px;
}

.gkul {
	margin-left: 10px;
}

.gkol li {
	border-bottom: 1px solid #999;
	padding-top: 6px;
	padding-bottom: 5px;
	line-height: 18px;
	padding-right: 35px;
}

.gkyd_red {
	background: url(../images/off.png) no-repeat right center;
}

.gkyd_green {
	background: url(../images/on.png) no-repeat right center;
}

/*列表样式*/
.wd_tablelist01 {
	background: #9BC2E1;
}

.wd_tablelist01 th {
	padding: 5px 4px 4px 4px;
	color: #000;
	font-size: 14px;;
	font-weight: bold;
	border-left: 1px solid white;
	border-top: 1px solid white;
	background: #E9F6FF url(../images/czjthbg.jpg) repeat-x bottom;
	text-align: center;
}

.wd_tablelist01 tr {
	background: #fff;
}

.wd_tablelist01 tr.sd {
	background: #EAF7FF;
}

.wd_tablelist01 tr.sdr {
	background: #A4DDFF;
}

.wd_tablelist01 tr td.sd {
	background: #EAF7FF;
}

.wd_tablelist01 tr td.sdr {
	background: #A4DDFF;
}

.wd_tablelist01 td {
	padding: 5px 4px 4px 4px;
}

.wd_tablelist01 a img {
	margin-left: 5px;
	margin-right: 5px;
}

.wd_tablelist01   tr:hover td {
	background: #A4DDFF;
}

.wd_tablelist01_2 {
	background: #9BC2E1;
}

.wd_tablelist01_2 th {
	padding: 5px 4px 4px 4px;
	color: #000;
	font-size: 14px;;
	font-weight: bold;
	border-left: 1px solid white;
	border-top: 1px solid white;
	background: #E9F6FF url(../images/czjthbg.jpg) repeat-x bottom;
	text-align: center;
}

.wd_tablelist01_2 tr {
	background: #fff;
}

.wd_tablelist01_2 tr.sd {
	background: #EAF7FF;
}

.wd_tablelist01_2 tr.sdr {
	background: #A4DDFF;
}

.wd_tablelist01_2 tr td.sd {
	background: #EAF7FF;
}

.wd_tablelist01_2 tr td.sdr {
	background: #A4DDFF;
}

.wd_tablelist01_2 td {
	padding: 5px 4px 4px 4px;
}

.wd_tablelist01_2 a img {
	margin-left: 5px;
	margin-right: 5px;
}

.wd_tablelist02 {
	background: #9BC2E1;
}

.wd_tablelist02 th {
	background: #EAF7FF;
	text-align: right;
	font-weight: normal;
}

.wd_tablelist02 td {
	padding: 5px 4px 4px 4px;
	background: white;
}

.wd_tablelist03 {
	background: #a5a5a5;
}

.wd_tablelist03 th {
	background: #f2f2f2;
	padding: 5px 4px 4px 4px;
	line-height: 120%;
}

.wd_tablelist03 td {
	background: white;
	padding: 5px 4px 4px 4px;
}

.wd_tablelist03 td  a {
	margin-left: 5px;
	margin-right: 5px;
}

.wd_tablelist04 {
	background: #a5a5a5;
}

.wd_tablelist04 th {
	background: #f2f2f2;
	padding: 5px 4px 4px 4px;
	line-height: 120%;
	text-align: right;
}

.wd_tablelist04 td th {
	text-align: center;
}

.wd_tablelist04 td {
	background: white;
	padding: 5px 4px 4px 4px;
}

.wd_tablelist04 td  a {
	margin-left: 5px;
	margin-right: 5px;
}

.wd_tablelist05 {
	border: 1px solid #a5a5a5;
}

.wd_tablelist05 td {
	padding: 5px 4px 4px 4px;
}

/*table 附件*/
.table_fj {
	background: #a5a5a5;
}

.table_fj th {
	background: #f2f2f2;
	padding: 5px 4px 4px 4px;
	line-height: 120%;
}

.table_fj td {
	background: white;
	padding: 5px 4px 4px 4px;
}

.table_fj td  a {
	margin-left: 5px;
	margin-right: 5px;
}

/*----------------------main tool_box --------------------*/
.top_tool_box {
	background: #e6f3fd;
	padding: 5px;
	text-align: right;
	border: 1px solid #b2cde8;
	margin-bottom: 6px;
	position: relative;
	z-index: 10
}

.top_tool_box a {
	background: url(../images/tool_bt.png) repeat;
	display: inline-block;
	border-bottom: 1px solid #3d8ccd;
	border-top: #4bb4e5;
	border-left: 1px solid #45a4dc;
	border-right: 1px solid #45a4dc;
	color: #ffffff;
	font-size: 12px;
	padding: 2px 10px 0px;
	height: 18px;
	cursor: pointer;
	margin-right: 5px;
}

.top_too_box_tips {
	position: absolute;
	top: 8px;
	left: 14px;
}

/*.maintitle{
border:1px solid #E4E4E4;
border-bottom:none;
background:url(../images/maintitlebg.jpg) no-repeat;
height:33px;
margin-bottom:6px;
}
.maintitle td{
vertical-align: bottom;
} 
.maintitlediv{
font-size:14px;
font-weight:bold;
padding-left:11px;
color:white;
padding-bottom:3px;
}*/
.maintitlediv {
	position: relative;
}

.maintitlediv  td {
	vertical-align: bottom;
}

.maintitlediv {
	color: #000;
	font-size: 14px;;
	width: 160px;
	text-align: center;
	background: url(../images/bqys.jpg) no-repeat;
	padding-top: 7px;
	padding-bottom: 4px;
}

.maintitlediv a {
	color: #000;
}

.t_search {
	border: 1px solid #DADADA;
	background: #f4f4f4;
	margin-bottom: 8px;
}

.t_search td {
	padding: 5px 10px
}

.t_search a {
	margin-left: 3px;
	margin-right: 3px;
}

.lct_tt {
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background: url(../images/fileopen.png) no-repeat;
	padding-left: 30px;
}

.zdzbwj_tips01 {
	border: 1px solid #FFC46A;
	background: #FFFFD7;
	width: 200px;
	line-height: 180%;
	font-size: 14px;
	color: black;
	position: absolute;
	top: 115px;
	left: 344px;
	padding: 5px 10px;
}

.zdzbwj_tips02 {
	border: 1px solid #FFC46A;
	background: #FFFFD7;
	width: 200px;
	line-height: 180%;
	font-size: 14px;
	color: black;
	position: absolute;
	top: 115px;
	left: 654px;
	padding: 5px 10px;
}

.zdzbwj_tips03 {
	border: 1px solid #FFC46A;
	background: #FFFFD7;
	width: 200px;
	line-height: 180%;
	font-size: 14px;
	color: black;
	position: absolute;
	top: 150px;
	left: 344px;
	padding: 5px 10px;
}

.zdzbwj_tips04 {
	border: 1px solid #FFC46A;
	background: #FFFFD7;
	width: 400px;
	line-height: 180%;
	font-size: 14px;
	color: black;
	position: absolute;
	top: 50px;
	left: 404px;
	padding: 5px 10px;
}

.pop_alert {
	width: 200px;
	padding: 10px 20px;
	color: red;
	border: 1px solid red;
	line-height: 180%;
	font-size: 14px;
	background: #fff;
	margin-top: 10px;
}

.pop_ok {
	width: 200px;
	padding: 10px 20px;
	color: black;
	border: 1px solid black;
	line-height: 180%;
	font-size: 14px;
	background: #fff;
	margin-top: 10px;
}

.treergt {
	margin-left: 15px;
	margin-top: 15px;
}

.tree02 {
	position: absolute;
	top: 195px;
	left: 244px;
}

.scrolldiv {
	width: 100%;
	overflow: auto;
}

.kgmsg {
	border: 1px solid #9BC2E1;;
	background: #DFEFFD;
	width: 300px;
	line-height: 150%;
	font-size: 14px;;
	color: black;
	position: absolute;
	padding: 5px 10px;
}

.display_none {
	display: none;
}

.tabtable {
	background: url(../images/tabbbb1.jpg) top repeat-x;
}

.convention_tab3 {
	clear: both;
	padding-left: 15px;
	float: left;
	margin: 0px;
	overflow: hidden;
	padding-right: 0px;
	float: left;
	font-size: 14px;;
	line-height: 130%;
	list-style: none;
}

.convention_tab3 li {
	float: left;
	background: url(../images/tab3_2.jpg) no-repeat;
	margin: 0;
	text-align: center;
	width: 125px;
	line-height: 29px;
	margin-top: 9px;
	margin-right: 3px;
}

.convention_tab3 li a,.convention_tab2 li.normal_tab2 b {
	display: block;
	color: #333;
	text-decoration: none;
	font-size: 14px;
}

.convention_tab3 li.current_tab_s {
	background-image: url(../images/tab3_1.jpg);
	font-weight: bold;
}

.convention_tab3 li.current_tab_s a {
	color: #000;
	text-decoration: none
}

#cardarea3 {
	clear: both;
	border: 1px solid #999;
	border-top: none;
	padding: 10px;
}

.popdiv1 {
	border: 1px solid #AFBDC8;
	background: white;
	width: 250px;
	padding: 10px 10px;
	position: absolute;
	top: 15px;
	left: 235px;
	z-index: 99999;
}

.popdiv_close {
	text-align: right;
}

/*2012-6-11*/
.idx_tb01 {
	border: 1px solid #6481C5;
	padding: 6px 12px;
}

.idx_tb01_title {
	background: url(../images/idx_tb01_title.jpg) left bottom no-repeat;
	margin-bottom: 10px;
	height: 28px;
	font-weight: bold;
	font-size: 14px;
}

.idx_tb01_title span {
	font-weight: normal;
	font-size: 14px;;
	padding-left: 20px;
}

.idx_tb01_list {
	margin-bottom: 8px;
}

.idx_tb01_list th {
	background: #f6f6f6
}

.idx_tb01_list th {
	text-align: left;
	padding-left: 6px;
	height: 28px;
}

.idx_tb01_list  td {
	border-bottom: 1px dashed #C5C9CC;
	padding-left: 6px;
	height: 24px;
}

.idx_tb01_list  td.idx_tb01_list_01 {
	padding-left: 4px;
	background: url(../images/icon_larrow.gif) 0px 10px no-repeat;
}

.idx_tb01_list  td.idx_tb01_list_01 img {
	padding-left: 4px;
}

/*2012-7-3  更新菜单IE6 css patch*/
#nav {
	height: 25px;
	background: url(../images/navbg001.jpg) repeat-x;
	z-index: 999999
}

.slidetabsmenu {
	font-size: 12px;
}

.slidetabsmenu ul {
	padding: 0px;
	margin: 0;
	list-style-type: none;
}

.slidetabsmenu li {
	float: left;
	margin: 0;
}

.slidetabsmenu li a {
	text-decoration: none;
	padding: 4px 14px 4px 13px;
	margin: 0;
	margin-right: 1px; /*distance between each tab*/
	color: black;
	font-size: 12px;
	line-height: 25px;
	height: 25px;
	background: url(../images/navbg002.jpg) top right repeat-x;
}

.slidetabsmenu li a:visited {
	color: black;
}

.slidetabsmenu li a:hover,.slidetabsmenu li.selected a {
	background: url(../images/navbg003.jpg) top right repeat-x;
	color: white;
}

.slidetabsmenu li.current a {
	background: url(../images/navbg003.jpg) top right repeat-x;
	color: white;
	text-decoration: none;
}

.slidetabsmenu li.current a:link {
	background: url(../images/navbg003.jpg) top right repeat-x;
	color: white;
	text-decoration: none;
}

.slidetabsmenu li.current a:visited {
	background: url(../images/navbg003.jpg) top right repeat-x;
	color: white;
	text-decoration: none;
}

.slidetabsmenu li.current a:hover {
	background: url(../images/navbg003.jpg) top right repeat-x;
	color: white;
	text-decoration: none;
}
/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_c {
	position: absolute;
	top: 0;
	font: normal 12px Verdana;
	line-height: 25px;
	z-index: 99999;
	background-color: #CAF2FC;
	min-width: 140px;
	visibility: hidden;
}

* html .dropmenudiv_c {
	width: 200px;
}

.dropmenudiv_c a {
	width: auto;
	display: block;
	text-indent: 15px;
	padding: 1px 0px;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #fff;
	padding-right: 15px;
}

* html .dropmenudiv_c a { /*IE only hack*/
	width: 100%;
}

.dropmenudiv_c a:hover { /*THEME CHANGE HERE*/
	background-color: #5CCFFE;
	color: white;
}

/*2012-7-13 alert*/
.alert_box {
	padding: 5px;
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.alert_box_inner {
	border: 1px solid #adcbde;
	padding-top: 1px;
}

.alert_title {
	background: url(../images/alert_title_bg.png) repeat-x;
	height: 36px;
	border-bottom: 1px solid #0068b8;
}

.alert_title span {
	display: block;
	padding: 7px 0px 0px 46px;
	height: 27px;
	font-size: 14px;
	font-weight: bold;
	background: url(../images/alert_icon_warning.png) no-repeat 10px 5px;
}

.alert_content {
	padding: 20px 30px 20px 30px;
	min-height: 60px;
	color: #f86f00;
}

.alert_content a {
	color: #f86f00;
}