/* CSS Document 
中文对应Unicode编码
*“黑体”对应Unicode编码为“\9ED1\4F53”
“宋体”对应Unicode编码为“\5B8B\4F53”
“仿宋”对应Unicode编码为“\4EFF\5B8B”
“微软雅黑”对应Unicode编码为“\5FAE\8F6F\96C5\9ED1”
*/

/**页面按钮*/
.page-btn{
	color: #5B5B5B;
	font-family: "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\5B8B\4F53",\4EFF\5B8B,sans-serif;
	font-size: 12px;
}

html>body .page-btn a{
	width: auto;
	min-width: 70px;
}
.page-btn a{
	display: inline-block;
	width: 90px;
	height: 24px;
	margin:3px;
	line-height: 24px;
	text-align: center;
	vertical-align:middle;
	border: 1px #ddd solid;
	outline: medium none;
	text-decoration: none;
	float:left;
	color:#5b5b5b;
	background: #f4f4f4;
	cursor:pointer;
}

.page-btn a em {
	display: inline-block;
	width: 20px;
	height: 30px;
	vertical-align: middle;
	margin-right: 5px;
	margin-left:3px;
}

.page-btn a:hover {
	background: none repeat scroll 0% 0% #FFF;
	color: #F60;
	text-decoration: none;
	outline: medium none;
}

/**
*     可以将以下进行新建到page-btn-icon.css中
*
*     方便后面自定义
**/

/* 全选*/
.btn-tab-selectall em{
	background: url(../images/basebticons/selectall.png) no-repeat scroll
		0% 0% transparent;
	background-position: 0px 6px;
}
/*全消*/
.btn-tab-cancelall em {
	background: url("../images/basebticons/cancelall.png") no-repeat scroll
		0px 6px transparent;
}

/* 保存 */
.btn-tab-save em{
	background: url(../images/basebticons/newAddFy01.png) no-repeat scroll
		0% 0% transparent;
	background-position: 0px 6px;
}
/*关闭*/
.btn-tab-close em {
	background: url("../images/basebticons/newAddFy01.png") no-repeat scroll
		0px -62px transparent;
}
/*确认*/
.btn-tab-ok em {
	background: url("../images/basebticons/newicp.png") no-repeat scroll 0px
		6px transparent;
}
/*增加*/
.btn-tab-add em {
	background: url("../images/basebticons/newicp.png") no-repeat scroll 0px -36px
		transparent;
}
/*删除*/
.btn-tab-delete em {
	background: url("../images/basebticons/delete.png") no-repeat scroll
		0% 0% transparent;
	background-position: 0px 6px;
}
/*编辑*/
.btn-tab-edit em {
	background: url("../images/basebticons/edit.png") no-repeat scroll 0% 0% transparent;
	background-position: 0px 6px;
}
/*审批*/
.btn-tab-approve em {
	background: url("../images/basebticons/approve.png") no-repeat scroll 0% 0% transparent;
	background-position: 0px 6px;
}
/*弃审*/
.btn-tab-unapprove em {
	background: url("../images/basebticons/unapprove.png") no-repeat scroll 0% 0% transparent;
	background-position: 0px 6px;
}
/*作废*/
.btn-tab-deletebig em {
	background: url("../images/basebticons/deletebig.png") no-repeat scroll 0% 0% transparent;
	background-position: 0px 6px;
}

/*查询*/
.btn-tab-query em {
	background: url("../images/basebticons/newicp.png") no-repeat scroll
		-10px -420px transparent;
}
/*取消*/
.btn-tab-cancel em {
	background: url("../images/basebticons/cancel.png") no-repeat scroll
		0% -203% transparent;
	background-position: -5px -2px;
}
/*刷新*/
.btn-tab-fresh em {
	background: url("../images/basebticons/f_icon01.gif") no-repeat scroll
		0% 0% transparent;
	background-position: 0px -124px;
}
/*导入*/
.btn-tab-import em {
	background: url("../images/basebticons/import.png") no-repeat scroll
		0% 0% transparent;
	background-position: 0px 6px;
}
/*导出*/
.btn-tab-export em {
	background: url("../images/basebticons/export.png") no-repeat scroll
		0% 0% transparent;
	background-position: 0px 6px;
}
/*打印*/
.btn-tab-print em {
	background: url("../images/basebticons/print.png") no-repeat scroll
		0px 0px transparent;
	background-position: 0px 6px;
}

/*上一步*/
.btn-tab-pre em {
	background: url("../images/basebticons/pre_step.png") no-repeat scroll
		0px 0px transparent;
	background-position: 0px 6px;
}
/*下一步*/
.btn-tab-next em {
	background: url("../images/basebticons/next_step.png") no-repeat scroll
		0px 0px transparent;
	background-position: 0px 6px;
}

/*转签约*/
.btn-tab-transsign em {
	background: url("../images/basebticons/transsign.png") no-repeat scroll
		0px 0px transparent;
	background-position: 0px 6px;
}

/*下载模板*/
.btn-tab-download em {
	background: url("../images/basebticons/download.png") no-repeat scroll
		0px 0px transparent;
	background-position: 0px 4px;
}

/*保存&增加*/
.btn-tab-saveadd em {
	background: url("../images/basebticons/newicp.png") no-repeat scroll -2px
		-88px transparent;
}
/*保存&关闭*/
.btn-tab-saveclose em {
	background: url("../images/basebticons/newicp.png") no-repeat scroll -1px
		-163px transparent;
}

.btn-tab-left em{
	background: url("../images/basebticons/left.png") no-repeat scroll 0% 0% transparent;
	background-position: 0px 6px;
}
.btn-tab-right em{
	background: url("../images/basebticons/right.png") no-repeat scroll 0% 0% transparent;
	background-position: 0px 6px;
}
.btn-tab-up em{
	background: url("../images/basebticons/up.png") no-repeat scroll 0% 0% transparent;
	background-position: 0px 6px;
}.btn-tab-down em{
	background: url("../images/basebticons/down.png") no-repeat scroll 0% 0% transparent;
	background-position: 0px 6px;
}
.btn-tab-exe em{
	background: url("../images/basebticons/exe.png") no-repeat scroll 0% 0% transparent;
	background-position: 0px 6px;
}

