/* -------------------------------------------------------------- 
reset
* 重设浏览器的默认样式。
------------------------------------------------------------br{height:0px;line-height: 0px;}-- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, applet, big, cite, font, ins, kbd, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center {
    margin:0;
    padding:0;
    border:none;
    outline:0;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
}
body {
    font-size: 12px;
    line-height:140%;
    color:#000;
}
html {
    overflow:auto;
}
td {
    font-size: 12px;
    line-height:140%;
    color:#333;
}
input, button {
    width:auto;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
    font-size:14px;
}
ul {
    list-style: none;
}
em {
}
input, textarea {
    font-size:12px;
    color:#333;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
}
select {
    font-size:12px;
    color:#333;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
}
/* 去除图片链接的边框 */

a img {
    border: none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
A {
    TEXT-DECORATION:none;
    outline-style : none;
    COLOR:#000;
}
A:link {
    COLOR: #000;
    outline-style : none;
    TEXT-DECORATION: none;
}
A:visited {
    COLOR: #000;
    outline-style : none;
    TEXT-DECORATION: none;
}
A:hover {
    COLOR:#BF0008;
    TEXT-DECORATION: underline;
    outline-style : none;
}
A:active {
    COLOR: #000;
    TEXT-DECORATION: none;
    outline-style : none;
}
.display_none {
    display:none;
}
.clear {
    clear:both;
}
.alertstar {
    color:#f00;
    padding-right:2px;
}
.alertmsg {
    color:red;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:bold;
}
.dfbtn {
    padding-left:8px;
    padding-right:8px;
    margin-right:5px;
    cursor:pointer;
}
.dfbtn_2 {
    color:black;
    cursor: pointer;
    width:88px;
    text-align:center;
    margin-bottom:10px;
}
.dfbtn_3 {
    padding-left:12px;
    padding-right:12px;
    color:black;
    cursor:pointer;
}
.dfbtn_chs {
    padding-left:5px;
    padding-right:5px;
    color:black;
    cursor: pointer;
}
/*color*/
.cred, a.cred:link, a.cred:visited {
    color:red;
}
.credb, a.credb:link, a.credb:visited {
    color:red;
    font-weight:bold;
}
.credbig, a.credbig:link, a.credbig:visited {
    color:red;
    font-weight:bold;
    font-size:18px;
}
.cblue, a.cblue:link, a.cblue:visited {
    color:#1A76C3;
}
a.cblue:hover {
    color:#5B9CC2;
}
.cbluebig, a.cbluebig:link, a.cbluebig:visited {
    color:#1E5A7E;
    font-weight:bold;
    font-size:18px;
}
.cgreen, a.cgreen:link, a.cgreen:visited {
    color:#008000;
}
.cgreenb, a.cgreenb:link, a.cgreenb:visited {
    color:#008000;
    font-weight:bold;
}
.cblueb, a.cblueb:link, a.cblueb:visited {
    color:blue;
    font-weight:bold;
}
a.cblueb:hover {
    color:#039;
    font-weight:bold;
}
.cgray, a.cgray:link, a.cgray:visited {
    color: #999;
}
.cdgray, a.cdgray:link, a.cdgray:visited {
    color: #666;
}
.cwhite, a.cwhite:link, a.cwhite:visited {
    color:#fff;
}
.cblack, a.cblack:link, a.cblack:visited {
    color:#000;
}
.cblackbig, a.cblackbig:link, a.cblackbig:visited {
    color:#000;
    font-size:18px;
    font-weight:bold;
}
.cyellow, a.cyellow:link, a.cyellow:hover, a.cyellow:visited {
    color:#B65600;
}
.cbluedown, a.cbluedown:link, a.cbluedown:visited {
    color:#4D7CD4;
    background:url(../images/icon_ddlown.gif) no-repeat;
    padding-left:15px;
    margin-right:5px;
    margin-left:4px
}
a.cbluedown:hover {
    color:#900;
}
.c333, a.c333:link, a.c333:visited {
    color:#333;
}
a.c333:hover {
    color:#8d8d8d;
}
.fs16b {
    font-size:16px;
    font-weight:bold;
}
.fs18b {
    font-size:18px;
    font-weight:bold;
}
/*整体布局*/
#wrapper {
    min-width: 1050px;
}
#header {
    background:url(../images/OA-banner.jpg) bottom right no-repeat;
    height:215px;
    position:relative;
    min-width:1000px;
}
#logo {
    height:180px;
    padding-left:32px;
}
#userbox {
    position: absolute;
    top:184px;
    right: 10px;
    color:#333;
    height:26px;
    line-height:26px;
    overflow:hidden;
    text-align:right;
    color:white;
    font-size:14px;
    z-index:999
}
#userbox span {
    display: inline-block;
    height: 16px;
    color: #333;
    line-height: 18px;
}
#userbox a {
    padding-left: 15px;
    margin-right:5px;
    color:white;
}
#userbox .user_name {
    padding-left: 5px;
    color:white;
    padding-right:8px;
}
#userbox .tody_box {
    color:white
}
#nav {
    height: 35px;
    background:#BF0008;
    z-index:9;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
}
.slidetabsmenu {
    font-size: 12px;
}
.slidetabsmenu ul {
    padding:0px;
    margin:0;
    list-style-type: none;
}
.slidetabsmenu li {
    float:left;
    margin: 0;
    background: url(../images/w_navbg_2.jpg) top right no-repeat;
    line-height:34px;
    height:34px;
    overflow:hidden;
    padding-left:2px;
    padding-right:2px;
}
.slidetabsmenu li a {
    text-decoration: none;
    padding-left:15px;
    padding-right:14px;
    padding-bottom:8px;
    margin: 0;
    margin-right: 1px; /*distance between each tab*/
    color: white;
    font-size: 14px;
    height:34px;
    line-height:34px;
    overflow:hidden;
}
.slidetabsmenu li a:visited {
    color: white;
}
.slidetabsmenu li a:hover, .slidetabsmenu li.selected a {
    color:#F0FF00;
    text-decoration: none;
}
.slidetabsmenu li.current a {
    color:white;
    text-decoration: none;
}
.slidetabsmenu li.current a:link {
    color:white;
    text-decoration: none;
}
.slidetabsmenu li.current a:visited {
    color:white;
    text-decoration: none;
}
.slidetabsmenu li.current a:hover {
    color:#F0FF00;
    text-decoration: none;
}
/* ######### Style for Drop Down Menu ######### */

.dropmenudiv_c {
    position:absolute;
    top: 0;
    font:normal 12px Verdana;
    line-height:23px;
    z-index:99999;
    background-color: #fff;
    width: 160px;
    visibility: hidden;
    border:1px solid #BF0008;
    border-top:none;
}
.dropmenudiv_c a {
    width: auto;
    display: block;
    text-indent: 15px;
    padding: 1px 0px;
    text-decoration: none;
    color: black;
    padding-right:15px;
    background:url(../images/icon_larrow.gif) 7px 11px no-repeat
}
* html .dropmenudiv_c a { /*IE only hack*/
    width: 100%;
}
.dropmenudiv_c a:hover { /*THEME CHANGE HERE*/
    color:#BF0008;
}
.navtool {
    text-align:right;
    margin-bottom:3px;
}
a.nav_hpg {
    background:  url(../images/icon_hpg.jpg) 0px 3px no-repeat;
    padding-left:20px;
    text-decoration:underline;
    margin-right:10px;
    padding-top:3px;
    padding-bottom:3px;
}
a.nav_logout {
    background:  url(../images/icon_logout.jpg) 0px 3px no-repeat;
    padding-left:20px;
    text-decoration:underline;
    margin-right:10px;
    padding-top:3px;
    padding-bottom:3px;
}
/*9格框架*/
.box {
    min-width: 1000px;
}
.box_01 {
    background:url(../images/box_01.jpg) no-repeat;
    height:12px;
    width:12px;
    font-size:0px;
    line-height:0px;
}
.box_02 {
    background:url(../images/box_02.jpg) repeat-x;
    height:12px;
    font-size:0px;
    line-height:0px;
}
.box_03 {
    background:url(../images/box_03.jpg) no-repeat;
    height:12px;
    width:12px;
    font-size:0px;
    line-height:0px;
}
.box_04 {
    background:url(../images/box_04.jpg) repeat-y;
    height:12px;
    width:12px;
    font-size:0px;
    line-height:0px;
}
.box_05 {
    background:white;
    padding:5px 1px 5px 1px;
}
.box_06 {
    background:url(../images/box_06.jpg) repeat-y;
    height:12px;
    font-size:0px;
    line-height:0px;
}
.box_07 {
    background:url(../images/box_07.jpg) no-repeat;
    height:12px;
    width:12px;
    font-size:0px;
    line-height:0px;
}
.box_08 {
    background:url(../images/box_08.jpg) repeat-x;
    height:12px;
    font-size:0px;
    line-height:0px;
}
.box_09 {
    background:url(../images/box_09.jpg) no-repeat;
    height:12px;
    width:12px;
    font-size:0px;
    line-height:0px;
}
.path {
    border-bottom:1px solid #dadada;
    padding-bottom:5px;
    margin-bottom:8px;
    background:url(../images/icon_home.png) 0px 3px no-repeat;
    padding-left:18px;
    line-height:18px;
}
/* wanda list table*/
.wdtable_title {
    /*background:#BF0008 */;
    background:#0070A8;
    height:32px;
    position: relative;
}
.wdtable_title td {
    color:white;
}
.wdtable_title td a {
    color:white;
}
.wdtable_title td a:hover {
    text-decoration:none;
}
.wdtable_titleh {
    float:left;
    font-size:14px;
    padding-left:15px;
    font-weight:bold;
    letter-spacing:2px;
}
.wdtable_titletool {
    position: absolute;
    top:7px;
    right: 10px;
    font-size:14px;
}
.wdtable_titletool a {
    margin-left:5px;
    margin-right:5px;
    text-decoration:none;
    color:white;
    text-align:center;
    line-height:16px;
    padding-top:3px;
    padding-bottom:3px;
    font-weight:bold;
    padding-left:4px;
    padding-right:4px;
}
/*table 02*/
.table02 {
    border:1px solid #999;
    padding:10px;
}
*html .table02 td {
    padding:10px;
}
*html .table02 td td {
    padding:5px 4px 4px 4px;
}
*html .table02 td th {
    padding:5px 4px 4px 4px;
}
*:first-child+html .table02 td {
    padding:10px;
}
*:first-child+html .table02 td td {
    padding:5px 4px 4px 4px;
}
*:first-child+html .table02 td th {
    padding:5px 4px 4px 4px;
}
/*table 03*/
.table03 {
    background:#A5A5A5;
}
.table03_grey {
    background:#F2F2F2;
    padding:3px 2px 4px 2px;
}
.table03_white {
    background:#fff;
    padding:3px 2px 4px 2px;
}
/*table 04*/
.table04 {
    background:white;
}
.table04 th {
    text-align:right;
    padding:3px 2px 4px 2px;
    vertical-align: top;
    font-weight:bold;
}
.table04 td {
    background:#fff;
    padding:3px 2px 4px 2px;
}
.table04 td th {
    text-align:center;
    padding:3px 2px 4px 2px;
}
/*table 12*/
.table12 {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-collapse:collapse;
    border-spacing:0;
}
.table12 th {
    text-align:right;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px;
    background:white;
    font-weight:normal;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.table12 td {
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px;
    background:white;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.table12 td table.zwsq td {
    border:none;
}
/*伪标签页*/
.module01 {
    clear:both;
    margin-bottom:10px;
}
.convention_tab {
    clear:both;
    width:100%;
    float:left;
    margin:0;
    background:url(../images/tablinebg.jpg) bottom repeat-x;
    overflow:hidden;
    padding-right:0px;
    float:left;
    font-size:13px;
    line-height:130%;
}
.convention_tab li {
    float:left;
    margin:0;
    margin-right:5px;
    padding-top:7px;
}
.convention_tab li input {
    margin-top:-5px;
}
.current_tab {
    background:url(../images/tabbg01.jpg) no-repeat left top;
    width:140px;
    text-align:center;
    padding-top:7px;
    padding-bottom:5px;
    font-weight:bold;
    color:#333;
}
.cardarea {
    border:1px solid #387DC1;
    border-top:3px solid #387DC1;
    clear:both;
    padding:12px;
}
/*表单宽度*/
.input25 {
    width:25px;
}
.input35 {
    width:35px;
}
.input55 {
    width:42px;
}
.input70 {
    width:70px;
}
.input75 {
    width:75px;
}
.input80 {
    width:80px;
}
.input88 {
    width:88px;
}
.input125 {
    width:125px;
}
select.input125 {
    width:131px;
}
.input130 {
    width:130px;
}
.input150 {
    width:150px;
}
.input160 {
    width:160px;
}
.input180 {
    width:180px;
}
.input200 {
    width:200px;
}
.input230 {
    width:230px;
}
.input234 {
    width:234px;
}
.input400 {
    width:400px;
}
.input450 {
    width:433px;
}
.input455 {
    width:455px;
}
.input465 {
    width:465px;
}
.input470 {
    width:470px;
}
.input480 {
    width:470px;
}
.input485 {
    width:485px;
}
.input500 {
    width:500px;
}
.input530 {
    width:530px;
}
.input600 {
    width:600px;
}
.input700 {
    width:700px;
}
.input750 {
    width:750px;
}
.input090 {
    width:90%;
}
.input0710 {
    display:block;
    width:710px;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:hidden;
}
.auto_txt {
    display:block;
    width:1000px;
    word-wrap: break-word;
    white-space:normal;
}
.input091 {
    width:80%;
}
.input092 {
    width:94%;
}
.input350 {
    width:350px;
}
/*公告附件 list*/

.list_ggfj {
}
.list_ggfj li {
    color:#000;
    text-decoration:underline;
    padding-bottom:5px;
}
.heightspace15 {
    height:10px;
}
.heightspace5 {
    height:5px;
}
.drcjsbdiv {
    overflow:auto;
    padding:4px;
    border:2px solid #ccc;
    margin-bottom:10px;
    width:970px;
}
.drcjsbdiv_2 {
    width:864px;
    height:250px;
    overflow:auto;
    padding:4px;
    border:2px solid #ccc;
    margin-bottom:10px;
}
.ptarrow1 {
    padding-left:10px;
    padding-right:10px;
}
.divh1 {
    font-size:22px;
    font-weight:bold;
    text-align:center;
    line-height:180%;
    margin-bottom:10px;
}
/*2012-8-7 修改title标签样式*/
.divh3 {
    /*height:32px;*/
    position: relative;
    margin-top:10px;
    background:url(../images/divh3_hx.png) no-repeat right bottom;
}
*html .table02 td .divh3 td {
    padding:0px;
}
*:first-child+html .table02 td .divh3 td {
    padding:0px;
}
.divh3 td {
    vertical-align: bottom;
    background:url(../images/divh3_hx_left.png) no-repeat left bottom
}
.divh3_title {
    color:#444;
    font-size:14px;
    /*width:490px;*/
    text-align:left;
    font-weight:bold;
    height:31px;
    line-height:33px;
    overflow:hidden;
    padding-left:14px;
    float:left;
    margin-left:7px;
    padding-right:21px;
    color:#333;
}
.dvt200 {
}
.divh3_title a {
    color:#333;
    text-decoration:none;
}
.divh200 {
    /*height:32px;*/
    position: relative;
    margin-top:10px;
    background:url(../images/divh3_2.png) no-repeat right bottom;
}
*html .table02 td .divh200 td {
    padding:0px;
}
*:first-child+html .table02 td .divh200 td {
    padding:0px;
}
.divh3 td {
    vertical-align: bottom;
}
.divh200_title {
    color:#444;
    font-size:14px;
    /*width:490px;*/
    text-align:left;
    background:url(../images/divh3_2_left.png) bottom left no-repeat;
    font-weight:bold;
    height:31px;
    line-height:33px;
    overflow:hidden;
    padding-left:23px;
    max-width:150px;
}
.divh200_title a {
    color:#444;
}
/*2012-8-7 修改title标签样式 结束*/

/*2012-8-7 修改倒计时 开始*/
.djs {
    margin-top:10px;
    margin-bottom:20px;
}
.djsleft {
    text-align:right;
    color:black;
    font-size:20px;
    padding-right:10px;
}
.djsred {
    background:url(../images/djsbg.png) no-repeat top center;
    height:40px;
    color:white;
    font-size:22px;
    text-align:center;
}
/*2012-8-7 修改倒计时 结束*/
.divh3_note {
    position: absolute;
    top: 8px;
    left:165px;
    font-weight:500;
    font-size: 16px;
    color: blue;
}
.divh3_time {
    position: absolute;
    top:8px;
    right:10px;
    font-size:12px;
}
.divh3_time a {
    margin-left:20px;
}
.divh3_time input {
    margin-top:-3px;
}
.divh3_time input.disabled {
    color:#CCC;
}
*html .divh3_time input {
}
.divh3 input {
    margin-left:8px;
    padding-left:20px;
    padding-right:20px;
}
.divh4 {
    font-weight:bold;
    margin-top:5px;
    margin-bottom:2px;
    color:#03c;
    margin-left:10px;
}
/*待选设备list */
.div_dxsb01 {
    float:left;
    width:500px;
}
.div_dxsb02 {
    float:left;
    width:100px;
}
.div_dxsb03 {
    float:left;
    width:200px;
}
.page {
    text-align:right;
    margin-top:8px;
}
.page span {
    padding-left:3px;
    padding-right:3px;
}
.page a {
    margin-left:6px;
}
.page select {
    width:40px
}
.cbbhjhj {
    text-align:left;
    width:100px;
    font-size:20px;
    font-weight:bold;
}
.cbbhjnumb {
    text-align:right;
    font-size:22px;
    font-weight:bold;
    text-align:right;
}
.titleh1 {
    background:#5E96DC url(../images/titleh1.jpg) repeat-x;
    height:38px;
    margin-bottom:2px;
}
.titleh1_left {
    font-size:20px;
    font-weight:bold;
    padding-left:10px;
    color:white;
    line-height:38px;
    float:left;
}
.titleh1_rgt {
    float:right;
    color:white;
    padding-right:10px;
    line-height:38px;
}
/*感谢信*/
.gxx_tilte {
    font-size:18px;
    font-weight:bold;
    text-align:center;
}
.gxx_sub {
    margin:0px 20px;
}
.gxx_content {
    margin:0px 50px;
    font-size:12px;
}
.gxx_content p {
    text-indent: 26px;
    line-height:180%;
    margin-bottom:4px;
    margin-top:4px;
}
.gxx_bt1 {
    margin:0px 80px;
    text-align:right;
    font-weight:bold;
}
.gxx_bt2 {
    margin:0px 80px;
    text-align:right;
}
.icondel {
    margin-left:15px;
    padding:3px;
}
.pingfsm {
    margin:20px;
    font-size:12px;
    line-height:200%;
}
.newslist {
    height:160px;
    border:1px solid #ccc;
    padding:5px 15px;
    height:105px;
}
.newslist td {
    border-bottom:1px dashed #666;
    line-height:190%
}
.newslist a {
    color:black;
}
.idxnewsright_content {
    background:url(../images/icon_dot.gif ) 0px 11px no-repeat;
    padding-top:2px;
    padding-bottom:1px;
    padding-left:11px;
}
/*2012-8-7  修改流程图状态*/
.lct {
    border:1px solid #999;
    text-align:center;
}
.lct_time td {
    font-size:10px;
    font-family:Arial;
    line-height:16px;
    height:20px;
}
.lct_time td strong {
    font-weight:normal
}
.lct_st01 {
    background:url(../images/lct_green.png) top center no-repeat;
    line-height:120%;
    text-align:center;
    width:70px;
    height:57px;
    font-weight:bold;
    color:#093800;
}
.lct_st01 a, .lct_st01 a:link, .lct_st01 a:visited {
    color:#fff;
    text-decoration:none;
    display:block;
    width:68px;
    padding-top:12px;
    padding-bottom:10px;
}
.lct_st02 {
    background:url(../images/lct_yel.png) top center no-repeat;
    line-height:120%;
    text-align:center;
    width:70px;
    height:57px;
    font-weight:bold;
    color:#4d1f00;
}
.lct_st02 a, .lct_st02 a:link, .lct_st02 a:visited {
    color:#4d1f00;
    text-decoration:none;
    display:block;
    width:68px;
    padding-top:12px;
    padding-bottom:10px;
}
.lct_st02_2 {
    background:url(../images/lct_yel.png) top center no-repeat;
    line-height:120%;
    text-align:center;
    width:70px;
    height:57px;
    font-weight:bold;
    color:blue;
}
.lct_st02_2 a, .lct_st02_2 a:link, .lct_st02_2 a:visited {
    color:#4d1f00;
    text-decoration:none;
    display:block;
    width:68px;
    padding-top:12px;
    padding-bottom:10px;
}
.lct_st03 {
    background:url(../images/lct_gray.png) top center no-repeat;
    line-height:120%;
    text-align:center;
    width:70px;
    height:57px;
    font-weight:bold;
    color:#8f8f8f;
}
.lct_st03 a, .lct_st03 a:link, .lct_st03 a:visited {
    color:#8f8f8f;
    text-decoration:none;
    display:block;
    width:68px;
    padding-top:12px;
    padding-bottom:10px;
}
.lct_st04 {
    background:url(../images/lct_grdot.png) top center no-repeat;
    line-height:120%;
    text-align:center;
    width:70px;
    height:57px;
    font-weight:bold;
    color:#999;
}
.lct_st04 a, .lct_st04 a:link, .lct_st04 a:visited {
    color:#999;
    text-decoration:none;
    display:block;
    width:68px;
    padding-top:12px;
    padding-bottom:10px;
}
.lct_st05 {
    background:url(../images/lct_blue.png) top center no-repeat;
    line-height:120%;
    text-align:center;
    width:70px;
    height:57px;
    font-weight:bold;
    color:white;
}
.lct_st05 a, .lct_st05 a:link, .lct_st05 a:visited {
    color:white;
    text-decoration:none;
    display:block;
    width:68px;
    padding-top:12px;
    padding-bottom:10px;
}
.lct_tool {
    background:#f4f4f4;
    border:1px solid #999;
    margin-top:1px;
    margin-bottom:1px;
    height:40px;
}
.lct_tool td {
    padding-left:10px;
}
.lct_tool input {
    background:url(../images/lct_toolinputbg.jpg) bottom repeat-x;
    border:1px solid #999;
    color:black;
    padding:3px 15px 2px 15px;
    cursor: pointer;
    margin-right:10px;
}
.lct_tool input.dfbtn_disable {
    background:url(../images/lct_toolinputbg_disable.jpg) bottom repeat-x;
    border:1px solid #dadada;
    color:#ccc;
    padding:3px 15px 2px 15px;
    cursor: pointer;
}
/*2012-8-7 修改流程图结束*/


/*登录页面*/
.loginbg {
    background:#DADDDD;
}
.logindiv {
    margin-left:auto;
    margin-right:auto;
    width:1012px;
    text-align:left;
}
.login_01 {
    background:#ECECEC url(../images/login_06.jpg) 325px 60px no-repeat;
    vertical-align: top;
    padding-bottom:10px;
}
.login_03 {
    margin-top:110px;
    margin-left:300px
}
.login_03 input {
    width:150px;
    background:white;
    border:1px solid #B2B2B2;
}
.login_03 a {
    margin-right:10px;
}
.login05 {
    background:url(../images/login_08_s1.jpg) repeat-x;
    height:100px;
    text-align:center;
}
.login05 td {
    color:#757575;
    line-height:240%;
}
.login05 a {
    color:#757575;
    margin-left:10px;
    margin-right:5px;
    text-decoration:none;
    font-weight:bold;
}
/*管控要点*/
.gkol {
    margin-left:15px;
    margin-right:10px;
    list-style:none;
}
.gkul {
    margin-left:10px;
}
.gkol li {
    border-bottom:1px solid #999;
    padding-top:6px;
    padding-bottom:5px;
    line-height:18px;
    padding-right:35px;
    padding-left:25px;
}
.gkyd_red {
    background:url(../images/off.png) no-repeat left center;
}
.gkyd_green {
    background:url(../images/on.png) no-repeat left center;
}
.gkyd_yellow {
    background:url(../images/yel.png) no-repeat left center;
}


/*鑫苑表格列表*/

.wd_tablelist01 {
	background:#CCD3E4;
}
.wd_tablelist01 th {
	color:#333;
	font-weight:normal;
	border-left:1px solid white;
	background:#f8f8f8 url(../images/regthbg.jpg) bottom repeat-x;
	text-align:center;
	line-height:16px;
	height:24px;
	padding:1px 6px 1px 5px
}
.wd_tablelist01 td {
	line-height:16px;
	height:24px;
	padding:1px 6px 1px 6px;
	background:white;
}
.wd_tablelist01 tr:hover td {
	background:#F3F5F8;
}
.wd_tablelist01 td.tt {
	background:#EDF6FA;
	font-weight:bold;
}
.wd_tablelist01 tr:hover td.tt {
	background:#EDF6FA;
}
.wd_tablelist01 tr.current td {
	background:#dcffff;
}
.wd_tablelist01 td.ht_status {
	position:relative;
	min-width:120px;
}
.wd_tablelist01 td .ht_status_tool {
	position:absolute;
	top:0;
	right:0;
	text-align:right;
	min-width:80px;
	height:23px;
}
.wd_tablelist01 td .ht_status_tool a {
	margin-right:0;
}
.wd_tablelist01 th a {
	color:#333;
	text-decoration:none;
}




/*wd_tablelist01_2*/
.wd_tablelist01_2 {
    background:#ccc;
}
.wd_tablelist01_2 th {
    color:#1E5A7E;
    font-weight:bold;
    border-left:1px solid white;
    background:#F8F8F8 url(../images/regthbg.jpg) bottom repeat-x;
    text-align:center;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 5px;
}
.wd_tablelist01_2 td {
    background:#fff;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 5px;
}
.wd_tablelist01_2 tr.sd {
    background:#f3f3f3;
}
.wd_tablelist01_2 tr.sdr {
    background:#E8E8E8;
}
.wd_tablelist01_2 tr td.sd {
    background:#f3f3f3;
}
.wd_tablelist01_2 tr td.sdr {
    background:#E8E8E8;
}
.wd_tablelist01_2 a img {
    margin-left:5px;
    margin-right:5px;
}
.wd_tablelist01_2 table tr {
    background:none;
}
.wd_tablelist01_2 table td {
    padding:2px;
}



/*wd_tablelist02*/

.wd_tablelist02 {
    background:#ccc;
}
.wd_tablelist02 th {
    background:#f3f3f3;
    text-align:right;
    font-weight:normal;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 5px;
}
.wd_tablelist02 td {
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 5px;
    background:white;
}
/*wd_tablelist03*/

.wd_tablelist03 {
    background:#ccc;
}
.wd_tablelist03 th {
    background:#f2f2f2;
    padding:4px 6px 4px 6px;
    line-height:16px;
    height:24px;
}
.wd_tablelist03 td {
    background:white;
    padding:4px 6px 4px 6px;
    line-height:16px;
    height:24px;
}
.wd_tablelist03 td a img {
    margin-left:5px;
    margin-right:5px;
}
/*wd_tablelist04*/
.wd_tablelist04 {
    background:#ccc;
}
.wd_tablelist04 th {
    background:#fff;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px;
    text-align:right;
    font-weight:normal;
}
.wd_tablelist04 td th {
    text-align:center;
}
.wd_tablelist04 td {
    background:white;
    background:#fff;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px
}
.wd_tablelist04 td a img {
    margin-left:5px;
    margin-right:5px;
}
/*wd_tablelist05*/
.wd_tablelist05 {
    border:1px solid #ccc;
}
.wd_tablelist05 td {
    line-height:12px;
    height:25px;
    padding:4px 6px 4px 6px
}
/*wd_tablelist06*/
.wd_tablelist06 {
    background:white;
}
.wd_tablelist06 th {
    background:white;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px;
    text-align:left;
    font-weight:normal;
}
.wd_tablelist06 td th {
    text-align:center;
}
.wd_tablelist06 td {
    background:white;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px
}
.wd_tablelist06 td a {
    margin-left:5px;
    margin-right:5px;
}
/*table 附件*/
.table_fj {
    background:#ccc;
    border:1px solid #ccc;
    border-collapse:collapse;
}
.table_fj th {
    background:#f2f2f2;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px
}
.table_fj td {
    background:white;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px;
    border:1px solid #ccc;
}
.table_fj .grey {
    background:#f4f4f4;
    padding:5px 4px 4px 4px;
}
.table_fj td a img {
    margin-left:5px;
    margin-right:5px;
}
/*table 附件2*/
.table_fj2 {
    background:#C0C0C0;
}
.table_fj2 th {
    background:#f2f2f2;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px;
}
.table_fj2 td {
    background:white;
    line-height:16px;
    height:24px;
    padding:4px 6px 4px 6px
}
.table_fj2 td a img {
    margin-left:5px;
    margin-right:5px;
}
/*----------------------main tool_box --------------------*/
.top_tool_box {
    background: #f4f4f4;
    padding: 5px;
    text-align: right;
    border: 1px solid #dadada;
    margin-bottom:6px;
    position: relative;
    z-index:10
}
.top_tool_box a {
    background: url(../images/tool_bt1.png) repeat;
    display: inline-block;
    border: 1px solid #BF0008;
    color: #ffffff;
    font-size: 12px;
    padding: 2px 10px 0px;
    height: 18px;
    cursor: pointer;
    margin-right: 5px;
}
.top_too_box_tips {
    position: absolute;
    top: 8px;
    left: 14px;
}
.maintitlediv {
    color:#444;
    font-size:14px;
    /*width:490px;*/
    text-align:left;
    font-weight:bold;
    height:31px;
    line-height:33px;
    overflow:hidden;
    padding-left:14px;
    float:left;
    margin-left:7px;
    padding-right:21px;
    color:#333;
}
.maintitlediv a {
    color:#000;
}
.t_search {
    border:1px solid #DADADA;
    background:#f4f4f4;
    margin-bottom:8px;
}
.t_search td {
    padding:5px 10px
}
.t_search a {
    margin-left:3px;
    margin-right:3px;
}
.lct_tt {
    font-size:16px;
    font-weight:bold;
    padding-left:10px;
    background:url(../images/fileopen.png) no-repeat;
    padding-left:30px;
}
.zdzbwj_tips01 {
    border:1px solid #FFC46A;
    background:#FFFFD7;
    width:200px;
    line-height:180%;
    font-size:12px;
    color:black;
    position: absolute;
    top: 115px;
    left: 344px;
    padding:5px 10px;
    z-index:99999;
}
.zdzbwj_tips02 {
    border:1px solid #FFC46A;
    background:#FFFFD7;
    width:200px;
    line-height:180%;
    font-size:12px;
    color:black;
    position: absolute;
    top: 115px;
    left: 654px;
    padding:5px 10px;
}
.zdzbwj_tips03 {
    border:1px solid #FFC46A;
    background:#FFFFD7;
    width:200px;
    line-height:180%;
    font-size:12px;
    color:black;
    position: absolute;
    top: 115px;
    left: 960px;
    padding:5px 10px;
}
.zdzbwj_tips04 {
    border:1px solid #FFC46A;
    background:#FFFFD7;
    width:400px;
    line-height:180%;
    font-size:12px;
    color:black;
    position: absolute;
    top: 50px;
    left:404px;
    padding:5px 10px;
}
.pop_alert {
    width:200px;
    padding:10px 20px;
    color:red;
    border:1px solid red;
    line-height:180%;
    font-size:12px;
    background:#fff;
    margin-top:10px;
}
.pop_ok {
    width:200px;
    padding:10px 20px;
    color:black;
    border:1px solid black;
    line-height:180%;
    font-size:12px;
    background:#fff;
    margin-top:10px;
}
.treergt {
    margin-left:15px;
    margin-top:15px;
}
.tree02 {
    position: absolute;
    top: 195px;
    left: 244px;
}
.scrolldiv {
    width: 100%;
    overflow: auto;
}
.kgmsg {
    border:1px solid #9BC2E1;
    background:#DFEFFD;
    width:300px;
    line-height:150%;
    font-size:12px;
    color:black;
    position: absolute;
    padding:5px 10px;
}
.display_none {
    display:none;
}
.tabtable {
    background:url(../images/tabbbb1.jpg) top repeat-x;
}
.convention_tab3 {
    clear:both;
    padding-left:15px;
    float:left;
    margin:0px;
    overflow:hidden;
    padding-right:0px;
    float:left;
    font-size:12px;
    line-height:130%;
    list-style: none;
}
.convention_tab3 li {
    float:left;
    background:url(../images/tab3_2.jpg) no-repeat;
    margin:0;
    text-align:center;
    width:125px;
    line-height:29px;
    margin-top:9px;
    margin-right:3px;
}
.convention_tab3 li a, .convention_tab2 li.normal_tab2 b {
    display:block;
    color:#333;
    text-decoration: none;
    font-size:12px;
}
.convention_tab3 li.current_tab_s {
    background-image:url(../images/tab3_1.jpg);
    font-weight: bold;
}
.convention_tab3 li.current_tab_s a {
    color:#000;
    text-decoration: none
}
#cardarea3 {
    clear:both;
    border:1px solid #999;
    border-top:none;
    padding:10px;
}
.popdiv1 {
    border:1px solid #AFBDC8;
    background:white;
    width:250px;
    padding:10px 10px;
    position: absolute;
    top: 15px;
    left: 235px;
    z-index:99999;
}
.popdiv2 {
    border:1px solid #AFBDC8;
    background:white;
    width:250px;
    padding:10px 10px;
    position: absolute;
    top: 100px;
    left: 500px;
    z-index:99999;
}
.popdiv3 {
    border:1px solid #AFBDC8;
    background:white;
    width:250px;
    padding:10px 10px;
    position: absolute;
    top: 50px;
    left: 800px;
    z-index:99999;
}
.popdiv4 {
    border:1px solid #AFBDC8;
    background:white;
    width:150px;
    padding:10px 10px;
    position: absolute;
    top: 55px;
    left: 285px;
    z-index:99999;
}
.popdiv5 {
    border:1px solid #AFBDC8;
    background:white;
    width:250px;
    padding:10px 10px;
    position: absolute;
    top: 55px;
    left: 805px;
    z-index:99999;
}
.popdiv6 {
    border:1px solid #AFBDC8;
    background:white;
    width:250px;
    padding:10px 10px;
    position: absolute;
    top: 90px;
    left: 190px;
    z-index:99999;
}
.popdiv7 {
    border:1px solid #AFBDC8;
    background:white;
    width:250px;
    padding:10px 10px;
    position: absolute;
    top: 120px;
    left: 855px;
    z-index:99999;
}
.popdiv8 {
    border:1px solid #AFBDC8;
    background:white;
    width:150px;
    padding:10px 10px;
    position: absolute;
    top: 85px;
    left: 285px;
    z-index:99999;
}
.popdiv9 {
    border:1px solid #AFBDC8;
    background:white;
    width:250px;
    padding:10px 10px;
    position: absolute;
    top: 85px;
    left: 855px;
    z-index:99999;
}
.popdiv10 {
    border:1px solid #AFBDC8;
    background:white;
    width:250px;
    padding:10px 10px;
    position: absolute;
    top: 120px;
    left: 190px;
    z-index:99999;
}
.popdiv_close {
    text-align:right;
}
/*2012-6-11*/
.idx_tb01 {
    padding:0px 10px 6px 10px;
    background:url(../images/idx_tb02.jpg) top left repeat-x;
    border:1px solid #ccc;
}
.idx_tb01_title {
    margin-bottom:15px;
    height:28px;
    font-weight:bold;
    line-height:30px;
    overflow:hidden;
    color:#1E5A7E;
    padding-left:19px;
    font-size:14px;
    margin-top:1px;
}
.idx_tb01_title span {
    font-weight:normal;
    padding-left:30px;
    color:#333;
    font-size:12px;
}
.idx_tb01_list {
    margin-bottom:8px;
    border-collapse:collapse;
    border-spacing:0;
}
.idx_tb01_list th {
    background:#f6f6f6;
    height:25px;
    padding:4px 6px 4px 6px;
    font-size:14px;
}
.idx_tb01_list td {
    border-bottom:1px dashed #ccc;
    line-height:12px;
    height:25px;
    padding-top:5px;
    padding-bottom:4px;
    font-size:12px;
}
.idx_tb01_list td.idx_tb01_list_01 {
    padding-left:20px;
    background:url(../images/icon_dot.gif) 10px 15px no-repeat;
}
.idx_tb01_list td.idx_tb01_list_01 img {
    padding-left:4px;
}
.idx_tb01_list tr:hover td {
    background-color:#f4f4f4
}
/*2012-7-13 alert*/

.alert_box {
    padding: 5px;
    width: 540px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.alert_box_inner {
    border: 1px solid #adcbde;
    padding-top: 1px;
}
.alert_title {
    background: url(../images/alert_title_bg.png) repeat-x;
    height: 36px;
    border-bottom: 1px solid #0068b8;
}
.alert_title span {
    display: block;
    padding: 7px 0px 0px 46px;
    height: 27px;
    font-size: 14px;
    font-weight: bold;
    background: url(../images/alert_icon_warning.png) no-repeat 10px 5px;
}
.alert_content {
    padding: 20px 30px 20px 30px;
    min-height: 60px;
    color: #f86f00;
}
.alert_content a {
    color: #f86f00;
}
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    font-size: 14px;
    /* prevent horizontal scrollbar */
            overflow-x: hidden;
}
/* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
        * html .ui-autocomplete {
    height: 300px;
    font-size: 14px;
}
.ui-autocomplete-loading {
    background: white url('images/Loading_throbber.png') right center no-repeat;
}
.ui-autocomplete-input {
    font-size: 14px;
}
.ui-autocomplete ui-front {
    font-size: 14px;
}
.logincenter {
    background:  url(../images/pic3.jpg) right center no-repeat;
}
.btmbtn {
    clear:both;
    text-align:center;
    margin-top:10px;
}
.btmbtn .dfbtn_3 {
    width:65px;
    cursor:pointer;
    text-align:center;
    padding-left:0;
    padding-right:0px;
    overflow:visible;
}
.table10 {
    margin-bottom:6px;
}
.maintitle {
    /*height:32px;*/
    position: relative;
    margin-top:10px;
    background:url(../images/divh3_hx.png) bottom right no-repeat;
}
.maintitle td {
    vertical-align: bottom;
    background:url(../images/divh3_hx_left.png) no-repeat left bottom
}
table td div.desall {
    line-height:200%;
    margin-top:10px;
    margin-bottom:10px;
}
.divh3 .dfbtn_chs {
    padding-left:4px;
    padding-right:4px;
    margin-left:2px;
}
.divh3 .inputxzgs {
    padding-left:6px;
    padding-right:6px;
    width:200px;
    margin-left:0;
}
/*华夏登录*/
/*login page*/
.login {
    background:#595757 url(../images/banner.jpg) top center no-repeat;
}
.login_wrapper {
    width:1000px;
    height:530px;
    margin-left:auto;
    margin-right:auto;
}
.login_table {
    float:right;
    margin-top:128px;
}
.login_table_td {
    background:#9FA0A0;
    font-size:14px;
    color:black;
}
.login_table_td input {
    font-size:14px;
    border:none;
    background:none;
    margin-left:6px;
    width:180px;
}
.loginalert {
    margin-top:4px;
    color:white;
}
.login_table_td_btn {
    background:#BF000A;
    text-align:center
}
.login_table_td_btn input {
    background:#BF000A;
    border:none;
    width:240px;
    text-align:center;
    color:white;
    cursor:pointer;
    height:23px;
    outline:0;
    border-color:transparent!important;
}
/*pop成立招标小组*/
.pop_clzbxz {
    width:906px;
    height:600px;
    position:absolute;
    z-index:9999;
    top:50%;
    left:50%;
    margin:-300px 0 0 -453px;
    background:white
}
.pop_clzbxzjbr {
    width:906px;
    height:600px;
    position:absolute;
    z-index:9999;
    left:40px;
    top:20px;
    background:white
}
.pop_hbzbfa {
    width:900px;
    height:300px;
    position:absolute;
    z-index:9999;
    left:50px;
    top:80px;
    background:white
}
/*授权*/
.sqwrapper {
    background: url(../images/sqwrapper.jpg) top repeat-x;
}
.convention_sqgl {
    clear:both;
    margin:5px 0 0 20px;
    overflow:hidden;
    float:left;
    font-size:12px;
}
.convention_sqgl li {
    float:left;
    display:block;
    font-size:14px;
    margin-right:8px;
    cursor:pointer;
    font-size:14px;
    overflow:hidden;
    font-weight:bold;
    line-height:20px;
    border:1px solid #D8D8D8;
    padding:4px 20px 4px 20px;
}
.convention_sqgl li a, .convention_sqgl li.normal_tab b {
    display:block;
    background:url(../images/right.gif) no-repeat right top;
    text-decoration:none;
    color:#333;
}
.convention_sqgl li.current_tabsq {
    background:#fff;
    border-bottom:1px solid white;
}
.convention_sqgl li.current_tab a {
    color:#B61224;
}
#cardarea_sqgl {
    clear:both;
    border-top:none;
    padding-top:5px;
    padding-bottom:10px;
}



/*选择样式2014-05-18*/
.popgsfl_title {
    background:#BF0008;
    height:32px;
    position: relative;
    width:900px;
    overflow:hidden;
}
.popgsfl_title {
    color:white;
}
.popgsfl_title a {
    color:white;
}
.popgsfl_title td a:hover {
    text-decoration:none;
}
.popgsfl_title_h1 {
    float:left;
    font-size:14px;
    padding-left:15px;
    font-weight:bold;
    letter-spacing:2px;
    line-height:34px;
}
.popgsfl_title_close {
    position: absolute;
    top:4px;
    right: 10px;
}
.popgsfl_title_close a {
    margin-left:5px;
    margin-right:5px;
    text-decoration:none;
    color:white;
    text-align:center;
    display:block;
    float:left;
    line-height:16px;
    padding-top:3px;
    padding-bottom:3px;
    font-weight:bold;
}
.popgsfl_con {
    border:1px solid #B6B6B6;
    padding:10px 9px;
    width:580px;
}
.popgsfl_con_search {
    padding-bottom:5px;
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}
.popgsfl_con_search input {
    width:165px
}

/*2014-05-18*/
.popleft {
    border:1px solid #ccc;
}
.popright {
    border-bottom:1px solid #ccc;
    background:url(../images/popright.png) repeat-y;
}
.pop_msgww {
    color:red;
    font-weight:bold;
    padding-left:5px;
    padding-right:5px;
}
.pop_msgalert {
    border:1px solid #FFDB8D;
    background:#FFF7E1 url(../images/icon_msgalert.png) 9px 9px no-repeat;
    padding:5px 15px 5px 50px;
    width:583px;
    margin-top:10px;
    margin-bottom:10px
}

.pop_msgalert_long {
    border:1px solid #FFDB8D;
    background:#FFF7E1 url(../images/icon_msgalert.png) 9px 9px no-repeat;
    padding:15px 15px 15px 50px;
    width:833px;
    margin-top:10px;
    margin-bottom:10px
}

.popbtn img {
    margin-bottom:10px
}

.disabledTr{
	color: red;
}
.disabledTr td{
	color: red;
}
.disabledTr td a{
	color: red;
}
.disabledTr td input{
	color: red;
}

/*审批页面相关start*/

/*2012-8-7 修改title标签样式*/
.divh5 {
    /*height:32px;*/
    position: relative;
    margin-top:16px;
    background:url(../images/divh3_hx.png) no-repeat right bottom;
}
*html .table02 td .divh5 td {
    padding:0px;
}
*:first-child+html .table02 td .divh5 td {
    padding:0px;
}
.divh5 td {
    vertical-align: bottom;
    background:url(../images/divh5_hx_left.png) no-repeat left bottom
}
.divh5_title {
    color:#444;
    font-size:14px;
    /*width:490px;*/
    text-align:left;
    font-weight:bold;
    height:31px;
    line-height:33px;
    overflow:hidden;
    padding-left:2px;
    float:left;
    margin-left:7px;
    padding-right:21px;
    color:#333;
}

.convention_tab_new {
    margin:0px 0 0 0;
    overflow:hidden;
    padding-right:0px;
    float:left;
    font-size:12px;
    line-height:120%;
    margin-top:0px;
    width:450px;
}
.convention_tab_new li {
    float:left;
    margin:0;
    width:100px;
    text-align:center;
    font-size:16px;
    background: url(../images/cur120r.jpg) right top no-repeat;
    
}
.convention_tab_new li a, .convention_tab_new li.normal_tab b {
    display:block;
    text-decoration:none;
    color:#333;
    padding-top:9px;
    line-height:20px;
    padding-bottom:8px;
    font-weight:bold;
    
}
.convention_tab_new li.current_tabsr {
    background: url(../images/cur120.jpg) right top no-repeat;
}
.convention_tab_new li.current_tabsr a {
    color:#CD3501;
}
#cardarea_new {
    clear:both;
    
}

.sp_wrapper{padding-top:62px;}
.sp_wrapper_left{float:left;width:900px;padding-left:5px;padding-right:5px;}
.sp_wrapper_right{ position:fixed;left:910px;top:68px;width:340px;padding-right:2px;}


.wdtable_title_sp {
    background:#FBF3EA;
    height:32px;
    position: relative;
    width:1250px;
    position:fixed;
    z-index:99;
    text-align:right;
    padding-top:4px;
}

.wdtable_title_sp a {
    color:white;
    text-decoration:none;
}

.wdtable_title_sp_t {
    float:left;
    font-size:14px;
    padding-left:15px;
    font-weight:bold;
    letter-spacing:2px;
    padding-top:8px;
}
.wdtable_title_sp_tool {
    float:right;
    right: 10px;
    font-size:14px;
    padding-top:4px;
}
.wdtable_title_sp_tool a {
    margin-left:5px;
    margin-right:5px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    padding-left:4px;
    padding-right:4px;
}
.spttt {
    font-size:22px;
    font-weight:bold;
    text-align:center;
    line-height:50px;
    height:38px;
    position:fixed;
    top:38px;
    z-index:99;
    background:white;
}
.spHistoryCreate td {background-color: #EBEBEB;}
.spHistoryRunning td {background-color: #AFEEEE;}
.spHistoryComplete td {}

.spHistoryDivCreate {background-color: #EBEBEB;}
.spHistoryDivRunning {background-color: #AFEEEE;}
.spHistoryDivComplete {}

.dbmsg{margin-top:10px;
    margin-bottom:20px;}
.dbmsg td{font-size:14px;}
.sptj{
    background: #EE5555;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
    height: 40px;
    width: 200px;
    font-size: 14px;
    cursor: pointer;
}

@media Print {
	.Noprn {
		DISPLAY: none;
	}
	
	#sp_wrapper_left{
		margin:0px auto !important;
	}
	
	.xy_01{
		    border-collapse: collapse;
		    border:1px #ccc solid;
	}
	
	.xy_01 th{
		
		background: #f2f2f2;
		height: 24px;
	}
	
	.xy_01 th,.xy_01 td{
		border:1px #ccc solid;
		text-align:center;
		padding:4px 6px 4px 6px;
	}
	
	#fileQueue td,#fileQueue1 td{
     	border:none !important;
    }
    
    #chkDraftBefore th,#chkDraftAfter th{
     	border:1px solid #ccc;
     }

/* 	.form_title {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		line-height: 36px;
		height: 36px;
		filter: Alpha(Opacity=50); for IE
		background-color: rgba(0, 0, 0, 0.5); for FF
	} */
}
/*审批页面相关end*/