
body{
    background: none repeat scroll 0 0 #fff;
    font-size:12px;
}

img {
	border-style: none;
}

.hide{
    display:none;
}
table{
    cellspacing:0;
    cellpadding:0;
    border-collapse: collapse;
}
.f_l{
    float:left;
}
.f_r{
    float:right;
}


.fill{
    width:100%;
    height:100%;
}

#daiban{
    position:absolute;
    top:0;
    left:0;
    width:700px;
    height:280px;
}
#kuaijiecaidan{
    position:absolute;
    top:0;
    width:550px;
    height:35px;
	border-bottom:0px;
	 
}


#report{
    position:absolute;
    top:295px;
    left:0;
    width:1270px;
    height:205px;
}

/*应用于tab*/
table.border{
   /* border:solid 1px #bbbbbb;*/
	border-top:solid 1px #bbbbbb;
	border-left:solid 1px #bbbbbb;
	border-right:solid 1px #bbbbbb; 	
}

/*应用于tab*/
table.border1{
  
    border-top:solid 1px #bbbbbb;
	border-left:solid 1px #bbbbbb;
	border-right:solid 1px #bbbbbb;
}

table.border2{
	border-left:solid 1px #bbbbbb;
	border-right:solid 1px #bbbbbb;
	border-bottom:solid 1px #bbbbbb;
}

td.tab{
    width:80px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

td.selected{
    background:#ffffff;
    font-weight:bold;
    border-top:solid 2px #ff0000 !important;
    border-left:solid 1px #bbbbbb;/*#95B8E7*/
    border-right:solid 1px #bbbbbb;
}

td.unselected{
    background:#e8e8e8;/*E0ECFF*/
    border-bottom:solid 2px #bbbbbb;
    cursor:pointer;
}
td.tabContent{
    border-bottom:solid 1px #bbbbbb;
}
ul.tabContent li{
    height:31px;
}

#daiban a:link,#daiban a:visited,#daiban a:active,#kuaijiecaidan a:link,#kuaijiecaidan a:visited,#kuaijiecaidan a:active {
    color:#000000;
    text-decoration:none;
}
#daiban a:hover,#kuaijiecaidan  a:hover{
    color:#0000ff;
    font-weight:bold;
    text-decoration:none;
}

/*快捷菜单样式*/
#kuaijiecaidan td.menuIcon{
    text-align:center;
}
#kuaijiecaidan td.menuIcon:hover{
    /*background:#ccc;*/
}

#kuaijiecaidan img.menuIcon:hover{
    filter: brightness(0.6);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(0.6);
    -ms-filter: brightness(100%);
    -o-filter: brightness(100%);
}


img.menuIcon{
    width:60px;
    height:60px;
    margin-bottom: 5px;
}

/*报表块区*/
#report div.report{
    border:solid 1px #bbbbbb;
    width:241px;
    height:190px;
    margin-left:5px;
    margin-right:5px;
    background:#E8E8E8;
}
#report div.report:hover{
    border:solid 1px #0070a9;
    background:#cccccc;
}
#report td.title{
    text-align:center;
    vertical-align: middle;
    font-size:16px;
    font-weight:bold;
    height:20px;
}
#report td.describe{
    text-indent:2em;
}
#report a:link,#report a:visited ,#report a:active {
    color:#0070a9;
    text-decoration:none;
}
#report a:hover {
    color:#0000ff;
    font-weight:bold;
    text-decoration:none;
}

.tabContentDesk{
    width: 120%;
}
ul.tabContentDesk li{
    height:31px;
    font-size: 12px;
}

#tabContentDesk a:link,#tabContentDesk a:visited,#tabContentDesk a:active,#kuaijiecaidan 

a:link,#kuaijiecaidan a:visited,#kuaijiecaidan a:active {
    color:#000000;
    text-decoration:none;
}
#tabContentDesk a:hover,#kuaijiecaidan  a:hover{
    color:#0000ff;
    font-weight:bold;
    text-decoration:none;
}
