.img_zone {
	background-image: url(../images/icons/zone.png) !important;
}

.img_orgn {
	background-image: url(../images/icons/orgn.png) !important;
}

.img_role {
	background-image: url(../images/icons/role.png) !important;
}

.img_user {
	background-image: url(../images/icons/user.png) !important;
}


.img_bizp {
	background-image: url(../images/icons/group.png) !important;
}

.icon-shortcut-light{
	background:url('../images/icons/shortcut-light.png') no-repeat center center;
}

.icon-shortcut-dark{
	background:url('../images/icons/shortcut-dark.png') no-repeat center center;
}

.iconcompany {
	background-image: url(../images/icons/company.png) !important;
}

.icondepartment {
	background-image: url(../images/icons/orgn.png) !important;
}

.icongroup {
	background-image: url(../images/icons/group.png) !important;
}

.iconrole {
	background-image: url(../images/icons/role.png) !important;
}

.iconuser {
	background-image: url(../images/icons/user.png) !important;
}