/*公共样式*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, applet, big, cite, font, ins, kbd, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center {
    margin:0;
    padding:0;
    border:none;
    outline:0;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
}

input, button {
    width:auto;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
    font-size:12px;
}

body{
    background: none repeat scroll 0 0 #fff;
    font-size:12px;
    margin:0;
    padding:0;
    background-color:transparent;
}
img{ 
	border-style:none; 
}

.hide{
    display:none;
}
table{
    cellspacing:0;
    cellpadding:0;
    border-collapse: collapse;
}
.f_l{
    float:left;
}
.f_r{
    float:right;
}
.f_w{
    width:100%;
}
.f_h{
    height:100%;
}
.fill{
    width:100%;
    height:100%;
}

.layout_center{/*核心内容居中并显示为960的宽度*/
    margin:0 auto;
    width:1200px;
}
.clearfix {
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.zero{/*为解决float在firefox中有时不能正确对齐而插入的一个空元素*/
    height:0;
    content:".";
}
.center{
    text-align:center;
}
.right{
    text-align:right;
}
.red{
    color:#ff0000;
}

a:link {
    color:#888888;
    text-decoration:none;
}
a:visited {
    color:#888888;
    text-decoration:none;
}
a:hover {
    color:#ff0000;
    text-decoration:none;
}
a:active {
    color:#888888;
    text-decoration:none;
}

.rotate180{
    /*transform:rotate(180deg);*/
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    /*-o-transform:rotate(180deg);*/ /* Opera */
    /*-ms-transform:rotate(180deg);*/ /* Internet Explorer */
    filter: progidXImageTransform.Microsoft.BasicImage(rotation=180);
}

img{
    vertical-align:middle;
}

.testborder{
    border:solid 1px #ff0000;
}




/*顶部按钮栏*/
#toolbarContainer{
    min-width:960px;
    height:24px;
    line-height:24px;
    background:#f9f9f9   /*#f2f2f2*/;
}
.toolbar_icon{
    width:18px;
    height:16px;
}

#about,#logoff,#editpassword,#operator,#message,#hideLogo{
    margin-left:20px;
    color:#888;
    padding-top:8.5px;
}
#messagenumber{
    padding-top:8.5px;
}

#about:hover,#logoff:hover,#editpassword:hover,#operator:hover,#message:hover,#hideLogo:hover{
    color:#0000ff;
    cursor:pointer;
}

/*logo和搜索区*/
#logoContainer{
    height:80px;
}

#company{/*公司名称*/
    font-size:45px;
    color:#2282B4;
    font-weight:bold;
    cursor:pointer;
}

#search{/*搜索框容器，含按钮*/
    width:600px;
}

#searchText{/*搜索框*/
    width:400px;
    height:30px;
    line-height:30px;
    color:#e2e2e2;
    vertical-align:middle;
    border-top:solid 1px #8CBFD9;
    border-bottom:solid 1px #8CBFD9;
    border-left:solid 1px #8CBFD9;
    border-right:solid 1px #0070A8;
    border-radius:5px 0 0 5px;
    behavior:url(PIE.htc);
}
#searchButton{/*搜索按钮*/
    width:60px;
    height:30px;
    line-height:30px;
    vertical-align:middle;
    text-align:center;
    border:solid 1px #0070A8;
    background:#0070A8;
    color:#ffffff;
    cursor:pointer;
    border-radius:0 5px 5px 0;
    behavior:url(PIE.htc);
}



/*导航区*/
#navContainer{
    height:35px;
}

#navIconContainer{
    width:30px;
    margin-left:5px;
}

.navIcon{
    width:25px;
    height:30px;
}


/*内容部分，由一个iframe组成，iframe中链接的网页在菜单点击时动态获取，由各个业务系统提供*/
#erp_body{
    margin-left:auto;
    margin-right:auto;
    min-height:440px;
}
#main{
	min-height:440px;
    width:100%;
    border:0;
    frameborder:0;
    scrolling:no;
    allowtransparency:true;
    background-color:transparent;
}


/*菜单区*/
#menuContainer{
    height:35px;
    background:#0070a8;
	-moz-box-shadow:0 2px 4px rgba(0,0,0,.24); /* old Firefox */
	box-shadow:0 2px 4px rgba(0,0,0,.24); /* #B2B2B2*/
}

#module{/*模块名称区大小*/
    width:120px;
    height:35px;
    /*background:#E72B2C;*/
    color:#ffffff;
    overflow:hidden;
    padding:0 5px 0 10px;
}


#menuList{/*菜单区大小*/
    min-width:600px;
    height:35px;
    text-align:left;
    color:#333333;
    overflow:hidden;
}
img.moduleDown{/*模块下拉按钮*/
    width:15px;
    height:15px;
}


/*菜单样式*/
.moduleBackground{/*鼠标没在其上时，模块名称的背景色*/
    background:#E72B2C;
}
.moduleBackground_mousemove {/*鼠标在其上时，模块名称的背景色和鼠标形状*/
    background: #ff0000;
    cursor:pointer;
}

.menuBackground_mouseMove {/*鼠标在其上时，菜单的背景色和鼠标形状*/
    background: #0070b9;
    cursor:pointer;
}
.moduleItemBackground_mouseMove{/*鼠标在其上时，模块列表项的背景色和鼠标形状*/
    background: #0070a9;
    cursor:pointer;
	color:#fff;
}

.menuItemBackground_mouseMove{/*鼠标在其上时，模块列表项的背景色和鼠标形状*/
    background: #0070a9;
    cursor:pointer;
	color:#fff;
}
.menu{/*一个菜单所占的宽度*/
    width:112px;
    color:#ffffff;
}


.moduleList{/*模块下拉列表的边框、背景*/
    border:solid 1px #ccc;
    background:#fff;/*#E0ECFF*/;
	-moz-box-shadow:0 1px 4px rgba(0,0,0,.24); /* old Firefox */
	box-shadow:0 1px 4px rgba(0,0,0,.24);
}

.moduleList table{
    width:100%;
}

.moduleList table tr td{/*模块下拉列表中每一行的高度，及左侧留白量*/
    height:30px;
    padding-left:20px;
}


.menuItemList{/*菜单项下拉列表的边框、背景*/
    border:solid 1px #ccc;
    background:#FFF/*#E0ECFF*/;
	-moz-box-shadow:0 1px 4px rgba(0,0,0,.24); /* old Firefox */
	box-shadow:0 1px 4px rgba(0,0,0,.24);

}

.menuItemList table{
  
    width:100%;
}

.menuItemList table tr td{/*菜单项下拉列表中每一行的高度，及左侧留白量*/
    height:30px;
}
.dashed{/*上边框虚线，用于模块下拉列表、菜单项列表*/
    /*border-top:dashed 1px #ccc;*/
}


