.sahomepage{margin:10px 0px;;}
.sahomepage_td_title{ line-height:30px;background:#e8e8e8;color:black; font-weight:bold;width:575px;}
.sahomepage_td_title em{ display:inline-block; background:url(../images/f_icon01.gif) no-repeat; background-position:0 0; width:10px; height:10px; margin:0 12px;}
.sahomepage_td_body{border:1px solid #bbbbbb;border-top-width:0px;height:175px;	padding:3px;5px;width:569px;}
.leftpart{padding-right:10px;height:220px;vertical-align:top;}
.rightpart{padding-left:10px;height:220px;vertical-align:top;}