/* CSS Document */

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,select{padding:0; margin:0;font-family:'微软雅黑',Arial,Helvetica,Arial,sans-serif; font-size:12px;color:#5B5B5B;}
body,button,input,select,textarea{ padding:0; margin:0;}
table{border-collapse:collapse;border-spacing:0;}
ul,li{ margin:0px; padding:0px; list-style:none; }
*{ margin:0; padding:0;}
.undis {display:none;}
i{ font-style:normal; font-weight:normal;}
b{ font-style:bold; font-weight:normal;}
ul,ol{ list-style-type:none;}
li{ vertical-align:top;}
img{vertical-align:top; border:0;}
/*娓呴櫎鍒楄〃娴姩*/
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}
input{outline:none;}
font{ }
em,i{ font-style:normal;}
/*html{ overflow-x:hidden;}*/
* html .clearfix {height: 1%;}
.clear{ clear:both; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,p,{ margin:0; padding:0;  font-weight:normal;}

.clear{ clear:both; margin:0; padding:0;}
a{outline:none;color:#5B5B5B;text-decoration:none;}
a:hover{ color: #f60;text-decoration: none; outline:none;}
a:active{outline:none;}
a:visited{outline:none;}
/*棰滆壊*/
.col0070c0{ color:#0070c0}
.col0070c0:hover{ color:#f60}
.colf00{ color:#f00;}
/*闂磋窛*/
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt50{ margin-top:50px;}
.mb8{ margin-bottom:8px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.m1200{ margin-left:200px;}
.mr5{ margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml80{margin-left:80px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt70{padding-top:70px;}
.pt80{padding-top:80px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl40{padding-left:40px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pb5{padding-bottom:5px;}
.pb8{padding-bottom:8px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
/*灞呬腑*/
.tac{ text-align:center;}
.tar{text-align:right;}
.po_r{ position:relative;}
.po_a{ position: absolute;}
/*琛岄珮*/
.lh24{ line-height:24px;}
/*瀛楀彿*/
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
.yahei{font-family:'微软雅黑';}
/*娴姩*/
.fl{ float:left;}
.fr{ float:right;}
/*缁撴瀯*/
.dis_b{ display:block;}
.dis_i_b{ display: inline-block;text-overflow:ellipsis; white-space:nowrap;}
.dis_n{ display:none;}
body{ width:100%; margin:0; font-family:'微软雅黑',arial; font-size:12px; color:#5B5B5B;}
/*鎴挎簮姒傚喌*/
.wrap{ min-width:1024px; margin:0 auto;}
.main{ padding:0 10px;min-width:1004px; }
.fy_tab01{ height:38px; background:#f1f1f1; border-bottom:1px #ddd solid;margin-bottom: 4px;}
.fy_tab01 ul{ float:left; border-top:1px #ddd solid;}
.fy_tab01 ul li{ border-left:1px #dddddd solid; border-right:1px #dddddd solid; margin-left:-1px; float:left; font-size:16px;padding:0 20px; cursor:pointer; height:37px; line-height:37px;}
.fy_tab01 ul li.fy_current{ background:#fff; border-top:3px #0070c0 solid; font-weight:bold; position:relative; height:35px; line-height:35px;}

.fy_select{ border:1px #ddd solid;margin:0px 0px 4px 0px;}
.fy_selected{padding:0 10px 0px 10px; min-height:35px; background:#f4f4f4; }
.fy_selected dl{ float:left;}
.fy_selected dl dt{float:left; width:70px; padding-top:9px;}
.fy_selected dl dd{ float:left;}
.fy_selected dl dd span{ display:inline-block; background:#fff; border:1px #ddd solid; line-height:24px; vertical-align:middle; padding:0 7px;text-overflow:ellipsis; white-space:nowrap;margin:5px 10px 0 0; cursor:pointer;}
.cloe_1{ display:inline-block;background:url(../images/f_icon01.gif) no-repeat; background-position:0 -197px;width:8px; height:8px; margin:0 1px 0 11px; cursor:pointer; *vertical-align:middle;}
.cloe_1:hover{background-color:#ddd;}
.fy_allClear{ float:right;padding:12px 6px 0 0;*width:82px;}
.fy_up{ display:inline-block;background:url(../images/f_icon01.gif) no-repeat; background-position:0 0;height:9px; margin:0 0 0 24px; cursor:pointer;}
.fy_down{background:url(../images/f_icon01.gif) no-repeat;  background-position:0 -222px;}
#close_all{ cursor:pointer;}

.fy_class{border-top:1px #f0f0f0 solid; padding:0 10px; height:34px; overflow:hidden; }
.fy_class dl{ float:left;}
.fy_class dl dt{ float:left; width:70px; padding-top:10px;}
.fy_class dl dd{float:left; width:820px;}
.fy_class dl dd a{display:inline-block;line-height:24px; vertical-align:middle; padding:0 7px;text-overflow:ellipsis; white-space:nowrap;margin:5px 10px 2px 0;}
.fy_class dl dd a.fy_active{ background:#0070c0; color:#fff;}
.fy_classMore{float:right;padding:12px 6px 0 0; cursor:pointer; }
.fy_more{display:inline-block;background:url(../images/f_icon01.gif) no-repeat; background-position:0 -36px;width:10px; height:5px; margin:0 0 0 24px; cursor:pointer; *vertical-align:middle;}

.fy_moreFilter{ text-align:center; height:34px; line-height:34px;background:#fbfbfb; cursor:pointer; color:1d1d1d;border-top:1px #f0f0f0 solid;}

.fy_ldList{ background:#f4f4f4; border:1px #ddd solid; margin:0px 0 0 0;}
.fy_ldList dl{}
.fy_ldList dl dt{ float:left; font-size:14px; font-weight:bold; padding:7px 0 0 15px; color:#5b5b5b;}
.fy_ldList dl dd{ float:right; padding:5px;}
.fy_ldList dl dd ul{}
.fy_li01,.fy_li02,.fy_moreOpen{ float:left; border:1px #ddd solid; height:24px; line-height:24px;margin-left:8px; padding:0 12px; cursor:pointer;}
.fy_li01:hover,.fy_li02:hover,.fy_moreOpen:hover{ background:#fbfbfb;}
.fy_li01 em,.fy_li02 em,.fy_moreOpen em{ display:inline-block;background:url(../images/f_icon01.gif) no-repeat;width:16px; height:15px;margin-right:6px; vertical-align:middle;}
.fy_li01 em{ background-position:0 -65px;}
.fy_li02 em{ background-position:0 -98px;}
.fy_moreOpen em{ background-position:0 -132px;}
.fy_ldList dl dd ul li.fy_moreOpen{ position:relative; z-index:99;}
.fy_ldList dl dd ul li.fy_moreOpen p{ position:absolute; top:25px; left:-1px; background:#f4f4f4; border:1px #ddd solid;border-top:0;  display:none;padding-top:3px; z-index:99;padding-right: 7px;}
.fy_ldList dl dd ul li.fy_moreOpen p a{ display:block;padding-left:28px;border-bottom:1px #ddd solid; margin:0 5px;}
.fy_ldList dl dd ul li.fy_moreOpen p a:hover{background:url(../images/f_icon01.gif) no-repeat;background-position:14px -160px;}

.fy_table{ padding:0 0; margin-top:-1px;}
.fy_table01{ border:1px #ddd solid; border-collapse:collapse;}
.fy_table01 th{ background:#fbfbfb; border:1px #ddd solid; height:42px; line-height:42px; text-align:center;}

.tree-F ul{height:32px;border:1px #ddd solid;border-top:none;}
.tree-F li{  height:32px; line-height:32px; text-align:left; float:left;}
/*瀹藉害*/
.w170{  width:170px;}
.w_right{ width:835px;position:relative;border-left:1px #ddd solid; text-align:right;}
.w_right span{ display:inline-block;}
.tree-F{}
.tree-down,.tree-F .tree-C .tree-down,.tree-F .tree-C .tree-S .tree-down,.tree-up,.tree-F .tree-C .tree-up,.tree-f-down,.tree-f-up{ background:url(../images/tree.gif) no-repeat; display:block; height:30px; padding-left:28px;background-position:8px 8px; cursor:pointer;}
.tree-down{  padding-left:25px;background-position:8px 8px;}
.tree-F .tree-C .tree-down{padding-left:38px;background-position:18px 8px;}
.tree-F .tree-C .tree-S .tree-down{padding-left:55px;background-position:38px -26px;}

.tree-up{background-position:8px -86px;}
.tree-F .tree-C .tree-up{padding-left:38px;background-position:18px -86px;}

.tree-f-down{background-position:8px -118px;}
.tree-f-up{background-position:8px -86px;}
/*鏂板鏇存柊瀹㈡埛鏈轰細*/
.newAddFy_fd{ background:#f1f1f1; height:38px; border-bottom:1px #ddd solid;}
.newAddFy_fd h2{ float:left; line-height:38px; padding-left:10px; font-size:16px; font-weight:bold;}
.newAddFy_fd dl{ float:right; padding-top:3px;}
.newAddFy_fd dl dt,.newAddFy_fd dl dd{ float:left; width:100px;}
.newAddFy_fd dl dt a,.newAddFy_fd dl dd a{ display: inline-block; background:#f4f4f4; border:1px #ddd solid; text-align:center; width:90px; height:30px; line-height:30px;}
.newAddFy_fd dl dt a:hover,.newAddFy_fd dl dd a:hover{background:#fff;}
.newAddFy_fd dl dt a em,.newAddFy_fd dl dd a em{ display:inline-block; width:17px; height:30px; background:url(../images/newAddFy01.png) no-repeat; vertical-align:top;margin-right:5px;}
.newAddFy_fd dl dt a em{background-position:0 6px;}
.newAddFy_fd dl dd a em{ background-position:0 -60px;}

.newAddFy_box{margin-top:4px;}
.newAddFy_title{ height:32px; line-height:32px; border:1px #d0e6e6 solid; background:#f0f7f7; font-weight:bold; margin-bottom:-1px; position:relative; cursor:pointer;}
.newAddFy_title span{ cursor:pointer;}
.newAddFy_title em{ display:inline-block; background:url(../images/f_icon01.gif) no-repeat; background-position:0 0; width:10px; height:10px; margin:0 12px;}
.newAddFy_cont{ position:relative; }
.newAddFy_cont table{border:0px #ddd solid; border-collapse:collapse; table-layout:fixed;}
.newAddFy_cont table td{ height:31px; line-height:31px;border:1px #ddd solid; }     /*  */ 

.newAddFy_input01{ border:1px #abadb3 solid; height:23px; line-height:23px; width:330px; padding:0 8px; background:#fff;}
.newAddFy_input02{ border:1px #abadb3 solid; height:23px; line-height:23px; width:832px; padding:0 8px; background:#fff;}
.newAddFy_input03{ border:1px #abadb3 solid; height:23px; line-height:23px; width:668px; padding:0 8px; background:#fff;}

.dataGridQry_input{ border:1px #abadb3 solid; height:26px; line-height:23px; width:200px; padding:0 8px; background:#fff;}

.newAddFy_select01{border:1px #abadb3 solid;  width:348px; padding:3px 3px 3px 3px; background:#fff;}
.newAddFy_select02{border:1px #abadb3 solid;  width:850px; padding:3px 3px 3px 3px; background:#fff;}

.newAddFy_textarea01{border:1px #abadb3 solid;  width:842px; padding:3px 3px 3px 3px; background:#fff; height:60px;margin-top:3px;}
.redinput{ border:1px #ff4b4b solid;}
.newAddFy_bt{ width:80px; text-align:right; padding-right:6px; border-right:1px #ddd solid; display:inline-block; height:31px; line-height:31px;margin-right:10px;background:none repeat scroll 0 0 #f2f2f2;font-weight:bold;color:black;}

.newAddFy_cont table.newA_gjjl{border:1px #ddd solid; border-collapse:collapse; table-layout: auto;}
.newA_gjjl th{height:31px; line-height:31px; border:1px #ddd solid;}
.newA_gjjl td{height:31px; line-height:31px; border:1px #ddd solid;}

.newA_ofa{ width:100%; height:320px; overflow:auto;}
.newA_ofa table{margin-top:-1px;}


/*鏅鸿兘娴姩*/
.pkg-detail-tab-fixed { position:fixed;top:0; z-index:9;}

/* ------------------------------------by zhangcuijuan------------------------------------------------  */
/* 璐у�瑙勫垝 */
.value_lx{width:100px;}
/*.value_content{width:1008px;margin:0 auto;}*/
.value_content tr{ border:1px solid #dddddd; border-top:none;height:30px;line-height:30px;color:#5b5b5b;}
.value_content tr td,.value_content th{border-right:1px solid #dddddd; padding-left:10px;}
.value_content tr.value_bt{ text-align:center; height:42px;line-height:42px; font-weight:bold;}
/* 棰勭畻鏌ョ湅 */
/*.ys_box{width:1008px;margin:0 auto;}*/
.ys_box tr{height:30px;line-height:30px;border:1px solid #dddddd;}
.ys_bt{margin-top:5px;}
.ys_nf{padding-right:20px;border-right:1px solid #dddddd; text-align:right;}
.ys_radio{padding-left:10px;}
.ys_title2{ background:#f4f4f4; border:1px #ddd solid;margin-top:6px;}
.ys_title2 dl dt{ float:left; font-size:14px; font-weight:bold; padding:12px 0 0 15px; color:#5b5b5b;}
.ys_title2 dl dd{ float:right; padding:5px;}
.ys_table tr,.ys_table1 tr{height:45px;font-weight: bold;border-bottom:1px solid #ddd;}
.ys_table2 tr{height:30px;border-bottom:1px solid #ddd; }
.ys_table2 tr td{ text-align: left;padding-left:10px;}
.ys_table tr td,.ys_table1 tr td,.ys_table2 tr td{ border-right:1px solid #dddddd;}
.ys_table1 tr:hover,.tablelist tr:hover,.value_content tr:hover,.ys_table2 tr:hover{background:#f2f2f2;}
/* tree */
.tree-title ul{height:40px;border:1px #ddd solid;border-top:none; }
.tree-title li{  height:40px; line-height:40px; text-align:center; font-weight: bold; float:left;}
/* 鏈堝害棰勭畻 */
table,table tr,table tr td{border:none;}
.tablelist{border:none;}
.tablelist tr{border-bottom:1px solid #ddd;border-top: none; line-height: 30px;}
.tablelist tr td{border-right:1px solid #ddd;}
/*.ys_listbox{width:1024px;height:235px;overflow: auto;}*/
.ys_border ul{height:32px;border:1px #ddd solid;border-top:none;}
.ys_border li{  height:32px; line-height:32px; text-align:center; float:left;}
.ys_title2 dl dd ul em{ display:inline-block;background:url(../images/note_icon.png) no-repeat;width:17px; height:18px;margin-right:6px; vertical-align:middle;}
.ys_title2 dl dd ul em.edit_img{background-position: 0 -15px;}
.ys_title2 dl dd ul em.quxiao_img{background-position: 0 -34px;}
.ys_title2 dl dd ul em.baocun_img{background-position: 0 -52px;}
.ys_title2 dl dd ul em.daoru_img{background-position: 0 -71px;}
.ys_title2 dl dd ul em.daochu_img{background-position: 0 -91px;}
.ys_title2 dl dd ul em.lx_img{background-position: 0 0px;height:15px;}
.ys_list tr td{border-right:1px solid #ddd;}
.center{text-align: center;}
/* tree */
.tree-down1,.tree-F .tree-C .tree-down1,.tree-F .tree-C .tree-S .tree-down1,.tree-up,.tree-F .tree-C .tree-up,.tree-f-down,.tree-f-up{ background:url(../images/tree.gif) no-repeat; display:block; height:30px; padding-left:28px;background-position:8px 8px; cursor:pointer;}
.tree-down1{  padding-left:25px;background-position:8px 8px;}
.tree-F .tree-C .tree-down1{padding-left:38px;background-position:18px 8px;}
.tree-F .tree-C .tree-S .tree-down1{padding-left:55px;background-position:38px -26px;}
.tree-f-down1{background-position:8px -118px;}

/* CSS Document */
.mar4{margin-top:4px}
.fy_tab01 dl{ float:right; padding-top:3px;}
.fy_tab01 dl dt,.fy_tab01 dl dd{ float:right;margin:0 10px 0 0}
.fy_tab01 dl dt a,.fy_tab01 dl dd a{ display: inline-block; background:#f4f4f4; border:1px #ddd solid; text-align:center;padding:0 15px;height:30px; line-height:30px;}
.fy_tab01 dl dt a:hover,.fy_tab01 dl dd a:hover{background:#fff; color:#000}
.fy_tab01 dl dt a em,.fy_tab01 dl dd a em{ display:inline-block; height:30px; background:url(../images/newAddFy01.png) no-repeat; vertical-align:top;margin-right:5px;}
.fy_tab01 dl dt a em{background-position:0 6px;}
.fy_tab01 dl dd a em{background:url(../images/newicp.png) no-repeat 0 8px;}

.shezhi .wd1{ width:18%; text-align:right;padding-right:2%}

.shezhi .wd2{ width:29%;padding-left:1%}
.shezhi .wd3{padding-left:1%}
.shezhi-input{width:90%}
.mr15{margin-right:15px}
.shezhi .newAddFy_input01{width:70%}
/*闆嗗洟涓氬姟鏁版嵁*/
.x-group{}
.x-group .fy_cont td{ text-indent:15px; background:#fbfbfb;color:#adadad}
.x-group .fy_cont .bg-col td{color:#0070c0;background:#fff;border-bottom:1px solid #fff}
/*涓氬姟鍩虹鏁版嵁*/
.x-yewu{/*height:343px; overflow:auto*/}
.x-yewu .tab1{ /*position:fixed*/}
.x-yewu .tab1 table{}
.x-yewu .selt select{width:60%;height:20px; border:none}
.x-yewu table th{height:40px; line-height:40px; border:1px #ddd solid; background:#FBFBFB; border-bottom:1px solid #FBFBFB}
.x-yewu .x-talbe{ width:100%; height:321px; overflow:auto;}
.x-yewu table a{ color:#1e90ff}
.x-yewu .page{width:330px; margin:0 auto}
.x-yewu .page table{ border:none;}
.x-yewu .page td{ border:none}
.x-yewu .pagination-info{ display:none}
.x-mead ul{ float:left;padding:10px 0 0}
.x-mead ul li{ float:left;margin:0 10px 0 20px}
.x-mead ul li select{width:154px;height:20px; float:left}
.x-mead ul li label{ font-weight:bold; font-size:14px;margin:0 15px 0 0; float:left}
.x-mead dl dd a{height:26px;line-height:26px;}
.x-mead dl dd a:hover{height:28px;line-height:28px;}
.x-mead dl dd .icon-add{background:url(../images/newicp.png) no-repeat 0 -42px;}


/*寮瑰嚭妗*/
.window .window-header .panel-with-icon{padding:13px 0 0 25px;font-size:14px;color:#5b5b5b}
.window .window-header .panel-tool{right:10px; display:none}
.window{ border:1px solid #D4D4D4; background:#017ACB;padding:0}
/* .window .window-header{height:34px; background:#F1F1F1;line-height:35px; border:none} */
.window .window-header .panel-icon{ display:none}
.window, .window .window-body{ border:none}
.use-window dl{ position:absolute;top:5px;right:0}
.use-window dl dd{border:1px solid #ddd;height:30px;line-height:30px;margin:0 5px 0 0; float:left; text-align:center}
.use-window dl dd em,.x-info dl dd em{display:inline-block;width:22px;height:26px; vertical-align:top}
.use-window dl .icp1 em,.x-info dl .icp1 em{ background:url(../images/newAddFy01.png) no-repeat scroll 0 7px; }
.use-window dl .icp7 em,.x-info dl .icp1 em{ background:url(../images/1.png) no-repeat scroll 0 7px; }

.use-window dl .icp2 em,.x-info dl .icp2 em{ background:url(../images/newicp.png) no-repeat scroll 0 -85px; }
.use-window dl .icp3 em{ background:url(../images/newicp.png) no-repeat scroll 0 -161px; }
.use-window dl .icp4 em,.x-info dl .icp4 em{ background:url(../images/newAddFy01.png) no-repeat scroll 0 -60px; }
.use-window dl dd a{display:inline-block;padding:0 15px;}
.use-window dl dd a:hover{ background:#fff; }
.use-window .newAddFy_cont .input1{width:236px;height:25px;margin:0 0 0 10px}
.use-window .newAddFy_cont .name{width:70px;padding:0 14px 0 0; text-align:right}

/*娉ㄦ剰淇℃伅*/
.x-info dl .icp5 em{ background:url(../images/newicp.png) no-repeat scroll -2px -223px; }
.x-info dl .icp6 em{ background:url(../images/newicp.png) no-repeat scroll -2px -279px; }
.x-main .shezhi select{ width:74.5%}


.textbox{ border-radius:0}
.validatebox-invalid{ background:#fff; }
.textbox-invalid{border:1px solid #abadb3}
.datebox{ width:74%}
.textbox-prompt{ width:90%}


/*合计*/
.heji{border: 1px solid #DDD;border-top:none;padding:9px 0px 9px 20px;background-color:#f4f4f4;font-family: 微软雅黑;font-size: 12px;color:black;}

/*DD001*/
.DD_input01{ border:1px #abadb3 solid; height:23px; line-height:23px; width:230px; padding:0 8px; background:#fff;}
.DD_sure{ text-align:center;}
.DD_sure a{ width:70px; height:30px; line-height:30px; display:inline-block; text-align:center;border:1px #ddd solid; background:url(../images/f_icon01.gif) no-repeat #f4f4f4; background-position:23px -269px;padding-left:20px;}
.DD_sure a:hover{ background-color:#fff;}

/*智能浮动*/
.pkg-detail-tab-fixed { position:fixed;top:0px; z-index:10;width: 98.5%;}
/*智能底部浮动*/
.pkg-detail-tab-fixed-foot{position:fixed;bottom:0;right:0px; z-index:9;}

/* datagrid 上的按钮统一样式 */
#tb dd li:hover { background:#fff; color: #000;}
#tb dd li a:hover { background:#fff; color: #000;}
#tb dd li p a:hover { background:url(../images/f_icon01.gif) no-repeat;background-position:14px -160px; color: #f60;}
#tb1 dd li:hover { background:#fff; color: #000;}
#tb1 dd li a:hover { background:#fff; color: #000;}
#tb1 dd li p a:hover { background:url(../images/f_icon01.gif) no-repeat;background-position:14px -160px; color: #f60;}
#tb2 dd li:hover { background:#fff; color: #000;}
#tb2 dd li a:hover { background:#fff; color: #000;}
#tb2 dd li p a:hover { background:url(../images/f_icon01.gif) no-repeat;background-position:14px -160px; color: #f60;}
.fy_ldList dd li:hover { background:#fff; color: #000;}
.fy_ldList dd li a:hover { background:#fff; color: #000;}