html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, applet, big, cite, font, ins, kbd, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center {
    margin:0;
    padding:0;
    border:none;
    outline:0;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
}
body {
    font-size: 12px;
    line-height:140%;
    color:#000;
}
html {
    overflow:auto;
}
td {
    font-size: 12px;
    line-height:140%;
    color:#333;
}
input, button {
    width:auto;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
    font-size:14px;
}
ul {
    list-style: none;
}
em {
}
input, textarea {
    font-size:12px;
    color:#333;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
}
select {
    font-size:12px;
    color:#333;
    font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
}
a img {
    border: none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
A {
    TEXT-DECORATION:none;
    outline-style : none;
    COLOR:#000;
}
A:link {
    COLOR: #000;
    outline-style : none;
    TEXT-DECORATION: none;
}
A:visited {
    COLOR: #000;
    outline-style : none;
    TEXT-DECORATION: none;
}
A:hover {
    COLOR:#BF0008;
    TEXT-DECORATION: underline;
    outline-style : none;
}
A:active {
    COLOR: #000;
    TEXT-DECORATION: none;
    outline-style : none;
}
.display_none {
    display:none;
}
.clear {
    clear:both;
}
.alertstar {
    color:#f00;
    padding-right:2px;
}
.alertmsg {
    color:red;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:bold;
}
.dfbtn {
    padding-left:8px;
    padding-right:8px;
    margin-right:5px;
    cursor:pointer;
}
.dfbtn_2 {
    color:black;
    cursor: pointer;
    width:88px;
    text-align:center;
    margin-bottom:10px;
}
.dfbtn_3 {
    padding-left:12px;
    padding-right:12px;
    color:black;
    cursor:pointer;
}
.dfbtn_chs {
    padding-left:5px;
    padding-right:5px;
    color:black;
    cursor: pointer;
}
/*color*/
.cred, a.cred:link, a.cred:visited {
    color:red;
}
.credb, a.credb:link, a.credb:visited {
    color:red;
    font-weight:bold;
}
.credbig, a.credbig:link, a.credbig:visited {
    color:red;
    font-weight:bold;
    font-size:18px;
}
.cblue, a.cblue:link, a.cblue:visited {
    color:#1A76C3;
}

a.cblue:hover {
    color:#5B9CC2;
}
.cbluebig, a.cbluebig:link, a.cbluebig:visited {
    color:#1E5A7E;
    font-weight:bold;
    font-size:18px;
}
.cgreen, a.cgreen:link, a.cgreen:visited {
    color:#008000;
}
.cgreenb, a.cgreenb:link, a.cgreenb:visited {
    color:#008000;
    font-weight:bold;
}
.cblueb, a.cblueb:link, a.cblueb:visited {
    color:blue;
    font-weight:bold;
}
a.cblueb:hover {
    color:#039;
    font-weight:bold;
}
.cgray, a.cgray:link, a.cgray:visited {
    color: #999;
}
.cdgray, a.cdgray:link, a.cdgray:visited {
    color: #666;
}
.cwhite, a.cwhite:link, a.cwhite:visited {
    color:#fff;
}

.cblack, a.cblack:link, a.cblack:visited {
    color:#000;
}
.cblackbig, a.cblackbig:link, a.cblackbig:visited {
    color:#000;
    font-size:18px;
    font-weight:bold;
}
.cyellow, a.cyellow:link, a.cyellow:hover, a.cyellow:visited {
    color:#B65600;
}
.cbluedown, a.cbluedown:link, a.cbluedown:visited {
    color:#4D7CD4;
    background:url(../images/icon_ddlown.gif) no-repeat;
    padding-left:15px;
    margin-right:5px;
    margin-left:4px
}
a.cbluedown:hover {
    color:#900;
}
.c333, a.c333:link, a.c333:visited {
    color:#333;
}
a.c333:hover {
    color:#8d8d8d;
}
.fs16b {
    font-size:16px;
    font-weight:bold;
}
.fs18b {
    font-size:18px;
    font-weight:bold;
}



.divh3 {
    /*height:32px;*/
    position: relative;
    margin-top:10px;
    background:url(../images/divh3_hx.png) no-repeat left bottom;
    /*background:url(../images/divh3_hx.png) no-repeat right bottom;*/
}

.divh4 {
    height:31px;
    position: relative;
    margin-top:10px;
    background:url(../images/divh3_hx.png) no-repeat right top ;
    /*background:url(../images/divh3_hx.png) no-repeat right bottom;*/
}


*html .table02 td .divh3 .divh4 td {
    padding:0px;
}

*:first-child+html .table02 td .divh3 td {
    padding:0px;
}

.divh3 td {
    vertical-align: bottom;
    background:url(../images/divh3_hx_left.png) no-repeat left bottom
}

.divh3_title {
    color:#444;
    font-size:14px;
    text-align:left;
    font-weight:bold;
    height:31px;
    width:100%;
    line-height:33px;
    overflow:hidden;
    padding-left:14px;
    float:left;
    margin-left:7px;
  padding-right:21px;
    color:#333;
}

.divh3_title a {
    color:#333;
    text-decoration:none;
}