
/*已选条件区*/
.none{display:none}
.selectedShow{ border:1px solid #DDD; background:#fff;padding:0px 7px; margin:6px 5px 5px 0; height:20px; line-height:20px; float:left; position:relative;color:black;}

/* datagrid 的边框颜色 */
.panel-body {
  border-color: #C0C0C0;
}
/* datagrid 的行选中的颜色 */
.datagrid-row-selected {
  background: #C8C8C8;
  color: #fff;
}
/* 修改 datagrid 的表头样式 */
.datagrid-header-row td{
	height: 35px;
	font-size:15px;
	font-weight:bold;
	background-color:#FBFBFB;
	color:#5B5B5B;
	text-align: -moz-center;
	text-align:center;
}
/* datagrid 的标题行高 */
.datagrid-row {
  height: 30px;
}
/* tree选中的颜色 */
.tree-node-selected {
  background: #C8C8C8;
  color: #fff;
}
.textbox {
  position: relative;
  border: 1px solid #D3D3D3;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/*************************************wang'ao**********************************************************/
/**此处是参照功能的样式start**/
/**easyui css**/

/* .window {
    background: linear-gradient(to bottom, #F4F4F4 0px, #F4F4F4 0%) repeat-x scroll 0% 0% transparent;
	font-family:'微软雅黑',Arial,Helvetica,Arial,sans-serif;
}
.window, .window .window-body {
    border-color: #bdbdbd;
}
.panel-header, .panel-body {
    border-color: #bdbdbd;
}
.window{border: 1px solid #bdbdbd;}
.panel-body ,.window-body{border-top:1px solid #bdbdbd ;}
.panel{border-bottom:1px solid #bdbdbd;} */
/*底部背景*/
/* .window .calendar-header {
    background: none repeat scroll 0% 0% #F4F4F4;
} */
/*去圆角*/
/* .window, .window-shadow {
    border-radius: 0px;
}
.combo {
    border-color: #ABADB3;
}
.window .dialog-button {
    border:none;
} */
/*表2*/
/* .window .datagrid-view2 .datagrid-row:hover{ background-color:#E2E2E2;}
.window .datagrid-view2  .datagrid-header-row td {
    text-align:left;
    min-width:100px;
} */
/* datagrid 的行选中的颜色 */
/* .window .datagrid-row-selected {
  background: #C8C8C8;
} */
/**按钮调整**/
/* .window .dialog-button a{
	margin-left:3px;
	width:72px;
	height:32px;
	border:1px solid #bdbdbd;
} */
/*按钮hover圆角*/
/* .window .l-btn{border-radius: 0px;}
.window .l-btn-plain {
    padding: 0px;
}
.window .l-btn-left ,.l-btn-icon-left{margin-top: 4px;}
.window .l-btn {
    cursor: pointer;
	width:100%;
} */

/*鼠标放上去样式*/
/* .window .l-btn-plain:hover {
  background: #fff;
  color: #000000;
  border: 1px solid #bdbdbd;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
} */
/*参照图标*/
/* .icon-standard-application-form-magnify {
    background: url("../images/basebticons/newicp.png") no-repeat scroll -10px -424px transparent;
} */

/*确定图标*/
/* .window .icon-ok {
  background: url("../images/basebticons/newicp.png") no-repeat scroll 0px 0px transparent;
} */
/*清除图标*/
/* .window .icon-standard-cancel {
    background: url("../images/basebticons/newAddFy01.png") no-repeat scroll 0px -68px transparent;
} */
/*取消图标*/
/* .window .icon-cancel {
   background: url("../images/basebticons/deletebig.png") no-repeat scroll 0px 0px transparent;
} */
/**此处是参照功能的样式end**/
/*************************************wang'ao**********************************************************/