/* -------------------------------------------------------------- 
reset
* 重设浏览器的默认样式。 
------------------------------------------------------------br{height:0px;line-height: 0px;}-- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, applet, big, cite, font, ins, kbd, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center {
	margin:0;
	padding:0;
	border:none;
	outline:0;
	font-family:'microsoft yahei', 微软雅黑, 宋体, helvetica, tahoma, arial;
	
}
body {
	font-size: 12px;
	line-height:140%;
	color:#333;
}

td {
	font-size: 12px;
	line-height:140%;
	color:#333;
}
input, button {
	width:auto;
	font-family:'microsoft yahei', 微软雅黑, 宋体, helvetica, tahoma, arial;
	font-size:14px;
}
ul {
	list-style: none;
}
em {
}
input, textarea, select {
	font-size:12px;
	color:#333;
	font-family:'microsoft yahei', 微软雅黑, 宋体, helvetica, tahoma, arial;
}
input {
	vertical-align:middle;
}
select {
	vertical-align:middle;
}
/* 去除图片链接的边框 */
a img {
	border: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

a {
	text-decoration:none;
	outline-style : none;
	color:#0078ce;
}
a:link {
	color: #0078ce;
	outline-style : none;
	text-decoration: none;
}
a:visited {
	color: #0078ce;
	outline-style : none;
	text-decoration: none;
}
a:hover {
	color:#d10013;
	text-decoration: underline;
	outline-style : none;
}
a:active {
	color: #0078ce;
	text-decoration: none;
	outline-style : none;
}

.display_none {
	display:none;
}
.clear {
	clear:both;
}
.alertstar {
	color:#f00;
	padding-right:2px;
}
.alertmsg {
	color:red;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
}
.dfbtn {
	padding-left:8px;
	padding-right:8px;
	margin-right:5px;
	cursor:pointer;
}
.fz16 {
	font-size:16px;
	font-weight:bold
}
.width1000 {
	width:1000px;
}
.width600 {
	width:600px;
}

.width650 {
	width:650px;
}

.width100 {
	width:100%;
}
.bgw {
	background:white
}
/*color*/
.cred, a.cred:link, a.cred:visited {
	color:red;
}
.credb, a.credb:link, a.credb:visited {
	color:red;
	font-weight:bold;
}
.credbig, a.credbig:link, a.credbig:visited {
	color:red;
	font-weight:bold;
	font-size:18px;
}
.cblue, a.cblue:link, a.cblue:visited {
	color:#1a76c3;
}
a.cblue:hover {
	color:#5b9cc2;
}
.cbluebig, a.cbluebig:link, a.cbluebig:visited {
	color:#1a76c3;
	font-weight:bold;
	font-size:18px;
}
.cgreen, a.cgreen:link, a.cgreen:visited {
	color:#008000;
}
.cgreenb, a.cgreenb:link, a.cgreenb:visited {
	color:#008000;
	font-weight:bold;
}
.cblueb, a.cblueb:link, a.cblueb:visited {
	color:blue;
	font-weight:bold;
}
a.cblueb:hover {
	color:#039;
	font-weight:bold;
}
.cgray, a.cgray:link, a.cgray:visited {
	color: #999;
}
.cdgray, a.cdgray:link, a.cdgray:visited {
	color: #666;
}
.cwhite, a.cwhite:link, a.cwhite:visited {
	color:#fff;
}
.cblack, a.cblack:link, a.cblack:visited {
	color:#000;
}
.cblackbig, a.cblackbig:link, a.cblackbig:visited {
	color:#000;
	font-size:18px;
	font-weight:bold;
}
.cyellow, a.cyellow:link, a.cyellow:hover, a.cyellow:visited {
	color:#b65600;
}
.cbluedown, a.cbluedown:link, a.cbluedown:visited {
	color:#4d7cd4;
	background:url(../images/icon_ddlown.gif) no-repeat;
	padding-left:15px;
	margin-right:5px;
	margin-left:4px
}
a.cbluedown:hover {
	color:#900;
}
.c333, a.c333:link, a.c333:visited {
	color:#333;
}
a.c333:hover {
	color:#8d8d8d;
}
.fs16b {
	font-size:16px;
	font-weight:bold;
}
.fs18b {
	font-size:18px;
	font-weight:bold;
}
.mgb8 {
	margin-bottom:8px
}
.bt {
	color:red;
	padding-right:3px;
	font-weight:bold;
}
.rgt {
	text-align:right
}
.btm {
	margin-bottom:0;
}
.popdiv_close {
	text-align:right;
}
.popdiv1 {
	border:1px solid #AFBDC8;
	background:white;
	width:250px;
	padding:10px 10px;
	position: absolute;
	top: 15px;
	left: 235px;
	z-index:99999;
}
/*筛选模块*/
.s1_searchWrap {
	margin-bottom:8px;
}
.sl-wrap {
	line-height: 34px;
	border-bottom: 1px solid #ddd;
	min-width:1000px;
	position: relative;
}
.sl-key {
	float: left;
	width: 100px;
	padding-left: 10px;
	color:#666;
}
.sl-value {
	margin-left: 110px;
	padding-left: 10px;
	padding-top:5px;
}
.s1-value ul {
	overflow: hidden;
}
.sl-value ul li {
	float:left;
	margin-right:20px;
	line-height:24px;
	margin-bottom:5px;
}
.sl-value ul li a {
	display:block;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none
}
.sl-value ul li.current a {
	background:#f4f4f4;
	color:red;
	display:block;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #dddddd;
	line-height:22px;
}
/*鑫苑表格列表标题*/

.t_hh {
	border-top:1px solid #ddd;
	background:#F9F9F9;
	height:38px;
	overflow:hidden;
}
.t_hh .t_hh_sx {
	float:left;
	padding-top:7px;
	padding-left:10px;
	font-size:14px;
}
.t_hh .t_hh_sx select {
	border:1px solid #ccc;
	font-size:11px;
	width:160px;
	height:20px;
	line-height:20px;
	font-size:14px;
}
.t_title {
	border-top:1px solid #ddd;
	background:#f1f1f1;
	height:38px;
	overflow:hidden;
	border-bottom:1px solid #ddd;
	margin-bottom:6px;
	width:100%;
}
.t_title .t_title_h1 {
	font-weight:bold;
	font-size:16px;
	float:left;
	line-height:38px;
	padding-left:10px;
	padding-right:10px;
}
.t_title .t_title_h1 span {
	padding-left:6px;
	padding-right:6px;
}
.t_title .t_title_h1 span a {
	color:#333
}
.t_title .t_title_h1 ul {
	border-left:1px solid #ddd;
	height:38px;
}
.t_title .t_title_h1 ul li {
	float:left;
	padding-left:20px;
	padding-right:20px;
	border-right:1px solid #ddd;
}
.t_title .t_title_h1 ul li a {
	color:#333;
	text-decoration:none
}
.t_title .t_title_h1 ul li.current {
	background:white;
	border-top:2px solid #66C9F3;
	line-height:36px;
}
.t_title .t_title_h1 ul li.current a {
	color:#333;
	text-decoration:none
}
.t_title .t_title_input {
	float:left;
	padding-top:7px;
	padding-left:10px;
}
.t_title .t_title_input input {
	border:1px solid #ccc;
	font-size:11px;
	width:200px;
	height:20px;
	line-height:20px;
	padding-left:5px;
	padding-right:5px;
}
.t_title .t_title_tool {
	float:right;
	padding-right:10px;
	line-height:38px;
}
.t_title .t_title_btn {
	float:right;
	padding-right:10px;
	padding-top:6px;
}
.t_title_tool a {
	margin-left:12px;
	padding-left:18px;
	background:url(../images/T_title_tool_bg.png) no-repeat;
}
.m_title {
	/*
	border-top:1px solid #D7E4EA;
	background:#EDF6FA;
	background:url(../images/3.png) no-repeat;*/
	height:27px;
	overflow:hidden;
}
.m_title .m_title_h1 {
	font-weight:bold;
	font-size:14px;
	float:left;
	line-height:28px;
	padding-left:10px;
	padding-right:10px;
}
.m_title .m_title_h1 span {
	padding-left:6px;
	padding-right:6px;
}
.m_title .m_title_h1 span a {
	color:#333;
}
.m_title .m_title_tool {
	float:right;
	padding-right:10px;
	line-height:28px;
}
.m_title_tool a {
	vertical-align:middle;
	margin-left:12px;
	padding-left:18px;
	background:url(../images/T_title_tool_bg.png) no-repeat;
}
/*鑫苑表格内列表标题*/
.s_title {
	border-top:1px solid #CCD8EA;
	background:#F0F3F8;
	height:30px;
	overflow:hidden;
}
.s_title .s_title_h1 {
	font-weight:bold;
	font-size:14px;
	float:left;
	line-height:28px;
	padding-left:10px;
	padding-right:10px;
}
.s_title .s_title_close {
	float:right;
	padding-right:10px;
	padding-top:7px;
}
/*鑫苑表格列表*/

.xy_01 {
	background:#CCD3E4;
}
.xy_01 th {
	color:#333;
	font-weight:normal;
	border-left:1px solid white;
	background:#f8f8f8 url(../images/regthbg.jpg) bottom repeat-x;
	text-align:center;
	line-height:16px;
	height:24px;
	padding:1px 6px 1px 5px
}
.xy_01 td {
	line-height:16px;
	height:24px;
	padding:1px 6px 1px 6px;
	background:white;
}
.xy_01 tr:hover td {
	background:#F3F5F8;
}
.xy_01 td.tt {
	background:#EDF6FA;
	font-weight:bold;
}
.xy_01 tr:hover td.tt {
	background:#EDF6FA;
}
.xy_01 tr.current td {
	background:#dcffff;
}
.xy_01 td.ht_status {
	position:relative;
	min-width:120px;
}
.xy_01 td .ht_status_tool {
	position:absolute;
	top:0;
	right:0;
	text-align:right;
	min-width:80px;
	height:23px;
}
.xy_01 td .ht_status_tool a {
	margin-right:0;
}
.xy_01 th a {
	color:#333;
	text-decoration:none;
}
.xy_11 {
	background:#CCD3E4;
	margin-bottom:8px;
}
.xy_11 th {
	text-align:right;
	line-height:16px;
	height:24px;
	padding:1px 6px 1px 6px;
	background:white;
	font-weight:normal;
}
.xy_11 td {
	line-height:16px;
	height:24px;
	padding:1px 6px 1px 6px;
	background:white;
}
.xy_11 td.tt {
	background:#EDF6FA;
	font-weight:bold;
}
.xy_01 td a {
	margin-left:3px;
	margin-right:3px;
}
.xy_01 td a img {
	padding-left:2px;
	padding-right:2px;
}
.xy_11 td a {
	margin-left:3px;
	margin-right:3px;
}
.xy_11 td a img {
	padding-left:2px;
	padding-right:2px;
}
/*翻页*/
.page {
	padding-right: 6px;
	padding-left: 0px;
	font-size: 13px;
	padding-bottom: 4px;
	color: #313031;
	padding-top: 4px;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	background-color: #fff;
	text-align: right;
	margin-bottom:8px;
}
.page a {
	padding-right: 6px;
	padding-left: 5px;
	padding-bottom: 2px;
	margin: 0px 3px;
	color: #0030ce;
	padding-top: 3px;
	border: #b7d8ee 1px solid;
	text-decoration: none
}
.page a:hover {
	color: #0066a7;
	border: #b7d8ee 1px solid;
	background-color: #d2eaf6
}
.page a:active {
	color: #0066a7;
	border: #b7d8ee 1px solid;
	background-color: #d2eaf6
}
.page span.current {
	padding-right: 6px;
	padding-left: 5px;
	font-weight: bold;
	padding-bottom: 2px;
	margin: 0px 3px;
	color: #444444;
	padding-top: 3px;
	border: #b7d8ee 1px solid;
	background-color: #d2eaf6
}
.page span.disabled {
	display: none
}
/*合同头部固定模块*/
.h_fix {
	position:fixed;
	z-index:9999;
}
.h_title {
	border-top:1px solid #CCD8EA;
	background:#F0F3F8;
	height:63px;
	overflow:hidden;
	margin-top:40px;
	border-bottom:1px solid #CCD8EA;
}
.h_title .h1 {
	font-size:20px;
	line-height:38px;
	font-weight:bold;
	padding-left:10px;
}
.h_title .info {
	font-size:14px;
	line-height:20px;
	padding-left:10px;
}
.h_title .info span {
	padding-right:4px;
	padding-left:4px;
}
.h_btn {
	height:35px;
	text-align:center;
	background:white;
}
.h_btn input {
	margin-left:8px;
	margin-right:8px;
	margin-top:5px;
}
.spacer_h01 {
	height:46px;
}
.spacer_h02 {
	height:111px;
}
.spacer_h03 {
	height:92px;
}
/*输入框宽度*/
.t1 {
	width:173px;
	border:1px solid #ABADB3;
	padding:3px 0px
}
select.t1 {
	width:175px;
}
.t3 {
	width:78px;
	border:1px solid #ABADB3;
	padding:3px 0px;
	
	
}
select.t3 {
	width:80px;
	height:24px;
}


.t090 {
	width:90%;
	border:1px solid #ABADB3;
	padding:3px 0px
}
.t2 {
	width:786px;
	border:1px solid #ABADB3;
	padding:3px 0px
}
.t4 {
	width:80px;
	border:1px solid #ABADB3;
	padding:3px 0px
}
.t5 {
	width:100px;
	border:1px solid #ABADB3;
	padding:3px 0px
}
.t6 {
	width:180px;
	border:1px solid #ABADB3;
	padding:3px 0px
}
.t7 {
	width:205px;
	border:1px solid #ABADB3;
	padding:3px 0px
}

.t8 {
	width:100%;
	border:1px solid #ABADB3;
	padding:3px 0px;
}
select .t8 {
	width:100%;
	height:20px;
}

.car {
	background:url(../images/input_car.png) no-repeat center right;
}
.opt {
	background: white url(../images/input_choice.png) no-repeat center right;
}
/*基础设置左侧菜单*/
.leftmenu {
	width:187px;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
	overflow:hidden;
	background:url(../images/leftline.gif) repeat-y right;
}
.leftmenu dd {
	background:url(../images/leftmenubg.gif) repeat-x;
	line-height:35px;
	font-weight:bold;
	font-size:14px;
	border-right:solid 1px #b7d5df;
}
.leftmenu dd span {
	float:left;
	margin:10px 8px 0 12px;
}
.leftmenu dd .menuson {
	display:none;
}
.leftmenu dd:first-child .menuson {
	display:block;
}
.menuson {
	line-height:30px;
	font-weight:normal;
}
.menuson li {
	cursor:pointer;
}
.menuson li.active {
	position:relative;
	background:url(../images/libg.png) repeat-x;
	line-height:30px;
	color:#fff;
}
.menuson li cite {
	display:block;
	float:left;
	margin-left:32px;
	background:url(../images/list.gif) no-repeat;
	width:16px;
	height:16px;
	margin-top:7px;
}
.menuson li.active cite {
	background:url(../images/list1.gif) no-repeat;
}
.menuson li.active i {
	display:block;
	background:url(../images/sj.png) no-repeat;
	width:6px;
	height:11px;
	position:absolute;
	right:0;
	z-index:10000;
	top:9px;
	right:-1px;
}
.menuson li a {
	display:block;
*display:inline;
*padding-top:5px;
	text-decoration:none
}
.menuson li.active a {
	color:#fff;
}
.title {
	cursor:pointer;
}
/*强控渐进层级*/
.cj {
}
.cj img {
	padding-right:5px;
}
.cj a {
	color:#333;
	text-decoration:none
}
.p01 {
	padding-left:0px;
}
.p02 {
	padding-left:22px;
}
.p03 {
	padding-left:50px;
}
.p04 {
	padding-left:80px;
}
.wrapper_c1 {
}
.wrapper_c1_left {
	float:left;
	width:200px;
	overflow-y:auto
}
.wrapper_c1_rgt {
	margin-left:210px;
	overflow-y:auto
}
.w100_left {
	float:left;
	width:495px;
	overflow-y:auto
}
.w100_rgt {
	margin-left:505px;
	overflow-y:auto
}
.bglbdropmore {
	position:absolute;
	visibility: hidden;
	border: 1px solid #00A8FF;
	background-color: white;
	width: 100px;
	padding: 8px;
	text-align:left
}
.bglbdropmore a {
	display:block;
	line-height:25px;
	border-bottom:1px dotted #666
}
.mndetail {
	margin-bottom:12px;
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
}
.mndetail span {
	padding-right:10px;
}
/*HEADER*/
#header {
	background:white url(../images/xybanner.jpg) top right no-repeat;
	height:115px;
	position:relative;
	min-width:1000px;
}
#logo {
	padding-left:32px;
	height:70px;
	padding-top:10px
}
#userbox {
	position: absolute;
	top:52px;
	right: 10px;
	color:#333;
	height:26px;
	line-height:26px;
	overflow:hidden;
	text-align:right;
	font-size:14px;
	z-index:999
}
#userbox span {
	display: inline-block;
	height: 16px;
	color: #333;
	line-height: 18px;
}
#userbox a {
	padding-left: 15px;
	margin-right:5px;
	color:#333;
}
#userbox .user_name {
	padding-left: 5px;
	color:#D10013;
	padding-right:8px;
}
#userbox .tody_box {
	color: #333;
}
#nav {
	height: 35px;
	background:#1B7EA9;
	z-index:9;
	font-family:'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial;
}
.slidetabsmenu {
	font-size: 12px;
}
.slidetabsmenu ul {
	padding:0px;
	margin:0;
	list-style-type: none;
}
.slidetabsmenu li {
	float:left;
	margin: 0;
	line-height:35px;
	height:35px;
	overflow:hidden;
}
.slidetabsmenu li a {
	text-decoration: none;
	width:117px;
	text-align:center;
	padding-bottom:8px;
	padding-top:7px;
	margin: 0;
	color: white;
	font-size: 14px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	display: block;
}
.slidetabsmenu li a:visited {
	color: white;
}
.slidetabsmenu li a:hover, .slidetabsmenu li.selected a {
	color:#F0FF00;
	text-decoration: none;
}
.slidetabsmenu li.current a {
	color:white;
	text-decoration: none;
}
.slidetabsmenu li.current a:link {
	color:white;
	text-decoration: none;
}
.slidetabsmenu li.current a:visited {
	color:white;
	text-decoration: none;
}
.slidetabsmenu li.current a:hover {
	color:#F0FF00;
	text-decoration: none;
}
.slidetabsmenu .fst {
	background:#707E8A url(../images/ico.jpg) 104px 14px no-repeat;
	font-size:16px;
	font-weight:bold;
	padding-right:20px;
	width:107px;
}
/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_a {
	position:absolute;
	top: 0;
	font:normal 12px Verdana;
	line-height:23px;
	z-index:99999;
	background-color: #707E8A;
	width: 125px;
	visibility: hidden;
	border:1px solid #797979;
	border-top:none;
}
.dropmenudiv_a a {
	width: auto;
	display: block;
	text-indent: 20px;
	padding: 1px 0px;
	text-decoration: none;
	color: white;
	padding-right:15px;
	background:url(../images/icon_larrow.gif) 7px 11px no-repeat
}
* html .dropmenudiv_a a { /*IE only hack*/
	width: 100%;
}
.dropmenudiv_a a:hover { /*THEME CHANGE HERE*/
	color:#3EAFE0;
	background:white
}
.dropmenudiv_c {
	position:absolute;
	top: 0;
	font:normal 12px Verdana;
	line-height:23px;
	z-index:99999;
	background-color: #fff;
	width: 115px;
	visibility: hidden;
	border:1px solid #1B7EA9;
	border-top:none;
	text-align:center
}
.dropmenudiv_c a {
	width: auto;
	display: block;
	padding: 1px 0px;
	text-decoration: none;
	color: black;
	padding-right:15px;
}
* html .dropmenudiv_c a { /*IE only hack*/
	width: 100%;
}
.dropmenudiv_c a:hover { /*THEME CHANGE HERE*/
	color:#1B7EA9;
}
.hh {
	font-size:20px;
	line-height:34px;
	height:34px;
	font-weight:bold;
}
.t_search {
	border:1px solid #ccc;
	background:#f4f4f4;
	margin-bottom:8px;
}
.t_search td {
	padding:5px 10px;
	font-size:12px;
}
td.tt .hh {
	font-weight:bold;
	font-size:14px;
	float:left;
	line-height:24px;
	padding-left:4px;
	padding-right:4px;
}
td.tt .hh a {
	color:#333;
	text-decoration:none;
}
td.tt .hh a img {
	padding-right:5px;
	padding-left:0px;
}
td.tt .hh span {
}
td.tt .hh span a {
	color:#333;
}
td.tt .tool {
	float:right;
	line-height:24px;
}
td.tt .tool a {
	margin-left:12px;
	padding-left:18px;
}
a.t_new {
	background-position: 0px 0px
}
a.t_import {
	background-position: 0px -33px
}
a.t_save {
	background-position: 0px -62px
}
a.t_del {
	background-position: 0px -89px
}
a.t_excel {
	background-position: 0px -118px
}
a.cancelBtn {
	background-position: 0px -89px
}
a.t_edit {
	background-position: 0px -154px
}
a.t_submit {
	background-position: 0px -184px
}
a.t_kmsq {
	background-position: 0px -217px
}
a.t_szftgz {
	background-position: 0px -217px
}
a.t_zdsplc {
	background-position: 0px -217px
}
a.t_qxsz {
	background-position: 0px -259px
}
a.t_fksq {
	background-position: 0px -300px
}
a.t_more {
	background-position: 0px -326px
}
a.t_ddsfp {
	background-position: 0px -366px
}
a.t_mbcbzj {
	background-position: 0px -401px
}
a.t_mbcbjz {
	background-position: 0px -434px
}
a.t_mbcblist {
	background-position: 0px -472px
}
a.t_viewmonth {
	background-position: 0px -512px
}
a.t_view {
	background-position: 0px -472px
}
a.t_print {
	background-position: 0px -543px
}
a.t_lsbb {
	background-position: 0px -581px
}
a.t_spgc {
	background-position: 0px -611px
}
a.t_ckmx {
	background-position: 0px -648px
}
.ss1 {
	background:url(../images/icon_cj02.png) 0px 2px no-repeat;
	padding-left:14px;
}
.ss2 {
	background:url(../images/icon_cj01.png) 0px 2px no-repeat;
	padding-left:14px;
}
.cancelBtn {
	background:url(../images/error2.png) 0px 3px no-repeat;
}
.imageDiv {
	width:300px;
	border:1px solid red;
	padding:8px;
	position:absolute;
	margin:00px 0 0 -150px;
	width:300px;
	height:60px;
	border:1px solid #CCC;
	background:#f4f4f4;
	z-index:99999;
	top:50px;
	left:50%;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-box-shadow:0 0 10px #ccC;
	-moz-box-shadow:0 0 10px #ccc;
	display:none;
	box-shadow:0 0 10px #ccc;
}
.pop_upload .pptitle {
	border-bottom:1px solid #CCC;
	height:22px;
	margin-bottom:8px;
	font-size:12px;
}
.pop_upload .pptitle span {
	float:left;
	font-weight:bold;
}
.pop_upload .pptitle div {
	float:right;
}
.pop_upload input[type="file"] {
	width:190px;
}

.jiequ td{
	width:100px;
  height:24px;
  line-height:24px;
  overflow:hidden;
  margin:5px;	
}