<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.friendinfo.mapper.FriendInfoMapper">
	 <update id="updateBlack" parameterType="java.util.Map">
		update im_friend_info set blank_name=#{blankName} where uid = #{uid} and fid=#{fid}
	</update>
	
	<!-- 更新共享手机号、黑名单标志、是否删除标志、是否被对方删除好友标志 -->
	 <update id="updateByUidAndFid" parameterType="com.jzy.hio.entity.FriendInfo">
		UPDATE im_friend_info
		<set>
			<if test="sharePhone != null">
				share_phone = #{sharePhone},
			</if>
			<if test="blankName != null">
				blank_name = #{blankName},
			</if>
			<if test="isDel != null">
				is_del = #{isDel}
			</if>
			<if test="delflag != null">
				delflag = #{delflag}
			</if>
		</set>
		WHERE
			uid = #{uid}
		AND fid = #{fid}
		AND delflag = 0
	</update>
	<!-- 查询黑名单列表 -->
	<select id="getBlackList" resultType="com.jzy.hio.entity.FriendInfo">
	 	SELECT a.id, 
	 	a.uid,
		a.fid,
		a.delflag,
		a.share_phone sharePhone,
		a.is_del isDel,
	 	a.concurrency_version concurrencyVersion ,
	 	a.create_date createDate,
		a.create_person_id createPersonId,
		a.create_person_name createPersonName,
		a.update_date updateDate,
		a.update_person_id updatePersonId,
		a.update_person_name updatePersonName
	 	FROM im_friend_info a
	 	WHERE IFNULL(a.delflag,0)=0 AND a.uid = #{uid} and blank_name=1 ORDER BY a.id ASC
	 </select>
	 <!-- 查询好友列表 -->
	 <select id="getFriendList" resultType="com.jzy.hio.platform.friendinfo.dto.FriendInfoDto" parameterType="java.util.Map">
	 	SELECT a.id,
		a.uid,
		a.fid,
		a.is_del isDel,
		e.`name` fname,
		e.resource_img_url resourceImgUrl,
		e.img_url imgUrl,
		e.status_id  statusId,
		e.sex,
		e.name_full nameFull,
		e.name_simple nameSimple,
		e.mobile,
		f.blank_name blankName,
		b.alias_name aliasName,
		f.share_phone sharePhone,
		a.create_person_id createPersonId,
		CASE c.id WHEN null THEN 0 else 1  end as starFlag
		from im_friend_info a
		LEFT JOIN im_friend_alias b on a.fid=b.fid and a.uid=b.uid and IFNULL(b.delflag,0)=0
		LEFT JOIN im_star_info c  on a.fid=c.fid and a.uid=c.uid and IFNULL(c.delflag,0)=0
		INNER JOIN im_user_info e on a.fid=e.id and IFNULL(e.delflag,0)=0
		INNER JOIN im_friend_info f on a.uid=f.fid and a.fid=f.uid <!-- and IFNULL(f.is_del,0)=0 --> 
		where IFNULL(a.delflag,0)=0
		<if test="uid != null and uid != ''">
			AND a.uid = #{uid}
		</if>
		<if test="fid != null and fid != ''">
			AND a.fid = #{fid}
		</if>
		<if test="blankName != null and blankName != ''">
			and IFNULL(a.blank_name,0)=0
		</if>
		  ORDER BY a.id ASC
	 </select>
	 
	 <!-- 查询好友列表 含删除-->
	 <select id="getMyFriendList" resultType="com.jzy.hio.platform.friendinfo.dto.FriendInfoDto" parameterType="java.util.Map">
	 	SELECT a.id,
		a.uid,
		a.fid,
		a.is_del isDel,
		e.`name` fname,
		e.resource_img_url resourceImgUrl,
		e.img_url imgUrl,
		e.status_id  statusId,
		e.sex,
		e.name_full nameFull,
		e.name_simple nameSimple,
		e.mobile,
		f.blank_name blankName,
		b.alias_name aliasName,
		f.share_phone sharePhone,
		a.create_person_id createPersonId,
		CASE c.id WHEN null THEN 0 else 1  end as starFlag
		from im_friend_info a
		LEFT JOIN im_friend_alias b on a.fid=b.fid and a.uid=b.uid and IFNULL(b.delflag,0)=0
		LEFT JOIN im_star_info c  on a.fid=c.fid and a.uid=c.uid and IFNULL(c.delflag,0)=0
		INNER JOIN im_user_info e on a.fid=e.id and IFNULL(e.delflag,0)=0
		INNER JOIN im_friend_info f on a.uid=f.fid and a.fid=f.uid <!-- and IFNULL(f.is_del,0)=0 --> 
		where 1=1
		<if test="uid != null and uid != ''">
			AND a.uid = #{uid}
		</if>
		<if test="fid != null and fid != ''">
			AND a.fid = #{fid}
		</if>
		  ORDER BY a.id ASC
	 </select>
	 
	 <!-- 查询共享手机号的好友列表 -->
	 <select id="getShareFriendList" resultType="com.jzy.hio.platform.friendinfo.dto.FriendAliasDto" parameterType="com.jzy.hio.entity.FriendInfo">
	 	SELECT a.id,
		a.uid,
		a.fid,
		a.is_del isDel,
		e.`name` fname,
		e.resource_img_url resourceImgUrl,
		e.img_url imgUrl,
		e.status_id  statusId,
		e.sex,
		e.name_full nameFull,
		e.name_simple nameSimple,
		e.mobile,
		b.alias_name aliasName,
		b.alias_name_full aliasNameFull,
		b.alias_name_simple aliasNameSimple,
		a.share_phone sharePhone,
		a.create_person_id createPersonId
		from im_friend_info a
		LEFT JOIN im_friend_alias b on a.uid=b.fid and a.fid=b.uid and IFNULL(b.delflag,0)=0
		INNER JOIN im_user_info e on a.uid=e.id and IFNULL(e.delflag,0)=0
		where IFNULL(a.delflag,0)=0
		<if test="fid != null and fid != ''">
			AND a.fid = #{fid}
		</if>
		and a.share_phone=1
		and IFNULL(a.is_del,0)=0
		  ORDER BY a.id ASC
	 </select>
</mapper>