.searchItem .el-form-item__error {
    z-index: 1;}
.crm_b_table:before{
    height: auto;
}
.crm_form_common{
    .el-input__inner{
        height:32px;
    }
}
.crm_wrap_details {
    .crm_b_tabDetils{
        .el-tabs__header{
            // margin: 0;
        }
    }
}
    