$borderColor:#dcdfe6;
$backgroundColor:#e4e4e4;
.mb10{ margin-bottom: 10px;}
.mb20{ margin-bottom: 20px}
.addBtn_crm{
    color: #46A7FF;
    font-weight: normal;
}
.wrap_crm{
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
    background: #ffffff;
    .content-title{
         position: relative;
         margin: 12px 0px;
        //  line-height: 32px;
         height: 48px;
         border-bottom: 1px solid #dedede;
         h3{
             padding-left: 18px;
             float:left;
         }
        .operation{
            padding: 0;
            margin-right: 20px;
            float:right;
            margin-top: 3px;
            .crm_b_btn_add{
                padding:8px 20px;
            }
            li{
                
                float: left;
                margin-left: 20px;
            }
        }

    }
    .project-wrap{
        padding: 10px 20px;
        .search_icon_{
            margin-right: 10px;
            line-height: 40px;
            color: #dedede;
        }
    }
    .el-pagination{
        float: right;
        margin: 20px 12px;
    }
    .crm_b_table.el-table{
        div.cell{
            // padding:0;
            
        }

    }   
}
.crm_b_pwrap{
    position: relative;
    .project-wrap{
        padding:10px 0;
    }
    .content-title{
        margin: 0;
        position: absolute;
        right:0;
        top:51px;
        border:none;
        h3{
            display: none;
        }

    }
    .crm_b_Btn_Search{
        margin-right:140px;
    }
}
.crm-el-btn{
    margin:0 6px;
    cursor: pointer;
    i{
        font-size: 16px;
        color:#46A7FF;
    }
}
.color-panle{
    width: 100%;
    height: 32px;
    font-size: 12px;
    color:#fff;
    li:first-child{
        border-radius: 36px 0px 0px 36px;
    }
    li:last-child{
        border-radius: 0px 36px 36px 0px;
    }
    li{
        float: left;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
    }
    li.cur{
        height: 28px;
        line-height: 28px;
        margin-top: -4px;
    }
    li.cur:first-child{
        border-radius: 36px 0px 0px 36px;
    }
    li.cur:last-child{
        border-radius: 0px 36px 36px 0px;
    }
}
.goods{
    .el-dialog{
         width: 50%;
    }
    .el-col-12{
        float:none;
        width:auto;
    }
    .wrap_crm{
        .el-pagination{
            float:none;
            text-align: center;
            margin: 12px auto;
        }
    }
     
}
.form_create_crm{
    .el-form.el-form--inline {
        display:block;
        .el-form-item{
                float: left;
                min-height:48px;
                width:50%;
                margin-right:0;
                .el-form-item__content{
                    .add_approver{
                        position: static;
                        top:0;
                        vertical-align: middle;
                        margin-top: -1px;
                    }
                    width: 200px;
                    .el-select{
                        width:200px;
                    }
                    .el-date-editor.el-input, .el-date-editor.el-input__inner{
                        width:200px;
                    }
                    
                }
            }
        .commonTextarea{
            width:100%;
            float:none;
            .el-form-item__content{
                width:80%;
            }
        }    
        .el-form-item.information{
            float:none;
            width: 100%;
            .el-form-item{
                width:100%;
                margin-bottom:0;
                min-height: 60px;
                float:none;
            }
            .el-form-item__content{
                width:100%;
                vertical-align: text-top;
                .el-input__inner{
                    padding:0 3px;text-align: center;
                }
            }
            .el-form-item__error{
                position: static;
            }
            
        }
        .el-form-item.attachItem{
            width:100%;
            float:none;
            .el-form-item__content{
                width:80%;
            }
           
        }
        .el-form-item.loadCrmCreate{
            width:100%;
            float:none;
            .el-form-item__content{
                width:80%;
            }
        }
    }
}
.order_wrap .el-tabs__header{
     margin: 0 ; 
}
.selectProductsPage{
    .total{
        position: relative;
        height:40px;
        line-height:40px;
        font-weight: bold;
        font-size:14px;
        .text{
            
        }
        .num{
            position: absolute;
            right:0;
            bottom:0;
            
        }
    }
    .addRight{ color:#46A7FF;
        border:1px solid #E1E1E1;
        border-radius: 4px;
        line-height: 30px;
        padding: 0 10px;
        .add{
            font-weight: bold;
            font-size: 14px;
        }
    }
}
.el-popper{
    .el-select-dropdown__list{
        .el-select-dropdown__item{
            width: 200px;
        } 
    }
   
}
.productViewWrap{
    li{
        padding: 10px 0;
        font-size:14px;
        .r_label{
            width:15%;
            display:inline-block;
            text-align: right;
            padding-right:10px;
            .red{
                color: red;
            }
        }
        .l_des{
            width:80%;
            pre{
                vertical-align: text-top;
                display: inline-block;
            }
        }
    }
}
.order_create{
    margin:-10px;
}
.crm.order_wrap{
    padding: 10px 24px;
    background-color: #fff;
    padding-bottom: 100px;
    position: relative;
    .table{
      background:whitesmoke;
      .el-table{
        margin-top:10px;
        .cell{
            .el-button{ padding:0 ; font-size:18px}
            .el-icon-edit{
                font-size:18px
            }
        }
      }
    }
    .search {
        font-size:14px;
        padding:0 0 10px 0;
        .label{
            display: inline-block;
            width: 4rem;
            vertical-align: middle
        }
        .search_content{
            display: inline-block;
            vertical-align: middle
        }
    }
    .el-pagination{
        text-align: right;
    }
    .goods{
        .el-pagination{
            text-align: center;
            margin-top:10px;
            margin-bottom:10px;
        }
    }
    
}
.order_wrap{
    .el-form {
        .el-icon-info{
            color:#dedede;
            cursor: pointer;
        }
    }
}
.order_wrap.top_search {
    
    position: relative;
    min-height:40px;
    padding:10px 0;
    margin-bottom: 10px;
    // border-bottom:1px solid #dedede;
    h3{
        float: left;
    }
    .operation{
            padding: 0;
            float:right;
            margin-top:10px;
            li{
                float: left;
                margin-left: 20px;
            }
            .crm_b_btn_add{
                padding:8px 20px;
            }
    }
    .order_tab_wrap{
        position: relative;
        float:left;
        margin: 16px 0 0 20px;
        ul{
            
            li{
                float:left;
                margin-right:20px;
                cursor: pointer;
            }
            li.on{
                color:#46A7FF;
                font-weight: bold;
            }
        }
       
    }
    .title {
        padding-left: 10px;
        padding-right: 10px;
        .text_left {
            line-height: 32px;
        }
        .text_right {
            text-align: right;
        }
    }
    .search {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 15px;
        margin-bottom: 20px;
        line-height:40px;
        .label{
            width: 25%;
            float: left;
            font-size: 14px;
            color: #606266;
            overflow:hidden;
        }
        .search_content{
            width: 60%;
            float: left;
            .money {
                width: 45%;
                float: left;
            }
        }
        .buttons {
            text-align: right;
        }
    }
}
.order_wrap.top_search.noBorder{
    border: none;
    padding:0;
    margin:0;
    position: absolute;
    right:0;
    top: 4px;
    z-index: 15;
    .operation{
        margin-top:0;
    }
}
.settings-wrap{
    .content-title{
        position: relative;
        margin: 12px 0px;
        line-height: 32px;
        height: 48px;
        border-bottom: 1px solid #eeeeee;
        h3{
            padding-left: 18px;
        }
    }
    .settings-content{
        padding-right: 20px;
        h3{
            
            padding:10px;
            .addBtn_crm{
                float:right;
                cursor: pointer;
            }
        }
        position: relative;
        .settings-left{
            position: absolute;
            left: 0;
            /*top:20px;*/
            width: 300px;
            padding: 0 20px;
            border-right: 1px solid #eeeeee;
            .creatBtn{
                width: 100%;
                margin-bottom: 20px;
            }
            .el-button, .el-message-box{
                padding-left:0;padding-right:0;
            }
            .productTreeWrap{
                .el-tree-node__content{
                    line-height: 40px;
                    height:40px;
                    .custom-tree-node{
                        width:100%;
                        display: inline-block;
                        position: relative;
                        line-height: 40px;
                        text-overflow:ellipsis;
                        overflow:hidden;
                        white-space:nowrap;
                        padding-right:50px;
                        .treeNodeContent{
                            display: block;
                            line-height: 40px;
                            text-overflow:ellipsis;
                            overflow:hidden;
                            white-space:nowrap;
                        }
                        .editTreeWrap{
                            position: absolute;
                            display: inline-block;
                            right:0;
                            bottom:0;
                            display: none;
                            .el-icon-edit{
                                color:#46A7FF;
                            }
                        }
                    }
                }
                .el-tree-node__content:hover{
                    background:#EAF5FF;
                    .custom-tree-node{
                        .editTreeWrap{
                                display: inline-block;
                            }
                    }
                }
                
            }
        }
        .settings-right{
            padding-left: 370px;
            .page{
                float: right;
                margin-top: 30px;
                margin-right: 30px;
            }
            .nav_crm{
                float:left;
                margin-top:17px;
                .blue{ color: blue}
                .nav_crm_tit{
                    display: inline-block;
                    vertical-align: bottom;
                    min-width:2rem;
                    max-width: 10rem;;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space:nowrap;
                }
            }
            .el-table .cell{
                .el-button{
                    font-size:16px;
                    padding:0;
                }
            }
            .crm_settings-b-btn .el-button{  padding:8px 10px;
                i{ color:#fff;}
            }
            .crm-b-noBorder-btn{
                border:none;
            }
            
            .crm-seting-search{
                cursor: pointer;
                .el-icon-search{
                    color:#46A7FF;
                    font-size:20px;
                }
            }
            
        }
    }

}
.order_wrap.order_detail{
    padding: 20px;
    margin-bottom: 50px;
    position: relative;
    background: whitesmoke;
    .operate_buttons{
        // width: 82.333%;
        // position: fixed;
        // top: 70px;
        // right:0px;
        height:40px;
        line-height:40px;
        // background-color:$backgroundColor;
        z-index:1;
        .title{
          overflow:hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
    }
    .detail_content{
        // margin-top: 30px;
        padding: 20px 30px;
        background-color: #fff;
        border:1px solid $borderColor;
        .opertionWrap{
            overflow: hidden;
        }
        .statusSpan{
            color: #7ED321;
            font-size: 16px;
            float:left;
            margin: 10px;
        }
        .detailStatusWrap{
            float:right;
            .el-button{
                border:none;
            }
        }
        .detail_form{
            margin-top:10px;
            padding: 40px 20px 20px;
            // border:1px solid $borderColor;
            display: inline-block;
            .el-form-item{
              width:50%;
              float:left;
              margin-bottom: 0;
              .el-form-item__label,.el-form-item__content{
                  font-size:13px;
                  text-align: left
              }
              .row{
                width:100%;
              }
            }
            ._bdWrap{
                width:100%;
                float:none;
            }
            .title{
              width:100%;
              float:left;
              font-size:12px;
              margin-bottom:20px;
            }
            .line{
                margin-left: -20px;
                margin-right: -20px;
                margin-bottom:20px;
                border-top: 1px solid $borderColor;
            }
        }
    }
}
.crm_wrap_details{
    .top-wrap{
        margin-bottom: 10px;
        position: relative;
        .title-wrap{
            position: relative;
            border-bottom:1px solid #ebeef5;
            padding:10px;
            .title-name{ font-size:20px;font-weight: bold; color:#333;}
            .operate-box{position: absolute; right:10px;bottom:0;
                .el-button{border:none;}
            }
        }
        .content-list-wrap{
            .items{float: left;width:25%; line-height: 1.5em;
                    font-size:13px;
                    box-sizing: border-box;
                    display: -webkit-box;
                    padding:10px;
                    .name{ color:#999}
                    .text{ color:#333;vertical-align: text-top; display:inline-block;}
                }
            .rowItems{
                width:100%;
            }
            .o-bt{
                text-align: center;
                color:#2E9CFF;
                cursor: pointer;
                font-size:14px;
                .crm_b_showIcon{
                    fill: #46A7FF
                }
                .el-icon-arrow-up{ color:#fff;
                background:#2E9CFF; 
                width:18px;height:18px;border-radius: 50%}
            }
        }
        .content-list-wrap.hiddenClass{ 
            position: relative;
            .el-row{width:90%;    overflow: hidden;
            height: 30px;}
            .o-bt{
                position: absolute;
                right:10px;
                top: 10px;
            }
        }
    }
    .customer-detail-tab{
        padding:20px;
        background:#fff;
    }

}
.crm_b_Btn_Search{
    float: right;
    margin-top: 6px;
    .crm_b_search{
        cursor: pointer;
        margin-right: 10px;
        .crm_xicon1{
            fill: #46A7FF;
        }
    }
    .crm_b_reset{
        margin-right: 10px;
        cursor: pointer;
        .crm_xicon2{
            color:#46A7FF
        }
    }
}
