html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,applet,big,cite,font,ins,kbd,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center
	{
	margin: 0;;
	padding: 0;;
	border: 0;
	outline: 0;
	font-family: 'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial,
		Helvetica, STHeiti;
}

body {
	font-size: 12px;
}

td {
	font-size:  12px;
}
button {
	width: auto;
	overflow: visible!ie;
}

input,select {
	
	
	font-family: 'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial,
		Helvetica, STHeiti;
	
}

div.base {
	position: absolute;
	overflow: auto;
	white-space: nowrap;
}

div.base#graph {
	border-style: solid;
	border-color: #F2F2F2;
	border-width: 1px;
	font-family: 'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial,
		Helvetica, STHeiti;
	font-size: 12px;
	background: url('images/grid.gif');
}

.wd_tablelist01_2 {
	background: #9BC2E1;
	font-family: 'Microsoft Yahei', 微软雅黑, 宋体, Helvetica, Tahoma, Arial,
		Helvetica, STHeiti;
	font-size: 12px;
}

.wd_tablelist01_2 tr {
	background: #fff;
}

.wd_tablelist01_2 td {
	padding: 5px 4px 4px 4px;
}
.btn_q {
	
	padding:1px;
	color:black;
	cursor: hand;
	border:1px solid #8599B1;font-size:9pt;
}
.btn_f {
	padding-left:8px;
	padding-right:8px;

	color:black;
	cursor: hand;
	margin-right:5px;
	margin-top:4px;
	margin-bottom: 4px;
}
.btn_b {
	padding-left:9px;
	padding-right:9px;
	font-weight:bold;
	color:black;
	cursor: hand;
	margin-right:4px;
	margin-top:4px;
	margin-bottom: 4px;
	
}
