<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.notice.mapper.MailServerDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.sys.notice.entity.MailServer">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.sys.notice.entity.MailServer">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.sys.notice.entity.MailServer">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 查询默认邮件服务器 -->
	<select id="getDefualt" resultType="com.jzy.hio.sys.sys.notice.entity.MailServer">
		SELECT
			id,
			`host`,
			display_name displayName,
			username,
			`password`,
			is_default isDefault,
			`name`,
			`code`,
			remark
		FROM pt_sys_notice_mail_server
		where is_default=1 and delflag=0
	</select>
	<!-- 查询默认邮件服务器 -->
	<select id="checkCode" resultType="int">
		SELECT count(*) from pt_sys_notice_mail_server where `code`=#{code} and delflag=0
		<if test="id !=null">
			and id !=#{id}
		</if>
	</select>
	<!-- 将默认邮件服务器设置为否 -->
	<select id="unDefaultServer" resultType="int" parameterType="map">
		update pt_sys_notice_mail_server set is_default=0 where is_default=1
	</select>
	
	<!-- 模糊查询 -->
	<select id="queryListLike" parameterType="map" resultType="com.jzy.hio.sys.sys.notice.entity.MailServer">
		SELECT
			id,
			`host`,
			display_name displayName,
			username,
			`password`,
			is_default isDefault,
			`name`,
			`code`,
			remark
		FROM pt_sys_notice_mail_server
		where 1=1
		<if test="delflag !=null">
			and  delflag=0
		</if>
		<if test="mailKey !=null">
			and (`name` like CONCAT('%',#{mailKey},'%') or `code` like CONCAT('%',#{mailKey},'%') )
		</if>
	</select>
</mapper>