<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.res.entity.DataPoint">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.res.entity.DataPoint">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.res.entity.DataPoint">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.res.entity.DataPoint">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	   <!-- 根据数据对象控制项获取数据项控制点-->
		<select id="queryDataPointList" resultType="com.xinleju.platform.sys.res.dto.DataPointDto" parameterType="java.lang.String">
		 select 
		  id as id ,
           create_date as  createDate,
           update_date as updateDate,
           create_person_id as createPersonId,
           create_person_name as createPersonName,
           update_person_id as updatePersonId,
           update_person_name as updatePersonName,
            create_org_id as createOrgId,
            create_org_name as createOrgName,
            create_company_id as createCompanyId,
            create_company_name as createCompanyName,
            concurrency_version as concurrencyVersion,
          	delflag as delflag,
		     name as name,
		     code as code,
		     tend_id as tendId,
		     item_id as itemId,
		     icon as icon,
		     type as type,
		     sort as sort,
		     url as url,
		     model as model
		from pt_sys_res_data_point
		<choose>
                <when test="_parameter != null">
                        where item_id = #{_parameter,jdbcType=VARCHAR};
                </when>
                <otherwise>
                        where item_id is null;
                 </otherwise>
         </choose>
	</select>
	
	<!-- 校验itemId+code是否重复 -->
	<select id="checkItemIdAndPointCode" parameterType="map" resultType="int">
		SELECT count(*) from pt_sys_res_data_point p where 1=1 and p.delflag=0
		<if test="itemId !=null">
			and p.item_id =#{itemId}
		</if>
		<if test="code !=null">
			and p.`code` =#{code}
		</if>
		<if test="id !=null">
			and p.id !=#{id}
		</if>
	</select>
	<!-- 通过条件查询控制点列表 -->
	<select id="selectDataPointByPram" parameterType="map" resultType="com.xinleju.platform.sys.res.entity.DataPoint">
		SELECT * from pt_sys_res_data_point i where 1=1
			<if test=" id !=null">
				and i.id = #{id}
			</if>
			<if test="delflag !=null">
				and i.delflag=#{delflag}
			</if>
			<if test="itemId !=null">
				and i.item_id=#{itemId}
			</if>
		ORDER BY i.type  
	</select>
	
	<!-- 通过条件查询授权控制点 -->
	<select id="selectDataPointSelByPram" parameterType="map" resultType="map">
		SELECT o.id pointId,GROUP_CONCAT(v.val) valIds
				FROM pt_sys_res_data_permission p
				LEFT JOIN pt_sys_res_data_point_permission_val v ON v.data_permission_id = p.id
				LEFT JOIN pt_sys_res_data_point o on o.id=p.data_point_id
		where 1=1  and o.item_id=#{itemId}  and p.role_id=#{roleId} 
			GROUP BY p.id
	</select>
	
	<!-- 通过条件查询控制点列表 -->
	<update id="deleteByIds" parameterType="map">
		UPDATE  pt_sys_res_data_point SET delflag =1 where  id in
			<foreach collection="ids" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
	</update>
	
	<!-- 校验引用类型个数 -->
	<select id="checkYyTypeCount" parameterType="map" resultType="int">
		SELECT count(*) from pt_sys_res_data_point p where p.type=2 and p.delflag=0
		<if test="itemId !=null">
			and p.item_id =#{itemId}
		</if>
		<if test="id !=null">
			and p.id !=#{id}
		</if>
	</select>

	<!--获取数据权限授权点列表-->
	<select id="queryDataPointListByDataItem" parameterType="map" resultType="java.util.Map">
		SELECT
			dp.data_point_id as dataPointId,
			dp.role_id as roleId,
			p.`code` AS dataPointCode,
			p.`name` AS dataPointName,
			i.item_code AS itemCode,
			i.item_name AS itemName,
			if(IFNULL(rop.id,'')='',op.id,rop.id) AS postId
		FROM pt_sys_res_data_permission dp
		LEFT JOIN pt_sys_res_data_point p ON dp.data_point_id = p.id
		LEFT JOIN pt_sys_res_data_item i ON p.item_id=i.id
		LEFT JOIN pt_sys_org_standard_role r ON dp.role_id=r.id
		LEFT JOIN pt_sys_org_post rop ON r.id=rop.role_id
		LEFT JOIN pt_sys_org_post op ON op.id=dp.role_id
		WHERE i.item_code=#{itemCode}
		AND (dp.delflag='0' OR dp.delflag IS NULL)
		AND (p.delflag='0' OR p.delflag IS NULL)
	</select>
</mapper>