<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="com.yd.ssi.mapper.UserMapper">
	

	<select id="login" resultType="User" parameterType="User">
		select * from users where id=#{id} and password=#{password}
	</select>

	<!--
	<select id="getUser" resultType="com.yd.ssi.model.User" parameterType="com.yd.ssi.model.User">
		select * from users where id=#{id} and name=#{name}
	</select>
	-->

	<select id="getUsers" parameterType="java.lang.String" resultType="com.yd.ssi.model.User">
		select * from users
	</select>
	
	<parameterMap id="addUserParam" type="User">
		<parameter property="id" jdbcType="VARCHAR" />
		<parameter property="name" jdbcType="VARCHAR" />
		<parameter property="password" jdbcType="VARCHAR" />
	</parameterMap>
	<insert id="addUser" parameterMap="addUserParam">
		insert into users(id, name, password) values(?,?,?)
	</insert>
	
</mapper>