@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px; font-size:14px;}
body { background:#E6E6E6; text-align:center; font-family: "宋体",Arial;}
img{ vertical-align:middle; border:0px;}
li{ list-style:none;}
input{ vertical-align:middle; border:1px solid #A1CAC6; height:16px; padding:4px 2px 0px 2px;}
.checkbox{ border:0px; margin-right:5px;}
input,select{ vertical-align:middle; margin-right:5px;}

a:link,a:visited,a:active{ color:#333; text-decoration:none;}
a:hover{ color:#368E9D; text-decoration: none;}
.red{ color:#FF0000;}
a.red:link,a.red:visited,a.red:active{ color:#FF0000; text-decoration: none;}
a.red:hover{ color:#368E9D; text-decoration: underline;}
.orange{ color:#FF6600;}
a.orange:link,a.orange:visited,a.orange:active{ color:#FF6600; text-decoration: none;}
a.orange:hover{ color:#368E9D; text-decoration: underline;}
.sred{ color:#FF0000; font-size:12px;}
a.sred:link,a.sred:visited,a.sred:active{ color:#FF0000; text-decoration: none; font-size:12px;}
a.sred:hover{ color:#368E9D; text-decoration: underline; font-size:12px;}
.sblue{ color:#368E9D; font-size:12px;}
a.sblue:link,a.sblue:visited,a.sblue:active{ color:#368E9D; text-decoration: none; font-size:12px;}
a.sblue:hover{ color:#368E9D; text-decoration: underline; font-size:12px;}
.dred{ color:#CC0000;}
a.dred:link,a.dred:visited,a.dred:active{ color:#CC0000; text-decoration: none;}
a.dred:hover{ color:#368E9D; text-decoration: underline;}
.sunblue{ color:#4F91A4; text-decoration:underline; font-size:12px;}
a.sunblue:link,a.sunblue:visited,a.sunblue:active{ color:#4F91A4; text-decoration: underline; font-size:12px;}
a.sunblue:hover{ color:#368E9D; text-decoration: underline;}
.ungray{ color:#666; font-size:12px;}
a.ungray:link,a.ungray:visited,a.ungray:active{ color:#666; text-decoration: underline; font-size:12px;}
a.ungray:hover{ color:#368E9D; text-decoration: underline;}

.bold{ font-weight:bold;}
.clear{/* height:10px; */clear:both; line-height:0px; font-size:0px;}
/*btop*/
#btop{ background:#fff; height:102px; width:1003px; margin:0px auto; border-top:3px solid #47ABB5;}
	#btop dd{ width:auto; float:left; padding:13px 0px 0px 35px;}
	#btop dt{ width:auto; float:right; padding:21px 35px 0px 0px;}
/*bstep*/
#bstep{ width:1003px; margin:0px auto; height:104px; background:#FFF url(../images/stepbg.jpg) no-repeat center center; text-align:center;}
	#bstep dl{ padding:18px 0px 0px 331px;}
	#bstep dd{ width:auto; float:left; width:56px; height:74px;}
	#bstep dt{ width:auto; float:left; width:46px; height:74px; background:url(../images/stepline.gif) no-repeat center 18px;}
	#bstep .step1{ background:url(../images/step1.gif) no-repeat center center;}
	#bstep .step1on{ background:url(../images/step1_on.gif) no-repeat center center;}
	#bstep .step2{ background:url(../images/step2.gif) no-repeat center center;}
	#bstep .step2on{ background:url(../images/step2_on.gif) no-repeat center center;}
	#bstep .step3{ background:url(../images/step3.gif) no-repeat center center;}
	#bstep .step3on{ background:url(../images/step3_on.gif) no-repeat center center;}
	#bstep .step4{ background:url(../images/step4.gif) no-repeat center center;}
	#bstep .step4on{ background:url(../images/step4_on.gif) no-repeat center center;}
/*footer*/
#footer{ width:1003px; margin:0px auto; height:45px; font-size:12px; background:#E5E5E5 url(../images/footerbg.png) repeat-x center top; color:#666; padding-top:15px; line-height:21px;}

/*banner*/
#banner{ width:1003px; margin:0px auto; height:35px; background:#FFF url(../images/stepbg.jpg) no-repeat center center; text-align:center;}
/*window*/
.window{ width:448px; position:relative; padding:35px 0px 10px 0px;}
.window .btop{ position:absolute; top:0px; left:0px; background:url(../images/windowtil.gif) no-repeat left bottom; height:35px; clear:both; width:448px;}
.window .btop dd{ width:auto; float:left; padding:10px 0px 0px 15px; color:#FFF; font-size:14px; font-weight:bold;}
.window .btop dt{ width:auto; float:right; padding:10px 15px 0px 0px;}
.window .bbottom{ background:url(../images/windowb.gif) no-repeat left bottom; clear:both; width:448px; height:234px;}
.window .con{ padding:30px; color:#FF0000; font-weight:bold; font-size:20PX;}

.sconsul{ padding:10px 15px; text-align:left;}
.sconsul h1,.sconsul h2{ font-size:12px; height:20px;  text-align:left; clear:both;}
.sconsul h2{ padding-top:8px;}
.sconsul .ques{ overflow-y:auto; overflow-x:hidden; border:1px solid #E1E1E1; background:#E7E7E7; padding:5px; font-weight:normal; font-size:12px; line-height:17px;}
.sconsul .bold{ font-size:12px;}
.sconsul .reply{ height:82px; overflow-y:auto; overflow-x:hidden; border:1px solid #E1E1E1; background:#FFF; padding:5px; font-weight:normal; font-size:12px; line-height:17px;}