body{
    padding:0;
    margin:0;
    font-family: '微软雅黑';
    font-size:12px;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.fl{
    float: left;
}
.fr{
    float: right;
}
.btn-menu{
    min-height:50px;
    line-height: 48px;
}
.flow-base-from{
    margin-top:20px;
}
.flow-base-from .form-group span{
     color: red;
 }
.flow-base-from .form-group span.glyphicon{
    color:#367fa9;
}
.table-title {
    float: left;
    color: #000;
    padding-left: 20px;
    font-weight: bold;
line-height: 50px}
.btn_right {
    float: right;
    padding: 8px;
}
.read-people-box{
    margin-top:20px;
}
.radio-line-height{
    line-height: 42px;
}
.radio-line-height  span
{
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}
.radio-line-height  label{
    margin-right: 20px;
}
.role-radio-box{
    padding-right: 0;
}
.role-radio-box label{
    padding-left: 0;
}
.role-radio-box span{

}
.read-select-box{
    width: 12%;
}
.radio-box{
    margin-left:1%;
    margin-right: 1%;
}
.read-people-list{
    height: 136px;
    line-height: 136px;
    text-align: center;
}
.opendialog-btn{
    vertical-align: middle;
    margin-top: -5px;
}
.input-icon{
    width: 93%; display: inline-block;
}
.select-icon
{
    width: 95%;
    display: inline-block;
}
.flow-table-input{
    width: 90%;
    display: inline-block;
}
.table.flow-table>tbody>tr>td{
    text-align: center;
    line-height: 32px;
}
.flow-table td span{
    color: red;
}
.flow-table .form-group{
    margin-bottom: 0;
}
.table.readset-table>tbody>tr>td{
    line-height: 32px;
}
.readset-table .form-group{
    margin-left: 0;
    margin-right: 0;
}
.bordernone{
    border:none;
}
.bus-thead-tr{
    height: 40px;
    line-height: 38px;
    background-color: #d1d1d1;
}
.bus-thead-tr span{
    font-weight: bold;
    padding-left: 10px;
}
.bus-thead-tr .btn_right{
    margin-right: 10px;
    padding:0px;
    margin-top: 5px;
}
.table>tbody>tr>td{
    vertical-align: middle;
    padding: 2px;
}
.radio-style{
    font-weight: normal;
    float: left;
    display: inline-block;
    line-height: 34px;
}
.radio-style input{
    margin-left: 3px;
}
.col_title{
    text-align: right;
    font-weight: bold;
    width: 15%;
}
.col_title span{
    color: red;
}
.table>tbody>tr>td.col_text{
    line-height: 32px;
}
.col_text .mar_l_10{
    margin-left:10px;
}
.col_td{
    width: 35%;
}
.select-style{
    float: right;
    width: auto;
    display: inline-block;
}
.table-bordered>tbody>tr>th.my-vertical {
    vertical-align: middle;
}
.table-bordered>tbody>tr>td{
    border: 1px solid #ddd;
}
.table-bordered>tbody>tr.bus-thead-tr>td{
    padding: 0;
    line-height: 38px;
}
.glyphicon{
    top:0;
}
.addPad{

}
.form_container{
    margin-top:70px;
}

.table_bar{
    height:40px;
    line-height: 38px;
    background-color: #d1d1d1;
}
.table_bar span{
    font-weight:bold;
    padding-left:10px;
}
.table_bar_btn{
    float:right;
    padding-right:10px;
}
.approve-table>thead>tr>td{
    border:1px solid #ddd;
}
.approve-table>tbody>tr>td{
    line-height: 22px;
}
.approve-table>thead{
font-weight: bold;

}
.approve-table td,.emulatioon-table tr:not(.bus-thead-tr) td{
    text-align: center;
}

.emulatioon-table>tbody>tr>td .input-group{
    width: 100%;
}
.emulatioon-table .needed span{
    color: red;
}
.form_header{
    background-color:#000;
    line-height:42px;
    width:100%;
    position: fixed;
    top:0;
    z-index:1000;
}
.form-title{
    float:left;
    font-size:13px;
    line-height:39px;
    color:#fff;
    padding-left:20px;
    font-weight:bold;
}

.form_h_btn{
    float:right;
    margin-right:10px;
}
.form_hd{
     background-color: #79b6da;
     height:45px;
 }
.read-list-p{
    vertical-align: middle;
    text-align: center;
    height: auto;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 20px;
}
table.copy-send-table>tbody>tr>td{
    background: #eee;
}
.input-group .input-group-addon.disabled{
    background: #eee;
}
/*流程 导航 样式重写*/

.nav-stacked.flow-nav>li{
    text-align: center;
}
.nav-stacked.flow-nav>li.active>a, .nav-stacked.flow-nav>li.active>a:hover{
    border:none;
}
.nav-stacked.flow-nav>li a{
    color: #337ab7;
    background: #fff;
    border-radius: 5px;
}
.nav-stacked.flow-nav>li a:hover{
    background: #eee;
}
.nav-stacked.flow-nav>li.active a,.nav-stacked.flow-nav>li.active a:hover{
    border-radius: 5px;
    background: #337ab7;
    color: #fff;
    font-weight: normal;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
/*分支条件判断 小页面*/
.col_tit{
    font-weight: bold;
    text-align: right;
    width: 10%;
}
.col_tit_text{
    width: 20%;
}
.col_text_70{
    width: 70%;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.table-bordered>tbody>tr>td.border-r-no{
    border-right: none;
}
.table-bordered>tbody>tr>td.border-l-no{
    border-left:none;
}
.operation-btn button{
    margin-right: 10px;
}
/*Media queries*/

@media screen and (max-width: 960px){
    .embed-responsive-4by3{
        padding-bottom: 73%;
    }
    .skin-blue .main-sidebar{
        width: 29.666667%;
    }
}