*{padding: 0;margin: 0;}
html {
	height: 100%;
	width: 100%;
	font-size: 15px;
	outline: 0;
	-webkit-text-size-adjust:none;
}
body {
	height: 100%;
	margin: 0;
	-webkit-user-select: none;
	position: relative;
}
html,
body {
	background: #F6F6F6;
}
.my-bar{
	height: 2.666rem;
	line-height: 2.666rem;
	text-align: center;
	box-shadow: none;
	background: #fff;
	padding-right:0.666rem;
	padding-left:0.666rem;
}
.my-bar .tit{
	font-size: 1.1333rem;
	color: #333;
}
.mui-bar-nav~.mui-content{
	padding-top: 2.7333rem;
}
.head-icon{
	width: 1.1333rem;
	height: 1.1333rem;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	margin-top: 0.8rem;

}
.head-icon.smile{
	background: url("../myimg/sk_home.png") no-repeat;
	margin-right: 0.666rem;
	margin-top: 0.666rem;
	width: 1.333rem;
	height: 1.333rem;
}

.head-icon.remove{
	background: url("../myimg/sk_close.png") no-repeat;
}
.head-icon.add{
	background: url("../myimg/sk_add.png") no-repeat;
}
@media screen and (width: 768px){
	.head-icon.remove{
		background: url("../myimg/sk_close@2x.png") no-repeat;
	}
	.head-icon.add{
		background: url("../myimg/sk_add@2x.png") no-repeat;
	}
	.head-icon.smile{
		background: url("../myimg/sk_home@2x.png") no-repeat;
	}
}
@media screen and (width: 1024px){
	.head-icon.remove{
		background: url("../myimg/sk_close@3x.png") no-repeat;
	}
	.head-icon.add{
		background: url("../myimg/sk_add@3x.png") no-repeat;
	}
	.head-icon.smile{
		background: url("../myimg/sk_home@3x.png") no-repeat;
	}
}


.mui-input-group .mui-input-row{
	height: 3rem;
	margin-bottom: 0.666rem;
	margin-right: 0.666rem;
}
.mui-input-group{
	overflow: hidden;
}
.my-bar .btn{
	font-size: 1rem;
	color: #2CAFFF;
}
.mui-content{
	background: #fff;
}
.my-input-row input{
	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	color: #333;
	padding: 0.666rem 1rem;
}
.mui-input-group:before{
	background-color: #e8e8e8;
}
.mui-input-group .mui-input-row:after{
	background-color: #e8e8e8;
}
.mui-input-group:after{
	background: none;
}
.mui-input-row label{
	font-size: 1rem;
	line-height: 1.666rem;
	color: #333;
	padding: 0.666rem 1rem;
}




.hb-tip{
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	background: #fce8c8;
	font-size: 0.933rem;
	color: #FF9F00;
}
.des-con textarea{
	color: #333;
	width: 100%;
	min-height: 6.666rem;
	font-size: 1rem;
	line-height: 1.6rem;
	padding-left:1rem;
	padding-right:1rem;
	padding-top:1rem;
	padding-bottom: 0;

}
.rwnr-con,.upload-box{
	border-bottom: 1px solid #e8e8e8;
	font-size: 1rem;
}
.rwnr-con label{
	display: block;
	color: #666;
	padding: 1rem 1rem 0px 1rem;
}
.rwnr-con textarea{
	color: #333;
	width: 100%;
	min-height: 5.666rem;
	font-size: 1rem;
	line-height: 1.6rem;
	padding: 0.666rem 1rem;
	padding-bottom: 0;
}
.upload-box{
	padding: 1rem;
	overflow: hidden;
}
.upload-img{
	color:#999;
	width: 6rem;
	height: 6rem;
	background: #FFFFFF;
	border: 1px dashed #D6D6D6;
	cursor: pointer;
	float: left;
	position: relative;
}
.upload-img label{
	font-size: 0.8rem;
	line-height: 0.8rem;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.upload-img i {
	width: 100%;
	text-align: center;
	margin-top: 1.466rem;
}
.person-info{
	padding: 1rem;
	font-size: 1rem;
	color: #666666;
	letter-spacing: 0;
	line-height: 1.733rem;
}
.upload-box>.img-box{
	width: 6rem;
	height: 6rem;
	margin-right: 0.333rem;
	float: left;
	margin-bottom: 0.666rem;
}
.img-box>img{
	width:100%;
	height:100%;
}
/*遮罩操作*/
.background_div {
	width:100%;
	height:100%;
	background-color:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:998;
	opacity:0.3;
	/*兼容IE8及以下版本浏览器*/
	filter: alpha(opacity=30);
	display:none;
}

.background_operate {
	width:58%;
	height:200px;
	background-color:whitesmoke;
	margin: auto;
	padding-top: 0px;
	padding-left: 20px;
	position: absolute;
	z-index:999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display:none;
	border-radius:15px;
}