.nav-tabs{border-bottom:1px solid #ECECEC}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{color:#46A7FF;background-color:transparent;border:none;border-bottom:2px solid #46A7FF; font-weight:bold}
.nav>li>a:hover{background-color: transparent; border:none;}
.nav-tabs>li>a{border-radius: 0; font-size:14px; color:#878787;border:none;}
#moreMsgListBtn .glyphicon-th-list:before{
    content:"";
}
#moreMsgListBtn .glyphicon{
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url(../../../image/common/moreinfo_nor.png) no-repeat center center;
    background-size: 100% 100%;
}

#moreMsgListBtn .glyphicon:hover{
    background-image:url("../../../image/common/moreinfo_hov.png");
}
#sortMsgListBtn .glyphicon{
    display: inline-block;
    width: 13px;
    height: 11px;
}


#sortMsgListBtn .glyphicon-up{
    content:"";
    background: url(../../../image/common/order_up_nor_13x11@2x.png) no-repeat center center;
    background-size: 100% 100%;
}
#sortMsgListBtn .glyphicon-up:hover{
    content:"";
    background: url(../../../image/common/order_up_13x11@2x.png) no-repeat center center;
    background-size: 100% 100%;
}
#sortMsgListBtn .glyphicon-down{
    content:"";
    background: url(../../../image/common/order_down_nor_13x11@2x.png) no-repeat center center;
    background-size: 100% 100%;
}
#sortMsgListBtn .glyphicon-down:hover{
    content:"";
    background: url(../../../image/common/order_down_13x11@2x.png) no-repeat center center;
    background-size: 100% 100%;
}



#moreMsgListForAmericaBtn .glyphicon-th-list:before{
    content:"";
}
#moreMsgListForAmericaBtn .glyphicon{
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url(../../../image/common/moreinfo_nor.png) no-repeat center center;
    background-size: 100% 100%;
}

#moreMsgListForAmericaBtn .glyphicon:hover{
    background-image:url("../../../image/common/moreinfo_hov.png");
}
#sortMsgListForAmericaBtn .glyphicon{
    display: inline-block;
    width: 13px;
    height: 11px;
}
#sortMsgListForAmericaBtn .glyphicon-up{
    content:"";
    background: url(../../../image/common/order_up_nor_13x11@2x.png) no-repeat center center;
    background-size: 100% 100%;
}
#sortMsgListForAmericaBtn .glyphicon-up:hover{
    content:"";
    background: url(../../../image/common/order_up_13x11@2x.png) no-repeat center center;
    background-size: 100% 100%;
}
#sortMsgListForAmericaBtn .glyphicon-down{
    content:"";
    background: url(../../../image/common/order_down_nor_13x11@2x.png) no-repeat center center;
    background-size: 100% 100%;
}
#sortMsgListForAmericaBtn .glyphicon-down:hover{
    content:"";
    background: url(../../../image/common/order_down_13x11@2x.png) no-repeat center center;
    background-size: 100% 100%;
}