body{
    background: #fff;
}
.forum-content .tit span.pl0{
    padding-left: 0;
}
.mt60{
    margin-top: 60px;
}
.page-box{

}
.page-box .tit-box{
    display: inline-block;
    float: left;
    padding: 30px 0;
    font-size: 12px;
    color: #666666;
    padding-left: 20px;
    background: url(../images/titlearrow_b.png) 0 32px no-repeat;
    line-height: 24px;
}
.page{
    float: right;
    padding: 30px 0;
}
.page a{
    font-size: 12px;
    color: #999999;
    cursor: pointer;
    line-height: 24px;
}
.page a{
    margin-right: 10px;
}
.page input.pageInput{
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    width: 44px;
    margin:0 10px;
    display: inline-block;
    text-indent: 5px;
}
.page button.btn-sm,.hffb-box button.btn-sm{
    float: none;
    display: inline-block;
    background: #46A7FF;
    color: #fff;
    outline: none;
    border: none;
    padding: 5px 6px;
}
a:hover{
    color: #46A7FF;
}
.forum-content{
    overflow: hidden;
}
.forum-content .tit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    background: #F3F3F3;
}
.forum-content .tit span{
    margin-right: 10px;
    padding-left: 18px;
    font-size: 12px;
    color: #999;
}
.forum-content .tit .icon{
    color: #666;
}
.forum-content .tit label{
    color: #999;
}
.forum-content .tit a{
    color: #333;
    padding-left: 18px;
    background: url("../images/forum_reply.png") 0 12px no-repeat;
    display: inline-block;
    float: right;
}
.forum-content .tit .icon.hot{
    background: url("../images/hot.png") no-repeat;
}
.forum-content .tit .icon.jp{
    background: url("../images/jing.png") no-repeat;
}
.forum-content .tit .icon.yj{
    background: url("../images/finish.png") no-repeat;
}
.forum-content .tit .icon.zd{
    background: url("../images/top.png") 0 1px no-repeat;
}
.item-list .item{
    border: 1px solid #E7E7E7;
    /*min-height: 284px;*/
}
.item-left-box{
    padding: 10px;
    text-align: center;
    position: relative;
}
.item-left-box .floor{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: #46A7FF;
}
.item-left-box img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin-top: 30px;
}
.item-left-box p.name{
    font-size: 16px;
    color: #333333;
    line-height: 16px;
    margin:10px 0;
    padding: 0 30px;
}
.item-left-box p.belong{
    font-size: 12px;
    color: #666666;
    line-height: 18px;
    padding: 0 30px;
    margin-bottom: 10px;
}
.item-left-box .detail{
    margin:10px 0;
    width:100%;
}
.item-left-box .detail p{
    float: left;
    width: 30%;
    border-right: 1px solid #D8D8D8;
}
.item-left-box .detail p.w40{
    width: 40%;
}
.item-left-box .detail p:nth-last-child(1){
    border-right: none;
}
.item-left-box .img-span{
    display: inline-block;
}
.item-left-box .detail p a{
    display: block;
    color: #46A7FF;
}
.item-right-box{
    padding: 20px 35px;
    border-left: 1px solid #e7e7e7;
}
.item-right-box h2{
    font-size: 22px;
    color: #333333;
    line-height: 34px;
}
.item-right-box .second-tit{
    padding: 20px 0;
    line-height: 12px;
}
.item-right-box .second-tit span{
    font-size: 12px;
    color: #999;
}
.item-right-box .second-tit label.jy{
    font-size: 12px;
    color: #666;
    padding-left: 18px;
    background: url("../images/forum_forbid.png") 0 -1px no-repeat;
}
.item-right-box .second-tit a{
    color: #46A7FF;
}
.item-right-box .mr28{
    margin-right: 28px;
}
.item-right-box .con-text{
    border-top: 1px dashed #D6D6D6;
    border-bottom: 1px dashed #D6D6D6;
    padding: 20px 0;
    font-size: 14px;
    color: #666666;
    line-height: 28px;
    min-height: 166px;
}
.item-right-box .hf-con-text{
    min-height: 180px;
    border-bottom: 1px dashed #D6D6D6;
}
.item-right-box .hf-con-text.has-yy{
    margin-top: 20px;
    min-height: 0;
}
.item-right-box .hf-con-text .hf-text{
    font-size: 14px;
    color: #333333;
    line-height: 20px;
}
.item-right-box .yy-con{
    background: #EFF8FF;
    border: 1px dashed #D6D6D6;
    height: auto;
    padding: 10px;
    margin-top: 10px;
}
.item-right-box .yy-con p{
    text-indent: 35px;
    margin-top: 6px;
    color: #ABABAB;
    font-size: 10px;
}
.item-right-box .yy-con span{
    font-size: 10px;
    color: #ABABAB;
}
.item-right-box .yy-con span.yy-floor{
    font-size: 12px;
    color: #46A7FF;
    padding-right: 18px;
    background: url("../images/quote.png") right 1px no-repeat;
    margin-right: 5px;
}
.item-right-box .yy-con span.text{
    font-size: 12px;
    color: #666666;
    line-height: 19px;
}
.item-right-box .yy-con span.name{
    margin-right: 5px;
}
.item-right-box .attentbox{
    padding: 20px 0;
    border-bottom: 1px dashed #D6D6D6;
}
.item-right-box .attentbox span{
    padding-left: 20px;
    font-size: 12px;
    color: #666666;
    line-height: 12px;
    cursor: pointer;
    background: url("../images/fujian.png") no-repeat;
    display: block;
    margin: 5px;

}
.item-right-box .attentbox span:hover{
    color: #46A7FF;
}
.con-btns{
    padding-top: 20px;
    text-align: right;
}
.con-btns a{
    font-size: 12px;
    color: #666666;
    margin-left: 28px;
    padding-left: 18px;
}
.con-btns a:hover{
    color: #46A7FF;
}
.con-btns a.hf{
    background: url("../images/forum_reply.png") no-repeat;
}
.con-btns a.yy{
    background: url("../images/quote.png") no-repeat;
}
.con-btns a.bj{
    background: url("../images/forum_edit.png") no-repeat;
}
.con-btns a.pb{
    background: url("../images/forum_shield.png") no-repeat;
}
.con-btns a.sc{
    background: url("../images/forum_delete.png") no-repeat;
}

.to-home{
    float: left;
    font-size: 12px;
    color: #46A7FF;
    background: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    margin: 30px 0;
}
.hffb-box{
    background: #F6F6F6;
    border-radius: 3px;
    height: 442px;
    padding: 30px;
    margin-bottom: 50px;
}
.hffb-box .tit-box{
    margin-bottom: 30px;
}
.hffb-box .tit{
    font-size: 14px;
    color: #333333;
    padding-left: 30px;
    background: url("../images/forum_reply_big.png") no-repeat;
    float: left;
}
.hffb-box button.btn-sm{
    float: right;
}
.tit-input{
    margin-bottom: 15px;

}
.tit-input input{
    background: #FFFFFF;
    height: 36px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    text-indent: 5px;
    font-size: 14px;
    color: #999999;
}
.textarea-con{
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    height: 230px;
    margin-bottom: 15px;
}
.attent label{
    font-size: 14px;
    color: #666666;
    margin-right: 10px;
}

.attent input{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    height: 28px;
    width:88px;
}
/*
.attent span{
    margin-left: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../images/forum_delete.png") no-repeat;
    vertical-align: middle;
}*/
#topic-template{
    display: none;
}
#reply-template{
    display: none;
}
#refer-template{
    display: none;
}
.hffb-box{
    display: none;
}
.hf{
    display: none;
}
