.errorHtml{
	padding-top:100px
}
.error_pic{
	min-height: 80px;
	background:url(../myimg/Group2@2x.png) no-repeat center center;
	background-size: 63px 73px;
	margin-bottom:18px;
}
.error_text{
	text-align: center;
	font-size: 14px;
	color: #999999;
	line-height: 14px;
}