img.img-operate {   
	    display: inline;   
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";   
	    filter: alpha(opacity=0);   
	    opacity: 0;   
	    display:none;   
	}
	li.feed-element:hover img.img-operate , #tab-2 img.img-operate.permanent{   
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";   
	    filter: alpha(opacity=50);   
	    opacity: .5;   
	    display:inline;   
	} 
	li.feed-element:hover img.img-operate:hover {   
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";   
	    filter: alpha(opacity=100);   
	    opacity: 1;   
	    display:inline;   
	} 
    .feed-element img.img-circle,.dropdown-messages-box img.img-circle {
	    width: 20px;
	    height: 20px;
	    margin: -6px 0 0 0;
	}
	.feed-element,
	.feed-element .media {
	    /* margin-top: 15px; */
	}
	.ibox {
	    clear: both;
	    margin-bottom: 25px;
	    margin-top: 0;
	    padding: 0;
	}
	.feed-element > .pull-left {
   		margin-right: 10px;
    }
    .title-span{
        display: block;
    	width: 40%;
    	white-space: nowrap;
    	text-overflow: ellipsis;
    	overflow: hidden;
    	float: left;
    }
    .title-element{
        display: block;
    	width: 90%;
    	white-space: nowrap;
    	text-overflow: ellipsis;
    	overflow: hidden;
    	float: left;
    }
    .content-list{
    	overflow: hidden;
		border: 1px solid #e1e1e1;
		padding: 0;
    }
	.content-box{
		margin:20px;
	}
.content-box .item{
	margin-bottom: 20px;
}
.content-box .item .item-tit{
	margin-right: 10px;
}
.content-box .item .item-tit span{
	font-size: 12px;
	color: #333333;
	margin-right: 8px;
	font-weight: bold;
	margin-top: 5px;
	width: 72px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
}
.content-box .item .item-tit i{
	width: 10px;
	height: 13px;
	display: inline-block;
	background: url("../../common/custom/images/kjrk_arrow.png") no-repeat;
	margin-bottom: 2px;
}
.content-box .item a .split{
	font-size: 12px;
	color: #b4b4b4;
	letter-spacing: 0;
	line-height: 24px;
	margin:0 10px;
}
.content-box .item a{
	display: inline-block;
}
.content-box .item a .link-name{
	font-size: 12px;
	color: #2A2A2A;
	cursor: pointer;
}
.content-box .item a .link-name:hover{
	color: #46A7FF;
}
.flow .con-tit.pd-b-0{
	padding-bottom: 0;
}
.w76{
	width: 76%;
}
.flow .con-tit button{
	margin-bottom: 20px;
}

@media screen and (min-width: 1830px){
	.w91{
		width:89%;
	}
}
@media screen and (max-width: 1830px) and (min-width: 1310px) {
	.w91{
		width:86%;
	}
}

@media screen and (max-width: 1310px){
	.w91{
		width:82%;
	}
}