@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
.fl {float:left;}
.fr {float:right;}
.fn {float:none;}
.tac {text-align: center;}
.tar {text-align: right;}
.tal {text-align: left;}
.oh{ overflow:hidden;}
.db{ display:block;}
.dn{ display:none;}

.mt-1{ margin-top:-1px;}
.mt01 { margin-top: 1px; }
.mt02 { margin-top: 2px; }
.mt04 { margin-top: 4px; }
.mt05 { margin-top: 5px; }
.mt06 { margin-top: 6px; }
.mt07 { margin-top: 7px; }
.mt08 { margin-top: 8px; }
.mt09 { margin-top: 9px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt16 { margin-top: 16px; }
.mt17 { margin-top: 17px; }
.mt18 { margin-top: 18px; }
.mt19 { margin-top: 19px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mb00 { margin-bottom: 0px; }
.mb01 { margin-bottom: 1px; }
.mb02 { margin-bottom: 2px; }
.mb04 { margin-bottom: 4px; }
.mb05 { margin-bottom: 5px; }
.mb06 { margin-bottom: 6px; }
.mb07 { margin-bottom: 7px; }
.mb08 { margin-bottom: 8px; }
.mb09 { margin-bottom: 9px; }
.mb10 { margin-bottom: 10px; }
.mb12 { margin-bottom: 12px; }
.mb13 { margin-bottom: 13px; }
.mb14 { margin-bottom: 14px; }
.mb15 { margin-bottom: 15px; }
.mb19 { margin-bottom: 19px; }
.mb20 { margin-bottom: 20px; }
.mb23 { margin-bottom: 23px; }
.mb25 { margin-bottom: 25px; }
.ml02 { margin-left: 2px; }
.ml03 { margin-left: 3px; }
.ml04 { margin-left: 4px; }
.ml05 { margin-left: 5px; }
.ml06 { margin-left: 6px; }
.ml07 { margin-left: 7px; }
.ml08 { margin-left: 8px; }
.ml10 { margin-left: 10px; }
.ml12 { margin-left: 12px; }
.ml15 { margin-left: 15px; }
.ml16 { margin-left: 16px; }
.ml17 { margin-left: 17px; }
.ml18 { margin-left: 18px; }
.ml19 { margin-left: 19px; }
.ml20 { margin-left: 20px; }
.ml22 { margin-left: 22px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml85 { margin-left: 85px; }
.mr02 { margin-right: 2px; }
.mr04 { margin-right: 4px; }
.mr05 { margin-right: 5px; }
.mr06 { margin-right: 6px; }
.mr08 { margin-right: 8px; }
.mr10 { margin-right: 10px; }
.mr12 { margin-right: 12px; }
.mr14 { margin-right: 14px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr22 { margin-right: 22px; }
.mr30 { margin-right: 30px; }
.pt02 { padding-top: 2px; }
.pt03 { padding-top: 3px; }
.pt04 { padding-top: 4px; }
.pt05 { padding-top: 5px; }
.pt06 { padding-top: 6px; }
.pt07 { padding-top: 7px; }
.pt08 { padding-top: 8px; }
.pt09 { padding-top: 9px; }
.pt10 { padding-top: 10px; }
.pt11 { padding-top: 11px; }
.pt12 { padding-top: 12px; }
.pt13 { padding-top: 13px; }
.pt14 { padding-top: 14px; }
.pt15 { padding-top: 15px; }
.pt16 { padding-top: 16px; }
.pt17 { padding-top: 17px; }
.pt18 { padding-top: 18px; }
.pt19 { padding-top: 19px; }
.pt20 { padding-top: 20px; }
.pt24 { padding-top: 24px; }
.pt25 { padding-top: 0px; }
.pt28 { padding-top: 28px; }
.pt33 { padding-top: 33px; }
.pt38 { padding-top: 38px; }
.pt44 { padding-top: 44px; }
.pt50 { padding-top: 50px; }
.pl01 { padding-left: 1px; }
.pl02 { padding-left: 2px; }
.pl03 { padding-left: 3px; }
.pl04 { padding-left: 4px; }
.pl05 { padding-left: 5px; }
.pl06 { padding-left: 6px; }
.pl07 { padding-left: 7px; }
.pl08 { padding-left: 8px; }
.pl09 { padding-left: 9px; }
.pl10 { padding-left: 10px; }
.pl11 { padding-left: 11px; }
.pl12 { padding-left: 12px; }
.pl13 { padding-left: 13px; }
.pl14 { padding-left: 14px; }
.pl15 { padding-left: 15px; }
.pl16 { padding-left: 16px; }
.pl18 { padding-left: 18px; }
.pl20 { padding-left: 20px; }
.pl22 { padding-left: 22px; }
.pl24 { padding-left: 24px; }
.pl25 { padding-left: 25px; }
.pl28 { padding-left: 28px; }
.pl30 { padding-left: 30px; }
.pl85 { padding-left: 85px; }
.pr01 { padding-right: 1px; }
.pr02 { padding-right: 2px; }
.pr03 { padding-right: 3px; }
.pr04 { padding-right: 4px; }
.pr05 { padding-right: 5px; }
.pr06 { padding-right: 6px; }
.pr07 { padding-right: 7px; }
.pr08 { padding-right: 8px; }
.pr09 { padding-right: 9px; }
.pr10 { padding-right: 10px; }
.pr12 { padding-right: 12px; }
.pr14 { padding-right: 14px; }
.pr15 { padding-right: 15px; }
.pr16 { padding-right: 16px; }
.pr17 { padding-right: 17px; }
.pr18 { padding-right: 18px; }
.pr20 { padding-right: 20px; }
.pr22 { padding-right: 22px; }
.pr24 { padding-right: 24px; }
.pr23 { padding-right: 23px; }
.pr25 { padding-right: 25px; }
.pr28 { padding-right: 28px; }
.pr30 { padding-right: 30px; }
.pr32 { padding-right: 32px; }
.pr40 { padding-right: 40px; }
.pr50 { padding-right: 50px; }
.pb01 { padding-bottom: 1px; }
.pb02 { padding-bottom: 2px; }
.pb03 { padding-bottom: 3px; }
.pb04 { padding-bottom: 4px; }
.pb05 { padding-bottom: 5px; }
.pb06 { padding-bottom: 6px; }
.pb07 { padding-bottom: 7px; }
.pb08 { padding-bottom: 8px; }
.pb10 { padding-bottom: 10px; }
.pb12 { padding-bottom: 12px; }
.pb13 { padding-bottom: 13px; }
.pb14 { padding-bottom: 12px; }
.pb15 { padding-bottom: 15px; }
.pb16 { padding-bottom: 16px; }
.pb17 { padding-bottom: 17px; }
.pb18 { padding-bottom: 18px; }
.pb19 { padding-bottom: 19px; }
.pb20 { padding-bottom: 20px; }
.pb22 { padding-bottom: 22px; }
.pb24 { padding-bottom: 24px; }
.pb25 { padding-bottom: 25px; }
.w60 { width: 60px;}
.w80 { width: 80px;}
.business-management-tab-content .site-main-filter-box .text[disabled], 
.business-management-tab-content .site-main-filter-box .text[readonly],
.business-management-tab-content .site-main-filter-box .checkbox[readonly]{
	  background-color: #eee;
	  opacity: 1;
 }
/*** site-main***/
.site-main {
	width: 100%;
	min-width: 950px;
}
.site-main-inner {
}

/***** filter*******/
.site-main-filter {
	background: #fff;
	margin-bottom: 20px;
	width: 950px;
	margin-left: 10px;
}
.site-main-filter > .hd {
	width: 100%;
	height: 44px;
	position: relative;
}
.site-main-filter > .hd h1 {
	float: left;
	font-size: 14px;
	color: #42a5f5;
	line-height: 44px;
	font-weight: normal;
}
.site-main-filter-box {
	float: left;
	margin-right: 10px;
	padding: 8px 0;
}
.site-main-filter .md{
	padding: 10px 0 0px;
	border-left: 1px dashed #3c9eed;
	border-right: 1px dashed #3c9eed;
	border-top: 1px dashed #3c9eed;
}

.site-main-filter .md ul > li {
	clear: both;
	height: 66px;
	padding: 10px 0 10px 0px;
}
.site-main-filter .md ul .line-dashed  {
	border-bottom:1px  dashed #eaebeb;
	margin: 10px;
	width: 100%;
}
.site-main-filter-box label {
	float: left;
	width: 85px;
	height: 30px;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}
.site-main-filter-box .text {
	height: 30px;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.input-readonly {
	background-color: #eaeaea;
}
.site-main-filter-box .text[disabled], .site-main-filter-box .text[readonly]{
	  background-color: #eee;
	  opacity: 1;
 }

.site-main-filter-box .select {
	height: 30px;
/* 	padding: 4px 12px; */
	padding: 0 0 0 4px;
	font-size: 14px;
	line-height: 30px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.site-main-filter-box .interval {
	display: inline-block;
	padding: 0 5px 0 6px;
}
.site-main-filter .md ul > li .project-xlg .text,.site-main-filter .md  ul > li .project-xlg .select{
	width: 258px;
}
.site-main-filter .md ul > li .project-lg .text,.site-main-filter .md  ul > li .project-lg .select{
	width: 250px;
}
.site-main-filter .md ul > li .project-primary .text,.site-main-filter .md ul > li .project-primary .select{
	width: 135px;
}
.site-main-filter .md ul > li .project-small .text,.site-main-filter .md ul > li .project-small .select{
	width: 113px;
}
.site-main-filter .bd {
	padding: 47px 15px 20px;
	text-align: right;
	border-left: 1px dashed #3c9eed;
	border-right: 1px dashed #3c9eed;
	border-bottom: 1px dashed #3c9eed;
}
.site-main-filter .time-box-radio {
	float: left;
}
.site-main-filter .time-box-radio .select-l {
	width: 135px;
	height: 30px;
/* 	padding: 4px 12px; */
	padding: 0 0 0 4px;
	font-size: 14px;
	line-height: 30px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}
/******site-main-list-block *******/
.site-main-list-block {
	background: #fff;
	margin-bottom: 40px;
	margin-left: 10px;
}
.site-main-list-block .hd {
	padding: 15px;
	text-align: right;
	line-height: 22px;
	font-size: 14px;
	color: #C30D23;
	border-bottom:1px solid #dedede;
}
.site-main-list-block .hd  p i {
	margin: 0 10px;
	height: 14px;
	width: 1px;
	background: #dedede;
	display: inline-block;
}
.site-main-list-block .main {
	border-bottom: 1px solid #e5e9f0;
}
/*******advanced-filter****/
.advanced-filter {
	cursor: pointer;
	display: block;
	padding-right: 20px;
}
.advanced-filter-font {
	font-size: 16px;
	color: #2ca6e0;
	font-style: normal;
	float: right;
}
.advanced-filter-font:hover {
	color: #197caa;
} 
.caret-up {
	float: right;
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: 6px;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed #2ca6e0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.caret-down {
	float: right;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	margin-top: 2px;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-bottom: 4px dashed #2ca6e0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}


/******modal-select *******/
.modal-delect {
	text-align: center;
}
.modal-delect .btn-group-custom {
	margin: 30px 0;
}
.modal-delect .btn-group-custom .btn {
	width: 100px;
}
/******modal-xlg*******/
.modal-xlg .modal-body{
	padding-bottom: 30px;
}
/******order-detail*******/

.order-detail .modal-body ul > li {
	clear: both;
	height: 66px;
	padding: 10px 0 10px 10px;
}
.order-detail .modal-body  ul > li .project-xlg .text,.order-detail .modal-body ul > li .project-xlg .select{
	width: 315px;
}
.order-detail .modal-body  ul > li .project-lg .text,.order-detail .modal-body  ul > li .project-lg .select{
	width: 250px;
}
.order-detail .modal-body  ul > li .project-primary .text,.order-detail .modal-body ul > li .project-primary .select{
	width: 135px;
}
.order-detail .modal-body  ul > li .project-small .text,.order-detail .modal-body ul > li .project-small .select{
	width: 110px;
}
/******file-import*******/
.file-import  ul li {
	clear: both;
	height: 30px;
	margin-bottom: 20px;
}
.file-import .bootstrap-filestyle {
	float: left;
}
.file-import .form-group {
	float: left;
	width: 440px;
}
.file-import .file-form-control   {
	height: 30px;
	width: 315px;
	padding: 0 10px;
	float: left;
	border:1px solid  #dedede;
	border-radius:3px;
}
.file-import .file-import-box {
	display: block;
}
.file-import .file-import-box p{
	float: left;
	width: 130px;
	height: 30px;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}
.file-import .file-import-box select {
	height: 30px;
	width: 315px;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.file-import .file-import-box .btn {
	height: 30px;
}
.file-import .file-import-box label {
	float: left;
}
.file-import .file-import-box .group-span-filestyle  {
	float: left;
	margin-left: 20px;
}
.file-import .error {
	padding-left: 130px;
	color: #C30D23;
	padding-bottom: 15px;
}
/***modal-body-batch-info ***/

.modal-body .batch-info {
	padding-bottom: 10px;
	font-size:12px;
}
.modal-body .batch-info > li{
	float: left;
	height: 44px;
	line-height: 44px;
	padding-right: 15px;
}
.modal-body .batch-info .quantity-collect {
	float: right;
	color: #c30d23;
	padding-right: 0px;
	padding-left: 10px;
}
.modal-body .batch-info .quantity-collect p {
	line-height: 22px;
}
/***site-main-content ***/
.site-main-content {
	margin-bottom: 30px;
	padding-bottom: 20px;
	background: #fff;
	border:1px solid #dedede;
}
.site-main-content .hd {
	width: 100%;
	height: 48px;
	line-height: 32px;
	font-size: 18px;
	border-bottom: 1px solid #e0e3e4;
	position: relative;
}
.site-main-content .hd .breadcrumb  {
	margin-bottom: 0px;
	padding-left: 20px;
	color: #666;
}
.site-main-content .hd .active {
	color: #e08e1d;
}
.site-main-content .md {
}
.site-main-content .md   ul > li {
	clear: both;
	height: 66px;
	padding: 10px 0 10px 30px;
}
.site-main-content .md   ul > li .project-xlg .text,.site-main-content .md  ul > li .project-xlg .select{
	width: 315px;
}
.site-main-content .md   ul > li .project-lg .text,.site-main-content .md   ul > li .project-lg .select{
	width: 250px;
}
.site-main-content .md   ul > li .project-primary .text,.site-main-content .md  ul > li .project-primary .select{
	width: 135px;
}
.site-main-content .md   ul > li .project-small .text,.site-main-content .md  ul > li .project-small .select{
	width: 110px;
}
.site-main-content .md .remind {
	color: #C30D23;
	padding-left: 10px;
	line-height: 30px;
}
.site-main-content .md ul .line-dashed {
  border-bottom: 1px dashed #eaebeb;
  margin: 10px;
  width: 100%;
}
.site-main-content .md .site-main-filter-box label {
	float: left;
	width: 150px;
	height: 30px;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}
.site-main-content .bd {
	padding: 20px 0;
	text-align: center;
}
.site-main-content .bd .btn {
	width: 100px;
}
/***.table-dropdown-menu ****/
.table-dropdown-toggle {
	position: relative;
}
.table-dropdown-menu {
  position: absolute;
  top: -4px;
  left: -2px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
}
.open > .table-dropdown-menu {
  display: block;
}
.table-dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.table-dropdown-menu > li > a:hover,
.table-dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.table-dropdown-menu > .active > a,
.table-dropdown-menu > .active > a:hover,
.table-dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
/******btn-group-block******/
.btn-group-block {
	height: 30px;
	margin: 15px 0;
	margin-left: 10px;
}
.btn-group-block ul li {
	float: left;
	width: 120px;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
	height: 30px;
	border:1px solid #eeeeee;
	background: #f5f7fa;
	transition:border 0.5s linear 0.1s,background 0.5s linear 0.1s;
	-webkit-transition:border 0.5s linear 0.1s,background 0.5s linear 0.1s;
	-moz-transition:border 0.5s linear 0.1s,background 0.5s linear 0.1s;
	-o-transition:border 0.5s linear 0.1s,background 0.5s linear 0.1s;
}
.btn-group-block ul li:hover {
	background: #fff;
	border:1px solid #42a5f5;
}
.btn-group-block ul li a {
	display: block;
}
.btn-group-block ul li i {
	width: 16px;
	height: 16px;
	margin-right: 10px;
	margin-bottom: -2px;
	display: inline-block;
	background: url(../images/icon-common.png) ;
}
.btn-group-block ul .add-to i {
	background-position: 1px 1px ;
}
.btn-group-block ul .export i {
	background-position: 1px -16px;
}
.btn-group-block ul .delete i {
	background-position: 1px -49px;
}
/**********/
.business-management-tab-head  {
	overflow: hidden;
	height: 32px;
	line-height: 32px;
}
.business-management-tab-head  i {
	float: left;
	display: inline-block;
	width: 1px;
	height: 14px;
	background: #2584cf;
	margin: 4px 15px 0;
}
.business-management-tab-head  li {
	line-height: 22px;
	margin-top: 5px;
	cursor:pointer;
	color: #0d5f9f;
	font-size: 14px;
	font-weight: normal;
	float: left;
}
.business-management-tab-head li p {
	float: left;
}
.business-management-tab-head li:hover {
	color: #fff;
}
.business-management-tab-head li.active p {
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}



/****basic-information****/
.basic-information .site-main-filter-box {
	min-height: 55px;
	margin-right: 0px;
	float: left;
	padding:0;
}
.basic-information ul > li {
	width: 435px;
	float: left;
}
.basic-information ul > li label {
	float: left;
	width: 160px;
	height: 30px;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}
.basic-information ul > li label i {
	display: inline-block;
	line-height: 30px;
	color: #c00;
	padding-right: 3px;
}
.basic-information ul > li .error {
	padding-left: 160px;
	color: #c00;
	padding-top: 5px;
	display: block;
	font-style: normal;
	font-size: 12px;
}
.basic-information ul > li .project-xlg .text,.basic-information ul > li .project-xlg .select{
	width: 315px;
}
.basic-information ul > li .project-lg .text,.basic-information  ul > li .project-lg .select{
	width: 238px;
}
.basic-information ul > li .project-primary .text,.basic-information ul > li .project-primary .select{
	width: 135px;
}
.basic-information ul > li .project-small .text,.basic-information ul > li .project-small .select{
	width: 120px;
}
.basic-information  ul > li .project-lg .textarea {
	width: 238px;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.business-management-tab-content .line-dashed-l {
	border-bottom: 1px dashed #eaebeb;
	margin: 10px 0;
}
.business-management-tab-content .line-dashed-xl {
	border-bottom: 1px dashed #eaebeb;
	margin: 30px 0;
}
.business-management-tab-content .line-dashed-xxl {
	border-bottom: 1px dashed #eaebeb;
	margin: 150px 0px 100px;
}
.run-information .site-main-filter-box {
	min-height: 55px;
	margin-right: 0px;
	float: left;
	padding:0;
}
.run-information ul > li {
	width: 435px;
	float: left;
}
.run-information ul > li label {
	float: left;
	width: 160px;
	height: 30px;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}
.run-information ul > li label i {
	display: inline-block;
	line-height: 30px;
	color: #c00;
	padding-right: 3px;
}
.run-information ul > li .error {
	padding-left: 160px;
	color: #c00;
	padding-top: 5px;
	display: block;
	font-style: normal;
	font-size: 12px;
}
.run-information ul > li .project-xlg .text,.run-information ul > li .project-xlg .select{
	width: 315px;
}
.run-information ul > li .project-lg .text,.run-information ul > li .project-lg .select{
	width: 238px;
}
.run-information ul > li .project-primary .text,.run-information ul > li .project-primary .select{
	width: 135px;
}
.run-information ul > li .project-small .text,.run-information ul > li .project-small .select{
	width: 120px;
}
.run-information  ul > li .project-lg .textarea {
	width: 238px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.contacts-information .site-main-filter-box {
	min-height: 55px;
	margin-right: 0px;
	float: left;
	padding:0;
}
.contacts-information > ul {
	margin: 0 35px 20px;
	border-bottom: 1px dashed #eaebeb;
}
.contacts-information > ul .title {
	font-size: 16px;
	line-height: 24px;
	margin: 10px 0;
	padding-left: 80px;
}
.contacts-information > ul > li {
	width: 400px;
	float: left;
}
.contacts-information > ul:hover {
	background: #f8f8f8;
}
.contacts-information > ul > li label {
	float: left;
	width: 130px;
	height: 30px;
	text-align: right;
	line-height: 30px;
	padding-right: 10px;
}
.contacts-information > ul > li label i {
	display: inline-block;
	line-height: 30px;
	color: #c00;
	padding-right: 3px;
}
.contacts-information > ul > li .error {
	padding-left: 130px;
	color: #c00;
	padding-top: 5px;
	display: block;
	font-style: normal;
	font-size: 12px;
}
.contacts-information >ul > li .project-xlg .text,.contacts-information > ul > li .project-xlg .select{
	width: 315px;
}
.contacts-information > ul > li .project-lg .text,.contacts-information > ul > li .project-lg .select{
	width: 238px;
}
.contacts-information >ul > li .project-primary .text,.contacts-information > ul > li .project-primary .select{
	width: 135px;
}
.contacts-information > ul > li .project-small .text,.contacts-information > ul > li .project-small .select{
	width: 120px;
}
.contacts-information > ul > li .project-lg .textarea {
	width: 238px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.contacts-information > ul .title .delete {
	float: right;
	width: 80px;
	text-align: center;
	line-height: 24px;
	margin-right: 10px;
	height: 24px;
	border:1px solid #eeeeee;
	background: #f5f7fa;
	transition:border 0.5s linear 0.1s,background 0.5s linear 0.1s;
	-webkit-transition:border 0.5s linear 0.1s,background 0.5s linear 0.1s;
	-moz-transition:border 0.5s linear 0.1s,background 0.5s linear 0.1s;
	-o-transition:border 0.5s linear 0.1s,background 0.5s linear 0.1s;
}
.contacts-information > ul .title .delete:hover {
	background: #fff;
	border:1px solid #42a5f5;
}
.contacts-information > ul .title .delete a {
	display: block;
	font-size: 14px;
}
.contacts-information > ul .title .delete  i {
	width: 16px;
	height: 16px;
	margin-right: 10px;
	margin-bottom: -2px;
	display: inline-block;
	background: url(../images/icon-common.png) 1px -49px no-repeat;
}

.product-selection .hd {
	padding-left: 25px;
	line-height: 24px;
}
.product-selection .hd i {
	padding-right: 5px;
	color: #c00;
	font-style: normal;
}
.product-selection ul  {
	width: 800px;
	margin: 30px auto 0;
}
.product-selection ul li {
	float: left;
	width: 200px;
	height: 26px;
	line-height: 26px;
	padding-left: 20px;
	position: relative;
	margin: 10px 0;
}
.product-selection ul li .checkbox  {
  	position: absolute;
  	left: 0px;
  	top: 4px;
}

/******modal-approval-box ******/
.modal-approval-box {
	width: 540px;
	margin: 20px auto;
}
.modal-approval-box .title {
	width: 80px;
	float: left;
	font-size: 16px;
	text-align: left;
}
.modal-approval-box .textarea {
	display: block;
	width: 460px;
	float: left;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}

















