*{
	font-size:12px;
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
.clearfix:after,.clearfix:before{content:'';}
.clearfix:after{overflow:hidden;clear:both;height:0;visibility:hidden;display:block;}
.clearfix{zoom:1;}

a{
    text-decoration: none;
}

.formdiv{
    padding-left: 20px;
}
.formdiv table tr{
    height:36px;
}
.formdiv table tr .thTitle{
    text-align: right;
    padding-right: 10px;
}

.hide{
    display: none;
}

/*查询区域*/
.openform table tr td input,.searchForm table tr td input{
    border:1px solid #95B8E7;
    border-radius: 5px 5px 5px 5px;
    padding-right: 5px;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
}
/*按钮*/
.list-action a{
    padding-left: 6px;
    padding-right: 6px;
}

.search-name{
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    width:100px;
}
.width130{
    width:130px;
}
.width100{
    width:100px;
}
.width160{
    width:160px;
}

.btn-radius5{border-radius: 5px;font-size: 12px;padding: 0.5em 1em;color:#fff;border-color: #F49458;margin-right:10px;}
.btn-green{background-color:#3BC1C4;}