@charset "utf-8";
/* CSS Document */


/*****login start*******/
.site-login-bg {
	background: #f2f2f1;
}
.site-login-header {
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.site-login-header .site-logo {
	width: 225px;
	height: 60px;
	float:left;
	margin: 10px 0;
	background: url(../images/site-logo.png) 0px 0px no-repeat;
}
.site-login-header .site-nav {
	float: right;
}
.site-login-header .site-nav > ul > li {
	float: left;
	font-size: 16px;
	line-height: 30px;
	margin-top: 25px;
}
.site-login-header .site-nav > ul > li  i {
	height: 16px;
	width: 1px;
	background: #b0b0b0;
	margin-left: 20px;
	margin-right:20px;
	margin-bottom: -3px;
	display: inline-block;
}
.site-login-main {
	width: 100%;
	min-width: 1200px;
}
.site-login-main-inner {
	width: 1200px;
	margin: 0 auto;
	background: #ffffff;
}
.site-login-main .login-content {
	height: 600px;
	overflow: hidden;
}
.site-login-main .login-content .login-content-inner {
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}
.site-login-main .login-content .login-content-inner  .bg{
	background: #4d75b1;
	width: 470px;
	height: 540px;
	margin: 30px 0;
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 2;
}
.site-login-main .login-content .login-content-inner .bg-opac {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.login-form-area  {
	width: 470px;
	padding: 50px 40px;
	margin: 30px 0; 
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
}
.login-form-area  h1 {
	font-size: 20px;
	line-height: 32px;
	color: #fff;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #fff;
}

.login-form-area .form-control {
	border: 1px solid #fff;
	padding-left: 44px;
	position: relative;
	border-radius: 2px;
	box-shadow: 4px 4px 4px #4a71a2;
}
.login-form-area form ul > li {
	width: 390px;
	position: relative;
	margin-bottom: 44px;
}
.login-form-area .icon-accounts,
.login-form-area .icon-password {
	font-size: 32px;
	line-height: 28px;
	color: #8e8e8f;	
	position: absolute;
	top: 11px;
	left: 8px;
	z-index: 2;
}
.login-form-area .btn-primary {
	height: 62px;
	margin-top: 45px;
	border-radius: 4px;
	font-size: 32px;
	background-color: #d8675a;
	border-color: #d8675a;
	webkit-box-shadow: inset 0 -4px 0 #973734;
	box-shadow: inset 0 -4px 0 #973734;
	border: 0;
	color: #fff;
}
.login-form-area .btn-primary {
	color: #fff;
	color: rgba(255,255,255,1);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .2s ease-in-out;
}
.login-form-area .btn-primary:hover, 
.login-form-area .btn-primary:focus {
	background-color: #973734;
}

.login-form-area p {
	text-align: center;
	font-size: 16px;
	color: #efefef;
}
.login-form-area p > a {
	color: #ffffff;
}
.login-form-area p a:hover {
	text-decoration: underline;
}

.form-control {
	display: block;
	width: 100%;
	height: 50px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 38px;
	color: #666;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}

.login-tab-head {
	overflow: hidden;
	width: 390px;
	height: 65px;
	line-height: 65px;
	margin-bottom: 48px;
	border-bottom: 1px solid #fff;
	position: relative;
}
.login-tab-head i {
	display: inline-block;
	width: 2px;
	height: 22px;
	background: #fff;
	position: absolute;
	left: 194px;
	top: 5px;
}
.login-tab-head  li {
	line-height: 32px;
	cursor:pointer;
}
.login-tab-head  li {
	color: #193d7d;
	font-size: 26px;
	font-weight: normal;
}
.login-tab-head .left {
	float: left;
}
.login-tab-head .right {
	float: right;
}
.login-tab-head  li.active {
	color: #ffffff;
}
.login-form-area .apply-link {
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
	margin-top: 15px;
	color: #8baed5;
}
.login-form-area .apply-link:hover {
	color: #d1e4fa;
}
.site-login-footer {
	width: 1200px;
	margin: 50px auto ;
	text-align: center;
}
/*****login end*******/

/***** 登录后首页*******/
.site-accounts-content {
	float: left;
	width: 850px;
	margin-bottom: 20px;

}
.site-accounts-info {
	width: 850px;
	background: #fff;
	border: 1px solid #e6e9ea;
	margin-bottom: 20px;
}
.site-accounts-info > .title {
	width: 100%;
	height: 60px;
	margin-bottom: 15px;
	background: #2ea6e3;
	position: relative;
}
.site-accounts-info .title h2 {
	float: left;
	font-size: 18px;
	color: #fff;
	line-height: 60px;
	font-weight: normal;
	padding-left: 25px;
}
.site-accounts-info .main {
	padding: 10px 25px 5px 25px;
}
.site-accounts-info .main .company-info {
	padding-bottom: 20px;
	margin-bottom: 25px;
	border-bottom: 1px dashed #dedede;
}
.site-accounts-info .main .company-name {
	float: left;
	width: 528px;
}
.site-accounts-info .main .login-time {
	float: right;
}
.site-accounts-info .main .login-time h3 {
	font-size: 16px;
	width: 270px;
	line-height: 46px;
}
.company-info .change-password-link{
	width: 100%;
	clear: both;
	text-align: right;
	line-height: 22px;
	padding-top: 10px;
}
.company-info .change-password-link a {
	color: #d08829;
}
.site-accounts-info .main .account-balance {

}
.site-accounts-info .main .account-balance .hd {
	color: #3393c3;
	font-size: 18px;
	margin-bottom: 10px;
}
.site-accounts-info .main .account-balance .item {
	float: left;
	width: 380px;
	padding-left: 46px;
	position: relative;
}
.site-accounts-info .main .account-balance .item i {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 36px;
	height: 36px;
	display: inline-block;
	background: url(../images/site-accounts-info-icon.png) no-repeat;
}
.site-accounts-info .main .account-balance .item .bank-account-icon {
	background-position: -1px 0px;
}
.site-accounts-info .main .account-balance .item .internal-account-icon {
	background-position: -38px 0px;
}
.site-accounts-info .main .account-balance .item .row {
	line-height: 46px;
	font-size: 16px;
}
.site-accounts-info .main .account-balance .item .row label {
	width: 90px;
	float: left;
}
.site-accounts-info .main .account-balance .item .row .single-date {
	float: left;
}
.site-accounts-info .main .account-balance .item .balance span {
	color: #b91c26;
	margin-right: 5px;
}
.site-accounts-info .main .account-balance .mar-left {
	margin-left: 38px;
}

/*******模拟select start********/
/*被选中的文本样式*/
::-webkit-selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}
.cssSelect {
	white-space: nowrap;
	float: left;
	position: relative;
}
.cssSelect * {
	display: block;
}
.cssSelect a {
	color: #666;
	outline-width: 0px;
	text-decoration: none;
}
.cssSelect .selectBox {
	cursor: pointer;
	border: solid 1px #c8c8c8;
	border-radius: 3px;
	background: #fcfee9;
	float: left;
}
.cssSelect .selectLt {
	cursor: pointer;
	float: left;
	text-align: left;
}
.cssSelect .selectRt {
	cursor: pointer;
	background: url(../images/site-accounts-info-icon.png)  -80px -5px no-repeat #fcfee9;
	float: left
}
.cssSelect .selectLt {
	overflow: hidden;
	max-width: 468px;
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	background: none transparent scroll repeat 0% 0%;
	color: #666;
	font-size: 16px;
}
.cssSelect .selectRt {
	width: 30px;
	height: 30px;
	margin-top: 8px;
}
.cssSelect .sNormal {
	background-position: 0px 0px;
}
/*.cssSelect .sNormal .selectRt { background-position: 100% 0px}*/
.cssSelect .sHover {
	background-position: 0px -50px
}
.cssSelect .sHover .selectRt {
	background: url(../images/site-accounts-info-icon.png)  -80px -5px no-repeat #fcfee9;
}
.cssSelect .sPressDown {
}
.cssSelect .sPressDown .selectRt {
	background: url(../images/site-accounts-info-icon.png)  -80px -5px no-repeat #fcfee9;
}
.cssSelect .optionsBox {
	position: absolute;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	margin: 0px;
	background: #f7f8fd;
	z-index: 100;
	left: 0px;
	top:45px;
	display: none;
}
.cssSelect .optionsInnerBox {
}
.cssSelect .optionBox {
	cursor: pointer;
	padding: 10px 30px 10px 18px;
	margin: 0px;
	height: 46px;
	line-height: 26px;
}
.cssSelect .optionBox span {
	cursor: pointer;
	font-size: 16px;
}
.cssSelect .oNormal {
}
.cssSelect .oHover {
	background: #e9eaf2;
	color: #666666;
}
.cssSelect .selected {
	background: #2ea6e3;
	color: #fff;
}
/*******模拟select end********/


.site-accounts-info .bd {
	padding: 0 15px 20px 15px;
	text-align: right;
}
.site-accounts-info .bd a {
	font-size: 14px;
	color: #E08F1A;
}
.account-order-list {
	background: #fff;
	width: 850px;
	background: #fff;
	margin-bottom: 20px;
}
.account-order-list .hd {
	height: 35px;
	border:1px solid #dedede;
	border-bottom: 0px;
	line-height: 34px;
}
.account-order-list .hd span {
	display: inline-block;
}
.account-order-list .hd .left {
	float: left;
	width: 280px;
	background: #2fa7e0;
	color: #fff;
	font-size: 18px;
	padding-left: 25px;
}
.account-order-list .hd .middle {
	float: left;
	width: 20px;
	height: 34px;
	background: url(../images/account-order-hd-bg.png) 0px 0px no-repeat;
}
.account-order-list .hd .right {
	width: 548px;
	padding-right: 15px;
	text-align: right;
}
.account-order-list .hd .right .p1 {
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	color: #E08F1A;
}
.account-order-list .hd .right .p2 {
	display: inline-block;
	padding-left: 20px;
	font-size: 16px;
	font-style: normal;
	color: #41B26F;
}
.account-order-list .hd .right b {
	display: inline-block;
	padding: 0 5px;
	font-weight: normal;
}
.account-order-list .hd .right i {
	font-style: normal;
}
.account-order-list .md {
	
}
.account-order-list .bd {
	height: 50px;
	padding: 9px 10px;
	background: #fff;
	border:1px solid #dedede;
	text-align: right;
	margin-top: -2px;
}
.site-accounts-side {
	float: left;
	width: 325px;
	margin-left: 25px;
}
.site-accounts-side .mod-b {
  background: #ffffff;
  zoom:1;
  border: 1px solid #e6e9ea;
  margin-bottom: 25px;
}
.site-accounts-side .mod-b-ad {
     margin-bottom: 25px;
     height: 152px;
     width: 325px;
     border: 1px solid #e6e9ea;
     overflow: hidden;
}
.site-accounts-side .mod-b .hd {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #dedede;
  position: relative;
}
.site-accounts-side .mod-b .hd h2 {
  float: left;
  font-size: 18px;
  color: #666666;
  line-height: 48px;
  font-weight: normal;
  padding-left: 15px;
}
.site-accounts-side .mod-b .hd h2 .icon-post{
	font-size: 32px;
	float: left;
	color: #2fa8e1;
	line-height: 48px;
	margin-right: 10px;
}
.site-accounts-side .mod-b .hd .act{
  float:right;
  line-height:48px;
}
.site-accounts-side .mod-b .hd .act .more {
  margin-right:15px;
  color:#999
}
.site-accounts-side .mod-b .hd .act .more:hover{
  text-decoration:none;
  color:#337ab7;
}
.site-accounts-side .mod-b .bd {
     padding: 15px;
}
.site-accounts-side .mod-b .bd>ul>li {
     font-size: 14px;
     height: 36px;
     line-height: 36px;
     overflow: hidden;
}

.site-accounts-side .mod-b .bd >.document-download > li {
     font-size: 14px;
     height: 60px;
     font-size: 16px;
     line-height: 60px;
     overflow: hidden;
     border-bottom: 1px dashed #e4e6e9;
}
.site-accounts-side .mod-b .bd >.document-download > li .icon-merchant_download {
	font-size: 42px;
	float: left;
	color: #2fa8e1;
	line-height: 60px;
	margin-right: 10px;
	margin-left: 10px;
}
.site-accounts-side .mod-b .bd >.document-download > li .icon-accounts_download {
	font-size: 42px;
	float: left;
	color: #2fa8e1;
	line-height: 60px;
	margin-right: 10px;
	margin-left: 10px;
}
.site-accounts-side .mod-b .bd >.document-download > li .icon-visitor_download {
	font-size: 42px;
	float: left;
	color: #2fa8e1;
	line-height: 60px;
	margin-right: 10px;
	margin-left: 10px;
}
.modal-apply-network .site-main-filter-box {
	float: left;
	height: 66px;
	margin-right: 30px;
	padding: 8px 0;
}
.modal-apply-network ul > li .project-xlg .text,.modal-apply-network ul > li .project-xlg .select{
	width: 315px;
}
.modal-apply-network .modal-footer {
	padding-top: 20px;
}

/***** 密码修改******/
.password-revise {
	width: 1200px;
	margin: 0 auto;
	border-top: 1px solid #dedede;
}
.password-revise-inner {
	width: 800px;
	margin: 50px auto;
	border:1px solid #dedede;
	background: #fff;
}
.password-revise-inner .hd {
	width: 100%;
	height: 48px;
	background:#3ba0da;
	border-bottom: 1px solid #dedede;
	position: relative;
}
.password-revise-inner .hd h1 {
	float: left;
	font-size: 18px;
	color: #fff;
	line-height: 48px;
	font-weight: normal;
	padding-left: 25px;
}
.password-revise-inner .content {
	padding: 50px 200px;
}
.password-revise-inner .content ul li {
	height: 69px;
	line-height: 34px;
	clear: both;
}
.password-revise-inner .content ul li label {
	width: 100px;
	display: inline-block;
	float: left;
	text-align: right;
	margin-right: 15px;
	font-size: 16px;
}
.password-revise-inner .content ul li  .text {
	float: left;
	width: 250px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.password-revise-inner .content ul li  .tips {
	float: left;
	display: block;
	padding-left: 115px;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	color: #E08F1A;
}
.site-main-list-block .hd label {
	font-size: 14px;
	color: #666666;
	text-align: left;
	width: 80px;
}
.site-main-list-block .hd .site-main-filter-box {
	padding: 0;
}









