/**
 * 移动端附件样式表
 */
.my-nav-tit{
    font-size: 1rem;
    color: #333;
    margin: -0.8rem -1rem;
}
.my-con p{
    font-size: 1rem;
    color: #666;
    line-height: 1.866rem;
}
.mui-table-view{
    background-color: #f5f5f5;
}
.mui-table-view-cell{
    background-color: #fff;
    margin-bottom: 0.666rem;
}
.mui-table-view-cell>a:not(.mui-btn){
    font-size: 1rem;
    border-bottom: 1px solid #ebebeb;
    margin:-0.733rem -1rem;
    line-height: 1.2rem;
}
.mui-table-view:after,.mui-table-view:before,.mui-input-group:before{
    background-color: #fff;
}
.mui-table-view-cell:nth-last-child(1){
    margin-bottom: 0;
}
.opration-tit{
    font-size: 0.8rem;
    margin: 0.733rem 1rem;
    line-height: 1.2rem;
    font-weight: normal;
    color: #222;
}
.cover-box{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top:0;
    left: 0;
}
.cover-box .cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.4;
    z-index: 99
}
.pr{
    position:relative;
}
.cover-box .cover-content{
    position: fixed;
    top: 50%;
    left: 50%;
    background: #FCFCFC;
    border-radius: 2px;
    width: 18rem;
    height: 12rem;
    margin-left: -9rem;
    margin-top: -6rem;
    z-index: 100;
}
.cover-box .cover-content .div-p p{
    font-size: 1.13rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 1.666rem;
    padding: 0 3rem;
}
.cover-box .cover-content .div-p{
    width: 18rem;
    height: 9rem;
    overflow: hidden;
    position:relative;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.btn-box{
    height: 3rem;
    text-align: center;
    border-top:1px solid #dedede;
    line-height: 3rem;
}
.btn-box span{
    font-size: 1.13rem;
    color: #1E9DEA;
    cursor: pointer;
    width:50%; /*只有确定的时候是100%*/
    display: inline-block;
    float: right;
}
.btn-box span.cancel{
    color: #999;
    border-right:1px solid #dedede;
}

.mui-table-view-cell>a:not(.mui-btn){
    font-size:0.8rem;
    padding-left: 0.9rem;
    padding-bottom: 0.666rem;
    margin-bottom: 0;
}
.mui-content>.mui-table-view:first-child{ margin-top:0;}
.split{background:#f5f5f5}
.mui-card{ border-radius:2px;}
.mui-checkbox.mui-left label, .mui-radio.mui-left label{
    padding-left: 2.5rem;}
.mui-content-padded{ margin: 10px 15px;}
#selectUserButtonId{ border-radius:2px; font-size:.8rem}
#userNote{ color:#666;}
#submit{ border:none; border-radius:0;}
.event_list{
    float:none;
}
.event_list li .pass {
    width:27%;
}
.event_list li span{
    font-size: .9rem;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.event_list li .pass span{

    display:block;
    float:none;
    overflow: hidden;
    height: 2rem;
    line-height: 2rem;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.event_list li .list_detail_approve{
    width: 18rem;
    margin-left: 1.6rem;
    display: inline-block;
    line-height: 1.666rem;
    padding: 0.666rem 0.666rem;
    position:relative;
}
.event_list li.dian_pass .list_detail_approve {
    background-color: #DAF5EE;
}
.event_list li.dian_current .list_detail_approve {
    background-color: #FDEDD3;
}
.event_list li.dian_waiting .list_detail_approve {
    background-color: #e5e5e5;
}
.event_list li .list_detail_approve span.info{
    float:left;
    width:66%;
}
.event_list li .list_detail_approve .top_list_content{
    position:relative;
}
.event_list li{
    margin-bottom:10px;
}
.event_list .dian_pass .pass_acname{
    color:#17C295
}
.event_list .dian_current .pass_acname{
    color:#F6A623
}
.event_list .dian_waiting .pass_acname{
    color:#666
}
.event_list li .list_detail_approve span.info .info_s{
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    float: none;
    color:#666;
}
.event_list li .list_detail_approve span.info .info_s_time{
    font-size:0.7rem;

}
.event_list li .list_detail_approve span.info .info_s_txt{
    line-height: 1.2rem;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: unset;
    white-space: initial;
    font-size: 0.7rem;
    height: auto;
    overflow: auto;
}
.event_list li ul{
    background:#fff;
    padding:10px 10px 10px 65px;
    position:relative;
}
.event_list li ul:before{
    content:"附件：";
    position:absolute;
    left:10px;
    top:10px;
    font-size:0.9rem;
    color: #666666;
}
.event_list li ul li{

}
.table_ywxx{
    width:100%
}
.table_ywxx td.txt-r{
    width:75%
}
.fujian_icon_common{
    width:17px;
    height:20px;
    display:inline-block;
    background-size:100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    right: 0px;
    bottom: 6px;
    background-image: url(../images/fujian_nor@2x.png);
}
/*.fujian_icon_nor{*/

/*}*/
.fujian_icon_sel{
    background-image: url(../images/fujian_nor@2x.png);
}
.attachment-box li .tit{
    float:none;
    display: inline-block;
    max-width: 8.333rem;
}
.attachment-box li{
    margin-bottom:0.5rem;
    border-bottom:none;
}
.add_attachment_btn{
    float:right;
}
.table_detail_approve{
    width:100%
}
.table_detail_approve td{
    /*padding:5px 0 5px 10px;*/
    line-height: 1.8rem;
    font-size: .9rem;
}
.table_detail_approve .td_w1{
    width:23%
}
.table_detail_approve .td_w2{
    width:73%
}
.table_detail_approve td.info_s,.table_detail_approve td.info_text{    color: #666;}
.table_detail_approve td.pass_acname{    color: #17C295;}
.table_detail_approve td.info_s_time{font-size: 0.7rem;    color: #666;}
p img {
    max-width: 100%;
    height: auto;
}