/*chechstatus styles*/
/* new clearfix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.hidden {
    display: none;
}

.last {
    border-bottom: none !important;
}

.pass {
    background: #9eefd6;
}

.current {
    background: #f7dc9d;
}

.waiting {
    background: #b4b4b4;
}

.jiao_pass {
    background: url('../image/sp1.png') -21px 0 no-repeat;
}

.jiao_current {
    background: url('../image/sp2.png') -21px 0 no-repeat;
}

.jiao_waiting {
    background: url('../image/sp3.png') -21px 0 no-repeat;
}

.dian_pass {
    background: url('../image/sp1.png') 13px -80px no-repeat;
}

.dian_current {
    background: url('../image/sp2.png') 13px -80px no-repeat;
}

.dian_waiting {
    background: url('../image/sp3.png') 13px -80px no-repeat;
}

.spcontent {
    width: 100%;
}

.event_list {
    width: 100%;
    float: right;
    background: url('../image/dian3.png') 16px 0 repeat-y;
    margin: 10px 0 20px 0;
}

.event_list li span {
    text-align: right;
    display: block;
    float: left;
    margin-top: 10px;
}

.event_list li p {
    width: 90%;
    margin-left: 24px;
    display: inline-block;
    padding-left: 10px;
    line-height: 25px;
}

.event_list li p span {
    color: black;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #DDD;
    padding: 10px 15px;
    margin: 0;
}
.title {
    font-weight: 400;
    width: 6em;
    color: #8f8f94;
}

.titlevalue {
    text-align: left;
    padding-left:5px;
}

.titlevalue-right {
    text-align: right;
    padding-left:5px;
}

#list td {
    padding: 5px 5px;
}

#list tr:active {
    background-color: rgba(0, 0, 0, .25);
}

#topPopover {
    position: fixed;
    top: 16px;
    right: 6px;
}

h5.mui-content-padded {
    margin-left: 3px;
    margin-top: 20px !important;
}
h5.mui-content-padded:first-child {
    margin-top: 12px !important;
}

.mui-btn {
    font-size: 16px;
    padding: 8px;
    margin: 3px;
}

.ui-alert {
    text-align: center;
    padding: 20px 10px;
    font-size: 16px;
}

body{

    margin: 0;

    font-size: 14px;

    line-height: 100%;

    font-family: Arial, sans-serif;

}

.background {

    display: block;

    width: 100%;

    height: 100%;

    opacity: 0.4;

    filter: alpha(opacity=40);

    background-color:#000;

    position: absolute;

    top: 0;

    left: 0;

    z-index: 2000;

}

.progressBar {

    border: solid 2px #86A5AD;

    background: white url(progressBar_m.gif) no-repeat 10px 10px;

}

.progressBar {

    display: block;

    width: 200px;

    height: 50px;

    position: fixed;

    top: 60%;

    left: 40%;

    margin-left: -74px;

    margin-top: -14px;

    padding: 10px 10px 10px 50px;

    text-align: left;

    line-height: 27px;

    font-weight: bold;

    font-size: 12px;

    position: absolute;

    z-index: 2001;

}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

fieldset,
img {
    border: 0;
}

ul li {
    list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body {
    font: normal 14px/24px "Helvetica Neue", Helvetica, STheiti, "Microsoft Yahei", 宋体, Arial, Tahoma, sans-serif, serif;
    word-wrap: break-word;
}

input,
button,
textarea,
select,
option,
optiongroup {
    font-family: inherit;
    font-size: inherit;
}

code,
pre {
    font-family: "Microsoft YaHei", Consolas, "Courier New", monospace;
}

.bw0 {
    border: none !important;
}

*:focus {
    outline: 0;
}

legend {
    color: #000;
}

input,
select {
    vertical-align: middle;
}

button {
    overflow: visible;
}

input.button,
button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    margin: 0;
}

textarea {
    overflow: auto;
    resize: none;
}

label[for],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
}

input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1C3D72
}

img {
    -ms-interpolation-mode: bicubic;
}