.weui_cells{
    margin-top:0;
}
.weui_cells:before{
    border-top:none;
}
.weui_cell:before{
    border-top:none;
}
.weui_cell_hd{
    /*font-weight:bold;*/
}
.font_red{
    color:red;
}
.mar_l_10{
    margin-left:15px;
}
.mar_t_10{
    margin-top:10px;
}
.weui_label{
    /*font-weight:bold;*/
}
.add_width{
    /*width:123px;*/
}
.font_strong{
    font-weight:bold;
}
.f16{
    font-size:16px;
}
.lev_detail{
    font-size:13px;
    height:70px;
    overflow-y: scroll;
}
.lev_detail ul{
    margin-left:10px;
    list-style:none;
    clear:both;
}
.lev_detail ul li{
    float:left;
    margin-right:5px;
}
.btn_l{
    float:left;
    width:130px;
    margin-left:1rem;
    background-color: #ccc;;
}
.btn_r{
    width:130px;
}
.mar_b_20{
    margin-bottom:20px;
}
.leave_list{
    display:block;
    height:3.6rem;
    font-size:1rem;
    margin-top:8px;
    border-bottom:1px solid #ccc;
}
.leave_list > div{
    margin:5px 0 0 10px;
}
.leave_list > div:nth-child(1){
    overflow:hidden;
}
.leave_list > div > span{
    margin-right:1rem;
}
.lv_state1{
    display:inline-block;
    height:1.2rem;
    border-radius: 4px;
    text-align: center;
    color:#fff;
    background-color: red;
}
.lv_state2{
    display:inline-block;
    height:1.2rem;
    border-radius: 4px;
    text-align: center;
    color:#fff;
    background-color: lawngreen;
}
.lv_state3{
    display:inline-block;
    height:1.2rem;
    border-radius: 4px;
    text-align: center;
    color:#fff;
    background-color: deepskyblue;
}
.lv_state4{
    display:inline-block;
    height:1.2rem;
    border-radius: 4px;
    text-align: center;
    color:#fff;
    background-color: yellow;
}
.leave_detail{
    font-size:14px;
    margin:0 0 5px 15px;
    color:red;
}
.addborder{
    border-bottom: 1px solid #ececec;
    border-top:none;
}
a{
    color: #101010;
}
.list_title{
    float:left;
    display:block;
    width:240px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
#ltype{
    display:block;
    float:left;
}
.no_bottom{
    border-bottom:none;
}
.app_tab{
    height:auto;
}
.app_tag{
    width:100%;
    padding:0;
    height: 40px;
    border-bottom:1px solid #ccc;
}
.app_tag > li{
    float: left;
    height:40px;
    text-align:center;
    line-height:40px;
    list-style:none;
    width:24.7%;
    border-right:1px solid #ccc;
}
.app_tag > li:last-child{
    border-right:none;
}
.app_tag > li.current{
    background:#eaeaea;
}
.app_content > div{
    display:none;
}
.span_width{ width:38%;display: -webkit-box;}
.weui_cell_primary{
    display: flex;
}
.weui_cell_bd .weui_input{width:65%; border: 1px solid #eee ;padding-left: 10px; font-size:14px;}
.weui_cell_bd .weui_select{width:32%;    border: 1px solid #eee !important;    padding-left: 5px;font-size:14px;}
.weui_cell_bd .weui_select.ml{ margin-left:3%}
.weui_cell_bd .weui_textarea{ border: 1px solid #eee !important;}
#annualRemainDaysS{ position:absolute; z-index: 1; right:30px; top: 12px;  border-radius: 4px;font-size:12px;padding:3px 5px;}
.weui_cell_bd .weui_input.w2,.weui_cell_bd .weui_select.w2{
    width:100%;}