/**
* 全局scss变量，自定义
* 须以$theme-开头，便于日后统一管理
* 2018年5月7日
*/

/**黑色-字体颜色**/
$theme-black: #505050;  //正文字体颜色
$theme-black-title: #191919;  //标题颜色
$theme-black-other: #A0A0A0;  //辅助字体颜色


/**蓝色-主色**/
$theme-blue: #46A7FF;  //主色，按钮、超链接、选中、激活等均可使用
$theme-blue-active: #2C92EE;  //主色的交互状态，如hover、active
$theme-blue-header: #CEE8FF;  //弹出页面头部、部分模块头部的背景色
$theme-blue-header-active: #EAF5FF;  //部分表格、按钮的hover色


/**其他颜色**/
$theme-red: #F35959;  //删除按钮delete、警示warning
$theme-pink: #FFECEC;  //删除按钮delete、警示warning
$theme-orange: #F9A82E;  //提醒信息info
$theme-yellow: #FFCC22;  //黄色，尽量不用
$theme-green: #42C891;  //成功信息success
$theme-purple: #BE96F9;  //紫色，尽量不用


/**灰色-辅助颜色**/
$theme-grey-header-background: #F6F7F8;  //模块标题背景色
$theme-grey-body-background: #F0F2F3;  //页面主体背景色
$theme-grey-table-border: #EBEBEB;  //表格边线
$theme-grey-input-border: #E1E1E1;  //输入框、按钮等边线
$theme-grey-toast: #C8C8C8;  //提示语字体颜色



// 背景图片地址和大小
@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
} 
//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}
//定位上下左右居中
@mixin center($width, $height) {
	position:absolute;
	left:50%;
	top: 50%;
	// transform: translate(-50%, -50%);
	margin-top:-$height/2;
	margin-left:-$width/2;
}
//transform上下左右居中
@mixin center1 {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
//定位上下居中
@mixin ct {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
@mixin cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}
//字体大小，行高，字体
@mixin font($size,$line-height,$family:'Microsoft YaHei'){
	font: #{$size}/#{$line-height} $family;
}
//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}
//flex 布局和 子元素 对其方式
@mixin fj($type:space-between){
	display:flex;
	justify-content:$type;
}