/***
* 因此文件是系统的全局样式文件
* 如果非全局组件的样式，最好把相关css代码写到自己负责的组件模块中
* 如果是全局公共组件样式，可自己在此添加样式
***/


/***引入全局变量***/
@import "./const.scss";
/***引入全局scss方法***/
@import "./mixin.scss";

pre{
	font-family: 'Microsoft YaHei';
}

/**表单的全局样式**/
.el-form{
	.el-form-item{
		margin-bottom:22px;
		.el-form-item__label{
        	@include font(12px, 40px);
			color: $theme-black-title;
		}
		.el-form-item__content{
        	@include font(12px, 40px);
        	color: $theme-black;
		}
	}
	
}
/**左侧菜单的全局样式**/
.el-menu{
	.el-menu-item,.el-submenu .el-menu-item{
		@include sc(14px,$theme-black-title)
		&:focus, &:hover,&.is-active{
			@include sc(14px,$theme-blue-active)
			// background-color:$theme-blue-header-active;
		}
	}
	.el-submenu .el-menu-item{
		min-width:86px;
	}
}
/**表格的全局样式**/
.el-table{
	thead{
		tr{
			th{
				padding:5px 0;
				@include sc(12px, $theme-black-title);
				background-color:$theme-grey-header-background;
			}
		}
	}
	.cell{
        @include font(12px, 40px);
        padding-left:16px;
	}
	td{
        @include font(12px, 40px);
		padding:0;
		color: $theme-black;
	}
	.el-table__empty-block{
	    min-height:50px;
		.el-table__empty-text{
	        @include font(14px, 40px);
		}
	}
	.el-table__body tr:hover>td{
		background-color:$theme-blue-header-active
	}
	
}
/**弹出窗的全局样式**/
.el-dialog{
    position:relative;
    overflow: hidden;
    .el-dialog__header{
        @include wh(100%, 50px);
        position: absolute;
        top:0px;
        right: 0px;
        padding:0px 16px;
        box-sizing: border-box;
        background-color: $theme-blue-header;
        .el-dialog__title{
            @include font(14px,50px);
            color:$theme-blue;
            font-weight:600;
            position:relative;
            padding-left:14px;
            .note{
                @include wh(2px,18px);
                position:absolute;
                top: 16px;
                left:0px;
                background-color:$theme-blue;
            }
        }
        //右侧弹出窗-操作按钮的全局样式
        .operate_buttons{
            //@include wh(100%,50px);
			height: 50px;
            position:absolute;
            top:0px;
            right:8px;
            z-index:1;
			padding-top: 0px;
            ul {
                padding:0;
                margin:0;
                float: right;
                li {
                    float: left;
                    list-style: none;
                    margin-right: 8px;
                    margin-top: 8px;
                    .el-button {
                        min-width:72px;
                        height:32px;
                        text-align:center;
                        padding:0 8px;
                        line-height:32px;
                        border-radius: 3px;
                        @include sc(14px,$theme-blue);
                        background-color:$theme-blue-header;
                        border-color:$theme-blue-header;
						&.is-disabled{

							color:#c0c4cc;
						}
                        &:hover{
                            background-color:$theme-blue-active;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
    .el-dialog__body{
        height: calc(100% - 50px - 32px - 48px);
        margin-top:50px;
        overflow-y: auto;
        @include font(12px,24px);
        color:$theme-black;
        padding:32px 48px 48px;
    }
}
/**页面左侧的菜单栏**/
.el-menu{
	border-right:none;
    .el-submenu .el-menu-item{
    	text-indent:14px;
    }
}
/**输入框的全局样式**/
.el-input{
	@include font(12px, 40px);
	.el-input__inner{
 		border-radius: 3px;
 		@include sc(12px,$theme-black);
		border-color:$theme-grey-input-border;

        &.hover, &:hover{
        	border-color:$theme-grey-table-border;
        }
	}
	&.is-disabled{
		.el-input__inner{
			background-color:$theme-grey-header-background;
		    border-color:$theme-grey-input-border;
		    color: $theme-black;
		}
	}
	&.el-input-group--append{
		.el-input__inner {
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		}
		.el-input-group__append, .el-input-group__prepend{
 			border-radius: 0 3px 3px 0;
 			line-height:calc(100% - 2px);
		}
	}
}
/**按钮的全局样式**/
.el-button,.el-message-box{
	border-radius: 3px;
	padding-left:16px;
	padding-right:16px;
	&.el-button--default{
	    background-color: #fff;
	    color:$theme-blue;
	    border-color: $theme-grey-input-border;
		&.is-disabled{

			color:#c0c4cc;
		}
	    &.is-active, &:hover, &:active{
	    	background: $theme-blue-header-active;
		    border-color: $theme-blue;
	    }
	}
	&.el-button--primary{
	    background-color: $theme-blue;
	    border-color: $theme-blue;
	    color:#fff;
	    &.is-active, &:hover, &:active{
	    	background: $theme-blue-active;
		    border-color: $theme-blue-active;
	    }
	}
	&.is-circle{
		padding:4px;
	}

}
/**翻页的全局样式**/
.el-pagination{
	padding: 0px 8px;
	@include font(12px,40px)
	span:not([class*=suffix]){
	    height: 40px;
		@include font(12px,40px);
	}
	button,.el-pager{
	    height: 28px;
		@include font(12px,28px);
		margin-top:6px;
		&.btn-prev,&.btn-next{
		    height: 28px;
			@include font(12px,28px);
			margin-top:6px;
		}
	}
	.el-pagination__sizes{
		@include font(12px,40px)
	}
	.el-select .el-input .el-input__inner{
	    height: 29px;
		margin-top:6px;
		@include font(12px,29px)
	}
}
/**日期等的全局样式**/
.el-date-editor .el-range-input, .el-date-editor .el-range-separator{
	font-size:12px;
	color: $theme-black;
}
/**时间选择器的全局样式**/
.time-select{
	.time-select-item{
		padding: 8px 16px;
		@include font(12px,24px);
		&:hover{
			background-color:$theme-blue-header-active;
		}
	}
}
/**多选的全局样式**/
.el-checkbox-group{
	.el-checkbox__label {
	    padding-left: 8px;
	    line-height: 18px;
	    font-size: 12px;
	}
	.el-checkbox+.el-checkbox{
		margin-left:24px;
	}
}
/**Badge 标记的全局样式**/
.el-badge{
	.el-badge__content.is-fixed.is-dot{
		top:15px;
	}
}
/**tag标签的全局样式**/
.el-tag{
	border-radius: 3px;
	color: $theme-black;
	margin-right: 8px;
	&.el-tag--info{
		border-color:$theme-grey-input-border;
		background-color:$theme-grey-header-background;

	}
	// & + .el-tag {//共享人
    // 	margin-left: 8px;
    // }
}

/**进度条的全局样式**/
.el-slider{
	.el-slider__bar{
		height: 4px;
		border-radius: 2px;
		background-color:$theme-blue;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	.el-slider__button{
		@include wh(12px, 12px);
    	border: 1px solid $theme-blue;
	}
	.el-slider__runway{
		height: 4px;
    	margin: 18px 0;
	}
}

/**文本输入框的全局样式**/
.el-textarea{
	font-size:12px;
	.el-textarea__inner{
		box-shadow: none;
		border-radius: 3px;
    	padding: 8px 16px;
		color: $theme-black;
		border-color:$theme-grey-input-border;
	}
}
/**下拉弹窗的全局样式**/
.el-popper{
	.el-select-dropdown__list,.el-cascader-menu{
    	padding: 8px 0;
    	// max-width:520px;
    	max-width:645px;
		.el-select-dropdown__item,.el-cascader-menu__item{
			height:32px;
		    padding: 0 16px;
			color: $theme-black;
	        @include font(12px, 32px);
	        &.hover, &:hover{
	        	background-color:$theme-blue-header-active;
	        }
		}
	}
	.el-dropdown-menu__item{
		height:32px;
	    padding: 0 16px;
		color: $theme-black;
        @include font(12px, 32px);
        &.hover, &:hover{
        	background-color:$theme-blue-header-active;
        }
	}
	.el-cascader-menu{
		width: 195px;
		.el-cascader-menu__item--extensible:after {
		    right: 5px;
		}
	}		
}
.el-cascader{
	.el-input{
		line-height:32px;
	}
}
/**卡片的全局样式**/
.el-card, .el-message{
	border-radius:0px;
	.el-card__header{
		@include sc(14px, $theme-black-title)
	}
	.el-card__body{
		padding:24px 24px;
	}
}
/**文字提示Tooltip的全局样式**/
.el-tooltip__popper{
	&.is-dark{
		max-width:300px;
		line-height:16px;
		background-color:$theme-blue-header-active;
		color:$theme-blue-active;
		.popper__arrow{
			border-top-color:$theme-blue-header-active;
			border-bottom-color:$theme-blue-header-active;
			&::after{
				border-top-color:$theme-blue-header-active;
				border-bottom-color:$theme-blue-header-active;
			}
		}
	}
}



/**其他全局样式**/
.el-icon-edit{//编辑按钮
 	@include sc(16px,$theme-black);
	&:hover{
		color:$theme-blue-active;
		cursor:pointer;
	}
}
//添加人员按钮.add_permission
.el-icon-circle-plus{
 	@include sc(14px,$theme-blue);
	position: absolute;
	bottom: 12px;
 	padding-left:8px;
 	span{
 		@include font(14px,18px);
 	}
	&:hover{
 		@include sc(14px,$theme-blue-active);
		cursor:pointer;
	}
}
/**附件上传组件的全局样式修改**/
.attach-uploader-wrapper{
	margin-top:8px;
	.webuploader-container{
		display:none;
	}
	.el-table thead tr th{
		padding:0
	}
}

//全局改变input框-验证的边框颜色
.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus{
	border-color: $theme-red;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
    border-color: $theme-grey-table-border;
}
.red{
	color:$theme-red
}
a {
    text-decoration: none;
    &:link,&:active,&:visited{
		color:$theme-black;
    }
    &:hover{
		color:$theme-blue;
    }
}
i,em{
	font-style: normal;
}
ul {
	padding:0;
	margin:0;
	list-style:none
}
body{
	overflow-y:hidden;
	color: $theme-black;
}
body, th, td, button, input, select, textarea {
    font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";
    font-size: 12px;
    word-break: break-all;//折行显示
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{
    width: 8px;  
    height: 8px;  
    background-color: $theme-black-other;  
}
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 0px;  
    background-color: $theme-grey-body-background;  
}
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{
    border-radius: 8px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: $theme-black-other;  
}

.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
	color: #fff;
	background-color: #a0cfff;
	border-color: #a0cfff;
}
.el-input.is-disabled .el-input__inner{
	background-color:#f5f7fa;
}
.detail-form{
	.el-form-item.is-required .el-form-item__label:before,
	.textarea-limiter-wrapper,
	.group_tree_buttons,.group_tree_content .el-icon-close{
		display:none;
	}

	.el-input .el-input__icon{
		display:none;
	}

	.el-tag{
		cursor:no-drop;
		background-color:#f5f7fa;
		border-color:#e4e7ed;
	}
	//.el-input__icon.el-range__close-icon{
	//    pointer-events: none;
	//    opacity:0;
	//}
	////.el-range-input,
	//.el-date-editor,.el-input__inner,.el-input{
	//    cursor: not-allowed;
	//    pointer-events: none;
	//}
}