

$global-color:#45A7FE;
.theme-font{
    color:$global-color;
}

.router-wrapper .el-loading-spinner:first-child{
    position: relative;
    top: 100px;
}

//.fc-component-wrapper{
//    .fc-event, .fc-event-dot{
//        background-color: $global-color;
//    }
//}

.theme-border{
    border-color:$global-color;
}
.theme-bg{
    background:$global-color;
}
.icon20.hover-blue:hover{
    color:$global-color;
}

.bx-module-wrapper{
    min-height:400px;
}

.router-wrapper .el-menu-item{
    transition:none;
}
.icon20,.svg20{
    font-size:20px;
    width:20px;
    height:20px;
    display:inline-block;
    cursor:pointer;
}
.svg100{
    width:100%;
    height:100%;
}
.padd10{
    padding:10px;
}
.scale09{
    transform:scale(0.9)
}



.detail-form{
    //.el-input__inner,.el-textarea__inner{
    //    background-color: #f5f7fa;
    //    border-color: #e4e7ed;
    //    color: #c0c4cc;
    //    cursor: not-allowed;
    //}
    //input{
    //    background:transparent;
    //}
}

.cc-content-wrapper{
    height:100%;
    background:#fff;
}

.pc-body{
    min-width:1048px;
}
html, body{ margin:0; height:100%;
    //min-width:1025px;
    font-family:"Microsoft YaHei";}

html{
    background:#fff;
}


body{
    background:rgba(245, 245, 245, 1);
    overflow:hidden;
}

.orange{
    color: $theme-orange;
}



//
//body{
//    background:rgba(245, 245, 245, 1);
//    font-family: 'PingFangSC-Regular', 'PingFang SC';
//
//    overflow:hidden;
//    min-width:1366px;
//}
