/**
* 全局scss方法，自定义
* 2018年5月7日
*/

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}
// 背景图片地址和大小
@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
} 
//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}
//定位上下左右居中
@mixin center($width, $height) {
	position:absolute;
	left:50%;
	top: 50%;
	// transform: translate(-50%, -50%);
	margin-top:-$height/2;
	margin-left:-$width/2;
}
//transform上下左右居中
@mixin center1 {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
//定位上下居中
@mixin ct {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
@mixin cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}
//字体大小，行高，字体
@mixin font($size,$line-height,$family:'Microsoft YaHei'){
	font: #{$size}/#{$line-height} $family;
}
//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}
//flex 布局和 子元素 对其方式
@mixin fj($type:space-between){
	display:flex;
	justify-content:$type;
}