/* 全局工具类名 */

.clearfix:after {
    height: 0;
    content: " ";
    display: block;
    overflow: hidden;
    clear: both;
}

.clearfix {
    zoom: 1; /*IE低版本浏览器不支持after伪类所以要加这一句*/
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
    font-weight: 100;
}

.f20 {
    font-size: 20px;
}
.red{
    color: red;
}
