<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.entity.InstanceTask">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.InstanceTask">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.InstanceTask">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.InstanceTask">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<update id="completeTask" parameterType="java.util.HashMap" >
		UPDATE pt_flow_instance_task 
			SET 
			status = #{status}, 
			operation_code = #{operationCode}, 
			operation_name = #{operationName}, 
			end_date = #{endDate}, 
			user_note = #{userNote}, 
			source = #{source}, 
			source_id = #{sourceId},
			msg_id = #{msgId}
		WHERE id = #{taskId}
	</update>
	
	<update id="updateMsgId" parameterType="java.util.HashMap" >
		UPDATE pt_flow_instance_task 
		SET msg_id = #{msgId} 
		WHERE id = #{taskId}
	</update>
	
	<update id="updateComment" parameterType="java.util.HashMap" >
		UPDATE pt_flow_instance_task 
		SET user_note = #{taskComment} 
		WHERE id = #{taskId}
	</update>
	
	<select id="queryCurrentPersonList" parameterType="java.util.HashMap" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceTaskDto" >
		SELECT a.id instanceId, d.approver_id approverId, d.approver_name approverName 
		FROM pt_flow_instance a, pt_flow_instance_ac b, pt_flow_instance_group c, pt_flow_instance_task d 
		WHERE a.id = b.fi_id AND b.id = c.ac_id AND c.id = d.group_id AND d.status=2 
		<!-- <if test="busiObjectId != null and busiObjectId != '-1'">
			AND a.business_object_id = #{busiObjectId} 
		</if> -->
		ORDER BY a.id
	</select>
	
	<select id="queryFinishedTaskCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		SELECT
			COUNT(t.id)
		FROM
			pt_flow_instance_task t
		LEFT JOIN pt_flow_instance_group g ON(t.group_id = g.id AND g.delflag = 0)
		LEFT JOIN pt_flow_instance_post p ON(g.ac_post_id = p.id AND p.delflag = 0)
		LEFT JOIN pt_flow_instance_ac ac ON(p.ac_id = ac.id AND ac.delflag = 0)
		LEFT JOIN pt_flow_instance i ON(ac.fi_id = i.id AND i.delflag = 0)
		WHERE
			t.`status` = 3
		AND t.delflag = 0
		AND t.type != 1
		AND i.id = #{instanceId}
	</select>
	<select id="queryTasksByInstanceId" parameterType="java.util.HashMap" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceTaskDto">
		SELECT
			t.id,
			t.approver_id AS approverId,
			t.approver_name AS approverName,
			t.activate_date activateDate,
			t.end_date,
			t.`status` AS STATUS,
			m.is_open AS isOpen
		FROM
			pt_flow_instance_task t,
			pt_flow_instance_group g,
			pt_flow_instance_post p,
			pt_flow_instance_ac ac,
			pt_flow_sys_notice_msg m
		WHERE
			t.group_id = g.id
		AND g.ac_post_id = p.id
		AND ac.id = p.ac_id
		AND t.msg_id = m.id
		AND t.delflag = 0
		AND g.delflag = 0
		AND p.delflag = 0
		AND ac.delflag = 0
		AND m.delflag = 0
		AND ac.fi_id = #{instanceId}
		AND t.activate_date >= (
			SELECT
				tt.end_date
			FROM
				pt_flow_instance_task tt
			WHERE
				tt.id = #{taskId}
		)
	</select>
	
	<select id="queryTaskIdByInstanceId" parameterType="java.util.HashMap" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceTaskDto">
		SELECT  
			t.id,
			t.type, 
			ac.approve_type_id approveType,
			t.approver_id AS approverId,
			t.approver_name AS approverName,
			t.activate_date activateDate,
			t.end_date,
			t.`status` AS STATUS,
			t.msg_id msgId
		FROM
			pt_flow_instance_task t,
			pt_flow_instance_group g,
			pt_flow_instance_post p,
			pt_flow_instance_ac ac
		WHERE
			t.group_id = g.id
		AND g.ac_post_id = p.id
		AND ac.id = p.ac_id
		AND t.delflag = 0
		AND g.delflag = 0
		AND p.delflag = 0
		AND ac.delflag = 0
		AND t.status = 2 
		AND ac.fi_id = #{instanceId}
        AND t.approver_id=#{userId}
	</select>

</mapper>