<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.entity.Participant">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.Participant">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.Participant">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.Participant">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<update id="deleteReaderDataByFlId">
		update pt_flow_participant set delflag = 1, update_date =now() 
		where fl_id = ${flId} and ac_is is null and type=3 and delflag =0
	</update>
	
	<!-- <update id="deleteReaderDataByReader">
		update pt_flow_participant set delflag = 1 and update_date =now() 
		where fl_id = ${flId} and ac_is is null and type=3 
		and participant_type=3 and participant_scope = ${participantScope} 
		<if test="paramValue != null and paramValue != ''">
		    AND param_value = #{paramValue}  
		</if>
		<if test="participantId != null and participantId != '' and participantId != 'all_role'">
		    AND participant_id = #{participantId}  
		</if>
	</update> -->
	
	<update id="deleteReaderDataByParamMap" parameterType="java.util.HashMap">
		UPDATE pt_flow_participant SET delflag = 1 , update_date=now()
		WHERE delflag = 0 AND type=3 
		<if test="flowIds != null and flowIds != ''">
			AND fl_id  in 
			<foreach item="item" index="index" collection="flowIds" open="(" separator="," close=")">  
		        #{item} 
		    </foreach>
		</if>
		
		<if test="idArray != null and idArray != ''">
			AND id  in 
			<foreach item="item" index="index" collection="idArray" open="(" separator="," close=")">  
		        #{item} 
		    </foreach>
		</if>
	</update>
	
	<select id="queryFlowReaderList" resultType="com.jzy.hio.flow.dto.tobedeleted.ParticipantDto"  parameterType="java.util.HashMap">
		SELECT t.id, t.fl_id flId, t.type, t.participant_id  participantId, t.participant_type participantType,
		t.participant_scope participantScope, t.param_value paramValue, fl.name flowName, t.create_date
		FROM pt_flow_participant t, pt_flow_fl fl 
		WHERE t.fl_id = fl.id AND t.delflag=0 AND fl.delflag=0 AND t.type='3' AND t.participant_id is not null 
		<if test="flowIds != null and flowIds != ''">
			AND t.fl_id  in 
			<foreach item="item" index="index" collection="flowIds" open="(" separator="," close=")">  
		        #{item} 
		    </foreach>
		</if>
		ORDER BY convert(fl.name USING gbk)
	</select>
	
	<update id="replaceFlowParticipant" parameterType="java.util.HashMap">
		UPDATE pt_flow_participant 
		SET participant_id = #{participantId} ,  
		    participant_type=#{participantType}, 
		    participant_scope=#{participantScope},
		    param_value=#{paramValue} 
		WHERE fl_id = #{flId} 
		    AND participant_id=#{oldParticipantId} 
		    AND participant_type=#{oldParticipantType} 
		    AND ac_id=#{acId} 
		    AND delflag=0
	</update>
</mapper>