<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.flow.entity.FlowUserOpinion">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.flow.entity.FlowUserOpinion">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.flow.entity.FlowUserOpinion">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.flow.entity.FlowUserOpinion">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 查询用户意见 -->
	<select id="queryUserOpinion" parameterType="map" resultType="com.xinleju.platform.flow.entity.FlowUserOpinion">
	SELECT
		id AS id,
		concurrency_version AS concurrencyVersion,
		opinion AS opinion,
		sort AS sort,
		is_default AS isDefault,
		tend_id AS tendId,
		create_date AS createDate,
		update_date AS updateDate,
		create_person_id AS createPersonId,
		create_person_name AS createPersonName,
		update_person_id AS updatePersonId,
		update_person_name AS updatePersonName,
		create_org_id AS createOrgId,
		create_org_name AS createOrgName,
		create_company_id AS createCompanyId,
		create_company_name AS createCompanyName,
		delflag AS delflag
	FROM
		PT_FLOW_USER_OPINION
	WHERE delflag = FALSE
	and create_person_id =#{userId}
	ORDER BY is_default desc ,sort  
	</select>
	
	<delete id="delUserOpinion" parameterType="map">
		DELETE from PT_FLOW_USER_OPINION WHERE create_person_id = #{createPersonId}
	</delete>
</mapper>