<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.running.mapper.RunningStatisticsMapper">

	<resultMap type="com.jzy.hio.entity.RunningDayStatistics" id="DayStatisticsResultMap">
		<id column="id" property="id" />
		<result column="uid" property="uid"/>
		<result column="enterprise_id" property="enterpriseId" />
		<result column="org_name" property="orgName" />
		<result column="run_steps" property="runSteps"/>
		<result column="run_kilometre" property="runKilometre"/>
		<result column="run_ranking" property="runRanking" />
		<result column="praise_count" property="praiseCount" />
		<result column="open_running" property="openRunning" />
		<result column="reach_standard" property="reachStandard" />
		<result column="run_date" property="runDate"/>
	</resultMap>
	
	<resultMap type="com.jzy.hio.entity.RunningMonthStatistics" id="MonthStatisticsResultMap">
		<id column="id" property="id" />
		<result column="uid" property="uid"/>
		<result column="enterprise_id" property="enterpriseId" />
		<result column="run_steps" property="runSteps"/>
		<result column="run_kilometre" property="runKilometre"/>
		<result column="praise_count" property="praiseCount" />
		<result column="run_month" property="runMonth"/>
	</resultMap>
	
	<update id="setRunningOpen" parameterType="Map">
		update cc_running_day_statistics set open_running = #{openRun}, update_date = NOW() where enterprise_id = #{enterpriseId} and uid = #{uid}
	</update>
	
	<update id="updateRunningPraise" parameterType="String">
		update cc_running_day_statistics set praise_count = praise_count + 1 where enterprise_id = #{enterpriseId} and run_date = #{runDate} and uid = #{uid}
	</update>
	
	<select id="findRunningChampion" resultMap="DayStatisticsResultMap" parameterType="String">
		select * from cc_running_day_statistics
		where enterprise_id = #{enterpriseId} and run_date = #{runDate} and run_ranking = 1 order by create_date desc limit 1
	</select>
	
	<select id="findRunningByRunDate" resultMap="DayStatisticsResultMap" parameterType="String">
		select * from cc_running_day_statistics
		where enterprise_id = #{enterpriseId} and run_date = #{runDate} and uid = #{uid}  order by create_date desc limit 1
	</select>
	
	<select id="findHistoryRunningRanking" resultMap="DayStatisticsResultMap" parameterType="String">
		select * from cc_running_day_statistics 
		where enterprise_id = #{enterpriseId} and run_date = #{runDate} and open_running = 1 order by run_ranking ASC
	</select>

	<select id="findRunStatisticsByDay" parameterType="String" resultMap="DayStatisticsResultMap">
		SELECT * FROM cc_running_day_statistics
		WHERE uid = #{uid} and enterprise_id = #{enterpriseId} order by run_date desc
	</select>
	
	<select id="findRunStatisticsByMonth" parameterType="String" resultMap="MonthStatisticsResultMap">
		SELECT * FROM cc_running_month_statistics
		WHERE uid = #{uid} and enterprise_id = #{enterpriseId} order by run_month desc
	</select>
	
	<select id="findRunStepsByMonth" parameterType="String" resultType="Integer">
		select SUM(run_steps) from cc_running_day_statistics 
		where uid = #{uid} and enterprise_id = #{enterpriseId} and run_date like CONCAT(#{runMonth},'%')
	</select>
	
	<delete id="deleteRunSteps">
		delete from cc_running_day_statistics where run_date like CONCAT(#{runMonth},'%')
	</delete>
	
	<select id="findPraiseCountByMonth" parameterType="String" resultType="Integer">
		select SUM(praise_count) from cc_running_day_statistics 
		where uid = #{uid} and enterprise_id = #{enterpriseId} and run_date like CONCAT(#{runMonth},'%')
	</select>
	
	<select id="findRunKilometreByMonth" parameterType="String" resultType="Integer">
		select SUM(run_kilometre) from cc_running_day_statistics 
		where uid = #{uid} and enterprise_id = #{enterpriseId} and run_date like CONCAT(#{runMonth},'%')
	</select>
	
	<select id="findRunSteps" parameterType="String" resultMap="DayStatisticsResultMap">
		SELECT * FROM cc_running_day_statistics
		WHERE uid = #{uid} and enterprise_id = #{enterpriseId} and DATE_FORMAT(run_date,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d')
		order by run_date desc
	</select>

</mapper>