<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.running.mapper.RunningPraiseMapper">

	<resultMap type="com.jzy.hio.entity.RunningPraise" id="BaseResultMap">
		<id column="id" property="id" />
		<result column="enterprise_id" property="enterpriseId" />
		<result column="praise_uid" property="praiseUid" />
		<result column="be_praised_uid" property="bePraisedUid" />
		<result column="run_date" property="runDate"/>
		<result column="praise_time" property="praiseTime"/>
	</resultMap>

	<select id="isPraiseForUser" parameterType="String" resultType="boolean">
		select count(1) from cc_running_praise where enterprise_id = #{enterpriseId} and praise_uid = #{praiseUid} and be_praised_uid= #{bePraisedUid}
		and run_date = #{praiseDate}
	</select>

	<select id="getMyRunningPraise" parameterType="String" resultMap="BaseResultMap">
		SELECT * FROM cc_running_praise
		WHERE be_praised_uid = #{uid} and enterprise_id = #{enterpriseId} 
		and run_date = #{praiseDate} order by praise_time desc
	</select>

	<select id="getRunningPraiseForOthers" parameterType="String" resultMap="BaseResultMap">
		SELECT * FROM cc_running_praise WHERE praise_uid = #{uid} and enterprise_id = #{enterpriseId}
		and run_date = #{praiseDate}
	</select>
	
	<delete id="deleteRunningPraise" parameterType="String">
		delete from cc_running_praise where enterprise_id = #{enterpriseId} and praise_uid = #{praiseUid} and be_praised_uid = #{bePraisedUid}
		and run_date = #{praiseDate}
	</delete>
	
	<delete id="deletePraise" parameterType="String">
		delete from cc_running_praise where enterprise_id = #{enterpriseId} and run_date = #{praiseDate}
	</delete>
	
	<delete id="deleteExpiredPraise" parameterType="String">
		delete from cc_running_praise where run_date like CONCAT(#{runMonth},'%')
	</delete>
</mapper>