<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.running.mapper.RunningMapper">

	<resultMap type="com.jzy.hio.entity.Running" id="BaseResultMap">
		<id column="id" property="id" />
		<result column="uid" property="uid"/>
		<result column="enterprise_id" property="enterpriseId" />
		<result column="org_name" property="orgName" />
		<result column="run_steps" property="runSteps" />
		<result column="run_kilometre" property="runKilometre" />
		<result column="praise_count" property="praiseCount" />
		<result column="open_running" property="openRunning" />
		<result column="reach_standard" property="reachStandard" />
		<result column="run_date" property="runDate"/>
	</resultMap>

	<select id="getCurrentRunningDeatails" parameterType="String" resultMap="BaseResultMap">
		SELECT * FROM cc_running
		WHERE uid = #{uid} and enterprise_id = #{enterpriseId} and run_date = #{runDate}
	</select>
	
	<select id="getCurrentRunning" parameterType="String" resultMap="BaseResultMap">
		SELECT * FROM cc_running
		WHERE uid = #{uid} and enterprise_id = #{enterpriseId}
	</select>

	<select id="getRunningRanking" resultMap="BaseResultMap" parameterType="String">
		select * from cc_running 
		where enterprise_id = #{enterpriseId} and run_date = #{runDate} and open_running = 1 order by run_steps DESC,update_date DESC
	</select>
	
	<select id="findRunningChampion" resultMap="BaseResultMap" parameterType="String">
		select * from cc_running 
		where enterprise_id = #{enterpriseId} and run_date = #{runDate} order by run_steps DESC limit 1
	</select>
	
	<select id="statisticsRunning" resultMap="BaseResultMap" parameterType="String">
		select * from cc_running 
		where enterprise_id = #{enterpriseId} and run_date = #{runDate} order by run_steps DESC
	</select>
	
	<delete id="deleteRunning" parameterType="String">
		delete from cc_running
	</delete>
	
	<update id="updateRunningSteps" parameterType="Map">
		update cc_running set run_steps = #{steps}, reach_standard = #{reachStandard}, update_date = NOW() where enterprise_id = #{enterpriseId} and uid = #{uid}
	</update>
	
	<update id="updateRunningPraise" parameterType="String">
		update cc_running set praise_count = praise_count + 1, update_date = NOW() where enterprise_id = #{enterpriseId} and uid = #{uid}
	</update>
	
	<update id="setRunningOpen" parameterType="Map">
		update cc_running set open_running = #{openRun}, update_date = NOW() where enterprise_id = #{enterpriseId} and uid = #{uid}
	</update>

	<select id="getMyRanking" resultType="Integer" parameterType="String">
		SELECT rownum
		FROM
		(
		 SELECT
		    run.id,run.uid,run.enterprise_id,run.run_steps,update_date,@rownum := @rownum + 1 AS rownum
		 FROM
		    (
		        SELECT id,uid,enterprise_id,run_steps,update_date
		        FROM cc_running
		        WHERE open_running = 1 and enterprise_id = #{enterpriseId}
		    ) AS run, (SELECT @rownum := 0) r
		 ORDER BY run_steps DESC,update_date DESC
		) AS result
		WHERE uid = #{uid}
		ORDER BY run_steps DESC,update_date DESC
	</select>
</mapper>