<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
     <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!--指定连接数据库用的驱动-->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<!--指定连接数据库的路径-->
        <property name="url" value="jdbc:mysql://localhost:3306/test?zeroDateTimeBehavior=convertToNull" />
		<!-- hostlist
		     localhost: localhost
		 xieyujun     : ydsnote08-02.yds.yd [192.168.85.21]
		 zhaodong     : jsj-0130.yds.yd     [192.168.85.26]
		 wangqingzhu  : jsj-0328.yds.yd     [192.168.85.27]
		 fengliang    : jsj-0185.yds.yd     [192.168.85.31]
		 zhangdaoqiang: jsj-0188.yds.yd     [192.168.85.32]
		-->
		<!--指定连接数据库的用户名-->
        <property name="username" value="root" />
		<!--指定连接数据库的密码-->
        <property name="password" value="root" />
        <property name="connection.useUnicode" value="true" />
		<property name="connection.characterEncoding" value="UTF-8" />
        
    </bean>

	<!--SessionFactory配置-->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
  		<property name="dataSource">
   			<ref local="dataSource" />
  		</property>

		<!--指定持久化类映射文件-->
  		<property name="mappingResources">
   			<list>
                 <value>com/ysys/www/hy/dao/condition/Book.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/TabHysyl.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/TabMcyl.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/TabMrhycjz.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/TabMrhyyl.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/TabZbcyyl.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/TabZbyl.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/TabZqhcjz.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/TabZqhyyl.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/User.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/Tempinfo.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/Tprjjion.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/Tprjmgrs.hbm.xml</value>
                 <value>com/ysys/www/hy/dao/condition/TabTask.hbm.xml</value>
   			</list>
  		</property>

  		<property name="hibernateProperties">
   			<props>
				<!--指定数据库使用的SQL方言-->
    			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!--当show_sql属性为true时，表示当程序运行时在控制台输出SQL语句，默认为false-->
    			<prop key="hibernate.show_sql">true</prop>
				<!--指定是否按照标准格式在控制台上输出SQL语句-->
				<prop key="hibernate.format_sql">true</prop> 
				<!--指定是否在SQL语句中输出便于调试的注释信息-->
				<prop key="use_sql_comments">true</prop>

				<!--日志类别 -->
				<!--org.hibernate.type 为所有JDBC参数记录日志
					show sql Type values and binding parameter's value -->
				<prop key="org.hibernate.type">true</prop>
				<!--为任何Hibernate相关信息做日志 (信息量较大, 但对查错非常有帮助) -->
				<!-- 
				<prop key="org.hibernate">true</prop>
				-->
   			</props>
  		</property>
 	</bean>
    
 </beans>


