.STYLE1 {
font-size: small;
}
.STYLE2 {
font-size: 14px;
font-weight: bold;	
color: #FFFFFF;
}
.STYLE3 {
font-weight: bold;
}
body {
font-family:"ËÎÌו";
margin:0;
padding:0;
}
html > body sup {
vertical-align:20%;
}
:first-child + html sup {
vertical-align:top;
}
#wrapper {
color:#333333;
font-size:medium;
line-height:1.56em;
text-align:left;
}
#header {
margin-bottom:1.3em;
position:relative;
}
#header .service-summary {
bottom:-1.2em;
font-size:x-small;
line-height:1;
position:absolute;
right:0;
}
html > body #header .service-summary {
bottom:-1.4em;
}
#contents {
font-size:small;
}
div.yjmthloginarea, div.yjmthcmnlnkarea, div.yjgrplink {
font-size:small;
}
#contents-header p.service-summary {
font-size:x-small;
line-height:1;
margin-bottom:4px;
margin-top:-1.3em;
text-align:right;
}
.grey {
color:#666666;
}
#pos-spr {
margin-bottom:10px;
margin-top:10px;
text-align:center;
width:100%;
}
#pos-spr table {
margin:0 auto;
text-align:left;
}
#pos-spr br {
display:none;
}
#pos-tnp {
margin-bottom:-0.7em;
}
html:first-child #pos-tnp {
margin-bottom:-1em;
}
body:first-of-type #pos-tnp {
margin-bottom:-1em;
}
#pos-tnp td {
height:1em;
}
#pos-tn {
margin-bottom:8px;
}
#pos-ts {
margin-bottom:8px;
}
#pos-eu {
background-color:#FFFFCC;
margin-bottom:8px;
}
#pos-sqb {
margin-bottom:15px;
width:100%;
}
html > body #pos-sqb {
margin-top:-5px;
}
#pos-sqb small {
font-size:100%;
}
#pos-sqb b a {
font-size:122%;
}
#pos-sqb b small {
font-size:100%;
}
#pos-sqb small b a {
font-size:100%;
}
#pos-eup {
margin-bottom:10px;
text-align:center;
}
#pos-lrec dl, #pos-eup dl {
background-color:#FFFFFF;
}
#pos-lrec dd, #pos-eup dd {
height:auto;
text-align:left;
}
#pos-emt {
border:1px solid #CCCCCC;
margin-bottom:10px;
text-align:center;
}
#pos-emt dt {
background-color:#EEEEEE;
font-weight:bold;
}
#pos-emt dd {
padding:3px 0 1px;
}
#pos-emt a img {
vertical-align:middle;
}
#pos-sqm {
border:1px solid #CCCCCC;
margin-bottom:15px;
}
#pos-sqm dt {
background-color:#EEEEEE;
font-weight:bold;
padding:2px 3px;
text-align:center;
}
#pos-sqm dd {
padding:4px;
}
#pos-sqm dd table {
width:288px;
}
#pos-sqm dd tr.space td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://i.yimg.jp/images/edu/stepup_lrec/images/sqm_bg.gif) repeat-x scroll left center;
height:13px;
}
#centerbox {
margin-bottom:10px;
}
#centerbox table {
margin:0 auto;
}
.error-text {
background-color:#FFFFAA;
border:1px solid #FFCCCC;
color:#FF0000;
font-size:140%;
font-weight:bold;
margin-bottom:15px;
padding:7px 8px 3px;
}
.error-text p {
margin-bottom:3px;
}
.error-text ul {
margin-left:30px;
}
.error-text li {
list-style-type:disc;
margin-bottom:3px;
}
.alert {
color:#FF0000;
font-size:140%;
font-weight:bold;
margin-bottom:16px;
}
.bold-text {
font-weight:bold;
}
div.yjstdPlug {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
border:3px double #DDDDDD;
margin-bottom:10px;
min-height:16px;
padding:0.5em;
}
div.yjstdPlug p {
margin:0;
padding:0;
}
div.yjstdPlug img {
border:0 none;
height:31px;
width:88px;
}
div.yjstdPlug img.ydc {
border:0 none;
height:33px;
width:230px;
}
div.yjstdPlug img.ydc1 {
border:0 none;
height:33px;
width:150px;
}
div.yjstdPlug div.yjstdIcnH {
float:right;
}
div.yjstdPlug div.yjstdIcnH img {
margin-left:0.5em;
}
div.yjstdPlug .yjstdIcnV {
text-align:center;
}
div.yjstdPlug .yjstdIcnV img {
margin:0 0.25em 0.25em;
}
.yjstdPlug:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
.yjstdPlug {
display:inline-block;
}
.yjstdPlug {
display:block;
}
#pos-lrec {
margin-bottom:10px;
text-align:center;
}
#pos-lrec dl {
background-color:#DDDDDD;
color:#555555;
}
#pos-lrec dt {
display:inline-block;
font-size:12px;
font-weight:normal;
line-height:12px;
padding:4px 0;
vertical-align:middle;
}
html:first-child #pos-lrec dt {
padding:3px 0 2px;
}
#pos-lrec dd {
height:250px;
}
.yjr950-2 #wrapper {
voice-family:inherit;
width:950px;
}
.yjr950-2 #wrapper {
margin:0 auto;
padding:0 15px;
}
.yjr950-2 #contents {
text-align:left;
}
.yjr950-2 #contents-body #main {
float:right;
}
.yjr950-2 #contents-body #sub {
float:left;
width:220px;
}
.yjr950-2 #contents-body #main {
width:714px;
}
.yj100per-2 #contents-body #sub {
float:right;
width:300px;
}
ul.nav-page {
margin-bottom:8px;
}
ul.nav-page li {
line-height:1.6;
text-align:right;
}
ul.nav-page li img {
margin-right:3px;
vertical-align:middle;
}
h1 {
font-size:x-small;
line-height:1;
margin-bottom:4px;
margin-top:-1.3em;
text-align:right;
}
#new-title {
background-color:#309B31;
padding:4px;
}
#new-title p {
color:#FFFFFF;
float:left;
line-height:1;
margin:5px;
}
#new-title ul {
float:right;
}
#new-title li {
display:inline;
}
#new-title li img {
line-height:1;
margin-left:5px;
vertical-align:bottom;
}
#my-list {
background-color:#EAF4B3;
border-bottom:medium none #DEE8A5;
margin-bottom:6px;
padding:4px 0 4px 10px;
}
#my-list dl {
float:right;
}
#my-list dt {
display:inline;
font-weight:bold;
}
#my-list dd {
display:inline;
}
#my-list ul {
display:inline;
}
#my-list li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg.gif) no-repeat scroll left center;
display:inline;
margin-right:10px;
padding-left:14px;
}
#lead {
margin-bottom:16px;
}
#lead h2 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#676767 url(../images/titlebg11.gif) no-repeat scroll 0 0;
border-bottom:5px solid #C8DE35;
margin-bottom:4px;
padding:7px 10px;
}
#lead h2 img {
vertical-align:bottom;
}
#thema {
border:1px solid #CCCCCC;
margin-bottom:15px;
}
#thema h3 {
float:right;
margin-bottom:6px;
width:862px;
}
#thema h3 img {
vertical-align:bottom;
}
#thema p.img {
float:left;
width:85px;
}
.t-content {
float:right;
margin-bottom:8px;
width:862px;
}
.t-content p {
float:left;
padding:0 15px;
}
.t-cotnent ul {
float:right;
}
.t-content ul li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg3.gif) no-repeat scroll left center;
float:right;
padding:0 10px;
white-space:nowrap;
}
#thema dl {
border-top:1px dashed #CCCCCC;
float:right;
margin-bottom:6px;
padding-top:6px;
width:862px;
}
#thema dt {
display:none;
}
#thema dd {
padding:0 10px 0 15px;
}
#thema dd a {
white-space:nowrap;
}
html:first-child #thema dd a {
white-space:normal;
}
body:first-of-type #thema dd a {
white-space:normal;
}
#choose {
margin-bottom:16px;
position:relative;
}
#choose h3 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/titlebg15.gif) no-repeat scroll left top;
border-bottom:1px solid #CCCCCC;
padding:12px 0 7px 9px;
}
#choose h3 img {
vertical-align:bottom;
}
#choose ul.add {
position:absolute;
right:180px;
top:6px;
}
#choose ul.add li img {
vertical-align:bottom;
}
#choose ul.add li input {
vertical-align:bottom;
}
#choose ul.my {
position:absolute;
right:11px;
top:12px;
}
#choose ul.my li {
display:inline;
}
#choose ul.my li img {
vertical-align:bottom;
}
#ch-act {
background-color:#FFFFFF;
border:1px solid #939393;
position:absolute;
right:5px;
top:40px;
width:350px;
}
#ch-act dl {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(../images/contentbg13.gif) repeat-x scroll center top;
border:1px solid #CCCCCC;
margin:3px;
padding:6px;
}
#ch-act dt {
border-bottom:1px dotted #939393;
font-size:110%;
font-weight:bold;
margin-bottom:6px;
padding:0 4px;
}
#ch-act dd {
padding:0 3px;
}
#ch-act dd input {
margin-right:4px;
}
#ch-act dd input.text {
width:180px;
}
#ch-act dd input.submit {
background-color:#FFB72B;
}
#ch-act dd input.cancel {
background-color:#E3E3E3;
}
#choose table {
border-left:1px solid #CCCCCC;
width:950px;
}
html > body #choose table {
margin-left:1px;
width:949px;
}
html:first-child #choose table {
margin-left:0;
width:949px;
}
body:first-of-type #choose table {
margin-left:0;
width:949px;
}
:first-child + html #choose table {
margin-left:0;
}
#choose caption {
display:none;
}
#choose th {
background-color:#F2F2F2;
border-bottom:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
font-size:110%;
font-weight:bold;
padding:3px 6px;
text-align:left;
width:12%;
}
#choose td {
border-bottom:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
padding:3px 6px;
width:88%;
}
#choose td dt {
display:inline;
font-size:110%;
font-weight:bold;
margin-right:4px;
}
#choose td dd {
display:inline;
margin-right:10px;
}
#number {
border-bottom:1px dashed #CCCCCC;
font-size:110%;
margin-bottom:6px;
padding-bottom:10px;
}
#number dl {
float:left;
}
#number dt {
display:none;
}
#number dt img {
text-decoration:none;
vertical-align:middle;
}
#number dd {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/titlebg14.gif) no-repeat scroll left center;
color:#666666;
font-weight:bold;
line-height:1;
padding-left:14px;
}
#number .all {
color:#FF5400;
font-size:200%;
}
#number .view {
color:#FF5400;
font-size:150%;
}
#number p {
float:right;
font-size:110%;
white-space:nowrap;
}
#number .current {
color:#FF5400;
font-size:150%;
}
#number .move {
font-weight:bold;
}
#number .move img {
margin:0 3px;
}
#sort {
margin-bottom:6px;
}
#sort dl {
float:right;
}
#sort dt {
float:left;
font-weight:bold;
width:5.2em;
}
#sort dd {
margin-left:1.2em;
}
#sort dd span.head {
font-weight:bold;
}
#sort dd span.current {
font-weight:bold;
}
#sort dd li {
display:inline;
white-space:nowrap;
}
.check-all {
float:left;
height:1.5em;
padding-left:8px;
width:12.8em;
}
.check-all li {
display:inline;
vertical-align:baseline;
white-space:nowrap;
}
.check-all li input {
margin-bottom:-1px;
margin-right:3px;
}
.btn-tog {
float:right;
}
.btn-tog li {
display:inline;
}
#list {
border-left:1px solid #CCCCCC;
border-top:1px solid #CCCCCC;
margin-bottom:8px;
}
#list table {
width:713px;
}
#list caption {
display:none;
}
#list th {
background-color:#E7E7E7;
border-bottom:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
font-weight:bold;
padding:4px;
text-align:center;
}
html:first-child #list th, body:first-of-type #list th {
white-space:nowrap;
}
#list th.col-0 {
width:4%;
}
#list th.col-1 {
width:15%;
}
#list th.col-2 {
width:20%;
}
#list th.col-3 {
width:13%;
}
#list th.col-4 {
width:10%;
}
#list th.col-5 {
width:13%;
}
#list th.col-6 {
width:13%;
}
#list th.col-7 {
width:12%;
}
#list td.check {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FEE6D6 none repeat scroll 0 0;
vertical-align:middle;
}
#list td.check-no {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
}
#list td.check input {
height:13px;
text-align:center;
width:13px;
}
#list td {
border-bottom:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
padding:4px;
vertical-align:top;
word-wrap:break-word;
}
#list td.img {
text-align:center;
width:118px;
}
#list td.img p {
margin-bottom:5px;
}
#list td.img p a {
border:1px solid #0000FF;
display:block;
margin:0 auto;
width:118px;
}
#list td.img ul img {
margin-bottom:3px;
vertical-align:bottom;
}
#list td.summary-1 h3 {
font-size:110%;
font-weight:bold;
margin-right:70px;
}
#list td.summary-1 h3 img {
margin-right:3px;
vertical-align:middle;
}
#list td.summary-1 img.update {
position:absolute;
right:-70px;
top:0;
}

#list td.summary-1 p {
color:#B35600;
margin:4px 70px 0 0;
}
.summary-2{

position:inherit
}
#list td.summary-2 p {
margin-bottom:6px;
}
#list td.summary-2 p img {
vertical-align:middle;
}
#list td.summary-2 dt {
display:none;
}
#list td.summary-2 dd {
}
#list td.summary-2 dd li {
float:left;
}
#list td.summary-2 dd li img {
display:block;
}
#list td.summary-2 dd li.cd-1 {
left:0;
}
#list td.summary-2 dd li.cd-2 {
left:46px;
}
#list td.summary-2 dd li.cd-3 {
left:92px;
}
#list td.summary-2 dd li.cd-4 {
left:138px;
}
#list td.summary-2 dd li.cd-5 {
left:184px;
}
#list td.summary-2 dd li.cd-6 {
left:230px;
}
#list td.summary-2 dd li.cd-7 {
left:276px;
}
#list td.summary-2 dd li.cd-8 {
left:322px;
}
#list td.summary-2 dd li.cd-9 {
left:368px;
}
#list td.summary-2 dd li.cd-10 {
left:414px;
}
#list td.summary-2 dd li.cd-11 {
left:460px;
}
#list td.summary-2 dd li.cd-12 {
left:506px;
}
#useful {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#ECECD4 url(../images/contentbg12.gif) no-repeat scroll left top;
border:1px solid #D2D278;
height:1%;
margin-bottom:8px;
padding:8px 185px 8px 62px;
position:relative;
}
#useful ul {
position:absolute;
right:15px;
top:10px;
}
#useful ul img {
vertical-align:bottom;
}
#number-bottom {
border-top:1px dashed #CCCCCC;
font-size:110%;
margin-bottom:6px;
padding-top:10px;
}
#number-bottom dl {
float:left;
}
#number-bottom dt {
display:none;
}
#number-bottom dt img {
text-decoration:none;
vertical-align:middle;
}
#number-bottom dd {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/titlebg14.gif) no-repeat scroll left center;
color:#666666;
font-weight:bold;
line-height:1;
padding-left:14px;
}
#number-bottom .all {
color:#FF5400;
font-size:200%;
}
#number-bottom .view {
color:#FF5400;
font-size:150%;
}
#number-bottom p {
float:right;
font-size:110%;
white-space:nowrap;
}
#number-bottom .current {
color:#FF5400;
font-size:150%;
}
#number-bottom .move {
font-weight:bold;
}
#number-bottom .move img {
margin:0 3px;
}
#link {
clear:both;
margin-bottom:16px;
}
#link strong {
font-weight:bold;
}
#link dl {
border-bottom:1px dotted #939393;
border-top:1px dotted #939393;
padding:6px;
}
:first-child + html #link dl {
padding:3px 6px 6px;
}
#link dt {
color:#309B30;
float:left;
font-weight:bold;
}
#notice {
margin-bottom:16px;
}
#notice h3 {
display:none;
}
#notice ul {
color:#666666;
}
#notice li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listbg11.gif) no-repeat scroll left 4px;
margin-bottom:3px;
padding-left:12px;
}
#loading {
font-size:small;
left:50%;
margin-left:-200px;
margin-top:-100px;
position:absolute;
text-align:left;
top:50%;
width:398px;
}
#loading p {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/contentbg14_middle.png) repeat-y scroll center center;
font-size:120%;
font-weight:bold;
line-height:1.8;
padding:0 17px 16px;
text-align:center;
}
#loading p img {
margin:0 9px;
vertical-align:middle;
}
#loading p span.change {
color:#954800;
font-size:130%;
}
#loading p span.before {
color:#FF3600;
font-size:190%;
}
#loading p span.after {
color:#FF3600;
font-size:200%;
}
#loading p.notice {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/contentbg14_bottom.png) no-repeat scroll left bottom;
color:#FF3600;
font-size:160%;
font-weight:bold;
padding:0 17px 27px;
}
#loading ul.close {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/contentbg14_top.png) no-repeat scroll left top;
padding:15px 17px 6px;
}
#loading ul.close li {
text-align:right;
}
#loading ul.close li a {
color:#333333;
}
#loading ul.close li img {
margin-left:3px;
vertical-align:middle;
}
#loading ul.act {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/contentbg14_bottom.png) no-repeat scroll left bottom;
padding:0 17px 27px 37px;
}
#loading ul.act li {
display:inline;
margin-right:16px;
}
#loading ul.act li img {
vertical-align:bottom;
}
#my-list:after, #new-title:after, #number:after, #sort:after, #number-bottom:after, #thema:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
#my-list, #new-title, #number, #sort, #number-bottom, #thema {
display:inline-block;
}

#uhd div table {
text-align:left;
}
#uhd img {
display:block;
}
#uhd br {
display:none;
}
#emg, #emg2, #emg3 {
margin-bottom:10px;
text-align:center;
}
#emg table, #emg2 table, #emg3 table {
margin:0 auto;
text-align:left;
}
#pos-n {
margin-bottom:10px;
margin-top:10px;
text-align:center;
width:100%;
}
#pos-n table {
margin:0 auto;
text-align:left;
}
#pos-n br {
display:none;
}
#pos-s {
border-top:1px solid #CCCCCC;
padding:10px 0;
text-align:center;
}
#pos-s table {
line-height:1em;
margin:0 auto;
text-align:left;
width:500px;
}
#masthead{
	width:100%;
	height: 55px; /* needed when using the safari hack */
	margin: 4px auto 10px auto;
	text-align: left;
	}
#masthead strong{
	font-weight:bold;
	}
/* === standard clear-after rules === */
#masthead:after{
	content: "."; 
	display: block; 
	position:relative; /*works better in IE5.5 or float in float situations */
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
	
/* hide from ie/mac  needed for IE \*/
* html #masthead{
	height: 1%;
	}
* html #masthead .yjmth{
	margin: 0;
	padding: 0;
}
h3{
border-bottom-color:#cccccc;
padding-bottom:0px;
border-top-color: #cccccc;
margin:0px;
padding-left:0px;
padding-right:0px;
border-right-color:#cccccc;
border-left-color:#cccccc;
padding-top:0px;
}
div{
border-bottom-color:#cccccc;
padding-bottom:0px;
border-top-color:#cccccc;
margin:0px;
padding-left:0px;
padding-right:0px;
border-right-color:#cccccc;
border-left-color:#cccccc;
padding-top:0px;
}
dl, dt, dd, ul, ol, li, h1, h2,  h4, h5, h6, pre, form, input, p, blockquote, fieldset {
	margin:0;
	padding:0;
	border-color: #CCCCCC;
}
h1, h2, h3, h4, h5, h6 {
font-size:100%;
font-weight:normal;
}
ul li, ol li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
table {
border-collapse:collapse;
border-spacing:0;
font-size:100%;
margin:0;
padding:0;
}
caption {
text-align:left;
}
table, pre, code, select, input, textarea, kbd, var, ins, del, samp {
font-size:100%;
}
address, cite, dfn, em, strong, var, th, ins, del, samp {
font-style:normal;
font-weight:normal;
}
a img {
border:0 none;
}
hr.separation {
display:none;
}
fieldset {
border:medium none;
}

#cat-pass {
margin-bottom:10px;
padding-left:7px;
}
#contents-body {
position:relative;
}
.yj-guid {
display:block;
font-size:0;
height:0;
line-height:0;
overflow:hidden;
text-indent:-9999px;
}
.yj-skip {
display:block;
font-size:0;
height:0;
line-height:0;
overflow:hidden;
text-indent:-9999px;
}
#footer {
text-align:center;
}
#footer address {
border-top:1px solid #CCCCCC;
font-size:small;
line-height:1.4em;
padding:10px 0 20px;
}
.yj950-1 #wrapper, .yj950-1-3 #wrapper, .yj950-2 #wrapper, .yj950-3 #wrapper {
margin:0 auto;
padding:0 15px;
width:950px;
}
.yj950-1 #contents, .yj950-1-3 #contents, .yj950-2 #contents, .yj950-3 #contents {
text-align:left;
}
.yj950-1 #contents {
position:relative;
}
.yj950-1 #contents-body span.yj-guid {
float:right;
height:280px;
left:auto;
margin:0;
position:relative;
width:310px;
}
.yj950-1 #contents-body #sub #pos-lrec {
position:absolute;
right:0;
top:0;
width:300px;
}
.yj950-1-3 #contents-body #sub #pos-lrec {
position:absolute;
right:0;
top:0;
width:300px;
}
.yj950-1-3 #main .wrapper {
float:left;
width:634px;
}
.yj950-1-3 #main #main-block {
float:right;
width:432px;
}
.yj950-1-3 #main #sub-block1 {
float:left;
width:192px;
}
.yj950-1-3 #main #sub-block2 {
float:right;
margin-top:280px;
width:300px;
}
.yj950-2 #contents-body #main {
float:left;
width:634px;
}
.yj950-2 #contents-body #sub {
float:right;
width:300px;
}
.yj950-3 #contents-body #main {
float:left;
width:634px;
}
.yj950-3 #contents-body #main-main {
float:right;
width:432px;
}
.yj950-3 #contents-body #main-sub {
float:left;
width:192px;
}

.yj100per-1, .yj100per-1-3, .yj100per-2, .yj100per-3 {
width:100%;
}
.yj100per-1 #wrapper, .yj100per-1-3 #wrapper, .yj100per-2 #wrapper, .yj100per-3 #wrapper {
min-width:950px;
padding:0 15px;
}
* html .yj100per-1 #wrapper, * html .yj100per-1-3 #wrapper, * html .yj100per-2 #wrapper, * html .yj100per-3 #wrapper {
}
.yj100per-1 #contents {
position:relative;
}
.yj100per-1 #contents-body span.yj-guid {
float:right;
height:280px;
left:auto;
margin:0;
position:relative;
width:310px;
}
.yj100per-1 #contents-body #sub #pos-lrec {
position:absolute;
right:0;
top:0;
width:300px;
}
.yj100per-1-3 #contents-body #sub #pos-lrec {
position:absolute;
right:0;
top:0;
width:300px;
}
.yj100per-1-3 #main #main-main-wrapper {
float:left;
margin-left:-316px;
width:100%;
}
.yj100per-1-3 #main #main-main {
margin-left:316px;
}
.yj100per-1-3 #main #main-block-wrapper {
float:right;
margin-right:-202px;
width:100%;
}
.yj100per-1-3 #main #main-block {
margin-right:202px;
}
.yj100per-1-3 #main #sub-block1 {
float:left;
width:192px;
}
.yj100per-1-3 #main #sub-block2 {
float:right;
margin-top:280px;
width:300px;
}
.yj100per-2 #contents-body #main-wrapper {
float:left;
margin-left:-316px;
width:100%;
}
.yj100per-2 #contents-body #main {
margin-left:316px;
}


.yj100per-3 #contents-body #main-wrapper {
float:left;
margin-left:-316px;
width:100%;
}
.yj100per-3 #contents-body #main {
margin-left:316px;
}
.yj100per-3 #contents-body #main-main-wrapper {
float:right;
margin-right:-202px;
width:100%;
}
.yj100per-3 #contents-body #main-main {
margin-right:202px;
}
.yj100per-3 #contents-body #main-sub {
float:left;
width:192px;
}

#contents-body:after, .yj950-3 #contents-body #main:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
#contents-body, .yj950-3 #contents-body #main {
}

.main_login {
float:right;
margin-left:40px;
}
/* CSS for printing */

/* fonts */
.f11{font-size:11px;line-height:110%;}
.f13{font-size:13px;line-height:110%;}
.f15{font-size:15px;line-height:110%;}
.f17{font-size:17px;line-height:115%;}
.f11b{font-size:11px;line-height:110%;font-weight:bold;}
.f13b{font-size:13px;line-height:110%;font-weight:bold;}
.f15b{font-size:15px;line-height:120%;font-weight:bold;}
.f17b{font-size:17px;line-height:125%;font-weight:bold;}

/* line-height */
.s115 {line-height:115%;}
.s130 {line-height:130%;}
.s150 {line-height:150%;}

/* masthead */
div.yjmthloginarea{display:none;}

#sub legend {
display:none;
}
#sub label {
cursor:pointer;
}
html:first-child #sub label {
cursor:default;
}
#sub form h3 {
background:url(../images/titlebg17.gif) no-repeat left top;

height:35px;
width:220px;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
}
#sub form h3 img {
margin:9px 0 0 9px;
vertical-align:bottom;
}
#select {
background-color:#F2F2F2;
border-color:-moz-use-text-color #CCCCCC #CCCCCC;
border-style:none solid solid;
border-width:medium 1px 1px;
}
:first-child + html #select {
}
#select h4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#319C30 url(../images/titlebg16.gif) repeat-x scroll center top;
border-top:1px solid #309B30;
color:#FFFFFF;
font-size:120%;
font-weight:bold;
padding:2px 6px;
}
#select h4 a {
color:#FFFFFF;
text-decoration:none;
}
#select h4 img {
margin-right:3px;
}
#select .select-content {
border-bottom:1px dotted #CCCCCC;
margin:6px 6px 0;
padding-bottom:6px;
}
#select .select-content.end {
border-bottom:medium none;
}
#select .select-content h5 {
color:#309630;
float:left;
font-size:110%;
font-weight:bold;
line-height:1.1;
margin-bottom:6px;
}
:first-child + html #select .select-content h5 {
margin-bottom:0;
}
#select .select-content p {
clear:both;
}
#select .select-content ul {
float:left;
margin-left:8px;
}
#select .select-content ul li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/listmark5.gif) no-repeat scroll left center;
line-height:1.2;
padding-left:10px;
white-space:nowrap;
}
#select .select-content dl {
clear:both;
}
#select .select-content dt {
float:left;
width:4em;
}
#select .select-content dd {
margin-left:4em;
}
#condition1 {
background-color:#F2F2F2;
border-color:-moz-use-text-color #CCCCCC #CCCCCC;
border-style:none solid solid;
border-width:medium 1px 1px;
}
#condition1 h4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#319C30 url(../images/titlebg16.gif) repeat-x scroll center top;
border-top:1px solid #309B30;
color:#FFFFFF;
font-size:120%;
font-weight:bold;
padding:2px 6px;
}
#condition1 h4 a {
color:#FFFFFF;
text-decoration:none;
}
#condition1 h4 img {
margin-right:3px;
}
#condition1 dt {
color:#309630;
font-size:110%;
font-weight:bold;
line-height:1.1;
margin-bottom:4px;
}
#condition1 dd {
line-height:1.8;
}
#condition1 ul {
}
#condition1 li {
float:left;
line-height:1.8;
padding-right:8px;
white-space:nowrap;
}
:first-child + html #condition1 dd input {
margin-left:-3px;
}
html > body #condition1 dd input {
margin-right:3px;
}
#condition1 dl.price {
margin:6px;
}
#condition1 dl.layout {
border-top:1px dotted #CCCCCC;
margin:0 6px 6px;
padding-top:6px;
}
#condition1 dl.walk {
border-top:1px dotted #CCCCCC;
margin:0 6px 6px;
padding-top:6px;
}
#condition1 dl.space {
border-top:1px dotted #CCCCCC;
margin:0 6px 6px;
padding-top:6px;
}
#condition1 dl.time {
border-top:1px dotted #CCCCCC;
margin:0 6px 6px;
padding-top:6px;
}
#condition2 {
background-color:#F2F2F2;
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
padding-bottom:6px;
}
#condition2 h4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#319C30 url(../images/titlebg16.gif) repeat-x scroll center top;
border-top:1px solid #309B30;
color:#FFFFFF;
font-size:120%;
font-weight:bold;
padding:2px 6px;
}
#condition2 h4 a {
color:#FFFFFF;
text-decoration:none;
}
#condition2 h4 img {
margin-right:3px;
}
:first-child + html #condition2 input {
margin-left:-3px;
}
html > body #condition2 input {
margin-right:3px;
}
#condition2 dt {
color:#309630;
font-size:110%;
font-weight:bold;
line-height:1.1;
margin-bottom:4px;
}
#condition2 dd {
line-height:1.8;
}
#condition2 .status {
margin:6px;
}
#condition2 .type {
border-top:1px dotted #CCCCCC;
margin:0 6px 6px;
padding-top:6px;
}
#condition2 .location {
border-top:1px dotted #CCCCCC;
margin:0 6px 6px;
padding-top:6px;
}
#condition2 .setsubi {
border-top:1px dotted #CCCCCC;
margin:0 6px 6px;
padding-top:6px;
}
#condition2 .other {
border-top:1px dotted #CCCCCC;
margin:0 6px 6px;
padding-top:6px;
}
#cd-switch {
padding:8px 8px 0;
text-align:right;
}
#cd-switch-off {
padding:8px;
text-align:right;
}
#cd-switch li, #cd-switch-off li {
width:auto;
}
#cd-switch a, #cd-switch-off a {
color:#666666;
}
#cd-switch img, #cd-switch-off img {
margin-right:4px;
vertical-align:middle;
}
#keep {
background-color:#E4F097;
border-color:-moz-use-text-color #CCCCCC #CCCCCC;
border-style:none solid solid;
border-width:medium 1px 1px;
margin-bottom:8px;
text-align:center;
}

#keep ul {
padding:6px 0;
}
#keep ul#focus {
}
#keep ul#focus input {
font-size:110%;
font-weight:bold;
margin:0 0 4px;
padding:6px 0 4px;
width:180px;
}
#keep img {
vertical-align:middle;
}
#ch-act-side {
background-color:#FFFFFF;
border:1px solid #939393;
position:absolute;
right:-330px;
top:-12px;
width:350px;
}
#ch-act-side dl {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(../images/contentbg13.gif) repeat-x scroll center top;
border:1px solid #CCCCCC;
margin:3px;
padding:6px;
text-align:left;
}
#ch-act-side dt {
border-bottom:1px dotted #939393;
font-size:110%;
font-weight:bold;
margin-bottom:6px;
padding:0 4px;
}
#ch-act-side dd {
padding:0 3px;
}
#ch-act-side dd input {
margin-right:4px;
}
#ch-act-side dd input.text {
width:180px;
}
#ch-act-side dd input.submit {
background-color:#FFB72B;
}
#ch-act-side dd input.cancel {
background-color:#E3E3E3;
}
#help {
margin-bottom:16px;
}
#help li {
display:inline;
}
#hist {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FDFDFD url(../images/contentbg.gif) repeat-x scroll 0 0;
border:1px solid #DADADA;
margin-bottom:8px;
padding:10px 10px 0;
height:161px;
}
#hist h3 {
border-left:5px solid #499FDE;
font-size:110%;
font-weight:bold;
line-height:1;
margin-bottom:6px;
padding-left:6px;
}
#hist dl {
border-top:1px dashed #DEDEDE;
padding-top:6px;
}
#hist dt {
font-weight:bold;
}
#hist dd {
margin-bottom:10px;
}
#loan {
margin-bottom:8px;
}
#loan li img {
vertical-align:bottom;
}
#sell-link {
border:1px solid #CCCCCC;
margin-bottom:8px;
vertical-align:bottom;
}
#sell-link dl {
}
#sell-link dl dt {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/bg_side_sell.png) repeat-x scroll center top;
margin:2px 2px 0;
text-align:center;
}
#sell-link dl dd {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFF8F8 none repeat scroll 0 0;
text-align:center;
}
#sell-link dl dd.up {
border-top:2px solid #EF6F6F;
font-weight:bold;
padding:5px 3px 6px;
}
#sell-link dl dd.up img {
margin-right:2px;
vertical-align:middle;
}
#sell-link dl dd.middle {
padding:3px 3px 8px;
}
#sell-link dl dd.middle input {
padding:2px;
}
#sell-link dl dd.bottom {
padding:3px 3px 5px;
}
#loan02 {
border:1px solid #CCCCCC;
margin-bottom:8px;
vertical-align:bottom;
}
#loan02 dl {
}
#loan02 dl dd {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F6FBFF none repeat scroll 0 0;
color:#666666;
}
#loan02 dl dt {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/bg_side_sell.png) repeat-x scroll center top;
margin:2px 2px 0;
text-align:center;
}
#loan02 dl dd.up {
border-top:2px solid #1687DA;
}
#loan02 dl dd.read {
padding:3px 8px;
}
#loan02 dl dd.btn {
padding:3px 3px 6px;
text-align:center;
}
#condition1 ul:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
#condition1 ul {
display:inline-block;
}
#condition1 ul {
display:block;
}
.s115 {
line-height:115%;
}
.s130 {
line-height:130%;
}
.s150 {
line-height:150%;
}
.yjmth {
}
.yjmth img {
border:0 none;
vertical-align:middle;
}
.yjmth a {
border:0 none;
}
div.yjmthproplogoarea {
float:left;
}
div.yjmthloginarea {
float:left;
font-size:smaller;
line-height:110%;
margin:0 0 0 3px;
text-align:left;
}
div.yjmthcplogoarea {
float:right;
}
div.yjmthcmnlnkarea {
float:right;
font-size:smaller;
line-height:110%;
margin:10px 3px 0 0;
text-align:right;
}
br.yjmthclear {
clear:both;
}
div.yjgrplink {
font-size:smaller;
line-height:115%;
text-align:right;
}
div#music div.yjmthloginarea {
margin-left:7px;
margin-top:16px;
}
div#music div.yjmthcmnlnkarea {
margin-top:26px;
}
div#music div.yjmthcplogoarea {
margin-top:14px;
}
.yjXXL {
font-size:x-large;
voice-family:inherit;
}
html > body .yjXXL {
font-size:xx-large;
}
.yjXL {
font-size:large;
voice-family:inherit;
}
html > body .yjXL {
font-size:x-large;
}
.yjL {
font-size:medium;
voice-family:inherit;
}
html > body .yjL {
font-size:large;
}
.yjM {
font-size:small;
voice-family:inherit;
}
html > body .yjM {
font-size:medium;
}
.yjMt {
font-size:small;
line-height:1.4em;
voice-family:inherit;
}
html > body .yjMt {
font-size:medium;
}
.yjS {
font-size:x-small;
voice-family:inherit;
}
html > body .yjS {
font-size:small;
}
.yjSt {
font-size:x-small;
line-height:1.3em;
voice-family:inherit;
}
html > body .yjSt {
font-size:small;
}
.yjXS {
font-size:xx-small;
voice-family:inherit;
}
html > body .yjXS {
font-size:x-small;
}
#fdlx{
position:absolute;
}
#ma_to{
width:85px;
}
#ma_from{
width:85px;
}
