.start-box {
  .weui-cell{
    padding: 0 15px;
  }
  .weui-label,.weui-input{
    font-size: 16px;
    color: #191919;
  }
  .weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before,.weui-cells_radio .weui-check:checked + .weui-icon-checked:before{
    color: #009EFF;
  }
  .form-preview-box{
    .weui-cell{
      padding: 0 15px;
    }
    .weui-label,.weui-input{
      font-size: 16px;
      color: #191919;
    }
  }
  .form-fill-box{

    textarea{
      float: right;
      margin-right: 5px;
    }

    .weui-cells:before,.weui-cells:after,.weui-cell:before{
      border-top:none;
      border-bottom: none;
    }

    .weui-cells_radio  .weui-cell,.weui-cells_checkbox .weui-cell,.vux-x-input.weui-cell{
     padding: 0 15px;
    }
    .vux-radio-label,.weui-select{
      font-size: 16px;
      color: #191919;
    }
    .weui-input{
      text-align: right;
    }
    .weui-cells__title{
      font-size: 16px;
      color: #191919;
      float: left;
    }
    .weui-cells_checkbox{
      float: right;
    }
    .vux-x-textarea .weui-label{
      font-size: 16px;
      color: #191919;
    }
  }

  .base h3{
    position: relative;
  }
  .base h3:after{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 0 2px 2px 0;
    border-color: #C8C8CD;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
  }
  .base h3.exepnd:after{
    border-width: 2px 2px 0 0;
  }
  .p0{
    padding: 0!important;
  }
  .b0{
    border:none!important;
  }
  textarea {
    resize: none;
    outline: none;
    border-radius: 2px;
    border: 1px solid #ebebeb;
    height: 60px;
    padding: 5px;
    /* width: 70%; */
    width: 72%;
    float: left;
    font-size: 15px;
    font-family: "Microsoft YaHei,微软雅黑";
    color: #333;
  }

  .split {
    background: #f5f5f5;
    height: 10px;
  }

  .note-box {
    padding: 20px 12px;

    span {
      float: left;
      line-height: 65px;
      margin-right: 10px;
      color: #333;
    }


  }
  .btn-box {
    padding: 0.8rem 0;
    border-bottom: 1px solid #ebebeb;
    .btn {
      width: 50%;
      text-align: center;
      float: left;
      a.agree-btn .current{
        border-bottom: 3px solid #17C295;
      }
      a.not-agree-btn .current{
        border-bottom: 3px solid #F24848;
      }
      a {
        text-align: center;
        display: inline-block;
        width: 66px;

        img {
          width: 44px;
          height: 44px;
          vertical-align: middle;
          margin-left: 10px;
        }

        span {
          font-size: 14px;
          color: #333333;
          line-height: 35px;
          display: inline-block;
        }

      }
    }

  }
}

textarea.mynote{
  float: right;
  margin: 10px 0;
}
.approve-list{
  padding-right:15px;

  .event_list {
    width: 100%;
    background: url(../../static/images/dian3.png) 10px 10px repeat-y;
    margin: 1rem 0 1rem 0;

    li {
      margin-bottom: 10px;
      list-style: none;

      .list_detail_approve {
        margin-left: 2rem;
        line-height: 1.666rem;
        padding: 0.666rem 0.666rem;
        position: relative;
        border-radius: 4px;

        table {
          width: 100%;

          .td_w1 {
            width: 23%;
          }

          .td.info_s, .td.info_text {
            color: #666;
          }

          .td_w2 {
            width: 73%;
          }

          td {
            line-height: 1.8rem;
            font-size: .9rem;
            word-break: break-all;
            word-wrap: break-word;
          }

        }

      }
    }
    .dian_reject .list_detail_approve {
      background-color: #FFF1F1;
    }
    .dian_pass .list_detail_approve {
      background-color:  #E6F8F2;
    }

    .dian_current .list_detail_approve {
      background-color:#FEF3E0;
    }

    .dian_waiting .list_detail_approve {
      background-color:  #F6F7F8;
    }

    .dian_current {
      background: url(../../static/images/sl_s_spz.png) 0px 0px no-repeat;
      background-size: 23px 23px;
    }

    .dian_waiting {
      background: url(../../static/images/sl_s_ds.png) 0px 0px no-repeat;
      background-size: 23px 23px;
    }
    .dian_reject {
      background: url(../../static/images/sl_s_reject.png) 0px 0px no-repeat;
      background-size: 23px 23px;
    }
    .dian_pass {
      background: url(../../static/images/sl_s_pass.png) 0px 0px no-repeat;
      background-size: 23px 23px;
    }

  }
}
.result-i{
  width: 60px;
  height: 26px;
  line-height: 26px;

  border-radius: 1px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
}
.result-i.agree{
   border: 0 solid #ACE4D4;
   background: #E9FFF9;
   color: #17C295;
 }
.result-i.spz{
  border: 0 solid #ACE4D4;
  background: #E9FFF9;
  color: #17C295;
}
.result-i.bohui{
  color: #F24848;
  background: #FFE8E8;
  border: 0 solid #F6C3C3;
}
.submit-box{
  margin-top: 10px;
   width: 100%;
  overflow: hidden;
  .submit-btn{
    background: #009EFF;
    width: 100%;
    height: 44px;
    line-height: 44px;
    outline: none;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 17px;
  }
}
.detail .attach-item {
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #ededed;
  position: relative;
}
.detail .attach-item:after{
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -4px;
}
.approve-text{
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100%;
  z-index: 999;
  height: 100%;
  .tit{
     height: 50px;
    background: #FFFFFF;
    border-bottom: 1px solid #ebebeb;
    padding-left: 15px;
    line-height: 50px;
    font-size: 16px;
    color: #191919;
    position: relative;
    text-align: center;
    margin-bottom: 0;
  }
  .tit:before{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 0 0 2px 2px;
    border-color: #C8C8CD;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -4px;
  }
  .con{
    padding: 10px 15px;
    label{
      font-size: 16px;
      color: #666666;
      float: left;
      width: 10%;
    }
    textarea{
      float: left;
      width: 88%;
      height: 120px;
      padding: 0;
      font-size: 16px;
      color: #666666;
      border: none;
      outline: none;

    }
  }
  button{
    background: #009EFF;
    width: 92px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    float: right;
    outline: none;
    border: none;
  }
  .cover{
    display: none;
    opacity: 0.3;
    background: #000000;
    height: 100%;
    width: 100%;
  }
}
.free-box{
  .event_list {
    width: 100%;
    background: url(../../static/images/dian3.png) 8px 10px repeat-y;
    padding-right: 12px;
    box-sizing: border-box;
    margin-top: 12px;
  }
  .event_list li {
    list-style: none;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    background: url(../../static/images/sl_s_ds.png) 0 2px no-repeat;
    background-size: 20px 20px;
  }
  .event_list li .libox {
    margin: 0 0 0 25px;
    background: #F5F5F5;
    border-radius: 2px;
    padding: 20px;
    overflow: hidden;
    position: relative;
  }
  .event_list li .libox .del_h{
    position: absolute;
    background: url("../../static/images/lc_delete@2x.png") no-repeat;
    background-size: 11px 13px;
    display: inline-block;
    width: 11px;
    height: 13px;
    right: 10px;
    top: 10px;
  }
  .person-box{
    overflow: hidden;
  }
   .person-box span{
    display: inline-block;
    width: 46%;
    height: 38px;
    line-height: 38px;
    position: relative;
    float: left;
    text-align: left!important;
     padding-left: 14px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
     padding-right: 22px;
     box-sizing: border-box;
  }
  .person-box span:nth-child(odd){
    margin-right: 10px;
  }
  .person-box span .del{
    background: url("../../static/images/deleteman@2x.png") no-repeat;
    width: 13px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 12px;
    background-size: 13px 15px;
    display: none;
  }
  .person-box span.bg{
    background: #F0F0F0;
    //border: 1px solid #EAEAEA;
    border-radius: 3px;
  }
  .event_list li label {
    font-size: 15px;
    color: #999999;
  }
  .event_list li .type-box {
    margin: 20px 0;
  }
  .event_list li span {
    text-align: center;
    display: block;
    float: left;
  }
  .event_list li .type-box span, .event_list li .add-btn {
    display: inline-block;
    background: #F5F5F5;
    border: 1px solid #2CAFFF;
    font-size: 14px;
    color: #2CAFFF;
    height: 36px;
    width: 130px;
    line-height: 36px;
    text-align: center;
  }
  .event_list li .type-box span.current {
    background: #2CAFFF;
    color: #FFFFFF;
  }
  .event_list li .type-box span:nth-child(1) {
    border-radius: 2px 0 0 2px;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .event_list li .person-box {
    margin: 10px 0;
    overflow: hidden;
  }

  .cs-box{
    padding: 20px 10px 10px 10px;
  }
  .event_list li .del-tip {
    font-size: 12px;
    color: #999999;
    padding-left: 15px;
    background: url(../../static/images/lcfzr_deltet@2x.png) no-repeat left center;
    background-size: 11px 11px;
    float: none;
  }
  .event_list li .add-btn {
    margin: 20px 0;
  }
  .event_list li.add_li_box {
    text-align: center;
    height: 46px;
    line-height: 44px;
    padding: 0;
    padding-left: 25px;
  }
  .event_list li.add_li_box .add_li_div {
    border: 1px dashed #C8C8C8;
  }
  .event_list li.add_li_box span {
    font-size: 15px;
    color: #2CAFFF;
    padding-left: 15px;
    display: inline-block;
    background: url(../../static/images/lc_tjhj@2x.png) no-repeat left center;
    background-size: 11px 11px;
    float: none;
  }
}