<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.univ.attachment.entity.Attachment">
	<sql id="selectPart">
		SELECT
		    attm.id,
		    attm.create_person_id as createPersonId,
		    attm.create_person_name as createPersonName,
		    attm.create_org_id as createOrgId,
		    attm.create_org_name as createOrgName,
		    attm.create_company_id as createCompanyId,
		    attm.create_company_name as createCompanyName,
		    attm.create_date as createDate,
		    attm.update_person_id as updatePersonId,
		    attm.update_person_name as updatePersonName,
		    attm.update_date as updateDate,
		    attm.delflag,
		    attm.concurrency_version as concurrencyVersion,
		    attm.app_id as appId,
		    attm.business_id as businessId,
		    attm.name,
		    attm.type,
		    attm.extend_name as extendName,
		    attm.full_name as fullName,
		    attm.url,
		    attm.path,
		    attm.file_size as fileSize,
		    attm.upload_time as uploadTime,
		    attm.category_id as categoryId,
		    ctgr.name as categoryName
		FROM
		    pt_univ_file_attachment attm
		LEFT JOIN pt_univ_file_category ctgr
		ON attm.category_id = ctgr.id
	</sql>
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.univ.attachment.entity.Attachment">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.univ.attachment.entity.Attachment">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.univ.attachment.entity.Attachment">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	
	<!-- 获取列表根据Map查询 -->
    <select id="queryListByCategoryIds" resultType="com.xinleju.platform.base.utils.AttachmentDto">
        <include refid="selectPart"></include>
		<where>
		    <if test="ids != null and ids.length > 0">
		          category_id in
			<foreach collection="ids" item="id"  open="(" separator="," close=")">     
		        #{id}      
		    </foreach>
		    </if>
		</where>
    </select>
    
    <!-- 获取分页列表根据Map查询 -->
    <select id="pageByCategoryIds" resultType="com.xinleju.platform.base.utils.AttachmentDto">
        <include refid="selectPart"></include>
		<where>
		    <if test="categoryId != null and categoryId.size > 0">
		          attm.category_id in
			<foreach collection="categoryId" item="id"  open="(" separator="," close=")">     
		        #{id}      
		    </foreach>
		    </if>
		</where>
		<if test="orderby != null and orderby != ''">
			${orderby}
		</if>
		limit #{start}, #{limit}
    </select>
    
    <!-- 获取Count根据Map查询 -->
    <select id="countByCategoryIds" resultType="java.lang.Integer">
        select count(id) from (
        <include refid="selectPart"></include>
		<where>
		    <if test="categoryId != null and categoryId.size > 0">
		          attm.category_id in
			<foreach collection="categoryId" item="id"  open="(" separator="," close=")">     
		        #{id}      
		    </foreach>
		    </if>
		</where>
		) count_aliase
    </select>
    
    <!-- 获取列表根据Map（appId, businessId(列表), categoryId）查询 -->
    <select id="queryListByObject" resultType="com.xinleju.platform.base.utils.AttachmentDto">
        <include refid="selectPart"></include>
		<where>
			<if test="appId != null">
				attm.app_id = #{appId}
			</if>
			<if test="businessId != null">
	          	and attm.business_id in
				<foreach collection="businessId" item="id"  open="(" separator="," close=")">     
			        #{id}      
			    </foreach>
			</if>
			<if test="categoryId != null">
			    and attm.category_id = #{categoryId}
			</if>
			order by CONVERT( attm.name USING gbk ) COLLATE gbk_chinese_ci ASC
		</where>
    </select>
	<!-- 获取列表根据Map（appId, businessId(列表), categoryId）查询 -->
	<select id="queryFlowList" resultType="com.xinleju.platform.univ.attachment.entity.Attachment">
		SELECT
		attm.id,
		attm.name,
		attm.type,
		attm.extend_name as extendName,
		attm.full_name as fullName,
		attm.url,
		attm.path,
		attm.file_size as fileSize,
		attm.upload_time as uploadTime,
		attm.category_id as categoryId,
		ctgr.name as categoryName
		FROM
		pt_univ_file_attachment attm
		LEFT JOIN pt_univ_file_category ctgr
		ON attm.category_id = ctgr.id
		<where>
			<if test="appId != null">
				attm.app_id = #{appId}
			</if>
			<if test="businessId != null">
				and attm.business_id = #{businessId}
			</if>
		</where>
	</select>
</mapper>