@charset "utf-8";      
.tcdPageCode{
	padding: 55px 0 0;
	text-align: left;
	color: #ccc;
	text-align:center;
	font-size: 14px;
}
.tcdPageCode span{
	display: inline-block;
	padding: 8px 12px;
	vertical-align: middle;
	border:1px solid #ddd;
	margin: 0 3px;
    border-radius: 4px;
}
.tcdPageCode a{
	color: #858585;
	font-size: 14px;
	display: inline-block;
	padding: 8px 12px;
	vertical-align: middle;
	border:1px solid #ddd;
	margin: 0 3px;
    border-radius: 4px;
}
.tcdPageCode span.current{
	display: inline-block;
	padding: 8px 12px;
	vertical-align: middle;
	cursor: default;
	/* background:#064877; */
	color:#064877;
	border:1px solid #064877;
	border-radius: 4px;
	margin: 0 3px;
}
.tcdPageCode span.disabled{	
	display: inline-block;
	padding: 8px 12px;		
	color: #b7b7b7;
	border:1px solid #f3f4f8;
	vertical-align: middle;
	cursor: default;
}
.tcdPageCode .prevCtrl,.tcdPageCode .nextCtrl {
	display: inline-block;
	padding: 8px 12px;
	border:1px solid #ddd;
	color: #858585;
	margin: 0 3px;
    border-radius: 4px;
}
