<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.univ.search.entity.SearchCategoryProperty">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.univ.search.entity.SearchCategoryProperty">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.univ.search.entity.SearchCategoryProperty">
		${value}
	</select>
	
	<!-- 获取列表根据Map查询 -->
	<select id="queryListByCategoryCode" resultType="com.xinleju.platform.univ.search.entity.SearchCategoryProperty">
		SELECT
			scp.CODE
		FROM
			pt_univ_search_category_property scp
		LEFT JOIN pt_univ_search_category sc0 ON scp.category_id = sc0.id
		WHERE
			sc0.CODE = #{categoryCode}
			<if test="tendId != null">
				and scp.tend_id = #{tendId}
			</if>
	</select>
	
	<!-- 获取列表根据Map查询 -->
	<select id="queryListByTendId" resultType="java.util.Map">
		SELECT
			scp.category,
			scp.category_id categoryId,
			sc0.CODE searchIndexCategoryCode,
			scp.tend_id tendId,
			scp.code,
			scp.name,
			scp.type,
			scp.default_value defaultValue,
			scp.is_display isDisplay,
			scp.is_search_item isSearchItem
		FROM
			pt_univ_search_category_property scp
		LEFT JOIN pt_univ_search_category sc0 ON scp.category_id = sc0.id
		<where>
			<if test="tendId != null">
				scp.tend_id = #{tendId}
			</if>
		</where>
			
	</select>
	
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.univ.search.entity.SearchCategoryProperty">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 删除根据categoryId -->
	<delete id="deleteByCategoryId">
		delete from PT_UNIV_SEARCH_CATEGORY_PROPERTY where category_id = #{categoryId}
	</delete>
	
	<!-- 删除根据categoryId -->
	<delete id="deleteByCategoryIds">
		delete from PT_UNIV_SEARCH_CATEGORY_PROPERTY where category_id in
			<foreach collection="ids" item="id"  open="(" separator="," close=")">     
		        #{id}      
		    </foreach>
	</delete>
	
	<update id="updateStatusToTrue" parameterType="java.util.Map">
		update pt_univ_search_category_property
		set status = true
		where category_id = #{categoryId}
	</update>
	
	
</mapper>