
<bean id="buildinginfoManager" class="com.ysys.www.service.BuildinginfoManager"/>
<bean id="buildinginfoDao" class="com.ysys.www.dao.BuildinginfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->

<bean id="tempinfoManager" class="com.ysys.www.service.TempinfoManager"/>
<bean id="tempinfoDao" class="com.ysys.www.dao.TempinfoDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="tabHysylManager" class="com.ysys.www.service.TabHysylManager"/>
<bean id="tabHysylDao" class="com.ysys.www.dao.TabHysylDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="tuserManager" class="com.ysys.www.service.TuserManager"/>
<bean id="tuserDao" class="com.ysys.www.dao.TuserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="turManager" class="com.ysys.www.service.TurManager"/>
<bean id="turDao" class="com.ysys.www.dao.TurDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="troleManager" class="com.ysys.www.service.TroleManager"/>
<bean id="troleDao" class="com.ysys.www.dao.TroleDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="tpersonManager" class="com.ysys.www.service.TpersonManager"/>
<bean id="tpersonDao" class="com.ysys.www.dao.TpersonDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="torganizationManager" class="com.ysys.www.service.TorganizationManager"/>
<bean id="torganizationDao" class="com.ysys.www.dao.TorganizationDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="tmoduleManager" class="com.ysys.www.service.TmoduleManager"/>
<bean id="tmoduleDao" class="com.ysys.www.dao.TmoduleDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="taclManager" class="com.ysys.www.service.TaclManager"/>
<bean id="taclDao" class="com.ysys.www.dao.TaclDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perUserPermitManager" class="com.ysys.www.service.PerUserPermitManager"/>
<bean id="perUserPermitDao" class="com.ysys.www.dao.PerUserPermitDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perUserManager" class="com.ysys.www.service.PerUserManager"/>
<bean id="perUserDao" class="com.ysys.www.dao.PerUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perRolePermitManager" class="com.ysys.www.service.PerRolePermitManager"/>
<bean id="perRolePermitDao" class="com.ysys.www.dao.PerRolePermitDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perProjectUserManager" class="com.ysys.www.service.PerProjectUserManager"/>
<bean id="perProjectUserDao" class="com.ysys.www.dao.PerProjectUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perProjectPermitManager" class="com.ysys.www.service.PerProjectPermitManager"/>
<bean id="perProjectPermitDao" class="com.ysys.www.dao.PerProjectPermitDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perProjectManager" class="com.ysys.www.service.PerProjectManager"/>
<bean id="perProjectDao" class="com.ysys.www.dao.PerProjectDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perPostionUserManager" class="com.ysys.www.service.PerPostionUserManager"/>
<bean id="perPostionUserDao" class="com.ysys.www.dao.PerPostionUserDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perPostionPermitManager" class="com.ysys.www.service.PerPostionPermitManager"/>
<bean id="perPostionPermitDao" class="com.ysys.www.dao.PerPostionPermitDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perPositionManager" class="com.ysys.www.service.PerPositionManager"/>
<bean id="perPositionDao" class="com.ysys.www.dao.PerPositionDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perPermitOldManager" class="com.ysys.www.service.PerPermitOldManager"/>
<bean id="perPermitOldDao" class="com.ysys.www.dao.PerPermitOldDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perPermitGroupOldManager" class="com.ysys.www.service.PerPermitGroupOldManager"/>
<bean id="perPermitGroupOldDao" class="com.ysys.www.dao.PerPermitGroupOldDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perPermitManager" class="com.ysys.www.service.PerPermitManager"/>
<bean id="perPermitDao" class="com.ysys.www.dao.PerPermitDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perModuleOldManager" class="com.ysys.www.service.PerModuleOldManager"/>
<bean id="perModuleOldDao" class="com.ysys.www.dao.PerModuleOldDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perModuleManager" class="com.ysys.www.service.PerModuleManager"/>
<bean id="perModuleDao" class="com.ysys.www.dao.PerModuleDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perDepartmentManager" class="com.ysys.www.service.PerDepartmentManager"/>
<bean id="perDepartmentDao" class="com.ysys.www.dao.PerDepartmentDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perCompanyManager" class="com.ysys.www.service.PerCompanyManager"/>
<bean id="perCompanyDao" class="com.ysys.www.dao.PerCompanyDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="perActionManager" class="com.ysys.www.service.PerActionManager"/>
<bean id="perActionDao" class="com.ysys.www.dao.PerActionDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="mdistrictManager" class="com.ysys.www.service.MdistrictManager"/>
<bean id="mdistrictDao" class="com.ysys.www.dao.MdistrictDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->


<bean id="mcityManager" class="com.ysys.www.service.McityManager"/>
<bean id="mcityDao" class="com.ysys.www.dao.McityDao"/>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->

