.gridset {
    border:1px solid #eee;
    border-top: 0;
}
.sel_infor {
    margin-bottom: 4px;
}
 @media (min-width: 768px){
    .form-inline .form-control {
        display: inline-block;
        width: 136px;
        vertical-align: middle;
  }
}
.list-icon {
   margin-right: 5px;
   background-position: -119px -10px;
   display: inline-block;
   width: 12px;
   height: 12px;
   vertical-align: middle;
}
.tit {
  color: #333;
}

.mytable .ui-widget-content{
  border:0;
}
.mytable .ui-jqgrid-bdiv{
  height: auto!important;
}
.mytable .ui-jqgrid-hdiv{
  background: #acd7ff;
}
.ui-jqgrid tr.ui-row-ltr td{
  border-color: #eaeaea;
}
.user-list{
  background: none;
}
 .form-group .sel-control{
          width: 136px;
}
.table-bordered>tbody>tr>td{width:auto}
.btnColor{background-color: #46A7FF; color:#fff}
.btnColor:focus,.btnColor:active,.btnColor:hover{color:#fff}
.needed{color:red}