.condition-con .table-bordered>tbody>tr>td {
    border: 1px dotted #E1E1E1;
    color: #333;
    font-size: 12px;
    width: 24%;
}


.time_1{
    float: left;
    width: 45%;
    position: relative;
}
.dao {
    float: left;
    margin: 0 5px;
    margin-top: 5px;
}
.user-list .querybtn:hover{
	background: #46A7FF!important;
	color: #fff;
}
/*.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    height: 30px;
    line-height: 30px;
}*/
.pr {
    width: 40%;
    position: relative;
    margin-right: 8px;
    float: left;
}
/*.ui-state-default, .ui-widget-content .ui-state-default{
	height:37px;
    background: #acd7ff;
    line-height: 37px;
    padding-top: 3px;
}*/
.flow .con-tit.setmbottom{
    padding-bottom: 12px;
}
.resetWidth {
	width:47%;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.setcss {
	display:inline-block;
	margin:5px;
}
.changeselct {
	display:inline-block;
	width:28%;
}

.flow .oporate-con .resetwidth{
	width:15%;
	position:relative;
}
.resetposition {
	position: absolute;
    top: 0px;
    right: 31px;
    z-index: 99;
    height: 28px;
    line-height: 28px;
    border-right: 0;
	
}