<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.flow.entity.SysNoticeMsgUserConfig">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.flow.entity.SysNoticeMsgUserConfig">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.flow.entity.SysNoticeMsgUserConfig">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.flow.entity.SysNoticeMsgUserConfig">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="queryMsgTempList" resultType="com.xinleju.platform.flow.entity.SysNoticeMsgUserConfig">
		select id as id,
		post_url as postUrl,
		login_name as loginName,
		delflag,
		tend_id as tendId,
		create_date as createDate,
		update_date as updateDate,
		create_person_id as createPersonId,
		create_person_name as createPersonName,
		update_person_id as updatePersonId,
		update_person_name as updatePersonName,
		create_org_id as createOrgId,
		create_org_name as createOrgName,
		create_company_id as createCompanyId,
		create_company_name as createCompanyName,
		concurrency_version as concurrencyVersion
		FROM
		pt_flow_sys_notice_msg_user_config t
		WHERE t.delflag = 0
	</select>
</mapper>