html,body {
    height: 100%;
}
body {
    background-color: #f5f5f5;
}
.xj-bbs-detail-title {
    position:relative;
}
.xj-bbs-detail-title h1 {
    padding: 0 10px;
    background: #006699;
    color: #fff;
    overflow: hidden;
    display: block;
    font-size: 24px;
    line-height: 36px;
}
.xj-bbs-detail-title-fixed {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    display: none;
}
.xj-bbs-detail-title-fixed h1 {
    padding: 0 10px;
    margin:0;
    background: #fff;
    color: #3F6F99;
    overflow: hidden;
    display: block;
    font-size: 24px;
    line-height: 36px;
    border: 1px solid rgb(25, 140, 197);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
#bbs-template {
    display: none;
}
.bbs-detail-module table {
    width: 100%;
    margin: 0 0 8px 0;
}
.bbs-detail-module table td{
    border: 1px solid #A9CBEE;
}
.bbs-detail-module table .user {
    width: 180px;
    background-color: #eff4fb;
}
.bbs-detail-module table .user-info {
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
}
.bbs-detail-module table .user-info dl {
    margin: 5px 0;
    text-align: left;
}
.bbs-detail-module table .data,
.bbs-detail-module table .control {
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
}
.bbs-detail-module table .data {
    border-bottom: 1px solid #A9CBEE;
}
.bbs-detail-module table .control {
    background: #eff4fb;
}
.bbs-detail-module table .control .tips {
    padding: 0 10px;
}
.bbs-detail-module table .post-body {
    font-size: 14px;
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px;
    min-height: 170px;
}

.xlj-tracking-statistics {
    position: fixed;
    bottom: 200px;
    right: 30px;
    width: 90px;
    padding: 0;
}
.xlj-tracking-statistics li {
    width: 100%;
    height: 28px;
    margin: 10px 0;
    cursor: pointer;
    background-image: url(../images/side_kits.png);
}
/*快速回复*/
.xlj-tracking-statistics li#com-quick-reply-bbs {
    background-position: 0 -33px;
}
.xlj-tracking-statistics li#com-quick-reply-bbs:hover {
    background-position: -100px -33px;
}
/*我要收藏*/
.xlj-tracking-statistics li#com-quick-collect-bbs {
    background-position: 0 -231px;
}
.xlj-tracking-statistics li#com-quick-collect-bbs:hover {
    background-position: -100px -231px;
}
/*回到频道*/
.xlj-tracking-statistics li#com-back-channel {
    background-position: 0 -66px;
}
.xlj-tracking-statistics li#com-back-channel:hover {
    background-position: -100px -66px;
}
/*回到首页*/
.xlj-tracking-statistics li#com-back-home {
    background-position: 0 -99px;
}
.xlj-tracking-statistics li#com-back-home:hover {
    background-position: -100px -99px;
}
/*返回顶部*/
.xlj-tracking-statistics li#com-d-top-a {
    background-position: 0 -165px;
    opacity: 0;
    transition-duration: 0.5s;
    transition-property: opacity;
}
.xlj-tracking-statistics li#com-d-top-a.show {
    opacity: 1;
}
.xlj-tracking-statistics li#com-d-top-a:hover {
    background-position: -100px -165px;
}



/*论坛首页*/