div.demolayout {
	margin: 0;
}

ul.demolayout {
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}

ul.demolayout li {
	margin: 0 10px 0 0;
	float: left;
	display: block;
	padding: 5px 25px;
	border: 1px solid #DFDFDF;
	border-bottom: 0;
	color: #666;
	background: #eee;
	text-decoration: none;
	font-weight: bold;
}

ul.demolayout a:hover {
	background: #fff;
}

ul.demolayout a.active {
	background: #fff;
	padding-bottom: 5px;
	cursor: default;
	color: #931A1D;
}
/* 人员列表样式 */
ul.demoUser {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.demoUser li {
	margin: 0 10px 0 0;
	display: block;
	padding: 5px 25px;
	border-bottom: 0;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

ul.demoUser a:hover {
	background: #fff;
	color: #931A1D;
}

ul.demoUser a.active {
	background: #fff;
	padding-bottom: 5px;
	cursor: default;
	color: #931A1D;
}