body{
    padding:0;
    margin:0;
    font-family: '微软雅黑';
    font-size:12px;
}

.upload {
    width: 95%;
    padding: 10px 20px;
    /* border: 1px solid #DDDDDD; */
    margin: 0 auto;
}

.up_title {
    height: auto;
    line-height: 30px;
}

.fileinput-button {
	vertical-align: bottom;
}
.up_info {
    color: #b1b1b1;
}

.up_total {
    width: 300px;
    height: 10px;
    display: inline-block;
    margin-bottom: 0px;
}

.hidden {
	visibility: hidden;
}
.up_files {
    margin-top: 10px;
}

.up_files ul {
    margin: 0;
    padding: 0;
}

.up_files ul li {
    list-style: none;
    float: left;
    width: 100%;
    min-width: 300px;
    height: 50px;
    background-color: #e2e2e3;
    margin: 0 10px 10px 0;
}
.up_files ul li .file-check {
	float: left;
    position: relative;
    top: 10px;
}
.up_files ul li img {
    float: left;
    margin: 5px 0 0 5px;
}

.up_files ul li .fileName {
    max-width: 100px;
    min-width:55%;
    float: left;
    margin: 4px 0 0 5px;
    overflow: hidden;
    text-align: left;
}

.up_files ul li .fileName p {
    line-height: 15px;
    margin: 0 0 3px 0;
}


.up_files ul li .fileName p {
    line-height: 15px;
    margin:0;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.up_files ul li .fileName p:last-child {
    color: #b1b1b1;
}
.attachment-operation-group{
    /*width: 24%;
    float: right;*/
}
.up_delete{
    float: right;
    padding-left: 5px;
}

.up_preview{
    float: right;
}

.up_status{
    float: left;
    color:#b1b1b1;
    line-height:12px;
    margin-right: 4px;
}
.up_status i{
    font-style:normal;
}
.up_ok{
    color:#2db005;
}
.up_progress{
    height: 7px;
    width: 40px;
    float: left;
    margin-top: 2px;
}
.up_size{
    float:left;
    color:#b1b1b1;
    line-height:12px;
}
.up_total{
    width: 300px;
    height: 10px;
    display: inline-block;
    margin-bottom: 0px;
}

.att-table {
    /*min-width: 300px;*/
    max-width: 500px;
    margin-bottom: 0;
    border-collapse: collapse;
}
.att-table tr {
    background-color: #eeeeee;
}
.att-table tr th a,.att-table tr td a {
    color: #428bca;
    outline-style: none;
    text-decoration: none;
    border: none;
    
}
.att-table tr th a {
    font-weight: 600;
}
.att-table, .att-table tr, .att-table tr th, .att-table tr td {
    border: 1px solid #ddd;
    background: white;
}
.att-table tr th, .att-table tr td {
    padding: 3px 8px 3px 8px;
}
.att-table tr td p {
    color: #428bca;
    margin: 0;
}


.att-table tr td:first-child,.att-table tr th:first-child {width: 40px; text-align: center;}

 

