.mb10{ margin-bottom:10px}

.user-list .my-btn-group>.btn, .user-list .my-btn-group .more>.btn, .tit-box .more>.btn, .my-btn-group .more>.btn{
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    font-size: 12px;
    color: #46A7FF;
}
.caret{
    color:#D6D6D6
}
.form-control{
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
    border: 1px solid #E6E6E6 !important;
    border-radius: 3px !important;
    height: 40px !important;
}
#uploadForm .form-control{height: 24px !important;}
.input-group-addon{
    width: 40px!important;
}
.addInputWidth.form-control{
    /*width: 120px!important;*/
}
.ui-jqgrid tr.jqgrow td{
    padding: 10px 2px;
    font-size: 14px;
}
.save-modal-data{margin-top: 6px;}
.ui-jqgrid tr.ui-row-ltr td{
    border: none;
    border-bottom: 1px solid #eaeaea;
}
.tableStyle .ui-jqgrid-hdiv,.ui-state-default, .ui-widget-content .ui-state-default {
    background: #F5F5F5;
}

.ui-jqgrid-labels{
    background-color: transparent !important;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    border-right: none
}
.ui-widget-content .ui-state-default{
    height:auto !important;
    padding-bottom: 10px;
    padding-top:10px;
}
.ui-jqgrid .ui-jqgrid-htable th div{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #333333;
    /*line-height: 14px;*/
    height:auto;
}
.ui-jqgrid-htable th div{

}
.btn-senior{
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
}
#monthDivHeader .user-list,#monthDiv .user-list{
    /*line-height: inherit !important;*/
    line-height: 45px;
    background: #E4F2FF;
    height: 50px;
    position: relative;
    border: none !important;
   /* border-top-left-radius: 8px;
    border-top-right-radius: 8px;*/
    margin-bottom:10px;
    overflow:hidden;
    padding:0;
    width:100%;
}
#monthDivHeader .user-list .expend-col,#monthDiv .user-list .expend-col{
    position:absolute;
    right:10px;
    top: 20px;
}
#monthDivHeader .user-list .my-btn-group,#monthDiv .user-list .my-btn-group {
    margin-right: 50px;
    float: right;
    margin-top:24px;
}
#monthDivHeader .user-list span .tit-big,#monthDiv .user-list span .tit-big{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #46A7FF;
    font-weight: normal;
}
#monthDivHeader .user-list span .tit-big .tit-big-title,
#monthDiv .user-list span .tit-big .tit-big-title{ font-size:20px;}
#monthDivHeader .user-list span .tit-big .tit-big-time,
#monthDiv .user-list span .tit-big .tit-big-time{ font-size: 11px;
    color: #9B9B9B;}
#monthDivHeader .user-list .l,
#monthDiv .user-list .l{ float:left; margin: 17px;}
#monthDivHeader .user-list .l .tit-big-time,
#monthDiv .user-list .l .tit-big-time{font-size: 11px;
    color: #9B9B9B;}

#monthDivHeader .user-list .my-btn-group .tit-big,
#monthDiv .user-list .my-btn-group .tit-big{
    float:left;
    font-size: 12px;
    color: #46A7FF;
    text-align: center;
    padding: 0 10px;
    order-right: 1px solid #46A7FF;
}
#monthDivHeader .user-list .my-btn-group .tit-big .tb_f,
#monthDiv .user-list .my-btn-group .tit-big .tb_f{
    font-size: 18px;
    color: #9B9B9B;
    font-weight:normal;
}
.title_month_bg{ padding:0; background: #F5F5F5;
    border: 1px solid #F5F5F5;
    border-radius: 3px;overflow:hidden;width:60%;}
.title_month_bg .addBlue{ float:left;    margin:13px 10px 0 10px;color:#ccc;}
.title_month_bg .show1{ float:left;width:80%;}
.xj-form-tab{ border:none;}
.title_month_bg .show1 .form-control{ border:none;background:#F5F5F5}
#stationList{ overflow:visible!important;}
#stationList .ms-parent,#stationList .ms-parent .ms-choice{ height:40px;}
.ms-choice{height:40px!important;line-height:40px!important}
#stationList .ms-parent .ms-choice{ line-height:40px}
.ms-choice > div{height:25px;}
select[multiple] {
    vertical-align: middle;
    height: 40px;
    padding: 0 4px;
    line-height:40px;
}
#monthDivHeader .con-table{ margin-bottom:10px;}
.user-list-new{
    background: #C4E3FF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    margin-bottom:10px;
}
.user-list-new-left{
    float: left;}
.user-list-new .user-list-new-left{ margin:10px 0 0 10px}
.user-list-new .btn-search{width:38px; height:38px;vertical-align: middle}
.user-list-new .my-btn-group{ float:right;    margin: 15px 10px 0 0;}
.user-list-new label,.user-list-new .form-inline .input-group,.user-list-new button{vertical-align: middle}


.my-btn-group>.btn, .my-btn-group>.btn-group .btn,.btns-group .btn{ background:#fff;    border-radius: 3px;}
.btn-sm {
    height: 32px;
}
.list-subject-view{
    border-radius: 5px;
    line-height: 25px;
    background: #EEF7FF;
    border: 1px solid #D6D6D6;
    margin-bottom: 10px;
}
.new-bd{
    background: #C4E3FF;
    height:60px;
    position:relative;
}
.new-bd .btn{
    position:absolute;
    right:10px;
    top:15px;
    font-size: 14px;
    color: #46A7FF;
    background: transparent;
    border:none;
}
.new-bd .btn:hover{
    background:#fff!important;
}
.title-new-top{
    line-height:60px;
    font-size: 16px;
    color: #319DFF;
}
/*月报*/
.color-dec-bd{ padding:0 20px;border-radius: 3px; margin-right:5px; display:inline-block; line-height:30px;text-indent:0}
.color-dec-bd-c1{ background: #FDE9E9;  color: #F24848;}
.color-dec-bd-c2{ background: #FEF3E1;  color: #F5A623;}
.color-dec-bd-c3{ background: #F5EFFF;  color: #B989FF;}
.color-dec-bd-c4{ background: #F6EBE1;  color: #B55B0C;}
.color-dec-bd-c5{ background: #E1F8EF;  color: #06CB7E;}
.color-dec-bd-c6{ background: #118EE5;  color: #fff;}
#rightContentOne{background: #C4E3FF;}
.tableSearchBox{background:transparent}
#rightContentOne .btn {background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 3px;font-size: 13px;
    color: #46A7FF;box-shadow:none;}
.tableSearchBox-nw{padding-top:10px; padding-bottom:10px; padding-left:16px; padding-right:10px;}
.ui-corner-all, .ui-corner-top{background-color: #F5F5F5}
.xj-main-dimsearch-new{     margin-bottom: 20px;
    background-color: #F5F5F5;padding:10px}
.req_f{
    margin-right: 5px;
    vertical-align: baseline;
    color: red!important;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #F66363;
    border-radius: 50%;
}
.xj-form-tab-blue{background: #EEF7FF;}
.ui-widget-content {border: 0px solid #eee;}
.input-group-addon{background-color:#FFF !important;}