.col3width{width:22%; padding:0}
.col9width{width:77%; padding:0;float:right}
.l_title{/*height:50px;*/ line-height:40px; border-bottom:1px solid #E1E1E1}
.l_title_font{font-weight:bold; margin-right:10px}
.l_title_font img{margin: 0 1px 1px 10px;}
.l_input{display: inline;width: 41%;}
.l_search{width: 28px;background-color: #46A7FF;text-align: center;color: #fff;border-radius: 4px;margin:0 0 3px 3px}
.r_title{background-color: #F6F6F6;border:1px solid #E1E1E1;height:50px;line-height:50px}
.role{float:left;width:50%;height:50px; line-height:50px;}
.role .btn{margin-bottom:6px}
.r_title_font{font-weight:bold;}
.r_title_font img{margin:0 0 2px 10px;}
input[type=checkbox].r_check{margin-left:20px;    margin-top: -2px;
    vertical-align: middle;
    margin-right: 5px;}
.check_group{border:1px solid #E1E1E1; border-right:none; border-top:none}
.check_l{float:left;width:50%;height:96px;border-right:1px solid #E1E1E1;}
.check_l ul{margin:0; padding:0; list-style:none}
.check_l ul li{float:left; width:48%; height:30px;line-height:36px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.check_l ul li input{float:left;margin: 12px 6px 0 11px;display: inline-block;}
.check_l ul li span{float:left; width:80%;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.level{float:left;margin-left:20px;display:inline-block}
.level a{display:inline-block; width:16px; height:16px; color:#46A7FF;}
.level a:hover{font-weight:bold}
.nav-tabs{border-bottom:1px solid #ECECEC;background-color: #F6F6F6;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{color:#333333;background-color:transparent;border:none;border-bottom:2px solid #46A7FF; font-weight:bold}
.nav>li>a:hover{background-color: transparent;     border: 1px solid transparent;}
.nav-tabs>li>a{border-radius: 0; color:#666666}
.tabContent{padding:20px}
.tabA{padding-left:20px; background: url("../../common/img/open.png") 0 3px no-repeat}
.tabA.open{background: url("../../common/img/close.png") 0 3px no-repeat}
.level1{display:block;margin-bottom:13px}
.levell{display:block;margin: 0 22px 12px 14px;}
.checkList li{float:left;width: 170px;padding-left: 20px;margin: 0px 26px 14px 0; cursor: pointer}
.checkList li.checked{background: url("../../common/img/ok.png") 1px 3px no-repeat}
.checkList li.uncheck{background: url("../../common/img/no.png") 1px 3px no-repeat}
.tab-content{overflow-y:auto}
.r_title_font{float:left}
.saveBtns{float:right; width:180px;height:50px;}
.tabItem{margin-left:0; margin-right:0}
.ui-state-default, .ui-widget-content .ui-state-default{height: 40px;color: #333;padding-top: 10px;}
.tab-content>.tab-pane{
    padding: 10px 0 0 20px;
}
.level0{
    margin-top: 10px;
    display: block;
}
.level2{display:block;margin-bottom:13px}
.level2{display:block;margin: 0 22px 12px 44px;}
.level3{display:block;margin-bottom:13px}
.level3{display:block;margin: 0 22px 12px 74px;}
.level4{display:block;margin-bottom:13px}
.level4{display:block;margin: 0 22px 12px 104px;}
.checkList1{margin-left: 30px;}
.checkList2{margin-left: 60px;}
.checkList3{margin-left: 90px;}
.checkList0{padding-left: 25px;}