.h2 {
	color: #1e9300;
	font-size: 16px;
	padding: 30px 0 0 0;
	font-weight: bold;
	clear: left;
}

.h3 {
	color: #0033cc;
	font-size: 14px;
	margin-bottom: 8px;
	margin-top: 18px;
	font-weight: bold;
	clear: left;
}

.h4 {
	font-size: 13px;
	font-weight: bold;
	line-height: 24px;
	margin-top: 4px;
	clear: both;
}

.code {
	margin-bottom: 10px;
	margin-top: 4px;
	float: left;
	clear: both;
}

.mbg {
	border-collapse: collapse;
	width: 880px;
	margin: 0 auto;
}

.mbg_lt, .mbg_rt, .mbg_t, .mbg_b, .mbg_lb, .mbg_rb {
	height: 45px !important;
}

.mbg_lt {
	width: 45px;
	background: url(../images/manual/lt-ie6.png) no-repeat;
}

.mbg_t {
	background: url(../images/manual/t-ie6.png) repeat-x;
}

.mbg_rt {
	width: 45px !important;
	background: url(../images/manual/rt-ie6.png) no-repeat;
}

.mbg_r {
	background: url(../images/manual/r-ie6.png) repeat-y;
}

.mbg_l {
	background: url(../images/manual/l-ie6.png) repeat-y;
}

.mbg_rb {
	width: 45px;
	background: url(../images/manual/rb-ie6.png) no-repeat;
}

.mbg_b {
	background: url(../images/manual/b-ie6.png) repeat-x;
}

.mbg_lb {
	width: 45px;
	background: url(../images/manual/lb-ie6.png) no-repeat;
}

.mbg_c {
	background-color: white;
}

.listBack {
	margin: 8px;
	padding: 3px 5px;
	background: white;
	border: #111;
}

a {
	text-decoration: none !important;
	color: #555;
}

ul {
	margin-left: 20px;
	clear: both;
}

p {
	line-height: 20px;
	margin: 6px 0px;
}
