<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.base.mapper.BaseCorporationAccontDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.sys.base.entity.BaseCorporationAccont">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.sys.base.entity.BaseCorporationAccont">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.sys.base.entity.BaseCorporationAccont">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
		   <!-- 根据公司法人id查询账号及省市-->                   
		<select id="queryListByCorporationId" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT 
		t.id   as id,
		t.bank_name as bankName,
		t.bank_code as bankCode,
		t.province_id as provinceId,
		t.city_id as cityId,
		t.corporation_id	as corporationId,
		t.address as address,
		t.is_default as isDefault,
		t.remark as remark,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag as delflag,
		 r.name as provinceName,
	    rt.name as cityName
		 from  pt_sys_base_corporation_accont t 
		 LEFT JOIN pt_sys_base_region r ON r.id=t.province_id
	    LEFT JOIN pt_sys_base_region rt ON rt.id=t.city_id 
		  where t.delflag=0 and t.corporation_id = #{_parameter,jdbcType=VARCHAR};
	</select>
			   <!-- 根据公司法人id查询法人账号-->                   
		<select id="getBaseCorporationAccontListByCorporationId" resultType="com.jzy.hio.sys.sys.base.entity.BaseCorporationAccont" parameterType="java.lang.String">
		SELECT 
		t.id   as id,
		t.bank_name as bankName,
		t.bank_code as bankCode,
		t.province_id as provinceId,
		t.city_id as cityId,
		t.corporation_id	as corporationId,
		t.address as address,
		t.is_default as isDefault,
		t.remark as remark,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag as delflag
		 from  pt_sys_base_corporation_accont t 
		  where t.delflag=0 and corporation_id = #{_parameter,jdbcType=VARCHAR};
	</select>
	   <update id="deletePseudoAllObjectByIds">
		${value}
	</update>
</mapper>