<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.base.mapper.BaseRegionDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.sys.base.entity.BaseRegion">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.sys.base.entity.BaseRegion">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.sys.base.entity.BaseRegion">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!-- 根据parentCode 查询省级市-->
		<select id="queryBaseRegionList" resultType="com.jzy.hio.sys.sys.base.entity.BaseRegion">
		SELECT
	r.id,
	r.code,
	r.name,
	r.parent_name as parentName,
	r.concurrency_version as concurrencyVersion,
	r.create_company_id as createCompanyId,
	r.create_company_name as createCompanyName,
	r.create_date as createDate,
	r.create_org_id as createOrgId,
	r.create_org_name as createOrgName,
	r.create_person_id as createPersonId,
	r.create_person_name as createPersonName,
	r.delflag,
	r.parent_id as parentId,
	r.prefix_id as prefixId,
	r.sort,
	r.tend_id as tendId,
	r.update_date as updateDate,
	r.update_person_id as updatePersonId,
	r.update_person_name as updatePersonName
FROM
	pt_sys_base_region r  where r.delflag=0  order by r.sort
	</select>
	<select id="getBaseRegionParentIdList" resultType="java.lang.String">
SELECT DISTINCT
	(
		CASE
		WHEN t.parent_id is null THEN
			concat('null_', t.id)
		ELSE
			t.parent_id
		END
	) AS parentId
FROM (SELECT g.id ,g.parent_id from pt_sys_base_region g where g.delflag=0) as t

	</select>
	
	<select id="getRepeatNameCount"  resultType="java.lang.Integer">
	 select count(t.id) from pt_sys_base_region t where t.delflag=0  and t.name=#{name}
	</select>
	<select id="getRepeatCodeCount"  resultType="java.lang.Integer">
	 select count(t.id) from pt_sys_base_region t where t.delflag=0  and t.name=#{code}
	</select>
	<select id="queryListIdsByPrefixId"  resultType="java.lang.String">
	 select t.id from pt_sys_base_region t where t.delflag=0  and t.prefix_id  like CONCAT(CONCAT('%',#{prefixId}),'%')
	</select>
		<select id="getBaseRegionListByParentId" resultType="com.jzy.hio.sys.sys.base.entity.BaseRegion">
		SELECT		
	r.id,
	r.code,
	r.name,
	r.concurrency_version as concurrencyVersion,
	r.create_company_id as createCompanyId,
	r.create_company_name as createCompanyName,
	r.create_date as createDate,
	r.create_org_id as createOrgId,
	r.create_org_name as createOrgName,
	r.create_person_id as createPersonId,
	r.create_person_name as createPersonName,
	r.delflag,
	r.parent_id as parentId,
	r.prefix_id as prefixId,
	r.sort,
	r.parent_name as parentName,
	r.tend_id as tendId,
	r.update_date as updateDate,
	r.update_person_id as updatePersonId,
	r.update_person_name as updatePersonName
FROM
	pt_sys_base_region r  where r.delflag=0  and r.parent_id=#{parentId} order by r.sort 
	</select>
	    <update id="deletePseudoAllObjectByIds">
		${value}
	</update>
</mapper>