<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.base.mapper.BaseSupplierDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>

	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.sys.base.entity.BaseSupplier">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.sys.base.entity.BaseSupplier">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.sys.base.entity.BaseSupplier">
	${value}
	</select>
	<select id="getSingleObject" resultType="com.jzy.hio.sys.sys.base.dto.BaseSupplierDto">
	 SELECT 
		t.id   as id,
    t.name  as name,
    t.code  as code,
    t.province_id as provinceId,
		t.city_id  as cityId,
 		t.address as address,
		t.relation_person as  relationPerson,
    t.phone  as phone, 
    t.finance_code as financeCode,
    t.message_info as messageInfo,
    t.message_type as messageType,
    t.license as license,
    t.representative as representative,
    t.registration_date  as  registrationDate,
		t.company_address as companyAddress,
    t.remark as remark,
    t.disabled_id as disabledId,
    t.disabled_date as disabledDate,
		t.work_phone as workPhone,
    t.supplier_resoure as supplierResoure,
    t.supplier_app as supplierApp,
    t.status as status,
	<!-- 	t.company_id as companyId, -->
		t.remark as remark,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,      
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag as delflag
<!-- 	    (select  GROUP_CONCAT(c.name) from  pt_sys_org_orgnazation c where FIND_IN_SET(c.id,t.company_id)) as companyName -->
		 from  pt_sys_base_supplier t  where id=#{id}
	</select>
	
	
	<!-- 过滤分页查询 -->
	<select id="getSupplierData" parameterType="java.util.Map" resultType="java.util.Map">
		<!--	SELECT
		t.id   as id,
    t.name  as name,
    t.code  as code,
	t.relation_person as  relationPerson,
    t.phone  as phone, 
    t.representative as representative,
    t.finance_code as financeCode,
    t.message_info as messageInfo,
    t.status as status,
    un.companyName,
	    r.name as provinceName,
	    rt.name as cityName
		 from  pt_sys_base_supplier t   
      LEFT JOIN pt_sys_base_region r ON r.id=t.province_id
	    LEFT JOIN pt_sys_base_region rt ON rt.id=t.city_id 
	    LEFT JOIN (select r.id,group_concat(o.name) companyName,group_concat(o.id) companyId from pt_sys_org_orgnazation o ,pt_sys_base_supplier_company c, pt_sys_base_supplier r 
      where o.id=c.company_id and c.supper_id=r.id  and o.type='company' group by r.id   limit #{start},#{limit}  )  un on un.id=t.id
	    where t.delflag=0 
		  <if test="name!=null and name!='' ">     
          and  t.name like   CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="companyname!=null and companyname!='' ">     
          and  un.company_id  like CONCAT(CONCAT('%',#{companyname}),'%')
        </if>
        <if test="provicename!=null and provicename!='' ">     
          and  t.province_id =#{provicename}
        </if>
        order by t.create_date desc
        
        limit #{start},#{limit}-->


		SELECT
		t.id AS id,
		t. `NAME` AS `name`,
		t. `CODE` AS `code`,
		t.relation_person AS relationPerson,
		t.phone AS phone,
		t.representative AS representative,
		t.finance_code AS financeCode,
		t.message_info AS messageInfo,
		t. `STATUS` AS `status`,
		t.company_id as companyId,
		r. NAME AS provinceName,
		rt. NAME AS cityName
		FROM
		pt_sys_base_supplier t
		LEFT JOIN pt_sys_base_region r ON r.id = t.province_id
		LEFT JOIN pt_sys_base_region rt ON rt.id = t.city_id
		LEFT JOIN pt_sys_base_supplier_company c on c.supper_id = r.id
		WHERE
		t.delflag = 0
		<if test="name!=null and name!='' ">
			and  t.name like   CONCAT(CONCAT('%',#{name}),'%')
		</if>
		<if test="companyname!=null and companyname!='' ">
			and  t.company_id  like CONCAT(CONCAT('%',#{companyname}),'%')
		</if>
		<if test="provicename!=null and provicename!='' ">
			and  t.province_id =#{provicename}
		</if>
		ORDER BY
		t.create_date DESC
		limit #{start},#{limit}
	</select>
<!-- 	 过滤查询条数 -->
	<select id="getSupplierDataCount" resultType="java.lang.Integer">
				<!--	SELECT  count(t.id) from  pt_sys_base_supplier t
      LEFT JOIN pt_sys_base_region r ON r.id=t.province_id
	    LEFT JOIN pt_sys_base_region rt ON rt.id=t.city_id 
	    LEFT JOIN (select r.id,group_concat(o.name) companyName,group_concat(o.id) companyId from pt_sys_org_orgnazation o ,pt_sys_base_supplier_company c, pt_sys_base_supplier r 
      where o.id=c.company_id and c.supper_id=r.id and o.type='company' group by r.id)  un on un.id=t.id
	    where t.delflag=0 
		  <if test="name!=null and name!='' ">     
          and  t.name like  CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="companyname!=null and companyname!='' ">     
          and  co.company_id  like CONCAT(CONCAT('%',#{companyname}),'%')
        </if>
        <if test="provicename!=null and provicename!='' ">     
          and  t.province_id =#{provicename}
        </if>-->

		SELECT
		count(t.id)
		FROM
		pt_sys_base_supplier t
		LEFT JOIN pt_sys_base_region r ON r.id = t.province_id
		LEFT JOIN pt_sys_base_region rt ON rt.id = t.city_id
		LEFT JOIN pt_sys_base_supplier_company c on c.supper_id = r.id
		WHERE
		t.delflag = 0
		<if test="name!=null and name!='' ">
			and  t.name like   CONCAT(CONCAT('%',#{name}),'%')
		</if>
		<if test="companyname!=null and companyname!='' ">
			and  t.company_id  like CONCAT(CONCAT('%',#{companyname}),'%')
		</if>
		<if test="provicename!=null and provicename!='' ">
			and  t.province_id =#{provicename}
		</if>
	</select>
	
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	    <update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 获取公司下级用户 -->
	<select id="getSupplierByCompanyId" parameterType="map" resultType="map">
		SELECT DISTINCT t.id, t. NAME, t. CODE FROM pt_sys_base_supplier t, pt_sys_org_orgnazation o WHERE o.id in( t.company_id) and t.company_id = #{companyId}
	</select>

	<select id="selectBeanByOption" parameterType="java.util.Map" resultType="com.jzy.hio.sys.sys.base.entity.BaseSupplier">
        SELECT 	t.id   as id,
		t.name  as name,
		t.code  as code,
		t.province_id as provinceId,
		t.city_id  as cityId,
		t.address as address,
		t.relation_person as  relationPerson,
		t.phone  as phone,
		t.finance_code as financeCode,
		t.message_info as messageInfo,
		t.message_type as messageType,
		t.license as license,
		t.representative as representative,
		t.registration_date  as  registrationDate,
		t.company_address as companyAddress,
		t.remark as remark,
		t.disabled_id as disabledId,
		t.disabled_date as disabledDate,
		t.work_phone as workPhone,
		t.supplier_resoure as supplierResoure,
		t.supplier_app as supplierApp,
		t.status as status,
		t.remark as remark,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag as delflag FROM
        pt_sys_base_supplier t
        WHERE t.delflag = 0
         and t.id != #{id}
        <if test="code!=null and code !=''">
			and code = #{code}
		</if>
		<if test="name!=null and name !=''">
			and name = #{name}
		</if>
	</select>
</mapper>