<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.base.mapper.CustomFormGroupDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.sys.base.entity.CustomFormGroup">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.sys.base.entity.CustomFormGroup">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.sys.base.entity.CustomFormGroup">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!-- 查询最大序号 -->
	<select id="queryMaxSort" resultType="java.lang.Integer">
		SELECT max(s.sort) FROM pt_sys_base_custom_form_group s
	</select>
	<!-- 查询自定义分类（排序） -->
	<select id="queryCustomGroupSort" resultType="com.jzy.hio.sys.sys.base.dto.CustomFormNodeDto">
		select s.id,s.name,s.parent_id as pId from pt_sys_base_custom_form_group s where s.delflag='0'
		<if test="parentId != null and parentId!=''">  
            and  s.parent_id = #{parentId,jdbcType=VARCHAR}  
        </if>
		 ORDER BY s.sort
	</select>
	
	<!-- 查询该分类下是否有表单-->
	<select id="getCustomFormCountByGroupId" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from pt_sys_base_custom_form s where s.parent_id=#{id} and s.delflag='0'
	</select>
	
	<!-- 快速入口查询接口 -->
	<select id="queryListForQuickEntry" resultType="com.jzy.hio.sys.sys.base.entity.CustomFormGroup" parameterType="java.util.HashMap">
		select 
			s.id as id,
			s.code,
			s.name,
			s.parent_id as parentId,
			s.resource_id as resourceId,
			s.sort 
			from pt_sys_base_custom_form_group  s  where s.delflag='0'
			<if test="parentId != null and parentId!=''">  
	            and  s.parent_id = #{parentId,jdbcType=VARCHAR}  
	        </if>
			order by s.sort
	</select>
	
	<!-- 校验编码是否重复 -->
	<select id="validateIsExistCode" resultType="java.lang.Integer" parameterType="com.jzy.hio.sys.sys.base.mapper.CustomFormGroupDao">
		SELECT count(1) FROM pt_sys_base_custom_form_group s
		where s.delflag='0'
        <if test="code != null and code!=''">  
            and  s.code = #{code,jdbcType=VARCHAR}  
        </if>  
        <if test="id != null and id!=''">  
            and  s.id != #{id,jdbcType=VARCHAR}  
        </if>
	</select>
	
	<!-- 校验名称是否重复 -->
	<select id="validateIsExistName" resultType="java.lang.Integer" parameterType="com.jzy.hio.sys.sys.base.mapper.CustomFormGroupDao">
		SELECT count(1) FROM pt_sys_base_custom_form_group s 
		where s.delflag='0'  
        <if test="name != null and name!=''">  
            and  s.name = #{name,jdbcType=VARCHAR}  
        </if>  
        <if test="id != null and id!=''">  
            and  s.id != #{id,jdbcType=VARCHAR}  
        </if>
        <if test="parentId != null and parentId!=''">  
            and  s.parent_id = #{parentId,jdbcType=VARCHAR}  
        </if>
	</select>
	
	<!-- 查询一级表单分类下是否存在二级分类 -->
	<select id="getCustomFormGroupCountByPID" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT count(1) FROM pt_sys_base_custom_form_group s 
		where s.delflag='0'  and s.parent_id=#{id,jdbcType=VARCHAR}  
	</select>
	
	<!-- 上移下移 -->
	<update id="updateSort" parameterType="com.jzy.hio.sys.sys.base.mapper.CustomFormGroupDao">
		update pt_sys_base_custom_form_group set sort = #{sort} where id = #{id}
	</update>
</mapper>