<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.base.mapper.CustomArchivesItemDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.sys.base.entity.CustomArchivesItem">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.sys.base.entity.CustomArchivesItem">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.sys.base.entity.CustomArchivesItem">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 获取业务对象树 -->
	<select id="getTree" resultType="com.jzy.hio.sys.sys.base.dto.CustomArchivesItemDto" parameterType="java.util.HashMap">
		SELECT s.id, s.name ,s.code,s.parent_id as pId,s.status FROM pt_sys_base_custom_archives_item s 
		where s.delflag='0' and s.main_id=#{mainId}
		<if test="excludeIds != null ">
			and s.id not in 
			<foreach item="item" index="index" collection="excludeIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		<if test="status != null and status!=''">  
            and  s.status = #{status,jdbcType=VARCHAR}  
        </if>  
		
		 order by sort
	</select>
	
	<!-- 查询是否是新树 -->
	<select id="getItemCount" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT count(1) FROM pt_sys_base_custom_archives_item s where s.main_id=#{mainId} 
	</select>
	
	<!-- 查询最大序号 -->
	<select id="getMaxSortByMainId" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT max(s.sort) FROM pt_sys_base_custom_archives_item s where s.main_id=#{mainId} 
	</select>
	
	
	<select id="queryListSort" resultType="com.jzy.hio.sys.sys.base.entity.CustomArchivesItem" parameterType="java.util.HashMap">
		select 
			s.id as id,
			s.create_person_id as createPersonId,
			s.create_person_name as createPersonName,
			s.create_org_id as createOrgId,
			s.create_org_name as createOrgName,
			s.create_company_id as createCompanyId,
			s.create_company_name as createCompanyName,
			s.create_date as createDate,
			s.update_person_id as createPersonId,
			s.update_person_name as updatePersonName,
			s.update_date as  updateDate,
			s.delflag as delflag,
			s.concurrency_version as concurrencyVersion,
			s.code,
			s.name,
			s.parent_id as parentId,
			s.main_id as mainId,
			s.sort,
			s.description,
			s.status 
			from pt_sys_base_custom_archives_item s 
			where s.delflag='0' and s.main_id=#{mainId}
			order by s.sort
	</select>
	
	<!-- 校验编码是否重复 -->
	<select id="validateIsExistCode" resultType="java.lang.Integer" parameterType="com.jzy.hio.sys.sys.base.mapper.CustomArchivesItemDao">
		SELECT count(1) FROM pt_sys_base_custom_archives_item s
		where s.delflag='0'  and main_id=#{mainId,jdbcType=VARCHAR}
        <if test="code != null and code!=''">  
            and  s.code = #{code,jdbcType=VARCHAR}  
        </if>  
        <if test="id != null and id!=''">  
            and  s.id != #{id,jdbcType=VARCHAR}  
        </if>
	</select>
	
	<!-- 校验名称是否重复 -->
	<select id="validateIsExistName" resultType="java.lang.Integer" parameterType="com.jzy.hio.sys.sys.base.mapper.CustomArchivesItemDao">
		SELECT count(1) FROM pt_sys_base_custom_archives_item s 
		where s.delflag='0'  and main_id=#{mainId,jdbcType=VARCHAR}  
        <if test="name != null and name!=''">  
            and  s.name = #{name,jdbcType=VARCHAR}  
        </if>  
        <if test="id != null and id!=''">  
            and  s.id != #{id,jdbcType=VARCHAR}  
        </if>
	</select>
	
	<!-- 获取分页根据Map查询 -->
	<select id="getPageSort" resultType="com.jzy.hio.sys.sys.base.entity.CustomArchivesItem" parameterType="java.util.HashMap">
		select 
			s.id as id,
			s.create_person_id as createPersonId,
			s.create_person_name as createPersonName,
			s.create_org_id as createOrgId,
			s.create_org_name as createOrgName,
			s.create_company_id as createCompanyId,
			s.create_company_name as createCompanyName,
			s.create_date as createDate,
			s.update_person_id as createPersonId,
			s.update_person_name as updatePersonName,
			s.update_date as  updateDate,
			s.delflag as delflag,
			s.concurrency_version as concurrencyVersion,
			s.tend_id as tendId,
			s.code,
			s.name,
			s.parent_id as parentId,
			s.main_id as mainId,
			s.sort,
			s.description,
			s.status 
			from pt_sys_base_custom_archives_item  s where s.delflag='0' 
			<if test="parentId!=null and parentId!='' ">     
	          and  ( s.parent_id =#{parentId} or s.id=#{parentId} ) 
	        </if>
	        <if test="mainId!=null and mainId!='' ">     
	          and  s.main_id =#{mainId}
	        </if>
			order by s.sort 
			limit #{start},#{limit}
	</select>
	
	<!-- 获取总记录数 -->
	<select id="getPageSortCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select 
			count(1) 
			from pt_sys_base_custom_archives_item  s where s.delflag='0' 
			<if test="parentId!=null and parentId!='' ">     
	          and ( s.parent_id =#{parentId} or s.id=#{parentId} ) 
	        </if>
	        <if test="mainId!=null and mainId!='' ">     
	          and  s.main_id =#{mainId}
	        </if>
	</select>
	
	<!-- 伪删除档案子表 -->
	<update id="updateCustomArchives" parameterType="java.lang.String">
		update pt_sys_base_custom_archives_item set delflag = '1' where main_id = #{id}
	</update>
</mapper>