<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.entity.InstanceOperateLog">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.InstanceOperateLog">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.InstanceOperateLog">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.InstanceOperateLog">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 根据参数进行一般性的删除,即将待办置为已办,将待阅置为已阅 -->
	<update id="deleteDataByParamMap" parameterType="java.util.HashMap">
		UPDATE pt_flow_instance_operate_log SET delflag = 1, delete_time=now() ,operate_content=#{operateContent}
		WHERE instance_id = #{instanceId} AND operate_type = #{operateType} 
		AND operator_ids LIKE concat('%',#{operatorIds},'%') 
		<if test="acId != null and acId != '-1' and acId != ''">
			AND ac_id = #{acId} 
		</if>
<!-- 		<if test="groupId != null and groupId != '-1' and groupId != ''">
			AND group_id = #{groupId} 
		</if> -->
		<if test="taskId != null and taskId != '-1' and taskId != '' ">
			AND task_id = #{taskId} 
		</if>
		<if test="id != null and id != '-1' and id != ''">
			AND id = #{id} 
		</if>
		
	</update>
	
	
	<select id="queryLogListByParamMap" resultType="com.jzy.hio.flow.entity.InstanceOperateLog">
	    SELECT instance_id instanceId, ac_id acId, group_id groupId, task_id taskId,
	    operator_ids operatorIds, operate_content operateContent,
	    company_id companyId,dept_id deptId, project_id projectId, branch_id branchId 
	    FROM pt_flow_instance_operate_log 
	    WHERE instance_id = #{instanceId} AND operate_type = #{operateType} 
		AND operator_ids LIKE concat('%',#{operatorIds},'%') 
		<if test="acId != null and acId != '-1' and acId != ''">
			AND ac_id = #{acId} 
		</if>
<!-- 		<if test="groupId != null and groupId != '-1' and groupId != ''">
			AND group_id = #{groupId} 
		</if> -->
		<if test="taskId != null and taskId != '-1' and taskId != '' ">
			AND task_id = #{taskId} 
		</if>
	</select>
	
	<update id="deleteOperateLogBySpecialAction" parameterType="java.util.HashMap">
		UPDATE pt_flow_instance_operate_log  
		SET remark = CONCAT(remark, ' deleteBySpecialAction old operateType=', operate_type), 
		operate_type ='DELETE_DATA', delflag = 1, delete_time = now() 
		WHERE instance_id = #{instanceId} 
		AND operate_type != 'MY_START' AND operate_type != 'DRAW_BACK_INSTANCE' 
		<if test="acId != null and acId != '-1' and acId != ''">
			AND ac_id = #{acId} 
		</if>
		<if test="groupId != null and groupId != '-1' and groupId != ''">
			AND group_id = #{groupId} 
		</if>
		<if test="taskId != null and taskId != '-1' and taskId != '' ">
			AND task_id = #{taskId} 
		</if>
		<if test="operatorIds != null and operatorIds != '-1' and operatorIds != '' ">
			AND operator_ids LIKE concat('%',#{operatorIds},'%')
		</if>
		 
	</update>
	
	<select id="queryRelatedInstanceListByKeyword"  parameterType="java.util.HashMap" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceDto">
		SELECT
			t.id,
			t. CODE,
			t. NAME,
			t.start_user_name startUserName,
			t.start_date startDate,
			fl. CODE flCode,
			t.business_id businessId,
			CASE t. STATUS
		WHEN '1' THEN
			'运行中'
		WHEN '2' THEN
			'正常完成'
		WHEN '3' THEN
			'撤回'
		WHEN '4' THEN
			'打回'
		WHEN '7' THEN
			'作废'
		WHEN '9' THEN
			'挂起'
		ELSE
			'其他'
		END STATUS
		FROM
			pt_flow_instance t,
			pt_flow_fl fl
		WHERE
			t.delflag = 0
		AND t.`status` != '3'
		AND t.`status` != '7'
		AND t.fl_id = fl.id
		AND (
			t. CODE LIKE concat(
				'%',
				#{keyword},'%') or t.name LIKE concat('%',#{keyword},'%') ) 
			AND t.id IN (
				SELECT
					s.instance_id
				FROM
					pt_flow_instance_operate_log s
				WHERE
					s.operate_type IN (
						'MY_START',
						'HAVE_DONE',
						'PASS_READ',
						'TO_READ',
						'HAVE_READ'
					)
				AND s.operator_ids = #{userId} 
			)
			ORDER BY
				t.start_date DESC
			LIMIT #{start}, #{limit}
	</select>
	
	<select id="queryRelatedInstanceCountByKeyword"  parameterType="java.util.HashMap" resultType="java.lang.Integer">
	  SELECT count(t.id)
 	  FROM pt_flow_instance t, pt_flow_fl fl WHERE t.delflag=0 and t.fl_id=fl.id 
      AND (t.code LIKE concat('%',#{keyword},'%') or t.name LIKE concat('%',#{keyword},'%') ) 
	  AND t.id in ( select s.instance_id from pt_flow_instance_operate_log s  
	      WHERE s.operate_type in ('MY_START','HAVE_DONE','PASS_READ','TO_READ','HAVE_READ') 
	      AND s.operator_ids = #{userId} 
	  )
	</select>
	
</mapper>