<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.news.mapper.NewsTypeMapper">

	<update id="updateNewsType" parameterType="com.jzy.hio.entity.NewsType" >
		update news_type set name = #{name}, remark = #{remark}, update_date = NOW() where id = #{id} and delflag = 0
	</update>
	
	<update id="addNewsCount" parameterType="java.lang.String" >
		update news_type set news_count = news_count+1 where id = #{newsTypeId}
	</update>
	
	<update id="minusNewsCount" parameterType="java.lang.String" >
		update news_type set news_count = news_count-1 where id = #{newsTypeId}
	</update>
	
	<select id="findMaxOrder" resultType="java.lang.Integer">
		select max(order_by) as maxOrder from news_type where delflag = 0
	</select>
	
	<select id="findMinOrder" resultType="java.lang.Integer">
		select min(order_by) as maxOrder from news_type where delflag = 0
	</select>
	
</mapper>