<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo">

	<select id="getFlowCompanyOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_orgnazation o ,pt_sys_org_post_user pu
		,pt_sys_org_post p
		, pt_sys_org_user u ,pt_sys_org_standard_role role
		,pt_sys_org_orgnazation base where o.id=p.ref_id and pu.post_id=p.id
		and pu.user_id=u.id
		and p.role_id=role.id and o.prefix_id like
		concat(base.prefix_id,'%')
		and base.id=#{company_id,jdbcType=VARCHAR}
		and
		role.id=#{role_id,jdbcType=VARCHAR}
		) result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>

	<select id="getFlowJTOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_orgnazation o ,pt_sys_org_post_user pu
		,pt_sys_org_post p
		, pt_sys_org_user u ,pt_sys_org_standard_role role
		where o.id=p.ref_id
		and pu.post_id=p.id and pu.user_id=u.id
		and
		p.role_id=role.id and role.id=#{role_id,jdbcType=VARCHAR}) result
		group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>

	<select id="getFlowPjectOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_orgnazation o ,pt_sys_org_post_user pu
		,pt_sys_org_post p
		, pt_sys_org_user u ,pt_sys_org_standard_role role
		,pt_sys_org_orgnazation base where o.id=p.ref_id and pu.post_id=p.id
		and pu.user_id=u.id
		and p.role_id=role.id and o.prefix_id like
		concat(base.prefix_id,'%') and
		base.id=#{project_id,jdbcType=VARCHAR}
		and
		role.id=#{role_id,jdbcType=VARCHAR}) result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>

	<select id="getFlowDeptOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_orgnazation o ,pt_sys_org_post_user pu
		,pt_sys_org_post p
		, pt_sys_org_user u ,pt_sys_org_standard_role role
		,pt_sys_org_orgnazation base where o.id=p.ref_id and pu.post_id=p.id
		and pu.user_id=u.id
		and p.role_id=role.id and base.prefix_id like
		concat(o.prefix_id,'%') and
		o.type='dept' and
		base.id=#{dept_id,jdbcType=VARCHAR} and
		role.id=#{role_id,jdbcType=VARCHAR}) result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>

	<select id="getFlowDirectOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_orgnazation o ,pt_sys_org_post_user pu
		,pt_sys_org_post p
		, pt_sys_org_user u ,pt_sys_org_standard_role role
		where o.id=p.ref_id
		and pu.post_id=p.id and pu.user_id=u.id
		and
		p.role_id=role.id and o.id=#{org_id,jdbcType=VARCHAR} and
		role.id=#{role_id,jdbcType=VARCHAR} and role.type=1 ) result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>

	<select id="getFlowUserDefualtOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select DISTINCT o.id as orgId,o.type as orgType, p.id as
		postId,role.name as
		postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id
		as userId ,u.real_name as userName,u.login_name
		as
		loginName,pu.is_default as isDefault
		from pt_sys_org_orgnazation o
		,pt_sys_org_post_user pu ,pt_sys_org_post p
		, pt_sys_org_user u
		,pt_sys_org_standard_role role where o.id=p.ref_id
		and pu.post_id=p.id
		and pu.user_id=u.id
		
	  <if test="post_id != null and post_id!='' ">
		 and pu.post_id=#{post_id,jdbcType=VARCHAR}
	  </if> 
		 
	  <if test="post_id == null or post_id=='' ">
        and pu.is_default=1 
      </if>  
          
		and p.role_id=role.id and u.id=#{person_id,jdbcType=VARCHAR}
	</select>

	<select id="getFlowUserOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select DISTINCT o.id as orgId,o.type as orgType, p.id as
		postId,role.name as
		postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id
		as userId ,u.real_name as userName,u.login_name
		as
		loginName,pu.is_default as isDefault
		from pt_sys_org_orgnazation o
		,pt_sys_org_post_user pu ,pt_sys_org_post p
		, pt_sys_org_user u
		,pt_sys_org_standard_role role where o.id=p.ref_id
		and pu.post_id=p.id
		and pu.user_id=u.id
		and p.role_id=role.id and
		u.id=#{person_id,jdbcType=VARCHAR}
	</select>


	<select id="getFlowPostUserOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_post p left join pt_sys_org_orgnazation o
		on o.id=p.ref_id
		left join pt_sys_org_post_user pu on pu.post_id=p.id
		left join
		pt_sys_org_user u on pu.user_id=u.id left join
		pt_sys_org_standard_role role on
		p.role_id=role.id where
		p.id=#{post_id,jdbcType=VARCHAR}) result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>

	<select id="getFlowStartUserOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_orgnazation o ,pt_sys_org_post_user pu
		,pt_sys_org_post p
		, pt_sys_org_user u ,pt_sys_org_standard_role role,
		pt_sys_org_post pp
		,pt_sys_org_post_user user_p where o.id=p.ref_id and
		pu.post_id=p.id
		and pu.user_id=u.id
		and p.role_id=role.id and
		user_p.is_default=1 and pp.id=user_p.post_id
		and
		user_p.user_id=#{start_id,jdbcType=VARCHAR} and pp.leader_id =
		p.id )
		result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix;
	</select>

	<select id="getFlowStartUserDeptOrgnazationPostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_orgnazation o ,pt_sys_org_post_user pu
		,pt_sys_org_post p
		, pt_sys_org_user u ,pt_sys_org_standard_role role,
		pt_sys_org_post pp
		,pt_sys_org_post_user user_p ,
		pt_sys_org_orgnazation user_g where
		o.id=p.ref_id and pu.post_id=p.id
		and pu.user_id=u.id
		and p.role_id=role.id and user_p.is_default=1 and
		pp.id=user_p.post_id
		and user_p.user_id=#{start_id,jdbcType=VARCHAR}
		and
		pp.ref_id=user_g.id and user_g.leader_id = p.id and
		user_g.type='dept'
		) result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix;
	</select>

	<select id="getFlowStartUserDeptOrgnazationLeaderId" resultType="java.lang.String"
		parameterType="java.util.HashMap">
		select top.leader_id from pt_sys_org_orgnazation
		top,pt_sys_org_orgnazation dept, pt_sys_org_post pp ,
		pt_sys_org_post_user user_p where pp.id=user_p.post_id and
		user_p.user_id=#{start_id,jdbcType=VARCHAR} and user_p.is_default=1
		and pp.ref_id=dept.id and dept.type='dept' and top.type='dept' and
		dept.prefix_id like concat(top.prefix_id,'%') limit 1
	</select>

	<select id="getFlowUserDefualtOrgnazationUserVos" resultType="java.lang.String"
		parameterType="java.util.HashMap">
		select top.leader_id from pt_sys_org_orgnazation
		top,pt_sys_org_orgnazation dept, pt_sys_org_post pp ,
		pt_sys_org_post_user user_p where pp.id=user_p.post_id and
		user_p.user_id=#{start_id,jdbcType=VARCHAR} and user_p.is_default=1
		and pp.ref_id=dept.id and dept.type='dept' and top.type='dept' and
		dept.prefix_id like concat(top.prefix_id,'%') limit 1
	</select>

	<select id="getFlowCommonRolePostUserVos"
		resultType="com.xinleju.platform.sys.org.vo.CommonRolePostUserVo"
		parameterType="java.util.HashMap">

		select DISTINCT u.id, u.post_id as postId,u.user_id as userId from
		pt_sys_org_role_user u left join pt_sys_org_standard_role r on
		(r.id=u.role_id and r.type=0) left join
		pt_sys_org_role_user_post_scope ps on ps.role_user_id=u.id
		left join
		pt_sys_org_orgnazation o on ps.ref_id=o.id where ps.type=1 and
		exists
		(select 1 from pt_sys_org_orgnazation op where
		locate(o.prefix_id,op.prefix_id)>0
		<if test="commonRoleScopeIds != null ">
			and
			op.id in
			<foreach item="item" index="index" collection="commonRoleScopeIds"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		)
		and r.id=#{commonRoleId,jdbcType=VARCHAR}
		union
		select DISTINCT u.id,
		u.post_id as postId,u.user_id as userId from
		pt_sys_org_role_user u
		left join pt_sys_org_standard_role r on
		(r.id=u.role_id and r.type=0)
		left join
		pt_sys_org_role_user_post_scope ps on ps.role_user_id=u.id
		left join pt_sys_org_user o on ps.ref_id=o.id where (ps.type=2 or
		ps.type
		is null)  
		and (ps.ref_id is null  or ps.ref_id=#{start_user_id,jdbcType=VARCHAR})  and
		r.id=#{commonRoleId,jdbcType=VARCHAR}
	</select>

	<select id="getFlowCommonRolePostUser_PostVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName,GROUP_CONCAT(result.userId)
		as userId,GROUP_CONCAT(result.userName) as
		userName,GROUP_CONCAT(result.loginName)as loginName from (
		select
		DISTINCT o.id as orgId,o.type as orgType,o.prefix_id orgPrefix, p.id
		as postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName
		from pt_sys_org_post p left join pt_sys_org_orgnazation o
		on o.id=p.ref_id
		left join pt_sys_org_post_user pu on pu.post_id=p.id
		left join
		pt_sys_org_user u on pu.user_id=u.id left join
		pt_sys_org_standard_role role on
		p.role_id=role.id where
		<if test="postIds != null ">
			p.id
			in
			<foreach item="item" index="index" collection="postIds" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		)
		result group by
		result.orgId,result.orgType,result.postId,result.postName,result.postPrefixName
		order by result.orgPrefix
	</select>

	<select id="getFlowCommonRolePostUser_UserVos"
		resultType="com.xinleju.platform.sys.org.vo.OrgnazationPostUserVo"
		parameterType="java.util.HashMap">
		select DISTINCT o.id as orgId,o.type as orgType, p.id as
		postId,role.name as postName,concat(o.prefix_name,'/',role.name) as
		postPrefixName , u.id as userId ,u.real_name as userName,u.login_name
		as loginName,pu.is_default as isDefault
		from pt_sys_org_orgnazation o
		,pt_sys_org_post_user pu ,pt_sys_org_post p
		, pt_sys_org_user u
		,pt_sys_org_standard_role role where o.id=p.ref_id
		and pu.post_id=p.id
		and pu.user_id=u.id
		and p.role_id=role.id
		<if test="userIds != null ">
			and u.id in
			<foreach item="item" index="index" collection="userIds" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userRelationPostIds != null ">
			and pu.post_id in
			<foreach item="item" index="index" collection="userRelationPostIds" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>

	</select>

</mapper>