<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.org.entity.PostUser">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.org.entity.PostUser">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.org.entity.PostUser">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.org.entity.PostUser">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 批量保存post_user和role_user -->
	<insert id="savePostUserAndRoleUser" parameterType="java.util.HashMap">
		<foreach collection="list" item="map" separator=";">
			<if test="map.roleTypeId == '标准角色'">
				INSERT into pt_sys_org_post_user(id,user_id,post_id,is_default,delflag)
					values(#{map.id},#{map.userId},#{map.tragtId},#{map.isDefault},0)
			</if>
			<if test="map.roleTypeId == '虚拟角色'">
				INSERT into pt_sys_org_role_user(id,user_id,role_id,delflag)
					values(#{map.id},#{map.userId},#{map.tragtId},0)
			</if>
		</foreach>
	</insert>
	
	
	<!-- 删除 post_user和role_user-->
	<delete id="delPostUserAndRoleUser" parameterType="java.util.HashMap">
		DELETE from pt_sys_org_role_user where user_id=#{userId};
		DELETE from pt_sys_org_post_user where user_id=#{userId};
	</delete>
	
	<!-- 设置主岗并把其他岗位设置为不是主岗 -->
	<update id="setDefaultPost" parameterType="java.util.HashMap">
		UPDATE pt_sys_org_post_user SET is_default=1 where id=#{id};
		UPDATE pt_sys_org_post_user SET is_default=0 where id!=#{id} and user_id=#{userId} and is_default=1;
	</update>
	
	<select id="selectDefault" parameterType="map" resultType="int">
		SELECT COUNT(*) from pt_sys_org_post_user pu WHERE pu.user_id=#{userId} and pu.is_default =1
	</select>
</mapper>