/*----------------- 验证不通过时,错误提示的样式 ---------------*/
.talentErrMsg
{
	font-family: Tahoma, 宋体;
	font-size:9pt;
	line-height: 15px;
	color: #B92D1E;

	text-decoration: none;
	padding:4px 4px 4px 22px;
	
	margin:4px 0px 0px 0px;
	margin-left :-8px;
	background:url(./img/error.png) no-repeat 4px 4px;
	/*background-color: #ffe0eb;*/

	border:0px solid #ff5588;
	border-radius: 3px;
	white-space: nowrap;

}
.talentErrMsg:hover{
	/*background-color: #fbf0eb;
	border-width: 1px;*/
}

/*----------------- 验证通过时,提示信息的样式 ---------------*/
.talentTipMsg {
	font-family: Tahoma, 宋体;
	font-size:9pt;
	line-height: 15px;
	font-weight:normal;
	color: #008000;
    
    border:0px solid #9BDF70;
	
	margin:2px;
	margin-bottom:0px;
    
	padding:2px 4px 2px 8px;
	padding-left:22px;
	background:url(./img/success.png) no-repeat 4px 1px;
	
	background-color: #c0ffbb;
	border-radius: 9px;
	white-space: nowrap;


}
.talentTipMsg:hover {
	background-color: #f0fbeb;
	border-width: 1px;

}

/*----------------- 验证不通过时,输入框的样式 ---------------*/
.talentErrInput
{
	/*border:1px solid #ff5588;
	background-color: #ffefef;*/
	/**background:url(./img/error2.png) no-repeat bottom right;*/
}
.talentErrInput_1
{
	/*border-width: 1px;
	background-color: #ffDDDD;*/
}

/*----------------- 验证通过时,输入框的样式 ---------------*/
.talentSucInput
{
	/*border: 1px solid #9BDF70;*/
}
.talentSucInput_1
{
	/*border: 1px solid #9BDF70;
	background-color: #CDFFCD;*/
}
/*----------------- 必输项的星号样式 ---------------*/
.talentReqStar
{
	color: #FF0000;
	font-family: Tahoma, 宋体;
	font-size:10pt;
	font-weight:normal;
	border-radius: 9px;
}
/*----------------- 比较验证器，被比较值的样式 ---------------*/
.talentComparedValue
{
	font-family: Tahoma, 宋体;
	background-color:#D7F2C6;
	font-size:9pt;
	padding:1px 4px 1px 4px;
	font-weight:bold;
	border:1px dashed #9BDF70;
	border-radius: 9px;
}

/**
 * 错误提示信息的关闭按钮
 */
.talentClose {
	/*margin-left: 8px;
	font-family: Verdana;
	font-size:8px;
	padding: 0px 2px 0px 2px;
	border: 0px solid #fff;
	cursor: pointer; 
	border-radius: 10px;
	font-weight: bold;
	color: #fff;
	background-color: #ff8989;
	display: inline;
	-webkit-text-size-adjust: none;*/

}
.talentClose:hover {
	color: #fff;
	background-color: #ff1111;
}
/**
 * 成功提示信息的关闭按钮
 */
.talentCloseTip {
	color: #fff;
	background-color: #32CD32;
}
.talentCloseTip:hover {
	color: #fff;
	background-color: #009900;
}


/**透明背景**/
.talentOpacity8 {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
    opacity: 0.8;
}

