1.定义变量
#set( $this = "Velocity")
$this is great!

拼接字符串
${this}good!

2.循环输出List
#foreach( $name in $list )
    $velocityCount.$name is great!
#end

不输出换行？？？
#foreach( $i in [1..5] )
$i
#end

3.输出数字
$2.5

stop返回
##stop

4.条件判断
#set( $condition = true)
#if ($condition)
    The condition is true!
#else
    The condition is false!
#end

5.引入文件
#include("HelloWorld.java")

6.生成table
#macro(tablerows $color $list)
#foreach($per in $list)
<tr><td bgcolor="$color">$per</td></tr>
#end
#end

#set ($parts = ["Jack", "Tom", "张三"])
#set ($cellbgcol = "#CCOOFF")
<table>
#tablerows($cellbgcol $parts)
</table>

7.!使用
<input type="text" value="$!a" />