@CHARSET "UTF-8";
.table-bordered>tbody>tr>td.no-top-border {
    	border-top-width: 0;
}
.table-bordered>tbody>tr>td.no-bottom-border {
	border-bottom-width: 0;
}
.time-unit-td > *{
	 float: left;
}
.select-time-unit {
 width: 60px;
}
.input-time-value {
	width: 40px;
}
.text-inline-padding {
 padding: 6px 4px 0 3px;
}
.week-component-padding {
	padding:5px 4px 0 4px;
}
.week-text-padding {
	padding:2px 0 0 0;
}
.content-float-left {
	display: inline-block;
}
.content-float-left * {
	float: left;
}

.not-float {
	float: none;
}
.hidden {
	display: none;
}