.ui-state-default, .ui-widget-content .ui-state-default {
	height: 40px;
	color: #333;
	padding-top: 8px;
}

.ui-widget-content { border-width: 0;}
.ui-jqgrid-bdiv { border-right-width: 0;}
.table.table-category-property thead>tr>th {
	text-align: center;
	width: auto;
}

.table.table-category-property tbody>tr>td {
	width: auto;
	text-align: center;
}

.table.table-category-property tbody>tr>td:eq(1) {
	max-width: 260px;
}
.table.table-category-property tbody>tr>td:eq(5) {
	max-width: 260px;
}