<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.ld.entity.LandrayFlowInstance">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.ld.entity.LandrayFlowInstance">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.ld.entity.LandrayFlowInstance">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.ld.entity.LandrayFlowInstance">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!-- 过滤分页查询 -->
	<select id="getflData" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
		t.id,
		t.code,
		t.name,
		t.url,
		t.start_date as startDate,
		t.create_date as  createDate,
		t.start_user_id as startUserId,
		u.oa_real_name as oaRealName
		FROM
		pt_landray_flow_instance t
		LEFT JOIN  pt_landray_flow_user u ON t.start_user_id = u.landray_id
		<choose>
			<when test="startUserId != null and startUserId !=''">
				and  u.landray_id = #{startUserId}
			</when>
		</choose>
		where t.delflag=0
			AND EXISTS (
				SELECT s.fl_instance_id FROM  pt_landray_fl_user_scale s WHERE  t.id = s.fl_instance_id AND EXISTS (
					SELECT u.landray_id FROM pt_landray_flow_user u WHERE s.person_id = u.landray_id AND u.oa_id = #{userId}
				)
			)
		<choose>
			<when test="name != null and name !=''">
				and   t.name like CONCAT(CONCAT('%',#{name}),'%')
			</when>
			<when test="code != null and code !=''">
				and  t.code = #{code}
			</when>
			<when test="flTypeId != null and flTypeId !=''">
				and  t.fl_type_id = #{flTypeId}
			</when>

			<when test="startDeptName != null and startDeptName !=''">
				and   t.start_dept_name like CONCAT(CONCAT('%',#{startDeptName}),'%')
			</when>
			<when test="startCompanyName != null and startCompanyName !=''">
				and   t.start_company_name like CONCAT(CONCAT('%',#{startCompanyName}),'%')
			</when>
			<when test="templetName != null and templetName !=''">
				and   t.templet_name like CONCAT(CONCAT('%',#{templetName}),'%')
			</when>
			<when test="sCreateDate != null and sCreateDate !=''">
				and  t.create_date >= #{sCreateDate}
			</when>
			<when test="eCreateDate != null and eCreateDate !=''">
				and  t.create_date &lt;= #{eCreateDate}
			</when>
		</choose>
		order by t.create_date desc
		<choose>
			<when test="start!=null and start!='' and limit!=null and limit!=''">
				limit #{start},#{limit}
			</when>
		</choose>
	</select>
	<!-- 过滤查询条数 -->
	<select id="getflDataCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
		count(t.id)
		FROM
		pt_landray_flow_instance t
		LEFT JOIN  pt_landray_flow_user u ON t.start_user_id = u.landray_id
		<choose>
			<when test="startUserId != null and startUserId !=''">
				and  u.landray_id = #{startUserId}
			</when>
		</choose>
		where t.delflag=0
		AND EXISTS (
		SELECT s.fl_instance_id FROM  pt_landray_fl_user_scale s WHERE  t.id = s.fl_instance_id AND EXISTS (
				SELECT u.landray_id FROM pt_landray_flow_user u WHERE s.person_id = u.landray_id AND u.oa_id = #{userId}
			)
		)
		<choose>
			<when test="name != null and name !=''">
				and   t.name like CONCAT(CONCAT('%',#{name}),'%')
			</when>
			<when test="code != null and code !=''">
				and  t.code = #{code}
			</when>
			<when test="flTypeId != null and flTypeId !=''">
				and  t.fl_type_id = #{flTypeId}
			</when>
			<when test="startUserId != null and startUserId !=''">
				and  t.start_user_id = #{startUserId}
			</when>
			<when test="startDeptName != null and startDeptName !=''">
				and   t.start_dept_name like CONCAT(CONCAT('%',#{startDeptName}),'%')
			</when>
			<when test="startCompanyName != null and startCompanyName !=''">
				and   t.start_company_name like CONCAT(CONCAT('%',#{startCompanyName}),'%')
			</when>
			<when test="templetName != null and templetName !=''">
				and   t.templet_name like CONCAT(CONCAT('%',#{templetName}),'%')
			</when>
			<when test="sCreateDate != null and sCreateDate !=''">
				and  t.create_date >= #{sCreateDate}
			</when>
			<when test="eCreateDate != null and eCreateDate !=''">
				and  t.create_date &lt;= #{eCreateDate}
			</when>
		</choose>
	</select>

</mapper>