<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.search.mapper.SearchCategoryDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.search.entity.SearchCategory">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.search.entity.SearchCategory">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.search.entity.SearchCategory">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
		<!-- 删除根据categoryId -->
	<delete id="deleteByIds">
		delete from PT_UNIV_SEARCH_CATEGORY where id in
			<foreach collection="list" item="id"  open="(" separator="," close=")">     
		        #{id}      
		    </foreach>
	</delete>
	
	<!-- 获取记录数 验证更新时验证编码名称是否重复-->
	<select id="getCountForUpdate" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			count(*)
		FROM
			pt_univ_search_category pusc
		WHERE
			pusc.id != #{id, jdbcType=VARCHAR}
			<if test="code != null">
				AND pusc.CODE = #{code, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				AND pusc.NAME = #{name, jdbcType=VARCHAR}
			</if>
	</select>
</mapper>