/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@font-face {
	src:url("SIMKAI.TTF"); 
	fontFamily: "st";
	embedAsCFF: false;
	fontWeight: bold;
}
.ChineseFont{
	fontFamily:"Verdana","st";
	fontSize:12;
}
.Button{
	fontFamily: "st";
	fontSize: 14;
}

.lineChart{
	fontFamily: "st";
	font-size:15;
	fontWeight:bold;
}

