<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.attachment.mapper.AttachmentCategoryDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.attachment.entity.AttachmentCategory">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.attachment.entity.AttachmentCategory">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.attachment.entity.AttachmentCategory">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 获取code记录数 验证更新时code是否重复-->
	<select id="getCountOfCodeForUpdate" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			count(*)
		FROM
			pt_univ_file_category pufc
		WHERE
			pufc.id != #{id, jdbcType=VARCHAR}
			<if test="code != null">
				AND pufc.CODE = #{code, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				AND pufc.NAME = #{name, jdbcType=VARCHAR}
			</if>
	</select>
	
</mapper>