.panel-header {
    background:#F2F2F2;
    background-repeat: repeat-x;
}
.panel-title{
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}
.panel-icon, .panel-tool{
    position: absolute;
    top: 50%;
    /*margin-top: -14px;*/
    height: 30px;
    overflow: hidden
}
.panel-tool{
    right: 10px;
    height: 100%;
    top: 5px;
    line-height: 46px;
    right: 0px;
}

.panel-tool .form-inline{
    padding-top:0px;
}
.panel-tool .form-group{
    height: 31px;
    vertical-align: baseline;
    padding: 0 10px;
}
.panel-tool .form-control{
    height: auto;
    margin-top: -9px;
    padding: 3px 5px;
}
.panel-tool .glyphicon-search{
    color: #0000FF;
    cursor: pointer;
}
/*.panel-tool .col-md-12{
    min-width: 992px;
}*/
.panel-tool .btn-group{
    padding-top: 12px;
    padding-left: 150px;
}
.panel-tool input{
    font-size: 12px;
}

/*.panel-tool .dropdown-menu{
    position: fixed;
    !* left: -23px; *!
    top: 72px;
}*/

.panel-tool .dropdown-menu a {
    display: block;
    width: auto;
    height: auto;
    opacity: 0.6;
    filter: alpha(opacity=60);
    margin: 0 0 0 2px;
    vertical-align: top;
}