.search-page{
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.list-sort-show *{ padding:0; margin:0;}
.list-sort-show ul,.list-sort-show ul li{
    list-style: none;
}


.arrow-box{
    width:30px;
    height:30px;

}
.arrow-box:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    /*left: 0;*/
    width: 0;
    height: 0;
    border:10px solid;
    margin-top: -10px;
    /*border-color: transparent #2CAFFF transparent transparent;*/
}
.arrow-box:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    /*left: 1px;*/
    width: 0;
    height: 0;
    border:10px solid;
    margin-top: -10px;
    /*border-color: transparent #fff transparent transparent;*/
}
.arrow-box.left:before{
    left: 0;
    border-color: transparent #2CAFFF transparent transparent;
}
.arrow-box.left:after{
    left: 1px;
    border-color: transparent #fff transparent transparent;
}
.arrow-box.right:before{
    right: 0;
    border-color: transparent transparent transparent #D8D8D8;
}
.arrow-box.right:after{
    right: 2px;
    border-color: transparent transparent transparent #fff;
}
.arrow-box.down:before{
    /*right: 0;*/
    border-color: #D8D8D8 transparent transparent transparent;
}
.arrow-box.down:after{
    /*right: 1px;*/
    margin-top: -12px;
    border-color: #fff transparent transparent transparent;
}
.selected-border{
    background: #F6F6F6;
    border: 1px solid #D6D6D6;
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 50%;
    position:absolute;
    right:10px;
    top:50%;
    margin-top:-8px;
}
.selected-border.selected{
    background: #2CAFFF;
    border: 1px solid #2CAFFF;
}
.list-sort-show .list-sort-ul{

}
.list-sort-show .list-sort-ul li{
    position:relative;
    padding-left:15px;
}
.icon-my{
    font-weight:normal;
    font-size: 15px;
    color: #191919;
    height:50px;
    line-height:50px;
    position:relative;
    margin-left:20px;
    border-bottom: 1px solid #ECECEC;
}
.icon-my:before{
    content:"";
    position:absolute;
    display: block;
    width:14px;
    height:14px;
    left:-21px;
    top:50%;
    margin-top: -5px;
}
.list-sort-show .list-sort-ul li .icon-my-s1:before{
    background:url(../image/icon/09@2x.png) no-repeat center center;
    background-size:12px 13px;
}
.list-sort-show .list-sort-ul li .icon-my-s2:before{
    background:url(../image/icon/06@2x.png) no-repeat center center;
    background-size:12px 13px;
}
.list-sort-show .list-sort-ul li h2 .title{
    vertical-align: middle;
    width: 88%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.list-sort-show .list-sort-ul .arrow-box.right {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7px;
}
.list-sort-show .list-sort-ul .arrow-box.right:before {
    border: 7px solid;
    margin-top: -7px;
    border-color: transparent transparent transparent #D8D8D8;
}
.list-sort-show .list-sort-ul .arrow-box.right:after {
    border: 7px solid;
    margin-top: -7px;
    border-color: transparent transparent transparent #fff;
}
.list-sort-show .list-sort-ul .arrow-box.down {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right:10px;
    margin-top: 2px;
}
.list-sort-show .list-sort-ul .arrow-box.down:before {
    border: 9px solid;
    border-color: #D8D8D8 transparent transparent transparent;
}
.list-sort-show .list-sort-ul .arrow-box.down:after {
    border: 7px solid;
    border-color: #fff transparent transparent transparent;
}
/*弹出窗口*/
.pop-wrap-modal{
    position:fixed;
    background: rgba(0,0,0,0.40);
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: 2;
}
.pop-bottom-btn-box{

}
.pop-bottom-btn-box button{
    height:44px;
    line-height:44px;
    display:inline-block;
    width:100%;
    text-align: center;
    font-size: 16px;
    color: #2CAFFF;
    border:none;
    background:none;
    outline: none;
}
.pop-content{
    background: #FCFCFC;
    width:80%;
    height:180px;
    border-radius: 12px;
    margin:0 auto;
    margin-top:100px;
}
.pop-content .text{
    height:136px;
    border-bottom:1px solid  rgba(77,77,77,0.2);
}
.pop-content .text .tt{
    text-align:center;
    font-size: 17px;
    color: #333333;
    padding-top: 44px;
}
.title-search{
 padding-left:15px;
}
.title-search h2{
    font-size: 15px;
    color: #999999;
}
.title-search  .icon-my-s3:before{
    background:url(../image/icon/search_history@2x.png) no-repeat center center;
    background-size:13px 13px;
}
.close-span{
    display:inline-block;
    width:13px;
    height:13px;
    background:url(../image/icon/search_deletehistory@2x.png) no-repeat center center;
    background-size:cover;
}
.title-search .close-span{
    position:absolute;
    right:10px;
    top:50%;
    margin-top:-7px;
}
.search-list{
    flex: 1;
}
.search-list.bg{
    background:#F3F3F3
}
.search-list .list-sort-show .list-sort-ul li h2 .title{font-size: 14px;
    color: #666666;}
.search-list .list-sort-show .list-pad-left li h2 .title{
    font-size: 15px;
    color: #191919;
}
.search-list .list-sort-show .list-pad-left li{
    padding-left:0;
}
.search-list .list-sort-show .list-pad-left li ul li{
    padding-left:15px;
}
.list-sort-show .list-sort-ul li .icon-my-none{
    margin-left: 0;
    background: #F6F6F6;
    font-size: 14px;
    color: #666666;
    padding-left:15px;
    height:44px;
    line-height:44px;
}
.search-list .list-sort-show .list-pad-left li .icon-my-none .title{
    font-size: 14px;
    color: #666666;
}
.bottom-sum-box{
    height: 3rem;
    line-height: 3rem;
    text-indent: 0.8rem;
    color: #191919;
    font-size: 1rem;
    border-top: 1px solid #ebebeb;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0
}
.bottom-sum-box button{
    float: right;
    background: #2CAFFF;
    width: 6.7rem;
    color: #fff;
    font-size: 1rem;
    height: 100%;
    outline: none;
    border: none;
}

/*滑动的菜单*/
.menu-wrap{ position:relative}
.menu-wrap .menu-fixed-item{ position:absolute;height: 3rem;
    line-height: 3rem;    padding: 0 0.7rem;}
.menu-wrap .menu-fixed-item.current{
    border-bottom: 2px solid #009EFF;
    color: #009EFF;
}
.menu-scroll-item .menu .menu-fixed{ position:absolute; left:0; margin:0; padding:0 0.7rem}
.menu-wrap .menu-scroll-item .menu{  width:20000px; position:relative}
.menu-wrap .menu-scroll-item {
    margin-left:3rem;
    overflow: hidden;
    overflow-x: scroll; }
.menu-scroll-box{
    overflow: hidden;
    overflow-x: scroll;
}
.menu-scroll-box .menu{
    width:auto
}

.menu-wrap .ml0{
    margin-left: 0;
}