<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="bookDao" class="com.ysys.www.hy.dao.impl.BookDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="loginDao" class="com.ysys.www.hy.dao.impl.LoginDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="statiticsDao" class="com.ysys.www.hy.dao.impl.StatisticsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="yuyueDao" class="com.ysys.www.hy.dao.impl.YuyueDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	

	<bean id="hybaseDao" class="com.ysys.www.hy.dao.impl.HybaseDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="distributeDao" class="com.ysys.www.hy.dao.impl.DistributeDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="conferensituationDao" class="com.ysys.www.hy.dao.impl.ConferensituationDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
    <bean id="gpmanageDao" class="com.ysys.www.hy.dao.impl.GpmanageDaoImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    
	<bean id="affirmattendDao" class="com.ysys.www.hy.dao.impl.AffirmattendDaoImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
</beans>

