<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.servey.mapper.ServeyQuestionDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.oa.servey.entity.ServeyQuestion">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.oa.servey.entity.ServeyQuestion">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.oa.servey.entity.ServeyQuestion">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	 <!-- 过滤分页查询 -->
    <select id="getServeyQuestionPage" resultType="java.util.Map" parameterType="java.util.Map">
        select a.id as id,
	        a.servey_id as serveyId,
	        a.question as question,
	        a.question_num as questionNum,
	        a.question_tip as questionTip,
	        a.question_score as questionScore,
	        a.question_required as questionRequired,
	        a.question_type_code as questionTypeCode,
	        b.id as subQuestionId,
	        b.question_content as questionContent,
	        b.question_code as questionCode,
	        c.id as optionId,
	        c.sequence_num as sequenceNum,
	        c.description as description,
	        CASE WHEN c.weight_factor is null then '0' ELSE c.weight_factor END as weightFactor,
	        c.option_type as optionType
        from oa_servey_question a
		LEFT JOIN oa_servey_sub_question b on a.id=b.question_id
		LEFT JOIN oa_survey_question_option c on a.id=c.question_id
		where 1=1 
        <if test="id != null and id !='' ">
            and a.id= #{id}
        </if>
        <if test="name != null and name !='' ">
            and a.name like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="serveyId != null and serveyId !='' ">
            and a.servey_id = #{serveyId}
        </if>
        order by a.question_num,b.question_code,c.sequence_num
        <choose>
            <when test="start!=null and start!='' and limit!=null and limit!=''">
                limit #{start},#{limit}
            </when>
        </choose>
       
    </select>
	
	
	 <!-- 过滤查询条数 -->
    <select id="getServeyQuestionCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(a.id)
        FROM
        oa_servey_question a
		where 1=1 
        <if test="id != null and id !='' ">
            and a.id= #{id}
        </if>
        <if test="name != null and name !='' ">
            and a.name like CONCAT(CONCAT('%',#{name}),'%')
        </if>
         <if test="serveyId != null and serveyId !='' ">
            and a.servey_id = #{serveyId}
        </if>
    </select>
</mapper>