<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.schedule.mapper.QueryScheduleListMapper">

	<select id="queryScheduleList"
		parameterType="com.jzy.hio.oa.schedule.param.QueryScheduleListParam"
		resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDto">


		SELECT DISTINCT c.scheduleId,c.createPersonId,c.scheduleTitle,
		c.isShowTitle AS isShowTitle,c.beginTime,c.endTime,u.real_name AS createPersonName FROM
		(SELECT
		a.`create_person_id` AS createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS isShowTitle,a.`begin_time` AS
		beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM
		`pt_schedule` a WHERE
		a.`create_person_id` = #{userId} AND a.delflag =
		'0'

		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '0' AND a.delflag =
		'0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>

		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '1' AND a.delflag =
		'0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '2' AND a.delflag =
		'0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		UNION ALL

		SELECT b.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,
		b.is_showtitle AS isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.calendar_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.create_person_id,b.is_showtitle
		FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL
		) b
		WHERE a.`calendar_id` = b.calendar_id AND
		b.type = '0' AND a.delflag =
		'0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT b.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,
		b.is_showtitle AS isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.calendar_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.create_person_id,b.is_showtitle 
		FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL
		) b
		WHERE a.`calendar_id` = b.calendar_id AND
		b.type = '1' AND a.delflag =
		'0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT b.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,
		b.is_showtitle AS isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.calendar_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.create_person_id,b.is_showtitle 
		FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL
		) b
		WHERE a.`calendar_id` = b.calendar_id AND
		b.type = '2'AND a.delflag =
		'0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_group_id`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_group_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_group_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_group_id IS NOT NULL
		) b WHERE a.`schedule_group_id` = b.schedule_group_id AND
		b.type =
		'0' AND a.delflag = '0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_group_id`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_group_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_group_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_group_id IS NOT NULL
		) b WHERE a.`schedule_group_id` = b.schedule_group_id AND
		b.type =
		'1' AND a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.schedule_group_id
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_group_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_group_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_group_id IS NOT NULL
		) b WHERE a.`schedule_group_id` = b.schedule_group_id AND
		b.type =
		'2' AND a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		) c ,oa_sys_user u WHERE c.createPersonId = u.id

		<if test="beginTime != null and endTime != null">
			AND ((c.beginTime &lt;= #{beginTime} AND c.endTime &gt;=
			#{endTime})
			OR (c.beginTime &gt;= #{beginTime} AND c.endTime &lt;= #{endTime})
			OR
			(c.beginTime &gt;= #{beginTime} AND c.beginTime &lt;= #{endTime})
			OR
			(c.endTime &gt;= #{beginTime} AND c.endTime &lt;= #{endTime}))
		</if>

		<if test="scheduleId != null">
			AND c.scheduleId = #{scheduleId}
		</if>

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND c.createPersonId in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>



	</select>
	
	<select id="queryNewScheduleList"
		parameterType="com.jzy.hio.oa.schedule.param.QueryScheduleListParam"
		resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDto">


		SELECT DISTINCT c.scheduleId,c.createPersonId,c.scheduleTitle,c.source,
		c.isShowTitle,c.beginTime,c.endTime,u.real_name AS createPersonName FROM
		(SELECT
		a.`create_person_id` AS createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS isShowTitle,a.`begin_time` AS
		beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM
		`pt_schedule` a WHERE
		a.`create_person_id` = #{userId} AND a.delflag =
		'0'

		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '0' AND a.delflag =
		'0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>

		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '1' AND a.delflag =
		'0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '2' AND a.delflag =
		'0' AND b.delflag = '0'

			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_group_id`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_group_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_group_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_group_id IS NOT NULL
		) b WHERE a.`schedule_group_id` = b.schedule_group_id AND
		b.type =
		'0' AND a.delflag = '0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
	
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_group_id`,a.`schedule_id`
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_group_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_group_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_group_id IS NOT NULL
		) b WHERE a.`schedule_group_id` = b.schedule_group_id AND
		b.type =
		'1' AND a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.schedule_group_id
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_group_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_group_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_group_id IS NOT NULL
		) b WHERE a.`schedule_group_id` = b.schedule_group_id AND
		b.type =
		'2' AND a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		) c ,oa_sys_user u WHERE c.createPersonId = u.id

		<if test="beginTime != null and endTime != null">
			AND ((c.beginTime &lt;= #{beginTime} AND c.endTime &gt;=
			#{endTime})
			OR (c.beginTime &gt;= #{beginTime} AND c.endTime &lt;= #{endTime})
			OR
			(c.beginTime &gt;= #{beginTime} AND c.beginTime &lt;= #{endTime})
			OR
			(c.endTime &gt;= #{beginTime} AND c.endTime &lt;= #{endTime}))
		</if>

		<if test="scheduleId != null">
			AND c.scheduleId = #{scheduleId}
		</if>

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND c.createPersonId in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>

	</select>
	
	<select id="queryNewTwoNotScheduleList"
		parameterType="com.jzy.hio.oa.schedule.param.QueryScheduleListParam"
		resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDto">


		SELECT DISTINCT c.scheduleId,c.createPersonId,c.scheduleTitle,c.source,
		c.isShowTitle,c.beginTime,c.endTime,u.real_name AS createPersonName FROM
		(SELECT
		a.`create_person_id` AS createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS isShowTitle,a.`begin_time` AS
		beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM
		`pt_schedule` a WHERE
		a.`create_person_id` = #{userId} AND a.delflag =
		'0' AND a.is_repeat = '1'

		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '0' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '1' 

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '1' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '1'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '2' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '1'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		) c ,oa_sys_user u WHERE c.createPersonId = u.id

		<if test="scheduleId != null">
			AND c.scheduleId = #{scheduleId}
		</if>

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND c.createPersonId in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>

	</select>
	
	<select id="queryNewTwoScheduleList"
		parameterType="com.jzy.hio.oa.schedule.param.QueryScheduleListParam"
		resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDto">


		SELECT DISTINCT c.scheduleId,c.createPersonId,c.scheduleTitle,c.source,
		c.isShowTitle,c.beginTime,c.endTime,u.real_name AS createPersonName FROM
		(SELECT
		a.`create_person_id` AS createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS isShowTitle,a.`begin_time` AS
		beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM
		`pt_schedule` a WHERE
		a.`create_person_id` = #{userId} AND a.delflag =
		'0' AND a.is_repeat = '0'

		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '0' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '0' 

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '1' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'0' AS source,
		'0' AS
		isShowTitle,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT NULL
		) b
		WHERE a.`schedule_id` = b.schedule_id AND
		b.type = '2' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		) c ,oa_sys_user u WHERE c.createPersonId = u.id

		<if test="scheduleId != null">
			AND c.scheduleId = #{scheduleId}
		</if>

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND c.createPersonId in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>

	</select>
	
	<select id="queryNewScheduleCalendaList"
		parameterType="com.jzy.hio.oa.schedule.param.QueryScheduleListParam"
		resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDto">


		SELECT DISTINCT a.`schedule_id` AS scheduleId,a.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,b.is_showtitle AS isShowTitle,u.real_name AS createPersonName
		FROM pt_schedule_shared b,pt_schedule a,oa_sys_user u WHERE a.create_person_id = b.create_person_id AND b.`delflag` = '0' AND a.`delflag` = '0'   
		AND a.create_person_id = u.id  AND b.sharedshow_id = #{userId} AND b.calendar_id IS NOT NULL
		<if test="scheduleId != null">
			AND a.scheduleId = #{scheduleId}
		</if>

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND b.create_person_id in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>
		
		<if test="beginTime != null and endTime != null">
			AND ((a.begin_time &lt;= #{beginTime} AND a.end_time &gt;=
			#{endTime})
			OR (a.begin_time &gt;= #{beginTime} AND a.end_time &lt;= #{endTime})
			OR
			(a.begin_time &gt;= #{beginTime} AND a.begin_time &lt;= #{endTime})
			OR
			(a.end_time &gt;= #{beginTime} AND a.end_time &lt;= #{endTime}))
		</if>


	</select>
	
	<select id="queryNewTwoNotScheduleCalendaList"
		parameterType="com.jzy.hio.oa.schedule.param.QueryScheduleListParam"
		resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDto">


		SELECT DISTINCT c.scheduleId,c.createPersonId,c.scheduleTitle,c.source
		,c.beginTime,c.endTime,u.real_name AS createPersonName,c.isShowTitle FROM
		(

		SELECT b.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId,b.is_showtitle AS isShowTitle FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.calendar_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.create_person_id,b.is_showtitle
		FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL
		) b
		WHERE a.`calendar_id` = b.calendar_id AND
		b.type = '0' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '1'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT b.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId,b.is_showtitle AS isShowTitle FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.calendar_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.create_person_id,b.is_showtitle 
		FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL
		) b
		WHERE a.`calendar_id` = b.calendar_id AND
		b.type = '1' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '1'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT b.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,
		a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId,b.is_showtitle AS isShowTitle FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.calendar_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.create_person_id,b.is_showtitle 
		FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL
		) b
		WHERE a.`calendar_id` = b.calendar_id AND
		b.type = '2'AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '1'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		) c ,oa_sys_user u WHERE c.createPersonId = u.id

		<if test="beginTime != null and endTime != null">
			AND ((c.beginTime &lt;= #{beginTime} AND c.endTime &gt;=
			#{endTime})
			OR (c.beginTime &gt;= #{beginTime} AND c.endTime &lt;= #{endTime})
			OR
			(c.beginTime &gt;= #{beginTime} AND c.beginTime &lt;= #{endTime})
			OR
			(c.endTime &gt;= #{beginTime} AND c.endTime &lt;= #{endTime}))
		</if>

		<if test="scheduleId != null">
			AND c.scheduleId = #{scheduleId}
		</if>

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND c.createPersonId in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>



	</select>
	
	<select id="queryNewTwoScheduleCalendaList"
		parameterType="com.jzy.hio.oa.schedule.param.QueryScheduleListParam"
		resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDto">


		SELECT DISTINCT c.scheduleId,c.createPersonId,c.scheduleTitle,c.source
		,c.beginTime,c.endTime,u.real_name AS createPersonName,c.isShowTitle FROM
		(

		SELECT b.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId,b.is_showtitle AS isShowTitle FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.calendar_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.create_person_id,b.is_showtitle
		FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL
		) b
		WHERE a.`calendar_id` = b.calendar_id AND
		b.type = '0' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT b.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId,b.is_showtitle AS isShowTitle FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.calendar_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.create_person_id,b.is_showtitle 
		FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL
		) b
		WHERE a.`calendar_id` = b.calendar_id AND
		b.type = '1' AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT b.`create_person_id` AS
		createPersonId,a.`schedule_title` AS
		scheduleTitle,'1' AS source,
		a.`begin_time` AS beginTime,a.`end_time` AS
		endTime,a.`schedule_id` AS scheduleId,b.is_showtitle AS isShowTitle FROM (
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_title,a.`begin_time`,a.`end_time`,a.`schedule_id`,a.is_repeat
		FROM
		`pt_schedule` a
		WHERE
		a.calendar_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.create_person_id,b.is_showtitle 
		FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL
		) b
		WHERE a.`calendar_id` = b.calendar_id AND
		b.type = '2'AND a.delflag =
		'0' AND b.delflag = '0' AND a.is_repeat = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		) c ,oa_sys_user u WHERE c.createPersonId = u.id

		<if test="beginTime != null and endTime != null">
			AND ((c.beginTime &lt;= #{beginTime} AND c.endTime &gt;=
			#{endTime})
			OR (c.beginTime &gt;= #{beginTime} AND c.endTime &lt;= #{endTime})
			OR
			(c.beginTime &gt;= #{beginTime} AND c.beginTime &lt;= #{endTime})
			OR
			(c.endTime &gt;= #{beginTime} AND c.endTime &lt;= #{endTime}))
		</if>

		<if test="scheduleId != null">
			AND c.scheduleId = #{scheduleId}
		</if>

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND c.createPersonId in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>



	</select>
	
</mapper>