<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.jzy.hio.oa.schedule.mapper.QuerySharedCreatePersonListMapper">

	<select id="querySharedCreatePersonList" resultType="com.jzy.hio.oa.schedule.dto.SharedCreatePersonDto">

		SELECT DISTINCT c.createPersonId AS sharedShowId,u.real_name AS
		sharedShowName,u.im_user_id AS imUserId FROM
		(
		SELECT
		a.`create_person_id` AS createPersonId FROM
		(
		SELECT
		a.`create_person_id`,
		a.schedule_id,
		a.delflag
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.schedule_id,
		b.type,
		b.delflag,
		b.sharedshow_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT
		NULL
		) b
		WHERE
		a.`schedule_id` =
		b.schedule_id AND
		b.type = '0' AND
		a.delflag =
		'0' AND
		b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT
		a.`create_person_id` AS createPersonId FROM
		(
		SELECT
		a.`create_person_id`,
		a.schedule_id,
		a.delflag
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.schedule_id,
		b.type,
		b.delflag,
		b.sharedshow_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT
		NULL
		) b
		WHERE
		a.`schedule_id` =
		b.schedule_id AND
		b.type = '1' AND
		a.delflag =
		'0' AND
		b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS createPersonId FROM
		(
		SELECT
		a.`create_person_id`,
		a.schedule_id,
		a.delflag
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_id IS NOT NULL
		) a,
		(
		SELECT
		b.schedule_id,
		b.type,
		b.delflag,
		b.sharedshow_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_id IS NOT
		NULL
		) b
		WHERE
		a.`schedule_id` =
		b.schedule_id AND b.type = '2' AND
		a.delflag
		=
		'0' AND
		b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		UNION ALL

		SELECT b.`create_person_id` AS createPersonId FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL AND b.type = '0'
		AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT b.`create_person_id` AS createPersonId FROM
		`pt_schedule_shared` b
		WHERE
		b.calendar_id IS NOT NULL AND b.type = '1'
		AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT b.`create_person_id` AS createPersonId FROM
		`pt_schedule_shared` b WHERE b.calendar_id IS NOT NULL AND b.type =
		'2' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		UNION ALL

		SELECT a.`create_person_id` AS createPersonId FROM
		(
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_group_id
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_group_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_group_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_group_id IS NOT NULL
		) b
		WHERE
		a.`schedule_group_id` =
		b.schedule_group_id AND b.type = '0' AND
		a.delflag
		=
		'0' AND
		b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS createPersonId FROM
		(
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_group_id
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_group_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_group_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_group_id IS NOT NULL
		) b
		WHERE
		a.`schedule_group_id` =
		b.schedule_group_id AND b.type = '1' AND
		a.delflag
		=
		'0' AND
		b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`create_person_id` AS createPersonId FROM
		(
		SELECT
		a.`create_person_id`,
		a.calendar_id,
		a.delflag,a.schedule_group_id
		FROM
		`pt_schedule` a
		WHERE
		a.schedule_group_id IS NOT NULL
		) a,
		(
		SELECT
		b.calendar_id,
		b.type,
		b.delflag,
		b.sharedshow_id,b.schedule_group_id
		FROM
		`pt_schedule_shared` b
		WHERE
		b.schedule_group_id IS NOT NULL
		) b
		WHERE a.`schedule_group_id` =
		b.schedule_group_id AND b.type = '2' AND
		a.delflag
		=
		'0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		UNION ALL

		SELECT
		a.`task_liable_id` AS createPersonId FROM pt_task
		a,`pt_task_shared`
		b
		WHERE
		a.`task_id` = b.task_id AND b.type = '0' AND
		a.delflag = '0' AND
		b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT
		a.`task_liable_id` AS createPersonId FROM pt_task
		a,`pt_task_shared`
		b
		WHERE
		a.`task_id` = b.task_id AND b.type = '1' AND
		a.delflag = '0' AND
		b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`task_liable_id` AS createPersonId FROM pt_task
		a,`pt_task_shared` b
		WHERE
		a.`task_id` = b.task_id AND b.type = '2' AND
		a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		UNION ALL

		SELECT
		b.`create_person_id` AS createPersonId FROM
		`pt_task_shared`
		b
		WHERE
		b.calendar_id IS NOT NULL AND b.type = '0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT
		b.`create_person_id` AS createPersonId FROM
		`pt_task_shared`
		b
		WHERE
		b.calendar_id IS NOT NULL AND b.type = '1' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT b.`create_person_id` AS createPersonId FROM
		`pt_task_shared` b
		WHERE
		b.calendar_id IS NOT NULL AND b.type = '2' AND
		b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		) c,oa_sys_user u WHERE c.createPersonId = u.id

		<if test="sharedShowName != null and sharedShowName != ''">
			AND u.real_name like CONCAT('%',#{sharedShowName},'%')
		</if>


	</select>



</mapper>