<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.schedule.mapper.QueryScheduleDetailsMapper">

	<select id="queryScheduleDetails" resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDetailsDto">
		SELECT a.schedule_title AS scheduleTitle,a.begin_time AS beginTime,a.end_time AS endTime,a.is_Repeat AS isRepeat,a.advance_time AS advanceTime,
		b.repetition_frequency AS repetitionFrequency,b.end_frequency AS endFrequency,b.repetition_result AS repetitionResult,
		b.end_frequency_num AS endFrequencyNum,b.end_frequency_time AS endFrequencyTime,a.address,a.schedule_details AS scheduleDetails,
		a.create_person_name AS createPersonName,a.create_person_id AS createPersonId,a.schedule_group_id AS scheduleGroupId
		FROM pt_schedule a LEFT JOIN pt_schedule_group b ON a.schedule_group_id = b.schedule_group_id 
		WHERE a.schedule_id = #{scheduleId} and a.delflag = 0
	</select>
	
	<select id="queryNewScheduleDetails" resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDetailsDto">
		SELECT a.schedule_title AS scheduleTitle,a.begin_time AS beginTime,a.end_time AS endTime,a.is_Repeat AS isRepeat,a.advance_time AS advanceTime,
		a.repetition_frequency AS repetitionFrequency,a.end_frequency AS endFrequency,a.repetition_result AS repetitionResult,
		a.end_frequency_num AS endFrequencyNum,a.end_frequency_time AS endFrequencyTime,a.address,a.schedule_details AS scheduleDetails,
		a.create_person_name AS createPersonName,a.create_person_id AS createPersonId
		FROM pt_schedule a
		WHERE a.schedule_id = #{scheduleId} and a.delflag = 0
	</select>
	
</mapper>