<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.schedule.mapper.ScheduleSharedMapper">
	 
	<update id="deleteScheduleSharedId">
		update pt_schedule_shared set delflag = #{delflag} where 1=1
		
		<if test="scheduleId != null">
			AND schedule_id = #{scheduleId}
		</if>
		
		<if test="calendarId != null">
			AND calendar_id = #{calendarId}
		</if>
	</update>
	
	<update id="deleteAllScheduleSharedId" parameterType="java.util.List">
		update pt_schedule_shared set delflag = '1' where 1=1
		
			AND schedule_id in 
			 <foreach collection ="list" item="item" index= "index"  open="(" separator="," close=")">
				#{item.scheduleId}
			</foreach>
		
		
	</update>
	
	<update id="deleteAllScheduleSharedCalendarId" parameterType="java.util.List">
		update pt_schedule_shared set delflag = '1' where 1=1
		
			AND calendar_id in 
			<foreach collection ="list" item="item" index= "index"  open="(" separator="," close=")">
				#{item.calendarId}
			</foreach>
		
	</update>
	
</mapper>