<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.schedule.mapper.ScheduleMapper">

	<update id="deletescheduleId">
		update pt_schedule set delflag = #{delflag} where
		schedule_id = #{scheduleId} AND delflag = '0'
	</update>
	
	<update id="deleteAllscheduleId" parameterType="java.util.List">
		update pt_schedule set delflag = '1' where delflag = '0' AND
		schedule_id in
		<foreach collection ="list" item="item" index= "index"  open="(" separator="," close=")">
			#{item.scheduleId} 
		</foreach>
		 
	</update>

	<select id="queryScheduleId" resultType="com.jzy.hio.entity.Schedule">

		SELECT
		`id`,
		`schedule_id` AS scheduleId,
		`schedule_title` AS scheduleTitle,
		`begin_time` AS beginTime,
		`end_time` AS endTime,
		`is_repeat` AS isRepeat,
		`advance_time` AS advanceTime,
		`schedule_group_id` AS scheduleGroupId,
		`address`,
		`schedule_details` AS scheduleDetails,
		`calendar_id` AS calendarId,
		`remind_id` AS remindId,
		`create_person_id` AS createPersonId,
		`create_person_name` AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`concurrency_version` AS concurrencyVersion
		FROM
		`pt_schedule`
		WHERE delflag = '0' 
		
		<if test="scheduleId !=null and scheduleId !=''">
			AND schedule_id = #{scheduleId}
		</if>
		
		<if test="remindId != null and remindId !=''">
			AND remind_id = #{remindId}
		</if>
		
	</select>
	
	<select id="queryScheduleList" resultType="com.jzy.hio.entity.Schedule">

		SELECT
		`id`,
		`schedule_id` AS scheduleId,
		`schedule_title` AS scheduleTitle,
		`begin_time` AS beginTime,
		`end_time` AS endTime,
		`is_repeat` AS isRepeat,
		`advance_time` AS advanceTime,
		`schedule_group_id` AS scheduleGroupId,
		`address`,
		`schedule_details` AS scheduleDetails,
		`calendar_id` AS calendarId,
		`remind_id` AS remindId,
		`create_person_id` AS createPersonId,
		`create_person_name` AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`concurrency_version` AS concurrencyVersion
		FROM
		`pt_schedule` a
		WHERE a.delflag = '0' 
		
		<if test="scheduleId !=null and scheduleId !=''">
			AND a.schedule_id = #{scheduleId}
		</if>
		
		<if test="remindId != null and remindId !=''">
			AND a.remind_id = #{remindId}
		</if>
		
		<if test="userId != null and userId !=''">
			AND a.create_person_id = #{userId}
		</if>
		
	</select>
	
	<select id="queryScheduleIndexList" resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleDto">
		
		SELECT
		`schedule_id` AS scheduleId,
		`schedule_title` AS scheduleTitle,
		`begin_time` AS beginTime,
		`end_time` AS endTime
		FROM
		`pt_schedule` a
		WHERE a.delflag = '0' 
		
		<if test="scheduleId !=null and scheduleId !=''">
			AND a.schedule_id = #{scheduleId}
		</if>
		
		<if test="userId != null and userId !=''">
			AND a.create_person_id = #{userId}
		</if>
		
		<if test="beginTime != null and endTime != null">
			AND ((a.begin_time &lt;= #{beginTime} AND a.end_time &gt;=
			#{endTime})
			OR (a.begin_time &gt;= #{beginTime} AND a.end_time &lt;= #{endTime})
			OR
			(a.begin_time &gt;= #{beginTime} AND a.begin_time &lt;= #{endTime})
			OR
			(a.end_time &gt;= #{beginTime} AND a.end_time &lt;= #{endTime}))
		</if>
		
		ORDER BY begin_time desc
		
	</select>
	
	
	<select id="queryScheduleIndexCount" resultType="com.jzy.hio.oa.schedule.dto.QueryScheduleIndexDto">
	
		SELECT COUNT(DATE_FORMAT(a.`begin_time`,'%Y-%m-%d')) AS scheduleCount,a.`begin_time` 
		AS beginTime,a.schedule_title AS scheduleTitle FROM pt_schedule a WHERE a.create_person_id = #{userId} AND a.delflag = '0'
		
			
		<if test="beginTime != null and endTime != null">
			AND a.`begin_time` BETWEEN #{beginTime} AND #{endTime} 
		</if>
		
		GROUP BY DATE_FORMAT(a.`begin_time`,'%Y-%m-%d')
	</select>
</mapper>