<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	 	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
	<bean id="uploadMap" class="com.xinleju.erp.flow.config.FilePathMap">
		<property name="baseMap">
			<util:map>
				<!-- 附件配置模板 -->
				<entry value="/ATT_SP" key="ATT_SP" />
				<entry value="/PT/FLOW" key="PT-flow" />
				<entry value="/SA" key="SA" />
				<entry value="/SUPPLY" key="SUPPLY" />
				<entry value="/CB" key="CB" />
				<entry value="/EX" key="EX" />
			</util:map>
		</property>
		<property name="uploadConfigMap">
			<util:map>
				<!-- 配置文件上传相关参数 -->
				<entry key="uploadLimit" value="10" />
				<entry key="fileSizeLimit" value="50MB" />
				<entry key="successTimeout" value="5" />
				<entry key="fadeOut" value="1000" />
				<entry key="fileUploadTimeout" value="2000" />
			</util:map>
		</property>
	</bean>
</beans>


