<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xsi:schemaLocation="http://www.springframework.org/schema/beans        
    http://www.springframework.org/schema/beans/spring-beans.xsd        
    http://code.alibabatech.com/schema/dubbo        
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
		
	<!--注册服务 -->
	<dubbo:application name="xinleju-sm" />
	<dubbo:registry address="${dubbo.zookeeper.address}" />
	<dubbo:protocol name="dubbo" port="${dubbo.zookeeper.port}" />	
    <dubbo:provider retries="${dubbo.provider.retries}" timeout="${dubbo.provider.timeout}"></dubbo:provider>
     
	<dubbo:service interface="com.xinleju.erp.flow.service.api.extend.BaseAPI" ref="baseAPIService" />
	<bean id="baseAPIService" class="com.xinleju.erp.flow.service.api.extend.BaseAPIService" />
	
	<dubbo:service interface="com.xinleju.erp.flow.service.api.extend.LoginService" ref="loginService" />
	<bean id="loginService" class="com.xinleju.erp.flow.service.api.extend.LoginServiceImpl" />
	
	<dubbo:service interface="com.xinleju.erp.sm.extend.service.ExtendService" ref="extendService" />
	<bean id="extendService" class="com.xinleju.erp.sm.extend.service.impl.ExtendServiceImpl" />
	
	<dubbo:service interface="com.xinleju.erp.flow.service.api.extend.FlowOuterService" ref="flowOutService" />
	<bean id="flowOutService" class="com.xinleju.erp.flowengine.outerservice.impl.FlowOuterServiceImpl" />
	
	<!-- 
    <dubbo:service interface="com.xinleju.erp.data.cache.api.BaseExtendAPI" ref="baseAPIExtendService" />    
	<bean id="baseAPIExtendService" class="com.xinleju.erp.sm.cache.redis.BaseAPIServiceRedisImpl" />
  	
	
    <dubbo:service interface="com.xinleju.erp.sm.cache.api.UserCacheService" ref="userCacheServiceProvider" />
    <bean id="userCacheServiceProvider" class="com.xinleju.erp.sm.cache.redis.UserCacheServiceImpl" />
    
    <dubbo:service interface="com.xinleju.erp.sm.cache.api.OrgCacheService" ref="orgCacheServiceProvider" />
    <bean id="orgCacheServiceProvider" class="com.xinleju.erp.sm.cache.redis.OrgCacheServiceImpl" />
     -->
    
    
    <dubbo:service interface="com.xinleju.erp.flow.service.api.extend.OrgnService" ref="orgnServiceProvider"  timeout="30000" />
    <bean id="orgnServiceProvider"  class="com.xinleju.erp.flow.service.api.extend.OrgnServiceImpl" />
    
    <dubbo:service interface="com.xinleju.erp.flow.service.api.extend.UserSerivce" ref="userServiceProvider" timeout="30000" />
    <bean id="userServiceProvider" class="com.xinleju.erp.flow.service.api.extend.UserServiceImpl" />
    	
    <dubbo:service interface="com.xinleju.erp.flow.service.api.extend.FlowService" ref="flowServiceProvider" />
    <bean id="flowServiceProvider" class="com.xinleju.erp.flow.service.api.extend.FlowServiceImpl" />
    
    <dubbo:service interface="com.xinleju.erp.flow.service.api.extend.CommonService" ref="commonServiceProvider" />
    <bean id="commonServiceProvider" class="com.xinleju.erp.flow.service.api.extend.CommonServiceImpl" />

    <dubbo:service interface="com.xinleju.erp.com.service.pt.IPtBaseTaskJobService" ref="iPtBaseTaskJobService" />
    <bean id="iPtBaseTaskJobService" class="com.xinleju.erp.frame.service.impl.PtBaseTaskJobService" />

   </beans>
