<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
		
	<dubbo:reference id="iSaBaseTaskJobService" interface="com.xinleju.erp.com.service.sa.ISaBaseTaskJobService" />
	<dubbo:reference id="iSaBaseFlowDataService" interface="com.xinleju.erp.com.service.sa.ISaBaseFlowDataService" />
	<dubbo:reference id="iSaFeeVoucherData" interface="com.xinleju.erp.frame.itf.IFetchBillData" />
	<dubbo:reference id="iSaBaseBizDataService" interface="com.xinleju.erp.com.service.sa.ISaBaseBizDataService" />
	<!-- 会计平台-销售系统 调用单据-->
	<dubbo:reference id="syncFinaSaData" interface="com.xinleju.erp.sa.service.SyncFinaSaData" />
    <dubbo:reference id="iSaFlowUService" interface="com.xinleju.erp.sa.service.ISaFlowUService" />

	
	<!-- 会计平台-销售系统 回写凭证-->
   <!--  <dubbo:reference interface="com.xinleju.erp.sm.cache.api.RewriteFinaSaResult" id="rewriteFinaSaResult" /> -->
</beans>