<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	 	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	 	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	 	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">


    <context:property-placeholder location="classpath:application.properties"/>
	<util:properties id="appProperties" location="classpath:application.properties"></util:properties>
	<context:annotation-config />
	<context:component-scan base-package="com.xinleju" annotation-config="true" />


	<tx:advice  id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	


	<aop:aspectj-autoproxy proxy-target-class="true" />

	<aop:config proxy-target-class="true">
	    <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.xinleju.erp.flowengine.service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.xinleju.erp.flow.service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.xinleju.erp.thirdpart.oa.service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.xinleju.erp.base.app.service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.xinleju.erp.frame.service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.xinleju.erp.form.service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.xinleju.erp.sm.cache..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.xinleju.erp.finance.service..*.*(..))" />
	</aop:config>

	<aop:config>
		<aop:aspect ref="aopLog">
			<aop:pointcut expression="execution(* *..*Action.*())" id="aopLogPoint" />
			<aop:before method="before" pointcut-ref="aopLogPoint" />
			<aop:after method="after" pointcut-ref="aopLogPoint" />
			<aop:around method="around" pointcut-ref="aopLogPoint" />
			<aop:after-throwing method="doThrowing" throwing="ex" pointcut-ref="aopLogPoint" />
		</aop:aspect>
	</aop:config>

	<bean id="OrgnAPIService" class="com.xinleju.erp.flow.service.api.OrgnAPIService"></bean>

	<bean id="ParticipantAPIService" class="com.xinleju.erp.flow.service.api.ParticipantAPIService"></bean>
	<!-- 会计平台-平台 公司信息-->
    <bean id="syncFinaDataCompany" class="com.xinleju.erp.flow.service.api.extend.SyncFinaDataCompanyImpl" />
    
    <!-- 配置线程池 -->  
	<bean id ="taskExecutor" class ="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" >  
	    <!-- 线程池维护线程的最少数量 -->  
		<property name ="corePoolSize" value ="5" />
	    <!-- 线程池维护线程所允许的空闲时间 -->
		<property name ="keepAliveSeconds" value ="30000" />
	    <!-- 线程池维护线程的最大数量 -->
		<property name ="maxPoolSize" value ="100" />
	    <!-- 线程池所使用的缓冲队列 -->
		<property name ="queueCapacity" value ="200" />
	</bean>
</beans>