
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs" xsi:schemaLocation=" 
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws
http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxrs:server id="FlowServer" address="/Flow" beanNames="FlowServerService">
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<ref bean="xmlProvider" />
			<ref bean="exProvider" />
		</jaxrs:providers>
		<jaxrs:inInterceptors>
			<ref bean="basicAuthAuthorizationInterceptor" />
		</jaxrs:inInterceptors>
	</jaxrs:server>

	<jaxrs:server id="FlowAdmin" address="/FlowAdmin" beanNames="FlowAdminService">
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<ref bean="xmlProvider" />
			<ref bean="exProvider" />
		</jaxrs:providers>
		<jaxrs:inInterceptors>
			<ref bean="basicAuthAuthorizationInterceptor" />
		</jaxrs:inInterceptors>
	</jaxrs:server>

	
	
	<!-- cxf basic权限验证拦截器 -->
	<bean id="basicAuthAuthorizationInterceptor" class="com.xinleju.erp.flow.interceptor.BasicAuthAuthorizationInterceptor">
		<property name="serverUserName" value="telehot"></property>
		<property name="serverUserPsw" value="1q2w3e4r"></property>
	</bean>

	
	<bean id="jsonProvider" class="com.xinleju.erp.base.app.ws_rs.JsonWriter" />
	<bean id="xmlProvider" class="com.xinleju.erp.base.app.ws_rs.XmlWriter" />
	
	<bean id="exProvider" class="com.xinleju.erp.flow.interceptor.InvokeFaultExceptionMapper"/>
</beans> 