<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
                                                           
    <dubbo:reference id="iMDFlowCallBackService" interface="com.xinleju.erp.dataflow.service.IMDFlowCallBackService" />
	<dubbo:reference id="mdFinanceCacheService" interface="com.xinleju.erp.data.cache.api.MDFinanceCacheService" />
	<dubbo:reference id="mdProjectCacheService" interface="com.xinleju.erp.data.cache.api.MDProjectCacheService" timeout="50000"/>
	<dubbo:reference id="mDSupplierCacheService" interface="com.xinleju.erp.data.cache.api.MDSupplierCacheService" />

	<dubbo:reference id="iMdBaseTaskJobService" interface="com.xinleju.erp.com.service.md.IMdBaseTaskJobService" />
	<dubbo:reference id="iMdBaseFlowDataService" interface="com.xinleju.erp.com.service.md.IMdBaseFlowDataService" />
    <dubbo:reference id="iMdBaseBizDataService" interface="com.xinleju.erp.com.service.md.IMdBaseBizDataService" />
    <dubbo:reference id="mDBusinessCacheService" interface="com.xinleju.erp.data.cache.api.MDBusinessCacheService" />
	<!-- 会计平台-主数据 项目分期 -->
    <dubbo:reference interface="com.xinleju.erp.sm.cache.api.SyncFinaDataProjectBranchService" id="syncFinaDataProjectBranch" />
    <!-- 会计平台-主数据 产品类型-->
    <dubbo:reference interface="com.xinleju.erp.sm.cache.api.SyncFinaDataProductTypeService" id="syncFinaDataProductType" />
    <dubbo:reference interface="com.xinleju.erp.data.cache.api.MDProductCacheService" id="mdProductCacheService" />

</beans>