<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	 	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
<!-- 	<bean id="uploadMap" class="com.xinleju.erp.flow.config.FilePathMap"> -->
<!-- 		<property name="baseMap"> -->
<!-- 			<util:map> -->
				<!-- 附件配置模板 -->
<!-- 				<entry value="/ATT_SP" key="ATT_SP" /> -->
<!-- 				<entry value="/PT/flow" key="PT-flow" /> -->
<!-- 			</util:map> -->
<!-- 		</property> -->
<!-- 	</bean> -->
   <!-- 
	<bean id="oaFanCeServiceInfo" class="com.xinleju.erp.frame.models.OAServiceInfo" >
		<property name="appId" value="788579d88"></property>
		<property name="secret" value="x734yus"></property>
		<property name="tenantCode" value="FC"></property>
		<property name="synDay" value="30"></property>
		<property name="url" value="http://train.foundv.net/portal/host/sync/usersync.aspx"></property>
		<property name="orgId" value="1"></property>
	</bean>
	 -->
</beans>


