html,
body {
	background-color: #fff;
}
.mui-bar~.mui-content .mui-fullscreen {
	top: 2.7333rem;
	height: auto;
}
.mui-pull-top-tips {
	position: absolute;
	top: -1.333rem;
	left: 50%;
	margin-left: -1.666rem;
	width: 2.666rem;
	height: 2.666rem;
	border-radius: 100%;
}
.mui-bar~.mui-pull-top-tips {
	top: 1.6rem;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;*/

	margin: 0;
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 1rem;
	line-height: 2.666rem;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 2.666rem;
	box-shadow: 0 4px 10px #bbb;
	width: 2.666rem;
	height: 2.666rem;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 2.666rem;
}
.mui-slider-indicator.mui-segmented-control {
	font-size: 1rem;
	color: #666;
}
.mui-segmented-control .mui-control-item{
	line-height: 2.9333rem;
}
.mui-h4, h4{
	font-size: 0.9333rem;
	line-height: 1.4666rem;
	color: #999;
}
.mui-h5, h5{
	font-size: 0.9333rem;
	color: #2CAFFF;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6{
	margin-top:0.333rem;
	margin-bottom:0.333rem;
}
.mui-control-item{
	position: relative;
}
.mui-control-item i{
	width: 1.4666rem;
	height: 1.4666rem;
	border-radius: 50%;
	background-color: #F24848;
	position: absolute;
	color: #fff;
	font-size: 0.8666rem;
	text-align: center;
	display: inline-block;
	line-height: 1.4666rem;
	font-style: normal;
	top: 6px;
	right: 0px;
}
.mui-table-view-cell:after{
	left: 0px;
	background-color: #e8e8e8;
}
.mui-table-view-cell{
	padding: 0.666rem 1rem;
}
.my-bar{
	border-bottom: 1px solid #e8e8e8;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	top: 0.6rem;
	right: 1.5rem;
	left: 0.5rem;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
}
.mui-checkbox.mui-left label, .mui-radio.mui-left label{
	padding-right: 1rem;
	padding-left: 3rem;
}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{
	font-size: 1.5rem;
}
textarea{
	padding: 0.666rem 1rem;
	line-height: 1.4rem;
	font-size: 1rem;
}

/*详情*/

.attachment-box li{
	height: 3.866rem;
	border-bottom: 1px solid #e8e8e8;
	line-height:3.866rem;
}
.attachment-box li img{
	width: 36px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.666rem;
	outline: none;
	border:none;
}
.attachment-box li .tit{
	font-size: 1rem;
	color: #333;
	line-height: 1rem;
	max-width: 13.333rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.attachNum{
	font-size: 1rem;
	color: #2CAFFF;
	float: right;
	margin-right:1.666rem;
}
.approve-type{
	padding: 0.666rem 0;
}
.approve-type>div{
	width: 25%;
	float: left;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
	cursor: pointer;
}
.approve-type>div p{
	display: inline-block;
	border-bottom: 3px solid #fff;
	color: #666;
	font-size: 0.933rem;
	line-height: 1.2rem;
}
.approve-type>div.tongyi.active p{
	border-bottom: 3px solid #17C295;
}
.approve-type>div.zhuanban.active p{
	border-bottom: 3px solid #FFCE26;
}
.approve-type>div.xieban.active p{
	border-bottom: 3px solid #2CAFFF;
}
.approve-type>div.dahui.active p{
	border-bottom: 3px solid #F24848;
}
.approve-type>div .img{
	height: 44px;
	width: 44px;
	margin:0 auto;
	margin-bottom: 0.333rem;
}
.approve-type>div.tongyi .img{
	background: url("../myimg/ex_agree.png") no-repeat;
}
.approve-type>div.zhuanban .img{
	background: url("../myimg/ex_trans.png") no-repeat;
}
.approve-type>div.xieban .img{
	background: url("../myimg/ex_help.png") no-repeat;
}
.approve-type>div.dahui .img{
	background: url("../myimg/ex_reject.png") no-repeat;
}


@media screen and (width: 768px){
	.approve-type>div .img{
		height: 88px;
		width: 88px;

	}
	.approve-type>div.tongyi .img{
		background: url("../myimg/ex_agree@2x.png") no-repeat;
	}
	.approve-type>div.zhuanban .img{
		background: url("../myimg/ex_trans@2x.png") no-repeat;
	}
	.approve-type>div.xieban .img{
		background: url("../myimg/ex_help@2x.png") no-repeat;
	}
	.approve-type>div.dahui .img{
		background: url("../myimg/ex_reject@2x.png") no-repeat;
	}
}
@media screen and (width: 1024px){
	.approve-type>div .img{
		height: 132px;
		width: 132px;
	}
	.approve-type>div.tongyi .img{
		background: url("../myimg/ex_agree@3x.png") no-repeat;
	}
	.approve-type>div.zhuanban .img{
		background: url("../myimg/ex_trans@3x.png") no-repeat;
	}
	.approve-type>div.xieban .img{
		background: url("../myimg/ex_help@3x.png") no-repeat;
	}
	.approve-type>div.dahui .img{
		background: url("../myimg/ex_reject@3x.png") no-repeat;
	}
}


.split{
	height: 0.666rem;
	background-color: #e8e8e8;
}
.opinion-box textarea{
	height: 5rem;
	color: #666;
	padding: 0.666rem 1rem;
	font-size: 0.933rem;
	line-height: 1rem;
}
.approve-btn{
	height: 2.933rem;
}
.approve-btn button{
	background: #2CAFFF;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 1.0666rem;
}

/*会议*/
.header-tit{
	border-bottom: 1px solid #e8e8e8;
	font-size: 1.133rem;
	color: #2CAFFF;

	text-align: center;
	line-height: 2.666rem;
}
.fa.pull-left.fa-margin{
	margin-top: 0.8rem;
	margin-left: 0.8rem;
	margin-right: 0;
}
.meeting-content{
	padding: 0 0.8rem;
	border-bottom: 0.666rem solid #f5f5f5;
	padding-bottom: 1rem;
}
.meeting-content p{
	font-size: 1.1333rem;
	color: #333333;
	line-height: 1.6rem;
	margin:1rem 0;
}
.meeting-content div span{
	font-size: 1rem;
	color: #666666;
	line-height: 1.733rem;
}
.meeting-content div a{
	font-size: 1rem;
	color: #2CAFFF;
	cursor: pointer;
	float: right;
}
.meeting-content div a:after{
	content: '\e583';
	font-family: Muiicons;
	font-size: inherit;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	color: #d8d8d8;
	-webkit-font-smoothing: antialiased;
	transform: rotate(90deg);
	margin-left: 0.5rem;
}
.meeting-name{
	font-size: 1rem;
	color: #666666;
	line-height: 1.866rem;
	margin: 0.8rem 0;
	display: inline-block;
}
.bor-t{
	border-bottom: 1px solid #f5f5f5;
}
.yc-item{
	overflow: hidden;
}
.yc-item .tit{
	font-size: 1rem;
	color: #313131;
	line-height: 1rem;
}
.yc-item .tit .time{
	color: #2CAFFF;
}
.yc-item .tit i{
	width: 0.733rem;
	height: 0.733rem;
	display: inline-block;
	border-radius: 50%;
	background: #2CAFFF;
	margin:0 0.4rem;
}
.yc-item .yc-item-con{
	margin-left: 3.33rem;
	border-left: 1px solid #e8e8e8;
	padding: 0.6rem 0.8rem 1.333rem 0.8rem;
	font-size: 0.933rem;
	color: #999999;
	letter-spacing: 0;
	line-height: 1.466rem;
	overflow: hidden;
}
.yc-item .yc-item-con .con-tit{
	margin-right: 0.66rem;

}
.yc-item .yc-item-con .con-right{
	width: 11.5rem;
}
.yc-item .yc-item-con .con-right span{
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.mui-table-view-cell>a:not(.mui-btn){
	margin:-0.8rem -1rem;
	font-size: 1rem;
}