<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.userinfo.mapper.ImFriendAliasMapper">
	 
	 <update id="deleteByUidAndFid" parameterType="com.jzy.hio.entity.ImFriendAlias">
	 	UPDATE im_friend_alias
		SET delflag = 1
		WHERE
			uid = #{uid}
		AND fid = #{fid}
	 </update>
	 
</mapper>