<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.userinfo.mapper.PersonalSecretMapper">
	 
	 <update id="updateByUid" parameterType="com.jzy.hio.entity.PersonalSecret">
		UPDATE im_personal_secret
		<set>
			<if test="companyFlag != null">
				company_flag = #{companyFlag},
			</if>
			<if test="phoneFlag != null">
				phone_flag = #{phoneFlag},
			</if>
			<if test="friendMoibleFlag != null">
				friend_moible_flag = #{friendMoibleFlag},
			</if>
			<if test="workMoibleFlag != null">
				work_moible_flag = #{workMoibleFlag},
			</if>
		</set>
		WHERE
			uid = #{uid}
		AND delflag = 0
	 </update>
	 
	 
</mapper>