<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.userinfo.mapper.StarInfoMapper">
	 
	 <select id="getStartList" parameterType="string" resultType="com.jzy.hio.platform.userinfo.mode.StarInfoModel">
	 	SELECT
			u.id fid,
			u.img_url imgUrl,
			IFNULL(fa.alias_name, u.`name`) aliasName
		FROM
			im_star_info s
		INNER JOIN im_user_info u ON s.fid = u.id
		LEFT JOIN im_friend_alias fa ON fa.uid = s.uid
		AND fa.fid = s.fid AND fa.delflag = 0
		WHERE
			s.uid = #{uid}
		AND s.delflag = 0
		AND u.delflag = 0
	 </select>
	 
	 <update id="deleteByUidFid" parameterType="com.jzy.hio.entity.StarInfo">
	 	UPDATE im_star_info
		SET delflag = 1
		WHERE
			uid = #{uid}
		AND fid = #{fid}
	 </update>
	 
</mapper>