<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.userinfo.mapper.UserInfoMapper">
	 
	 <select id="queryList1" resultType="com.jzy.hio.platform.dto.userinfo.ImUserInfoDto">
	 	SELECT a.id,
	 	a.login_name  loginName,
	 	a.`name`,
	 	a.mobile ,
	 	a.password,
	 	a.HuanXin_password hxPassword,
	 	a.name_full  nameFull,
	 	a.name_simple nameSimple,
	 	a.email,
	 	a.address,
	 	a.sex,
	 	a.birthday,
	 	a.resource_img_url resourceImgUrl,
	 	a.img_url imgUrl,
	 	a.qq,
	 	a.wechat,
	 	a.state,
	 	a.status_id statusId,
	 	a.signature,
	 	a.concurrency_version concurrencyVersion ,
	 	a.idcard ,
	 	a.ding ,
	 	a.weibo ,
	 	a.longitude ,
	 	a.latitude ,
	 	a.create_date createDate,
		a.create_person_id createPersonId,
		a.create_person_name createPersonName,
		a.update_date updateDate,
		a.update_person_id updatePersonId,
		a.update_person_name updatePersonName,
	 	b.secret_set secretSet,
	 	b.mobile_flag mobileFlag,
	 	b.remind_flag remindFlag
	 	FROM im_user_info a
	 	left join im_personal_secret b on a.id = b.uid and ifnull(b.delflag,0)=0
	 	WHERE a.delflag = 0 AND a.state = 1 ORDER BY a.id ASC
	 </select>

	 <select id="getUserInfoByMap" resultType="com.jzy.hio.platform.dto.userinfo.ImUserInfoDto">
	 	SELECT a.id,
	 	a.login_name  loginName,
	 	a.`name`,
	 	a.mobile ,
	 	a.password,
	 	a.HuanXin_password hxPassword,
	 	a.name_full  nameFull,
	 	a.name_simple nameSimple,
	 	a.email,
	 	a.address,
	 	a.sex,
	 	a.birthday,
	 	a.resource_img_url resourceImgUrl,
	 	a.img_url imgUrl,
	 	a.qq,
	 	a.wechat,
	 	a.state,
	 	a.status_id statusId,
	 	a.signature,
	 	a.concurrency_version concurrencyVersion ,
	 	a.idcard ,
	 	a.ding ,
	 	a.weibo ,
	 	a.longitude ,
	 	a.latitude ,
	 	a.create_date createDate,
		a.create_person_id createPersonId,
		a.create_person_name createPersonName,
		a.update_date updateDate,
		a.update_person_id updatePersonId,
		a.update_person_name updatePersonName,
		a.running_cover_url runningCoverUrl,
	 	b.company_flag companyFlag,
	 	b.mobile_flag mobileFlag,
	 	b.remind_flag remindFlag,
	 	b.phone_flag phoneFlag,
	 	b.friend_moible_flag friendMoibleFlag,
	 	b.open_running openRunning,
	 	b.work_moible_flag workMoibleFlag
	 	FROM im_user_info a
	 	left join im_personal_secret b on a.id = b.uid and ifnull(b.delflag,0)=0
	 	WHERE ifnull(a.delflag,0)=0 
	 		<if test="state!=null and state!=''">
				and a.state=#{state}
			</if>
	 		<if test="id!=null and id!=''">
				and a.id=#{id}
			</if>
	 		<if test="mobile!=null and mobile!=''">
				and a.mobile=#{mobile}
			</if>
	 	ORDER BY a.id ASC
	 </select>
	 
	 <select id="getLoginUserInfoByMap" resultType="com.jzy.hio.platform.userinfo.mode.LoginUserInfoDto">
	 	SELECT a.id,
	 	a.login_name  loginName,
	 	a.`name`,
	 	a.mobile ,
	 	a.password,
	 	a.HuanXin_password hxPassword,
	 	a.name_full  nameFull,
	 	a.name_simple nameSimple,
	 	a.email,
	 	a.address,
	 	a.sex,
	 	a.birthday,
	 	a.resource_img_url resourceImgUrl,
	 	a.state,
	 	a.status_id statusId,
	 	a.signature,
		a.running_cover_url runningCoverUrl
	 	FROM im_user_info a
	 	WHERE ifnull(a.delflag,0)=0 AND ifnull(a.state,1)=1
	 		<if test="id!=null and id!=''">
				and a.id=#{id}
			</if>
	 		<if test="mobile!=null and mobile!=''">
				and a.mobile=#{mobile}
			</if>
	 	ORDER BY a.id ASC
	 </select>
</mapper>