#xj-form-content .table-bordered>tbody>tr>td {
    border: 1px dotted #E1E1E1;
    color: #333;
    font-size: 12px;
    width: 30%;
}


.time_1{
    float: left;
    width: 46%;
    position: relative;
}
.dao {
    float: left;
    margin: 0 5px;
    margin-top: 5px;
}
.user-list .querybtn:hover{
	background: #46A7FF;
	color: #fff;
}
.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    height: 30px;
    line-height: 30px;
}
.pr {
    width: 40%;
    position: relative;
    margin-right: 8px;
    float: left;
}
.ui-state-default, .ui-widget-content .ui-state-default{
	height:37px;
}
.flow .con-tit.setmbottom{
    padding-bottom: 12px;
}