
.ui-state-default, .ui-widget-content .ui-state-default{
    height: 40px;
    color: #333;
    padding-top: 10px;
}
.tableStyle .ui-widget-content{
    border:0;
}
.tableStyle .ui-jqgrid-bdiv{

}
.tableStyle .ui-jqgrid-hdiv{
    /*background: #acd7ff;*/
}
.ui-jqgrid tr.ui-row-ltr td{
    border-color: #eaeaea;
}
.pt20{
    padding-top: 20px;
}
.ui-jqgrid-bdiv{
    border-right:none;
}
.mytable, .myUsertable{
    overflow:hidden;
}

.help-web{
    display: inline-block;
    background: url(../../../common/custom/images/help_icon.png) no-repeat left center;
    width:12px;
    height:12px;
    background-size:cover;
    cursor: pointer;
}