<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.project.mapper.ProjectConcernMapper">

    <select id="queryProjectConcernByPersonIdAndProjectId" parameterType="com.jzy.hio.entity.ProjectConcern" resultType="java.lang.Integer">
        select count(*)

		from oa_project_concern c where c.project_id = #{projectId} and c.concern_person_id = #{concernPersonId}
    </select>

    <update id="changeProjectConcern" parameterType="com.jzy.hio.entity.ProjectConcern">
        DELETE FROM  oa_project_concern
        where concern_person_id = #{concernPersonId} and project_id = #{projectId}
    </update>

</mapper>