<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.project.mapper.ProjectStageGroupMapper">

    <select id="queryProjectStageGroupListByStageId" resultType="com.jzy.hio.entity.ProjectStageGroup">
     SELECT
     t.id ,
	t.stage_group_name AS stageGroupName,
    t.stage_group_order AS stageGroupOrder,
    t.stage_id AS stageId
FROM
	oa_project_stage_group t
WHERE
	    t.stage_id = #{stageId} and t.delflag = 0

	     order by t.stage_group_order ASC

    </select>
	<update id="deleteProjectStageGroupById">
		UPDATE oa_project_stage_group s SET  s.delflag = 1 where s.id = #{id}
	</update>


</mapper>