<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.project.mapper.ProjectStageMapper">

    <select id="queryProjectStageListByProjectInfoId" resultType="com.jzy.hio.entity.ProjectStage">
      select s.id, s.stage_name, s.stage_desc,
s.stage_start_time,s.stage_end_time,
s.stage_responsible_person_id,
 s.stage_responsible_person_name,
s.project_id from oa_project_stage s
	   where s.project_id = #{projectId} and s.delflag = 0 order by s.create_date desc
        <if test="start != null and pageCount != null">
            limit #{start}, #{pageCount}
        </if>
    </select>

    <select id="queryProjectStageCountByProjectInfoId" resultType="com.jzy.hio.entity.ProjectStage">
      select COUNT(s.id) from oa_project_stage s
	   where s.project_id = #{projectId} and s.delflag = 0

    </select>

    <update id="deleteProjectStageById">
        UPDATE oa_project_stage s SET  s.delflag = 1 where s.id = #{id}
    </update>


    <select id="queryProjectStageByProjectInfoIdAndStageName" resultType="com.jzy.hio.entity.ProjectStage">
        select s.id, s.stage_name, s.stage_desc,
        s.stage_start_time,s.stage_end_time,
        s.stage_responsible_person_id,
        s.stage_responsible_person_name,
        s.project_id from oa_project_stage s
        where s.project_id = #{projectId}
        and s.stage_name = #{stageName}
        and s.delflag = 0
    </select>



</mapper>