<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.project.mapper.ProjectTrendsMapper">

    <select id="queryProjectTrendsListByProjectInfoId" resultType="com.jzy.hio.entity.ProjectTrends">
     SELECT
	t.trend_content AS trendContent,
	t.trend_person_id AS trendPersonId,
	t.trend_person_name AS trendPersonName,
	t.trend_create_time AS trendCreateTime,
	t.trend_end_time AS trendEndTime,
	t.project_id AS projectId

FROM
	oa_project_trends t
WHERE
	    t.project_id = #{projectId} and t.delflag = 0 ORDER BY t.trend_create_time DESC

		<if test="start != null and pageCount != null">
			limit #{start}, #{pageCount}
		</if>

    </select>

	<select id="queryProjectTrendsCountByProjectInfoId" resultType="java.lang.Integer">
		SELECT
		COUNT(t.project_id)

		FROM
		oa_project_trends t
		WHERE
		t.project_id = #{projectId} and t.delflag = 0 ORDER BY t.trend_create_time DESC



	</select>

</mapper>