<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.project.mapper.ProjectStageTeamPersonMapper">


    <select id="queryProjectStageTeamPerson" resultType="com.jzy.hio.entity.ProjectStageTeamPerson" >
			SELECT
			p.stage_team_person_id AS stageTeamPersonId,
			p.stage_team_person_im_id AS stageTeamPersonImId,
			p.stage_team_person_name AS stageTeamPersonName,
			p.stage_team_person_tag AS stageTeamPersonTag,
			p.stage_team_person_dept_id AS stageTeamPersonDeptId,
			p.stage_team_person_company AS stageTeamPersonCompany,
  			p.stage_id AS stageId,
  			p.stage_team_type AS stageTeamType

		FROM
			oa_project_team_person p
		WHERE
			p.project_id = #{stageId}

		<if test="stageTeamType != null and stageTeamType != '' ">
			and stage_team_type = #{stageTeamType}
		</if>

    </select>

	<select id="queryProjectStageTeamPersonCountByProjectId" resultType="java.lang.Integer"  >

		SELECT

		count(distinct p.stage_team_person_id)


		FROM
		oa_project_stage_team_person p
		WHERE
		p.stage_id = #{stageId} and p.delflag = 0
	</select>


	<delete id="deleteProjectStageTeamPersonByProjectIdAndUserIdAndTeamType" parameterType="com.jzy.hio.entity.ProjectStageTeamPerson">
		delete from oa_project_stage_team_person
		where 1=1

		<if test="stageTeamType != null and stageTeamType != '' ">
			and stage_team_type = #{teamType}
		</if>
		<if test="stageTeamPersonId != null and stageTeamPersonId != '' ">
			and stage_team_person_id = #{teamPersonId}
		</if>
		<if test="stageId != null and stageId != '' ">
			and stage_id = #{stageId}
		</if>
	</delete>

	<delete id="deleteProjectStageTeamPersonByStageId"   >
		delete from oa_project_stage_team_person
		where 1=1



			and stage_id = #{stageId}

	</delete>

</mapper>