<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.entity.InstanceStat">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.InstanceStat">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.InstanceStat">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.InstanceStat">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<select id="statUseTimes" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceStatDto" parameterType="java.util.HashMap">
		select d.name appName, c.name flowName, c.code flowCode, b.name busiObjectName, count(a.id) userTimes
		from pt_flow_instance a, pt_flow_business_object b, pt_flow_fl c, pt_sys_res_app d
		where a.business_object_id = b.id and a.fl_id =c.id and a.app_id = d.id
		<if test="appId != null and appId != '' and appId != '-1'">
			AND a.app_id = #{appId}
		</if>
		
		<if test="startDate != null and startDate != ''">
			AND a.start_date &gt;= #{startDate} 
		</if>
		<if test="endDate != null and endDate != ''">
			AND a.start_date &lt;= #{endDate} 
		</if>
		
		<if test="busiObjectId != null and busiObjectId != '-1'">
			AND a.business_object_id in 
			<foreach item="item" index="index" collection="busiObjectId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
			
		GROUP BY appName, flowName, flowCode, busiObjectName
		ORDER BY appName, flowName, flowCode, busiObjectName
	</select>
	
	<select id="statInstanceEffiency" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceStatDto" parameterType="java.util.HashMap">
		SELECT 
			<if test='statWay=="COM"'>  
	    		'COM' statWay,flow_business_company_name  statWayName, flow_business_company_Id statWayId, 
			</if>
		    <if test='statWay=="DEPT"'>  
	    		'DEPT' statWay, flow_business_dept_name  statWayName, flow_business_dept_Id statWayId, 
			</if>
			<if test='statWay=="FLOW"'>  
	    		'FLOW' statWay, b.name statWayName, b.code statWayId, 
			</if>
			start_date startDate, IFNULL(end_date, now()) endDate,
		    timestampdiff(second, start_date, IFNULL(end_date, now())) hourSum 
		FROM pt_flow_instance a, pt_flow_fl b WHERE a.fl_id = b.id 
		<if test="appId != null and appId != '' and appId != '-1'">
			AND a.app_id = #{appId}
		</if>
		
		<if test='statWay=="COM"'> 
			AND a.flow_business_company_Id is not null 
			AND a.flow_business_company_Id!='' 
			AND a.flow_business_company_Id!='null'
		</if>
		<if test='statWay=="DEPT"'> 
			AND a.flow_business_dept_Id is not null 
			AND a.flow_business_dept_Id!='' 
			AND a.flow_business_dept_Id!='null'
		</if>
		
		<if test="startDate1 != null and startDate1 != ''">
			AND a.start_date &gt;= #{startDate1} 
		</if>
		<if test="endDate1 != null and endDate1 != ''">
			AND a.start_date &lt;= #{endDate1} 
		</if>
		
		<if test="startDate2 != null and startDate2 != ''">
			AND IFNULL(a.end_date, now()) &gt;= #{startDate2} 
		</if>
		
		<if test="endDate2 != null and endDate2 != ''">
			AND IFNULL(a.end_date, now()) &lt;= #{endDate2} 
		</if>
		
		<if test="busiObjectId != null and busiObjectId != '-1'">
			AND a.business_object_id in 
			<foreach item="item" index="index" collection="busiObjectId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		<if  test='compareType =="greaterEqual"'>
		    <if test="startSum != null and startSum != '' ">
		    	AND timestampdiff(hour, start_date, IFNULL(end_date, now())) &gt;= #{startSum}
		    </if>
		</if>
		<if  test='compareType =="lessEqual"'>
			<if test="startSum != null and startSum != '' ">
				AND timestampdiff(hour, start_date, IFNULL(end_date, now())) &lt;= #{startSum}
			</if>
		</if>
		<if  test='compareType =="equal"'>
			<if test="startSum != null and startSum != '' ">
				AND timestampdiff(hour, start_date, IFNULL(end_date, now())) = #{startSum}
			</if>
		</if>
		<if  test='compareType =="between"'>
			<if test="startSum != null and startSum != '' ">
				AND timestampdiff(hour, start_date, IFNULL(end_date, now())) &gt;= #{startSum}
			</if>
			<if test="endSum != null and endSum != '' ">
				AND timestampdiff(hour, start_date, IFNULL(end_date, now())) &lt;= #{endSum}
			</if>
		</if>
		ORDER BY statWay ,statWayName,statWayId
	</select>
	
	<select id="statInstanceEffiency_old" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceStatDto" parameterType="java.util.HashMap">
		SELECT 
			<if test='statWay=="COM"'>  
	    		'COM' statWay,companyName  statWayName, companyId statWayId, 
			</if>
		    <if test='statWay=="DEPT"'>  
	    		'DEPT' statWay, deptName  statWayName, deptId statWayId, 
			</if>
			<if test='statWay=="FLOW"'>  
	    		'FLOW' statWay, flowName statWayName, flowId statWayId, 
			</if>
		FORMAT(avg(hourSum),2) avgSum, max(hourSum) maxSum,min(hourSum) minSum FROM (
 		SELECT b.name flowName, a.fl_id flowId , 
 		flow_business_company_name companyName, flow_business_company_Id companyId,
 		flow_business_dept_name deptName, flow_business_dept_Id deptId,
		timestampdiff(hour, start_date, IFNULL(end_date, now())) hourSum 
		FROM pt_flow_instance a, pt_flow_fl b WHERE a.fl_id = b.id 
		<if test="appId != null and appId != '' and appId != '-1'">
			AND a.app_id = #{appId}
		</if>
		
		<if test='statWay=="COM"'> 
			AND a.flow_business_company_Id is not null 
			AND a.flow_business_company_Id!='' 
			AND a.flow_business_company_Id!='null'
		</if>
		<if test='statWay=="DEPT"'> 
			AND a.flow_business_dept_Id is not null 
			AND a.flow_business_dept_Id!='' 
			AND a.flow_business_dept_Id!='null'
		</if>
		
		<if test="startDate1 != null and startDate1 != ''">
			AND a.start_date &gt;= #{startDate1} 
		</if>
		<if test="endDate1 != null and endDate1 != ''">
			AND a.start_date &lt;= #{endDate1} 
		</if>
		
		<if test="startDate2 != null and startDate2 != ''">
			AND IFNULL(a.end_date, now()) &gt;= #{startDate2} 
		</if>
		
		<if test="endDate2 != null and endDate2 != ''">
			AND IFNULL(a.end_date, now()) &lt;= #{endDate2} 
		</if>
		
		<if test="busiObjectId != null and busiObjectId != '-1'">
			AND a.business_object_id in 
			<foreach item="item" index="index" collection="busiObjectId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		<if  test='compareType =="greaterEqual"'>
		    <if test="startSum != null and startSum != '' ">
		    	AND timestampdiff(hour, start_date, IFNULL(end_date, now())) &gt;= #{startSum}
		    </if>
		</if>
		<if  test='compareType =="lessEqual"'>
			<if test="startSum != null and startSum != '' ">
				AND timestampdiff(hour, start_date, IFNULL(end_date, now())) &lt;= #{startSum}
			</if>
		</if>
		<if  test='compareType =="equal"'>
			<if test="startSum != null and startSum != '' ">
				AND timestampdiff(hour, start_date, IFNULL(end_date, now())) = #{startSum}
			</if>
		</if>
		<if  test='compareType =="between"'>
			<if test="startSum != null and startSum != '' ">
				AND timestampdiff(hour, start_date, IFNULL(end_date, now())) &gt;= #{startSum}
			</if>
			<if test="endSum != null and endSum != '' ">
				AND timestampdiff(hour, start_date, IFNULL(end_date, now())) &lt;= #{endSum}
			</if>
		</if>
		GROUP BY flowName,companyName, deptName ) aa
		GROUP BY statWay, statWayName, statWayId ORDER BY statWay ,statWayName,statWayId
	</select>
	
	<select id="statOperateTimes" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceStatDto" parameterType="java.util.HashMap">
		select 
		   <if test='statWay=="COM"'>  
	    		'COM' statWay,a.flow_business_company_name statWayName, a.flow_business_company_Id statWayId,
			</if>
		    <if test='statWay=="DEPT"'>  
	    		'DEPT' statWay, a.flow_business_dept_name  statWayName, a.flow_business_dept_Id statWayId,
			</if>
			<if test='statWay=="FLOW"'>  
	    		'FLOW' statWay, c.name statWayName, c.code statWayId,
			</if>
		 SUM( CASE operate_type WHEN  'SEND_BACK'  THEN 1 ELSE 0 END ) sendBackSum, 
		 SUM( CASE operate_type WHEN  'CANCEL'  THEN 1 ELSE 0 END ) cancelSum, 
		 SUM( CASE operate_type WHEN  'TRANSFER'  THEN 1 ELSE 0 END ) transferSum, 
		 SUM( CASE operate_type WHEN  'COOPERATE'  THEN 1 ELSE 0 END ) cooperateSum, 
		 SUM( CASE operate_type WHEN  'DRAW_BACK_INSTANCE'  THEN 1 ELSE 0 END ) backInstSum, 
		 SUM(  CASE operate_type WHEN  'DRAW_BACK_TASK'  THEN 1 ELSE 0 END ) backTaskSum, 
		SUM( CASE operate_type WHEN  'MODIFY_ADVICE'  THEN 1 ELSE 0 END ) modifySum
		FROM pt_flow_instance a, pt_flow_instance_operate_log b , pt_flow_fl c
		WHERE a.id = b.instance_id and c.id = a.fl_id
		<if test="appId != null and appId != '' and appId != '-1'">
			AND a.app_id = #{appId}
		</if>
		
		<if test="startDate1 != null and startDate1 != ''">
			AND a.start_date &gt;= #{startDate1} 
		</if>
		<if test="endDate1 != null and endDate1 != ''">
			AND a.start_date &lt;= #{endDate1} 
		</if>
		<if test='statWay=="COM"'> 
			AND a.flow_business_company_Id is not null 
			AND a.flow_business_company_Id!='' 
			AND a.flow_business_company_Id!='null'
		</if>
		<if test='statWay=="DEPT"'> 
			AND a.flow_business_dept_Id is not null 
			AND a.flow_business_dept_Id!='' 
			AND a.flow_business_dept_Id!='null'
		</if>
		
		<if test="startDate2 != null and startDate2 != ''">
			AND IFNULL(a.end_date, now()) &gt;= #{startDate2} 
		</if>
		<if test="endDate2 != null and endDate2 != ''">
			AND IFNULL(a.end_date, now()) &lt;= #{endDate2} 
		</if>
		
		<if test="busiObjectId != null and busiObjectId != '-1'">
			AND a.business_object_id in 
			<foreach item="item" index="index" collection="busiObjectId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		GROUP BY statWay, statWayName, statWayId ORDER BY statWay ,statWayName,statWayId
	</select>
	
	<select id="statTaskLength" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceStatDto" parameterType="java.util.HashMap">
		SELECT 
		    <if test='statWay=="COM"'>  
	    		'COM' statWay , b.company_id statWayId, IFNULL(org.name, b.company_id) statWayName,
			</if>
		    <if test='statWay=="DEPT"'>  
	    		'DEPT' statWay , b.dept_id statWayId , IFNULL(org.name, b.dept_id) statWayName,
			</if>
			<if test='statWay=="USER"'>  
	    		'USER' statWay , b.operator_ids statWayId, IFNULL(user.real_name, b.operator_ids) statWayName, 
			</if>
		b.instance_id  instanceId, start_date startDate, end_date endDate, hour_sum hourSum 
		FROM view_flow_instance_stat b left join 
		<if test='statWay=="COM"'>  
	    	pt_sys_org_orgnazation org ON b.company_id = org.id 
		</if>
		
		<if test='statWay=="DEPT"'>  
	    	pt_sys_org_orgnazation org ON b.dept_id = org.id 
		</if>
		
		<if test='statWay=="USER"'>  
	    	pt_sys_org_user user ON b.operator_ids = user.id 
		</if>
		
		WHERE EXISTS ( 
	 		SELECT 1 FROM pt_flow_instance a WHERE 1=1  and b.instance_id=a.id
			<if test="appId != null and appId != '' and appId != '-1'">
				AND a.app_id = #{appId} 
			</if>
			<if test="startDate1 != null and startDate1 != ''">
				AND a.start_date &gt;= #{startDate1}  
			</if>
			<if test="endDate1 != null and endDate1 != ''">
				AND a.start_date &lt;= #{endDate1} 
			</if>
			<if test="startDate2 != null and startDate2 != ''">
				AND IFNULL(a.end_date, now()) &gt;= #{startDate2} 
			</if>
			<if test="endDate2 != null and endDate2 != ''">
				AND IFNULL(a.end_date, now()) &lt;= #{endDate2} 
			</if>
			<if test="busiObjectId != null and busiObjectId != '-1'">
				AND a.business_object_id in 
				<foreach item="item" index="index" collection="busiObjectId" open="(" separator="," close=")">  
		            #{item} 
		        </foreach>
			</if>
		 )
		 
		<if test='statWay=="COM"'>  
    		AND b.company_id is not null
		</if>
	    <if test='statWay=="DEPT"'>  
    		AND b.dept_id is not null
		</if>
		<if test='statWay=="USER"'>  
    		AND  b.operator_ids is not null
		</if>
		order by statWayId
	</select>
	
	<select id="statTaskLength_old" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceStatDto" parameterType="java.util.HashMap">
		SELECT 
		    <if test='statWay=="COM"'>  
	    		'COM' statWay , b.company_id statWayId, org.name statWayName,
			</if>
		    <if test='statWay=="DEPT"'>  
	    		'DEPT' statWay , b.dept_id statWayId , org.name statWayName,
			</if>
			<if test='statWay=="USER"'>  
	    		'USER' statWay , b.operator_ids statWayId, user.name statWayName, 
			</if>
		count(b.instance_id) taskSum, FORMAT(avg(hour_sum),2) avgSum, max(hour_sum) maxSum, min(hour_sum) minSum 
		FROM view_flow_instance_stat b, left join 
		<if test='statWay=="COM"'>  
	    	pt_sys_org_orgnazation org ON b.company_id = org.id 
		</if>
		
		<if test='statWay=="DEPT"'>  
	    	pt_sys_org_orgnazation org ON b.dept_id = org.id 
		</if>
		
		<if test='statWay=="USER"'>  
	    	pt_sys_org_user user ON b.operator_ids = user.id 
		</if>
		
		WHERE b.instance_id in ( 
 		SELECT a.id FROM pt_flow_instance a WHERE 1=1 
		<if test="appId != null and appId != '' and appId != '-1'">
			AND a.app_id = #{appId} 
		</if>
		<if test="startDate1 != null and startDate1 != ''">
			AND a.start_date &gt;= #{startDate1}  
		</if>
		<if test="endDate1 != null and endDate1 != ''">
			AND a.start_date &lt;= #{endDate1} 
		</if>
		<if test="startDate2 != null and startDate2 != ''">
			AND IFNULL(a.end_date, now()) &gt;= #{startDate2} 
		</if>
		<if test="endDate2 != null and endDate2 != ''">
			AND IFNULL(a.end_date, now()) &lt;= #{endDate2} 
		</if>
		<if test="busiObjectId != null and busiObjectId != '-1'">
			AND a.business_object_id in 
			<foreach item="item" index="index" collection="busiObjectId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		 )

		<if  test='compareType =="greaterEqual"'>
		    <if test="startSum != null and startSum != '' ">
		    	AND hour_sum &gt;= #{startSum} 
		    </if>
		</if>
		<if  test='compareType =="lessEqual"'>
			<if test="startSum != null and startSum != '' ">
				AND hour_sum &lt;= #{startSum} 
			</if>
		</if>
		<if  test='compareType =="equal"'>
			<if test="startSum != null and startSum != '' ">
				AND hour_sum = #{startSum} 
			</if>
		</if>
		
		<if  test='compareType =="between"'>
			<if test="startSum != null and startSum != '' ">
				AND hour_sum &gt;= #{startSum} 
			</if>
			<if test="endSum != null and endSum != '' ">
				AND hour_sum &lt;= #{endSum} 
			</if>
		</if>
		
		GROUP BY statWay, statWayId  
		ORDER BY statWay, statWayId
	</select>
	   
	<select id="queryHolidaySumAndMinMAxDate" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceStatDto" parameterType="java.util.HashMap">
	    SELECT count(a.id) hourSum, min(a.day_text) startDate, max(a.day_text) endDate 
	    FROM pt_flow_calendar_detail a WHERE a.day_type='2' 
	    AND a.day_text &gt;= #{startDate} AND a.day_text &lt;= #{endDate}
	</select>
	     
	<select id="detailOperateTimesList" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceDto" parameterType="java.util.HashMap">
		SELECT a.id, a.code, a.name, c.name busiObjectName, a.start_date startDate, 
		a.start_user_name startUserName, a.start_company_id startCompanyId, a.start_dept_id startDeptId, 
		a.flow_business_dept_name flowBusinessDeptName,  
		a.flow_business_company_name flowBusinessCompanyName, b.name flowName, 
		a.current_approvers currentApprovers, a.status 
		FROM pt_flow_instance a, pt_flow_fl b, pt_flow_business_object c 
		where a.fl_id = b.id and a.business_object_id = c.id 
		<if test="appId != null and appId != '' and appId != '-1'">
			AND a.app_id = #{appId}
		</if>
		
		<if test="startDate1 != null and startDate1 != ''">
			AND a.start_date &gt;= #{startDate1} 
		</if>
		<if test="endDate1 != null and endDate1 != ''">
			AND a.start_date &lt;= #{endDate1} 
		</if>
		
		<if test="startDate2 != null and startDate2 != ''">
			AND IFNULL(a.end_date, now()) &gt;= #{startDate2} 
		</if>
		<if test="endDate2 != null and endDate2 != ''">
			AND IFNULL(a.end_date, now()) &lt;= #{endDate2} 
		</if>
		
		<if test="busiObjectId != null and busiObjectId != '-1'">
			AND a.business_object_id in 
			<foreach item="item" index="index" collection="busiObjectId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if> 
		<!-- operateType=SEND_BACK -->
		<if test="operateType != null and operateType != '-1'">
		   AND a.id in (select instance_id from pt_flow_instance_operate_log where operate_type=#{operateType} )
		</if>
		
		<!-- statWay=FLOW&statWayId=a30e37ea71ef49b88743496a44241d10 -->
		<if test='statWay=="COM"'>  
	    	AND a.flow_business_company_Id = #{statWayId}
		</if>
		<if test='statWay=="DEPT"'>  
	    	AND a.flow_business_dept_Id = #{statWayId}
		</if>
		<if test='statWay=="FLOW"'>  
	    	AND b.code = #{statWayId}
		</if>
			
	</select>
	
	<select id="detailTaskLengthList" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceStatDto" parameterType="java.util.HashMap">
		SELECT
			ou.real_name operatorName,
			ol.operate_time startDate,
			IFNULL(ol.delete_time, ol.operate_time) endDate,
			cd.day_type dayType,
			timestampdiff(
				SECOND,
				ol.operate_time,
				IFNULL(ol.delete_time, now())
			) hourSum,
			b. NAME acName,
			a. NAME instanceName,
			ol.instance_id instanceId,
			ol.operate_content operateContent,
			a.flow_business_company_name startCompanyName,
			CASE
		WHEN ol.delete_time IS NOT NULL THEN
			1
		ELSE
			0
		END finishFlag
		FROM
			pt_flow_instance_operate_log ol,
			pt_flow_instance a,
			pt_flow_instance_ac b,
			pt_flow_calendar_detail cd,
			pt_sys_org_user ou
		WHERE
			ol.operate_type = 'TO_DO'
		AND ol.instance_id = a.id
		AND ol.ac_id = b.id
		AND ou.id = ol.operator_ids
		AND cd.day_text = DATE_FORMAT(
			IFNULL(ol.delete_time, now()),
			'%Y-%m-%d'
		)		
		<if test="appId != null and appId != '' and appId != '-1'">
			AND a.app_id = #{appId}
		</if>
		<if test="startDate1 != null and startDate1 != ''">
			AND a.start_date &gt;= #{startDate1} 
		</if>
		<if test="endDate1 != null and endDate1 != ''">
			AND a.start_date &lt;= #{endDate1} 
		</if>
		
		<if test="startDate2 != null and startDate2 != ''">
			AND IFNULL(a.end_date, now()) &gt;= #{startDate2} 
		</if>
		
		<if test="endDate2 != null and endDate2 != ''">
			AND IFNULL(a.end_date, now()) &lt;= #{endDate2} 
		</if>
		
		<if test="busiObjectId != null and busiObjectId != '-1'">
			AND a.business_object_id in 
			<foreach item="item" index="index" collection="busiObjectId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		
		<if test='statWay=="COM"'>  
	    	AND a.flow_business_company_Id = #{statWayId}
		</if>
		<if test='statWay=="DEPT"'>  
	    	AND a.flow_business_dept_Id = #{statWayId}
		</if>
		<if test='statWay=="USER"'>  
	    	AND ol.operator_ids=#{statWayId}
		</if>
		ORDER BY ol.operate_time DESC
	</select>
	<!-- id code name busiObjectName startDate startUserName 
	flowBusinessDeptName flowBusinessCompanyName flowName startDate endDate hourSum-->
	
	<select id="detailInstanceEfficiencyList" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceStatDto" parameterType="java.util.HashMap">
		SELECT a.id, a.code, a.name, c.name busiObjectName,
		a.start_user_name startUserName, a.flow_business_dept_name flowBusinessDeptName,  
		a.flow_business_company_name flowBusinessCompanyName,b.name flowName, 
		start_date startDate, IFNULL(end_date, now()) endDate,
		    timestampdiff(second, start_date, IFNULL(end_date, now())) hourSum 
		FROM pt_flow_instance a, pt_flow_fl b, pt_flow_business_object c 
		where a.fl_id = b.id and a.business_object_id = c.id 
		<if test="appId != null and appId != '' and appId != '-1'">
			AND a.app_id = #{appId}
		</if>
		<if test="startDate1 != null and startDate1 != ''">
			AND a.start_date &gt;= #{startDate1} 
		</if>
		<if test="endDate1 != null and endDate1 != ''">
			AND a.start_date &lt;= #{endDate1} 
		</if>
		
		<if test="startDate2 != null and startDate2 != ''">
			AND IFNULL(a.end_date, now()) &gt;= #{startDate2} 
		</if>
		
		<if test="endDate2 != null and endDate2 != ''">
			AND IFNULL(a.end_date, now()) &lt;= #{endDate2} 
		</if>
		
		<if test="busiObjectId != null and busiObjectId != '-1'">
			AND a.business_object_id in 
			<foreach item="item" index="index" collection="busiObjectId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		<if  test='compareType =="greaterEqual"'>
		    <if test="startSum != null and startSum != '' ">
		    	AND timestampdiff(hour, a.start_date, IFNULL(a.end_date, now())) &gt;= #{startSum}
		    </if>
		</if>
		<if  test='compareType =="lessEqual"'>
			<if test="startSum != null and startSum != '' ">
				AND timestampdiff(hour, a.start_date, IFNULL(a.end_date, now())) &lt;= #{startSum}
			</if>
		</if>
		<if  test='compareType =="equal"'>
			<if test="startSum != null and startSum != '' ">
				AND timestampdiff(hour, a.start_date, IFNULL(a.end_date, now())) = #{startSum}
			</if>
		</if>
		<if  test='compareType =="between"'>
			<if test="startSum != null and startSum != '' ">
				AND timestampdiff(hour, a.start_date, IFNULL(a.end_date, now())) &gt;= #{startSum}
			</if>
			<if test="endSum != null and endSum != '' ">
				AND timestampdiff(hour, a.start_date, IFNULL(a.end_date, now())) &lt;= #{endSum}
			</if>
		</if>
		<!-- statWay=FLOW&statWayId=a30e37ea71ef49b88743496a44241d10 -->
		<if test='statWay=="COM"'>  
	    	AND a.flow_business_company_Id = #{statWayId}
		</if>
		<if test='statWay=="DEPT"'>  
	    	AND a.flow_business_dept_Id = #{statWayId}
		</if>
		<if test='statWay=="FLOW"'>  
	    	AND b.code = #{statWayId} 
		</if>
	</select>
	
	
	<select id="queryDayTypeByGivenDay" resultType="java.lang.String" parameterType="java.util.HashMap">
	    SELECT a.day_type dayType FROM pt_flow_calendar_detail a WHERE a.day_text = #{givenDay} 
	</select>
</mapper>
