<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.entity.InstanceAccessible">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.InstanceAccessible">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.InstanceAccessible">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.InstanceAccessible">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<update id="deleteByInstanceId" parameterType="java.util.HashMap">
		UPDATE pt_flow_instance_accessible SET delflag = 1 WHERE fi_id = #{instanceId}
	</update>
	
	<update id="deleteReaderDataByParamMap" parameterType="java.util.HashMap">
		UPDATE pt_flow_instance_accessible SET delflag = 1 , update_date=now()
		WHERE delflag = 0 
		<if test="instanceIds != null and instanceIds != ''">
			AND fi_id  in 
			<foreach item="item" index="index" collection="instanceIds" open="(" separator="," close=")">  
		        #{item} 
		    </foreach>
		</if>
		
		<if test="userId != null and userId != ''">
		    AND accessible_id = #{userId}
		</if>
		<if test="fiId != null and fiId != ''">
		    AND fi_id = #{fiId}
		</if>
		
		<if test="idArray != null and idArray != ''">
			AND id  in 
			<foreach item="item" index="index" collection="idArray" open="(" separator="," close=")">  
		        #{item} 
		    </foreach>
		</if>
		<if test="composeIds != null and composeIds != ''">
			AND CONCAT(fi_id, ';;', accessible_id) in 
			<foreach item="item" index="index" collection="composeIds" open="(" separator="," close=")">  
		        #{item} 
		    </foreach>
		</if>
	</update>

	<select id="queryInstanceReaderList" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceAccessibleDto" parameterType="java.util.HashMap">
		SELECT distinct t.accessible_id accessibleId, t.accessible_name accessibleName, inst.id instanceId, inst.name instanceName
		FROM pt_flow_instance_accessible t, pt_flow_instance inst 
		WHERE t.fi_id = inst.id AND t.delflag=0 AND inst.delflag=0
		<if test="instanceIds != null and instanceIds != ''">
			AND t.fi_id  in 
			<foreach item="item" index="index" collection="instanceIds" open="(" separator="," close=")">  
		        #{item} 
		    </foreach>
		</if>
		<if test="name != null and name != ''">
		    AND t.accessible_name LIKE concat('%',  #{name} ,'%')
		</if>
		ORDER BY convert(t.accessible_name USING gbk)
	</select>
</mapper>