<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.quartz.mapper.ScheduleQuartzRemindMapper">
	
	<select id="queryScheduleRemindList" resultType="com.jzy.hio.entity.ScheduleRemind">
		SELECT
		`id`,
		`remind_id` AS remindId,
		`remind_time` AS remindTime,
		`remind_status` AS remindStatus,
		`create_person_id` AS createPersonId,
		`create_person_name`AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`isremind_createperson` AS isremindCreateperson,
		`isremind_liable` AS isremindLiable,
		`isremind_affiliated` AS isremindAffiliated,
		`concurrency_version` AS concurrencyVersion,
		repetition_frequency AS repetitionFrequency,
		remind_endtime AS remindEndtime,
		end_frequency AS endFrequency
		FROM
		`pt_schedule_remind` WHERE delflag = '0'
		
		<if test="remindStatus != null and remindStatus !=''">
			AND remind_status = #{remindStatus}
		</if>
		
	</select>
	
		<select id="queryCountScheduleRemindList" resultType="Integer">
		
		SELECT COUNT(`remind_id`) FROM
		`pt_schedule_remind` WHERE delflag = '0'
		
		<if test="remindStatus != null and remindStatus !=''">
			AND remind_status = #{remindStatus}
		</if>
		
	</select>
	
	<update id="updateRemindIdStatus">
		update pt_schedule_remind set remind_status = #{remindStatus}
		where remind_id = #{remindId}
	</update>

</mapper>