<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.quartz.mapper.ScheduleQuartzMapper">
	
	<select id="queryScheduleList" resultType="com.jzy.hio.entity.Schedule">

		SELECT
		`id`,
		`schedule_id` AS scheduleId,
		`schedule_title` AS scheduleTitle,
		`begin_time` AS beginTime,
		`end_time` AS endTime,
		`is_repeat` AS isRepeat,
		`advance_time` AS advanceTime,
		`schedule_group_id` AS scheduleGroupId,
		`address`,
		`schedule_details` AS scheduleDetails,
		`calendar_id` AS calendarId,
		`remind_id` AS remindId,
		`create_person_id` AS createPersonId,
		`create_person_name` AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`concurrency_version` AS concurrencyVersion
		FROM
		`pt_schedule`
		WHERE delflag = '0' 
		<if test="scheduleId !=null and scheduleId !=''">
			AND schedule_id = #{scheduleId}
		</if>
		<if test="remindId != null and remindId !=''">
			AND remind_id = #{remindId}
		</if>
		<if test="remindStatus != null and remindStatus !=''">
			AND remind_status = #{remindStatus}
		</if>

	</select>
	
	<select id="queryScheduleId" resultType="com.jzy.hio.entity.Schedule">

		SELECT
		`id`,
		`schedule_id` AS scheduleId,
		`schedule_title` AS scheduleTitle,
		`begin_time` AS beginTime,
		`end_time` AS endTime,
		`is_repeat` AS isRepeat,
		`advance_time` AS advanceTime,
		`schedule_group_id` AS scheduleGroupId,
		`address`,
		`schedule_details` AS scheduleDetails,
		`calendar_id` AS calendarId,
		`remind_id` AS remindId,
		`create_person_id` AS createPersonId,
		`create_person_name` AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`concurrency_version` AS concurrencyVersion
		FROM
		`pt_schedule`
		WHERE delflag = '0' 
		<if test="scheduleId !=null and scheduleId !=''">
			AND schedule_id = #{scheduleId}
		</if>
		<if test="remindId != null and remindId !=''">
			AND remind_id = #{remindId}
		</if>

	</select>
	
	<select id="queryNewScheduleId" resultType="com.jzy.hio.entity.ScheduleNewTwo">

		SELECT
		`id`,
		`schedule_id` AS scheduleId,
		`schedule_title` AS scheduleTitle,
		`begin_time` AS beginTime,
		`end_time` AS endTime,
		`is_repeat` AS isRepeat,
		`advance_time` AS advanceTime,
		`schedule_group_id` AS scheduleGroupId,
		`address`,
		`schedule_details` AS scheduleDetails,
		`calendar_id` AS calendarId,
		`remind_id` AS remindId,
		`create_person_id` AS createPersonId,
		`create_person_name` AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`concurrency_version` AS concurrencyVersion
		FROM
		`pt_schedule`
		WHERE delflag = '0' 
		<if test="scheduleId !=null and scheduleId !=''">
			AND schedule_id = #{scheduleId}
		</if>
		<if test="remindId != null and remindId !=''">
			AND remind_id = #{remindId}
		</if>

	</select>
	
	<update id="updateRemindIdStatus">
		update pt_schedule set remind_status = #{remindStatus}
		where schedule_id = #{scheduleId} AND begin_time = #{beginTime}
	</update>
	
</mapper>