<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.quartz.mapper.TaskQuartzRemindMapper">
	
	<select id="queryTaskRemindList" resultType="com.jzy.hio.entity.TaskRemind">
		SELECT id,remind_id AS remindId,remind_time AS remindTime,remind_status AS remindStatus,
		create_person_id AS createPersonId,create_person_name AS createPersonName,
		create_date AS createDate,update_person_id AS updatePersonId,update_person_name AS updatePersonName,
		update_date AS updateDate,delflag,isremind_createperson AS isremindCreateperson,isremind_liable AS isremindLiable,
		isremind_affiliated AS isremindAffiliated,concurrency_version AS concurrencyVersion FROM pt_task_remind
		WHERE delflag = '0'
		
		<if test="remindStatus != null and remindStatus !=''">
			AND remind_status = #{remindStatus}
		</if>
	</select>
	
	<update id="updateRemindIdStatus">
		UPDATE `pt_task_remind` a SET a.`remind_status` =
		#{remindStatus} WHERE
		a.`remind_id` = #{remindId}
	</update>

</mapper>