<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.quartz.mapper.TaskQuartzParticipantsMapper">
	
	<select id="queryTaskParticipantsList" resultType="com.jzy.hio.oa.task.dto.QueryTaskListDto">
		SELECT
		DISTINCT
		a.`task_id` AS taskId,
		a.`task_name` AS taskName,
		a.`task_progress` AS taskProgress,
		a.`end_date` AS endDate,
		a.`task_urgent_flag` AS taskUrgentFlag,
		a.`task_status` AS taskStatus,
		a.`task_liable_id` AS taskLiableId,b.sharedshow_id AS sharedshowiId,b.isfollow,sharedshow_imid AS sharedshowImid,outType
		FROM
		pt_task a,
		pt_task_participants b
		WHERE a.`task_id` = b.`task_id` AND a.delflag = '0' AND b.delflag = '0'
		
		<if test="taskName != null and taskName != ''">
			AND a.task_name like CONCAT('%',#{taskName},'%')
		</if>
		
		<if test="taskId != null">
			AND a.task_id = #{taskId}
		</if>
		
		<if test="userId != null">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="taskStatus != null and taskStatus != ''">
			AND a.task_status = #{taskStatus}
		</if>
		
		<if test="dynamicSql == null">
			ORDER BY a.end_date desc
		</if>

		<if test="dynamicSql != null">
			${dynamicSql}
		</if>
		
		<if test="pageNum !=null and pageCount !=null ">
			limit #{pageNum},#{pageCount}
		</if>
		
	</select>

</mapper>