<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.portal.mapper.ComponentCategoryDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.portal.entity.ComponentCategory">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.portal.entity.ComponentCategory">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.portal.entity.ComponentCategory">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 根据编码查询 -->
	<select id="getComponentCategoryBySerialNo" resultType="com.jzy.hio.sys.portal.entity.ComponentCategory" parameterType="com.jzy.hio.sys.portal.entity.ComponentCategory">
		SELECT 
		   m.id,
		   m.category_name as categoryName,
		   m.category_code as categoryCode,
		   m.category_desc as categoryDesc,
		   m.delflag,
		   m.create_date as createDate,
           m.update_date as updateDate,
           m.create_person_id as createPersonId,
           m.create_person_name as createPersonName,
           m.update_person_id as updatePersonId,
           m.update_person_name as updatePersonName,
           m.create_org_id as createOrgId,
           m.create_org_name as createOrgName,
           m.create_company_id as createCompanyId,
           m.create_company_name as createCompanyName,
           m.concurrency_version as concurrencyVersion,
           m.tend_id as tendId
		 from pt_portal_component_category m 
		<where>
		   m.category_code = #{categoryCode}
		   <if test="id!=null">
		    and m.id != #{id}
		   </if>
		</where>
	</select>
</mapper>