<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.portal.mapper.ComponentDao">
    <!-- 新增 -->
    <insert id="save">
		${value}
	</insert>
    <!-- 修改根据Id -->
    <update id="update">
		${value}
	</update>
    <!-- 伪删除根据Id -->
    <update id="deletePseudoObjectById">
		${value}
	</update>
    <!-- 批量伪删除根据Id -->
    <update id="deletePseudoAllObjectByIds">
		${value}
	</update>
    <!-- 删除根据Id -->
    <delete id="deleteById">
		${value}
	</delete>
    <!-- 批量删除根据Id -->
    <delete id="deleteBatchByIds">
		${value}
	</delete>
    <!-- 获取单个对象，根据Id-->
    <select id="get" resultType="com.jzy.hio.sys.portal.entity.Component">
		${value}
	</select>
    <!-- 获取列表根据Map查询 -->
    <select id="queryList" resultType="com.jzy.hio.sys.portal.entity.Component">
		${value}
	</select>
    <!-- 获取分页根据Map查询 -->
    <select id="queryPageList" resultType="com.jzy.hio.sys.portal.entity.Component">
		${value}
	</select>
    <!-- 获取总记录数 -->
    <select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>

    <!--条件查询获取分页数据-->
    <select id="queryObjectsByPage" resultType="com.jzy.hio.sys.portal.entity.Component">
        ${value}
    </select>

    <!--条件查询获取分页数据总记录数-->
    <select id="queryObjectsCountByPage" resultType="java.lang.Integer">
        ${value}
    </select>

    <!-- 获取分页根据Map模糊查询 -->
    <select id="queryFuzzyList" resultType="com.jzy.hio.sys.portal.entity.Component" parameterType="java.util.Map">
        select id,
        title as title,
        code as code,
        title_icon as titleIcon,
        req_type as reqType,
        content_url as contentUrl,
        content_type as contentType,
        description as description,
        category_id as categoryId,
        display_close as displayClose,
        display_max as displayMax,
        display_min as displayMin,
        display_delete as displayDelete,
        display_refresh as displayRefresh,
        display_move as displayMove,
        delflag,
        tend_id as tendId,
        create_date as createDate,
        update_date as updateDate,
        create_person_id as createPersonId,
        create_person_name as createPersonName,
        update_person_id as updatePersonId,
        update_person_name as updatePersonName,
        create_org_id as createOrgId,
        create_org_name as createOrgName,
        create_company_id as createCompanyId,
        create_company_name as createCompanyName,
        concurrency_version as concurrencyVersion
        from pt_portal_component
         where   delflag=0
            <if test="param!=null">
                and (title like '%${param}%' or code like '%${param}%')
            </if>
                order by  create_date desc
               limit #{start},#{limit}
    </select>
    <!-- 获取模糊查询总记录数 -->
    <select id="queryFuzzyCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from pt_portal_component
         where   delflag=0
            <if test="param!=null">
                and (title like '%${param}%' or code like '%${param}%')
            </if>
    </select>
    <select id="getComponentBySerialNo" resultType="com.jzy.hio.sys.portal.entity.Component"
            parameterType="com.jzy.hio.sys.portal.entity.Component">
        SELECT
        m.id,
        m.title,
        m.code,
        m.title_icon,
        m.req_type as reqType,
        m.content_url as contentUrl,
        m.content_type as contentType,
        m.description,
        m.category_id as categoryId,
        m.display_close as displayClose,
        m.display_max as displayMax ,
        m.display_min as displayMin,
        m.display_delete as displayDelete,
        m.display_refresh as displayRefresh,
        m.display_move as displayMove,
        m.delflag,
        m.create_date as createDate,
        m.update_date as updateDate,
        m.create_person_id as createPersonId,
        m.create_person_name as createPersonName,
        m.update_person_id as updatePersonId,
        m.update_person_name as updatePersonName,
        m.create_org_id as createOrgId,
        m.create_org_name as createOrgName,
        m.create_company_id as createCompanyId,
        m.create_company_name as createCompanyName,
        m.concurrency_version as concurrencyVersion,
        m.tend_id as tendId
        from pt_portal_component m
        <where>
            m.code = #{code}
            <if test="id!=null">
                and m.id != #{id}
            </if>
        </where>
    </select>


    <resultMap id="componentResult" type="map">
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="code" column="code" />
        <result property="titleIcon" column="titleIcon" />
        <result property="reqType" column="reqType" />
        <result property="contentUrl" column="contentUrl" />
        <result property="contentType" column="contentType" />
        <result property="description" column="description" />
        <result property="categoryId" column="categoryId" />
        <result property="displayClose" column="displayClose" />
        <result property="displayMax" column="displayMax" />
        <result property="displayMin" column="displayMin" />
        <result property="displayDelete" column="displayDelete" />
        <result property="displayRefresh" column="displayRefresh" />
        <result property="displayMove" column="displayMove" />
        <result property="moreUrl" column="moreUrl" />
        <result property="delflag" column="delflag" />
        <result property="createDate" column="createDate" />
        <result property="updateDate" column="updateDate" />
        <result property="createPersonId" column="createPersonId" />
        <result property="createPersonName" column="createPersonName" />
        <result property="updatePersonId" column="updatePersonId" />
        <result property="updatePersonName" column="updatePersonName" />
        <result property="createOrgId" column="createOrgId" />
        <result property="createOrgName" column="createOrgName" />
        <result property="createCompanyId" column="createCompanyId" />
        <result property="createCompanyName" column="createCompanyName" />
        <result property="concurrencyVersion" column="concurrencyVersion" />
        <result property="categoryName" column="categoryName" />
        <result property="categoryCode" column="categoryCode" />
    </resultMap>

    <!--获取所有组件及其分类详细信息-->
    <select id="queryAllList" resultType="java.util.Map">
      SELECT
        t.id as id,
        t.title AS title,
        t.code AS code,
        t.title_icon AS titleIcon,
        t.req_type AS reqType,
        t.content_url AS contentUrl,
        t.content_type AS contentType,
        t.description AS description,
        t.category_id AS categoryId,
        t.display_close AS displayClose,
        t.display_max AS displayMax,
        t.display_min AS displayMin,
        t.display_delete AS displayDelete,
        t.display_refresh AS displayRefresh,
        t.display_move AS displayMove,
        t.more_url AS moreUrl,
        t.delflag AS delflag,
        t.tend_id AS tendId,
        t.create_date AS createDate,
        t.update_date AS updateDate,
        t.create_person_id AS createPersonId,
        t.create_person_name AS createPersonName,
        t.update_person_id AS updatePersonId,
        t.update_person_name AS updatePersonName,
        t.create_org_id AS createOrgId,
        t.create_org_name AS createOrgName,
        t.create_company_id AS createCompanyId,
        t.create_company_name AS createCompanyName,
        t.concurrency_version AS concurrencyVersion,
        t1.category_name AS categoryName,
        t1.category_code AS categoryCode

    FROM
        pt_portal_component t
    LEFT JOIN
        pt_portal_component_category t1
    ON
        t.category_id = t1.id
    </select>

</mapper>