<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.num.entity.Ruler">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.num.entity.Ruler">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.num.entity.Ruler">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.num.entity.Ruler">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
    <select id="queryRuleListByBillId" resultType="java.util.Map" parameterType="java.lang.String">
	SELECT 
	  t.id   as id,
	  t.bill_id AS billId,
   	  t.code  as code,
      t.date_format as dateFormat,
      t.init_serial as initSerial,
      t.init_var as initVar,
      t.is_out as isOut,
      t.is_serial as isSerial,
      t.max_serial as maxSerial,
      t.name as name,
      t.serial_format as serialFormat,
      t.serial_library as  serialLibrary,
      t.sort as sort,
      t.step_length as stepLength,
      t.type as type,
      t.connector_symbol as connectorSymbol,
      t.serial_number_length as serialNumberLength,
      t.serial_number_type as serialNumberType,
      t.remark as remark,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag as delflag
		 from   pt_sys_num_ruler t  where t.delflag=0 
		 <choose>
		 <when test="_parameter != null and _parameter!=''">
		 	and  t.bill_id= #{_parameter,jdbcType=VARCHAR} 
		 </when>
		 </choose>
		 order by t.sort
	</select>

	    <select id="queryListByBillId" resultType="com.xinleju.platform.sys.num.entity.Ruler" parameterType="java.lang.String">
	SELECT 
	  t.id   as id,
	  t.bill_id AS billId,
    t.code  as code,
    t.date_format as dateFormat,
    t.init_serial as initSerial,
    t.init_var as initVar,
    t.is_out as isOut,
	t.is_serial as isSerial,
	t.max_serial as maxSerial,
	t.name as name,
    t.serial_format as serialFormat,
    t.serial_library as  serialLibrary,
    t.sort as sort,
    t.connector_symbol as connectorSymbol,
    t.serial_number_length as serialNumberLength,
    t.serial_number_type as serialNumberType,
    t.step_length as stepLength,
    t.type as type,
	t.remark as remark,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag as delflag
		 from   pt_sys_num_ruler t  where t.delflag=0 
		 <choose>
		 <when test="_parameter != null and _parameter!=''">
		 	and  t.bill_id= #{_parameter,jdbcType=VARCHAR} 
		 </when>
		 </choose>
		 order by t.sort
	</select>
	<select id="getRulerSortNum" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			T.SORT AS SORT
		FROM
			PT_SYS_NUM_RULER T
		WHERE
			1 = 1
	<choose>
	<when test="billId != null and billId !=''">
		AND T.BILL_ID = #{billId,jdbcType=VARCHAR}
	</when>
	</choose>
	<choose>
	<when test="sort != null and sort !=''">
		AND T.SORT = #{sort,jdbcType=VARCHAR}
	</when>
	</choose>
		ORDER BY
			T.SORT DESC
		LIMIT 0,1
	</select>
</mapper>