
.ui-state-default, .ui-widget-content .ui-state-default{
    height: 40px;
    color: #333;
    padding-top: 10px;
}
.tableStyle .ui-widget-content{
    border:0;
}
/* .tableStyle .ui-jqgrid-bdiv{

} */
.tableStyle .ui-jqgrid-hdiv{
    background: #acd7ff;
}
.ui-jqgrid tr.ui-row-ltr td{
    border-color: #eaeaea;
}
.pt20{
    padding-top: 20px;
}
.ui-jqgrid-bdiv{
    border-right:none;
}
.mytable, .myUsertable{
    overflow:hidden;
}