.ui-widget-content{
    overflow: hidden;
}
.mr20{
    margin-right: 20px;
}
.w100{
    width:100%;
}
.w6{
    width:6%;
}
.form-inline .input-group .input-group-addon.w60{
    width: 60px;
}
.input-group textarea.form-control{
    height: 60px;
    resize: none;
}
.font18{
    font-size: 18px;
}
input[type=radio],input[type=checkbox]
{
    margin-top: -2px;
    margin-right: 4px;
    vertical-align: middle;
}
.input-box,.left-point{
    line-height: 28px;
}
.mr10{
    margin-right: 10px;
}
.right-point{
    margin-left: 200px;
}