<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
    
   <bean id="transServices" class="com.cnaps.coreservices.BusinessServices"/>
   <bean id="reportManagService" class="com.cnaps.coreservices.ReportManagService"/>
  
  <!-- 公共查询类 BEGIN-->
  <bean id="PubService"  parent="baseTxProxy">
		
		<property name="target">
			<bean
				class="com.cnaps.coreservices.PubService">
				<property name="commondao">
					<ref bean="Commondao" />
				</property>
			</bean>
		</property>	
	</bean>
	<bean id="CommonServices"  parent="baseTxProxy">
		
		<property name="target">
			<bean
				class="com.bancstone.service.systemManage.impl.CommonServices">
				<property name="commondao">
					<ref bean="Commondao" />
				</property>
			</bean>
		</property>	
	</bean>
	
	
	<bean id="Commondao" class="com.bancstone.common.dao.impl.GenericHibernateDaoSupportImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
  
  
   <!-- 对账类 BEGIN-->
    <bean id="Duizhangdao" class="com.cnaps.hvps.dao.DuizhangDao" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="DuizhangService"  parent="baseTxProxy">
		<property name="target">
			<bean class="com.cnaps.coreservices.DuizhangService">
				<property name="commondao">
					<ref bean="Commondao" />
				</property>
				<property name="duizhangDao">
					<ref bean="Duizhangdao" />
				</property>
			</bean>
		</property>	
	</bean>
	<!-- 对账类 END -->
	
	<!-- 文件上传类 BEGIN-->
    <bean id="AddfileDao" class="com.cnaps.hvps.dao.AddfileDao" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 文件上传类 END -->
	
	<!-- 凭证打印 -->
	<bean id="PingzhengPringDao" class="com.cnaps.hvps.dao.PingzhengPringDao" >
	 	<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="PingzhengPrintService"  parent="baseTxProxy">
		<property name="target">
			<bean class="com.cnaps.coreservices.PingzhengPrintService">
				<property name="commondao">
					<ref bean="Commondao" />
				</property>
				<property name="pzPrintDao">
					<ref bean="PingzhengPringDao" />
				</property>
			</bean>
		</property>	
	</bean>
	<!-- 凭证打印 -->
	<!-- 大额报文登记查询 -->
	<bean id="ReportManagDao" class="com.cnaps.hvps.dao.ReportManagDao" >
	 	<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ReportManagService"  parent="baseTxProxy">
		<property name="target">
			<bean class="com.cnaps.coreservices.ReportManagService">
				<property name="commondao">
					<ref bean="Commondao" />
				</property>
				<property name="reportManagDao">
					<ref bean="ReportManagDao" />
				</property>
			</bean>
		</property>	
	</bean>
	<!-- 大额报文登记查询 -->
	
</beans>
