<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 系统用户组管理 start-->
	<bean id="systemgroupsmanageDAO"
		class="com.bancstone.dao.systemManage.impl.SystemgroupsmanageDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="systemgroupsmanageServices" parent="baseTxProxy">
		<property name="target">
			<bean
				class="com.bancstone.service.systemManage.impl.SystemgroupsmanageServicesImpl">
				<property name="systemgroupsmanageDAO">
					<ref bean="systemgroupsmanageDAO" />
				</property>
			</bean>
		</property>
	</bean>

	<!-- 系统机构管理 start-->
	<bean id="systemorganizationsmanageDAO"
		class="com.bancstone.dao.systemManage.impl.SystemorganizationsmanageDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="systemorganizationsmanageServices" parent="baseTxProxy">
		<property name="target">
			<bean
				class="com.bancstone.service.systemManage.impl.SystemorganizationsmanageServicesImpl">
				<property name="systemorganizationsmanageDAO">
					<ref bean="systemorganizationsmanageDAO" />
				</property>
			</bean>
		</property>
	</bean>

	<!-- 系统角色管理 start-->
	<bean id="systemrolesmanageDAO"
		class="com.bancstone.dao.systemManage.impl.SystemrolesmanageDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="systemrolesmanageServices" parent="baseTxProxy">
		<property name="target">
			<bean
				class="com.bancstone.service.systemManage.impl.SystemrolesmanageServicesImpl">
				<property name="systemrolesmanageDAO">
					<ref bean="systemrolesmanageDAO" />
				</property>
			</bean>
		</property>
	</bean>
	<!-- 用户管理 start-->
	<bean id="SystemusersmanageDAO"
		class="com.bancstone.dao.systemManage.impl.SystemusersmanageDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="SystemusersmanageServiceImpl" parent="baseTxProxy">
		<property name="target">
			<bean
				class="com.bancstone.service.systemManage.impl.SystemusersmanageServiceImpl">
				<property name="systemusersmanageDAO">
					<ref bean="SystemusersmanageDAO" />
				</property>
			</bean>
		</property>
	</bean>
	<!-- 用户管理 end-->
	<!-- 系统菜单管理 start -->
	<bean id="systemmenusmanageDAO"
		class="com.bancstone.dao.systemManage.impl.SystemmenusmanageDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="systemmenusmanageServices" parent="baseTxProxy">
		<property name="target">
			<bean
				class="com.bancstone.service.systemManage.impl.SystemmenusmanageServiceImpl">
				<property name="systemmenusmanageDAO">
					<ref bean="systemmenusmanageDAO" />
				</property>
			</bean>
		</property>
	</bean>
	<!--系统菜单管理 end -->
	
	<!-- 系统权限分配start -->
	<bean id="authordistributionmanagerdao"
		class="com.bancstone.dao.systemManage.impl.AuthordistributionmanagerDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="authordistributionmanagerservices" parent="baseTxProxy">
		<property name="target">
			<bean
				class="com.bancstone.service.systemManage.impl.AuthordistributionmanagerServicesImpl">
				<property name="authordistributionmanagerdao">
					<ref bean="authordistributionmanagerdao" />
				</property>
			</bean>
		</property>
	</bean>
	<!-- 系统权限分配 END -->
	
	
	
	 
	
   
	
</beans>