#_designer{
    position: relative;
}
div.base {
    position: absolute;
    overflow: hidden;
    font-family: Arial;
    font-size: 8pt;
}
div.base#graph_box {
    top: 40px;
    border: 1px solid #ddd;
    overflow: auto;
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
div.base#graph_box #graph{
    background-image: url('../editor/images/grid.gif');
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}
div.base#toolbar {
    padding-left: 8px;
    padding-top: 1px;
    background-color: #46A7FF;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
div.base#toolbar img{
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-width: 2px;
    border-color: #46A7FF;
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
}
div.base#toolbar img.mxToolbarModeSelected{
    border-color:#fff;
}
.des-btn{
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 99;
    color: #fff;
    background: #238EF0;
}
.des-btn:hover{
    color: #fff;
}
div.base#status {
    color: gray;
    border-style: none;
    border-top-style: solid;
    border-color: silver;
    border-width: 1px;
    padding-top: 6px;
    _padding-top: 4px;
    padding-right: 8px;
    background: url('../editor/images/toolbar.gif');
    bottom: 0px;
    display: none;
}
hr{
    display: inline-block;
    height: 26px;
    margin: 0 15px;
    margin-top: 5px;
    margin-bottom: 0;
    filter:alpha(opacity=40);
    -moz-opacity:0.8;
    opacity:0.8;
    float: left;
    border: 1px solid #3897EC;
}