/*.ui-state-default, .ui-widget-content .ui-state-default{
    height: 40px;
    color: #333;
    padding-top: 10px;
    background: #acd7ff;
}*/

/*.ui-state-highlight, .ui-widget-content .ui-state-highlight
	{
	background-image: none;
	background-color: #9afeca;
	border: 1px solid #9afeca;
}
.ui-state-highlight-notStart, .ui-widget-content-finish-notStart .ui-state-highlight-finish-notStart
	{
	background-image: none;
	background-color: #E1E1E1;
	border: 1px solid #E1E1E1;
}
.ui-jqgrid tr.jqgrow td {
  white-space: normal !important;
  height:auto;
  vertical-align:middle;
  padding-top:2px;
 }
.ui-jqgrid .ui-jqgrid-sortable{
	cursor: default;
}*/

.ui-state-highlight-notStart, .ui-widget-content-finish-notStart .ui-state-highlight-finish-notStart
	{
	background-image: none;
	background-color: #E1E1E1;
	border: 1px solid #E1E1E1;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight
{
    background-image: none;
    background-color: #AFEEEE;
    border: 1px solid #AFEEEE;
}
#_orgGridContainer .ui-state-default.ui-jqgrid-hdiv{
    margin-top: -4px;
    line-height: 17px;
}
#approvalList.ui-jqgrid-btable tr.jqgrow td,#_approveHistory.ui-jqgrid-btable tr.jqgrow td{
    line-height: 24px;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    text-overflow: initial;
}
#approvalList.ui-jqgrid-btable tr.jqgrow td .check-list .att-table tr td:first-child,#approvalList.ui-jqgrid-btable tr.jqgrow td .check-list .att-table tr th:first-child
{
    text-align: left;
    padding-left: 14px;
}
.b_left_view{border:1px solid #E1E1E1;padding:0;}
.check-list {
 width: 100%;
 border: 0px;
}
.upload  {
	width: 100%;
	padding: 0;
	border: 0;
	margin: 0;
}
.up_total{
    width: 100%;
    height: 10px;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
}
.up_files ul li {
    list-style: none;
    float: left;
    width: 100%;
    min-width:0px;
    height: 50px;
    background-color: #e2e2e3;
    margin: 0 0px 10px 0;
}
.up_progress{
    height: 7px;
    width: 5px;
    float: left;
    margin-top: 2px;
}
.fl-ap-icon{
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
.flow-yewuxinxi{
    background: url("../images/yewuxinxi.png") 0 -2px no-repeat;

}
.flow-guanlian{
    background: url("../images/xiangguanliucheng.png") no-repeat;

}
.flow-shenpijilu{
    background: url("../images/shenpixinxi.png") no-repeat;
}
#lcbegin,#ar_right_box,#approveArea{
    overflow: auto;
}

/*审批页面修改*/
.xj-form-header{
    height: 40px;
    line-height: 40px;
}
.xj-index-logo img{
    height: 24px;
    width: 90px;
}
.xj-form-btn .btn{
    margin-top: 6px;
}
.mt40{
    margin-top: 40px;
}
.mb10 {
    margin-bottom: 10px;
}
.jz  .settitle{
    margin: 10px 0;
    font-size: 13px;
    padding-left: 0;
}
.bigBtn{
    width: 100px;
    height: 30px;
}
.xj-form-tab{
    height: 40px;
    line-height: 40px;
}
.b_left{
    border-top:none;
}
#_approveHistoryDiv,#approvalListDiv{
    padding: 10px 5px;
    border:1px solid #ccc;
}
#approvalListDiv .ui-state-default, .ui-widget-content .ui-state-default{
    height: 40px;
}
#_approveHistoryDiv .ui-jqgrid .ui-jqgrid-hbox{
    margin-top: 5px;
}
#approveArea .table-bordered>tbody>tr>td{
    padding: 15px 8px;
}
.form-control.area{
    margin-top: 0;
    height: 120px;
    padding: 5px;
    resize: none;
}
.form-control.area.mt10{
    margin-top: 10px;
}
button#approval,button#submitbutton{
    width: 50%;
    text-align: center;
    height: 40px;
    margin-left: 24%;
    background: #ac2925;
    color: #fff;
    outline: none;
    border: none;
}
#beginapproval .btn-sm{
    margin-right: 15px;
}