<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.org.entity.UserTrial">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.org.entity.UserTrial">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.org.entity.UserTrial">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.org.entity.UserTrial">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 查询试用平台租户 -->
	<select id="obtainOrgUserTrial" parameterType="java.util.Map" resultType="com.xinleju.platform.sys.org.entity.User">
		SELECT
			t.id AS id,
			t.concurrency_version AS concurrencyVersion,
			t.job_number AS jobNumber,
			t.real_name AS realName,
			t.is_male AS isMale,
			t.login_name AS loginName,
			t.PASSWORD AS PASSWORD,
			t.contact_phone AS contactPhone,
			t.work_phone AS workPhone,
			t.type AS type,
			t.email AS email,
			t.birthday AS birthday,
			t.age AS age,
			t.entry_date AS entryDate,
			t.leave_date AS leaveDate,
			t.mobile AS mobile,
			t.remark AS remark,
			t.STATUS AS STATUS,
			t.create_date AS createDate,
			t.update_date AS updateDate,
			t.create_person_id AS createPersonId,
			t.create_person_name AS createPersonName,
			t.update_person_id AS updatePersonId,
			t.update_person_name AS updatePersonName,
			t.create_org_id AS createOrgId,
			t.create_org_name AS createOrgName,
			t.create_company_id AS createCompanyId,
			t.create_company_name AS createCompanyName,
			t.delflag AS delflag,
			t.belong_org_id AS belongOrgId,
			t.worktime AS workTime,
			t.disabletime AS disableTime,
			t.wechat AS weChat,
			t.sort AS sort,
			t.disabled_id AS disabledId,
			t.email_pwd AS emailPwd,
			t.tend_id AS tendId
		from pt_sys_org_user t
		where not exists (SELECT trial.user_id from  pt_sys_org_user_trial trial
		LEFT JOIN  pt_sys_org_user u on u.id = trial.user_id
       where trial.due_time &gt; now() and u.delflag = 0 and u.`status` = 1 )
		and t.delflag = 0 and t.`status` = 1
		LIMIT 1;

	</select>


	<!-- 检查是否已经注册平台租户 -->
	<select id="isExistOrgUserTrial" parameterType="java.util.Map" resultType="com.xinleju.platform.sys.org.entity.UserTrial">
		SELECT
		t.id AS id,
		t.concurrency_version AS concurrencyVersion,
		t.user_id as userId,
		t.due_time as dueTime,
		t.email AS email,
		t.mobile AS mobile,
		t.remark AS remark,
		t.create_date AS createDate,
		t.update_date AS updateDate,
		t.create_person_id AS createPersonId,
		t.create_person_name AS createPersonName,
		t.update_person_id AS updatePersonId,
		t.update_person_name AS updatePersonName,
		t.create_org_id AS createOrgId,
		t.create_org_name AS createOrgName,
		t.create_company_id AS createCompanyId,
		t.create_company_name AS createCompanyName,
		t.delflag AS delflag,
		t.wechat AS weChat,
		t.tend_id AS tendId
		from  pt_sys_org_user_trial t
		where t.delflag = 0
		      and t.due_time &gt; now()
		      <if test="userId!=null and userId !=''">
				  and t.user_id = #{userId}
			  </if>
			<if test="mobile!=null and mobile!=''">
                 and mobile = #{mobile}
			</if>

	</select>

</mapper>