body{
    background: #fff;
}

.mt60{
    margin-top: 60px;
}
.page-box{

}
.page-box .tit-box{
    display: inline-block;
    float: left;
    padding: 30px 0;
    font-size: 12px;
    color: #999;
    line-height: 24px;
}
.page-box .tit-box .cur{
    color: #46A7FF;
}
.page{
    float: right;
    padding: 30px 0;
}
.page a{
    font-size: 12px;
    color: #999999;
    cursor: pointer;
    line-height: 24px;
}
.page a{
    margin-right: 10px;
}
.page input.pageInput{
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    width: 44px;
    margin:0 10px;
    display: inline-block;
    text-indent: 5px;
}
.page button.btn-sm,.hffb-box button.btn-sm{
    float: none;
    display: inline-block;
    background: #46A7FF;
    color: #fff;
    outline: none;
    border: none;
    padding: 5px 6px;
}
.title-box{
    height: 60px;
    background: #F1F1F1;
    text-align: center;
    font-size: 20px;
    color: #333333;
    letter-spacing: 0;
    line-height: 60px;
}
.item-list{
    padding: 20px 50px;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
}
.item-list .item{
    border-bottom: 1px dashed #d6d6d6;
    padding: 30px 0;
}
.item-list .item:nth-last-child(1){
    border-bottom: none;
}
.item-list .item span.num{
    font-size: 28px;
    color: #46A7FF;
    position: absolute;
    margin-right: 15px;
    left: 0;
    top: -6px;
}
.item-list .item span{
    font-size: 14px;
    color: #666666;
    line-height: 22px;
}
.item-list .item .des{
    font-size: 12px;
    color: #999999;
    margin: 20px 0;
    text-indent: 38px;
}
.item-list .item .num-box{
    padding-left: 38px;
    position: relative;
}
.questions{
    padding-left: 38px;
}
.questions.chartbox{
    padding-left: 18px;
}
.questions .my-chart{
    height: 250px;
    width: 80%;
}
.questions table>tbody>tr>td{
    min-width: 72px;
    max-width:230px;
    word-wrap:break-word;
    word-break: break-all;
    height: 36px;
    border: 1px solid #DDDDDD;
    background: #F6F6F6;
    font-size: 14px;
    color: #666666;
    text-align: center;
}
.questions table>tbody>tr.row-tit>td{
    background: #DAEDFF;
    border: 1px solid #9ACFFF;
}
.questions table>tbody>tr.row-tit>td.bg{
    background: #9ACFFF;
}
.questions table>tbody>tr>td.col-bg{
    background: #BFE0FF;
    border: 1px solid #9ACFFF;
}
.questions.xuan span{
    font-size: 14px;
    color: #666666;
    line-height: 18px;
}
.questions.xuan p{
    padding: 7px 0;
}

.questions table>tbody>tr>td span,.questions.xuan .radioS,.questions.xuan .checkS{
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}
.questions.xuan .radioS,.questions.xuan .checkS{
    margin-right: 5px;
    vertical-align: top;
}
.questions .checkS{
    background: url("images/duo_nor.png") no-repeat;
}
.questions .checkS.cur{
    background: url("images/duo_sel.png") no-repeat;
}
.questions .radioS{
    background: url("images/dan_nor.png") no-repeat;
}
.questions .radioS.cur{
    background: url("images/dan_sel.png") no-repeat;
}
.questions textarea{
    height: 160px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    font-size: 14px;
    color: #999999;
    resize: none;
    width: 100%;
}
.item .yicanyu{
    text-indent: 38px;
    margin-bottom: 20px;
}
.item .yicanyu span{
    font-size: 12px;
    color: #666666;
}
.item .yicanyu .per{
    margin-left: 20px;
}
.allInfo{
    font-size: 12px;
    color: #999999;
    text-indent: 38px;
}






