<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.menu.mapper.MenuMapper">
	
	<resultMap type="com.jzy.hio.sys.role.dto.RoleMenuDto" id="roleMunuDto">
	    <result column="menuCode" property="code" />  
	    <result column="menuUrl" property="url" />  
	    <result column="menuPermissionType" property="permissionType" />  
	    <result column="menuPermissionValue" property="permissionValue" />  
	    <collection column="menuId" property="buttons" ofType="com.jzy.hio.sys.role.dto.RoleButtonDto"> 
		     <result column="buttonName" property="name" />  
		     <result column="buttonUrl" property="url" />  
		     <result column="buttonCode" property="code" />  
		     <result column="buttonPermissionType" property="permissionType" />   
	    </collection>  
	</resultMap>  
	
	<select id="queryMenuWithRole" resultMap="roleMunuDto">
		<!-- 普通用户查询 -->
		<if test="userId != null">
			SELECT DISTINCT m.code menuCode, 
			m.url menuUrl,
			m.permission_type menuPermissionType,
			rp.permission_value menuPermissionValue,
			m.id menuId,
			b.`code` buttonCode, 
			b.`permission_type` buttonPermissionType, 
			b.name buttonName, 
			b.url buttonUrl 
			FROM oa_sys_role_permission rp 
			LEFT JOIN oa_sys_menu m ON rp.menu_id = m.id
			LEFT JOIN oa_sys_button b  ON b.`menu_id` = m.`id` and rp.permission_value &amp; b.permission_type > 0
			LEFT JOIN oa_sys_app a on m.app_id = a.id 
			WHERE a.status = 1 and m.code is not null 
			<choose>
				<!-- 外部联系人 -->
				<when test="userId == '-1'">
					AND rp.role_id IN ('2001') 
				</when>
				<otherwise>
					AND rp.role_id IN (SELECT ru.role_id FROM oa_sys_role_user ru WHERE ru.user_id = #{userId}) 
				</otherwise>
			</choose>
		</if>
		<!-- 管理员 -->
		<if test="userId == null">
			SELECT DISTINCT m.code menuCode, 
			m.url menuUrl,
			m.permission_type menuPermissionType,
			-- rp.permission_value menuPermissionValue,
			-- menuPermissionValue值与type一致
			m.permission_type menuPermissionValue,
			m.id menuId,
			b.`code` buttonCode, 
			b.`permission_type` buttonPermissionType, 
			b.name buttonName, 
			b.url buttonUrl 
			from oa_sys_menu m
			LEFT JOIN oa_sys_button b  ON b.`menu_id` = m.`id`
			LEFT JOIN oa_sys_app a on m.app_id = a.id
			WHERE m.code is not null and a.status = 1
		</if>
	</select>
	
	 
</mapper>