<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.sys.res.mapper.FuncPermissionDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.sys.sys.res.entity.FuncPermission">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.sys.sys.res.entity.FuncPermission">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.sys.sys.res.entity.FuncPermission">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!-- 根据系统ids查询按钮结果集（认证时不传递系统Id）-->
	<select id="queryAuthorizationListByAppIds" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from  (
		select DISTINCT c.id,'' as parentId,'' AS pId ,c.name,c.icon,c.code,c.openmode,c.url,c.status,'APPSystem' as type,c.prefix_id,c.prefix_sort,c.prefix_name,c.delflag ,c.id as app_id ,''  as reousce_id,'' resouce_delflag ,p.delflag p_delflag,p.isextsys isextsys from pt_sys_res_app c ,pt_sys_res_app p  where c.prefix_sort like concat(p.prefix_sort,'%')
		union 
		select DISTINCT c.id,c.parent_id AS parentId,c.app_id AS pId ,c.name,c.icon,c.code,c.openmode,c.url,c.status,'RESOURCE' as type ,c.prefix_id,c.prefix_sort,c.prefix_name,c.delflag,c.app_id as app_id ,c.id as reousce_id,c.delflag resouce_delflag ,p.delflag p_delflag,'' isextsys from pt_sys_res_resource c ,pt_sys_res_app p  where c.prefix_sort like concat(p.prefix_sort,'%')
		) dd where dd.resouce_delflag!=1 and dd.p_delflag!=1 and dd.delflag!=1 and dd.`status` = 1
		    <if test="ids != null ">
				and dd.app_id IN
				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
		            #{item} 
		        </foreach>
			</if>
		ORDER BY dd.prefix_sort 
	</select>
	<!-- 查询所有菜单和系统-->
	<select id="queryAuthFuns" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT r.id,r.`name`,r.`code`,r.icon,r.openmode,r.prefix_sort,r.prefix_id,r.app_id app_id,'' isextsys,r.url,'RESOURCE' type,r.parent_id parentId,r.app_id pId from pt_sys_res_resource r 
		WHERE r.delflag=0 and r.`status`=1 
			<if test="ids != null ">
				and r.app_id in 
				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
		            #{item} 
		        </foreach>
			</if>
		UNION ALL
		SELECT a.id,a.`name`,a.`code`,a.icon,a.openmode,a.prefix_sort,a.prefix_id,a.id app_id,a.isextsys,a.url,'APPSystem' type,'' parentId,'' pId from pt_sys_res_app a WHERE a.delflag=0 and a.`status`=1
		<if test="ids != null ">
			and a.id in 
			<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		ORDER BY 6
	</select>
	<!-- 系统 -->
	<select id="queryApps" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT a.id,a.`name`,a.`code`,a.icon,a.openmode,a.prefix_sort,a.prefix_id,a.id app_id,a.isextsys,a.url,'APPSystem' type,'' parentId,'' pId from pt_sys_res_app a WHERE a.delflag=0 and a.`status`=1
		<if test="ids != null ">
			and a.id in 
			<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		ORDER BY a.prefix_sort
	</select>
	<!-- 菜单 -->
	<select id="queryFuns" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT r.id,r.`name`,r.`code`,r.icon,r.openmode,r.prefix_sort,r.prefix_id,r.app_id app_id,'' isextsys,r.url,'RESOURCE' type,r.parent_id parentId,r.app_id pId from pt_sys_res_resource r 
		WHERE r.delflag=0 and r.`status`=1 		
		<if test="ids != null ">
			and a.id in 
			<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		ORDER BY r.prefix_sort
	</select>
	
	<!-- 根据系统ids查询按钮结果集（认证时不传递系统Id）-->
	<select id="queryAuthorizationListByAppIdsPermission" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select id,parentId,pId,name,type,prefix_id,prefix_sort,app_id,reousce_id from  (
		select DISTINCT c.id,'' as parentId,'' AS pId ,c.name,c.icon,c.code,c.openmode,c.url,c.status,'APPSystem' as type,c.prefix_id,c.prefix_sort,c.prefix_name,c.delflag ,c.id as app_id ,''  as reousce_id,'' resouce_delflag ,p.delflag p_delflag from pt_sys_res_app c ,pt_sys_res_app p  where c.prefix_sort like concat(p.prefix_sort,'%')
		union 
		select DISTINCT c.id,c.parent_id AS parentId,c.app_id AS pId ,c.name,c.icon,c.code,c.openmode,c.url,c.status,'RESOURCE' as type ,c.prefix_id,c.prefix_sort,c.prefix_name,c.delflag,c.app_id as app_id ,c.id as reousce_id,c.delflag resouce_delflag ,p.delflag p_delflag from pt_sys_res_resource c ,pt_sys_res_app p  where c.prefix_sort like concat(p.prefix_sort,'%')
		union 
		select DISTINCT c.id,c.parent_id as parentId,c.resource_id AS pId ,c.name,c.icon,c.code,'' openmode,c.url,'1' as status,'OPERATION' as type ,c.prefix_id,c.prefix_sort,c.prefix_name,c.delflag,c.app_id as app_id ,o.id as reousce_id,o.delflag resouce_delflag,p.delflag p_delflag from pt_sys_res_resource o ,pt_sys_res_app p,pt_sys_res_operation c  
		where o.app_id = p.id and c.resource_id = o.id and o.`status` = 1 and c.prefix_sort like concat(o.prefix_sort,'%')
		and c.prefix_sort like concat(p.prefix_sort,'%') 
		and exists (select 1 from pt_sys_res_resource r where  c.prefix_sort like concat(r.prefix_sort,'%') and o.prefix_sort =r.prefix_sort order by r.prefix_sort desc limit 1 )
		) dd where dd.resouce_delflag!=1 and dd.p_delflag!=1 and dd.delflag!=1 and dd.`status` = 1
		    <if test="ids != null ">
				and dd.app_id IN
				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
		            #{item} 
		        </foreach>
			</if>
		ORDER BY dd.prefix_sort 
	</select>
	
	<!-- 
	
	<select id="queryAuthorizationListByAppIds" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from  (
		select DISTINCT c.id,'' as parentId,'' AS pId ,c.name,c.icon,c.code,c.openmode,c.url,c.status,'APPSystem' as type,c.prefix_id,c.prefix_sort,c.prefix_name,c.delflag ,c.id as app_id ,''  as reousce_id,'' resouce_delflag ,p.delflag p_delflag from pt_sys_res_app c ,pt_sys_res_app p  where c.prefix_sort like concat(p.prefix_sort,'%')
		union 
		select DISTINCT c.id,c.parent_id AS parentId,c.app_id AS pId ,c.name,c.icon,c.code,c.openmode,c.url,c.status,'RESOURCE' as type ,c.prefix_id,c.prefix_sort,c.prefix_name,c.delflag,c.app_id as app_id ,c.id as reousce_id,c.delflag resouce_delflag ,p.delflag p_delflag from pt_sys_res_resource c ,pt_sys_res_app p  where c.prefix_sort like concat(p.prefix_sort,'%')
		union 
		select DISTINCT c.id,c.parent_id as parentId,c.resource_id AS pId ,c.name,c.icon,c.code,'' openmode,c.url,'1' as status,'OPERATION' as type ,c.prefix_id,c.prefix_sort,c.prefix_name,c.delflag,c.app_id as app_id ,o.id as reousce_id,o.delflag resouce_delflag,p.delflag p_delflag from pt_sys_res_resource o ,pt_sys_res_app p,pt_sys_res_operation c  where c.prefix_sort like concat(o.prefix_sort,'%')
		and c.prefix_sort like concat(p.prefix_sort,'%') 
		and o.prefix_sort =(select r.prefix_sort from pt_sys_res_resource r where  c.prefix_sort like concat(r.prefix_sort,'%') order by r.prefix_sort desc limit 1 )
		) dd where dd.resouce_delflag!=1 and dd.p_delflag!=1 and dd.delflag!=1 and dd.`status` = 1
		    <if test="ids != null ">
				and dd.app_id IN
				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
		            #{item} 
		        </foreach>
			</if>
		ORDER BY dd.prefix_sort 
	</select>
	 -->
	
	<!-- 根据系统和角色查询已授权数据（认证时不传递系统ID）-->
	<select id="queryAuthDataByappIdsAndroleIds" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select func.*,o.prefix_id,o.prefix_sort 
		from pt_sys_res_func_permission func
		LEFT JOIN pt_sys_res_operation o 
		ON func.operation_id = o.id
		where 1=1
		and o.delflag !=1
		<if test="roleIds != null ">
			and func.role_id IN
			<foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		<if test="appIds != null ">
			and o.app_id IN
			<foreach item="item" index="index" collection="appIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
	
	<!-- 根据对象Ids查询已授权数据-->
	<select id="queryAuthDataByobjectIds" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select DISTINCT func.operation_id,func.resource_id,func.app_id
		from pt_sys_res_func_permission func
		where 1=1
		<if test="objectIds != null ">
			and func.role_id IN
			<foreach item="item" index="index" collection="objectIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		<if test="appIds != null ">
			and o.app_id IN
			<foreach item="item" index="index" collection="appIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
	<!-- 根据对象Ids查询已授权数据（返回数据带id）-->
	<select id="queryAuthDataByobjectIdsReturnId" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select func.id, func.operation_id,func.resource_id,func.app_id
		from pt_sys_res_func_permission func
		where 1=1
		<if test="imObjectId !=null">
			and func.role_id=#{imObjectId}
		</if>
		<if test="appIds != null ">
			and o.app_id IN
			<foreach item="item" index="index" collection="appIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
	
	<!-- 获取所有授权的菜单和系统id-->
	<select id="queryAuthFunIds" resultType="String" parameterType="java.util.HashMap">
		SELECT r.prefix_id FROM pt_sys_res_func_permission func
			LEFT JOIN pt_sys_res_resource r on r.id=func.resource_id
			LEFT JOIN pt_sys_res_operation o on o.id = func.operation_id 
		where r.delflag=0 and o.delflag = 0
		<if test="roleIds != null ">
			and func.role_id IN
			<foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		<if test="appIds != null ">
			and func.app_id IN
			<foreach item="item" index="index" collection="appIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
	<!-- 根据系统code查询系统id-->
	<select id="queryAppIdByAppCode" resultType="String" parameterType="java.util.HashMap">
		SELECT id FROM pt_sys_res_app t
		where t.delflag = 0
		<if test="appCode != null ">
			and t.code IN
			<foreach item="item" index="index" collection="appCode" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
	<!-- 获取所有授权的按钮ids-->
	<select id="queryAuthPrefixIds" resultType="String" parameterType="java.util.HashMap">
		SELECT o.prefix_id FROM pt_sys_res_func_permission func
		LEFT JOIN pt_sys_res_resource r on r.id=func.resource_id
		LEFT JOIN pt_sys_res_operation o on o.id = func.operation_id
		where r.delflag=0 and o.delflag = 0
		<if test="roleIds != null ">
			and func.role_id IN
			<foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="appIds != null ">
			and func.app_id IN
			<foreach item="item" index="index" collection="appIds" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
		<!-- 查询角色树(标准岗位)（动作点-角色）-->
	<select id="queryAuthorizationListAllRoles" resultType="java.util.HashMap">
		select * from (
			select id,name,sort,prefix_id,'cata' as type ,prefix_name,prefix_sort,delflag,status,parent_id as parentId,t.type as spostandroletype  from pt_sys_org_role_catalog t where t.type = 1
			UNION 
			select id,name,sort,prefix_id,'role' as tyope,prefix_name,prefix_sort,delflag,status,catalog_id as parentId,t.type as spostandroletype  from pt_sys_org_standard_role t where t.type = 1
		) tt where tt.delflag = 0 and status=1 ORDER BY tt.prefix_sort
	</select>
	
	
		<!-- 查询角色树（通用角色）（动作点-角色）-->
	<select id="queryAuthorizationListAllCurrencyRoles" resultType="java.util.HashMap">
		select * from (
			select id,name,sort,prefix_id,'cata' as type ,prefix_name,prefix_sort,delflag,status,parent_id as parentId,t.type as spostandroletype  from pt_sys_org_role_catalog t where t.type = 0
			UNION 
			select id,name,sort,prefix_id,'role' as tyope,prefix_name,prefix_sort,delflag,status,catalog_id as parentId,t.type as spostandroletype  from pt_sys_org_standard_role t where t.type = 0
		) tt where tt.delflag = 0 and status=1 ORDER BY tt.prefix_sort
	</select>
		<!-- 查询对象树（岗位）（动作点-角色）-->
	<select id="queryAuthorizationListAllPost" resultType="java.util.HashMap">
		select id,name,sort,prefix_id,type,prefix_name,delflag,status,parentId  from (
			select id,name,sort,prefix_id,type,prefix_name,delflag,status,parent_id  as parentId
			from pt_sys_org_orgnazation t where `status` = 1 and delflag = 0
		UNION 
			select t.id,tt.name,tt.sort, CONCAT(ttt.prefix_id,"/",t.id) prefix_id,'post' as type,CONCAT(ttt.prefix_name,"/",tt.name) prefix_name,'' delflag,'' status,t.ref_id as parentId 
			from pt_sys_org_post t ,pt_sys_org_standard_role tt,pt_sys_org_orgnazation ttt  where t.role_id = tt.id and t.ref_id = ttt.id and ttt.`status` = 1 and ttt.delflag = 0
		) a where ifnull(a.prefix_id,'') !='' ORDER BY a.prefix_id 
	</select>
		<!-- 查询对象树（人员）（动作点-角色）-->
	<select id="queryAuthorizationListAllUser" resultType="java.util.HashMap">
		select id,name,sort,prefix_id,type,prefix_name,delflag,status,parentId  from (
			select id,name,sort,prefix_id,type,prefix_name,delflag,status,parent_id  as parentId
			from pt_sys_org_orgnazation t where `status` = 1 and delflag = 0
		UNION 
			select t.id,t.real_name,t.sort, CONCAT(ttt.prefix_id,"/",t.id) prefix_id,'user' as type,CONCAT(ttt.prefix_name,"/",t.real_name) prefix_name,t.delflag delflag,t.`status` status,t.belong_org_id as parentId 
			from pt_sys_org_user t ,pt_sys_org_orgnazation ttt  where t.delflag = 0 and t.`status` = 1 and t.belong_org_id = ttt.id and ttt.`status` = 1 and ttt.delflag = 0
		) a where ifnull(a.prefix_id,'') !='' ORDER BY a.prefix_id 
	</select>
	
	<!-- 根据动作点查询已授权数据（标准岗位和通用角色）-->
	<select id="queryAuthDataByOperationIds" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select func.*,o.prefix_id,o.prefix_sort 
		from pt_sys_res_func_permission func
		LEFT JOIN pt_sys_org_standard_role o 
		ON func.role_id = o.id
		where 1=1 and ifnull(o.prefix_id,'') !=''
		<if test="operationIds != null ">
			and func.operation_id IN
			<foreach item="item" index="index" collection="operationIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
	
	<!-- 根据动作点查询已授权数据（人员）-->
	<select id="queryAuthDataUserByOperationIds" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select func.*,CONCAT(o.prefix_id,"/",u.id) prefix_id
		from pt_sys_res_func_permission func
		LEFT JOIN pt_sys_org_user u ON func.role_id = u.id
		LEFT JOIN pt_sys_org_orgnazation o ON u.belong_org_id = o.id
		where 1=1 
      	and ifnull(CONCAT(o.prefix_id,"/",u.id),'') !=''
		<if test="operationIds != null ">
			and func.operation_id IN
			<foreach item="item" index="index" collection="operationIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
	
	<!-- 根据动作点查询已授权数据（岗位）-->
	<select id="queryAuthDataPostByOperationIds" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select func.*,CONCAT(ttt.prefix_id,"/",t.id) prefix_id
		from pt_sys_res_func_permission func
    	LEFT JOIN pt_sys_org_post t ON func.role_id = t.id
		LEFT JOIN pt_sys_org_standard_role tt ON t.role_id = tt.id
		LEFT JOIN pt_sys_org_orgnazation ttt ON t.ref_id = ttt.id
		where 1=1 
      and ifnull(CONCAT(ttt.prefix_id,"/",t.id),'') !=''
		<if test="operationIds != null ">
			and func.operation_id IN
			<foreach item="item" index="index" collection="operationIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
	
	<!-- 查询角色授权控制点编码 -->
	<select id="selectUserRoleAuthDataCode" parameterType="map" resultType="String">
		SELECT GROUP_CONCAT(po.`code`) from pt_sys_res_data_permission p 
			LEFT JOIN pt_sys_res_data_point po on po.id=data_point_id
			LEFT JOIN pt_sys_res_data_item i on i.id=po.item_id
		WHERE i.item_code=#{itemCode}  and po.delflag=0 and i.delflag=0
		<if test="appId !=null">
			and i.app_id=#{appId}
		</if>
		<if test="roleIds !=null">
			and p.role_id in
			<foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
				#{roleId}
			</foreach>
		</if>
	</select>
	
	<!-- 查询授权值 -->
	<select id="selectAuthValIds" parameterType="map" resultType="String">
		SELECT v.val from pt_sys_res_data_permission p 
		 LEFT JOIN pt_sys_res_data_point po on po.id=p.data_point_id
		 LEFT JOIN pt_sys_res_data_item i on i.id=po.item_id
		 LEFT JOIN  pt_sys_res_data_point_permission_val v on p.id=v.data_permission_id
		 WHERE i.item_code=#{itemCode} and i.app_id=#{appId} and po.type=2 and po.delflag=0 and i.delflag=0 and p.role_id in 
		 <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
		 	#{roleId}
		 </foreach> 
	</select>
	
	<!-- 根据用户登录账号和系统code和菜单code获取有权限的按钮-->
	<select id="getFuncButtonAuthByUserLoginNameAndAppCodeAndMenuCode" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select DISTINCT t.id id,t.`code` code ,t.`name` name,t.url url  ,tt.`name` appName,tt.`code` appCode,ttt.`name` menuName,ttt.`code` menuCode
		from pt_sys_res_operation t 
		LEFT JOIN pt_sys_res_func_permission f on t.id = f.operation_id 
		LEFT JOIN pt_sys_res_app tt on t.app_id = tt.id 
		LEFT JOIN pt_sys_res_resource ttt on t.resource_id = ttt.id 
		where 
		t.delflag = '0'
		and tt.`status` = '1' and tt.delflag = '0'
		and ttt.`status` = '1' and ttt.delflag ='0'
		<if test="ids != null ">
			and f.role_id IN
			<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		<if test="appCode !=null">
			and tt.`code` = #{appCode}
		</if>
		<if test="menuCode !=null">
			and ttt.`code` = #{menuCode}
		</if>
	</select>
	
	<!-- 获取有权限的菜单(根据用户账号和系统code)-->
	<select id="getFuncMenuAuthByUserLoginNameAndAppCode" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select DISTINCT t.id id ,t.code code ,t.name name ,t.url url ,a.code appCode ,a.`name` appName
		from pt_sys_res_resource t 
		LEFT JOIN pt_sys_res_operation o ON t.id = o.resource_id
		LEFT JOIN  pt_sys_res_func_permission f on o.id = f.operation_id 
		LEFT JOIN pt_sys_res_app a on t.app_id = a.id
		where 
		o.delflag = '0'
		and t.`status` = '1' and t.delflag = '0'
		and a.`status` = '1' and a.delflag ='0'
		<if test="ids != null ">
			and f.role_id IN
			<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		<if test="appCode !=null">
			and a.`code` = #{appCode}
		</if>
	</select>
	<!-- 查询用户四种授权id：用户，标准岗位，岗位，通用角色-->
	<select id="selectAuthTypeId" parameterType="map" resultType="String">
		SELECT u.id from pt_sys_org_user u WHERE u.id=#{userId}
		UNION ALL
		SELECT t.id from pt_sys_org_standard_role t 
		LEFT JOIN pt_sys_org_post p on p.role_id=t.id
		LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
		WHERE pu.user_id=#{userId} and t.delflag=0 and t.`status`=1
		UNION  ALL
		SELECT p.id from pt_sys_org_post p 
		LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
		WHERE pu.user_id=#{userId} and p.delflag=0
		UNION ALL
		SELECT r.id from pt_sys_org_standard_role r
		LEFT JOIN pt_sys_org_role_user ru on ru.role_id=r.id 
		WHERE ru.user_id=#{userId} and r.delflag=0 and r.`status`=1 
		UNION ALL
		SELECT r.id from pt_sys_org_standard_role r
		LEFT JOIN pt_sys_org_role_user ru on ru.role_id=r.id
		LEFT JOIN pt_sys_org_post p on p.id=ru.post_id AND IFNULL(ru.user_id,'')=''
		LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
		WHERE pu.user_id=#{userId} and p.delflag=0
	</select>

	<!--根据菜单id查找拥有当前菜单权限的人员 add by dgh on 2017/09/12-->
	<select id="queryUsersByMenuId" parameterType="map" resultType="java.util.HashMap">
		-- 根据标准岗位授权查找人员
		SELECT DISTINCT pu.user_id as userId,u.real_name as userName FROM pt_sys_res_func_permission fp
		LEFT JOIN pt_sys_res_operation o ON fp.operation_id=o.id
		LEFT JOIN pt_sys_res_resource r ON o.resource_id=r.id
		LEFT JOIN pt_sys_org_standard_role sr ON fp.role_id = sr.id
		LEFT JOIN pt_sys_org_post p on sr.id=p.role_id
		LEFT JOIN pt_sys_org_post_user pu on pu.post_id=p.id
		LEFT JOIN pt_sys_org_user u on pu.user_id=u.id
		WHERE r.id=#{menuId}  AND u.status='1' AND u.delflag='0'

		UNION

		-- 根据岗位授权查找人员
		SELECT DISTINCT pu.user_id as userId,u.real_name as userName FROM pt_sys_res_func_permission fp
		LEFT JOIN pt_sys_res_operation o ON fp.operation_id=o.id
		LEFT JOIN pt_sys_res_resource r ON o.resource_id=r.id
		LEFT JOIN pt_sys_org_post_user pu ON fp.role_id= pu.post_id
		LEFT JOIN pt_sys_org_user u ON pu.user_id=u.id
		WHERE r.id=#{menuId}  AND u.status='1' AND u.delflag='0'

		UNION

		-- 根据角色授权直接查找人员
		SELECT DISTINCT ru.user_id as userId ,u.real_name as userName FROM pt_sys_res_func_permission fp
		LEFT JOIN pt_sys_res_operation o ON fp.operation_id=o.id
		LEFT JOIN pt_sys_res_resource r ON o.resource_id=r.id
		LEFT JOIN pt_sys_org_standard_role sr ON fp.role_id = sr.id
		LEFT JOIN pt_sys_org_role_user ru ON sr.id=ru.role_id
		LEFT JOIN pt_sys_org_user u on ru.user_id=u.id
		WHERE r.id=#{menuId}  AND u.status='1' AND u.delflag='0'

UNION
	-- 根据角色授权查找岗位再根据岗位查找人员
	SELECT DISTINCT u.id as userId ,u.real_name as userName FROM pt_sys_res_func_permission fp
		LEFT JOIN pt_sys_res_operation o ON fp.operation_id=o.id
		LEFT JOIN pt_sys_res_resource r ON o.resource_id=r.id
		LEFT JOIN pt_sys_org_standard_role sr ON fp.role_id = sr.id
		LEFT JOIN pt_sys_org_role_user ru ON sr.id=ru.role_id
		LEFT JOIN pt_sys_org_post op ON op.id=ru.post_id
		LEFT JOIN pt_sys_org_post_user pu on pu.post_id=op.id
		LEFT JOIN pt_sys_org_user u ON u.id=pu.user_id
		WHERE r.id=#{menuId}  AND u.`status`='1' AND u.delflag='0'
		UNION

		-- 查找人员
		SELECT DISTINCT u.id as userId,u.real_name as userName FROM pt_sys_res_func_permission fp
		LEFT JOIN pt_sys_res_operation o ON fp.operation_id=o.id
		LEFT JOIN pt_sys_res_resource r ON o.resource_id=r.id
		LEFT JOIN pt_sys_org_user u ON fp.role_id=u.id
		WHERE r.id=#{menuId} AND u.status='1' AND u.delflag='0'


	</select>
</mapper>