<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.meeting.entity.MeetingType">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingType">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingType">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingType">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	
	
			 <!--查询列表对象-->
	<select id="getMeetingTypeListToView" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingType"  parameterType="java.util.HashMap">
			select 
		 	id as id ,
           create_date as  createDate,
           update_date as updateDate,
           disabled_date as disabledDate,
           create_person_id as createPersonId,
           create_person_name as createPersonName,
           update_person_id as updatePersonId,
           update_person_name as updatePersonName,
            create_org_id as createOrgId,
            create_org_name as createOrgName,
            create_company_id as createCompanyId,
            create_company_name as createCompanyName,
            concurrency_version as concurrencyVersion,
          	delflag as delflag,
          	prefix_id as prefixId,
            name  as name,
            code as  code,
           parent_id as  parentId,
            status as  status,
            flow_instance_id as flowInstanceId,
            flow_instance_code as flowInstanceCode,
            flow_instance_name as flowInstanceName,
            hyjy_flow_instance_code as hyjyFlowInstanceCode,
            hyjy_flow_instance_name as hyjyFlowInstanceName,
            remarks as  remarks,
            sort as sort
			from oa_meeting_type m  where 
		  EXISTS (
			SELECT
				1
			FROM
				oa_meeting_type mm 
			WHERE
				locate(m.sort,mm.sort) > 0 
		) and m.delflag=0
		ORDER BY
		m.sort
	</select>
	

	
	<select id="getMeetingTypeParentIdList" resultType="java.lang.String">
		SELECT DISTINCT
			(
				CASE
				WHEN t.parent_id IS NULL THEN
					concat('null_', t.id)
				ELSE
					t.parent_id
				END
			) AS parentId
		FROM (SELECT g.id ,g.parent_id from oa_meeting_type g where g.delflag=0) as t

	</select>
	
	
	
	<select id="getDeleteMeetingTypeList"  resultType="java.lang.String"   parameterType="java.util.HashMap">
			select 
		 	t.id 
			 from oa_meeting_type t where t.prefix_id like CONCAT(#{prefixId},'%') and t.delflag=0
	</select>
	
	
		 <!-- 根据parentId/sort查询对象-->
	<select id="getMeetingTypeBySort" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingType"  parameterType="java.util.HashMap">
			select 
		 	id as id ,
           create_date as  createDate,
           update_date as updateDate,
           disabled_date as disabledDate,
           create_person_id as createPersonId,
           create_person_name as createPersonName,
           update_person_id as updatePersonId,
           update_person_name as updatePersonName,
            create_org_id as createOrgId,
            create_org_name as createOrgName,
            create_company_id as createCompanyId,
            create_company_name as createCompanyName,
            concurrency_version as concurrencyVersion,
          	delflag as delflag,
            name  as name,
            code as  code,
            prefix_id as prefixId,
           parent_id as  parentId,
            status as  status,
            flow_instance_id as flowInstanceId,
            flow_instance_name as flowInstanceName,
            hyjy_flow_instance_code as hyjyFlowInstanceCode,
            hyjy_flow_instance_name as hyjyFlowInstanceName,
            remarks as  remarks,
            sort as sort
			 from oa_meeting_type where 1=1
		<choose>
                <when test="parentId != null">
                     and   parent_id = #{parentId}
                </when>
                <otherwise>
                     and parent_id  is Null
                 </otherwise>
        </choose> 
        	 	<choose>
                <when test="status != null and status!=''">
                   and    status = #{status}
                </when>
        	 	</choose> 
				 <choose>
                <when test="sort != null">
                       and sort=#{sort}  
                </when>
         		</choose>
			and delflag=0  order by sort 
	</select>
	
	
	
		 <!-- 根据查询重复的对象-->
	<select id="getRepeatObject" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingType"  parameterType="java.util.HashMap">
			select 
		 	id as id ,
           create_date as  createDate,
           update_date as updateDate,
           disabled_date as disabledDate,
           create_person_id as createPersonId,
           create_person_name as createPersonName,
           update_person_id as updatePersonId,
           update_person_name as updatePersonName,
            create_org_id as createOrgId,
            create_org_name as createOrgName,
            create_company_id as createCompanyId,
            create_company_name as createCompanyName,
            concurrency_version as concurrencyVersion,
          	delflag as delflag,
            name  as name,
            code as  code,
            prefix_id as prefixId,
           parent_id as  parentId,
            status as  status,
            flow_instance_id as flowInstanceId,
            flow_instance_name as flowInstanceName,
            hyjy_flow_instance_code as hyjyFlowInstanceCode,
            hyjy_flow_instance_name as hyjyFlowInstanceName,
            remarks as  remarks,
            sort as sort
			 from oa_meeting_type where delflag=0 and (name=#{name} or code=#{code} )
			 <choose>
	                <when test="parentId != null and parentId !=''">
	                   and parent_id = #{parentId}
	                </when>
        	 	</choose> 
	</select>
	
	
		 <!-- 根据查询重复的对象-->
	<select id="getParentMeetingTypeList" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingType"  parameterType="java.util.HashMap">
			select 
		 	id as id ,
           create_date as  createDate,
           update_date as updateDate,
           disabled_date as disabledDate,
           create_person_id as createPersonId,
           create_person_name as createPersonName,
           update_person_id as updatePersonId,
           update_person_name as updatePersonName,
            create_org_id as createOrgId,
            create_org_name as createOrgName,
            create_company_id as createCompanyId,
            create_company_name as createCompanyName,
            concurrency_version as concurrencyVersion,
          	delflag as delflag,
            name  as name,
            code as  code,
            prefix_id as prefixId,
           parent_id as  parentId,
            status as  status,
            flow_instance_id as flowInstanceId,
            flow_instance_name as flowInstanceName,
            hyjy_flow_instance_code as hyjyFlowInstanceCode,
            hyjy_flow_instance_name as hyjyFlowInstanceName,
            remarks as  remarks,
            sort as sort
			from oa_meeting_type where delflag=0 and parent_id is null
	</select>
	
	
		<!-- 批量设置流程模板 -->
	<update id="updateBatchFlow" parameterType="map" >
		<foreach collection="list" item="post" separator=";">
			UPDATE oa_meeting_type set flow_instance_id=#{post.flowInstanceId}, flow_instance_name=#{post.flowInstanceName} WHERE id=#{post.id}
		</foreach>
	</update>
	
</mapper>