<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.meeting.entity.MeetingPartner">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingPartner">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingPartner">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingPartner">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 根据各种状态查询会议信息 -->
	<select id="queryUseerIdByMeetingId" resultType="java.lang.String" parameterType="java.util.Map">
		SELECT
			t.user_id as userId
        FROM
			oa_meeting_partner t
		WHERE 1=1 
		
		<if test="userIdentifiy != null and userIdentifiy != ''">
			AND user_identifiy not in 
			<foreach item="item" index="index" collection="userIdentifiy" open="(" close=")" separator=",">  
	            #{item} 
	        </foreach>
		</if>
		
		 <choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and t.meeting_id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		group by t.user_id
	</select>
	
	<!-- 获取参会用户信息-->
	<select id="getUserInfoByMeetingId" resultType="java.lang.String" parameterType="java.util.Map">
		SELECT
			
			t.user_name as userName
        FROM
			oa_meeting_partner t
		WHERE 1=1
		 <choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and t.meeting_id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		<if test="userIdentifiy != null and userIdentifiy != ''">
			AND user_identifiy not in 
			<foreach item="item" index="index" collection="userIdentifiy" open="(" close=")" separator=",">  
	            #{item} 
	        </foreach>
		</if>
		<choose>
			<when test="joinFlag != null and joinFlag !=''">
				and t.join_flag = #{joinFlag,jdbcType=VARCHAR}
			</when>
		</choose>
		group by t.user_id
	</select>
	
	
	
	<!-- 根据各种状态查询会议信息 -->
	<select id="queryMeetingPartnerByMeetingId" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingPartner" parameterType="java.util.Map">
		SELECT
			t.id,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.create_date as createDate,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.update_date as updateDate,
			t.delflag as delflag,
			t.concurrency_version as concurrencyVersion,
			t.meeting_id as meetingId,
			t.user_id as userId,
			t.user_name as userName,
			t.join_flag as joinFlag,
			t.reply_date as replyDate,
			t.meeting_state as meetingState,
			t.user_identifiy as userIdentifiy,
			t.tend_id as tendId
		
        FROM
			oa_meeting_partner t
		WHERE 1=1
		
		 <choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and t.meeting_id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		ORDER BY t.reply_date desc
		 limit 0,1
	</select>
	
	
	<!-- 根据会议id和用户id返回该用户参加会议的各种身份信息-->
	<select id="getUserIdentifiyByMeetingId" resultType="com.xinleju.cloud.oa.meeting.entity.MeetingPartner" parameterType="java.util.Map">
		SELECT
			t.id,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.create_date as createDate,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.update_date as updateDate,
			t.delflag as delflag,
			t.concurrency_version as concurrencyVersion,
			t.meeting_id as meetingId,
			t.user_id as userId,
			t.user_name as userName,
			t.join_flag as joinFlag,
			t.reply_date as replyDate,
			t.meeting_state as meetingState,
			t.user_identifiy as userIdentifiy,
			t.tend_id as tendId
		
        FROM
			oa_meeting_partner t
		WHERE 1=1
		
		 <choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and t.meeting_id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		ORDER BY t.reply_date desc
	</select>
	
	
	
	<!-- 根据会议id和用户id返回该用户参加会议的各种身份信息-->
	<select id="getUserIdentifiyAndIsJoinAndIsSummMeetingId" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			m.title as title,
			t.user_identifiy as userIdentifiy,
			s.id as meetingSummaryId
			FROM
				oa_meeting m
			LEFT JOIN oa_meeting_partner t ON m.id = t.meeting_id
			LEFT JOIN oa_meeting_summary s ON m.id = s.meeting_id
		WHERE 1=1
		<choose>
			<when test="meetingId != null and meetingId !=''">
				and m.id = #{meetingId,jdbcType=VARCHAR}
			</when>
		</choose>
		<choose>
			<when test="userId != null and userId !=''">
				and t.user_id = #{userId,jdbcType=VARCHAR}
			</when>
		</choose>
	</select>
	
	
	<delete id="deleteMeetingPartnerByMeetingId" parameterType="java.util.Map">
        delete from oa_meeting_partner where 
        <choose>
                <when test="meetingId != null and meetingId !=''">
                     meeting_id = #{meetingId,jdbcType=VARCHAR}
                </when>
        </choose> 
    </delete>
</mapper>