<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	   
	<!-- injection test -->
	<bean id="people" class="com.cjweb.bean.People">
		<property name="id" value="27" />
		
		<property name="name">
			<value>helife</value>
		</property>
		
		<property name="friends">
			<list>
				<value>Jack</value>
				<value>Tom</value>
			</list>
		</property>
		
		<property name="thing">
			<list>
				<value>arr1</value>
				<value>arr2</value>
			</list>
		</property>
		
		<property name="company">
			<set>
				<value>yudong</value>
				<value>cx</value>
			</set>
		</property>
		
		<property name="score">
			<map>
				<entry key="math" value="88"></entry>
				<entry key="computer" value="100"></entry>
			</map>
		</property>
		
		<property name="birthday">
			<value>2008-08-08</value>
		</property>
	</bean>
</beans>