<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 数据库连接池c3p0配置 -->
	<bean id="dataSource"
        class="com.mchange.v2.c3p0.ComboPooledDataSource"
        destroy-method="close">
        <property name="driverClass">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="jdbcUrl">
            <value>jdbc:mysql://localhost:3306/test?zeroDateTimeBehavior=convertToNull</value>
        </property>
        <property name="properties">
            <props>
                <prop key="c3p0.minPoolSize">2</prop>
                <prop key="c3p0.maxPoolSize">50</prop>
				<!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 -->
                <prop key="c3p0.timeout">6000</prop> <!-- seconds --><!-- default: 0 -->
				<!-- 最大的PreparedStatement的数量 -->
                <prop key="c3p0.max_statement">100</prop> <!-- default: 0 -->
                <prop key="c3p0.acquire_increment">1</prop> <!-- default: 1 -->
                <!-- 每隔120秒检查连接池里的空闲连接 ，单位是秒-->
                <prop key="c3p0.idle_test_period">120</prop>
                <prop key="c3p0.testConnectionOnCheckout">true</prop>
				<!-- 每次都验证连接是否可用 -->
                <prop key="c3p0.validate">true</prop> 
                <!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 -->
                <prop key="c3p0.acquire_increment">2</prop>
                <prop key="user">root</prop>
                <prop key="password">root</prop>
				
            </props>
        </property>
	</bean>  		
<!--
     <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!-#-指定连接数据库用的驱动-#->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<!-#-指定连接数据库的路径-#->
        <property name="url" value="jdbc:mysql://localhost:3306/test?zeroDateTimeBehavior=convertToNull" />
		<!-#- hostlist
		     localhost: localhost
		 xieyujun     : ydsnote08-02.yds.yd [192.168.85.21]
		 zhaodong     : jsj-0130.yds.yd     [192.168.85.26]
		 wangqingzhu  : jsj-0328.yds.yd     [192.168.85.27]
		 fengliang    : jsj-0185.yds.yd     [192.168.85.31]
		 zhangdaoqiang: jsj-0188.yds.yd     [192.168.85.32]
		-#->
		<!-#-指定连接数据库的用户名-#->
        <property name="username" value="root" />
		<!-#-指定连接数据库的密码-#->
        <property name="password" value="root" />
        <property name="connection.useUnicode" value="true" />
		<property name="connection.characterEncoding" value="UTF-8" />
        
    </bean>
-->
	<!--SessionFactory配置-->
	<!-- 配置ibatis --> 
     <bean id="sqlMapClient" 
         class="org.springframework.orm.ibatis.SqlMapClientFactoryBean"> 
         <property name="configLocation"> 
             <value>classpath:sql-map-config.xml</value> 
         </property> 
         <property name="dataSource"> 
             <ref bean="dataSource" /> 
         </property> 
     </bean>
	<!-- 定义事务管理器（声明式的事务） -->
	<bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource"><ref local="dataSource"/></property>

	</bean>

	<bean id="loginDao" class="com.ysys.www.hy.dao.impl.LoginDaoImpl">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="yuyueDao" class="com.ysys.www.hy.dao.impl.YuyueDaoImpl">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>
	
 </beans>


