<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.office.mapper.OfficeInfoMapper">

	<!-- 列表查询 -->
	<select id="getOfficeInfoList" parameterType="com.jzy.hio.oa.office.dto.OfficeInfoDto" 
		resultType="com.jzy.hio.oa.office.dto.OfficeInfoDto">
		SELECT 
			oi.id id,
			oi.house_id houseId,
			oh.type_name typeName,
			oi.stock_num stockNum,
			oi.stock_name stockName,
			oi.stock_specifications stockSpecifications,
			oi.stock_brand stockBrand,
			oi.stock_count stockCount,
			oi.metering_unit meteringUnit,
			oi.state state,
			oi.remark remark
						
		FROM office_info oi
		LEFT JOIN office_house oh ON oi.house_id = oh.id
		WHERE 1=1 
			AND oi.delflag = 0
			AND oh.delflag = 0
		<if test="houseId != null and houseId != ''">
		    AND (oh.id = #{houseId} OR oh.parent_id = #{houseId})
		</if>
		<if test="stockName != null and stockName != ''">
		    AND oi.stock_name like concat('%',#{stockName},'%')
		</if>
		<!-- 出入库查询 状态需要为启用 -->
		<if test='queryType != null and queryType == "2"'>
		    AND oh.state = '1' AND oi.state = '1'
		</if>
		<!-- 		 -->
		<if test="state != null and state != ''">
		    AND oh.state = #{state} AND oi.state = #{state}
		</if>

		ORDER BY oi.state DESC,oi.create_date DESC
	</select>
  
</mapper>