<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.office.mapper.OfficeHouseMapper">
  
  <select id="queryOfficeHouseTree" parameterType="com.jzy.hio.entity.OfficeHouse"
  	resultType="com.jzy.hio.oa.office.dto.OfficeHouseDto">
  	select id,number_code numberCode,parent_id parentId,type_name typeName,state,remark
	from office_house 
	<where>
		delflag = 0
		<if test="parentId != null and parentId != ''">
			and parent_id = #{parentId}
		</if>
		<if test="typeName != null and typeName != ''">
			and type_name LIKE '%${typeName}%'
		</if>
		<if test="state != null and state != ''">
			and state = #{state}
		</if>
	</where>
	ORDER BY state desc
  </select>
  
  <select id="queryOfficeHouseListCheck" parameterType="com.jzy.hio.entity.OfficeHouse"
  	resultType="com.jzy.hio.oa.office.dto.OfficeHouseDto">
  	
  	select 
  		id id,
  		number_code numberCode,
  		parent_id parentId,
  		type_name typeName,
  		state state,
  		remark remark
	from office_house 
	<where>
		delflag = 0
		<choose>
			<when test="parentId != null and parentId != ''">
				and parent_id = #{parentId}
			</when>
			<otherwise>
				and (parent_id = '' or  parent_id is null)
			</otherwise>
		</choose>
		<if test="typeName != null and typeName != ''">
			and type_name = #{typeName}
		</if>
	</where>
	ORDER BY state desc
  </select>
  
</mapper>