<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.office.mapper.OfficeOutMapper">
  
  <select id="selectMaxOfficeOutCode" resultType="String">
  	select MAX(code) from office_out
  </select>
  
  <select id="queryOfficeOutList" resultType="com.jzy.hio.oa.office.dto.OfficeOutListDto"
  	parameterType="com.jzy.hio.oa.office.dto.OfficeInOutParam">
  	SELECT
		o.id sid,o.theme,o.code,u.real_name getUserPersonName,s.real_name outPersonName,o.create_date createDate
	FROM
		office_out o
	LEFT JOIN oa_sys_user u on o.get_user_person = u.id
	LEFT JOIN oa_sys_user s on o.out_person = s.id
	<where>
		o.delflag = 0
		<if test="theme != null and theme != ''">
			and o.theme LIKE '%${theme}%'
		</if>
		<if test="getUserPerson != null and getUserPerson != ''">
			and u.real_name like '%${getUserPerson}%'
		</if>
		<if test="beginDate != null and beginDate != ''">
			and o.create_date >= #{beginDate}
		</if>
		<if test="endDate != null and endDate != ''">
			and #{endDate} >= o.create_date
		</if>
	</where>
	<if test="orderBy != null and orderBy != ''">
		ORDER BY ${orderBy}
	</if>
  </select>
  
</mapper>