<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.office.mapper.OfficeInMapper">
  
  <select id="selectMaxOfficeInCode" resultType="String">
  	select MAX(code) from office_in
  </select>
  
  <select id="queryOfficeInList" resultType="com.jzy.hio.oa.office.dto.OfficeInListDto"
  	parameterType="com.jzy.hio.oa.office.dto.OfficeInOutParam">
  	SELECT
		o.id sid,o.theme,o.code,o.in_person inPerson,o.create_date createDate
	FROM
		office_in o
	<where>
		o.delflag = 0
		<if test="theme != null and theme != ''">
			and o.theme LIKE '%${theme}%'
		</if>
		<if test="beginDate != null and beginDate != ''">
			and o.create_date >= #{beginDate}
		</if>
		<if test="endDate != null and endDate != ''">
			and #{endDate} >= o.create_date
		</if>
	</where>
	<if test="orderBy != null and orderBy != ''">
		ORDER BY ${orderBy}
	</if>
  </select>
  
</mapper>