<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.platform.message.mapper.ImGroupSetMapper">

    <select id="isValidateGroup" resultType="com.jzy.hio.entity.ImGroupSet">
        select
          id,
          group_id groupId,
          group_name groupName,
          group_head_url groupHeadUrl
          from im_group_set
        where group_id = #{groupId}
            and  ifnull(delflag,0) = 0
    </select>

    <select id="getHeadUrl" resultType="java.lang.String">
        select group_head_url  from
        im_group_set
        where group_id = #{groupId}
            and  ifnull(delflag,0) = 0
    </select>

</mapper>