<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.meeting.mapper.MeetingReserveBoardroomMapper">
  
  <select id="selectMeetingReserveBoardroomList" resultType="com.jzy.hio.entity.MeetingReserveBoardroom"
  	parameterType="com.jzy.hio.entity.MeetingReserveBoardroom">
  	SELECT
		m.id,m.meeting_id meetingId,m.meeting_boardroom_id meetingBoardroomId,m.reserve_title reserveTitle,
		m.reserve_start_time reserveStartTime,m.reserve_end_time reserveEndTime,
		m.use_userid useUserid,m.remarks
	FROM
		meeting_reserve_boardroom m
	WHERE
		1 = 1
		and m.delflag = 0
	<if test="meetingBoardroomId != null">
		AND m.meeting_boardroom_id = #{meetingBoardroomId}
	</if>
	<if test="reserveStartTime != null">
		AND m.reserve_end_time >= #{reserveStartTime} 
	</if>
	<if test="reserveEndTime != null">
		AND #{reserveEndTime} >= m.reserve_start_time
	</if>
  </select>
  
</mapper>