<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.meeting.mapper.MeetingInfoMapper">
  <select id="getMeetingInfoByStatus" resultType="com.jzy.hio.entity.MeetingInfo"
  	parameterType="com.jzy.hio.oa.meeting.dto.MeetingInfoParam">
  	SELECT
		DISTINCT(m.id),m.mt_title mtTitle,m.organ_depart_id organDepartId,m.boardroom_type boardroomType,m.boardroom_address boardroomAddress,m.begin_date beginDate,m.end_date endDate,m.emcee_id emceeId,m.meeting_organization_id meetingOrganizationId,
		m.recorder_id recorderId,m.meeting_target meetingTarget,m.meeting_output_doc meetingOutputDoc,m.meeting_follow_activity meetingFollowActivity,m.remarks,m.status,m.notifiy_way notifiyWay,m.disappear_way disappearWay,
		m.create_date createDate,m.update_date updateDate,m.create_person_id createPersonId,m.create_person_name createPersonName,m.update_person_id updatePersonId,m.update_person_name updatePersonName,m.concurrency_version concurrencyVersion,m.delflag
	FROM
		meeting_info m
	LEFT JOIN meeting_attendees ma on m.id = ma.meeting_id
	LEFT JOIN meeting_copy_send mcs on m.id = mcs.meeting_id
	LEFT JOIN meeting_summary ms on m.id = ms.meeting_info_id
	LEFT JOIN meeting_actual_attendees maa on ms.id = maa.meeting_summary_id
	<where>
		1 = 1
		and m.delflag = 0
		<!-- and ma.delflag = 0
		and mcs.delflag = 0
		and ms.delflag = 0
		and maa.delflag = 0 -->
		<if test="loginUserId != null and loginUserId != ''">
			and (
			m.create_person_id = #{loginUserId}
			 OR (m.emcee_id = #{loginUserId} and m.status != 0)
			 OR (m.meeting_organization_id = #{loginUserId} and m.status != 0)
			 OR (m.recorder_id = #{loginUserId} and m.status != 0)
			 OR (ma.attendees_id = #{loginUserId} and m.status != 0 and ma.delflag = 0)
			 OR (mcs.copy_send_id = #{loginUserId} and m.status != 0 and mcs.delflag = 0)
			 OR (ms.create_person_id = #{loginUserId} and m.status != 0 and ms.delflag = 0)
			 OR (maa.actual_attendees_id = #{loginUserId} and m.status != 0 and maa.delflag = 0)
			 )
		</if>
		<if test="mtTitle != null and mtTitle != ''">
			and m.mt_title LIKE  concat('%',#{mtTitle},'%')
		</if>
		<if test="statusType != null and statusType != ''">
			${statusType}
		</if>
		<if test="existCopySend == true and existCopySend != ''">
			and mcs.copy_send_id = #{loginUserId} and m.status != 0 and mcs.delflag = 0
		</if>
	</where>
	<choose>
		<when test= "orderBy != null and orderBy != ''">
			order by ${orderBy}
		</when>
		<otherwise>
			order by (CASE m.status WHEN 0 THEN 10  ELSE 40 END) ASC,m.create_date DESC
		</otherwise>
	</choose>
	
  </select>
  
    <select id="getMeetingInfoById" parameterType="String" resultType="com.jzy.hio.oa.meeting.dto.MeetingInfoDto">
    	
    </select>
  
</mapper>