<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.mapper.AgentDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.Agent">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.Agent">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.Agent">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 根据agentId进行批量删除数据-->
	<update id="deleteAllFlowDateByAgentId" parameterType="java.lang.String">
		delete from pt_flow_agent_fl where agent_id=#{agentId}
	</update>
	
	<!-- 根据agentId进行批量删除数据-->
	<update id="deleteAllPostDateByAgentId" parameterType="java.lang.String">
		delete from pt_flow_agent_post where agent_id=#{agentId}
	</update>
	
	<select id="queryAgentInstanceListByParam" resultType="java.util.Map" parameterType="java.util.HashMap">
	    SELECT DISTINCT c.id, c.name instanceName, c.business_object_id businessObjectId, c.status, d.pc_url AS pcUrl,
 	    c.fl_id flId, fl.code flCode,
 	     aa.name, aa.authorized, aa.authorized_id authorizedId, aa.authorizer, aa.authorizer_id authorizerId,
		c.start_user_name startUserName,c.current_approvers currentApprovers, c.start_date startDate, d.name busiObjectName,
 	    d.code businessObjectCode, c.business_id businessId, c.custom_form_id customFormId 
 	    FROM  pt_flow_instance c, pt_flow_business_object d,  pt_flow_fl fl,
 	     (  SELECT DISTINCT ac.fi_id, tsk.source_id, agnt.name, 
 	        agnt.authorized, agnt.authorized_id, agnt.authorizer, agnt.authorizer_id
 		    FROM pt_flow_instance_task tsk, pt_flow_instance_group grp , 
 		    pt_flow_instance_post pst, pt_flow_instance_ac ac ,  pt_flow_agent agnt
            WHERE tsk.group_id = grp.id AND tsk.source in ('3','6') AND tsk.status in (2,3) 
            AND grp.ac_post_id = pst.id AND pst.ac_id = ac.id AND agnt.id = tsk.source_id
            <if test="authorizerId != null and authorizerId != '-1' and authorizerId != ''">
				AND agnt.authorizer_id = #{authorizerId}
			</if>
			<if test="authorizedId != null and authorizedId != '-1' and authorizedId != ''">
				AND agnt.authorized_id = #{authorizedId}
			</if>
			
             ) aa 
 	    WHERE c.business_object_id = d.id  and fl.id = c.fl_id and aa.fi_id = c.id 
 	    <if test="appId != null and appId != '-1' and appId != ''">
			AND c.app_id = #{appId} 
		</if>
		<if test="busiObjectId != null and busiObjectId != '-1' and busiObjectId != ''">
			AND c.business_object_id = #{busiObjectId} 
		</if>
 	    <if test="flowId != null and flowId != '-1' and flowId != ''">
			AND c.fl_id = #{flowId} 
		</if>
		
		<if test="name != null and name != '' ">
			AND c.name LIKE  concat('%',#{name}, '%') 
		</if>
		<if test="code != null and code != ''">
			AND c.code LIKE  concat('%',#{code}, '%') 
		</if>
		ORDER BY c.start_date DESC
		limit #{start}, #{limit}
	</select>
	
	<select id="queryAgentInstanceCountByParam" resultType="java.lang.Integer" parameterType="java.util.HashMap">
	    SELECT count( data.id ) from (
	    SELECT DISTINCT c.id, c.name instanceName, c.business_object_id businessObjectId, c.status, d.pc_url AS pcUrl,
 	    c.fl_id flId, fl.code flCode,
 	     aa.name, aa.authorized, aa.authorized_id authorizedId, aa.authorizer, aa.authorizer_id authorizerId,
		c.start_user_name startUserName,c.current_approvers currentApprovers, c.start_date startDate, d.name busiObjectName,
 	    d.code businessObjectCode, c.business_id businessId, c.custom_form_id customFormId 
 	    FROM  pt_flow_instance c, pt_flow_business_object d,  pt_flow_fl fl,
 	     (  SELECT DISTINCT ac.fi_id, tsk.source_id, agnt.name, 
 	        agnt.authorized, agnt.authorized_id, agnt.authorizer, agnt.authorizer_id
 		    FROM pt_flow_instance_task tsk, pt_flow_instance_group grp , 
 		    pt_flow_instance_post pst, pt_flow_instance_ac ac ,  pt_flow_agent agnt
            WHERE tsk.group_id = grp.id AND tsk.source in ('3','6') AND tsk.status in (2,3) 
            AND grp.ac_post_id = pst.id AND pst.ac_id = ac.id AND agnt.id = tsk.source_id
            <if test="authorizerId != null and authorizerId != '-1' and authorizerId != ''">
				AND agnt.authorizer_id = #{authorizerId}
			</if>
			<if test="authorizedId != null and authorizedId != '-1' and authorizedId != ''">
				AND agnt.authorized_id = #{authorizedId}
			</if>
			
             ) aa 
 	    WHERE c.business_object_id = d.id  and fl.id = c.fl_id and aa.fi_id = c.id 
 	    <if test="appId != null and appId != '-1' and appId != ''">
			AND c.app_id = #{appId} 
		</if>
		<if test="busiObjectId != null and busiObjectId != '-1' and busiObjectId != ''">
			AND c.business_object_id = #{busiObjectId} 
		</if>
 	    <if test="flowId != null and flowId != '-1' and flowId != ''">
			AND c.fl_id = #{flowId} 
		</if>
		
		<if test="name != null and name != '' ">
			AND c.name LIKE  concat('%',#{name}, '%') 
		</if>
		<if test="code != null and code != ''">
			AND c.code LIKE  concat('%',#{code}, '%') 
		</if>
		) data
	</select>

	<select id="queryAgentByUserAndTime" resultType="com.jzy.hio.flow.entity.Agent" parameterType="java.util.HashMap">
		SELECT
			a.id,
			a.`name`,
			a.`status`,
			a.authorized,
			a.authorized_id AS authorizedId,
			a.authorizer,
			a.authorizer_id AS authorizerId,
			a.flow_scope AS flowScope,
			a.post_scope AS postScope,
			a.proxy_type AS proxyType,
			a.remark,
			a.start_date AS startDate,
			a.end_date AS endDate
		FROM
			pt_flow_agent a
		WHERE
			a.authorizer_id = #{userId}
		<![CDATA[ AND a.start_date < #{currentTime, jdbcType=TIMESTAMP} ]]> 
		<![CDATA[ AND a.end_date > #{currentTime, jdbcType=TIMESTAMP} ]]> 
		AND a. STATUS = 1
		AND a.delflag = 0;		
	</select>
	
</mapper>