<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.mapper.AgentFlDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.AgentFl">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.AgentFl">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.AgentFl">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	
	<select id="queryAgentFlowList" parameterType="java.util.HashMap" resultType="com.jzy.hio.flow.dto.tobedeleted.AgentFlDto" >
		SELECT b.name busiObjectName, a.id, a.name flName, a.code, c.agent_id agentId
		FROM pt_flow_fl a, pt_flow_business_object b, pt_flow_agent_fl c
		WHERE a.business_object_id = b.id AND c.fl_id = a.code AND a.status = 1 AND a.use_status = 1  
		AND c.agent_id = #{agentId}
	</select>
	
	<select id="queryAgentFlsByAgentId" parameterType="java.util.HashMap" resultType="java.lang.String">
		SELECT a.fl_id from pt_flow_agent_fl a WHERE a.agent_id = #{agentId} AND a.delflag = 0;
	</select>
</mapper>