<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.mapper.InstanceTransitionRecordDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.InstanceTransitionRecord">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.InstanceTransitionRecord">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.InstanceTransitionRecord">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="queryTransferList" parameterType="java.util.HashMap" resultType="com.jzy.hio.flow.dto.tobedeleted.InstanceTransitionRecordDto">
		SELECT
			id AS id,
			fi_id AS fiId,
			ac_id AS acId,
			ac_name AS acName,
			transation_user_id AS transationUserId,
			transation_user_name AS transationUserName,
			action_name AS actionName,
			transation_date AS transationDate
		FROM
			pt_flow_instance_transition_record
		WHERE
			fi_id = #{instanceId}
		ORDER BY
			transation_date	
	</select>
</mapper>