<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.mapper.InstanceGroupDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.InstanceGroup">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.InstanceGroup">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.InstanceGroup">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<update id="updatePx">
		UPDATE pt_flow_instance_group SET px = #{px}
		<if test="proxy != null and proxy != ''">
			, proxy = #{proxy}
		</if>
		<if test="proxyType != null and proxyType != ''">
			, proxy_type = #{proxyType}
		</if>
		<if test="status != null and status != ''">
			, status = #{status}
		</if>
		WHERE id = #{id}
	</update>

	<!--查询实例所有环节审批人-->
	<select id="queryListByInstanceId" resultType="com.jzy.hio.flow.entity.InstanceGroup" parameterType="map">
		SELECT
			fg.id as id,
			fg.ac_id as acId,
			fg.ac_post_id as acPostId,
			fg.activate_date as activateDate,
			fg.end_date as endDate,
			fg.status as status,
			fg.disable as disable,
			fg.disable_type as disableType,
			fg.post_name as postName,
			fg.parse_type as parseType,
			fg.post_id as postId,
			fg.participant_name as participantName,
			fg.participant_id as participantId,
			fg.px as px,
			fg.source_id as sourceId,
			fg.source as source,
			fg.auto_pass as autoPass,
			fg.proxy as proxy,
			fg.proxyed as proxyed,
			fg.proxy_type as proxyType
		FROM pt_flow_instance_group fg LEFT JOIN pt_flow_instance_ac ta
		ON fg.ac_id=ta.id
		WHERE ta.fi_id=#{instanceId}
		AND fg.delflag = '0'
	</select>
</mapper>