<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.mapper.MobileFormDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.MobileForm">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.MobileForm">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.MobileForm">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<select id="queryMobileFormBy" resultType="com.jzy.hio.flow.dto.tobedeleted.MobileFormDto" parameterType="java.util.HashMap">
		SELECT
			m.name,
			m.value
		FROM
			pt_flow_mobile_form m,
			pt_flow_fl f
		WHERE
			m.business_id = #{businessId}
		AND m.fl_id = f.id
		AND f.code =  #{flCode}
		AND f.is_defualt = 1
		AND f.use_status = 1
		AND f.status = 1
		ORDER BY m.sort 
	</select>
	
	<select id="getBusObjName" parameterType="map" resultType="String">
	SELECT o.`name` from pt_flow_instance t
		LEFT JOIN pt_flow_business_object o on t.business_object_id=o.id
		WHERE t.id = #{instanceId} 
	</select>
	
	<update id="delMobileFormByBusinessId" parameterType="java.lang.String">
		update PT_FLOW_MOBILE_FORM set delflag = '1' where business_id = #{businessId}
	</update>
</mapper>