<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.mapper.MonitorPersonDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.MonitoredPerson">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.MonitoredPerson">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.MonitoredPerson">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 根据监控主题关键字查找对应流程模板列表 -->
	<select id="queryMonitoredListByMonitorName" parameterType="java.util.HashMap" 
	   resultType="com.jzy.hio.flow.dto.tobedeleted.MonitoredPersonDto" >
		SELECT monitored_name monitoredName, monitored_type monitoredType 
		FROM pt_flow_monitor_setting a, pt_flow_monitored_person b 
		WHERE b.monitor_setting_id = a.id 
		<if test="name != null and name != ''">
			AND a.name LIKE concat('%',#{name},'%') 
		</if>
	</select>
</mapper>