<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.mapper.StepDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.Step">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.Step">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.Step">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 查询业务变量所在表达式的流程模板集合 -->
	<select id="bizVarBeUsedInFlow" resultType="String">
		SELECT
			 DISTINCT b.`name`
		FROM
			pt_flow_step a, pt_flow_fl b
		WHERE
			a.delflag = 0
		AND b.delflag = 0
		AND a.fl_id = b.id
		AND b.business_object_id = #{businessObjectId}
		AND a.condition_expression LIKE "%"#{varCode}"%"
	</select>
	
	<select id="queryStepsByFlId" parameterType="java.lang.String" resultType="com.jzy.hio.flow.entity.Step">
		SELECT DISTINCT
			code,
			name,
			condition_expression AS conditionExpression,
			node_id AS nodeId,
			fl_id AS flId,
			source_id AS sourceId,
			target_id AS targetId,
			start_x AS startX,
			start_y AS startY,
			target_x AS targetX,
			target_y AS targetY
		FROM
			PT_FLOW_STEP
		WHERE
			1 = 1
		AND fl_id = #{flId}
		ORDER BY
			node_id + 0;	
	</select>
</mapper>