<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.flow.mapper.SysNoticeMsgDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.flow.entity.SysNoticeMsg">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.flow.entity.SysNoticeMsg">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.flow.entity.SysNoticeMsg">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<select id="queryTwoSumData" resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto">
		SELECT SUM( CASE op_type  WHEN  'DB'  THEN 1 ELSE 0 END ) toDoSum,
 		SUM( case op_type WHEN 'DY' THEN 1 ELSE 0 END ) toReadSum
  		FROM pt_flow_sys_notice_msg  WHERE delflag = 0 and deal_date is null
  		<if test="userId != null and userId != ''">
		    AND user_id = #{userId}  
		</if>
  		<if test="loginName != null and loginName != ''">
		    AND login_name = #{loginName}  
		</if>
		<if test="msgType != null and msgType != ''">
		    AND msg_type = #{msgType}  
		</if>
	</select>
	
	<select id="queryHaveDoneList" resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto">
		SELECT id, title , code, send_date sendDate,login_name loginName, user_id userId, is_open isOpen, 
		user_name userName, msg_type msgType, op_type opType,source, app_code appCode, 
		business_id businessId, ip_address ipAddress, extend_info extendInfo, url,  deal_date dealDate, 
		timestampdiff(HOUR, send_date, IFNULL( deal_date, now())) hourSum 
  		FROM pt_flow_sys_notice_msg  WHERE delflag = 0 and op_type in ('YB','YY') 
  		<if test="userId != null and userId != ''">
		    AND user_id = #{userId}  
		</if>
		ORDER BY send_date DESC
		<if test="limit != null and limit !=0">
			limit #{start}, #{limit}
		</if>
	</select>
	
	<select id="queryDBDYList" resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto">
		SELECT id, title, send_date sendDate, user_id userId, is_open isOpen, 
		user_name userName, msg_type msgType, op_type opType,  
		business_id businessId, extend_info extendInfo, url, deal_date dealDate,
		timestampdiff(HOUR, send_date, IFNULL( deal_date, now())) hourSum
  		FROM pt_flow_sys_notice_msg  WHERE delflag = 0   
  		
  		<if test='opType =="DB" or opType =="DY" '>
		    AND deal_date is null 
		    AND op_type = #{opType}
		</if>
		<if test='opType =="FQ"'> 
		    AND op_type = #{opType}
		</if>
		<if test='opType =="HAVE_DONE"'> 
		    AND op_type in ('YB', 'YY') 
		    AND deal_date is not null 
		</if>
		
  		<if test="userId != null and userId != ''">
		    AND user_id = #{userId}  
		</if>
		ORDER BY send_date DESC
		<if test="limit != null and limit !=0">
			limit #{start}, #{limit}
		</if>
	</select>


	<!--根据opType分页查询消息列表-->
	<select id="queryFlowMsgListByPage" resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto">
		SELECT
			id,
			title,
			CODE,
			send_date sendDate,
			login_name loginName,
			user_id userId,
			is_open isOpen,
			user_name userName,
			msg_type msgType,
			op_type opType,
			source,
			app_code appCode,
			business_id businessId,
			ip_address ipAddress,
			extend_info extendInfo,
			url,
			deal_date dealDate,
			timestampdiff(
				HOUR,
				send_date,
				IFNULL(deal_date, now())
			) hourSum
		FROM
			pt_flow_sys_notice_msg
		WHERE
			delflag = 0
		and op_type in
		<foreach item="item" index="index" collection="opType" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="loginName != null and loginName != ''">
			AND login_name = #{loginName}
		</if>
		<choose>
			<when test="orderByField!=null">
				<choose>
					<when test='sord =="0" '>
						ORDER BY ${orderByField} ASC
					</when>
					<otherwise>
						ORDER BY ${orderByField} DESC
					</otherwise>
				</choose>

			</when>
			<otherwise>
					<choose>
						<when test='sord =="0" '>
							ORDER BY send_date ASC
						</when>
						<otherwise>
							ORDER BY send_date DESC
						</otherwise>
					</choose>
			</otherwise>
		</choose>

		<if test="start!=null and limit!=null">
			limit #{start},#{limit}
		</if>
	</select>

	<!--根据opType分页查询消息列表总记录-->
	<select id="queryFlowMsgListByPageCount" resultType="java.lang.Integer">
		SELECT count(id)
		FROM pt_flow_sys_notice_msg  WHERE delflag = 0 and
		op_type in
		<foreach item="item" index="index" collection="opType" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="loginName != null and loginName != ''">
			AND login_name = #{loginName}
		</if>
		ORDER BY send_date DESC
	</select>
	
	
	
	<update id="completeMessage" parameterType="java.util.HashMap" >
		UPDATE PT_FLOW_SYS_NOTICE_MSG 
		SET op_type = #{opType}, deal_date = #{dealDate}
		<if test="firstType != null">
			,first_type =#{firstType}
		</if>
		WHERE delflag = 0 and id = #{msgId}
	</update>
	
	<update id="setMessageOpened" parameterType="java.lang.String">
		UPDATE PT_FLOW_SYS_NOTICE_MSG 
		SET is_open = 1
		WHERE  delflag = 0 and id = #{messageId}
	</update>
	
	<update id="updateStatusOfNoticeMsg" parameterType="java.util.HashMap" >
		UPDATE PT_FLOW_SYS_NOTICE_MSG 
		SET  deal_date = now()
		<if test="newStatus != null">
			,op_type =#{newStatus}
		</if>
		<if test="firstType != null">
			,first_type =#{firstType}
		</if>
		<if test="delflag != null">
			,delflag =#{delflag}
		</if>
		WHERE  delflag = 0
		    AND id = #{id}
		<if test="oldStatus !=null and oldStatus !=''">
			and op_type = #{oldStatus}
		</if>
		<if test="businessId != null and businessId != '' and businessId != '-1'">
		    AND business_id = #{businessId}  
		</if>
		<if test="extendInfo != null and extendInfo != '' and extendInfo != '-1'">
		    AND extend_info = #{extendInfo}  
		</if>
		<if test="userId != null and userId != '' and userId != '-1'">
			AND user_id in 
			<foreach item="item" index="index" collection="userId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</update>
	
	
	<select id="searchDataByKeywordPageParam" parameterType="java.util.HashMap" resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto">
		SELECT id, title , code, send_date sendDate,login_name loginName, user_id userId, is_open isOpen, 
		user_name userName, msg_type msgType, op_type opType,source, app_code appCode, now() serverDate,
		business_id businessId, ip_address ipAddress, extend_info extendInfo, url,mobible_url mobibleUrl,  deal_date dealDate, 
  		timestampdiff(HOUR, send_date, IFNULL( deal_date, now())) hourSum,
		mobible_param mobibleParam
  		FROM pt_flow_sys_notice_msg  WHERE delflag =0  
  		<if test="loginName != null and loginName != ''">
		    AND login_name = #{loginName}  
		</if>
		<if test="keyword != null and keyword != ''">
		    AND title LIKE concat('%',#{keyword},'%')
		</if>
		<if test="receiverIdList != null and receiverIdList.size() > 0 ">
		    AND login_name in 
			<foreach item="item" index="index" collection="receiverIdList" open="(" separator="," close=")">  
	            #{item} 
	        </foreach> 
		</if>
		<if test="appCode != null and appCode != '' and appCode !='-1'">
			AND app_code = #{appCode}
		</if>
		<choose>
			<when test="firstType != null and firstType != '' and firstType=='OTHER'">
				AND first_type NOT IN ('TASKTODO','MEETING','SCHEDULE','NEWS','DIRECTORS','CLOCKIN','PENDING','TOREAD')
				AND op_type in ('DB','DY')
				AND first_type IS NOT NULL
			</when>
			<otherwise>
				<choose>
					<when test="firstType != null and firstType != '' and firstType=='TASKTODO'">
						AND first_type in('TASKTODO','PENDING','TOREAD')
						AND op_type in ('DB','DY')
						AND first_type IS NOT NULL
					</when>
					<otherwise>
						<if test="firstType != null and firstType != ''">
							AND first_type = #{firstType}
							AND op_type in ('DB','DY')
							AND first_type IS NOT NULL
						</if>
					</otherwise>
				</choose>
			</otherwise>
		</choose>

		
		<if test='dataType =="HAVE_DONE" '>
		    AND op_type in ('YB','YY')
		</if>
		
		<if test='dataType =="DB" or dataType =="DY" or dataType =="FQ" '>
		    AND op_type = #{dataType}
		</if>
		
		<!--<if test=' dataType =="DB" or dataType =="DY" '>
		    AND deal_date is null 
		</if>-->
		
		<if test='timeType=="WEEK"'>  
	    	AND send_date &gt;= date_sub(now(),interval 7 day)
		</if>   
		<if test='timeType=="MONTH"'>  
		    AND send_date &gt;= date_sub(now(),interval 30 day)
		</if> 
		<if test='timeType=="QUARTER"'>  
			AND send_date &gt;= date_sub(now(),interval 90 day)
		</if>
		<choose>
			<when test='dataType =="DB" '>
				<choose>
					<when test="sidx!=null and sidx!=''">
						ORDER BY ${sidx} ${sord}
					</when>
					<otherwise>
						ORDER BY send_date
					</otherwise>
				</choose>

			</when>
			<otherwise>
				<choose>
					<when test="sidx!=null and sidx!=''">
						ORDER BY ${sidx} ${sord}
					</when>
					<otherwise>
						ORDER BY send_date DESC
					</otherwise>
				</choose>
			</otherwise>
		</choose>
		limit #{start}, #{limit}
	</select>
	
	<select id="searchDataCountByKeywordPageParam" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		SELECT count(id) FROM pt_flow_sys_notice_msg  WHERE delflag =0  
  		<if test="loginName != null and loginName != ''">
		    AND login_name = #{loginName}  
		</if>
		<if test="keyword != null and keyword != ''">
		    AND title LIKE concat('%',#{keyword},'%')
		</if>
		<if test="receiverIdList != null and receiverIdList.size() > 0 ">
		    AND login_name in 
			<foreach item="item" index="index" collection="receiverIdList" open="(" separator="," close=")">  
	            #{item} 
	        </foreach> 
		</if>
		<if test="appCode != null and appCode != '' and appCode !='-1'">
			AND app_code = #{appCode}
		</if>
		<choose>
			<when test="firstType != null and firstType != '' and firstType=='OTHER'">
				AND first_type NOT IN ('TASKTODO','MEETING','SCHEDULE','NEWS','DIRECTORS','CLOCKIN','PENDING','TOREAD')
				AND op_type in ('DB','DY')
				AND first_type IS NOT NULL
			</when>
			<otherwise>
				<choose>
					<when test="firstType != null and firstType != '' and firstType=='TASKTODO'">
						AND first_type in('TASKTODO','PENDING','TOREAD')
						AND op_type in ('DB','DY')
						AND first_type IS NOT NULL
					</when>
					<otherwise>
						<if test="firstType != null and firstType != ''">
							AND first_type = #{firstType}
							AND op_type in ('DB','DY')
							AND first_type IS NOT NULL
						</if>
					</otherwise>
				</choose>
			</otherwise>
		</choose>

		<if test='dataType =="HAVE_DONE" '>
		    AND op_type in ('YB','YY')
		</if>
		
		<if test='dataType =="DB" or dataType =="DY" or dataType =="FQ" '>
		    AND op_type = #{dataType}
		</if>
		
		<if test=' dataType =="DB" or dataType =="DY" '>
		    AND deal_date is null 
		</if>
		
		<if test='timeType=="WEEK"'>  
	    	AND send_date &gt;= date_sub(now(),interval 7 day)
		</if>   
		<if test='timeType=="MONTH"'>  
		    AND send_date &gt;= date_sub(now(),interval 30 day)
		</if> 
		<if test='timeType=="QUARTER"'>  
			AND send_date &gt;= date_sub(now(),interval 90 day)
		</if>
	</select>
	
		
    <update id="deleteOpTypeDataByParamMap"  parameterType="java.util.HashMap" >
		UPDATE PT_FLOW_SYS_NOTICE_MSG 
		SET delflag = 1, deal_date = now(), update_date=now() 
		WHERE delflag = 0 
		<if test="opType != null and opType != '' and opType != '-1'">
		    AND op_type = #{opType} 
		</if>
		
		<if test="businessId != null and businessId != '' and businessId != '-1'">
		    AND business_id = #{businessId}  
		</if>
		
		<if test="currentUserId != null and currentUserId != '' and currentUserId != '-1'">
		    AND user_id = #{currentUserId}  
		</if>
		
		<if test="composeOpTypes != null and composeOpTypes != '' ">
		    AND op_type in 
			<foreach item="item" index="index" collection="composeOpTypes" open="(" separator="," close=")">  
	            #{item} 
	        </foreach> 
		</if>
		
		<if test="currentUserId != null and currentUserId != '-1'">
			AND user_id = #{currentUserId}
		</if>
		
		<if test="userId != null and userId != '-1'">
			AND user_id in 
			<foreach item="item" index="index" collection="userId" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
		
		<if test="instanceIdText != null and instanceIdText != '' and instanceIdText != '-1'">
			AND url LIKE  concat('%',#{instanceIdText},'%') 
		</if>
	</update>
	
	<select id="pageQueryByParamMap"  resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto" parameterType="java.util.HashMap">
		SELECT id, title , code, send_date sendDate,login_name loginName, user_id userId, is_open isOpen, 
		user_name userName, msg_type msgType, op_type opType,source, app_code appCode, now() serverDate,
		business_id businessId, ip_address ipAddress, extend_info extendInfo, url,  deal_date dealDate, 
		mobible_url mobibleUrl, mobible_param mobibleParam, is_locked isLocked 
		FROM PT_FLOW_SYS_NOTICE_MSG WHERE delflag = 0 
  		<if test="userId != null and userId != ''">
		    AND user_id = #{userId}  
		</if>
		<if test='dataType =="HAVE_DONE" '>
		    AND op_type in ('YB','YY') AND deal_date is not null
		</if>
		<if test='dataType =="TO_DO" '>
		    AND op_type = 'DB' AND deal_date is null
		</if>
		<if test='dataType =="TO_READ" '>
		    AND op_type = 'DY'  AND deal_date is null
		</if>
		<if test='dataType =="MY_START" '>
		    AND op_type = 'FQ' 
		</if>
		<choose>
			<when test='dataType =="TO_DO" '>
				ORDER BY send_date  
			</when>
			<otherwise>
				ORDER BY send_date DESC  
			</otherwise>
		</choose>
		LIMIT #{start}, #{limit}
	</select>
	
	<select id="pageCountByParamMap" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		SELECT count(id) FROM PT_FLOW_SYS_NOTICE_MSG WHERE delflag = 0 
  		<if test="userId != null and userId != ''">
		    AND user_id = #{userId}  
		</if>
		<if test='dataType =="HAVE_DONE" '>
		    AND op_type in ('YB','YY') AND deal_date is not null
		</if>
		<if test='dataType =="TO_DO" '>
		    AND op_type = 'DB' AND deal_date is null
		</if>
		<if test='dataType =="TO_READ" '>
		    AND op_type = 'DY' AND deal_date is null
		</if>
		<if test='dataType =="MY_START" '>
		    AND op_type = 'FQ' 
		</if>
	</select>
	
	<update id="delMsgAndRecord" parameterType="java.util.HashMap" >
		UPDATE PT_FLOW_SYS_NOTICE_MSG 
		SET delflag = '1',update_date=now()
		<if test="manualSet != null and manualSet !=''">
			,manual_set = #{manualSet}
		</if>
		<if test="operatorId != null and operatorId !=''">
			,update_person_id = #{operatorId}
		</if>
		<if test="operatorName != null and operatorName !=''">
			,update_person_name = #{operatorName}
		</if>
		WHERE id in 
		<foreach item="item" index="index" collection="idsList" open="(" separator="," close=")">  
            #{item} 
        </foreach> 
		
	</update>
	
	<update id="updateStatusOfNoticeMsgByCurrentUser" parameterType="java.util.HashMap" >
		UPDATE PT_FLOW_SYS_NOTICE_MSG 
		SET op_type = #{newStatus}, deal_date = now()
		<if test="firstType != null">
			,first_type =#{firstType}
		</if>
		<if test="delflag != null and delflag !=''">
			,delflag =#{delflag}
		</if>
		<if test="manualSet != null and manualSet !=''">
			,manual_set = #{manualSet}
		</if>
		<if test="operatorId != null and operatorId !=''">
			,update_person_id = #{operatorId}
		</if>
		<if test="operatorName != null and operatorName !=''">
			,update_person_name = #{operatorName}
		</if>
		WHERE  delflag = 0 and op_type = #{oldStatus}
		<if test="id != null and id != '' and id != '-1'">
		    AND id = #{id}  
		</if>
		<if test="businessId != null and businessId != '' and businessId != '-1'">
		    AND business_id = #{businessId}  
		</if>
		<if test="extendInfo != null and extendInfo != '' and extendInfo != '-1'">
		    AND extend_info = #{extendInfo}  
		</if>
		
		<if test="userId != null and userId != '-1'">
			AND user_id = #{userId}
		</if>
		
		<if test="instanceIdText != null and instanceIdText != '' and instanceIdText != '-1'">
			AND url LIKE  concat('%',#{instanceIdText},'%') 
		</if>
	</update>
	
	<update id="updateStatusOfNoticeMsgByBatch" parameterType="java.util.HashMap" >
		UPDATE pt_flow_sys_notice_msg 
		SET 
		first_type = CASE WHEN op_type = 'DB' 
		THEN 'DONE' 
		WHEN op_type = 'DY' 
		THEN 'HAVEREAD' 
		ELSE first_type END,
		op_type = CASE WHEN op_type = 'DB' 
		THEN 'YB' 
		WHEN op_type = 'DY' 
		THEN 'YY' 
		ELSE op_type END,
		deal_date = now()
		<if test="manualSet != null and manualSet !=''">
			,manual_set = #{manualSet}
		</if>
		<if test="operatorId != null and operatorId !=''">
			,update_person_id = #{operatorId}
		</if>
		<if test="operatorName != null and operatorName !=''">
			,update_person_name = #{operatorName}
		</if>
		WHERE  delflag = 0
	    AND id in 
		<foreach item="item" index="index" collection="paramIdList" open="(" separator="," close=")">  
            #{item} 
        </foreach> 
		<if test="businessId != null and businessId != '' and businessId != '-1'">
		    AND business_id = #{businessId}  
		</if>
		<if test="extendInfo != null and extendInfo != '' and extendInfo != '-1'">
		    AND extend_info = #{extendInfo}  
		</if>
		
		<if test="userId != null and userId != '-1'">
			AND user_id = #{userId}
		</if>
		
		<if test="instanceIdText != null and instanceIdText != '' and instanceIdText != '-1'">
			AND url LIKE  concat('%',#{instanceIdText},'%') 
		</if>
	</update>
	
	<select id="queryMsgDto24Hours"  resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto" parameterType="java.util.HashMap">
		select id, title,user_id, now() serverDate, send_date sendDate, timestampdiff(hour, send_date, now()) hourSum
		from pt_flow_sys_notice_msg where delflag=0 and op_type='DB'
		AND timestampdiff(hour, send_date, now())>24
		<if test="userId != null and userId != '' and userId != '-1'">
			AND user_id = #{userId} 
		</if>
		<if test="loginName != null and loginName != ''">
		    AND login_name = #{loginName}  
		</if>
		<if test="msgType != null and msgType != ''">
		    AND msg_type = #{msgType}  
		</if>
	</select>
	
	<select id="queryFirstTypeStatData"  resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgStatDto" parameterType="java.util.HashMap">
		SELECT SUM( CASE WHEN(first_type in ('TASKTODO','PENDING','TOREAD') and op_type in ('DB','DY')) THEN 1 ELSE 0 END ) taskToDoSum,
		SUM( CASE WHEN(first_type='MEETING' and op_type in ('DB','DY')) THEN 1 ELSE 0 END ) meetingSum,
		SUM( CASE WHEN(first_type='SCHEDULE' and op_type in ('DB','DY')) THEN 1 ELSE 0 END ) scheduleSum,
		SUM( CASE WHEN(first_type='NEWS' and op_type ='DY') THEN 1 ELSE 0 END ) newsSum,
		SUM( CASE WHEN(first_type='DIRECTORS' and op_type ='DY') THEN 1 ELSE 0 END ) directorsSum,
		SUM( CASE WHEN(first_type='CLOCKIN' and op_type ='DY') THEN 1 ELSE 0 END ) clockInSum,
		SUM( CASE WHEN(first_type NOT IN ('TASKTODO','MEETING','SCHEDULE','NEWS','DIRECTORS','CLOCKIN','PENDING','TOREAD') and op_type in('DB','DY')) THEN 1 ELSE 0 END ) otherSum
		FROM pt_flow_sys_notice_msg WHERE first_type is not null AND delflag=0
		<if test="userId != null and userId != '' and userId != '-1'">
			AND user_id = #{userId} 
		</if>
	</select>
	
	
	<select id="queryAllUserToDoList"  resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto" parameterType="java.util.HashMap">
		SELECT msg.user_id userId, u.login_name loginName, count(msg.id) toDoSum 
		FROM pt_flow_sys_notice_msg msg, pt_sys_org_user u
		WHERE msg.user_id = u.id and msg.delflag=0 AND msg.deal_date is null 
		<if test="opType != null and opType != ''">
		    AND msg.op_type = #{opType}  
		</if>
		<if test="msgType != null and msgType != ''">
		    AND msg.msg_type = #{msgType}  
		</if>
		<if test="excludeAppCode != null and excludeAppCode != ''">
		    AND msg.app_code != #{excludeAppCode}  
		</if>
		group by msg.user_id, u.login_name
	</select>
	
	<update id="deleteMsgOfAdminBy" parameterType="java.util.HashMap" >
		UPDATE pt_flow_sys_notice_msg m,
		 pt_sys_org_user u
		SET m.delflag = 1
		WHERE
			m.extend_info = #{instanceId}
		AND m.op_type = 'DB'
		AND m.delflag = 0
		AND m.user_id = u.id
		AND u.type = '2'
	</update>
	<select id="queryNoticeMsg" parameterType="java.util.Map" resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto">
		SELECT id, title , code, send_date sendDate,login_name loginName, user_id userId, is_open isOpen,
		user_name userName, msg_type msgType, op_type opType,source, app_code appCode, now() serverDate,
		business_id businessId, ip_address ipAddress, extend_info extendInfo, url,  deal_date dealDate,
		timestampdiff(HOUR, send_date, IFNULL( deal_date, now())) hourSum
		FROM pt_flow_sys_notice_msg  WHERE delflag =0
		<if test="loginName != null and loginName != ''">
			AND login_name = #{loginName}
		</if>
		<if test="title != null and title != ''">
			AND title LIKE concat('%',#{title},'%')
		</if>
		<if test="appCode != null and appCode != '' and appCode !='-1'">
			AND app_code = #{appCode}
		</if>
		<if test="userId != null and userId != ''">
			AND user_id = #{userId}
		</if>
		<if test="msgType != null and msgType != ''">
			AND msg_type = #{msgType}
		</if>
		<if test="userName != null and userName != ''">
			AND user_name = #{userName}
		</if>
		<if test="businessId != null and businessId != ''">
			AND business_id = #{businessId}
		</if>
		<if test="id != null and id != ''">
			AND id = #{id}
		</if>
		<choose>
			<when test="firstType != null and firstType != '' and firstType=='OTHER'">
				AND first_type NOT IN ('TASKTODO','MEETING','SCHEDULE','NEWS','DIRECTORS','CLOCKIN','PENDING','TOREAD')
				AND op_type in ('DB','DY')
				AND first_type IS NOT NULL
			</when>
			<otherwise>
				<choose>
					<when test="firstType != null and firstType != '' and firstType=='TASKTODO'">
						AND first_type in('TASKTODO','PENDING','TOREAD')
						AND op_type in ('DB','DY')
						AND first_type IS NOT NULL
					</when>
					<otherwise>
						<if test="firstType != null and firstType != ''">
							AND first_type = #{firstType}
							AND op_type in ('DB','DY')
							AND first_type IS NOT NULL
						</if>
					</otherwise>
				</choose>
			</otherwise>
		</choose>


		<if test="dataType =='HAVE_DONE' ">
			AND op_type in ('YB','YY')
		</if>

		<if test="dataType =='DB' or dataType =='DY' or dataType =='FQ' ">
			AND op_type = #{dataType}
		</if>

		<if test="dataType =='UNDO' ">
			AND op_type in ('DB','DY')
		</if>
		<!--<if test=' dataType =="DB" or dataType =="DY" '>
		    AND deal_date is null
		</if>-->

		<if test="timeType=='WEEK'">
			AND send_date &gt;= date_sub(now(),interval 7 day)
		</if>
		<if test='timeType=="MONTH"'>
			AND send_date &gt;= date_sub(now(),interval 30 day)
		</if>
		<if test='timeType=="QUARTER"'>
			AND send_date &gt;= date_sub(now(),interval 90 day)
		</if>
		ORDER BY send_date DESC
		<if test="start!=null and limit!=null">
			LIMIT #{start}, #{limit}
		</if>
	</select>
	
	<update id="updateMsg" parameterType="java.util.HashMap">
		UPDATE pt_flow_sys_notice_msg
		SET login_name = #{loginName},
		 user_id = #{userId},
		 user_name = #{userName},
		 send_date = #{sendDate}
		WHERE
			id = (
				SELECT
					msg_id
				FROM
					pt_flow_instance_task
				WHERE
					group_id = #{groupId}
			)		
	</update>

	<select id="statisticsNoticeMsg" parameterType="java.util.Map" resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto">
		SELECT
		  msg.id as id,
		  msg.title,
		  msg.login_name as loginName,
		  msg.user_id as userId,
		  msg.user_name as userName,
		  msg.op_type as opType,
		  msg.source as source,
		  msg.app_code as appCode,
		  msg.business_id as businessId,
		  msg.send_date as sendDate,
		 IFNULL(msg.deal_date,now()) as dealDate,
	      url as url
	FROM
		pt_flow_sys_notice_msg msg
	WHERE
	    msg.delflag = 0
	    and msg.send_date BETWEEN #{startDate} AND #{endDate}
		and url like '%instanceId%'
		<if test="source!=null and source!='' and source!='-1'">
		and	msg.source=#{source}
		</if>
	    <if test="appCode!=null and appCode!='' and appCode!='-1'">
		and	msg.appCode=#{appCode}
		</if>
		 and op_type in ('DB','YB')
	</select>


	<select id="selectProcessInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			ac.`name` as acName,
			b.name as busiObjectName,
		    fl.name as flowTemplate,
			org.prefix_name as orgName,
			org.id as orgId,
			org.type,
			org.parent_id as pid,
			i.name as instanceName,
		    i.create_person_name as startUserName,
			i.flow_business_company_name as startCompanyName,
			i.flow_business_dept_name as startDeptName
		FROM
			pt_flow_instance_ac ac
		LEFT JOIN pt_flow_approve_type atype ON (
			ac.approve_type_id = atype. CODE
		)
		LEFT JOIN pt_flow_instance_post p ON (
			ac.id = p.ac_id
			AND p.delflag = 0
		)
		LEFT JOIN pt_flow_instance_group g ON (
			p.id = g.ac_post_id
			AND g.delflag = 0
		)
		LEFT JOIN pt_flow_instance_task t ON (
			g.id = t.group_id
			AND t.delflag = 0
		)
		LEFT JOIN pt_flow_instance i ON (ac.fi_id = i.id)
		LEFT JOIN pt_flow_fl fl ON i.fl_id = fl.id
		LEFT JOIN pt_flow_instance_cs cs ON (
			cs.ac_id = ac.id
			AND cs.fi_id = ac.fi_id
			AND cs.delflag = 0
		)
		LEFT JOIN pt_flow_business_object b ON (
			b.id = i.business_object_id
			AND b.delflag = 0
		)
		LEFT JOIN pt_sys_res_app a ON (
			a.id = i.app_id
			AND a.delflag = 0
		)
		LEFT JOIN pt_sys_org_post post on (p.post_id = post.id AND post.delflag = 0)
		LEFT JOIN pt_sys_org_orgnazation org on (post.ref_id = org.id AND org.delflag = 0)
		WHERE
		 ac.ac_type > 1
		 <if test="instanceId!=null and instanceId!='null' and instanceId!=''">
		 	and	 ac.fi_id = #{instanceId}
		 </if>
		<if test="userId!=null and userId!='null' and userId!=''">
			AND g.participant_id = #{userId}
		</if>
		<if test="busiObjectId!=null and busiObjectId !='null' and busiObjectId!='' and busiObjectId!='-1'">
			AND b.id = #{busiObjectId}
		</if>
	</select>
	<select id="selectOrgInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT f.id,f.`name`,f.type,f.prefix_id,f.prefix_name,o.id Sid  FROM pt_sys_org_orgnazation o
		LEFT JOIN pt_sys_org_orgnazation f on o.prefix_id like CONCAT(f.prefix_id,"%")
		WHERE o.type ='dept' and o.id = #{id}
		ORDER BY o.id,LENGTH(f.prefix_id) DESC
	</select>
    <select id="getMsgBussniessObjects" parameterType="map" resultType="com.jzy.hio.flow.dto.tobedeleted.SysNoticeMsgDto">
        SELECT t.id instanceId,o.if_mobile ifBussnissObjectLock from pt_flow_instance t
        LEFT JOIN pt_flow_business_object o on t.business_object_id=o.id
        WHERE t.id in
        <foreach collection="instanceIds" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
</mapper>