<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.task.mapper.TaskInfoDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.task.entity.TaskInfo">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.task.entity.TaskInfo">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.task.entity.TaskInfo">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 根据租户ID查询数据库tendCode -->
	<select id="getDatabaseKey" resultType="java.lang.String" parameterType="java.util.Map">
		SELECT
			d.CODE AS tendCode
		FROM
			sys_tend_user t,
			sys_tend_database d
		WHERE
			t.database_id = d.id
		AND t.id=#{tendId, jdbcType=VARCHAR}  limit 1
	</select>
	
	<!-- 根据租户ID查询数据库tendCode -->
	<select id="queryListByIds" resultType="com.jzy.hio.task.entity.TaskInfo" parameterType="java.util.Map">
		SELECT
			id,
			create_person_id createPersonId,
			create_person_name createPersonName,
			create_org_id createOrgId,
			create_org_name createOrgName,
			create_company_id createCompanyId,
			create_company_name createCompanyName,
			create_date createDate,
			update_person_id updatePersonId,
			update_person_name updatePersonName,
			update_date updateDate,
			delflag,
			concurrency_version concurrencyVersion,
			NAME name,
			CODE code,
			active,
			simple_trigger simpleTrigger,
			time_interval timeInterval,
			end_time endTime,
			type,
			fully_qualified_name fullyQualifiedName,
			method_name methodName,
			time_expression timeExpression,
			remark,
			tend_id tendId,
			app_id appId,
		    is_for_platform isForPlatform
		FROM
			pt_univ_task_info
		<where>
			
			<if test="idsList != null">
				id IN 
				<foreach collection="idsList" item="id" open="(" separator="," close=")">  
	            	#{id} 
	       		</foreach>
			</if>
		</where>
	</select>
	
	<select id="getTaskInfoList" resultType="com.jzy.hio.task.entity.TaskInfo" parameterType="java.util.HashMap">
		SELECT
		  id,
		  create_person_id as createPersonId,
		  create_person_name as createPersonName,
		  create_org_id as createOrgId,
		  create_org_name as createOrgName,
		  create_company_id as createCompanyId,
		  create_company_name as createCompanyName,
		  create_date as createDate,
		  update_person_id as updatePersonId,
		  update_person_name as updatePersonName,
		  update_date as updateDate,
		  delflag,
		  concurrency_version as concurrencyVersion,
		  NAME,
		  CODE,
		  active,
		  simple_trigger as simpleTrigger,
		  time_interval as timeInterval,
		  start_time as startTime,
		  end_time as endTime,
		  TYPE,
		  fully_qualified_name as fullyQualifiedName,
		  method_name as methodName,
		  trigger_object_name as triggerObjectName,
		  job_object_name as jobObjectName,
		  time_expression as timeExpression,
		  remark,
		  tend_id as tendId,
		  app_id as appId,
		  is_for_platform as isForPlatform
		FROM pt_univ_task_info
		where 1=1
        <if test=" name != null and name != '' ">     
          and name = #{name}
        </if>
           order by create_date desc
           limit #{start},#{limit}
	</select>
	
	<select id="getTaskInfoCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		SELECT
		  count(*)
		FROM pt_univ_task_info
		where 1=1
        <if test=" name != null and name != '' ">     
          and name = #{name}
        </if>
	</select>
	
</mapper>