<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.contract.mapper.ContractChangeTypeMapper">

    <update id="deleteContractChangeTypeById" parameterType="com.jzy.hio.oa.contract.dto.ContractChangeTypeDto">
    	UPDATE oa_contract_change_type c 
    	SET c.delflag = 1,c.update_date = #{updateDate} 
    	WHERE c.id = #{id}
    </update>
    <select id="getContractChangeTypeList" parameterType="com.jzy.hio.oa.contract.dto.ContractChangeTypeDto" 
    		resultType="com.jzy.hio.oa.contract.dto.ContractChangeTypeDto" >
    	SELECT 
    		t.contract_change_type contractChangeType,
    		t.id id,
    		t.remark remark   		
    	FROM oa_contract_change_type t 
    	WHERE t.delflag = 0 
    	<if test="contractChangeType != null and contractChangeType != ''">
		    AND t.contract_change_type like concat('%',#{contractChangeType},'%')
		</if>
    </select>
    
    <select id="getContractChangeTypeById" parameterType="String" resultType="com.jzy.hio.oa.contract.dto.ContractChangeTypeDto" >
    	SELECT 
    		t.contract_change_type contractChangeType,
    		t.id id,
    		t.remark remark   		
    	FROM oa_contract_change_type t 
    	WHERE t.delflag = 0 
    		AND t.id = #{id}
    </select>
    
     <select id="getContractChangeTypeByName" parameterType="String" resultType="com.jzy.hio.oa.contract.dto.ContractChangeTypeDto" >
    	SELECT 
    		t.contract_change_type contractChangeType,
    		t.id id,
    		t.remark remark   		
    	FROM oa_contract_change_type t 
    	WHERE t.delflag = 0 
    		AND t.contract_change_type = #{contractChangeType}
    </select>
    
     <select id="getContractChangeTypeAndInfo" parameterType="String" resultType="com.jzy.hio.oa.contract.dto.ContractChangeTypeDto" >
		SELECT 
			DISTINCT t.contract_change_type contractChangeType
		FROM oa_contract_change_type t
		INNER JOIN oa_contract_change c ON t.id = c.change_type_id
		WHERE c.delflag = 0 
			AND t.id = #{id}
    </select>

</mapper>