<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.contract.mapper.ContractInfoMapper">

	<!-- 根据id进行逻辑删除 -->
    <update id="deleteContractInfoById">
    	UPDATE OA_CONTRACT c SET  c.delflag = 1 where c.id = #{id}
    </update>
    
    <select id="getContractInfoById" parameterType="String" resultType="com.jzy.hio.oa.contract.dto.ContractInfoDto">
    	SELECT 
			c.id id,c.title title,
			c.code code,c.first_party firstParty,
			c.second_party secondParty,
			c.payee payee,c.start_date startDate,
			c.signing_date signingDate,c.end_date endDate,
			c.money money,c.summary summary,			
			c.payment_agreement paymentAgreement,
			c.remark remark,c.status status,
			c.approve_status approveStatus,
			c.perform_status performStatus,
			c.balance_status balanceStatus,	
			c.contract_type_id contractTypeId,	
			ct.contract_type contractTypeName,
			<!-- 人/部门名称获取 -->
			c.operator_id operatorId,
			c.operator_dept_id operatorDeptId,
			osu.real_name operatorName,
			oso.name operatorDeptName,
			c.create_date createDate,
			c.fi_id fiId,
			ifnull(cp.sumPaymentMoney,0.00) sumPaymentMoney,
			ifnull(cc.sumChangeMoney,0.00) sumChangeMoney
						
		FROM oa_contract c
		LEFT JOIN oa_contract_type ct ON c.contract_type_id = ct.id
		LEFT JOIN oa_sys_organization oso ON c.operator_dept_id = oso.id
		LEFT JOIN oa_sys_user osu ON c.operator_id = osu.id
		LEFT JOIN (
			SELECT 
				sum(ifnull(change_money,0.00)) sumChangeMoney,contract_id 
			FROM oa_contract_change 
			WHERE 1=1 
				AND delflag = 0 
				<!-- 此处统计累计金额,需加条件非作废、非打回和草稿 -->
				AND (status = 0 OR status = 2)
				AND (approve_status = 2 OR approve_status = 5)
				AND contract_id = #{id}
		) cc ON c.id = cc.contract_id
		LEFT JOIN (
			SELECT 
				sum(ifnull(payment_money,0.00)) sumPaymentMoney,contract_id 
			FROM oa_contract_payment 
			WHERE 1=1 
				AND delflag = 0 
				<!-- 此处统计累计金额,需加条件非作废、非打回和草稿 -->
				AND (status = 0 OR status = 2)
				AND (approve_status = 1 OR approve_status = 2 OR approve_status = 5)
				AND contract_id = #{id}
		)cp ON c.id = cp.contract_id
		WHERE 1=1 
			AND c.delflag = 0
			<!-- AND (ct.delflag = 0 OR ct.delflag is NULL) -->
			AND c.id = #{id}
    </select>
    
    <!-- 通过合同主题查询,同主题校验 -->
    <select id="getContractInfoListByTitleOrCode" parameterType="com.jzy.hio.oa.contract.dto.ContractInfoDto"
    		resultType="com.jzy.hio.oa.contract.dto.ContractInfoDto" >
    		
    	SELECT 
			c.id id,c.title title,c.contract_type_id contractTypeId,
			c.approve_status approveStatus,c.fi_id fiId,c.status status,
			c.code code
			
		FROM oa_contract c
		WHERE 1=1 
			AND c.delflag = 0
			AND c.status != 9
			AND (c.approve_status = 1 OR c.approve_status = 2 OR c.approve_status = 5)
		<if test="title != null and title != ''">
		    AND c.title = #{title}
		</if>
		<if test="code != null and code != ''">
		    AND c.code = #{code}
		</if>
    		
    </select>
    
    <!-- 根据id更新状态 -->
    <update id="updateContractStatus" parameterType="com.jzy.hio.oa.contract.dto.ContractInfoDto">
    	UPDATE OA_CONTRACT c SET  c.status = #{status} where c.id = #{id}
    </update>
    
    <!-- 根据id结算/反结算 -->
    <update id="updateContractBalanceStatus" parameterType="com.jzy.hio.oa.contract.dto.ContractInfoDto">
    	UPDATE OA_CONTRACT c SET  c.balance_status = #{balanceStatus} where c.id = #{id}
    </update>
    
    <select id="getContractInfoList" parameterType="com.jzy.hio.oa.contract.dto.ContractInfoDto"
    		resultType="com.jzy.hio.oa.contract.dto.ContractInfoDto" >
		<!-- ${querySql} -->
		
		SELECT DISTINCT
			c.id id,c.title title,c.code code,
			ct.contract_type contractTypeName,c.money money,
			ifnull(cc.sumChangeMoney,0.00) sumChangeMoney,
			ifnull(cp.sumPaymentMoney,0.00) sumPaymentMoney,
			c.status status,c.balance_status balanceStatus,
			c.signing_date signingDate,c.fi_id fiId,
			c.approve_status approveStatus
		FROM oa_contract c
		LEFT JOIN oa_contract_type ct ON c.contract_type_id = ct.id
		LEFT JOIN (
			SELECT 
				sum(ifnull(change_money,0.00)) sumChangeMoney,contract_id 
			FROM oa_contract_change 
			WHERE 1=1 
				AND delflag = 0 
				<!-- 此处统计累计金额,需加条件非作废、非打回和草稿 -->
				AND (status = 0 OR status = 2)
				AND (approve_status = 2 OR approve_status = 5)
			GROUP BY contract_id
		) cc ON c.id = cc.contract_id
		LEFT JOIN (
			SELECT 
				sum(ifnull(payment_money,0.00)) sumPaymentMoney,contract_id 
			FROM oa_contract_payment 
			WHERE 1=1 
				AND delflag = 0 
				<!-- 此处统计累计金额,需加条件非作废、非打回和草稿 -->
				AND (status = 0 OR status = 2)
				AND (approve_status = 1 OR approve_status = 2 OR approve_status = 5)
			GROUP BY contract_id
		)cp ON c.id = cp.contract_id
		
		<if test="operatorDeptId != null and operatorDeptId != ''">
		    LEFT JOIN oa_sys_organization oso ON c.operator_dept_id = oso.id
		</if>
		
		<choose>
		    <when test="changeTypeId != null and changeTypeId != ''">
		        INNER JOIN oa_contract_change cc2 ON c.id = cc2.contract_id
				WHERE 1=1 
					AND c.delflag = 0 
					AND (ct.delflag = 0 OR ct.delflag is NULL)
					AND cc2.delflag = 0
					AND (c.approve_status = 2 OR c.approve_status = 5 
						OR (c.approve_status = 4 AND (c.fi_id IS NULL OR c.fi_id = '')))
					AND cc2.change_type_id = #{changeTypeId}
		    </when>
		    <otherwise>
		    	WHERE 1=1 
					AND c.delflag = 0 
					AND (ct.delflag = 0 OR ct.delflag is NULL)
					AND (c.approve_status = 2 OR c.approve_status = 5 
						OR (c.approve_status = 4 AND (c.fi_id IS NULL OR c.fi_id = '')))
		    </otherwise>
		</choose>
		<if test="title != null and title != ''">
		    AND c.title like concat('%',#{title},'%')
		</if>
		<if test="secondParty != null and secondParty != ''">
		    AND c.second_party like concat('%',#{secondParty},'%')
		</if>
		<if test="signingDateBegin != null and signingDateBegin != ''">
		    AND DATE_FORMAT(c.signing_date,'%Y-%m-%d %H:%i:%S') >= #{signingDateBegin}
		</if>
		<if test="signingDateEnd != null and signingDateEnd != ''">
		    AND #{signingDateEnd} >= DATE_FORMAT(c.signing_date,'%Y-%m-%d %H:%i:%S')
		</if>
		<if test="contractTypeId != null and contractTypeId != ''">
		    AND c.contract_type_id =  #{contractTypeId}
		</if>
		<!-- 
		<if test="operatorDeptIdList != null">
		    AND c.operator_dept_id IN
		    <foreach collection="operatorDeptIdList" index="index" item="deptId" open="(" separator="," close=")">
             	#{deptId}
            </foreach>
		</if>
		-->
		<if test="operatorDeptId != null and operatorDeptId != ''">
		   AND oso.prefix_id LIKE CONCAT('%', #{operatorDeptId}, '%' )
		</if>
		<if test="approveStatus != null">
		    AND c.approve_status = #{approveStatus}
		</if>
		<if test="status != null">
		    AND c.status = #{status}
		</if>
		<if test="balanceStatus != null">
		    AND c.balance_status = #{balanceStatus}
		</if>
		ORDER BY c.create_date DESC
    </select>
    
    <!-- 移动端列表 -->
    <select id="getContractMobileList" parameterType="com.jzy.hio.oa.contract.dto.ContractInfoDto"
    		resultType="com.jzy.hio.oa.contract.dto.ContractMobileListDto" >
		
		SELECT 
			c.id sid,c.title title,c.code code,
			ct.contract_type contractType,c.money money,
			ifnull(cc.sumChangeMoney,0.00) sumChangeMoney,
			ifnull(cp.sumPaymentMoney,0.00) sumPaymentMoney,
			c.status status,c.balance_status balanceStatus,
			c.signing_date signingDate,
			c.operator_id operatorId,
			c.operator_dept_id operatorDeptId,
			osu.real_name operatorName,
			oso.name operatorDeptName
			
		FROM oa_contract c
		LEFT JOIN oa_contract_type ct ON c.contract_type_id = ct.id
		LEFT JOIN oa_sys_organization oso ON c.operator_dept_id = oso.id
		LEFT JOIN oa_sys_user osu ON c.operator_id = osu.id
		LEFT JOIN (
			SELECT 
				sum(ifnull(change_money,0.00)) sumChangeMoney,contract_id 
			FROM oa_contract_change 
			WHERE 1=1 
				AND delflag = 0 
				<!-- 此处统计累计金额,需加条件非作废、非打回和草稿 -->
				AND (status = 0 OR status = 2)
				AND (approve_status = 2 OR approve_status = 5)
			GROUP BY contract_id
		) cc ON c.id = cc.contract_id
		LEFT JOIN (
			SELECT 
				sum(ifnull(payment_money,0.00)) sumPaymentMoney,contract_id 
			FROM oa_contract_payment 
			WHERE 1=1 
				AND delflag = 0 
				<!-- 此处统计累计金额,需加条件非作废、非打回和草稿 -->
				AND (status = 0 OR status = 2)
				AND (approve_status = 1 OR approve_status = 2 OR approve_status = 5)
			GROUP BY contract_id
		)cp ON c.id = cp.contract_id
		
		WHERE 1=1 
			AND c.delflag = 0 
			AND ct.delflag = 0
			AND (c.status = 0 OR c.status = 2)
			AND (c.approve_status = 2 OR c.approve_status = 5)
		<!-- 
		包含草稿
		WHERE 1=1 
			AND c.delflag = 0 
			AND (ct.delflag = 0 OR ct.delflag IS NULL)
			AND (c.status = 0 OR c.status = 2 OR c.status IS NULL)
			AND (c.approve_status = 1 OR c.approve_status = 2 OR c.approve_status = 5 OR c.approve_status IS NULL)
		 -->
		<if test="title != null and title != ''">
		    AND c.title like concat('%',#{title},'%')
		</if>
		
		ORDER BY c.create_date DESC
    </select>
    
    <!-- 移动端详细信息 -->
    <select id="getContractMobileById" parameterType="String" resultType="com.jzy.hio.oa.contract.dto.ContractInfoMobileDto">
    	SELECT 
			c.id sid,c.title title,
			c.code code,c.first_party firstParty,
			c.second_party secondParty,
			c.payee payee,c.start_date startDate,
			c.signing_date signingDate,c.end_date endDate,
			c.money money,c.summary summary,			
			c.payment_agreement paymentAgreement,
			c.remark remark,c.status status,
			c.balance_status balanceStatus,	
			c.contract_type_id contractTypeId,	
			ct.contract_type contractTypeName,
			c.fi_id fiId,
			<!-- 人/部门名称获取 -->
			c.operator_id operatorId,
			c.operator_dept_id operatorDeptId,
			osu.real_name operatorName,
			oso.name operatorDeptName,
			ifnull(cc.sumChangeMoney,0.00) sumChangeMoney,
			ifnull(cp.sumPaymentMoney,0.00) sumPaymentMoney
						
		FROM oa_contract c
		LEFT JOIN oa_contract_type ct ON c.contract_type_id = ct.id
		LEFT JOIN oa_sys_organization oso ON c.operator_dept_id = oso.id
		LEFT JOIN oa_sys_user osu ON c.operator_id = osu.id
		LEFT JOIN (
			SELECT 
				sum(ifnull(change_money,0.00)) sumChangeMoney,contract_id 
			FROM oa_contract_change 
			WHERE 1=1 
				AND delflag = 0 
				<!-- 此处统计累计金额,需加条件非作废、非打回和草稿 -->
				AND (status = 0 OR status = 2)
				AND (approve_status = 2 OR approve_status = 5)
				AND contract_id = #{id}
		) cc ON c.id = cc.contract_id
		LEFT JOIN (
			SELECT 
				sum(ifnull(payment_money,0.00)) sumPaymentMoney,contract_id 
			FROM oa_contract_payment 
			WHERE 1=1 
				AND delflag = 0 
				<!-- 此处统计累计金额,需加条件非作废、非打回和草稿 -->
				AND (status = 0 OR status = 2)
				AND (approve_status = 1 OR approve_status = 2 OR approve_status = 5)
				AND contract_id = #{id}
		)cp ON c.id = cp.contract_id
		WHERE 1=1 
			AND c.delflag = 0
			<!-- AND (ct.delflag = 0 OR ct.delflag is NULL) -->
			AND c.id = #{id}
    </select>
    
     <!-- 按年度统计 -->
    <select id="getTotalListByYear" parameterType="com.jzy.hio.oa.contract.dto.ContractInfoDto"
    		resultType="com.jzy.hio.oa.contract.dto.ContractTotalDto" >   		
    		
			SELECT t.yyTime totalTime,
				ifnull(c.totalMoney,0.00) totalMoney,
				ifnull(cc.totalChangeMoney,0.00) totalChangeMoney,
				ifnull(p.totalPyamentMoney,0.00) totalPyamentMoney 
			FROM (
				<!-- 增加当年 -->
				SELECT date_format(curdate(), '%Y年') yyTime
				UNION
				SELECT date_format(signing_date, '%Y年') yyTime FROM oa_contract WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR status = 2) AND delflag = 0 GROUP BY date_format(signing_date, '%Y')
				UNION
				SELECT date_format(payment_date, '%Y年') yyTime FROM oa_contract_payment WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR status = 2) AND delflag = 0 GROUP BY date_format(payment_date, '%Y')
				UNION
				SELECT date_format(signing_date, '%Y年') yyTime FROM oa_contract_change WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR status = 2) AND delflag = 0 GROUP BY date_format(signing_date, '%Y')
			) t
			LEFT JOIN(
				SELECT date_format(signing_date, '%Y年') cTime,sum(money) totalMoney from oa_contract WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR status = 2) AND delflag = 0 GROUP BY date_format(signing_date, '%Y')
			) c ON T.yyTime = c.cTime
			LEFT JOIN(
				SELECT date_format(payment_date, '%Y年') pTime,sum(payment_money) totalPyamentMoney  from oa_contract_payment WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR status = 2) AND delflag = 0 GROUP BY date_format(payment_date, '%Y')
			) p ON T.yyTime = p.pTime 
			LEFT JOIN(
				SELECT date_format(signing_date, '%Y年') ccTime,sum(change_money) totalChangeMoney from oa_contract_change WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR status = 2) AND delflag = 0 GROUP BY date_format(signing_date, '%Y')
			) cc ON T.yyTime = cc.ccTime ORDER BY T.yyTime DESC
    				
    </select>
    
    <!-- 按月统计 -->
    <select id="getTotalListByMonth" parameterType="com.jzy.hio.oa.contract.dto.ContractInfoDto"
    		resultType="com.jzy.hio.oa.contract.dto.ContractTotalDto" >
    		
    		SELECT 
				t.yyTime totalTime,
				ifnull(c.totalMoney,0.00) totalMoney,
				ifnull(cc.totalChangeMoney,0.00) totalChangeMoney,
				ifnull(p.totalPyamentMoney,0.00) totalPyamentMoney 
			FROM (
				<!-- 增加当月 -->
				SELECT date_format(curdate(), '%Y年%m月') yyTime
				UNION
				SELECT date_format(signing_date, '%Y年%m月') yyTime FROM oa_contract WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR  status = 2) AND delflag = 0 GROUP BY date_format(signing_date, '%Y%m')
				UNION
				SELECT date_format(payment_date, '%Y年%m月') yyTime FROM oa_contract_payment WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR  status = 2) AND delflag = 0 GROUP BY date_format(payment_date, '%Y%m')
				UNION
				SELECT date_format(signing_date, '%Y年%m月') yyTime FROM oa_contract_change WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR  status = 2) AND delflag = 0 GROUP BY date_format(signing_date, '%Y%m')
			) t
			LEFT JOIN(
				SELECT date_format(signing_date, '%Y年%m月') cTime,sum(money) totalMoney from oa_contract WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR  status = 2) GROUP BY date_format(signing_date, '%Y%m')
			) c ON T.yyTime = c.cTime
			LEFT JOIN(
				SELECT date_format(payment_date, '%Y年%m月') pTime,sum(payment_money) totalPyamentMoney  from oa_contract_payment WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR  status = 2) AND delflag = 0 GROUP BY date_format(payment_date, '%Y%m')
			) p ON T.yyTime = p.pTime 
			LEFT JOIN(
				SELECT date_format(signing_date, '%Y年%m月') ccTime,sum(change_money) totalChangeMoney from oa_contract_change WHERE (approve_status = 1 OR approve_status = 2 OR approve_status = 5) AND (status = 0 OR  status = 2) AND delflag = 0 GROUP BY date_format(signing_date, '%Y%m')
			) cc ON T.yyTime = cc.ccTime ORDER BY T.yyTime DESC
    				
    </select>
    

</mapper>