<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.contract.mapper.ContractChangeMapper">

	<!-- 删除合同变更信息 -->
    <update id="deleteContractChangeById">
      UPDATE OA_CONTRACT_CHANGE c SET  c.delflag = 1 WHERE c.id = #{id}
    </update>
    
    <!-- 根据contractId查询合同变更信息 -->
    <select id="getChangeListByContract" parameterType="com.jzy.hio.oa.contract.dto.ContractChangeDto" 
    	resultType="com.jzy.hio.oa.contract.dto.ContractChangeDto" >
    
		SELECT
			cc.id id,
			cc.title title,
			cc.status status,
			cc.contract_id contractId,			
			ct.contract_type contractType,
			cc.change_money changeMoney,
			cc.new_money newMoney,
			cc.operator_id operatorId,
			cc.operator_dept_id operatorDeptId,
			osu.real_name operatorName,
			oso.name operatorDeptName,		
			cc.create_date createDate,
			cc.change_type_id changeTypeId,
			cct.contract_change_type changeType,
			cc.contract_version contractVersion,
			cc.approve_status approveStatus,
			cc.fi_id fiId
		FROM OA_CONTRACT_CHANGE cc
		INNER JOIN oa_contract c ON cc.contract_id = c.id
		LEFT JOIN oa_contract_change_type cct ON cct.id = cc.change_type_id
		LEFT JOIN oa_contract_type ct ON cc.contract_type_id = ct.id
		LEFT JOIN oa_sys_organization oso ON cc.operator_dept_id = oso.id
		LEFT JOIN oa_sys_user osu ON cc.operator_id = osu.id
		WHERE 1=1 
			AND (cc.delflag = 0 OR cc.delflag IS NULL)
			AND cc.contract_id = #{contractId}
		
		<!-- 查询包含审批和审批发起的草稿 -->
		<!--校验查询付款或变更  1-非打回、非退回 2-所有非删除 0-已完成、合同应用保存的草稿 -->
		<choose>
			<when test="approveStatusOneAndFour != null and approveStatusOneAndFour == '1'.toString()">
				AND cc.approve_status != 3 AND cc.approve_status != 6
			</when>
			<otherwise>
				<choose>
					<when test="approveStatusOneAndFour == null or approveStatusOneAndFour == ''
						or approveStatusOneAndFour == '0'.toString()">
						AND (cc.approve_status = 2 OR cc.approve_status = 5 
							OR (cc.approve_status = 4 AND (cc.fi_id IS NULL OR cc.fi_id = '')))
					</when>
				</choose>
			</otherwise>
		</choose>
		
		<if test="title != null and title != ''">
		    AND cc.title like concat('%',#{title},'%')
		</if>
		<if test="changeType != null and changeType != ''">
		    AND cct.contract_change_type like concat('%',#{changeType},'%')
		</if>
		<if test="changeTypeId != null and changeTypeId != ''">
		    AND cc.change_type_id = #{changeTypeId}
		</if>
		<if test="noCancel != null and noCancel != ''">
		   AND (cc.status = 0 OR cc.status = 2)
		</if>
		ORDER BY cc.contract_version DESC
    </select>
    
    <!-- 查询合同变更信息列表 -->
    <select id="getContractChangePage" parameterType="java.util.Map" resultType="com.jzy.hio.entity.ContractChange" >

    </select>
    
     <!-- 根据Id查询合同变更信息 -->
    <select id="getContractChangeById" parameterType="String" resultType="com.jzy.hio.oa.contract.dto.ContractChangeDto" >
    
		SELECT
			cc.id id,
			cc.title title,
			cc.status status,
			c.id contractId,
			c.title contractTitle,
			ct.id contractTypeId,
			ct.contract_type contractType,
			cc.code code,
			cc.first_party firstParty,
			cc.second_party secondParty,
			cc.payee payee,
			cct.id changeTypeId,
			cct.contract_change_type changeType,
			cc.start_date startDate,
			cc.end_date endDate,
			cc.money money,
			cc.change_money changeMoney,
			cc.new_money newMoney,
			cc.signing_date signingDate,
			cc.operator_id operatorId,
			cc.operator_dept_id operatorDeptId,
			osu.real_name operatorName,
			oso.name operatorDeptName,
			cc.summary summary,
			cc.payment_agreement paymentAgreement,
			cc.remark remark,
			cc.contract_version contractVersion,
			cc.change_text changeText,
			cc.approve_status approveStatus,
			cc.fi_id fiId
		FROM OA_CONTRACT_CHANGE cc
		INNER JOIN oa_contract c ON cc.contract_id = c.id
		LEFT JOIN oa_contract_type ct ON cc.contract_type_id = ct.id
		LEFT JOIN oa_contract_change_type cct ON cc.change_type_id = cct.id
		LEFT JOIN oa_sys_organization oso ON cc.operator_dept_id = oso.id
		LEFT JOIN oa_sys_user osu ON cc.operator_id = osu.id
		WHERE 1=1 
			AND (cc.delflag = 0 OR cc.delflag IS NULL)
			AND cc.id = #{id}
    </select>

</mapper>