<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.contract.mapper.ContractLogMapper">

    <update id="deleteContractLogById">
      UPDATE OA_CONTRACT_LOG c SET  c.delflag = 1 where c.id = #{contractId}
    </update>
    <select id="getContractLogById" parameterType="String" resultType="com.jzy.hio.oa.contract.dto.ContractLogDto" >
		SELECT
			log.id id,log.log_type logType,log.contract_id contractId,
			log.change_id changeId,log.payment_id paymentId,
			log.log_text logText,log.remark remark,
			log.create_date createDate
		FROM oa_contract_log log
		WHERE 1=1 
			AND log.delflag = 0 
			AND log.id = #{id}
    </select>
    
      <!-- 根据contractId查询合同变更信息 -->
    <select id="getContractLogListByContractId" parameterType="com.jzy.hio.oa.contract.dto.ContractLogDto" 
    		resultType="com.jzy.hio.oa.contract.dto.ContractLogDto" >
    
		SELECT
			log.id id,
			log.log_type logType,
			log.log_type_name logTypeName,
			log.contract_id contractId,
			log.change_id changeId,
			log.payment_id paymentId,
			log.log_text logText,
			log.create_date createDate,
			log.create_person_name createPersonName
		FROM oa_contract_log log
		WHERE 1=1 
		AND log.delflag = 0
		
		<if test="contractId != null and contractId != ''">
		   AND log.contract_id = #{contractId}
		</if>
		<if test="logText != null and logText != ''">
		   AND log.log_text like concat('%',#{logText},'%')
		</if>
		<if test="createPersonName != null and createPersonName != ''">
		   AND log.create_person_name like concat('%',#{createPersonName},'%')
		</if>
		<if test="logTypeName != null and logTypeName != ''">
		   AND log.log_type_name like concat('%',#{logTypeName},'%')
		</if>
			
		ORDER BY log.create_date DESC
    </select>

</mapper>