<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.contract.mapper.ContractTypeMapper">

	<!-- 删除合同类型信息 -->
    <update id="deleteContractTypeById">
      UPDATE oa_contract_type t SET t.delflag = 1,t.update_date = #{updateDate} where t.id = #{id}
    </update>
    
     <select id="getContractTypeById" parameterType="String" resultType="com.jzy.hio.oa.contract.dto.ContractTypeDto" >
    	SELECT 
    		t.id id,
    		t.contract_type contractType,
    		t.parent_id parentId,
    		t.remark remark,
    		t.prefix_id prefixId,
    		t.prefix_name prefixName
    	FROM oa_contract_type t
    	WHERE t.delflag = 0 AND t.id = #{id}
		
    </select>
     <select id="getContractTypeListByName" parameterType="String" resultType="com.jzy.hio.oa.contract.dto.ContractTypeDto" >
    	SELECT 
    		t.id id,
    		t.contract_type contractType,
    		t.parent_id parentId,
    		t.remark remark,
    		t.prefix_id prefixId,
    		t.prefix_name prefixName
    	FROM oa_contract_type t
    	WHERE t.delflag = 0 AND t.contract_type = #{contractType}
		
    </select>
    <!-- 信息 -->
    <select id="getContractTypePage" parameterType="com.jzy.hio.oa.contract.dto.ContractTypeDto" resultType="com.jzy.hio.oa.contract.dto.ContractTypeDto" >
    	SELECT 
    		t.id id,
    		t.contract_type contractType,
    		t.parent_id parentId,
    		t.remark remark,
    		t.prefix_id prefixId,
    		t.prefix_name prefixName
    	FROM oa_contract_type t
    	WHERE t.delflag = 0
		
    </select>
    <!-- 获取所有合同类型信息 -->
    <select id="getALLContractTypeList" resultType="com.jzy.hio.oa.contract.dto.ContractTypeDto" >
    	SELECT 
    		t.id id,
    		t.contract_type contractType,
    		t.parent_id parentId,
    		t.remark remark,
    		t.prefix_id prefixId,
    		t.prefix_name prefixName
    	FROM oa_contract_type t
    	WHERE t.delflag = 0
		
    </select>
    <!-- 获取合同类型被使用信息 -->
    <select id="getContractTypeAndInfo" resultType="com.jzy.hio.oa.contract.dto.ContractTypeDto" >
    	SELECT DISTINCT a.contract_type as contractType FROM (
    		<!-- 合同使用 -->
			SELECT t.contract_type FROM oa_contract_type t
			INNER JOIN oa_contract c ON t.id = c.contract_type_id
			WHERE t.id = #{contractTypeId}
				AND t.delflag = 0
			UNION
			<!-- 合同变更使用 -->
			SELECT t.contract_type FROM OA_contract_type t
			INNER JOIN oa_contract_change c ON t.id = c.contract_type_id
			WHERE  t.id = #{contractTypeId}
				AND t.delflag = 0
		)a
    </select>
    
      <update id="updateContractTypePrefix" parameterType="map">
     	 UPDATE oa_contract_type t 
     	 SET prefix_id = replace(prefix_id, #{oldPrefixId}, #{newPrefixId}),
     	 	prefix_name = replace(prefix_name, #{oldPrefixName}, #{newPrefixName})
		WHERE prefix_id LIKE concat(#{oldPrefixId}, '%') 
    </update>
    
    

</mapper>