<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.sys.org.entity.RoleCatalog">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.sys.org.entity.RoleCatalog">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.sys.org.entity.RoleCatalog">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.sys.org.entity.RoleCatalog">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<!-- 获取角色目录子节点查询 -->
	<select id="queryRoleCatalogList" resultType="com.xinleju.platform.sys.org.dto.RoleNodeDto" parameterType="java.lang.String">
		SELECT
			id AS id,
			CODE AS CODE,
			NAME AS NAME,
			type AS type,
			sort AS sort,
		  'cata' as 'mold',
			parent_id AS parentId
		FROM
			pt_sys_org_role_catalog
		<choose>
                <when test="_parameter != null">
                        where parent_id = #{_parameter,jdbcType=VARCHAR};
                </when>
                <otherwise>
                        where parent_id is null OR parent_id = '';
                 </otherwise>
         </choose>
	</select>
	<!-- 获取角色目录根节点查询 -->
	<select id="queryRoleCatalogRoot" resultType="com.xinleju.platform.sys.org.dto.RoleNodeDto" parameterType="java.util.Map">
		SELECT
			id AS id,
			CODE AS CODE,
			NAME AS NAME,
			type AS type,
			sort AS sort,
		  'cata' as 'mold',
		  status as status,
		  prefix_id as prefixId,
		  prefix_name as prefixName,
		  prefix_sort as prefixSort,
			parent_id AS parentId
		FROM
			pt_sys_org_role_catalog
			
        where (parent_id is null OR parent_id = '')
	        <if test="roleCataStatus !=null">
				and  `status` =#{roleCataStatus}
			</if>
			<if test="roleCataDelFlag !=null">
				and delflag=#{roleCataDelFlag}
			</if>        
	        <if test="type!= null">
	        and type=#{type,jdbcType=VARCHAR}
	        </if>
	     order by 
	     	sort	
	</select>
	
	<!-- 维护相关表全路径 -->
	<update id="updateCataAndRoleAllPreFix" parameterType="map">
		UPDATE 
			pt_sys_org_role_catalog
		SET id=id
		<if test="prefixIdOld !=null and prefixIdNew !=null">
		    ,prefix_id = replace(prefix_id,#{prefixIdOld},#{prefixIdNew})
		</if>
		<if test="prefixNameOld !=null and prefixNameNew !=null">
		    ,prefix_name = replace(prefix_name,#{prefixNameOld},#{prefixNameNew})
		</if>
		<if test="prefixSortOld !=null and prefixSortNew !=null">
		    ,prefix_sort = replace(prefix_sort,#{prefixSortOld},#{prefixSortNew})
		</if>
		WHERE prefix_id LIKE CONCAT(#{prefixIdOld},'%') ;		
		UPDATE  pt_sys_org_standard_role
		SET id=id
		    <if test="prefixIdOld !=null and prefixIdNew !=null">
			    ,prefix_id = replace(prefix_id,#{prefixIdOld},#{prefixIdNew})
			</if>
			<if test="prefixNameOld !=null and prefixNameNew !=null">
			    ,prefix_name = replace(prefix_name,#{prefixNameOld},#{prefixNameNew})
			</if>
			<if test="prefixSortOld !=null and prefixSortNew !=null">
			    ,prefix_sort = replace(prefix_sort,#{prefixSortOld},#{prefixSortNew})
			</if>
		WHERE prefix_id LIKE CONCAT(#{prefixIdOld},'%') ;
	</update>
	
	
	<!-- 禁用角色并禁用其下级角色 -->
	<update id="lockRole" parameterType="map">
		UPDATE pt_sys_org_role_catalog SET `status`=0 WHERE prefix_id like CONCAT(#{roleId},'%');
		UPDATE pt_sys_org_standard_role SET `status`=0 WHERE prefix_id like CONCAT(#{roleId},'%');
	</update>
	<!-- 启用角色并启用其上级角色 -->
	<update id="unLockRole" parameterType="map">
		UPDATE pt_sys_org_role_catalog SET `status`=1 WHERE id in 
		<foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
			#{roleId}
		</foreach>
	</update>
	
	<!-- 查询所有下级id -->
	<select id="selectSunById" parameterType="map" resultType="String">
	SELECT s.id FROM pt_sys_org_standard_role s 
		LEFT JOIN pt_sys_org_role_catalog f on s.prefix_id like CONCAT('',f.prefix_id,'%')
		WHERE s.delflag=0 and  f.id =#{cataId}
	UNION
	SELECT s.id FROM pt_sys_org_role_catalog s 
		LEFT JOIN pt_sys_org_role_catalog f on s.prefix_id like CONCAT('',f.prefix_id,'%')
		WHERE s.delflag=0 and  f.id =#{cataId}
	</select>
	
	<!-- 校验登录名是否重复 -->
	<select id="checkCataName" parameterType="map" resultType="int">
		select count(*) from pt_sys_org_role_catalog t where t.`name` = #{name}  and t.parent_id = #{pId} and delflag = 0
		<if test="id != null">
			and t.id !=#{id}
		</if>
	</select>
	
	<!-- 校验登录名是否重复 -->
	<select id="checkRoleName" parameterType="map" resultType="int">
		select count(*) from pt_sys_org_standard_role t where t.`name` = #{name} and t.catalog_id = #{pId} and delflag = 0
		<if test="id != null">
			and t.id !=#{id}
		</if>
	</select>
</mapper>