body{padding:0; margin:0;}
.select-common-body{
    background: #F6F6F6;
    padding:0;
    margin:0;
    height:100%;
    overflow: hidden;
    position:fixed;
    width:100%;
    left:0;
    top:0;
    display: flex;
    flex-flow: column;
}
.select-common-body *{ padding:0;
    margin:0;}
.arrow-box{
    width:30px;
    height:30px;

}
.arrow-box:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    /*left: 0;*/
    width: 0;
    height: 0;
    border:10px solid;
    margin-top: -10px;
    /*border-color: transparent #2CAFFF transparent transparent;*/
}
/*背景色三角形*/
.arrow-box:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    /*left: 1px;*/
    width: 0;
    height: 0;
    border:10px solid;
    margin-top: -10px;
    /*border-color: transparent #fff transparent transparent;*/
}
.arrow-box.left:before{
    left: 0;
    border-color: transparent #2CAFFF transparent transparent;
}
.arrow-box.left:after{
    left: 1px;
    border-color: transparent #fff transparent transparent;
}
.arrow-box.right:before{
    right: 0;
    border-color: transparent transparent transparent #D8D8D8;
}
.arrow-box.right:after{
    right: 1px;
    border-color: transparent transparent transparent #fff;
}
.head-top { position:relative; padding:0; background:#fff; height:40px;}
.head-top h2{ text-align: center; font-size:16px;color: #333333; font-weight: normal; line-height: 40px;}
.head-top .arrow-box{
    position:absolute;
    left:0;
    top:5px;
}
.head-search{ height:44px; text-align:center; line-height:44px; }
.head-search input{ border:none; background:#fff; height:26px;  padding:0 10px; line-height: 26px;
    width:88%; border-radius: 13px; outline: none}
.head-search input::-webkit-input-placeholder{text-align: center;}
.head-search-location{background: #fff; margin-bottom:10px; color:#C8C8C8; line-height:44px;height:44px; overflow:hidden;}
.head-search-location .over{
    height:44px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding:0 10px;
}
.head-search-location .over .ct{
    height:44px;
    width:200%;
}
.head-search-location span{
    font-size: 15px;
    color: #2CAFFF;
}
.head-search-location span.current{ color:#333}
.head-all-select{ background:#fff; padding:10px; margin-bottom:10px;}
.head-all-select span{vertical-align: middle;font-size: 15px;
    color: #2CAFFF;}
.selectType{
    border: 1px solid #6BC7FF;
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 50%;
    vertical-align: middle;
}

.selectTypeInput{ display:none}
.selectTypeInput:checked+label,
.selectType.checked,
span[data-isselect="1"] label,
[data-all-statute="1"] label
{
    background: #2CAFFF;
    border: 1px solid #2CAFFF;
}
.content-list{ background:#fff;}
.list_tree_box li,.list_tree_box li .select_list{
    display: -webkit-box;
    -webkit-box-align: center;
    position:relative; }
.select_list_ul li .select_list.s-title-node{
    background:#efefef;
}
.select_list_ul li{
    display:block;
}
.select_list_ul li ul{
    padding-left: 10px;
    margin:0;
}
.list_tree_box .arrow-box{
    width:13px;
    height:13px;
    display:inline-block;
    position:absolute;
    right:5px;
    top:50%;
    margin-top:-7px;
}
.list_tree_box .arrow-box.right:before{
    border: 7px solid;
    margin-top: -7px;
    border-color: transparent transparent transparent #D8D8D8;
}
.list_tree_box .arrow-box.right:after{
    border: 7px solid;
    margin-top: -7px;
    border-color: transparent transparent transparent #fff;
}
.list_tree_box .s_statu{
    padding:10px;
}
.list_tree_box *{ vertical-align: middle}
.list_tree_box .s_ct{display: -webkit-flex;
    align-items: center;
    flex-flow: row;
    -webkit-box-flex:1;
}

.list_tree_box .s_ct .s_img span{
    width:36px;
    height:36px;
    color:#fff;
    font-size: 10px;
    text-align: center;
    line-height:36px;
    border-radius: 50%;
    background:#2CAFFF;
    display:inline-block
}
.list_tree_box .s_ct .s_txt{
    margin-left:10px;
    flex: auto;
    border-bottom: 1px solid #EBEBEB;
    padding:10px 0;

}
.list_tree_box .s_ct .s_txt h2{
    font-size: 15px;
    color: #323232;
    margin-bottom:5px;
}
.list_tree_box .s_ct .s_txt p{
    font-size: 12px;
    color: #999999;
}
.bottom-fit{
    height:44px;
    /*position: fixed;*/
    /*bottom:0;*/
    /*left:0;*/
    /*right:0;*/
    background:#fff;
    display:flex;
}
.select_result_num{
    flex:1;
    line-height:44px;
    padding:0 10px;
    font-size: 15px;
    color: #333333;
}
.select_btn_sure{
    background: #2CAFFF;
    width:90px;
    height:44px;
    line-height: inherit;
    font-size: 16px;
    color: #FFFFFF;
    border:none;
}
.page{
    display: flex;
    flex-flow: column;
    flex: 1;
}
.page .content-list{
    flex: 1;
    overflow-y: scroll;
}
.result-wrap{
    width:100%;
    height:100%;
    position:absolute;
    z-index: 22;
    background:#F6F6F6;
    left:0;
    right:0;
    top: 0;
    bottom:0;
    display: flex;
    flex-flow: column;
    flex: 1;
}
.s-list{
    padding-left: 10px;
    flex: 1;
    overflow-y: scroll;
    background:#fff;
    margin-top:10px;
    margin-bottom:10px;
}
.closeList {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
}
.s-list .closeList{
    position:absolute;
    width: 10px;
    height:10px;
    top:50%;
    margin-top:-5px;
    right:10px;
}

.closeList:hover::before, .closeList:hover::after {
    background: #1ebcc5;
}
.closeList::before, .closeList::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #D8D8D8;
}
.closeList::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.closeList::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.closeList.hairline::before, .closeList.hairline::after {
    height: 1px;
}
.background-wrap{
    background: rgba(0,0,0,0.4);
    position:fixed;
    z-index: 990;
    width:100%;height:100%;
    left:0; bottom:0;
    top:0;
}
.background-wrap .pop-content{
    background: #FCFCFC;
    border-radius: 12px;
    width:80%;
    margin:0 auto;
    margin-top:80px;
}
.background-wrap .pop-content .text{
    padding:30px;
    text-align:center;
    font-size:17px;
    color: #333333;
}
.background-wrap .pop-content button{
    font-size:16px;
    color: #2CAFFF;
    width:50%;
    display:inline-block;
    border:none;
    height:44px;
    background:transparent;
    line-height:44px; text-align: center;
}
.background-wrap .pop-content button.btn-pop-no{
    border-bottom-left-radius: 12px;
}
.background-wrap .pop-content button.btn-pop-sure{
    border-bottom-right-radius: 12px;
    border-left:1px solid rgba(77,77,77,0.78)
}
.btn-pop-box{
    display: flex;
    height:44px;
    border-top:1px solid rgba(77,77,77,0.78);
}

/*搜索*/
.search-common{ position:fixed; z-index: 9999; width:100%; height:100%; overflow:hidden;display: flex;
    flex-flow: column; left:0; top:0;background: #F6F6F6;}
.top-search{ height:40px; background:#fff; line-height:40px; padding:0 10px;}
.top-search-input{ width:83%;
    display:inline-block;
    background:#F3F3F3;
    height:26px;
    line-height:26px;
    vertical-align: middle;
    border-radius: 13px;
}
.top-search-input input{ height:26px; background:transparent;
    border:none; width:90%; line-height:26px; outline: none; padding:0 5%;
    vertical-align: middle}
.input-close{ display:inline-block; width:15%; text-align: center; vertical-align: middle;font-size: 15px;
    color: #2CAFFF;}
.top-search-title{

}
.top-search-title h2{font-size: 14px;
    color: #999999; font-weight: normal; padding:10px; margin:0;}
.search-common .content-list .list_tree_box{
    padding:0;
    margin:0;
}

