<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.finance.entity.VoucherBill">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.finance.entity.VoucherBill">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.finance.entity.VoucherBill">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.finance.entity.VoucherBill">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	
	<select id="getVoucherBillList" resultType="com.xinleju.platform.finance.entity.VoucherBill" parameterType="java.util.Map">
		 SELECT
		r.concurrency_version as concurrencyVersion,
		r.create_company_id as createCompanyId,
		r.create_company_name as createCompanyName,
		r.create_date  as createDate,
		r.create_org_id as createOrgId,
		r.create_org_name as createOrgName,
		r.create_person_id as createPersonId,
		r.create_person_name as createPersonName,
		r.tend_id as tendId,
		r.update_date as updateDate,
		r.update_person_id as updatePersonId,
		r.update_person_name as updatePersonName,
		r.delflag,
		r.enter_name as enterName,
		r.id,
		r.enter_id as enterId,
		r.account_set_id as accountSetId,
		r.enter_date as enterDate,
		r.export_date as exportDate,
		r.word ,
		r.not_full_error as notFullError,
		r.send_status as sendStatus,
		r.error_cause as errorCause,
		r.voucher_no as voucherNo,
		r.fiscal_year as fiscalYear,
		r.accounting_period as accountingPeriod,
		r.attachment_number as attachmentNumber,
		r.template_id as templateId,
		r.template_type_id as templateTypeId,
		r.company_code as companyCode,
		r.credit_amount as creditAmount,
		r.debit_amount as debitAmount,
		r.bill_type as billType,
		r.status
		FROM
		pt_fi_voucher_bill r 
	where r.delflag=0 
        <if test="status != null and status !=''">
             and   r.status = #{status}
        </if>
        <if test="accountSetId != null and accountSetId !=''">
             and   r.account_set_id = #{accountSetId}
        </if>
        <if test="sendStatus != null and sendStatus !=''">
             and   r.send_status = #{sendStatus}
        </if>
        <if test="enterDateBegain != null and enterDateBegain !=''">
             and   <![CDATA[ r.enter_date  >= #{enterDateBegain} ]]>
        </if>
        <if test="enterDateEnd != null and enterDateEnd !=''">
             and   <![CDATA[ r.enter_date  <= #{enterDateEnd} ]]>
        </if>
        <if test="templateTypeId != null and templateTypeId !=''">
             and   (r.template_type_id = #{templateTypeId} or r.template_parent_type_id = #{templateTypeId})
        </if>
        order by r.enter_date desc
        <if test="start!=null and start!='' and limit!=null and limit!=''">
        limit #{start},#{limit}
        </if>
	</select>
	
	<select id="getVoucherBillListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(r.id) FROM pt_fi_voucher_bill r 
		where r.delflag=0 
		<if test="status != null and status !='' ">
             and   r.status = #{status}
        </if>
        <if test="accountSetId != null and accountSetId !=''">
             and   r.account_set_id = #{accountSetId}
        </if>
        <if test="sendStatus != null and sendStatus !=''">
             and   r.send_status = #{sendStatus}
        </if>
        <if test="enterDateBegain != null and enterDateBegain !=''">
             and   <![CDATA[ r.enter_date  >= #{enterDateBegain} ]]>
        </if>
        <if test="enterDateEnd != null and enterDateEnd !=''">
             and   <![CDATA[ r.enter_date  <= #{enterDateEnd} ]]>
        </if>
        <if test="templateTypeId != null and templateTypeId !=''">
             and   (r.template_type_id = #{templateTypeId} or r.template_parent_type_id = #{templateTypeId})
        </if>
	</select>
</mapper>