<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.schedule.mapper.WorkScheduleDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.oa.schedule.entity.WorkSchedule">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.oa.schedule.entity.WorkSchedule">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.oa.schedule.entity.WorkSchedule">
		${value}
	</select>
	<select id="getWorkSchedulePage" resultType="com.jzy.hio.oa.schedule.entity.WorkSchedule">
		select
		s.id,
		s.period_proceeding as periodProceeding,
		s.content,
		s.type,
		s.repetition_frequency as repetitionFrequency,
		s.begin_time as beginTime,
		s.end_time AS endTime,
		s.period_begin_time as periodBeginTime,
		s.period_end_time as periodEndTime,
		s.period_task_num as periodTaskNum,
		s.task_owner as taskOwner,
		s.task_owner_id as taskOwnerId,
		s.frequency_type as frequencyType,
		s.status,
		s.source,
		s.create_date as createDate,
		s.update_date as  updateDate,
		s.create_person_id as createPersonId,      
		s.create_person_name as createPersonName,
		s.update_person_id as updatePersonId,
		s.update_person_name as updatePersonName,
		s.create_org_id as createOrgId,
		s.create_org_name as createOrgName,
		s.create_company_id as createCompanyId,
		s.create_company_name as createCompanyName,
		s.concurrency_version as concurrencyVersion,
		s.delflag as delflag,
		s.tend_id as tendId
		from oa_schedule_work_schedule s where s.delflag=0  
		and (s.task_owner_id=#{userId} and  s.create_date like  CONCAT(CONCAT('%',#{date}),'%')
		 or  ( unix_timestamp(s.period_begin_time) &lt;unix_timestamp(#{date}) AND unix_timestamp(s.period_end_time) &gt; unix_timestamp(#{date})))
        limit #{start},#{limit}
	</select>
	<!-- 获取总记录数 -->
	<select id="getWorkSchedulePageCount" resultType="java.lang.Integer">
		select count(s.id) 	from oa_schedule_work_schedule s where s.delflag=0  
		and (s.task_owner_id=#{userId} and  s.create_date like  CONCAT(CONCAT('%',#{date}),'%')
		 or  ( unix_timestamp(s.period_begin_time) &lt;unix_timestamp(#{date}) AND unix_timestamp(s.period_end_time) &gt; unix_timestamp(#{date})))
	</select>

	<select id="getScheduleByDate" resultType="com.jzy.hio.oa.schedule.entity.WorkSchedule">
		select
		s.id,
		s.period_proceeding as periodProceeding,
		s.content,
		s.type,
		s.repetition_frequency as repetitionFrequency,
		s.begin_time as beginTime,
		s.end_time AS endTime,
		s.period_begin_time as periodBeginTime,
		s.period_end_time as periodEndTime,
		s.period_task_num as periodTaskNum,
		s.task_owner as taskOwner,
		s.task_owner_id as taskOwnerId,
		s.frequency_type as frequencyType,
		s.status,
		s.source,
		s.create_date as createDate,
		s.update_date as  updateDate,
		s.create_person_id as createPersonId,
		s.create_person_name as createPersonName,
		s.update_person_id as updatePersonId,
		s.update_person_name as updatePersonName,
		s.create_org_id as createOrgId,
		s.create_org_name as createOrgName,
		s.create_company_id as createCompanyId,
		s.create_company_name as createCompanyName,
		s.concurrency_version as concurrencyVersion,
		s.delflag as delflag,
		s.tend_id as tendId
		from oa_schedule_work_schedule s
		WHERE 1=1
		AND s.delflag = '0'
		AND task_owner_id = #{taskOwnerId}
		<if test="beginTime!=null and beginTime!=''">
			AND str_to_date(s.end_time,'%Y-%c-%d %H:%i:%s') &gt;= #{beginTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			AND str_to_date(s.begin_time,'%Y-%c-%d %H:%i:%s') &lt;= #{endTime}
		</if>
	</select>
	
	<!-- 查询日历日程标记 -->
	<select id="getScheduleDaysForMonth" resultType="com.jzy.hio.oa.schedule.entity.WorkSchedule">
		SELECT DISTINCT
			LEFT (asws.begin_time, 19) beginTime,
			LEFT (asws.end_time, 19) endTime,
			type,
			status
		FROM
			oa_schedule_work_schedule asws
		WHERE
			asws.delflag = '0'
		AND asws.task_owner_id = #{taskOwnerId}
		AND (
			LEFT (asws.begin_time, 7) = #{month}
			OR LEFT (asws.end_time, 7) = #{month}
		);
	</select>
	
	
	
</mapper>