/*改造jqgrid*/
.ui-corner-all, .ui-corner-top{background-color:#acd7ff; border-radius:0}
.ui-jqgrid .ui-jqgrid-bdiv{background-color:#fff}
.ui-state-default, .ui-widget-content .ui-state-default{height:30px;color:#333}
.ui-jqgrid tr.jqgrow{height:30px;color:#666}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{background-image:none;background-color:#e4f2ff;border:1px solid #e4f2ff}
.ui-widget-content .ui-state-hover{background-image:none; background-color:#F5F5F5;}
.ui-state-default, .ui-widget-content .ui-state-default{border-right:1px solid #46A7FF}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr:last-child{border-right:none}
.ui-jqgrid-labels .ui-state-hover{background-image: none; background-color: transparent}
.ui-jqgrid-bdiv{border-right:1px solid #eee;}
.ui-jqgrid-view{background-color:#acd7ff}
