.form-control,textarea{
	color:#333 !important;
}

.backApprove label{
	margin-left:10px;
	margin-bottom:5px;
	margin-top:-5px
}

.glyphicon-lg{
	font-size:16px;
}
.widget a,#approvalHistoryHtml a{
	color:#428bca !important;
}

.participants-wrap{
	display:inline-block;
	vertical-align:middle;
}

#approvalHistoryHtml a.btn-ext{
	float:right;
	color:#444 !important;
}

.page-content {
    margin-left: 0;
}

.page-body {
    background: none;
    padding-top: 3px;
}

.page-header .header-buttons {
    top: 2px !important;
    right: 20px !important;
}

.tabbable,.well-border,.widget {
    border: 1px solid #ddd;
}

.nav-tabs,.nav-tabs>.active {
    border-bottom: 1px solid #ddd;
}

.vertical-line {
    border-right: 1px solid #ddd;
    margin-top: 5px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    position: absolute;
}

.col-md-3{
	width: 20% !important;
}
.col-md-9{
	width: 80% !important;
}
.col-xs-4{
	text-align:right;
	padding-top: 7px;
}
.col-xs-8{
	text-align:left;
}

.vertical-line.print-dispaly {
    width: 360px;
    right: 0;
    top: 0;
}

.vertical-line .tabbable {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 800px;
}

.vertical-line .widget {
    margin-top: 5px;
}

.well-additional {
    border-radius: 0 !important;
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    box-shadow: none;
}

.input-group-additional {
    margin-left: 10px;
    margin-bottom: 12px;
}

.well-additional .type dd {
    margin-top: 3px;
    margin-bottom: 9px;
}

.nav-tabs>li:first-child>a {
    border-left: none;
}

.widget {
    margin-top: 0;
}

.widget-body,.form-control, select,.tab-content,.well {
    background-color: #fff !important;
}

.well hr.wide {
    margin-right: -13px;
    margin-left: -13px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea.form-control {
    margin-top: 12px;
}

.span-wrapper {
    margin-right: 20px;
    padding-left: 4px;
}

.btn-margin {
    margin: 18px auto;
}

#approvalOp {
    overflow-x: hidden;
}

#approvalOp .widget {
    margin: 5px;
}

.tab-content {
    padding: 5px;
    margin-bottom: 15px;
}

.tabbable>.tab-content {
    margin-bottom: 0;
}

.well.with-header {
    padding: 46px 5px 5px;
    margin-bottom: 15px;
    margin-top:12px;
}

#approvalHistory {
    margin-bottom: 0;
}

#approvalHistory td,#approvalHistory th {
    vertical-align: middle;
}

#fiContent {
    padding-left: 0px;
    padding-right: 5px;
    overflow-x: auto;
    left: 0;
    top: 0;
}

.select-group {
    margin-top: 12px;
    margin-bottom: 2px;
}

.select {
    width: 100%;
    padding:6px;
}

input[type="checkbox"] {
    opacity: 1;
    filter: alpha(opacity=100);
    position: static;
    cursor: pointer;
    height: auto;
}

.row-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin:3px auto;
}

* {
    box-shadow: none !important;
    border-radius: 0 !important;
}

html,body,.page-content,.page-container {
    overflow-y: hidden !important;
    background-color: #fff;
}

.type dd {
    float: left;
    margin: 0 4px;
    position: relative;
    padding-left: 20px;
    padding-top: 6px;
}

.type dd a {
    display: block;
}

.type dd a:hover,.type dd a {
    text-decoration: none;
    color: #444 !important;
}

.type dd b {
    width: 20px;
    height: 20px;
    background: url(../../assets/img/radiobutton.gif) no-repeat -15px -18px;
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
}

.type dd a:hover b {
    background-position: -15px -118px;
}

.type .selected b,.type .selected a:hover b {
    background-position: -15px -218px;
}

.nav-tabs > li.active.tab-red > a,.header.bordered-platinum,.widget-header > .widget-caption{
	font-size: 14px !important;
    font-weight: bold !important;
}

@media Print {
	*{
		font-size:10px !important;
	}
	.row-title{
		margin-top:0 !important;
	}
	.main-container,.page-container,.page-content,.page-body,.row,.col-lg-12,.tabbable,.col-sm-12,.nav{
		width:100% !important;
		overflow: visible !important;
		margin:0 !important;
		padding:0 !important;
		border:none !important;
		height: 100% !important;
	}
	
	.tabbable{
		margin-top:5px !important;
		margin-left:0px !important;
	}
	.nav-tabs, .nav-tabs > .active{
		border-bottom:1px solid #ddd !important;
	}
	.divh3{
		margin-top:0px !important;
	}

	.row-ex,.vertical-line{
		position:static !important;
	}
    .print-dispaly {
        display: none;
    }
    
    .widget,.well,.tabbable {
        border: 1px solid #ddd !important;
    }
	
	.tabbable,.tab-content{
		width: 100% !important;
		overflow: visible !important;
        height: 100% !important;
	}
	
    .vertical-line {
        width: 100% !important;
        border: none !important;
        overflow: visible !important;
        height: 100% !important;
        margin-bottom: 0px !important;
    }
    
    .col-lg-9,.col-sm-9,.col-xs-9{
    	width: 100% !important;
    }
}

.row-ex {
    position: relative;
}
  