<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.mailbox.mapper.MailboxDomainNameMapper">

    <resultMap type="com.jzy.hio.oa.mailbox.dto.MailboxDomainNameDto" id="mailboxDomainNameMap">
        <id column="id" property="id"/>
        <result column="domain_name" property="domainName"/>
        <result column="imap_host" property="imapHost"/>
        <result column="imap_port" property="imapPort"/>
        <result column="imap_secure" property="imapSecure"/>
        <result column="imap_short_login" property="imapShortLogin"/>
        <result column="smtp_host" property="smtpHost"/>
        <result column="smtp_port" property="smtpPort"/>
        <result column="smtp_secure" property="smtpSecure"/>
        <result column="smtp_auth" property="smtpAuth"/>
        <result column="smtp_php_mail" property="smtpPhpMail"/>
    </resultMap>

</mapper>