<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.mailbox.mapper.MailboxAccountMapper">

    <resultMap type="com.jzy.hio.oa.mailbox.dto.MailboxAccountDto" id="mailboxAccountMap">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="mailbox_type" property="mailboxType"/>
        <result column="user_id" property="userId"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>

</mapper>