body{
    padding:0;
    margin:0;
    font-family: '微软雅黑';
    font-size:12px;
}
.container-fluid{
    padding:0;
}
.header{
    background-color: #2c3e50;
    height:40px;
    line-height:40px;
    color:#fff;
    font-size:12px;
}
.title{
    float:left;
    width:240px;
    margin-left:20px;
}
.header-right{
    float:right;
    width:432px;
}
.header-right ul li{
    list-style:none;
    float: left;
    width:98px;
    padding-left:10px;
    height:40px;
    line-height:40px;
    background: url("../images/line.png") 99% 0 no-repeat;
}
.header-right ul li a{
    color:#fff;
}
.move{
    margin-right:5px;
}
.navbar{
    margin-bottom:0;
}
.left_tree{
    background-color: #eee;
}
.btnContainer{
    height:52px;
    line-height:52px;
    background-color: #eee;
    padding:10px 0 0 10px;
}
.btnContainer input{
    float:left;
    width:115px;
    height:30px;
    display:inline;
}
.btnContainer button{
    float:left;
    font-size:9px;
}
.btnContainer .btn-group{
    float:left;
}
.ztree li span.button.diy01_ico_open,.ztree li span.button.diy01_ico_close{
    margin-right:2px; background: url(zTreeStyle/img/diy/main.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle
}
.ztree li span.button.diy02_ico_docu{
    margin-right:2px; background: url(zTreeStyle/img/diy/12.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle
}
#treeDemo{
    margin: 10px 0 0 35px;
}
#treeDemo ul{
    margin-top:8px;
}
#treeDemo ul li{
    margin-top:8px;
}
#treeDemo span{
    font-size:12px;
    font-family: '微软雅黑';
}
.row{
    margin:0;
}
.btn_container{
    background-color: #eee;
    height:50px;
    margin:2px 0 5px 0;
    line-height:50px;
}
.ui-jqgrid-labels th{
    border-right:1px solid #9d9d9d;
    background-color: #eee;
    color:#fff;
}
.nav-margin{
    margin-top:3px;
}
.nav-margin li a{
    color:#000;
}
.one_font label{
    font-weight:normal;
}
.label-redefine label{
    padding-top:0px;
}
.navbar-nav>.user-menu>.dropdown-menu{
    width:auto;
}
.dropdown-menu>li>a{
    font-size:12px;
}
.bar_right_btn button{
    float:right;
    margin:10px 0 0 10px;
}
/*test.html*/
.form_header{
    background-color:#000;
    line-height:42px;
    width:100%;
    position: fixed;
    top:0;
    z-index:1000;
}
.form-title{
    float:left;
    font-size:13px;
    line-height:39px;
    color:#fff;
    padding-left:20px;
    font-weight:bold;
}
.table-title{
    float:left;
    color:#000;
    padding-left:20px;
    font-weight:bold;
    line-height:50px;
}
.form_container{
    margin-top:70px;
}
.btn_right{
    float:right;
    padding:8px;
}
.control-label span{
    color:red;
}
.input_width .form-group input{
    width:80%;
}
.collapse_btn_container{
    border-bottom: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
}
.collapse_btn_container > span{
    width:150px;
    line-height:35px;
    float:left;
    padding-left:10px;
    overflow-x: hidden;
    color:#333;
}
.collapse_btn_container a{
    width:31px;
    float:right;
}
.main-sidebar{
    border-right:1px solid #ddd;
    padding-top:0px;
}
.content-title{
    height:40px;
    line-height:40px;
    padding-left:10px;
    border-bottom:1px solid #ddd;
}
.embed-responsive-4by3{
    padding-bottom:45.4%;
}
.padR10{
    padding-right:10px;
}
.skin-blue .main-header .logo{
    background-color: #000;
}
.skin-blue .main-header .logo:hover{
    background-color: #000;
}
.skin-blue .main-header .navbar{
    background-color: #000;
}
.skin-blue .main-sidebar{
    background-color: #f8f8f8;
    width: 16.66666667%;
}
.skin-blue .main-sidebar .sidebar{
    padding-bottom:0px;
}
.content-wrapper{
    background-color: #fff;
}
.table_width{
    margin-left: 12.333333%;
    width: 76.333333%;
}
.skin-blue .wrapper{
    background-color: #fff;
}
.logo-lg{
    color:red;
    font-size:18px;
}
.container-fluid>.navbar-collapse{
    background-color:#222;
}
.first_color{
    background-color:#000;
}
.my-align {
    text-align: right;
}
.table-bordered>tbody>tr>th.my-vertical {
    vertical-align: middle;
}
.main-header .logo{
    width:100%;
}
.main-header .navbar{
    margin-left:0;
}
.menu_container{
    position: relative;
    float:left;
}
.menu_container .glyphicon-menu-left,.menu_container .glyphicon-menu-right{
    display: none;
    float:left;
    color:#fff;
    line-height:50px;
}
.menu_container .glyphicon-menu-left{
    padding-left:10px;
}
.menu_container .glyphicon-menu-left:hover,.menu_container .glyphicon-menu-right:hover{
    color:#ddd;
}
.main_menu{
    float: left;
    line-height: 50px;
    color: #fff;
    padding: 0 19px;
    background-color: #000;
}
.main_menu:hover{
    color:#fff;
}
.scroll_container{
    float:left;
    overflow:hidden;
    position:relative;
}
.scroll_box{
    position:absolute;
}
.main-footer{
    padding:5px;
}
.topDiv{
    background-color:#fff;
    overflow:hidden;
}
.collapseBar{
    height:28px;
    border:1px solid #ddd;
    text-align: center;
    line-height: 30px;
}
.bottomDiv{
    background-color: #fff;
    overflow:hidden;
}
.pull_down{
    color:#222;
}
.pull_down:hover{
    color:#222;
}
.form_hd{
    background-color: #79b6da;
    height:45px;
}
.form_h_btn{
    float:right;
    margin-right:10px;
}
.col_title{
    font-weight: bold;
    text-align: right;
    width:12%;
}
.col_title span{
    color:red;
}
.col_text{
    width:38%;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
.table-bordered>tbody>tr>td{
    border: 1px solid #ddd;
}
.col_text .mar_l_10{
    margin-left:10px;
}
.addPad{
    padding-bottom:50px;
}
.table_bar{
    height:40px;
    line-height: 38px;
    background-color: #d1d1d1;
}
.table_bar span{
    font-weight:bold;
    padding-left:10px;
}
.table_bar_btn{
    float:right;
    padding-right:10px;
}
.addBold td{
    font-weight:bold;
    text-align:center;
}
.addTop{
    top: 8px;
}
/*login.html*/
.fullPic{
    background: url("../images/bg02.jpg") 0 0 no-repeat;
    background-size:cover;
}
.setBg{
    height:35px;
    line-height:35px;
    border-bottom:1px solid #eee;
    padding-right:20px;
}
.setBg a{
    color:#222;
    float:right;
    margin-left:10px;
}
.setBg a:hover{
    text-decoration: none;
    color:red;
}
.login_form{
    width:348px;
    min-height:317px;
    float:right;
    background: rgba(0,0,0,0.5);
    margin: 72px 127px 0 0;
}
.login_title{
    color: #fff;
    font-size: 16px;
    padding: 22px 0 0 21px;
}
.form-horizontal .form-group{
    margin-left:0;
    margin-right:0;
}
.login_formgroup{
    width: 89%;
    margin: 0 auto;
    padding:20px 0 0 22px;
}
.rem_la{
    color: #fff;
    margin:10px 0 0 22px;
}
.btn_login{
    margin-left: 22px;
    width: 288px;
}
.forget{
    display: block;
    width: 100px;
    margin: 10px 0 0 24px;
    color: #fff;
}
.forget:hover{
    color:red;
}
/*upload.html*/
.upload{
    width: 95%;
    padding: 10px 20px;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
}
.up_title{
    height:30px;
    line-height:30px;
}
.up_info{
    color:#b1b1b1;
}
.up_files{
    margin-top:10px;
}
.up_files ul{
    margin:0;
    padding:0;
}
.up_files ul li{
    list-style: none;
    float:left;
    width:24%;
    height:45px;
    background-color:#e2e2e3;
    margin:0 10px 10px 0;
}
.up_files ul li img{
    float:left;
    margin: 5px 0 0 5px;
}
.up_files ul li .fileName{
    max-width:240px;
    float:left;
    margin: 9px 0 0 5px;
    overflow:hidden;
}
.up_files ul li .fileName p{
    line-height:12px;
    margin:0 0 3px 0;
}
.up_files ul li .fileName p:last-child{
    color:#b1b1b1;
}
.up_delete{
    float: right;
    margin-right: 10px;
}
.up_status{
    float: left;
    color:#b1b1b1;
    line-height:12px;
    margin-right: 4px;
}
.up_status i{
    font-style:normal;
}
.up_ok{
    color:#2db005;
}
.up_progress{
    height: 7px;
    width: 40px;
    float: left;
    margin-top: 2px;
}
.up_size{
    float:left;
    color:#b1b1b1;
    line-height:12px;
}
.up_total{
    width: 300px;
    height: 10px;
    display: inline-block;
    margin-bottom: 0px;
}
/*Media queries*/
@media screen and (max-width: 960px){
    .embed-responsive-4by3{
        padding-bottom: 73%;
    }
    .skin-blue .main-sidebar{
        width: 29.666667%;
    }
    .up_files ul li{
        width:47%;
    }
}