<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.cloud.oa.bbs.entity.BbsForumType">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.cloud.oa.bbs.entity.BbsForumType">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.cloud.oa.bbs.entity.BbsForumType">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.cloud.oa.bbs.entity.BbsForumType">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!-- 获取版块类型列表 -->
	<select id="queryBeanList" resultType="com.xinleju.cloud.oa.bbs.entity.BbsForumType" parameterType="java.util.Map">
		SELECT
		t.id as id,
		t.name as name,
		t.`CODE` as code,
		t1.name as parentName,
		t.sort_num as sortNum,
		t.description as description,
		t.parent_id as parentId,
		t.create_date AS createDate,
		t.update_date AS updateDate,
		t.create_person_id AS createPersonId,
		t.create_person_name AS createPersonName,
		t.update_person_id AS updatePersonId,
		t.update_person_name AS updatePersonName,
		t.create_org_id AS createOrgId,
		t.create_org_name AS createOrgName,
		t.create_company_id AS createCompanyId,
		t.create_company_name AS createCompanyName,
		t.concurrency_version AS concurrencyVersion,
		t.delflag AS delflag,
		t.tend_id as tendId
		FROM
		oa_bbs_forum_type t
		LEFT  JOIN
		oa_bbs_forum_type t1
		ON t.parent_id  = t1.id
        <where>
			t.delflag = 0
			<if test="parentId!=null and parentId!=''">
				and t.parent_id  = #{parentId}
			</if>
			<if test="parentId==null">
				and t.parent_id  is null
			</if>
			order by t.sort_num
		</where>
	</select>

	<select id="checkCode" resultType="com.xinleju.cloud.oa.bbs.entity.BbsForumType" parameterType="com.xinleju.cloud.oa.bbs.entity.BbsForumType">
		SELECT * FROM
		oa_bbs_forum_type t
        <where>
        	 t.delflag = 0 and
			 t.code = #{code}
			<if test="id!=null and id!=''">
			  and t.id != #{id}
			</if>
		</where>
	</select>
	<select id="queryMaxSortNum" resultType="java.lang.Integer" >
		SELECT max(t.sort_num) as num FROM
		oa_bbs_forum_type t
	</select>
	
	<!-- 获取业务对象树 -->
	<select id="getShowTree" resultType="com.xinleju.cloud.oa.bbs.dto.BbsForumTypeDto" parameterType="java.util.HashMap">
		SELECT s.id, s.name ,s.code,s.parent_id as pId FROM oa_bbs_forum_type s 
		where s.delflag='0' 
		<if test="forumFilter!=null and forumFilter!=''">
			 and s.id not in(select DISTINCT type_id from oa_bbs_forum where delflag='0')
		</if>
		order by s.sort_num
	</select>
	
	<!-- 获取论坛首页树(角色过滤) -->
	<select id="getHomePageTreeByRole" resultType="com.xinleju.cloud.oa.bbs.dto.BbsForumTypeDto" parameterType="java.util.HashMap">
		select k.id,k.name,k.code,k.pId,k.dataType from (
		(SELECT s.id, s.name ,s.code,s.parent_id as pId,'0' as dataType,s.sort_num,s.create_date FROM oa_bbs_forum_type s 
				where s.delflag='0' ORDER BY s.sort_num,s.create_date)
				union 
		(select b.id,b.name,'' as code,b.type_id as pId,'1' as dataType,b.sort_num,b.create_date from oa_bbs_forum b 
		where b.delflag='0' 
		and b.id in(
			<if test="roleIdsList != null">
			select forum_id from oa_bbs_forum_permission where delflag='0'
				and role_id in
				<foreach item="item" index="index" collection="roleIdsList" open="(" separator="," close=")">  
			           #{item} 
			       </foreach>
			       UNION
			</if>
			select id from oa_bbs_forum where id not in(select forum_id from oa_bbs_forum_permission)
		)
		ORDER BY b.sort_num,b.create_date)
		) k ORDER BY k.sort_num,k.create_date;
	</select>
	
	<!-- 获取论坛首页树 -->
	<select id="getHomePageTree" resultType="com.xinleju.cloud.oa.bbs.dto.BbsForumTypeDto" parameterType="java.util.HashMap">
		select k.id,k.name,k.code,k.pId,k.dataType from (
	(SELECT s.id, s.name ,s.code,s.parent_id as pId,'0' as dataType,s.sort_num,s.create_date FROM oa_bbs_forum_type s 
			where s.delflag='0' ORDER BY s.sort_num,s.create_date)
			union 
	(select b.id,b.name,'' as code,b.type_id as pId,'1' as dataType,b.sort_num,b.create_date from oa_bbs_forum b where b.delflag='0' ORDER BY b.sort_num,b.create_date)
	) k ORDER BY k.sort_num,k.create_date
	</select>
	<!-- 查询该分类下是否有版块-->
	<select id="getForumCountByTypeId" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from oa_bbs_forum s where s.type_id=#{id} and s.delflag='0'
	</select>
	
	<!-- 获取业务对象树 -->
	<select id="isExistForum" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		SELECT count(1) FROM oa_bbs_forum s 
		where s.delflag='0'
		<if test="excludeIds != null ">
			and s.type_id in 
			<foreach item="item" index="index" collection="excludeIds" open="(" separator="," close=")">  
	            #{item} 
	        </foreach>
		</if>
	</select>
</mapper>