.xj-form-btn .btn {
	border-color: transparent;
}
#myTab.meetingManager {
	padding-bottom: 15px;
	border-bottom: none;
}
#myTab.meetingManager li a {
	border: 1px solid #ddd;
	border-radius: 4px;
    margin-right: 15px;
    color: #46A7FF;
    font-weight: bold;
}
#myTab.meetingManager li.active a,
#myTab.meetingManager li.active a:hover {
    background: #46A7FF;
    color: #fff;
}
#myTab.meetingManager li a:hover {
	background: #fff;
}
#myTabContent .ui-jqgrid-hdiv,
.meetingSummary .ui-jqgrid-hdiv {
	padding-top: 7px;
	height: 36px;
}
#queryForm {
	padding: 0 15px;
}
.meetingSummary-caption button {
	color: #46A7FF;
	background: #f5f5f5;
}
.meetingSummary-caption button:hover {
	color: #46A7FF;
	background:#fff;
}
.meetingSummary .ui-jqgrid-titlebar.ui-jqgrid-caption.ui-widget-header.ui-corner-top {
	background: #f5f5f5;
}
.meeting-item .btn-dim {
	width: auto;
}
.meeting-item {
	display: none;
}
.meeting-item.active {
	display: block;
}

.btn-dim i {
	margin-left: -2px;
	margin-top: -1px;
}
#attendeesBak, #informBak, #replacePersonBak {
	background: #fff;
}

.tr-not-attend-rerason,
.tr-replace-person {
	display: none;
}
.attendMeetingRadio .input-group {
	position: relative;
	top: -4px;
}
img.viewMeetingNote {
	cursor: pointer;
}

