<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowCustomFormDao">
	<update id="updateCustomFormByTemCode">
		UPDATE `flow_custom_form`
		SET `delflag` = '1'
		WHERE
			flow_template_code = #{templateCode}
	</update>


	<select id="getCustomFormByTemplateCode" resultType="com.jzy.hio.flow.entity.FlowCustomForm">
		SELECT
			a.id,
			a.code,
			a.name,
			a.flow_template_code AS flowTemplateCode,
			a.form_layout AS layoutData,
			a.form_properties AS propertyData,
			a.status
		FROM
			flow_custom_form a
		WHERE
			a.delflag = 0
		AND a.flow_template_code = #{flowTemplateCode}
    </select>

	<select id="queryFlowPropertiesBy" resultType="java.lang.String">
		SELECT
			a.flow_properties
		FROM
			flow_custom_form a
		WHERE
			a.flow_template_code = #{flowTemplateCode}
		AND a.delflag = 0		
	</select>

	<select id="getExpression" resultType="com.jzy.hio.flow.entity.FlowCustomForm">
		SELECT
			l.id,
			l. NAME,
			l.display_name AS displayName,
			l.condition_formula AS conditionFormula,
			l.condition_name AS conditionName
		FROM
			flow_link_line l
		LEFT JOIN flow_template t ON t.`code` = #{templateCode}
		WHERE
			l.flow_template_id = t.id
		AND l.condition_formula LIKE '%${code}%'
		AND l.delflag=0
	</select>
</mapper>