<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowLinkLineDao" >
    <update id="updateLinkLineByTemId">
        UPDATE `flow_link_line`
        SET `delflag` = '1'
        WHERE
            flow_template_id = #{templateId}
    </update>

    <select id="getLineListBystartLine" resultType="com.jzy.hio.flow.entity.FlowLinkLine">
   		select _line.start_line as  startLine,_line.target_Line as targetLine,  _line.flow_template_id as flowTemplateId   from flow_link_line _line where 
   			_line.start_line = #{startline} and _line.flow_template_id =#{templateId}
   </select>

    <select id="getLineListByFlowTemplateCode" resultType="com.jzy.hio.flow.entity.FlowLinkLine">
            SELECT
                l.id,
                l.`name`,
                l.display_name AS displayName,
                l.condition_formula AS conditionFormula,
                l.start_line AS startLine,
                l.target_Line AS targetLine,
                l.condition_name AS conditionName,
                l.flow_template_id AS flowTemplateId,
                l.delflag
            FROM
                flow_link_line l
            LEFT JOIN flow_template t ON t.`code` = #{code}
            AND t.delflag = 0
            WHERE
                l.flow_template_id = t.id;
    </select>

    <select id="getLineListByTemplateId" resultType="com.jzy.hio.flow.entity.FlowLinkLine">
        SELECT
            l.id,
            l.`name`,
            l.display_name AS displayName,
            l.condition_formula AS conditionFormula,
            l.start_line AS startLine,
            l.target_Line AS targetLine,
            l.condition_name AS conditionName,
            l.flow_template_id AS flowTemplateId,
            l.delflag
        FROM
            flow_link_line l
        WHERE
            l.flow_template_id = #{flowTemplateId}
    </select>
</mapper> 