<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowTemplateAcDao">
	<update id="updateAcByTemId">
		UPDATE `flow_template_ac`
		SET `delflag` = '1'
		WHERE
			flow_template_id = #{templateId}
	</update>

	<select id="findAcByTemplateId" resultType="com.jzy.hio.flow.entity.FlowTemplateAc">
		SELECT
			_ac.id,
			_ac.node_type AS nodeType,
			_ac.approval_type AS approvalType,
			_ac.flow_template_id AS flowTemplateId
		FROM
			flow_template_ac _ac
		WHERE
			_ac.flow_template_id = #{templateId} 
   </select>

    <select id="getAcList" resultType="com.jzy.hio.flow.entity.dto.FlowTemplateAcDto">
		SELECT
			a.id AS flowTemplateAcId,
			a.`name`,
			a.x,
			a.y,
			a.width,
			a.height,
			a.approval_type AS approvalType,
			a.flow_template_id AS flowTemplateId,
			a.node_type AS nodeType,
			a.node_sort AS nodeSort,
			a.node_id AS nodeId,
			a.overdue_time AS overdueTime,
			a.overdue_handle AS overdueHandle,
			a.delflag
		FROM
			flow_template_ac a
		LEFT JOIN flow_template t ON t.`code` = #{code}
		AND t.delflag = 0
		WHERE
			a.flow_template_id = t.id
    </select>

    <select id="getListByTemplateId" resultType="com.jzy.hio.flow.entity.FlowTemplateAc">
   	select _ac.id,_ac.approval_Type as approvalType,_ac.node_type as nodeType   from flow_template_ac _ac where _ac.flow_template_id = #{flowTemplateId}
   	and  _ac.node_type !=1 and  _ac.node_type !=3 
   </select>
   
   <select id="findNextNodeByNodeId" resultType="com.jzy.hio.flow.entity.dto.FlowTemplateAcDto">
   
		SELECT
			_line.start_line AS startLine,
			_line.target_line AS targetLine,
			_line.formula_value AS formulaValue,
			_ac.id AS flowTemplateAcId,
			_ac.approval_Type,
			_ac.node_Type
		FROM
			(
				SELECT
					*
				FROM
					flow_link_line
				WHERE
					start_line = #{startline}
				AND flow_template_id = #{templateId}
			) _line
		LEFT JOIN flow_template_ac _ac ON _line.target_line = _ac.id
   </select>
</mapper>