<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowChangeApproverDao" >
   
    
    
    <select id="queryInstanceChangeApproverList" resultType="com.jzy.hio.flow.entity.FlowChangeApprover">
    	SELECT
			 a.flow_instance_id as flowInstanceId, 
			 a.flow_template_id as flowTemplateId,
			 a.template_ac_id as templateAcId,
			 a.old_approver as oldApprover,
			 a.new_approver as newApprover
			FROM
				flow_change_approver a
			LEFT JOIN flow_change_approver b ON (
				a.flow_approval_id = b.flow_approval_id
			  	AND a.create_date &lt; b.create_date
			)
			where b.id is null   and a.flow_instance_id = #{instanceId}
    </select>
    
</mapper>