<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowInstanceApprovalRecordDao">

	<select id="getMyApprvoalList" resultType="com.jzy.hio.flow.entity.dto.ApprovalDto"
		parameterType="com.jzy.hio.flow.entity.param.ApprovalParam">
		SELECT
			c.id,
			c.state,
			c.start_date AS startDate,
			c.update_date AS updateDate,
			c.create_person_id AS createPerson,
			d.id AS templateId,
			d.code AS templateCode,
			d.name AS templateName,
			e.approval_user AS approvalPerson,
			e.create_Date as createDate,
			ifnull(f.isFollow, 0) AS isFollow
 		FROM
			flow_instance_approval_record a
		LEFT JOIN flow_instance_approval_record b ON (
			a.flow_instance_id = b.flow_instance_id
			AND a.approval_user = b.approval_user
			AND a.create_date &lt; b.create_date
			AND b.state != 2
		)
		LEFT JOIN flow_instance_approval_record e ON (
			a.flow_instance_id = e.flow_instance_id
			AND e.state = 0
			AND e.delflag = 0
		)
		LEFT JOIN flow_follow_instance f ON (
			a.flow_instance_id = f.flow_instance_id
			AND f.create_person_id = a.approval_user
			AND f.delflag = 0
		)		
		INNER JOIN flow_instance c ON (
			c.id = a.flow_instance_id
			AND c.delflag = 0
		)
		INNER JOIN flow_template d ON (c.flow_template_id = d.id)
		WHERE
			b.id IS NULL
		AND a.delflag = 0
		AND a.state != 2
		AND a.state != 4
		AND a.approval_user = #{approvalUser}
		AND c.state != 4
		
		<if test="flowType != null and flowType != '' ">
			AND d.code = #{flowType}
		</if>
		
       	<if test = "startDate != null and startDate != '' and endDate != null and endDate != ''  ">
			AND c.start_date &gt;= #{startDate} AND c.start_date &lt;= #{endDate}
		</if>
		
		<if test="starterId != null and starterId != ''">
			AND c.create_person_id = #{starterId}
		</if>

		<!-- 待审 -->
		<if test="state == 1">
			AND c.state = 1
			GROUP BY
				a.flow_instance_id		
			HAVING
				MIN(a.state) = 0
		</if>
		
		<!-- 已审 -->
		<if test="state == 2">
			GROUP BY
				a.flow_instance_id				
			HAVING
				(MIN(a.state) = 1 or MIN(a.state) = 3)
		</if>
		
		<!-- 全部 -->
		<if test="state == 0">
			GROUP BY
				a.flow_instance_id				
			HAVING
				(MIN(a.state) = 0 OR MIN(a.state) = 1 OR MIN(a.state) = 3)
		</if>		

		<if test="dynamicSql == null">
			order by c.update_date desc
		</if>
		
		<if test="dynamicSql != null">
			${dynamicSql}
		</if>

		limit #{pageNum}, #{pageCount}
	</select>

	<select id="getCountMyApprvoalList" resultType="java.lang.String"
		parameterType="com.jzy.hio.flow.entity.param.ApprovalParam">
		SELECT
			a.flow_instance_id
		FROM
			flow_instance_approval_record a
		LEFT JOIN flow_instance_approval_record b ON (
			a.flow_instance_id = b.flow_instance_id
			AND a.approval_user = b.approval_user
			AND a.create_date &lt; b.create_date
			AND b.state != 2
		)
		INNER JOIN flow_instance c ON (
			c.id = a.flow_instance_id
			AND c.delflag = 0
		)
		INNER JOIN flow_template d ON (c.flow_template_id = d.id)
		WHERE
			b.id IS NULL
		AND a.delflag = 0
		AND a.state != 2
		AND a.state != 4
		AND a.approval_user = #{approvalUser}
		
		<if test="flowType != null and flowType != '' ">
			AND d.code = #{flowType}
		</if>
		
		AND c.state != 4
		
       	<if test = "startDate != null and startDate != '' and endDate != null and endDate != ''  ">
			AND c.start_date &gt;= #{startDate} AND c.start_date &lt;= #{endDate}
		</if>
		
		<if test="starterId != null and starterId != ''">
			AND c.create_person_id = #{starterId}
		</if>

		<!-- 待审 -->
		<if test="state == 1">
			AND c.state = 1
			GROUP BY
				a.flow_instance_id		
			HAVING
				MIN(a.state) = 0
		</if>
		
		<!-- 已审 -->
		<if test="state == 2">
			GROUP BY
				a.flow_instance_id				
			HAVING
				(MIN(a.state) = 1 or MIN(a.state) = 3)
		</if>
		
		<!-- 全部 -->
		<if test="state == 0">
			GROUP BY
				a.flow_instance_id				
			HAVING
				(MIN(a.state) = 0 OR MIN(a.state) = 1 OR MIN(a.state) = 3)
		</if>
	</select>

	<select id="queryApprovalRecord" resultType="com.jzy.hio.flow.entity.FlowInstanceApprovalRecord">
		select
		_record.id,_record.flow_instance_id as flowInstanceId,_record.state,
		_record.approval_user as approvalUser,_record.flow_instance_ac_id as
		flowInstanceAcId
		from flow_instance_approval_record _record
		where
		_record.flow_instance_id = #{instanceId}
		and _record.approval_user =
		#{approvalUser} and (_record.adminId is null
		or _record.adminId = '')
		and _record.state = 0
		and _record.delflag = 0
	</select>

	<!-- 查询指定环节下未审批的人的数量 -->
	<select id="queryUnapprovedRecordCount" resultType="java.lang.Integer">
		SELECT
			count(_record.id)
		FROM
			flow_instance_approval_record _record
		WHERE
			_record.flow_instance_id = #{instanceId}
			AND _record.flow_instance_ac_id = #{instanceAcId}
			AND _record.state = 0
	</select>

	<select id="queryCurrentApprovedByInstanceAcId" resultType="com.jzy.hio.flow.entity.FlowInstanceApprovalRecord">
		SELECT
		_record.state,
		_record.approval_user as approvalUser
		FROM
		flow_instance_approval_record _record
		WHERE
		_record.flow_instance_id = #{flowInstanceId}
		AND _record.flow_instance_ac_id = #{flowInstanceAcId}
 	</select>

	<update id="updateApprovalState" parameterType="com.jzy.hio.flow.entity.FlowInstanceApprovalRecord">
		UPDATE flow_instance_approval_record _record
		SET _record.state = #{state},
		<if test="adminId != null">
			_record.adminId = #{adminId},
		</if>
		_record.update_date = #{updateDate},
		_record.approval_time = #{updateDate},
		_record.update_person_id = #{updatePersonId}
		where
		_record.flow_instance_ac_id in(${flowInstanceAcId}) 
		and _record.flow_instance_id = #{flowInstanceId}
		and _record.state = 0
	</update>

	<select id="queryApporverList" resultType="com.jzy.hio.flow.entity.FlowInstanceApprovalRecord">
		SELECT
		_record.approval_user AS approvalUser
 		FROM
		flow_instance_approval_record _record
		WHERE
		_record.flow_instance_id = #{instanceId} and
		_record.flow_instance_ac_id = #{instanceAcId}
		GROUP BY
		_record.approval_user
	</select>

	<select id="queryHaveApproval" resultType="java.lang.String">
		select
		_record.approval_user from flow_instance_approval_record
		_record
		left join flow_instance_ac _ac on _ac.id = _record.flow_instance_ac_id
		where
		_record.flow_instance_id = #{instanceId} and _record.state = 1 and _ac.delflag = 0
	</select>

	<update id="updateRejectState">
		update flow_instance_approval_record set state =
			#{state},approval_description = #{desc},
			<if test="isAdminOperation == true">
				adminId = #{currentUserId},
			</if>
			update_person_id = #{currentUserId},
			update_date = #{updateDate}, approval_time = #{updateDate}
		where
			flow_instance_id = #{instanceId} and state = 0
	 		<if test="isAdminOperation != true ">
		 		and approval_user = #{currentUserId}
	 		</if>
			<if test="instanceAcId != null">
				and  flow_instance_ac_id in (${instanceAcId})   
			</if>
			and delflag = 0
		
	</update>
	
	 <update id="updateApproverState" parameterType="java.util.List">
		<foreach collection="list" separator=";" item="list">  
			update flow_instance_approval_record  set  state = #{list.state},create_date = #{list.createDate},update_date = #{list.updateDate}
			where delflag = 0 
				and flow_instance_id = #{list.flowInstanceId} 
				and flow_instance_ac_id = #{list.flowInstanceAcId}
  	  </foreach> 
	</update>	
	
	<select id="queryInstanceAcapproverList" resultType="java.lang.String">
		select
		approval_user from flow_instance_approval_record where
		flow_instance_id = #{instanceId} and
		flow_instance_ac_id
		in(${currentAcIds})
	</select>
	
	<select id="queryApprovalList" resultType="com.jzy.hio.flow.entity.FlowInstanceApprovalRecord">
		SELECT
			flow_instance_id AS flowInstanceId,
			flow_instance_ac_id AS flowInstanceAcId,
			approval_User AS approvalUser,
			approval_description AS approvalDescription,
			state,
			approval_time AS approvalTime
		FROM
			flow_instance_approval_record
		WHERE
			flow_instance_id IN (${instanceIds})
		ORDER BY
			create_date DESC,
			update_date DESC
	</select>

	<select id="isChangeApprovalState" resultType="java.lang.Integer">

		select count(1) from flow_instance_approval_record _record where
		_record.flow_instance_id = #{instanceId} and (state = 1 or state = 4)
	</select>

	<select id="isMyApproval" resultType="com.jzy.hio.flow.entity.FlowInstanceApprovalRecord">
		SELECT
			_record.state
		FROM
			flow_instance_approval_record _record
		WHERE
			_record.flow_instance_id = #{instanceId}
		AND _record.approval_User = #{userId}
		AND _record.adminId is null
		AND _record.delflag = 0
		AND (_record.state = 3
		or _record.state = 1
		or _record.state = 0)
	</select>
	
	<select id="queryMyUnApprovalCount" resultType="java.lang.Integer">
		SELECT
			count(DISTINCT _record.flow_instance_id)
		FROM
			flow_instance_approval_record _record
		WHERE
			_record.approval_user = #{userId} and _record.state = 0   and _record.delflag = 0 
 
	</select>
	
	<delete id="deleteExecuteApprovalByInstanceAcIds">
		delete from  flow_instance_approval_record where 
			flow_instance_id = #{instanceId} and flow_instance_ac_id in(${executeInstanceIds})
	</delete>
	
	<select  id="queryInstanceApprover" resultType="com.jzy.hio.flow.entity.FlowInstanceApprovalRecord">
		select   
			flow_instance_id as flowInstanceId,
			flow_instance_ac_id as flowInstanceAcId,
			state,
			approval_user as approvalUser
  		
		from 	flow_instance_approval_record 
		where flow_instance_id = #{instanceId} 
			  and flow_instance_ac_id in(${instanceAcIds})
	</select>
	
	<update id="deleteBatchPseudoAllAcApproverById">
		update  flow_instance_approval_record set  update_Date = #{updateDate},delflag = 1   
		
		where flow_instance_id = #{instanceId}
			  and state = 0
			  <if test="isStartNode != true">
				and flow_instance_ac_id in
				<foreach collection="acIds" item="id"  open="(" separator="," close=")">     
					#{id}      
				</foreach>
			</if>
	</update>
	
	<select id="noApprovalUserList" resultType="java.lang.String">
		select approval_user as id from  flow_instance_approval_record where flow_instance_id = #{instanceId}
			and delflag = 0 and
			<if test="isAdminOperation == true">
			 (state = 0 or state = 4)
			</if>
			<if test="isAdminOperation != true">
				state = 0
			</if>
		<if test="isStartNode != true and executeNodeIds.size() == 1 ">
			and flow_instance_ac_id  = #{executeNodeIds} 
			 
		</if>
		<if test="isStartNode != true and executeNodeIds.size() > 1 ">
			and flow_instance_ac_id in 
			<foreach collection="executeNodeIds" item="id"  open="(" separator="," close=")">     
				#{id}      
			</foreach>
		</if>
	
	</select>
	
	<select id="queryListByInstanceIds" resultType="com.jzy.hio.flow.entity.FlowInstanceApprovalRecord">
		SELECT
			approval_user  as 	 approvalUser,
			flow_instance_id as  flowInstanceId,
		 	 state,
			approval_time as approval_time
		
		FROM
			flow_instance_approval_record
		WHERE
			flow_instance_id IN 
			<foreach collection="instanceIds" item="id"  open="(" separator="," close=")">     
				#{id}      
			</foreach>
			and delflag = 0
			
	</select>
	
	
</mapper>