<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowCustomFormInstanceDao" >
	<select id="queryInstanceAndFormBy" resultType="com.jzy.hio.flow.entity.FlowCustomFormInstance">
		SELECT
			a.id,
			a.businessId,
			a.form_title AS formTitle,
			a.form_values AS valueData,
			a.instance_id AS instanceId,
			a.status,
			b.form_layout AS layoutData,
			b.form_properties AS propertyData
		FROM
			flow_custom_form_instance a,
			flow_custom_form b
		WHERE
			a.businessId = #{businessId}
		AND a.custom_form_id = b.id
		AND a.custom_form_id = #{customFormId}
	</select>
	
	<update id="updateInstanceStatus">
		UPDATE flow_custom_form_instance a
		SET a.status = #{status}
		WHERE
			a.businessId = #{businessId}
		AND a.custom_form_id = #{customFormId}
	</update>
	
	<select id="selectIdBy" resultType = "java.lang.String">
		SELECT
			id
		FROM
			flow_custom_form_instance
		WHERE
			businessId = #{businessId}
		AND custom_form_id = #{customFormId}		
	</select>
	
	<update id="deleteByBusinessIdAndCustomFormId">
		UPDATE flow_custom_form_instance
		SET delflag = 1
		WHERE
			businessId = #{businessId}
		AND custom_form_id = #{customFormId}
	</update> 
</mapper>