<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowCopyDao">

	<select id="getFlowCopyList" resultType="com.jzy.hio.flow.entity.dto.ApprovalDto">
		SELECT
		  *
		FROM
		  (
			SELECT
				_instance.id,
				_copy.copy_user,
				_copy.isRead,
				_copy.create_date as createDate,
				_instance.create_person_id AS createPerson,
				_template. NAME AS templateName,
				_instance.start_date AS startDate,
				_instance.update_date AS updateDate,
 				_instance.state,
				ifnull(_follow.isFollow, 0) AS isFollow
 				
			FROM
				flow_copy _copy
			INNER JOIN flow_instance _instance ON _copy.flow_instance_id = _instance.id
			INNER JOIN flow_template _template ON _template.id = _instance.flow_template_id
			LEFT JOIN flow_follow_instance _follow ON  (_follow.flow_instance_id = _instance.id and _follow.create_person_id = #{createPerson} )
			 
			WHERE  _copy.copy_user = #{createPerson}
				<!-- 未读 -->
				<if test = "isRead == 1">
					and _copy.isRead = 0
				</if>
				<!-- 已读 -->
				<if test = "isRead == 2">
					and _copy.isRead = 1
				</if>
				
				and _copy.isRead is not null
				
      		 	<if test = "startDate != null and startDate != '' and endDate != null and endDate != ''  ">
				and _instance.start_date &gt;= #{startDate} and _instance.start_date &lt;= #{endDate}
				</if>	
				<if test= "userIds != null and userIds.size > 0 " >
				and _instance.create_person_id in
				<foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">
		            #{item}
		        </foreach>
				</if>
		 
				<if test="flowType != null and flowType != '' ">
					and  _template.code = #{flowType}
				</if>
			 
				<if test="state != 0  and  state != 6 ">
					and _instance.state = #{state}
				</if>	
				<if test ="state == 6">
					and (_instance.state = 6 or _instance.state = 8 )
				</if>
				
				and _instance.delflag = 0
				and _instance.state  != 4
				
				GROUP BY _instance.id
				
			) a
			
		<if test="dynamicSql != null">
			${dynamicSql}
		</if>
		<if test="dynamicSql == null">
			ORDER by updateDate desc
		</if>

		limit #{pageNum},#{pageCount}

	</select>

	<select id="getCountFlowCopyList" resultType="java.lang.Integer">
	  SELECT count(id) from (
		SELECT
			_copy.id 
		FROM
			flow_copy _copy
		INNER JOIN flow_instance _instance ON _copy.flow_instance_id = _instance.id
		INNER JOIN flow_template _template ON _template.id = _instance.flow_template_id
		WHERE copy_user = #{createPerson}

			and _copy.isRead is not null
			<if test = "isRead == 1">
				and _copy.isRead = 0
			</if>
			
			<if test = "isRead == 2">
				and _copy.isRead = 1
			</if>
		/**
		首页用
		*/
		<if test="index != 0">
		and _copy.isRead = #{isRead}
		</if>
	    <if test = "startDate != null and startDate != '' and endDate != null and endDate != ''  ">
		and _instance.start_date &gt;= #{startDate} and _instance.start_date &lt;= #{endDate}
		</if>	
		<if test= "userIds != null and userIds.size > 0 " >
		and _instance.create_person_id in
		<foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
		 
		<if test="flowType != null and flowType != '' ">
			and  _template.code = #{flowType}
		</if>
		<if test="state != 0">
			and _instance.state = ${state}
		</if>
		<if test="state != 0  and  state != 6 ">
			and _instance.state = #{state}
		</if>	
		<if test ="state == 6">
			and (_instance.state = 6 or _instance.state = 8 )
		</if>
		
		and _instance.delflag = 0
		and _instance.state  != 4
		GROUP BY _copy.flow_instance_id
		) a 
 	</select>
 	
 	<delete id="deleteAllByInstranceId">
 		delete from flow_copy where flow_instance_id = #{instanceId}
 	</delete>
 	<select id="haveSentOutList" resultType="java.lang.String">
 		select copy_user from flow_copy where flow_instance_id = #{instanceId}
 	</select>
 	<select id="getAlreadyCopyApprover" resultType="java.lang.String">
 		select copy_user from flow_copy where flow_instance_id = #{instanceId}
 	</select>
 	
 	<select id="isMyCopy" resultType="java.lang.Integer">
 		select count(copy_user) from flow_copy where flow_instance_id = #{instanceId} and copy_user = #{userId}
		 	
 	</select>
 	
 	<delete id="deleteCopy" parameterType="com.jzy.hio.flow.entity.FlowCopy">
 	
		delete from   flow_copy  where flow_instance_id = #{flowInstanceId} and  source != #{source}
 	</delete>
 	
 	<update id="updateCopyInstanceByInstanceId" >
		update flow_copy set update_date = #{updateDate},flow_instance_id = #{newInstanceId} where flow_instance_id = #{instanceId}
	</update>
	
	<select id="queryMyUnreadCount" resultType="java.lang.Integer">
		SELECT
			count(DISTINCT _copy.flow_instance_id)
		FROM
			flow_copy _copy
		WHERE
			_copy.copy_user = #{copyUser} and isRead = 0  
	</select>
	
	<update id="updateIsReadByInstanceIdAndCopyUserId">
		update flow_copy set isRead = 1
 				,update_date = #{updateDate}
		 where flow_instance_id = #{instanceId} and copy_user = #{userId}
	</update>
	<select id="queryUnReadCount" resultType="java.lang.Integer">
		select count(1) from flow_copy  where flow_instance_id = #{instanceId} and copy_user = #{userId} and  isRead !=1 
	</select>
	
 	
</mapper>