<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowFollowInstanceDao" >
 
 	<select id="getFollowList" resultType="com.jzy.hio.flow.entity.dto.ApprovalDto">
	 	SELECT
		  *
		FROM
		  (
			SELECT
				_instance.id,
				_instance.state,
 				_template.NAME AS templateName,
				_instance.start_date AS startDate,
				_instance.create_person_id AS createPerson,
				_instance.update_date updateDate,
 				ifnull(_follow.isFollow, 0) AS isFollow
  			FROM
				flow_follow_instance _follow
			INNER JOIN flow_instance _instance ON _instance.id = _follow.flow_instance_id
			INNER JOIN flow_template _template ON _template.id = _instance.flow_template_id
				
			WHERE  
				_follow.create_person_id = #{createPerson} and _follow.isFollow = 1
      				<if test = "startDate != null and startDate != ''    and endDate != null and endDate != ''  ">
					 and _instance.start_date &gt;= #{startDate} and _instance.start_date &lt;= #{endDate}
				</if>	
				<if test= "userIds != null and userIds.size > 0 " >
					and _instance.create_person_id in
				<foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">
		            #{item}
		        </foreach>
				</if>
				 
				<if test="state != 0 and state !=3 and state != 6">
					and _instance.state = #{state}
				</if>	
				<if test ="state == 3">
					and (_instance.state = 3 or _instance.state = 7 )
				</if>
				<if test ="state == 6">
					and (_instance.state = 6 or _instance.state = 8 )
				</if>
				<if test="flowType != null and flowType != '' ">
					and  _template.code = #{flowType}
				 </if>
				  and _instance.delflag = 0
 		 	) a
	 	<if test="dynamicSql != null">
  		  ${dynamicSql}
		</if>
		<if test="dynamicSql == null">
			ORDER BY 
			 updateDate desc
		</if>
			
		<if test ="isRead == 0">
			limit #{pageNum},#{pageCount}
		</if>
		 
 	</select>
 	
 	<select id="getCountFollowList" resultType="java.lang.Integer">

 		SELECT
			count(_instance.id)
		FROM
			flow_follow_instance _follow
		INNER JOIN flow_instance _instance ON _instance.id = _follow.flow_instance_id
		INNER JOIN flow_template _template ON _template.id = _instance.flow_template_id
		where _follow.create_person_id = #{createPerson} and _follow.isFollow = 1
		
		<if test="flowType != null and flowType != '' ">
			and  _template.code = #{flowType}
		 </if>
 		<if test= "userIds != null and userIds.size > 0 " >
			and _instance.create_person_id in
			<foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">
	            #{item}
	        </foreach>
        </if>
        <if test = "startDate != null and startDate != ''    and endDate != null and endDate != ''  ">
			 and _instance.start_date &gt;= #{startDate} and _instance.start_date &lt;= #{endDate}
		 </if>	
		<if test="state != 0 and state !=3 and state != 6">
			and _instance.state = #{state}
		</if>	
		<if test ="state == 3">
			and (_instance.state = 3 or _instance.state = 7 )
		</if>
		<if test ="state == 6">
			and (_instance.state = 6 or _instance.state = 8 )
		</if>
		and _instance.delflag = 0
 	</select>
 
	 <select id= "findById" resultType ="com.jzy.hio.flow.entity.FlowFollowInstance" >
		SELECT
			_follow.id,
			_follow.isFollow
		FROM
			flow_follow_instance _follow
 		WHERE
			_follow.create_person_id = #{createPerson}
		AND _follow.flow_instance_id = #{instanceId}
 	 </select>
	 
	 <update id="updateByInstanceId" parameterType="com.jzy.hio.flow.entity.FlowFollowInstance" >
	 	update flow_follow_instance set update_date = #{updateDate},isFollow = #{isFollow} 
	 				where  flow_instance_id = #{flowInstanceId} and create_person_id = #{createPersonId}
	 </update>
	 
	 <select id="isMyFollow" resultType ="java.lang.Integer">
		SELECT
			 isFollow
		FROM
			flow_follow_instance  _follow
			INNER JOIN flow_instance  _instance  on _instance.id = _follow.flow_instance_id
			
		WHERE
			_follow.flow_instance_id = #{instanceId} and _follow.create_person_id = #{userId}	 
			and _instance.delflag = 0  and ( _instance.state  != 4 or _instance.state  != 6 )   
	</select>
	
	<update id="updateFollowInstanceByInstanceId" >
		update flow_follow_instance set update_date = #{updateDate},flow_instance_id = #{newInstanceId} where flow_instance_id = #{instanceId}
	</update>
	
	<delete id="deleteFollowBy">
		DELETE FROM flow_follow_instance WHERE flow_instance_id = #{instanceId}
	</delete>
 
</mapper>