<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowCategoryDao" >
   
    <select id="queryList" resultType="com.jzy.hio.flow.entity.FlowCategory">
          SELECT
                id,
                name,
                sort,
                description,
                delflag
            FROM
                flow_category
            WHERE
                delflag = 0
            ORDER BY
                sort DESC
    </select>

    <select id="queryTemplate" resultType="com.jzy.hio.flow.entity.FlowTemplate">
            SELECT
                t.id,
                t. NAME,
                t.description,
                t.state,
                t.flow_category_id AS flowCategoryId,
                t. CODE,
                t.delflag
            FROM
                flow_template t
            WHERE
                t.flow_category_id = #{sid}
            AND t.delflag = 0
    </select>

    <select id="getCategoryName" resultType="int">
        SELECT
        COUNT(1)
        FROM
            flow_category c
        WHERE c.`name` =#{name}
        <if test="id != null and id != '' ">
            AND NOT  c.id = #{id}
        </if>
        AND c.delflag = 0
    </select>

    <select id="querySort" resultType="com.jzy.hio.flow.entity.FlowCategory">
        SELECT
            id,
            NAME,
            sort,
            description,
            delflag
        FROM
            flow_category
        WHERE
            delflag = 0
        AND sort = (
            SELECT
                MAX(sort)
            FROM
                flow_category
            WHERE
                delflag = 0
        )
        ORDER BY
            sort

    </select>
</mapper>