<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowInstanceAcDao">

	<select id="queryNextInstanceList" resultType="com.jzy.hio.flow.entity.FlowInstanceAc">
		select * from flow_instance_ac where id in(${nextNodeIds}) and
		flow_instance_id = #{instanceId}
	</select>

	<update id="updateState" parameterType="com.jzy.hio.flow.entity.FlowInstanceAc">
		update flow_instance_ac set state = #{state},update_person_id =
			#{updatePersonId},update_date = #{updateDate} where id = #{id}
	</update>

	<update id="updatePreOrNextId" >
			update  flow_instance_ac  set 
			<if test="preOrNext == 'pre'">
				pre_node_ids = #{ids} 
			</if>
			<if test="preOrNext == 'next'">
				next_node_ids = #{ids} 
			</if>
			where flow_instance_id = #{instanceId} and  id = #{instanceAcId}

	</update>
	
	<update id="updateRunTimeState">
		update  flow_instance_ac  set state = #{state},update_date = #{updateDate}  where id in(${acIds}) and  flow_instance_id = #{instanceId}
	</update>
	
	<update id="updateInstanceAcPreIdsList" parameterType="java.util.List">
		<foreach collection="list" separator=";" item="list">  
			update flow_instance_ac  set pre_node_ids = #{list.preNodeIds}
    		    where id = #{list.id}  
  	  </foreach> 
	</update>	
	
	<update id ="updateBatchInstanceAcState"  parameterType="java.util.List">
		<foreach collection="list" separator=";" item="list">  
			update flow_instance_ac  set state = #{list.state},update_date = #{list.updateDate}
			
				<if test="list.type != null">
					, type = #{list.type}
				</if>
				<if test="list.sort != 0 ">
					, sort = #{list.sort}
				</if>
    		    where id = #{list.id}  and delflag = 0
  	  </foreach> 
	</update>
	
	 <update id="updateInstanceAcNextIdsList" parameterType="java.util.List">
		<foreach collection="list" separator=";" item="list">  
			update flow_instance_ac  set next_node_ids = #{list.nextNodeIds}
    		    where id = #{list.id}   and delflag = 0
  	  </foreach> 
	</update>	
	
	<select id ="queryInstanceAcApprovalRecord"  resultMap="approvalRecord">
		SELECT
			_ac.id as flowInstanceAcId ,
			_ac.flow_instance_id AS flowIntanceId,
			_ac.name,
			_ac.state as acState,
			_ac.source,
			_ac.type,
			_ac.delflag,
			_ac.template_node_id AS templateNodeId,
			_ac.create_person_id AS acCreatePerson,
			_record.id,
			_record.state , 		
			_record.approval_user , 		
			_record.create_date as createDate  ,
			_record.update_Date as updateDate  ,
			_record.create_date , 		
			_record.approval_description , 		
			_record.flow_instance_ac_id , 		
 			_record.update_date , 		
 			_record.adminId 
		FROM
			flow_instance_ac _ac
			left join flow_instance_approval_record _record on (_record.flow_instance_ac_id = _ac.id and _record.delflag = 0)
		WHERE
			_ac.flow_instance_id in(${instanceIds})
			and _ac.state > 0  
			
			and _ac.delflag = 0
			ORDER BY
			_ac.flow_instance_id desc,_ac.sort desc, _record.create_date desc
	</select>
	
	<resultMap type="com.jzy.hio.flow.entity.dto.InstanceAcRecordDto"
		id="approvalRecord">
		<id column="flowInstanceAcId" property="flowInstanceAcId" />
		<result column="flowIntanceId" property="flowIntanceId" />
		<result column="name" property="name" />
		<result column="acState" property="acState" />
		<result column="acCreatePerson" property="acCreatePerson" />
		<result column="type" property="type" />
		<result column="source" property="source" />
		<result column="delflag" property="delflag" />
		<collection property="approverList"
			ofType="com.jzy.hio.flow.entity.dto.InstanceApproverRecordDto">
			<result column="id" property="approvalId" />
 			<result column="state" property="state" />
			<result column="approval_user" property="approvalUser" />
			<result column="approval_description" property="approvalDescription" />
			<result column="approvalUserType" property="approvalUserType" />
 			<result column="adminId" property="adminId" />
 			<result column="flow_instance_ac_id" property="flowInstanceAcId" />
			<result column="update_date" property="updateDate" />
  		</collection>
	</resultMap>
	
	<update id="updateInstanceAcState">
		update flow_instance_ac 
		set state = #{state},update_date = #{updateDate}
		where flow_instance_id = #{instanceId} 
		 and state =  1
		<if test="instanceAcId != null">
			and id  in (${instanceAcId})
		</if>
	</update>

	<select id="queryRejectIntanceAddLabelAc" resultType="com.jzy.hio.flow.entity.FlowInstanceAc">
				
		SELECT
			id,
			flow_instance_id as flowIntanceId,
			name,
			state,
			type,
			source,
			template_node_id as templateNodeId ,
			pre_node_ids as preNodeIds,
			next_node_ids as nextNodeIds
			
		FROM
			flow_instance_ac
		WHERE
			flow_instance_id IN (${instanceIds})
		AND source = 1
		AND state = 2	
		 	
	</select>
	
	<update id="updateAroundNodeIdList" parameterType="java.util.List">
 			<foreach collection="list" separator=";" item="list">  
		update flow_instance_ac set update_date = #{list.updateDate},pre_node_ids =  #{list.preNodeIds},
				next_node_ids =  #{list.nextNodeIds},left_node_count = #{list.leftNodeCount} where id = #{list.id}
			</foreach>
	</update>	
	
	<update id="deleteBatchPseudoAllAcById" >
		update  flow_instance_ac set update_Date = #{updateDate},delflag = 1 
		 where flow_instance_id = #{instanceId}
		and state = 1
		<if test="isStartNode != true and acIds.size() > 0">
			and id in
			<foreach collection="acIds" item="id"  open="(" separator="," close=")">     
				#{id}      
			</foreach>
		</if>
	</update>

</mapper>