<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowInstanceDao">

	<select id="getInstanceList" resultType="com.jzy.hio.flow.entity.dto.ApprovalDto">
	 SELECT
		*
	  FROM
		(
		SELECT
			_instance.id,
			_instance. NAME AS topicName,
			_instance.start_Date AS startDate,
			_instance.update_date AS updateDate,
			_instance.create_person_id AS createPerson,
			_instance.state,
			_template. NAME AS templateName,
			_template.free_or_template as freeOrTemplate,
 			ifnull(_follow.isFollow, 0) AS isFollow
 		FROM
			flow_instance _instance
		INNER JOIN flow_template _template ON _instance.flow_template_id = _template.id
		LEFT JOIN flow_follow_instance _follow ON (
			_follow.flow_instance_id = _instance.id
			AND _follow.create_person_id = #{createPerson}
		)

		WHERE
			1 = 1

 			<if test="monitor == false">
				and _instance.create_person_id = #{createPerson}  
			</if>
			
			<if test="monitor == true">
				and  _instance.state != 4 
			</if>
				
	       	<if test = "startDate != null and startDate != '' and endDate != null and endDate != ''  ">
				and _instance.start_date &gt;= #{startDate} and _instance.start_date &lt;= #{endDate}
			</if>	
	
			<if test="state != 0   and state != 3  and state != 6" >
				and _instance.state = #{state}
			</if>
			
			<if test="state == 3" >
				and (_instance.state = #{state} or   _instance.state = 7)
			</if>
			
			<if test="state == 6" >
				and (_instance.state = #{state} or   _instance.state = 8)
			</if>
	  		<!-- 这个判断是给首页我的发起用的 -->
			<if test ="index != 0">
				and _instance.state != 4
				and _instance.state != 6
			</if>

			<if test= "userIds != null and userIds.size > 0 " >
				and _instance.create_person_id in
			<foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">
	            #{item}
	        </foreach>
			</if> 
	
			<if test="flowType != null and flowType != '' ">
				and _template.code = #{flowType}
			</if>
			
			<if test = "startSign == 1">
				and _template.start_sign = #{startSign}
			</if>
			
			and _instance.delflag = 0
	
		) a
		 
		<if test="dynamicSql == null">
			ORDER by updateDate desc
		</if>
		<if test="dynamicSql != null">
			${dynamicSql}
		</if>

		limit #{pageNum},#{pageCount}
	</select>

	<select id="getCountInstanceList" resultType="java.lang.Integer">
	 
		SELECT
			count(1)
		FROM
			flow_instance _instance
		INNER JOIN flow_template _template ON _instance.flow_template_id = _template.id
		WHERE 1 = 1
		
		<if test="monitor == false">
			and _instance.create_person_id = #{createPerson}
		</if>
		
		<if test="monitor == true">
			and  _instance.state != 4  
		</if>
		
       	<if test = "startDate != null and startDate != '' and endDate != null and endDate != ''  ">
			and _instance.start_date &gt;= #{startDate} and _instance.start_date &lt;= #{endDate}
		</if>	
		
		<if test="topicName != null">
			and _instance.NAME like '%${topicName}%'
		</if>

		<if test="state != 0   and state != 3  and state != 6" >
			and _instance.state = #{state}
		</if>
		
		<if test="state == 3" >
			and (_instance.state = #{state} or   _instance.state = 7)
		</if>
		
		<if test="state == 6" >
			and (_instance.state = #{state} or   _instance.state = 8)
		</if>

		<if test= "userIds != null and userIds.size > 0 " >
			and _instance.create_person_id in
			<foreach item="item" collection="userIds" index="index" open="(" separator="," close=")">
	            #{item}
	        </foreach>
		</if>

		<!-- 这个判断是给首页我的发起用的 -->
		<if test ="index != 0">
			and _instance.state != 4
			and _instance.state != 6

		</if>
		
		<if test="flowType != null and flowType != '' ">
			and  _template.code = #{flowType}
		</if>
		<if test = "startSign == 1">
				and _template.start_sign = #{startSign}
		</if>
		and  _instance.delflag = 0
	  
	</select>

	<select id="getInstanceInfoById" resultMap="flowInstanceInfo">
		SELECT
			_template.is_repeat AS isRepeat,
			_template.id as templateId,
			_template.name as templateName,
			_template.free_or_template as freeOrTemplate,
			_instance.id AS instanceId,
			_instance.state AS instanceState,
			_instance.business_id AS businessId,
			_instance.attachment_id AS attachmentId,
			_instance.create_person_id as createPersonId,
			_instance.start_date as startDate,
			_ac.node_type,
			_ac.pre_node_ids,
			_ac.next_node_ids,
			_ac.type,
			_ac.template_node_id,
			_ac.name,
			_ac.id,
			_ac.flow_instance_id,
			_ac.left_node_count,
			_ac.state,
			_ac.sort,
			_ac.source,
			_ac.noSkip
		FROM
			flow_instance _instance
			LEFT JOIN flow_template _template ON
			_instance.flow_template_id = _template.id
			LEFT JOIN flow_instance_ac
			_ac ON _ac.flow_instance_id = _instance.id
		WHERE
			_instance.id = #{instanceId}
 			and _instance.delflag = 0
			and _instance.state != 8  
	</select>

	<resultMap type="com.jzy.hio.flow.entity.dto.FlowInstanceInfo"
		id="flowInstanceInfo">
		<id column="isRepeat" property="isRepeat" />
		<result column="instanceId" property="instanceId" />
		<result column="templateName" property="templateName" />
		<result column="templateId" property="templateId" />
		<result column="instanceState" property="instanceState" />
		<result column="freeOrTemplate" property="freeOrTemplate" />
		<result column="createPersonId" property="createPersonId" />
		<result column="businessId" property="businessId" />
		<result column="startDate" property="startDate" />
		<collection property="instanceAcList"
			ofType="com.jzy.hio.flow.entity.FlowInstanceAc">
			<id column="id" property="id" />
			<result column="type" property="type" />
			<result column="node_type" property="nodeType" />
			<result column="pre_node_ids" property="preNodeIds" />
			<result column="next_node_ids" property="nextNodeIds" />
			<result column="template_node_id" property="templateNodeId" />
			<result column="name" property="name" />
			<result column="left_node_count" property="leftNodeCount" />
			<result column="flow_instance_id" property="flowIntanceId" />
			<result column="state" property="state" />
			<result column="sort" property="sort" />
			<result column="noSkip" property="noSkip" />
			<result column="source" property="source" />
		</collection>
	</resultMap>

	<select id="queryInstanceBasicInfoById" resultMap="instanceDetailBasicInfo">

	SELECT
		_template.id as templateId,
		_template.name as templateName,
		a.free_or_template as freeOrTemplate,
		_template.description,
		_template.code as templateCode,
		_instance.id AS instanceId,
		_instance.name AS instanceName,
		_instance.state AS state,
		_instance.business_id AS businessId,
		_instance.instance_group_id AS instanceGroupId,
		_instance.free_flow_nodes AS freeFlowNodes,
		_instance.attachment_id AS attachmentId,
		_instance.projectId AS projectId,
		_instance.create_person_id as createPersonId,
		_instance.create_date as createDate,
		_instance.start_date as startDate,
		_instance.custom_form_id as customFormId,
		_copy.copy_user
 	FROM
		flow_instance _instance
		LEFT JOIN flow_template _template ON (
		_instance.flow_template_id = _template.id)
		LEFT JOIN flow_template a ON(_template.code = a.code AND a.delflag = 0)
		LEFT JOIN flow_copy _copy on
		(_copy.flow_instance_id = _instance.id and _copy.source = 1)
	WHERE
		_instance.id = #{instanceId} 
		and _instance.delflag = 0
	</select>

	<resultMap type="com.jzy.hio.flow.entity.dto.InstanceDetailsDto"
		id="instanceDetailBasicInfo">
		<result column="isRepeat" property="isRepeat" />
		<result column="formUrl" property="formUrl" />
		<result column="templateId" property="templateId" />
		<result column="projectId" property="projectId" />
		<result column="freeOrTemplate" property="freeOrTemplate" />
		<result column="freeFlowNodes" property="freeFlowNodes" />
		<result column="templateName" property="templateName" />
		<result column="templateCode" property="templateCode" />
		<result column="description" property="description" />
		<result column="instanceId" property="instanceId" />
		<result column="state" property="state" />
		<result column="instanceName" property="instanceName" />
		<result column="attachmentId" property="attachmentId" />
		<result column="instanceGroupId" property="instanceGroupId" />
		<result column="customFormId" property="customFormId" />
		<result column="createDate" property="createDate" />
		<result column="startDate" property="startDate" />
		<result column="businessId" property="businessId" />
		<result column="createPersonId" property="createPersonId" />
		<collection property="copyUserIds"  ofType="java.lang.String" javaType="java.util.ArrayList">
			<result column="copy_user" />
		</collection>
	</resultMap>

	<select id="queryInstanceIdsByinstanceGroupId" resultType="java.lang.String">
		SELECT
			group_concat(id )
		FROM
			flow_instance
		WHERE
			instance_group_id =  #{instanceGroupId}
		AND start_date &lt;=  #{startDate}
				
 	</select>
	
	<select id="getInstanceListByProjectId" resultType="com.jzy.hio.flow.entity.dto.ApprovalDto">
	 SELECT
		*
	  FROM
		  (
			SELECT
				_instance.id,
				_instance. NAME AS topicName,
				_instance.start_Date AS startDate,
				_instance.update_date AS updateDate,
				_instance.create_person_id AS createPerson,
				_instance.state,
				_template. NAME AS templateName,
				_template. free_or_template AS freeOrTemplate,
 				ifnull(_follow.isFollow, 0) AS isFollow
			FROM
				flow_instance _instance
			INNER JOIN flow_template _template ON _instance.flow_template_id = _template.id
			LEFT JOIN flow_follow_instance _follow ON _follow.flow_instance_id = _instance.id
			 
			WHERE 1 = 1 
				and _instance.projectid = #{projectId}
		   	<if test = "startDate != null and startDate != '' and endDate != null and endDate != ''  ">
				and _instance.start_date &gt;= #{startDate} and _instance.start_date &lt;= #{endDate}
			</if>	
			
			<if test="flowType != null and flowType != '' ">
				and _template.code = #{flowType}
			</if>
			
			and _instance.delflag = 0
			and (_instance.state != 4 and  _instance.state != 6)
			 
		 ) a
		 
		<if test="dynamicSql == null">
			ORDER by updateDate desc
		</if>
		<if test="dynamicSql != null">
			${dynamicSql}
		</if>
		limit #{pageNum},#{pageCount}
	</select>
	<select id="getInstanceListCountByProjectId" resultType="Integer" >
		SELECT
			IFNULL(count(1),0)
		FROM
			flow_instance _instance
		INNER JOIN flow_template _template ON _instance.flow_template_id = _template.id
		WHERE 
			 1 = 1 and _instance.projectid = #{projectId}
		   	<if test = "startDate != null and startDate != '' and endDate != null and endDate != ''  ">
				and _instance.start_date &gt;= #{startDate} and _instance.start_date &lt;= #{endDate}
			</if>	
			<if test="flowType != null and flowType != '' ">
				and _template.code = #{flowType}
			</if>
			and _instance.delflag = 0
			and (_instance.state != 4 and  _instance.state != 6)	
	</select>
 
 	<update id="updateInstanceUpdateDate" >
 		update flow_instance set update_date = #{updateDate} where id = #{instanceId}  
 	</update>
 	
 	<select id="queryCustomFormIdByInstanceId" resultType="com.jzy.hio.flow.entity.FlowCustomForm">
 		select  custom_form_id as id from flow_custom_form_instance where instance_id = #{instanceId}
 	</select>
 
 	<update id="recoveryState" parameterType="java.lang.String">
		UPDATE flow_instance a
		SET a.state = 3
		WHERE
			a.instance_group_id = #{instanceGroupId}
		AND a.state = 7	
	</update>
 	<update id="recoveryReturnState" parameterType="java.lang.String">
		UPDATE flow_instance a
		SET a.state = 6
		WHERE
			a.instance_group_id = #{instanceGroupId}
		AND a.state = 8
	</update>	
	<update id="updateInstanceDraft">
		UPDATE flow_instance
		SET flow_template_id = #{templateIdNew}
		WHERE
			flow_template_id = #{templateIdOld}
		AND state = 4
		AND delflag=0
	</update>
</mapper>