<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowTemplateRoleDao">
    <update id="updateRoleByTemCode">
        UPDATE `flow_template_role`
        SET `delflag` = '0'
        WHERE
            flow_template_id=#{templateCode}
    </update>

    <select id="getTemplateRoleList" resultType="com.jzy.hio.flow.entity.FlowTemplateRole">
              SELECT
                r.id,
                r.flow_template_id AS flowTemplateId,
                r.choose_type AS chooseType,
                r.choose_type_name AS chooseTypeName,
                r.root_id AS rootId,
                r.root_name AS rootName,
                r.delflag
            FROM
                flow_template_role r
            WHERE
                r.flow_template_id = #{code}
            AND r.delflag = 0;
   </select>
    <select id="getAll" resultType="com.jzy.hio.flow.entity.FlowTemplateRole">
            SELECT
                r.id,
                r.flow_template_id AS flowTemplateId,
                r.choose_type AS chooseType,
                r.root_id AS rootId,
                r.root_name AS rootName,
                r.delflag
            FROM
                flow_template_role r
            WHERE
            r.delflag = 0;
    </select>
</mapper>