<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.hio.flow.mapper.FlowTemplateDao">


    <select id="getTemplateListByCategoryId" resultType="com.jzy.hio.flow.entity.dto.FlowTemplateChildDto">
			SELECT
				t.id,
				t.name,
				t.description,
				t.state,
				t.free_or_template AS freeOrTemplate,
				t.sort,
				t.flow_category_id AS flowCategoryId,
				t.code,
				t.is_repeat AS isRepeat,
				t.start_sign AS startSign,
				t.delflag
			FROM
				flow_template t
			WHERE
				t.flow_category_id  =#{0}
			AND (delflag IS NULL OR delflag = 0)
			ORDER BY
				sort ASC
	</select>

	<select id="getFlowTemplateByCode" resultType="com.jzy.hio.flow.entity.FlowTemplate">
		SELECT
			t.id,
			t.name,
			t.state,
			t.description,
			t.sort,
			t.code,
			t.free_or_template AS freeOrTemplate,
			t.flow_category_id AS flowCategoryId,
			t.is_repeat AS isRepeat,
			t.start_sign AS startSign,
			t.flow_auto_complate as flowAutoComplate,
			t.delflag
		FROM
			flow_template t
		WHERE
			t.code = #{code}
		AND t.delflag = 0
	</select>
	
	<select id="getTemplatebyInstanceId" resultType="com.jzy.hio.flow.entity.FlowTemplate">
		SELECT
			a.id,
			a.name,
			a.description,
			a.state,
			a.code,
			a.flow_category_id as flowCategoryId,
			a.is_repeat as isRepeat,
			a.free_or_template as freeOrTemplate,
			a.flow_auto_complate as flowAutoComplate
		FROM
			flow_template a,
			flow_instance b
		WHERE
 		 a.id = b.flow_template_id
		AND b.id = #{instanceId}
	</select>

	<select id="getTemplateList" resultType="com.jzy.hio.flow.entity.dto.FlowTemplateChildDto">
		SELECT
		t.id,
		t.name,
		t.description,
		t.state,
		t.free_or_template AS freeOrTemplate,
		t.sort,
		t.flow_category_id AS flowCategoryId,
		t.`code`,
		t.is_repeat AS isRepeat,
		t.start_sign AS startSign,
		t.delflag
		FROM
		flow_template t
		WHERE
		<if test="name != null">
			 t.name like '%${name}%'
		</if>
		AND (delflag IS NULL OR delflag = 0)
		AND  state=1
		ORDER BY sort
	</select>

	<select id="getTemplateNameNum" resultType="int">
		SELECT
			COUNT(1)
		FROM
			flow_template t
		WHERE
			t.name = #{name}
		<if test="id != null and id != '' ">
			AND NOT  t.id = #{id}
		</if>
		AND t.delflag = 0
	</select>

	<select id="getFlowTemplateById" resultType="com.jzy.hio.flow.entity.FlowTemplate">
		SELECT
			b.id,
			b.code,
			b.name,
			b.state,
			b.flow_category_id AS flowCategoryId,
			b.is_repeat AS isRepeat,
			b.free_or_template AS freeOrTemplate,
			b.flow_auto_complate AS flowAutoComplate,
			b.start_sign AS startSign,
			b.sort
		FROM
			flow_template a,
			flow_template b
		WHERE
			a. CODE = b. CODE
		AND a.id = #{flowTemplateId}
		AND b.delflag = 0
	</select>
	<select id="selectAllFlowTemplate" resultType="com.jzy.hio.flow.entity.dto.FlowTemplateChildDto">
		SELECT
			t.id,
			t. name,
			t.description,
			t.state,
			t.free_or_template AS freeOrTemplate,
			t.sort,
			t.flow_category_id AS flowCategoryId,
			t.code,
			t.is_repeat AS isRepeat,
			t.start_sign AS startSign,
			t.delflag
		FROM
			flow_template t
		WHERE
		delflag=0 AND state=1
		ORDER BY
			sort ASC
	</select>
</mapper>