<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.task.mapper.QueryScheduleMyTaskListMapper">

	<select id="queryScheduleMyTaskList" resultType="com.jzy.hio.oa.task.dto.QueryTaskListDto">

		SELECT
		DISTINCT c.task_id AS taskId,c.task_name AS taskName,c.task_progress AS taskProgress,c.end_date AS endDate,
		c.task_urgent_flag AS taskUrgentFlag,c.task_status AS taskStatus,c.task_liable_id AS taskLiableId,c.isfollow,c.create_date AS createDate,
		c.`project_id` AS projectId 
		FROM
		(SELECT a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,b.isfollow,a.create_date,
		a.`project_id`
		FROM
		pt_task
		a,`pt_task_shared` b
		WHERE
		a.`task_id` = b.task_id AND b.type =
		'0' AND a.delflag = '0' AND b.delflag = '0' AND
		b.sharedshow_id =
		#{userId}

		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,b.isfollow,a.create_date,a.`project_id` FROM pt_task a,`pt_task_shared` b
		WHERE
		a.`task_id` =
		b.task_id AND b.type =
		'1' AND a.delflag = '0' AND b.delflag = '0'
		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,b.isfollow,a.create_date,a.`project_id` FROM
		pt_task a,`pt_task_shared` b
		WHERE
		a.`task_id` = b.task_id AND b.type =
		'2' AND a.delflag = '0' AND b.delflag = '0'
		
		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		) c
		WHERE 1=1

		<if test="taskName != null and taskName != ''">
			AND c.task_name like CONCAT('%',#{taskName},'%')
		</if>

		<if test="taskStatus != null and taskStatus != ''" >
			AND c.task_status = #{taskStatus}
		</if>

		<if test="dynamicSql == null">
			ORDER BY c.end_date desc
		</if>

		<if test="dynamicSql != null">
			${dynamicSql}
		</if>
		
		<if test="pageNum !=null and pageCount !=null">
			limit #{pageNum},#{pageCount}
		</if>
		
	</select>
	
	<select id="queryCountScheduleMyTaskList" resultType="java.lang.Integer">

		SELECT
		COUNT(DISTINCT c.taskId)
		FROM
		(SELECT a.`task_name`
		AS taskName,
		a.`task_id` AS taskId,
		a.`task_progress` AS
		taskProgress,
		a.`end_date` AS endDate,
		a.`task_urgent_flag` AS
		taskUrgentFlag,
		a.`task_status` AS taskStatus,
		a.`task_liable_id` AS
		taskLiableId
		FROM
		pt_task
		a,`pt_task_shared` b
		WHERE
		a.`task_id` = b.task_id AND b.type =
		'0' AND a.delflag = '0' AND b.delflag = '0' AND
		b.sharedshow_id =
		#{userId}
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT
		a.`task_name`
		AS taskName,
		a.`task_id` AS taskId,
		a.`task_progress` AS
		taskProgress,
		a.`end_date` AS endDate,
		a.`task_urgent_flag` AS
		taskUrgentFlag,
		a.`task_status` AS taskStatus,
		a.`task_liable_id` AS
		taskLiableId FROM pt_task a,`pt_task_shared` b
		WHERE
		a.`task_id` =
		b.task_id AND b.type =
		'1' AND a.delflag = '0' AND b.delflag = '0'
		
		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`task_name`
		AS taskName,
		a.`task_id` AS
		taskId,
		a.`task_progress` AS
		taskProgress,
		a.`end_date` AS endDate,
		a.`task_urgent_flag` AS
		taskUrgentFlag,
		a.`task_status` AS taskStatus,
		a.`task_liable_id` AS
		taskLiableId FROM
		pt_task a,`pt_task_shared` b
		WHERE
		a.`task_id` = b.task_id AND b.type =
		'2' AND a.delflag = '0' AND b.delflag = '0'
		
		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		) c
		WHERE 1=1

		<if test="taskName != null and taskName != ''">
			AND c.taskName like CONCAT('%',#{taskName},'%')
		</if>

		<if test="taskStatus != null and taskStatus != ''" >
			AND c.taskStatus = #{taskStatus}
		</if>
		
	</select>
</mapper>