<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.task.mapper.QueryProjectTaskListMapper">

	<select id="queryProjectTaskList" resultType="com.jzy.hio.oa.task.dto.QueryProjectTaskDto">


		SELECT DISTINCT c.taskId,c.taskName,c.taskProgress,
		c.projectstageId,c.taskStatus,c.beginDate,
		c.taskLiableId,c.endDate,c.createPersonId,c.isfollow,c.taskUrgentFlag,c.createDate
		FROM (SELECT
		a.task_id AS
		taskId,a.task_name AS
		taskName,a.task_progress AS
		taskProgress,
		a.projectstage_id AS
		projectstageId,a.task_status AS
		taskStatus,a.begin_date AS beginDate,
		a.task_liable_id AS
		taskLiableId,a.end_date AS
		endDate,a.create_person_id AS
		createPersonId,a.project_id AS projectId,a.begin_date AS
		beginTime,a.end_date AS endTime,a.task_urgent_flag AS
		taskUrgentFlag,a.isfollow,a.create_date AS createDate
		FROM pt_task a WHERE a.delflag = '0'

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND (a.create_person_id in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
			OR a.task_liable_id in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>)
		</if>

		UNION ALL

		SELECT a.task_id AS taskId,a.task_name AS
		taskName,a.task_progress AS
		taskProgress,
		a.projectstage_id AS
		projectstageId,a.task_status AS
		taskStatus,a.begin_date AS beginDate,
		a.task_liable_id AS
		taskLiableId,a.end_date AS
		endDate,a.create_person_id AS
		createPersonId,a.project_id AS
		projectId,a.begin_date AS
		beginTime,a.end_date AS
		endTime,a.task_urgent_flag AS taskUrgentFlag,a.isfollow,a.create_date AS createDate
		FROM pt_task
		a,pt_task_participants b
		WHERE a.task_id = b.task_id AND
		a.delflag = '0'
		AND b.delflag = '0'

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND (b.type = '0' AND b.sharedshow_id in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
			)
		</if>

		) c WHERE 1=1


		<if test="taskName != null and taskName != ''">
			AND c.taskName like CONCAT('%',#{taskName},'%')
		</if>

		<if test="projectId != null and projectId != ''">
			AND c.projectId = #{projectId}
		</if>

		<if test="beginTime != null and endTime != null">
			AND ((c.beginDate &lt;= #{beginTime} AND c.endDate &gt;=
			#{endTime})
			OR (c.beginDate &gt;= #{beginTime} AND c.endDate &lt;=
			#{endTime})
			OR
			(c.beginDate &gt;= #{beginTime} AND c.beginDate &lt;=
			#{endTime})
			OR
			(c.endDate &gt;= #{beginTime} AND c.endDate &lt;=
			#{endTime}))
		</if>

		<if test="dynamicSql == null">
			ORDER BY c.endTime desc
		</if>

		<if test="dynamicSql != null">
			${dynamicSql}
		</if>

		<if test="pageNum !=null and pageCount !=null">
			limit #{pageNum},#{pageCount}
		</if>

	</select>

	<select id="queryCountProjectTaskList" resultType="Integer">

		SELECT COUNT(DISTINCT c.taskId)
		FROM (
		SELECT a.task_id AS
		taskId,a.task_name AS
		taskName,a.task_progress AS
		taskProgress,
		a.projectstage_id AS
		projectstageId,a.task_status AS
		taskStatus,a.begin_date AS beginDate,
		a.task_liable_id AS
		taskLiableId,a.end_date AS
		endDate,a.create_person_id AS
		createPersonId,a.project_id AS
		projectId,a.begin_date AS
		beginTime,a.end_date AS endTime,a.task_urgent_flag AS
		taskUrgentFlag,a.isfollow,a.create_date AS createDate
		FROM pt_task a
		WHERE a.delflag = '0'

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND (a.create_person_id in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>

			OR a.task_liable_id in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>)
		</if>

		UNION ALL

		SELECT a.task_id AS taskId,a.task_name AS
		taskName,a.task_progress AS
		taskProgress,
		a.projectstage_id AS
		projectstageId,a.task_status AS
		taskStatus,a.begin_date AS beginDate,
		a.task_liable_id AS
		taskLiableId,a.end_date AS
		endDate,a.create_person_id AS
		createPersonId,a.project_id AS
		projectId,a.begin_date AS
		beginTime,a.end_date AS
		endTime,a.task_urgent_flag AS taskUrgentFlag,a.isfollow,a.create_date AS createDate
		FROM pt_task
		a,pt_task_participants b
		WHERE a.task_id = b.task_id AND
		a.delflag = '0'
		AND b.delflag = '0'

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND (b.type = '0' AND b.sharedshow_id in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
			)
		</if>

		) c WHERE 1=1

		<if test="taskName != null and taskName != ''">
			AND c.taskName like CONCAT('%',#{taskName},'%')
		</if>

		<if test="projectId != null and projectId != ''">
			AND c.projectId = #{projectId}
		</if>

		<if test="beginTime != null and endTime != null">
			AND ((c.beginDate &lt;= #{beginTime} AND c.endDate &gt;=
			#{endTime})
			OR (c.beginDate &gt;= #{beginTime} AND c.endDate &lt;=
			#{endTime})
			OR
			(c.beginDate &gt;= #{beginTime} AND c.beginDate &lt;=
			#{endTime})
			OR
			(c.endDate &gt;= #{beginTime} AND c.endDate &lt;=
			#{endTime}))
		</if>

		<if test="dynamicSql == null">
			ORDER BY c.endDate desc
		</if>
		
		<if test="dynamicSql != null">
			${dynamicSql}
		</if>

	</select>


</mapper>