<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.task.mapper.QueryScheduleTaskListMapper">

	<select id="queryScheduleTaskList"
		parameterType="com.jzy.hio.oa.task.param.QueryScheduleTaskListParam"
		resultType="com.jzy.hio.oa.task.dto.QueryTaskDto">

		SELECT DISTINCT
		c.taskId,c.beginTime,c.endTime,c.taskLiableId AS
		createPersonId,c.taskName,u.real_name AS createPersonName FROM

		(SELECT
		a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id`
		AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS
		taskId,a.`create_person_id` AS
		createPersonId FROM pt_task a WHERE
		a.`task_liable_id` = #{userId} and a.delflag = '0'

		UNION ALL

		SELECT
		a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id`
		AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS
		taskId,a.`create_person_id` AS
		createPersonId FROM pt_task a WHERE
		a.`task_liable_id`
		= #{userId} and a.delflag = '0'

		UNION ALL

		SELECT
		a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id`
		AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS
		taskId,a.`create_person_id` AS
		createPersonId
		FROM pt_task a,pt_task_shared b
		WHERE
		a.`task_id` =
		b.task_id AND b.type =
		'0' and a.delflag = '0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,a.`create_person_id` AS
		createPersonId
		FROM pt_task a,pt_task_shared b
		WHERE
		a.`task_id` = b.task_id AND
		b.type = '1'
		and a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,a.`create_person_id` AS
		createPersonId
		FROM pt_task a,pt_task_shared b
		WHERE
		a.`task_id` = b.task_id AND
		b.type = '2'
		and a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,b.`create_person_id` AS
		createPersonId
		FROM (SELECT a.`begin_date`,a.`end_date`,a.`task_liable_id`,
		a.`task_name`,a.`task_id`,a.`create_person_id`,a.delflag,a.`calendar_id` FROM pt_task a WHERE a.calendar_id IS NOT NULL)
		a,(SELECT b.task_id,b.delflag,b.sharedshow_id,b.`create_person_id`,b.type,b.calendar_id FROM pt_task_shared b
		WHERE b.calendar_id IS NOT NULL) b
		WHERE
		a.`calendar_id` = b.calendar_id
		AND
		b.type = '0' and a.delflag = '0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,b.`create_person_id` AS
		createPersonId
		FROM (SELECT a.`begin_date`,a.`end_date`,a.`task_liable_id`,
		a.`task_name`,a.`task_id`,a.`create_person_id`,a.delflag,a.`calendar_id` FROM pt_task a WHERE a.calendar_id IS NOT NULL)
		a,(SELECT b.task_id,b.delflag,b.sharedshow_id,b.`create_person_id`,b.type,b.calendar_id FROM pt_task_shared b
		WHERE b.calendar_id IS NOT NULL) b
		WHERE
		a.`calendar_id` = b.calendar_id
		AND
		b.type = '1' and a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,b.`create_person_id` AS
		createPersonId
		FROM (SELECT a.`begin_date`,a.`end_date`,a.`task_liable_id`,
		a.`task_name`,a.`task_id`,a.`create_person_id`,a.delflag,a.`calendar_id` FROM pt_task a WHERE a.calendar_id IS NOT NULL)
		a,(SELECT b.task_id,b.delflag,b.sharedshow_id,b.`create_person_id`,b.type,b.calendar_id FROM pt_task_shared b
		WHERE b.calendar_id IS NOT NULL) b
		WHERE
		a.`calendar_id` = b.calendar_id
		AND
		b.type = '2' and a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,a.`create_person_id` AS
		createPersonId
		FROM pt_task a,`pt_task_participants` b
		WHERE a.`task_id` = b.task_id
		AND b.type = '0' and a.delflag = '0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,a.`create_person_id` AS
		createPersonId
		FROM pt_task a,`pt_task_participants` b
		WHERE a.`task_id` = b.task_id
		AND b.type = '1' and a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,a.`create_person_id` AS
		createPersonId
		FROM pt_task a,`pt_task_participants` b
		WHERE a.`task_id` = b.task_id
		AND b.type = '2' and a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		) c ,oa_sys_user u WHERE c.taskLiableId = u.id

		<if test="beginTime != null and endTime != null">
			AND ((c.beginTime &lt;= #{beginTime} AND c.endTime &gt;=
			#{endTime})
			OR (c.beginTime &gt;= #{beginTime} AND c.endTime &lt;=
			#{endTime})
			OR
			(c.beginTime &gt;= #{beginTime} AND c.beginTime &lt;=
			#{endTime})
			OR
			(c.endTime &gt;= #{beginTime} AND c.endTime &lt;=
			#{endTime}))
		</if>

		<if test="taskId != null">
			AND c.task_id = #{taskId}
		</if>

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND c.taskLiableId in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>

	</select>
	
	<select id="queryNewScheduleTaskList"
		parameterType="com.jzy.hio.oa.task.param.QueryScheduleTaskListParam"
		resultType="com.jzy.hio.oa.task.dto.QueryTaskDto">

		SELECT DISTINCT
		c.taskId,c.beginTime,c.endTime,c.taskLiableId AS
		createPersonId,c.taskName,u.real_name AS createPersonName,'0' AS isShowTitle FROM

		(SELECT
		a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id`
		AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS
		taskId,a.`create_person_id` AS
		createPersonId FROM pt_task a WHERE
		a.`task_liable_id` = #{userId} and a.delflag = '0'

		UNION ALL

		SELECT
		a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id`
		AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS
		taskId,a.`create_person_id` AS
		createPersonId FROM pt_task a WHERE
		a.`task_liable_id`
		= #{userId} and a.delflag = '0'

		UNION ALL

		SELECT
		a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id`
		AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS
		taskId,a.`create_person_id` AS
		createPersonId
		FROM pt_task a,pt_task_shared b
		WHERE
		a.`task_id` =
		b.task_id AND b.type =
		'0' and a.delflag = '0' AND b.delflag = '0'

		<if test="userId != null and userId !=''">
			AND b.sharedshow_id = #{userId}
		</if>
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,a.`create_person_id` AS
		createPersonId
		FROM pt_task a,pt_task_shared b
		WHERE
		a.`task_id` = b.task_id AND
		b.type = '1'
		and a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL

		SELECT a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id` AS taskLiableId,
		a.`task_name` AS
		taskName,a.`task_id` AS taskId,a.`create_person_id` AS
		createPersonId
		FROM pt_task a,pt_task_shared b
		WHERE
		a.`task_id` = b.task_id AND
		b.type = '2'
		and a.delflag = '0' AND b.delflag = '0'

		
			AND b.sharedshow_id in
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		) c ,oa_sys_user u WHERE c.taskLiableId = u.id

		<if test="beginTime != null and endTime != null">
			AND ((c.beginTime &lt;= #{beginTime} AND c.endTime &gt;=
			#{endTime})
			OR (c.beginTime &gt;= #{beginTime} AND c.endTime &lt;=
			#{endTime})
			OR
			(c.beginTime &gt;= #{beginTime} AND c.beginTime &lt;=
			#{endTime})
			OR
			(c.endTime &gt;= #{beginTime} AND c.endTime &lt;=
			#{endTime}))
		</if>

		<if test="taskId != null">
			AND c.task_id = #{taskId}
		</if>

		<if test="createPersonList != null and createPersonList.size() > 0">
			AND c.taskLiableId in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>

	</select>
	
	<select id="queryNewScheduleTaskCalendaList"
		parameterType="com.jzy.hio.oa.task.param.QueryScheduleTaskListParam"
		resultType="com.jzy.hio.oa.task.dto.QueryTaskDto">

		SELECT DISTINCT a.`task_id` AS
		taskId,a.`begin_date` AS beginTime,a.`end_date` AS
		endTime,a.`task_liable_id`
		AS taskLiableId,
		a.`task_name` AS
		taskName,a.`create_person_id` AS
		createPersonId,b.is_showtitle AS isShowTitle,u.real_name AS createPersonName
		FROM pt_task a,pt_task_shared b,oa_sys_user u WHERE a.task_liable_id = b.create_person_id AND b.`delflag` = '0' AND a.`delflag` = '0'
		AND a.task_liable_id = u.id AND b.sharedshow_id = #{userId}  AND b.calendar_id IS NOT NULL 

		<if test="taskId != null">
			AND a.task_id = #{taskId}
		</if>
		
		<if test="createPersonList != null and createPersonList.size() > 0">
			AND b.create_person_id in
			<foreach collection="createPersonList" index="index" item="item"
				open="(" separator="," close=")">
				#{item.createPersonId}
			</foreach>
		</if>
		
		<if test="beginTime != null and endTime != null">
			AND ((a.begin_date &lt;= #{beginTime} AND a.end_date &gt;=
			#{endTime})
			OR (a.begin_date &gt;= #{beginTime} AND a.end_date &lt;=
			#{endTime})
			OR
			(a.begin_date &gt;= #{beginTime} AND a.begin_date &lt;=
			#{endTime})
			OR
			(a.end_date &gt;= #{beginTime} AND a.end_date &lt;=
			#{endTime}))
		</if>
		
	</select>
</mapper>