<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.task.mapper.TaskMapper">

	<update id="updateStatus">
		UPDATE `pt_task` a SET a.`task_status`
		= #{taskStatus}
		WHERE 1=1 AND a.`delflag` = '0'
		<if test="taskId != null and  taskId!=''">
			AND a.`task_id` = #{taskId} 
		</if>
		
	</update>
	
	<update id="updateRemindStatus">
		UPDATE `pt_task` a SET a.`task_status`
		= #{taskStatus},remind_status = '0' 
		WHERE 1=1 AND a.`delflag` = '0' AND remind_status = '1'
		<if test="taskId != null and  taskId!=''">
			AND a.`task_id` = #{taskId} 
		</if>
		
	</update>
	
	<update id="updateIsFollow">
		UPDATE `pt_task` a SET a.`isfollow`
		= #{isfollow}
		WHERE a.`task_id` = #{taskId} AND a.`delflag` = '0'
	</update>

	<update id="delete">
		UPDATE `pt_task` a SET a.`delflag` =
		#{delflag} WHERE
		a.`task_id` = #{taskId} AND a.`delflag` = '0'
	</update>

	<select id="queryTaskId" resultType="com.jzy.hio.entity.Task">
		SELECT
		`id`,
		`task_id` AS
		taskId,
		`task_name` AS taskName,
		`task_status` AS taskStatus,
		`task_liable_id` AS taskLiableId,
		`task_liable_name` AS taskLiableName,
		`begin_date` AS beginDate,
		`end_date` AS endDate,
		`task_progress` AS
		taskProgress,
		`task_urgent_flag` AS taskUrgentFlag,
		`task_describe` AS taskDescribe,
		`advance_time` AS advanceTime,
		`remind_time` AS remindTime,
		`project_id` AS projectId,
		`projectstage_id` AS projectstageId,
		`remind_id` AS remindId,
		`create_person_id` AS createPersonId,
		`create_person_name` AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS
		updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`isfollow`
		FROM
		`pt_task`
		WHERE delflag = '0'
		
		<if test="taskId != null and taskId !=''">
			AND task_id = #{taskId} 
		</if>
		
		<if test="remindId != null and remindId !=''">
			AND remind_id = #{remindId} 
		</if>

	</select>
	
	<select id="queryTaskList" resultType="com.jzy.hio.oa.task.dto.QueryTaskListDto">
		SELECT
		`id`,
		`task_id` AS
		taskId,
		`task_name` AS taskName,
		`task_status` AS taskStatus,
		`task_liable_id` AS taskLiableId,
		`task_liable_name` AS taskLiableName,
		`begin_date` AS beginDate,
		`end_date` AS endDate,
		`task_progress` AS
		taskProgress,
		`task_urgent_flag` AS taskUrgentFlag,
		`task_describe` AS taskDescribe,
		`advance_time` AS advanceTime,
		`remind_time` AS remindTime,
		`project_id` AS projectId,
		`projectstage_id` AS projectstageId,
		`remind_id` AS remindId,
		`create_person_id` AS createPersonId,
		`create_person_name` AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS
		updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`isfollow`
		FROM
		`pt_task`
		WHERE delflag = '0'
		
		<if test="taskName != null and taskName != ''">
			AND task_name like CONCAT('%',#{taskName},'%')
		</if>
		
		<if test="taskStatus != null and taskStatus != ''">
			AND task_status = #{taskStatus}
		</if>
		
		<if test="projectId != null and projectId != ''">
			AND project_id = #{projectId}
		</if>
		
		<if test="projectstageId != null and projectstageId != ''">
			AND projectstage_id = #{projectstageId}
		</if>
		
		<if test="taskLiableId != null ">
			AND task_liable_id = #{taskLiableId}
		</if>
		
		<if test="createPersonId != null">
			AND create_person_id = #{createPersonId}
		</if>
		
		<if test="taskId != null and taskId !=''">
			AND task_id = #{taskId} 
		</if>
		
		<if test="remindStatus != null and remindStatus !=''">
			AND remind_status = #{remindStatus} 
		</if>
		
		<if test="dynamicSql == null">
			ORDER BY end_date desc
		</if>

		<if test="dynamicSql != null">
			${dynamicSql}
		</if>
		
		<if test="pageNum !=null and pageCount !=null">
			limit #{pageNum},#{pageCount}
		</if>
		
		
	</select>
	
	<select id="queryCountTaskList" resultType="java.lang.Integer">
	
		SELECT
		COUNT(`task_id`)
		FROM
		`pt_task`
		WHERE delflag = '0'
		
		<if test="taskName != null and taskName != ''">
			AND task_name like CONCAT('%',#{taskName},'%')
		</if>

		<if test="taskStatus != null and taskStatus != ''" >
			AND task_status = #{taskStatus}
		</if>
		
		<if test="projectId != null and projectId != ''">
			AND project_id = #{projectId}
		</if>
		
		<if test="projectstageId != null and projectstageId != ''">
			AND projectstage_id = #{projectstageId}
		</if>
		
		<if test="taskLiableId != null">
			AND task_liable_id = #{taskLiableId}
		</if>
		
		<if test="createPersonId != null">
			AND create_person_id = #{createPersonId}
		</if>
		
		<if test="taskId != null and taskId !=''">
			AND task_id = #{taskId} 
		</if>
		
		<if test="dynamicSql == null">
			ORDER BY end_date desc
		</if>
		
	</select>
	
	<select id="queryTaskAdminList" resultType="com.jzy.hio.oa.task.dto.QueryTaskListDto">
		SELECT
		`id`,
		`task_id` AS
		taskId,
		`task_name` AS taskName,
		`task_status` AS taskStatus,
		`task_liable_id` AS taskLiableId,
		`task_liable_name` AS taskLiableName,
		`begin_date` AS beginDate,
		`end_date` AS endDate,
		`task_progress` AS
		taskProgress,
		`task_urgent_flag` AS taskUrgentFlag,
		`task_describe` AS taskDescribe,
		`advance_time` AS advanceTime,
		`remind_time` AS remindTime,
		`project_id` AS projectId,
		`projectstage_id` AS projectstageId,
		`remind_id` AS remindId,
		`create_person_id` AS createPersonId,
		`create_person_name` AS createPersonName,
		`create_date` AS createDate,
		`update_person_id` AS updatePersonId,
		`update_person_name` AS
		updatePersonName,
		`update_date` AS updateDate,
		`delflag`,
		`isfollow`
		FROM
		`pt_task`
		WHERE delflag = '0'
		
		<if test="taskName != null and taskName != ''">
			AND task_name like CONCAT('%',#{taskName},'%')
		</if>
		
		<if test="taskStatus != null and taskStatus != ''">
			AND task_status = #{taskStatus}
		</if>
		
		<if test="dynamicSql == null">
			ORDER BY end_date desc
		</if>

		<if test="dynamicSql != null">
			${dynamicSql}
		</if>
		
		<if test="pageNum !=null and pageCount !=null">
			limit #{pageNum},#{pageCount}
		</if>
		
		
	</select>
	
	<select id="queryCountTaskAdminList" resultType="java.lang.Integer">
	
		SELECT
		COUNT(`task_id`)
		FROM
		`pt_task`
		WHERE delflag = '0'
		
		<if test="taskName != null and taskName != ''">
			AND task_name like CONCAT('%',#{taskName},'%')
		</if>

		<if test="taskStatus != null and taskStatus != ''" >
			AND task_status = #{taskStatus}
		</if>
		
		<if test="dynamicSql == null">
			ORDER BY end_date desc
		</if>

	</select>
	
	<select id="queryTaskIndexList" resultType="com.jzy.hio.oa.task.dto.QueryTaskDto">
	
		SELECT
		
		`task_id` AS
		taskId,
		`task_name` AS taskName,
		`begin_date` AS beginTime,
		`end_date` AS endTime
		FROM
		`pt_task`
		WHERE delflag = '0'
		
		
		<if test="userId != null ">
			AND task_liable_id = #{userId}
		</if>
		
		<if test="taskId != null and taskId !=''">
			AND task_id = #{taskId} 
		</if>
		
		<if test="beginTime != null and endTime != null">
			AND ((begin_date &lt;= #{beginTime} AND end_date &gt;=
			#{endTime})
			OR (begin_date &gt;= #{beginTime} AND end_date &lt;= #{endTime})
			OR
			(begin_date &gt;= #{beginTime} AND begin_date &lt;= #{endTime})
			OR
			(end_date &gt;= #{beginTime} AND end_date &lt;= #{endTime}))
		</if>
		
		ORDER BY end_date desc
		
	</select>
	
	<select id="queryTaskIndexCount" resultType="com.jzy.hio.oa.schedule.dto.QueryTaskIndexDto">
	
		SELECT COUNT(DATE_FORMAT(a.`begin_date`,'%Y-%m-%d')) AS taskCount,a.`begin_date` 
		AS beginTime,a.`task_name` AS taskName FROM pt_task a WHERE a.task_liable_id = #{userId} AND a.delflag = '0'
		
			
		<if test="beginTime != null and endTime != null">
			AND a.`begin_date` BETWEEN #{beginTime} AND #{endTime}
		</if>
		
		GROUP BY DATE_FORMAT(a.`begin_date`,'%Y-%m-%d')
	</select>
	
</mapper>