<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.task.mapper.TaskFollowMapper">

	<select id="queryTaskFollowList" resultType="com.jzy.hio.oa.task.dto.QueryTaskListDto">
	
		SELECT 
		DISTINCT
		a.`task_name` AS taskName,
		a.`task_id` AS taskId,
		a.`task_progress` AS taskProgress,
		a.`end_date` AS endDate,
		a.`task_urgent_flag` AS taskUrgentFlag,
		a.`task_status` AS taskStatus,
		a.`task_liable_id` AS taskLiableId,a.create_date AS createDate,
		a.`project_id` AS projectId,b.isfollow 
		
		FROM (
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a WHERE a.create_person_id = #{userId} AND a.delflag = '0'
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a WHERE a.task_liable_id = #{userId} AND a.delflag = '0'
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a,
		pt_task_participants c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '0' AND c.delflag = '0'
		AND c.sharedshow_id = #{userId}
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a,
		pt_task_participants c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '1' AND c.delflag = '0'
		AND c.sharedshow_id in
		
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id` 
		FROM
		pt_task a,
		pt_task_participants c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '2' AND c.delflag = '0'
		AND c.sharedshow_id in
		
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a,
		pt_task_shared c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '0' AND c.delflag = '0'
		AND c.sharedshow_id = #{userId}
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a,
		pt_task_shared c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '1' AND c.delflag = '0'
		AND c.sharedshow_id in
		
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id` 
		FROM
		pt_task a,
		pt_task_shared c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '2' AND c.delflag = '0'
		AND c.sharedshow_id in
		
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		) a,pt_task_follow b WHERE a.task_id = b.task_id AND b.delflag = '0' AND b.follow_status = '0' 
		
			
		<if test="taskName != null and taskName != ''">
			AND a.`task_name` like CONCAT('%',#{taskName},'%')
		</if>
		
		<if test="taskId != null and taskId != ''">
			AND a.`task_id` = #{taskId}
		</if>
		
		<if test="taskStatus != null and taskStatus != ''">
			AND a.task_status = #{taskStatus}
		</if>
		
		<if test="dynamicSql == null">
			ORDER BY a.end_date desc
		</if>

		<if test="dynamicSql != null">
			${dynamicSql}
		</if>
		
		<if test="pageNum != null and pageCount != null">
			limit #{pageNum},#{pageCount}
		</if>
		
	</select>
	
	<select id="queryCountTaskFollowList" resultType="java.lang.Integer">
		
		SELECT 
		COUNT(DISTINCT a.`task_id`)
		FROM (
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a WHERE a.create_person_id = #{userId} AND a.delflag = '0'
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a WHERE a.task_liable_id = #{userId} AND a.delflag = '0'
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a,
		pt_task_participants c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '0' AND c.delflag = '0'
		AND c.sharedshow_id = #{userId}
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a,
		pt_task_participants c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '1' AND c.delflag = '0'
		AND c.sharedshow_id in
		
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id` 
		FROM
		pt_task a,
		pt_task_participants c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '2' AND c.delflag = '0'
		AND c.sharedshow_id in
		
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a,
		pt_task_shared c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '0' AND c.delflag = '0'
		AND c.sharedshow_id = #{userId}
		
		<if test="roleList != null and roleList.size() > 0">
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id`  
		FROM
		pt_task a,
		pt_task_shared c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '1' AND c.delflag = '0'
		AND c.sharedshow_id in
		
			<foreach collection="roleList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="departmentList != null and departmentList.size() > 0">
		
		UNION ALL
		
		SELECT
		a.`task_name`,
		a.`task_id`,
		a.`task_progress`,
		a.`end_date`,
		a.`task_urgent_flag`,
		a.`task_status`,
		a.`task_liable_id`,a.create_date,
		a.`project_id` 
		FROM
		pt_task a,
		pt_task_shared c
		WHERE a.delflag = '0' AND a.`task_id` = c.`task_id` AND c.type = '2' AND c.delflag = '0'
		AND c.sharedshow_id in
		
			<foreach collection="departmentList" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		) a,pt_task_follow b WHERE a.task_id = b.task_id AND b.delflag = '0' AND b.follow_status = '0'
		
			
		<if test="taskName != null and taskName != ''">
			AND a.`task_name` like CONCAT('%',#{taskName},'%')
		</if>
		
		<if test="taskId != null and taskId != ''">
			AND a.`task_id` = #{taskId}
		</if>
		
		<if test="taskStatus != null and taskStatus != ''">
			AND a.task_status = #{taskStatus}
		</if>
		
		<if test="dynamicSql == null">
			ORDER BY a.end_date desc
		</if>

	</select>
	
	<update id="cancelFollow" >
		UPDATE `pt_task_follow` a SET a.`follow_status` = #{followStatus} WHERE a.`task_id` = #{taskId}
	</update>
	
	<update id="delete" >
		UPDATE `pt_task_follow` a SET a.`delflag` = #{delflag} WHERE a.`task_id` = #{taskId}
	</update>
	
	<update id="updateIsFollow">
		UPDATE `pt_task_follow` a SET a.`isfollow`
		= #{isfollow}
		WHERE a.`task_id` = #{taskId}
	</update>
	
</mapper>