<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.oa.sys.quick.mapper.EntryDao">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.jzy.hio.oa.sys.quick.entity.Entry">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.jzy.hio.oa.sys.quick.entity.Entry">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.jzy.hio.oa.sys.quick.entity.Entry">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<!-- 获取树列表数据 -->
	<select id="queryTreeList" resultType="com.jzy.hio.oa.sys.quick.entity.Entry" parameterType="java.util.Map">
		SELECT
			e.name AS parentName,
			t.id,
			t.name,
			t.code,
			t.parent_id AS parentId,
			t.icon AS linkIcon,
			t.is_inner AS isInner,
			t.resource_id AS resourceId,
			t.resource_name AS resourceName,
			t.url,
			t.status,
			t.sort,
			t.create_date as createDate,
			t.update_date as  updateDate,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.concurrency_version as concurrencyVersion,
			t.delflag
		FROM oa_sys_quick_entry t LEFT JOIN oa_sys_quick_entry e ON t.parent_id = e.id
		where 1=1 
		<choose>
        <when test="parentId != null">
             and   t.parent_id = #{parentId}
        </when>
        <otherwise>
             and    t.parent_id='0'
         </otherwise>
        </choose>
        and t.delflag=0  order by t.sort
	</select>
	<!-- 获取树列表数据 -->
	<select id="fuzzySearch" resultType="com.jzy.hio.oa.sys.quick.entity.Entry" parameterType="java.util.Map">
		SELECT
			t.id,
			t.name,
			t.code,
			t.parent_id AS parentId,
			t.icon AS linkIcon,
			t.is_inner AS isInner,
			t.resource_id AS resourceId,
			t.resource_name AS resourceName,
			t.url,
			t.status,
			t.sort,
			t.create_date as createDate,
			t.update_date as  updateDate,
			t.create_person_id as createPersonId,
			t.create_person_name as createPersonName,
			t.update_person_id as updatePersonId,
			t.update_person_name as updatePersonName,
			t.create_org_id as createOrgId,
			t.create_org_name as createOrgName,
			t.create_company_id as createCompanyId,
			t.create_company_name as createCompanyName,
			t.concurrency_version as concurrencyVersion,
			t.delflag
		FROM oa_sys_quick_entry t 
		where 1=1 and t.delflag=0  and t.status = 1
		<choose>
        <when test="code!=null and code!='' ">
          	and ( t.code like CONCAT(CONCAT('%',#{code}),'%')
          		or  t.name like CONCAT(CONCAT('%',#{name}),'%')
          		or  t.resource_name  like CONCAT(CONCAT('%',#{resourceName}),'%')
          		)
        </when>
        </choose>
        order by t.sort desc
	</select>
	<select id="getRulerSortNum" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			T.SORT AS SORT
		FROM
			OA_SYS_QUICK_ENTRY T
		WHERE
			1 = 1
	<choose>
	<when test="parentId != null and parentId !=''">
		AND T.parent_id = #{parentId,jdbcType=VARCHAR}
	</when>
	</choose>
	<choose>
	<when test="sort != null and sort !=''">
		AND T.SORT = #{sort,jdbcType=VARCHAR}
	</when>
	</choose>
		ORDER BY
			T.SORT DESC
		LIMIT 0,1
	</select>
	<select id="getEntryListByParentId" resultType="com.jzy.hio.oa.sys.quick.entity.Entry" parameterType="java.lang.String">
	SELECT 
	    t.id,
		t.name,
		t.code,
		t.parent_id AS parentId,
		t.icon AS linkIcon,
		t.is_inner AS isInner,
		t.resource_id AS resourceId,
		t.resource_name AS resourceName,
		t.url,
		t.status,
		t.sort,
		t.create_date as createDate,
		t.update_date as  updateDate,
		t.create_person_id as createPersonId,
		t.create_person_name as createPersonName,
		t.update_person_id as updatePersonId,
		t.update_person_name as updatePersonName,
		t.create_org_id as createOrgId,
		t.create_org_name as createOrgName,
		t.create_company_id as createCompanyId,
		t.create_company_name as createCompanyName,
		t.concurrency_version as concurrencyVersion,
		t.delflag
		from   OA_SYS_QUICK_ENTRY t  where t.delflag=0 
		<choose>
		<when test="_parameter != null and _parameter!=''">
			and  t.parent_id= #{_parameter,jdbcType=VARCHAR} 
		</when>
		</choose>
		order by t.sort
	</select>
</mapper>