body{
    background: #F8F8F8;
    .m_list_product{
        overflow-y: scroll;
        overflow-x: hidden;
        ul,ul li{
        list-style: none
        }
        li{ border-bottom:1px solid #dedede; padding:10px;
            background:#fff; margin-bottom:10px;
            .ft{ font-size:.8rem;color: #AC76EA;
                span{
                    background: #F1E8FC;border-radius: 1px;
                    display:inline-block;padding:3px 5px;
                }
                }
        }
        li{
            display: flex;
            .checkBd{
                width:10%;
                padding:10px;

                .icon_bg1{
                    display: inline-block;
                    border-radius: 50%;
                    width:30px;
                    height:30px;
                    .vux-x-icon {
                        fill: #CCCCCC;
                    }
                }
                .icon_bg2{
                    display: inline-block;
                    border-radius: 50%;
                    width:30px;
                    height:30px;
                    margin-top: 7px;
                    .vux-x-icon {
                        fill: #009EFF;
                    }
                }
            }
            .flex_bd{
                overflow: hidden;
                flex:1;
                padding:10px 0;
                display: flex;
                .title{color:#999;font-weight: normal;
                    overflow: hidden;
                        text-overflow: ellipsis;
                        white-space:nowrap;
                }
                .dec{color: #0D0D0D;
                    overflow: hidden;
                        text-overflow: ellipsis;
                        white-space:nowrap;
                }
                .flex_fr{
                    width:65%;
                    flex: 1;
                    overflow: hidden;
                        text-overflow: ellipsis;
                        white-space:nowrap;
                }
                .flex_ft{
                    width:35%;
                    overflow: hidden;
                        text-overflow: ellipsis;
                        white-space:nowrap;
                    .weui-cell {
                        padding: 10px 0px;
                        .vux-number-selector-sub{
                            padding: 4px 4px 2px 4px;
                        }
                        .vux-number-selector-plus{
                            padding: 3px 4px;
                        }
                    }
                    .productCount{display: block;width: 100%; height:100%;  text-align: right}
                }
            }
        }
    }
    .productPageShow{
        
        display:flex;
        width: 100%;
        height: 100%;
        box-orient:vertical;
        flex-direction:column;
        position:absolute;
        .wrapPage_product{
            flex: 1;
            overflow-y: scroll;
        }
        .b_product_m{
            height:50px;
            display: flex;
            width:100%;
            line-height: 50px;
            text-align: center;
            border-top: 1px solid #dedede;
            .text{
                flex: 1;
                font-size:.8rem;
                color:#009EFF;
                text-align: left;
                padding:0 10px;
            }
            .button{
                width:30%;
                font-size:1rem;
                background:#009EFF;
                color:#fff;
            }
            .button_f{
                background:#fff;
                color:#dedede;
                border-left: 1px solid #dedede;
            }
            // .button{
            //     width:100%;
            //     font-size:1rem;
            //     background:#009EFF;
            //     color:#fff;
            // }
        }
    }
    .popBox{
        position:fixed;
        width:100%;
        height:100%;
        overflow:hidden;
        background:#fff;
        display:flex;
        box-orient:vertical;
        flex-direction:column;
        top: 0;
        bottom:0;
        left: 0;
        z-index: 10;
        ul{
            flex: 1;
            overflow-y: scroll;
        }
        .bottom{
            height:40px;
            display: flex;
            width:100%;
            line-height: 40px;
            text-align: center;
            .text{
                text-align: center;
                flex: 1;
                font-size:.8rem;
                color:#009EFF;
                text-align: left;
                padding:0 10px;
            }
            .button{
                width:30%;
                font-size:1rem;
                background:#fff;
                color:#009EFF;
            }
        }    
        
    }
    .bottom_modalProduct{
        border-top: 1px solid #dedede;
        height:50px;
            display: flex;
            width:100%;
            line-height: 50px;
            text-align: center;
            .text{
                flex: 1;
                font-size:1rem;
                color:#333;
                text-align: center;
                padding:0 10px;
            }
            .button{
                width:50%;
                font-size:1rem;
                background:#009EFF;
                color:#fff;
            }
    }
    .customer-box-order{
        .weui-cells.vux-search_show{
            height:100%; overflow: hidden;
            overflow-y: scroll
        }
    }
    .orderPage{
        ul,ul li{
            list-style: none
            }
            li{ border-bottom:1px solid #dedede; padding:10px;
                background:#fff; margin-bottom:10px;
                .tp{
                    font-size:.9rem;
                    display: flex;
                    margin-bottom:5px;
                    span{
                        width:50%;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space:nowrap;
                    }
                    .title{
                        font-weight: bold;
                    }
                    .code{
                        color: #666666;
                    }
                }
                .ft{
                    font-size:.9rem;
                    color: #666666;
                }
            }
    }
    .orderDetailsBox{
        .weui-cells{
            background:transparent
        }
        
    }
    .text-right{ text-align: right;}
    .commonBussinesspage{
        .bd{
                padding-left:10px;
                background:#fff;
                .r_title{font-size: 1rem; font-weight: normal;
                    line-height: 2rem;
                    border-bottom: 1px solid #EDEDED;
                    h2{
                        .vux-x-icon{ float:right;
                        fill: #009EFF;
                        }
                    }
                }
                .icon{
                    border-left:2px solid rgba(33,212,152,1);
                    border-right:2px solid rgba(33,212,152,.5);
                    display:inline-block; 
                    margin-right: 10px;
                    height:1rem;
                    vertical-align: middle;
                }
                .icon_gj{
                    border-left:2px solid rgba(245,188,70,1);
                    border-right:2px solid rgba(245,188,70,.5);
                }
                .icon_cp{
                    border-left: 2px solid rgba(1,159,255,1);
                    border-right:2px solid rgba(1,159,255,.5);
                }
                .item_roced_list{
                    li{
                        margin-bottom:10px;
                        border-bottom:1px solid #EDEDED;
                        padding:10px 0;
                        line-height: 1.8rem;
                        font-size: .9rem;
                        position: relative;
                        a{
                            color: #191919;
                        }
                        
                        .status{
                            position: absolute;
                            right:10px;
                            top:50%;
                            margin-top:-14px;
                        }
                    }
                    li:last-child{
                        margin-bottom: 0;
                        border-bottom:none
                    }
                    .more{font-size:.8rem; color:#ccc; margin-bottom:10px; overflow: hidden;
                        padding:10px 0;
                        .vux-x-icon {
                            fill: #D8D8D8;
                            float:right;
                            }
                        }
                }
                
            }
        .list_xq_show{
            margin-bottom: 10px;
            li{padding:8px 0;position: relative;
             .m_uarrow_p{ 
                 position: absolute; right: 10px;
                 top:50%;
                 margin-top: -21px;
                 .vux-x-icon {
                    fill: #dedede;
                  }
                }
            }
            .cell{ font-size:.9rem;
                .c_w{
                    // display: -webkit-box;
                    overflow: hidden;
                    padding:10px 0;
                    border-bottom: 1px solid #EDEDED;
                    span{
                        display:block;
                    }
                    .labeN{
                        width:35%; margin-left:10px;
                        float: left;
                        color: #191919;
                    }
                    .text{ width:50%;text-align: right;float: right;
                    color: #666666;
                    margin-right:10px; overflow: hidden;text-overflow: ellipsis;white-space:nowrap}
                }
                overflow:hidden
            }
            .cell_p{
                padding-right:30px;
                .cell_row{
                    display: flex;
                    line-height: 1.5rem;
                    font-size: 1rem;
                    
                    .l_bd{
                        flex:1;
                        width:60%;
                        span{
                            width:100%;
                            overflow:hidden;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            color:#666;
                            
                        }
                    }
                    .r_bd{
                        display:block;
                        width:100px;
                        padding-left: 10px;
                        white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow:hidden;
                        
                    }
                    .c_black{
                        span{
                            color: #333;
                        }
                    }
                }
            }
            .ps_bd{
                font-size:.8rem;
                span{margin-right:10px;}
            }
            .more{font-size:.8rem; color:#ccc; margin-bottom:10px; overflow: hidden;
                padding:10px 0;
                .vux-x-icon {
                    fill: #D8D8D8;
                    float:right;
                    }
                }
        }
        
    }
    .customer-box{
        
        .details{
        
            
            .contactsBd{
                    margin-bottom: 10px;
                    .vux-flex-row{ line-height:2.5rem;}
                    .right{
                        padding-right:10px;
                    }
                }
            
            .details_top {
                
                margin-bottom:10px;
                .d_title{ font-size:1.1rem;font-weight: normal; 
                    word-break: break-all;
                padding:10px 0;
                color:#333;  border-bottom:1px solid #EDEDED}
                .d_top_c{
                    font-size:.8rem;font-weight: normal;
                    .d_top_c_cel{
                        line-height: 2.5rem;
                        overflow: hidden;
                        border-bottom:1px solid #EDEDED;
                        span{ margin-right:10px;color: #191919;}
                        span.right{
                            color:#666;
                            float:right;
                        }
                    }
                }
            }
            .d_ct_n{
                font-size:.8rem;
                display: flex; 
                flex-flow: row;
                box-sizing: border-box;
                margin-bottom:10px;
                .l{  color:#333; margin-right:10px;}
                .r{  color:#ccc; flex: 1; position: relative}
                .r:after{ display:inline-block;content:">"; position:absolute; right:0;}
            }
            .d_bottom_order{
                h2{font-size:1rem; color:#333; font-weight: normal;
                    span{font-size:.6rem; color:#ccc; float:right;}
                }
                h3{ font-size:.8rem; color:#ccc;}
                .ps{ font-size:.8rem;
                    span{font-size:1rem;}
                }
            }
        }
    }
    .m_pDetailsPage{
        position: fixed;
        width:100%;
        height:100%;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 20;
        background:#fff;
        left:0;
        top:0;
        bottom:0;
    }
    .m_pdetil{
        display: flex;
        width:100%;
        height:100%;
        overflow: hidden;
        flex-direction:column; 
        display: flex;
        box-orient:vertical; 
        -webkit-box-orient:vertical;
        .bd{
            flex: 1;
            overflow: hidden;
            overflow-y: scroll;
        }
        .bottom{
            height:50px;
            line-height:50px;
            display: flex;
            border-top:1px solid #dedede;
            background:#fff;
            .button{
                width:33.33%;
                text-align: center;
                color:#009EFF
            }
            .button_all{
                width:100%;
                text-align: center;
            }
            .button:last-child{
                border-left:1px solid #dedede
            }
            .button:first-child{
                border-right:1px solid #dedede
            }
        }
    }
  
}