*{margin:0;padding: 0;}
html{
    font-size:15px;
    font-family: "Microsoft YaHei,微软雅黑";
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}
.hide{
    display: none;
}

.pull-left{
    float: left!important;
}
.pull-right{
    float: right!important;
}
.title-header{height: 40px;text-align: center;
    line-height:40px;background: #fff;color: #333;padding:0 12px;border-bottom:1px solid #ededed;font-size: 17px;box-shadow: inset 0 0 0 0 #E8E8E8;}
.title-header .close{
    font-size: 16px;
    color: #2CAFFF;
    float: right;
}
.con-tab{
    height: 44px;
    line-height: 44px;
    margin: 0 12px;
    font-size: 15px;
    color: #333333;
    border-bottom:1px solid #ededed;
}
.add-attach a{
    font-size: 15px;
    color: #2CAFFF;
    text-decoration: none;
}
.con-tab .icon{
    color: #d8d8d8;
    float: right;
    margin-top: 1rem;
    margin-left: 0.8rem;
    font-size: 1rem;
}

.attachment-box li .del{
    float: right;
    color: #d8d8d8;
    margin-top: 1.2rem;
}
.close_offset{

}
.split{
    background: #f5f5f5;
    height: 10px;
}
.btn-box{
    padding: 0.8rem 0;
}
.btn-box .btn{
    width: 33%;
    text-align: center;
    float: left;
}
.btn-box .btn a{
    text-align: center;
    display: inline-block;
    width: 44px;
}
.btn-box .btn a img{
    width: 44px;
    height: 44px;
    vertical-align: middle;
}
.btn-box .btn a img.cancel{

}
.btn-box .btn a span{
    font-size: 14px;
    color: #333333;
    margin-top: 0.8rem;
    display: inline-block;
}
/*时间图标*/
.pr{
    position: relative;
}
.fill-order table>tbody>tr>td span.deleteSpan,.fill-order table>tbody>tr>td span.titleSpan,.fill-order table>tbody>tr>td span.dateSpan{
    width:16px; height:16px;
    position: absolute;
    vertical-align: middle;
    z-index:0;
    display: none;
}
.fill-order table>tbody>tr>td span.isShow{
    display: inline-block;
}
.deleteSpan img,.titleSpan img, img{
    width: 16px;
    height: 16px;
}

.my-date-icon,.my-sel{
    position: absolute;
    right: 10px;
    top: 1.2rem;
    color: #aaa;
}
.error-border{
    border: 1px solid #d41818!important;
}
.input-close{

}
.sel-style{
    width: 100%;
    height: 40px;
    color: #666;
    font-size: 15px;
    border: none;
    background: transparent;
    outline: none;
    padding-left: 10px;
    font-family: "Microsoft YaHei,微软雅黑";
}
.home-head{
    height: 2.666rem;
    line-height: 2.666rem;
    text-align: center;
    box-shadow: none;
    background: #fff;
    padding-right:0.666rem;
    padding-left:0.666rem;
}
.home-head .tit{
    font-size: 1.1333rem;
    color: #181818;
    font-weight: 600;
}
.search-head{
    margin: 0.8rem;
    /*overflow: hidden;*/
}
.search-head .cancel{
    font-size: 1rem;
    color: #009EFF;
    float: right;
    text-decoration: none;
    line-height:2rem;
}
.search-box{
    height: 2rem;
    background: #F3F3F3;
    border: 0 solid #ECECEC;
    border-radius: 100px;
    position: relative;
    width: 85%;
    float: left;
    padding-left: 10px;
}
.search-box input{
    outline: none;
    border:none;
    font-size: 0.9rem;
    color: #191919;
    background: none;
    height: 2rem;
    line-height: 2rem;
     width: 84%;
}
.search-box .searchSpan{
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    display: inline-block;
    color: #999;
    font-size: 20px;
}
.my-input-search{
    color: #999;
    top: 1.4rem;
    font-size: 0.8rem;
    margin-left: 0.8rem;
}

ul.menu{
    border-bottom: 1px solid #ebebeb;
    height: 3rem;
    /*overflow: hidden;*/
}
ul.menu li{
    float: left;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    color: #999999;
    padding:0 0.7rem;
    box-sizing: border-box;
    list-style: none;
    background:#fff;
}
ul.menu li.current{
    border-bottom: 2px solid #009EFF;
    color: #009EFF;
}
.cont-box{
    /*overflow: hidden;*/
}
.common{
    border-bottom: 1px solid #ebebeb;
    padding: 0.8rem 0;
}
.common .tit{
    font-size: 1.333rem;
    color: #191919;
    line-height: 1.333rem;
    margin:0.8rem 0;
    font-weight: 600;
    padding: 0 1rem;
}
.common .tit .op-btn{
    float: right;
    line-height: 1rem;
}
.common .tit .op-btn a{
    text-decoration: none;
    font-size: 1rem;
    color: #009EFF;
    font-weight: normal;
}
.common .tit .op-btn a{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
}
/*.common .tit .op-btn a.add{*/
    /*margin-right: 1.5rem;*/
    /*background: url("../image/cykjrk_add@2x.png") center center no-repeat;*/
    /*background-size: 16px 16px;}*/
/*.common .tit .op-btn a.edit{*/
    /*background: url("../image/cykjrk_edit@2x.png") center center no-repeat;*/
    /*background-size: 16px 14px;}*/
/*.common .tit .op-btn a.complete{*/
    /*width: 18px;*/
    /*display: none;*/
    /*background: url("../image/cykjrk_ok@2x.png") center center no-repeat;*/
    /*background-size: 18px 16px;}*/

.cont-box .item{
    /*height: 56px;*/
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    margin-bottom: 0.5rem;
    padding: 0 1rem;
}
.cont-box .item.bg{
    background: #F6F6F6;
}
.cont-box .general .item .text{
    width: 82%;
    min-height: 30px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.cont-box .item .text,.cont-box .noItem-box .text{
    display: inline-block;
    margin: 0.5rem 0.5rem 0 0.5rem;
    width: 88%;
}
.cont-box .item span{
    font-size: 1rem;
    color: #191919;

}

.cont-box .item p,.cont-box .noItem-box p{
    font-size: 0.8rem;
    color: #999999;
    line-height: 1.5rem;
}
.cont-box .item p{
    font-size: 1rem;
    color: #191919;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.cont-box .item .right-icon,.cont-box .noItem-box .right-icon{
    position: absolute;
    color: #d8d8d8;
    right: 1rem;
    top: 1.5rem;
    font-size: 1.2rem;
}
.cont-box .item .right-icon{
    top: 40%;
}
.cont-box .item .arrow,.cont-box .noItem-box .arrow{
    background: url("../images/arrow_right@2x.png") no-repeat;
    width: 0.47rem;
    height: 0.8rem;
    background-size: 0.47rem 0.8rem;
}
.cont-box .item .order{
    background: url("../images/order@2x.png") no-repeat;
    width: 1.067rem;
    height: 0.67rem;
    background-size: 1.067rem 0.67rem;
}

.cont-box .no-start {
    padding: 1rem;
}
.cont-box .no-start .text-icon{
    background: url("../images/10@2x.png") no-repeat;
    width: 0.8rem;
    height: 0.87rem;
    display: inline-block;
    background-size: 0.8rem 0.87rem;
}
.cont-box .no-start span{
    font-size: 1rem;
    color: #A0A0A0;
}

/*.cont-box .item:nth-child(1) .text-icon,.cont-box .item:nth-child(6) .text-icon{*/
    /*background: url("../image/01@2x.png") no-repeat;*/
    /*background-size: 0.8rem 0.87rem;*/
/*}*/
/*.cont-box .item:nth-child(2) .text-icon,.cont-box .item:nth-child(7) .text-icon{*/
    /*background: url("../image/02@2x.png") no-repeat;*/
    /*background-size: 0.8rem 0.87rem;*/
/*}*/
/*.cont-box .item:nth-child(3) .text-icon{*/
    /*background: url("../image/03@2x.png") no-repeat;*/
    /*background-size: 0.8rem 0.87rem;*/
/*}*/
/*.cont-box .item:nth-child(4) .text-icon{*/
    /*background: url("../image/04@2x.png") no-repeat;*/
    /*background-size: 0.8rem 0.87rem;*/
/*}*/
/*.cont-box .item:nth-child(5) .text-icon{*/
    /*background: url("../image/05@2x.png") no-repeat;*/
    /*background-size: 0.8rem 0.87rem;*/
/*}*/
.cont-box .my-start-box .item .text-icon{
    background: url("../images/06@2x.png") no-repeat;
    background-size: 0.8rem 0.87rem;
}
.cont-box .item .text-icon{
    width: 0.8rem;
    height: 0.87rem;
    vertical-align: top;
    display: inline-block;
    margin-top: 0.8rem;
    background-size: 0.8rem 0.87rem;
}
/*.cont-box .item .text-icon.delete{*/
    /*background: url("../image/minus@2x.png") no-repeat;*/
    /*width: 1.2rem;*/
    /*height: 1.2rem;*/
    /*display: inline-block;*/
    /*margin-top: 0.7rem;*/
    /*background-size: 1.2rem 1.2rem;*/
/*}*/
/*.look-all{*/
    /*text-align: center;*/
    /*margin-bottom: 2rem;*/
/*}*/
/*.look-all a{*/
    /*font-size: 1rem;*/
    /*color: #009EFF;*/
    /*text-decoration: none;*/
/*}*/
.cont-tab-box{
    overflow: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom: 3rem;
    top: 6.5rem;
}
#add-page .cont-tab-box{
    top: 3rem;
}
/*暂无搜索记录*/
.empty-box{
    /*display:flex;!*Flex布局*!*/
    /*display: -webkit-flex; !* Safari *!*/
    /*align-items:center;*/
}
.empty-box .empty-con{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top:-4.1rem;
    margin-left: -3rem;
}
.empty-box .empty-con .img{
    width: 4.2rem;
    height: 4.867rem;
    vertical-align: middle;
    background: url("../images/nohistory@2x.png") no-repeat;
    margin-left: 0.8rem;
    background-size: 4.2rem 4.867rem;
}
.empty-box .empty-con p{
    font-size: 1rem;
    color: #BEBEBE;
    margin:1rem 0;
}
.recent-tit{
    height:2.667rem;
    overflow: hidden;
    line-height:2.667rem;
    padding-left:0.8rem;
}
.recent-tit .myclock{
    color: #999;
}
.recent-tit .tit{
    border-bottom: 1px solid #ebebeb;
}
.noItem-box{
    overflow: hidden;
    position: relative;
    padding: 0 1rem;
}
/*.noItem-box .add-icon{*/
    /*background: url("../image/addcyx@2x.png") no-repeat;*/
    /*width: 0.87rem;*/
    /*height: 1rem;*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
    /*margin-top: 1rem;*/
    /*background-size: 0.87rem 1rem;*/
/*}*/
.noItem-box span{
    font-size: 1rem;
    color: #009EFF;
    line-height: 2rem;
}

.search-btn-box{
    padding:0.8rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.search-btn{
    background: #F3F3F3;
    border: 0 solid #ECECEC;
    border-radius: 100px;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    color: #999;
    font-size: 0.9rem;
}
.search-i{
    background: url("../images/search_search@2x.png") no-repeat;
    width: 0.93rem;
    height: 0.93rem;
    vertical-align: middle;
    display: inline-block;
    background-size: 0.93rem 0.93rem;
}
.add-btn{

}
.note-box{
    padding: 20px 12px;
}
.note-box span{
    float: left;
    line-height: 65px;
    margin-right: 10px;
    color: #333;
}
.note-box textarea{
    resize: none;
    outline: none;
    border-radius: 2px;
    border: 1px solid #ebebeb;
    height: 60px;
    padding: 5px;
    /* width: 70%; */
    width: 60%;
    float: left;
    font-size: 15px;
    font-family: "Microsoft YaHei,微软雅黑";
    color: #333;
}
#attachmentList,#attachmentList li{
    list-style: none;
}
#mystart-list .item .text{
    height: 30px;
}
.ovfHiden{
    overflow: hidden;height: 100%;
}
.loading{
    display: none;
    background: transparent;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
    opacity: 0.7;
}
.loading .load-box{
    width:128px;height:128px; z-index: 999; opacity: 0.7;background: #000000;border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -64px;
    margin-top:-64px;
    vertical-align: middle;
}
.loading .load-box img.load{width:36px;height:36px; margin: 40px 46px 4px 46px;}
.textWaiting{
    color: #fff;text-align: center;font-size: 12px;
    font-family: PingFangSC-Regular;letter-spacing: 0;line-height: 12px;
    margin-top: 10px;
}


