.search-page{
    /*display: flex;*/
    /*flex-flow: column;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*position: fixed;*/
    /*width: 100%;*/
}
.list-sort-show *{ padding:0; margin:0;}
.list-sort-show ul,.list-sort-show ul li{
    list-style: none;
}


.arrow-box{
    width:30px;
    height:30px;

}
.arrow-box:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    /*left: 0;*/
    width: 0;
    height: 0;
    border:10px solid;
    margin-top: -10px;
    /*border-color: transparent #2CAFFF transparent transparent;*/
}
.arrow-box:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    /*left: 1px;*/
    width: 0;
    height: 0;
    border:10px solid;
    margin-top: -10px;
    /*border-color: transparent #fff transparent transparent;*/
}
.arrow-box.left:before{
    left: 0;
    border-color: transparent #2CAFFF transparent transparent;
}
.arrow-box.left:after{
    left: 1px;
    border-color: transparent #fff transparent transparent;
}
.arrow-box.right:before{
    right: 0;
    border-color: transparent transparent transparent #D8D8D8;
}
.arrow-box.right:after{
    right: 2px;
    border-color: transparent transparent transparent #fff;
}
.arrow-box.down:before{
    /*right: 0;*/
    border-color: #D8D8D8 transparent transparent transparent;
}
.arrow-box.down:after{
    /*right: 1px;*/
    margin-top: -12px;
    border-color: #fff transparent transparent transparent;
}

.selected-border{
    background: #F6F6F6;
    border: 1px solid #D6D6D6;
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 50%;
    position:absolute;
    right:10px;
    top:50%;
    margin-top:-8px;
}
.selected-border.selected{
    background: #2CAFFF;
    border: 1px solid #2CAFFF;
}
.list-sort-show .list-sort-ul{

}
.list-sort-show .list-sort-ul li{
    position:relative;
    padding-left:15px;
}
.icon-my{
    font-weight:normal;
    font-size: 15px;
    color: #191919;
    height:50px;
    line-height:50px;
    position:relative;
    margin-left:20px;
    border-bottom: 1px solid #ECECEC;
    cursor: pointer;
}
.icon-my:before{
    content:"";
    position:absolute;
    display: block;
    width:14px;
    height:14px;
    left:-21px;
    top:50%;
    margin-top: -5px;
}
.list-sort-show .list-sort-ul li .icon-my-s1:before{
    background:url(../images/icon/09@2x.png) no-repeat center center;
    background-size:12px 13px;
}
.list-sort-show .list-sort-ul li .icon-my-s2:before{
    background:url(../images/icon/06@2x.png) no-repeat center center;
    background-size:12px 13px;
}
.list-sort-show .list-sort-ul li h2 .title{
    vertical-align: middle;
    width: 88%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.list-sort-show .list-sort-ul .arrow-box.right {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7px;
}
.list-sort-show .list-sort-ul .arrow-box.right:before {
    border: 7px solid;
    margin-top: -7px;
    border-color: transparent transparent transparent #D8D8D8;
}
.list-sort-show .list-sort-ul .arrow-box.right:after {
    border: 7px solid;
    margin-top: -7px;
    border-color: transparent transparent transparent #fff;
}
.list-sort-show .list-sort-ul .arrow-box.down {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right:10px;
    margin-top: 2px;
}
.list-sort-show .list-sort-ul .arrow-box.down:before {
    border: 9px solid;
    border-color: #D8D8D8 transparent transparent transparent;
}
.list-sort-show .list-sort-ul .arrow-box.down:after {
    border: 7px solid;
    border-color: #fff transparent transparent transparent;
}