body{
  background: #f5f5f5;
  overflow: auto!important;
}
.add-customer-box{
  .require .vux-label:after{
    content: '*';
    margin-left: 4px;
    color: $theme-red;
  }
  .require .weui-label:after{
    content: '*';
    margin-left: 4px;
    color: $theme-red;
  }
  .vux-datetime p:after{
    content: '*';
    margin-left: 4px;
    color: $theme-red;
  }

  .bottomBtn{
    display: block;
    position: fixed;
    z-index: 88;
    left: 0px;
    bottom: 0px;
    /*box-shadow: inset 0 0 0 0 #CCCCCC;*/
    width:100%;
    height: 50px;
    /*line-height:50px;*/
    font-size: 16px;
    color: #009EFF;
    text-align: center;
    background: white;
  }


  .weui-textarea-counter{
    font-size: 12px;
    span{
      color: #b2b2b2;
    }
  }
  .sub-box{
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .weui-label{
    font-size: 16px;
    color: #191919;
  }
  .weui-cell{
    margin-top:10px;
    background: #fff;
  }
  .mt0{
    margin-top: 0;
  }

  .weui-cells .weui-cell:before{
    border-top: none;
    height: 0;
  }
  .weui-cells{
    background-color: #f5f5f5!important;
    margin-top: 0!important;
  }
  .weui-input{
    text-align: right;
    font-size: 16px!important;
    padding-right: 20px;
    position: relative;
    box-sizing: border-box;
    color: #191919;
  }
  .vux-x-input .weui-cell__bd:after{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
  }
  .vux-x-input.no-event .weui-cell__bd:after{
    border: none;
  }
  .weui-textarea{
    text-align: right;
    font-family:"微软雅黑";
    font-size: 16px!important;
  }
  .weui-select{
    z-index: 0!important;
    text-align: right;
  }
  .weui-cell__ft{
    //margin-right: 6px;
  }
  .vux-datetime.weui-cell_access .weui-cell__ft{
    padding-right: 20px;
  }
  .sub-box{
    padding: 20px;
    //position: absolute;
    //bottom: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    .blue{
      background-color: #00a0e9!important;
    }
    button:nth-child(1){
      margin-right: 30px;
    }
  }
  .target-box{
    height: 40px;

    padding:0 15px;

    .red{
      line-height: 40px;
      font-size: 12px;
      color: #F24848;
      text-align: center;
      display: block;
    }
    .next{
      line-height: 46px;
      font-size: 14px;
      color: #999999;
      text-align: left;
      display: block;
    }



  }
}