$crm-a-color: #009EFF;
html,body{
  min-width: none!important;
}
body{
  overflow: auto!important;
}
.crm_a{
  color:$crm-a-color!important;
}
.vux-header .vux-header-title span{
  color: #fff!important;
}
.vux-header .vux-header-left .left-arrow:before{
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
button.weui-btn_plain-primary.sub-btn{
  background: $crm-a-color;
  color: #fff;
  border: none;
}
.fl{
  float: left!important;
}
.fr{
  float: right!important;
}
.no-event:after{
  height: 0px!important;
  width: 0px!important;
  border-width: 0!important;
}
input.hid-file{
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 0;
  z-index: 8888;
  top: 0;
}
.weui-toast.weui-toast_forbidden .weui-toast__content{
  color: #f5f5f5;
}
._customerBox{
  position: fixed;
  width:100%;
  height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  left:0;bottom:0;top:0;right:0;
  z-index: 99;
  background:#fff;
}
.pb_50{
  padding-bottom: 50px;
}
._crm_toast_business .weui-toast__content{
  color:#fff;
}
.select-user-box-common{
  position: relative;
  z-index: 2;
}
.common-btn{
  width: 100%;
  box-shadow: inset 0 0 0 0 #CCCCCC;
  overflow: hidden;
  border-top: 1px solid #ededed;
  position: fixed;
  bottom: 0;
  button{
    cursor: pointer;
    font-size: 16px;
    color: #009EFF;
    background: #FFFFFF;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
    border: none;
  }
}
.common-btn.w50{
  width: 50%;
}
.common-btn.del-fr {
  right: 0;
  button{
    color: red
  }
}

