body{
  background: #f5f5f5;
}
.detail.pb_60{
  padding-bottom: 60px;
}
.detail{
  .btnGroups{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    button{
      width: calc( 50% - 1px);
      float: left;
      height: 50px;
      background-color: #ffffff;
      color: #009EFF;
      font-size: 16px;
      border: 0;
      border-top: 1px solid #d9d9d9;
    }
    span{
      width: 1px;
      height: 30px;
      display: inline-block;
      background: #EDEDED;
      margin-top: 10px;
      float: left;
    }
  }
  .h3_title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 98%;
    display: inline-block;
  }
  .tit{
    color: #333;
    margin-bottom: 10px;
  }
  .base{
    margin-top: 10px;
    background: #fff;
    padding-left: 15px;
  }
  .base p{
    height: auto;
    line-height: 50px;
    font-size: 15px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
    padding-right: 15px;
    position: relative;

  }
  .base p.dsc-text{
    color: #666;
    line-height: 30px;
    padding: 10px 0;
  }
  .penal-box .item{
    border-bottom: 1px solid #ededed;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
  }
  .penal-box .item p{
    height:auto;
    line-height: 22px;
    border:none;


  }
  .penal-box .item p.address label,.penal-box .item p.address span{
    font-size: 14px;
    color: #999999;
  }
  .penal-box .item .btn{
    background: #E3DAED;
    border-radius: 1px;
    font-size: 11px;
    color: #FFFFFF;
    line-height:18px;
    display: inline-block;
    padding: 0 5px;
    text-align: center;
    margin-top: 10px;
  }
  .can-click-style:after{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
  }
  p label{
    max-width: 60%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    ///* line-height: 36px; */
    float: left;
    font-size: 16px;
    color: #191919;
  }
  .base p label,.link-box p label{
    color: #191919;
  }
  .base p span,.link-box p span{
    max-width: 72%;
    color: #666666;
    float: right;
    line-height: 30px;
    margin: 10px 0 10px 0;
    word-wrap: break-word;
    p,div,span,label{
      border: none;
      height: auto;
      line-height: inherit;
      padding: 0;
    }
  }
  .base p.can-click-style span{
    padding-right: 35px;
  }
  .penal-box{
    overflow: hidden;
    padding-left: 15px;
  }
  .penal-box h3{
     height: 50px;
     line-height: 50px;
     font-size: 16px;
     color: #191919;
     text-align: left;
     padding-left: 15px;
     padding-right: 15px;
    border-bottom: 1px solid #ededed;
   }
  .penal-box .detail,.penal-box .detail i{
    font-size: 12px;
    color: #999;
  }

  .penal-box .item .status{
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    font-size: 15px;
    color: #666666;
  }
  .circle{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
  }
  .red-circle{
    background: #EF4A4A;
  }
  .green-circle{
    background: #3AE96A;
  }
  .attach-item{
    overflow: hidden;
    padding-top: 20px;
  }
  .attach-item .title{
    float: left;
    width:100%;
    span{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 92%;
      display: inline-block;
    }

  }
  .attach-item .title.hasDel{
    box-sizing: border-box;
    padding-left: 18px;
  }
  .attach-item .attach-del{
    cursor: pointer;
    position: absolute;
    left: 0px;
    top:50%;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("/mobilestatic/images/search_deletehistory@2x.png") no-repeat;
    background-size: 13px 13px;
    margin-top: -5px;
  }
  .attach-item .title img{
    width: 34px;
    height: 34px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  .attach-item .title label{
    font-size: 12px;
    color: #999999;
    display: inline-block;
  }
  .attach-item .btn-box{
    float: right;
  }
  .attach-item .btn-box a{
    background: #F8F8F8;
    border: 0 solid #999999;
    border-radius: 1px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0 15px;
    margin-right: 15px;
    display: inline-block;
    font-size: 10px;
    color: #333333;
  }
.link-box p{
  background: #fff;
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  position: relative;
  font-size: 15px;
  overflow: hidden;

}
  .link-box p.contact-text{
  margin-top: 0;
  overflow: auto;
  height: auto;
  line-height: 26px;
  color: #666;
  padding-bottom: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
  .link-box p.can-click-style span{
    //margin-right: 15px;
  }
  .base p .phone{
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url("/mobilestatic/images/phone.png") no-repeat;
    background-size: 18px 18px;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -9px;
  }
  .penal-box.blue h3{
    background: url("/mobilestatic/images/blue.png") 1px center no-repeat;
    background-size: 6px 20px;
  }
  .penal-box.yellow h3{
    background: url("/mobilestatic/images/yellow.png") 1px center no-repeat;
    background-size: 6px 20px;
  }
  .penal-box.gerren h3{
    background: url("/mobilestatic/images/gerren.png") 1px center no-repeat;
    background-size: 6px 20px;
  }
  .penal-box.purpple h3{
    background: url("/mobilestatic/images/purpple.png") 1px center no-repeat;
    background-size: 6px 20px;
  }
  .penal-box.red h3{
    background: url("/mobilestatic/images/red.png") 1px center no-repeat;
    background-size: 6px 20px;
  }

  .penal-box h3 i{
    background: url("/mobilestatic/images/add.png") no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 14px;
  }
  .attach-item {
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #ededed;
    position: relative;
  }
  .attach-item:after{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
  }
  /*富文本处理*/
  .base.penal-box .remark-style{
    padding-right: 10px;
    padding-bottom: 10px;
    ul li,ol li {
      list-style: inherit;
    }
    img{
      max-width: 100%!important;
    }
    em{
      font-style: italic;
    }
    .list-paddingleft-1{padding-left:0}
    .list-paddingleft-2{padding-left:20px}
    .list-paddingleft-3{padding-left:40px}
    ol{
      margin:0;padding:0;
      list-style: auto;
      li{
        clear:both;
        list-style: auto;
      }
    }
    ul{
      margin:0;padding:0;
      list-style: auto;
      li{
        clear:both;
        list-style: auto;
      }
    }

    p{
      height: auto;
      line-height: 1.5;
      border:none;
      padding: 0;
      span{
        width: auto;
        margin: 0;
        line-height: inherit;
        float: none;
      }
    }
  }
}
.target-box{
  height: 40px;

  padding:0 15px;

  .red{
    line-height: 40px;
    font-size: 12px;
    color: #F24848;
    text-align: center;
    display: block;
  }
  .next{
    line-height: 46px;
    font-size: 14px;
    color: #999999;
    text-align: left;
    display: block;
  }



}