.mb10{
    margin-bottom: 10px;
}
// 底部添加按钮
.common-btn{
    
    box-shadow: inset 0 0 0 0 #CCCCCC;
    border-top: 1px solid #ededed;
    overflow: hidden;
    position: fixed;
    width: 100%;
    left:0;
    right:0;
    bottom: 0;
    button{
        cursor: pointer;
        font-size: 16px;
        color: #009EFF;
        background: #FFFFFF;
        display: block;
        width:100%;
        float: left;
        height: 50px;
        line-height: 50px;
        text-align: center;
        outline: none;
        border: none;
        position: static
        
    }
    ._business_w5{
        width:50%;
    }
}
// 商机
.overStageBd{
    width:100%;
    overflow-y: scroll;

    .stageItemBox{
        border-bottom: 1px solid #dedede;
        list-style: none;
        width: 170%;
        height:50px;
        line-height:50px;
        li{
            float:left;
            font-size:1rem;
            padding:0 15px;
            span{
                display: inline-block;
                color: #A3A5A8;
            }
            span.active{
                border-bottom: 1px solid #009EFF;
                color: #009EFF;
                }
            }
        }
}
// 商机列表
.businessBox {
    ul,ul li{
    list-style: none
    }
    li{ border-bottom:1px solid #dedede; padding:10px;
        background:#fff; margin-bottom:10px;
        .ft{ font-size:.8rem;color: #AC76EA;
            span{
                background: #F1E8FC;border-radius: 1px;
                display:inline-block;padding:3px 5px;
            }
            }
    }
    .title{font-size:1rem;font-weight: normal;overflow: hidden;
        .name{
            width:55%;
            float:left;
            text-overflow:ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }
    }
    .dec { color:#ccc; font-size:0.8rem; line-height: 1.8rem;}
    .title .time{ float:right}
    .dec span{ float:right}
    .look-all{
        height: 40px;
        line-height: 40px;
        background: #fff;
        text-align: center;
        cursor: pointer;
        /*border-top: 1px solid #EDEDED;*/
        position: relative;
    }
    .look-all span:after{
        content: " ";
        display: inline-block;
        height: 6px;
        width: 6px;
        border-width: 0px 1px 1px 0px;
        border-color: #C8C8CD;
        border-style: solid;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        position: absolute;
        top: 50%;
        right: 36%;
        margin-top:-4px;
    }
    .look-all span{
        font-size: 12px;
        color: #999999;
        text-decoration: none;
    }

    .look-all.noMore a{
        font-size: 12px;
        color: #999;
    }

}
.bd_pad60{
    padding-bottom:60px;
}
._customerBox{
    .c_btn_back{
        overflow: hidden;
        padding:10px 20px;
        button{
            background:#fff; padding:10px 20px; 
            float: right;
            border:1px solid #ccc;
            border-radius: 4px;
            
        }
        
    }
}
.m_bsearchBd{
    background:#fff;
    // position: fixed;
    // left:0;
    // bottom:0;
    // width:100%;
    // height:100%;
    // top:0;
    // z-index: 1;
    // overflow: hidden;
    // overflow-y: scroll;
}
.m_cProductPage,.proPage_prop{
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    bottom:0;
    z-index: 20;
    overflow: hidden;
    overflow-y: scroll;
    background: #fff;
}
.proPage_prop{
    z-index: 21;
}
.list_pt_item li{
    position: relative;
}
.list_pt_item li:after{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #EDEDED;;
    content: "";
    display: inline-block;
    bottom: 0;

}
.m_crm_b_searchPage{
    display: flex;
    ._crm_searCommon{
        flex: 1;
        
    }
    ._crm_searcommon_sure{
        width:60px;
        line-height: 27px;
        text-align: center;
        color:#009EFF
    }
}
