<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.finance.entity.AccountCaption">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.finance.entity.AccountCaption">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.finance.entity.AccountCaption">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.finance.entity.AccountCaption">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="getAccountCaptionListById" resultType="java.lang.String">
		select t.id from pt_fi_account_caption t  where t.delflag=0   and  t.prefix_id like CONCAT(CONCAT('%',#{id}),'%')
	</select>
	<select id="getAccountCaptionList" resultType="com.xinleju.platform.finance.entity.AccountCaption">
		 select 	 t.concurrency_version as concurrencyVersion,
					t.create_company_id as createCompanyId,
					t.create_company_name as createCompanyName,
					t.create_date  as createDate,
					t.create_org_id as createOrgId,
					t.create_org_name as createOrgName,
					t.create_person_id as createPersonId,
					t.create_person_name as createPersonName,
					t.delflag,
					t.id,
					t.prefix_id as prefixId,
				    t.tend_id as tendId,
					t.update_date as updateDate,
					t.update_person_id as updatePersonId,
					t.update_person_name as updatePersonName,
					t.account_set_id as accountSetId,
					t.ass_ids as assIds,
					t.ass_names as assNames,
					t.biz_item_ids as bizItemIds,
					t.biz_item_names as bizItemNames,
					t.code,
					t.name,
					t.sort,
					t.parent_id as parentId
					FROM
					pt_fi_account_caption t  where t.delflag=0 
					 <if test="accountSetId!=null and ccountSetId!=''">
					  and  t.account_set_id =#{accountSetId}
					 </if>
					<if test="prefixId!=null and prefixId!=''">
					 and  t.prefix_id  like CONCAT(CONCAT('%',#{prefixId}),'%')
					</if>
					 order by t.sort;
	</select>
	<select id="getAccountCaptionListByParentId" resultType="com.xinleju.platform.finance.entity.AccountCaption">
		 select 	 t.concurrency_version as concurrencyVersion,
					t.create_company_id as createCompanyId,
					t.create_company_name as createCompanyName,
					t.create_date  as createDate,
					t.create_org_id as createOrgId,
					t.create_org_name as createOrgName,
					t.create_person_id as createPersonId,
					t.create_person_name as createPersonName,
					t.delflag,
					t.id,
					t.prefix_id as prefixId,
				    t.tend_id as tendId,
					t.update_date as updateDate,
					t.update_person_id as updatePersonId,
					t.update_person_name as updatePersonName,
					t.account_set_id as accountSetId,
					t.ass_ids as assIds,
					t.ass_names as assNames,
					t.biz_item_ids as bizItemIds,
					t.biz_item_names as bizItemNames,
					t.code,
					t.name,
					t.sort,
					t.parent_id as parentId
					FROM
					pt_fi_account_caption t  where t.delflag=0 
					 and  t.parent_id=#{parentId}   and  t.account_set_id =#{accountSetId}
					 order by t.sort;
	</select>
	<select id="getAccountCaptionParentIdsList" resultType="java.lang.String">
	SELECT DISTINCT
	(
		CASE
		WHEN t.parent_id IS NULL THEN
			concat('null_', t.id)
		ELSE
			t.parent_id
		END
	) AS parentId
FROM (SELECT g.id ,g.parent_id from pt_fi_account_caption g where g.delflag=0

<if test="accountSetId!=null and ccountSetId!=''">
					  and  g.account_set_id =#{accountSetId}
					 </if>) as t
	
	</select>
	
	<select id="queryByBudCodeList" resultType="com.xinleju.platform.finance.entity.AccountCaption">
		 select 	 t.concurrency_version as concurrencyVersion,
					t.create_company_id as createCompanyId,
					t.create_company_name as createCompanyName,
					t.create_date  as createDate,
					t.create_org_id as createOrgId,
					t.create_org_name as createOrgName,
					t.create_person_id as createPersonId,
					t.create_person_name as createPersonName,
					t.delflag,
					t.id,
					t.prefix_id as prefixId,
				    t.tend_id as tendId,
					t.update_date as updateDate,
					t.update_person_id as updatePersonId,
					t.update_person_name as updatePersonName,
					t.account_set_id as accountSetId,
					t.ass_ids as assIds,
					t.ass_names as assNames,
					t.biz_item_ids as bizItemIds,
					t.biz_item_names as bizItemNames,
					t.code,
					t.name,
					t.sort,
					t.parent_id as parentId
					FROM
					pt_fi_account_caption t  where t.delflag=0 
					 <if test="accountSetId!=null and ccountSetId!=''">
					  and  t.account_set_id =#{accountSetId}
					 </if>
					<if test="bizItemIds!=null and bizItemIds!=''">
					 and FIND_IN_SET(#{bizItemIds},t.biz_item_ids)
					</if>
					 order by t.sort;
	</select>
</mapper>