<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinleju.platform.finance.entity.AccountSetCompany">
	<!-- 新增 -->
	<insert id="save">
		${value}
	</insert>
	<!-- 修改根据Id -->
	<update id="update">
		${value}
	</update>
	<!-- 伪删除根据Id -->
	<update id="deletePseudoObjectById">
		${value}
	</update>
	<!-- 批量伪删除根据Id -->
	<update id="deletePseudoAllObjectByIds">
		${value}
	</update>
	<!-- 删除根据Id -->
	<delete id="deleteById">
		${value}
	</delete>
	<!-- 批量删除根据Id -->
	<delete id="deleteBatchByIds">
		${value}
	</delete>
	<!-- 获取单个对象，根据Id-->
	<select id="get" resultType="com.xinleju.platform.finance.entity.AccountSetCompany">
		${value}
	</select>
	<!-- 获取列表根据Map查询 -->
	<select id="queryList" resultType="com.xinleju.platform.finance.entity.AccountSetCompany">
		${value}
	</select>
	<!-- 获取分页根据Map查询 -->
	<select id="queryPageList" resultType="com.xinleju.platform.finance.entity.AccountSetCompany">
		${value}
	</select>
	<!-- 获取总记录数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		${value}
	</select>
	<select id="getAccountSetCompanyTotal" resultType="java.lang.Integer">
		 select count(t.id) from pt_fi_account_set_company t  where t.delflag=0 
    and t.account_set_id=#{accountSetId}
	</select>
	<select id="getAccountSetCompanypage" resultType="com.xinleju.platform.finance.entity.AccountSetCompany">
	 	 select 
	 t.concurrency_version as concurrencyVersion,
	t.create_company_id as createCompanyId,
	t.create_company_name as createCompanyName,
	t.create_date  as createDate,
	t.create_org_id as createOrgId,
	t.create_org_name as createOrgName,
	t.create_person_id as createPersonId,
	t.create_person_name as createPersonName,
	t.delflag,
	t.id,
    t.tend_id as tendId,
	t.update_date as updateDate,
	t.update_person_id as updatePersonId,
	t.update_person_name as updatePersonName,
	t.account_set_id as accountSetId,
    t.companyId,
 	t.company_name as companyName,
  	t.payment_organ_id as paymentOrganId,
  	t.payment_organ_name as paymentOrganName,
	t.project_branch_id as projectBranchId,
	t.project_branch_name  as projectBranchName
 from pt_fi_account_set_company t  where t.delflag=0 
    and t.account_set_id=#{accountSetId}
    <if test="start!=null and start!='' and limit!=null and limit!=''">
        limit #{start},#{limit}
    </if>
	</select>
</mapper>