<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.app.mapper.AppMapper">
	 
	 <!--  a.id > 1 不显示系统管理给后台 (首页id==1)-->
	 <select id="queryList" resultType="com.jzy.hio.sys.app.dto.AppItemDto">
	 	SELECT a.id, a.NAME, ac.`name` category, a.STATUS, a.remark, a.icon 
	 	FROM oa_sys_app a
		LEFT JOIN oa_sys_app_category ac ON a.`category_id` = ac.`id`
	 	WHERE a.delflag = 0 and a.id > 1 and a.is_permission = 1
	 	ORDER BY a.category_id asc, a.sort desc
	 </select>
	 
	 <select id="queryListByRoleIM" resultType="com.jzy.hio.sys.app.dto.AppImDto">
	 	select distinct a.`id` as appId, a.`name`, a.`code`, a.`sort` as `sort`, 
			a.`url_mobile` mobileUrl, 
			a.`url_pc` pcUrl,
			a.`open_mode` AS TYPE, a.`status` AS state,
			ac.`name` category, ac.`name` moduleName, ac.id moduleId,  a.`prefix_sort` as `moduleSort`
		<if test="userId != null">
			from oa_sys_role_permission rp 
			left join oa_sys_app a on rp.`app_id` = a.`id`
		 	LEFT JOIN oa_sys_app_category ac ON a.`category_id` = ac.`id`
			where a.delflag = 0 and a.id > 1 and a.is_permission = 1
			and a.status = 1
			<choose>
				<when test="userId == '-1'">
					and rp.role_id in ('2001')
				</when>
				<otherwise>
					and rp.role_id in (select DISTINCT role_id from oa_sys_role_user ru where ru.user_id = #{userId})
				</otherwise>
			</choose>			
		</if>
		<!-- 管理员 -->
		<if test="userId == null">
			from oa_sys_app a
		 	LEFT JOIN oa_sys_app_category ac ON a.`category_id` = ac.`id`
			where a.delflag = 0 and a.id > 1 and a.is_permission = 1
			and a.status = 1
		</if>
		order by a.prefix_sort
	 </select>
	 
	 <select id="queryListByRoleH5" resultType="com.jzy.hio.sys.app.dto.AppItemDto">
	 	SELECT distinct a.id, a.NAME, ac.`name` category, a.STATUS, a.remark, a.icon, a.url 
		<if test="userId != null">
			from oa_sys_role_permission rp 
			left join oa_sys_app a on rp.`app_id` = a.`id`
		 	LEFT JOIN oa_sys_app_category ac ON a.`category_id` = ac.`id`
		 	left join oa_sys_menu m on rp.menu_id = m.id
			where a.delflag = 0 and a.id > 1 and a.is_permission = 1
			and a.status = 1 and a.url is not null
			and rp.role_id in (select DISTINCT role_id from oa_sys_role_user ru where ru.user_id = #{userId})
		</if>
		<!-- 管理员 -->
		<if test="userId == null">
			from oa_sys_app a
		 	LEFT JOIN oa_sys_app_category ac ON a.`category_id` = ac.`id`
		 	left join oa_sys_menu m on a.id = m.app_id
			where a.delflag = 0 and a.id > 1 and a.is_permission = 1
			and a.status = 1 and a.url is not null
		</if>
		order by m.prefix_sort
	 </select>
	 
	 <!-- h5端、查询用户设置的首页菜单 -->
	 <select id="queryListByUserId" resultType="com.jzy.hio.sys.app.dto.AppItemDto">
	 	SELECT distinct a.id, a.NAME, ac.`name` category, a.STATUS, a.remark, 
	 			a.icon, au.`user_id` AS userId , a.url 
		FROM oa_sys_app_user au 
		left join oa_sys_app a on au.app_id = a.id
		LEFT JOIN oa_sys_app_category ac ON a.`category_id` = ac.`id`
		<choose>
			<when test="isSuper == true">
				left join oa_sys_menu m on a.id = m.app_id
				where 1=1
			</when>
			<otherwise>
				left join oa_sys_role_permission rp  on a.id = rp.app_id
				left join oa_sys_menu m on rp.menu_id = m.id
				where rp.role_id in (select DISTINCT role_id from oa_sys_role_user ru where ru.user_id = #{userId})
				and rp.app_id is not null
			</otherwise>
		</choose>
		and a.is_permission = 1 
		and au.user_id = #{userId}
		and a.status = 1
		order by m.prefix_sort
	 </select>
</mapper>