<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.hio.sys.app.mapper.AppUserMapper">
	
	<delete id="deleteAllByUserId">
		delete from oa_sys_app_user where user_id = #{userId}
	</delete> 
	
	<delete id="deleteWithoutRole">
		delete au from oa_sys_app_user au
   		WHERE au.app_id != '1' and au.user_id = #{userId} 
   		and au.app_id 
   			not in
   			(	SELECT rp.app_id from oa_sys_role_permission rp 
				LEFT JOIN oa_sys_role_user ru on rp.role_id = ru.role_id
				where ru.user_id = #{userId} 
			)
	</delete>
	
	<select id="queryContainsIndex" resultType="int">
	 	select count(*) from oa_sys_app_user au where au.user_id = #{userId}
	</select>
	
	<select id="queryByUserId" resultType="com.jzy.hio.entity.OaSysAppUser">
		select id, user_id as userId,
			   app_id as appId
		 from oa_sys_app_user au where au.user_id = #{userId}
	</select>
</mapper>